<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>82181.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,862},{80,234}}</string>
                <key>offset</key>
                <string>{-2,219}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{342,48},{80,234}}</string>
                <key>sourceSize</key>
                <string>{768,768}</string>
            </dict>
            <key>82182.png</key>
            <dict>
                <key>frame</key>
                <string>{{262,262},{216,412}}</string>
                <key>offset</key>
                <string>{12,130}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{288,48},{216,412}}</string>
                <key>sourceSize</key>
                <string>{768,768}</string>
            </dict>
            <key>82183.png</key>
            <dict>
                <key>frame</key>
                <string>{{692,0},{252,422}}</string>
                <key>offset</key>
                <string>{10,124}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{268,49},{252,422}}</string>
                <key>sourceSize</key>
                <string>{768,768}</string>
            </dict>
            <key>82184.png</key>
            <dict>
                <key>frame</key>
                <string>{{262,0},{262,430}}</string>
                <key>offset</key>
                <string>{5,121}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{258,48},{262,430}}</string>
                <key>sourceSize</key>
                <string>{768,768}</string>
            </dict>
            <key>82185.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{262,432}}</string>
                <key>offset</key>
                <string>{5,119}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{258,49},{262,432}}</string>
                <key>sourceSize</key>
                <string>{768,768}</string>
            </dict>
            <key>82186.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,432},{262,430}}</string>
                <key>offset</key>
                <string>{5,120}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{258,49},{262,430}}</string>
                <key>sourceSize</key>
                <string>{768,768}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>8218.pvr.ccz</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:117ba450b9e94fc53372599f2ed09ee0:1/1$</string>
            <key>textureFileName</key>
            <string>8218.pvr.ccz</string>
        </dict>
    </dict>
</plist>
