<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>completetask1.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,130},{220,58}}</string>
                <key>offset</key>
                <string>{-3,15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{143,212},{220,58}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>completetask2.png</key>
            <dict>
                <key>frame</key>
                <string>{{222,126},{220,58}}</string>
                <key>offset</key>
                <string>{-2,15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{144,212},{220,58}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>completetask3.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,72},{222,58}}</string>
                <key>offset</key>
                <string>{-2,15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{143,212},{222,58}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>completetask4.png</key>
            <dict>
                <key>frame</key>
                <string>{{266,68},{222,58}}</string>
                <key>offset</key>
                <string>{-2,15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{143,212},{222,58}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>completetask5.png</key>
            <dict>
                <key>frame</key>
                <string>{{266,0},{222,68}}</string>
                <key>offset</key>
                <string>{-3,14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{142,208},{222,68}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>completetask6.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{266,72}}</string>
                <key>offset</key>
                <string>{-7,15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{116,205},{266,72}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>completetask7.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,188},{200,76}}</string>
                <key>offset</key>
                <string>{-5,20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{151,198},{200,76}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>completetask8.png</key>
            <dict>
                <key>frame</key>
                <string>{{220,184},{204,64}}</string>
                <key>offset</key>
                <string>{-3,14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{151,210},{204,64}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>completetask9.png</key>
            <dict>
                <key>frame</key>
                <string>{{442,126},{216,64}}</string>
                <key>offset</key>
                <string>{-3,14}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{145,210},{216,64}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>completetask.pvr.ccz</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:3a7bbe9b5ba4f3da5c8566f9b0cbdd2a:1/1$</string>
            <key>textureFileName</key>
            <string>completetask.pvr.ccz</string>
        </dict>
    </dict>
</plist>
