<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>83101.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,55}</string>
                <key>spriteSize</key>
                <string>{166,106}</string>
                <key>spriteSourceSize</key>
                <string>{640,640}</string>
                <key>textureRect</key>
                <string>{{173,395},{166,106}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>83102.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,52}</string>
                <key>spriteSize</key>
                <string>{170,112}</string>
                <key>spriteSourceSize</key>
                <string>{640,640}</string>
                <key>textureRect</key>
                <string>{{1,379},{170,112}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>83103.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{4,72}</string>
                <key>spriteSize</key>
                <string>{160,146}</string>
                <key>spriteSourceSize</key>
                <string>{640,640}</string>
                <key>textureRect</key>
                <string>{{335,163},{160,146}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>83104.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,70}</string>
                <key>spriteSize</key>
                <string>{180,200}</string>
                <key>spriteSourceSize</key>
                <string>{640,640}</string>
                <key>textureRect</key>
                <string>{{1,177},{180,200}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>83105.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{4,7}</string>
                <key>spriteSize</key>
                <string>{192,150}</string>
                <key>spriteSourceSize</key>
                <string>{640,640}</string>
                <key>textureRect</key>
                <string>{{341,311},{192,150}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>83106.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,7}</string>
                <key>spriteSize</key>
                <string>{216,150}</string>
                <key>spriteSourceSize</key>
                <string>{640,640}</string>
                <key>textureRect</key>
                <string>{{183,177},{216,150}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>83107.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,19}</string>
                <key>spriteSize</key>
                <string>{212,174}</string>
                <key>spriteSourceSize</key>
                <string>{640,640}</string>
                <key>textureRect</key>
                <string>{{1,1},{212,174}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>83108.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,14}</string>
                <key>spriteSize</key>
                <string>{210,160}</string>
                <key>spriteSourceSize</key>
                <string>{640,640}</string>
                <key>textureRect</key>
                <string>{{215,1},{210,160}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>realTextureFileName</key>
            <string>8310.pvr.ccz</string>
            <key>size</key>
            <string>{496,505}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:c16bf2b823a2243eb2ee0dc7ed3b0000:3f013703d46a3cf6c75b9c02d577473b:0604ce62b28317d314ffcdb5fb2f7487$</string>
            <key>textureFileName</key>
            <string>8310.pvr.ccz</string>
        </dict>
    </dict>
</plist>
