<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>functionEffect1.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,360},{90,90}}</string>
                <key>offset</key>
                <string>{-2,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{209,207},{90,90}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>functionEffect2.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,270},{90,90}}</string>
                <key>offset</key>
                <string>{-2,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{209,207},{90,90}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>functionEffect3.png</key>
            <dict>
                <key>frame</key>
                <string>{{90,180},{90,90}}</string>
                <key>offset</key>
                <string>{-2,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{209,207},{90,90}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>functionEffect4.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,180},{90,90}}</string>
                <key>offset</key>
                <string>{-2,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{209,207},{90,90}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>functionEffect5.png</key>
            <dict>
                <key>frame</key>
                <string>{{90,90},{90,90}}</string>
                <key>offset</key>
                <string>{-2,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{209,207},{90,90}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>functionEffect6.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,90},{90,90}}</string>
                <key>offset</key>
                <string>{-2,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{209,207},{90,90}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>functionEffect7.png</key>
            <dict>
                <key>frame</key>
                <string>{{90,0},{90,90}}</string>
                <key>offset</key>
                <string>{-2,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{209,207},{90,90}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>functionEffect8.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{90,90}}</string>
                <key>offset</key>
                <string>{-2,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{209,207},{90,90}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>functionEffect.pvr.ccz</string>
            <key>size</key>
            <string>{256,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:663c0936dcd1998803d5901f1bd91faf:1/1$</string>
            <key>textureFileName</key>
            <string>functionEffect.pvr.ccz</string>
        </dict>
    </dict>
</plist>
