<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>7549111.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,132},{64,110}}</string>
                <key>offset</key>
                <string>{-4,37}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{220,164},{64,110}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>7549112.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,66},{66,110}}</string>
                <key>offset</key>
                <string>{-4,37}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{219,164},{66,110}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>7549113.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{66,110}}</string>
                <key>offset</key>
                <string>{-4,37}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{219,164},{66,110}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>7549.pvr.ccz</string>
            <key>size</key>
            <string>{128,256}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:56ac0325dc771b6f592f64e8730c85f3:1/1$</string>
            <key>textureFileName</key>
            <string>7549.pvr.ccz</string>
        </dict>
    </dict>
</plist>
