<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>810511.png</key>
            <dict>
                <key>frame</key>
                <string>{{1416,898},{160,114}}</string>
                <key>offset</key>
                <string>{-3,131}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{301,196},{160,114}}</string>
                <key>sourceSize</key>
                <string>{768,768}</string>
            </dict>
            <key>810512.png</key>
            <dict>
                <key>frame</key>
                <string>{{1948,852},{126,82}}</string>
                <key>offset</key>
                <string>{21,98}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{342,245},{126,82}}</string>
                <key>sourceSize</key>
                <string>{768,768}</string>
            </dict>
            <key>810513.png</key>
            <dict>
                <key>frame</key>
                <string>{{478,1030},{190,278}}</string>
                <key>offset</key>
                <string>{-57,15}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{232,230},{190,278}}</string>
                <key>sourceSize</key>
                <string>{768,768}</string>
            </dict>
            <key>810514.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{538,434}}</string>
                <key>offset</key>
                <string>{16,11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{131,156},{538,434}}</string>
                <key>sourceSize</key>
                <string>{768,768}</string>
            </dict>
            <key>810515.png</key>
            <dict>
                <key>frame</key>
                <string>{{1046,392},{478,314}}</string>
                <key>offset</key>
                <string>{-20,-96}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{125,323},{478,314}}</string>
                <key>sourceSize</key>
                <string>{768,768}</string>
            </dict>
            <key>810516.png</key>
            <dict>
                <key>frame</key>
                <string>{{1578,712},{370,332}}</string>
                <key>offset</key>
                <string>{-1,-40}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{198,258},{370,332}}</string>
                <key>sourceSize</key>
                <string>{768,768}</string>
            </dict>
            <key>810521.png</key>
            <dict>
                <key>frame</key>
                <string>{{1948,712},{140,88}}</string>
                <key>offset</key>
                <string>{79,99}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{393,241},{140,88}}</string>
                <key>sourceSize</key>
                <string>{768,768}</string>
            </dict>
            <key>810522.png</key>
            <dict>
                <key>frame</key>
                <string>{{478,726},{106,60}}</string>
                <key>offset</key>
                <string>{104,74}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{435,280},{106,60}}</string>
                <key>sourceSize</key>
                <string>{768,768}</string>
            </dict>
            <key>810523.png</key>
            <dict>
                <key>frame</key>
                <string>{{1310,1124},{190,226}}</string>
                <key>offset</key>
                <string>{48,37}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{337,234},{190,226}}</string>
                <key>sourceSize</key>
                <string>{768,768}</string>
            </dict>
            <key>810524.png</key>
            <dict>
                <key>frame</key>
                <string>{{538,354},{508,382}}</string>
                <key>offset</key>
                <string>{124,29}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{254,164},{508,382}}</string>
                <key>sourceSize</key>
                <string>{768,768}</string>
            </dict>
            <key>810525.png</key>
            <dict>
                <key>frame</key>
                <string>{{1586,0},{452,278}}</string>
                <key>offset</key>
                <string>{90,-65}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{248,310},{452,278}}</string>
                <key>sourceSize</key>
                <string>{768,768}</string>
            </dict>
            <key>810526.png</key>
            <dict>
                <key>frame</key>
                <string>{{538,736},{350,294}}</string>
                <key>offset</key>
                <string>{108,-15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{317,252},{350,294}}</string>
                <key>sourceSize</key>
                <string>{768,768}</string>
            </dict>
            <key>810531.png</key>
            <dict>
                <key>frame</key>
                <string>{{882,1106},{116,222}}</string>
                <key>offset</key>
                <string>{-35,85}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{291,188},{116,222}}</string>
                <key>sourceSize</key>
                <string>{768,768}</string>
            </dict>
            <key>810532.png</key>
            <dict>
                <key>frame</key>
                <string>{{756,1030},{118,126}}</string>
                <key>offset</key>
                <string>{-46,22}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{279,299},{118,126}}</string>
                <key>sourceSize</key>
                <string>{768,768}</string>
            </dict>
            <key>810533.png</key>
            <dict>
                <key>frame</key>
                <string>{{1022,1038},{288,250}}</string>
                <key>offset</key>
                <string>{79,114}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{319,145},{288,250}}</string>
                <key>sourceSize</key>
                <string>{768,768}</string>
            </dict>
            <key>810534.png</key>
            <dict>
                <key>frame</key>
                <string>{{1586,278},{438,434}}</string>
                <key>offset</key>
                <string>{127,129}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{292,38},{438,434}}</string>
                <key>sourceSize</key>
                <string>{768,768}</string>
            </dict>
            <key>810535.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,726},{478,314}}</string>
                <key>offset</key>
                <string>{141,22}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{286,205},{478,314}}</string>
                <key>sourceSize</key>
                <string>{768,768}</string>
            </dict>
            <key>810536.png</key>
            <dict>
                <key>frame</key>
                <string>{{1046,706},{370,332}}</string>
                <key>offset</key>
                <string>{161,78}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{360,140},{370,332}}</string>
                <key>sourceSize</key>
                <string>{768,768}</string>
            </dict>
            <key>810541.png</key>
            <dict>
                <key>frame</key>
                <string>{{1948,978},{224,74}}</string>
                <key>offset</key>
                <string>{-30,86}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{242,261},{224,74}}</string>
                <key>sourceSize</key>
                <string>{768,768}</string>
            </dict>
            <key>810542.png</key>
            <dict>
                <key>frame</key>
                <string>{{888,920},{186,134}}</string>
                <key>offset</key>
                <string>{-53,59}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{238,258},{186,134}}</string>
                <key>sourceSize</key>
                <string>{768,768}</string>
            </dict>
            <key>810543.png</key>
            <dict>
                <key>frame</key>
                <string>{{888,736},{184,140}}</string>
                <key>offset</key>
                <string>{82,94}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{374,220},{184,140}}</string>
                <key>sourceSize</key>
                <string>{768,768}</string>
            </dict>
            <key>810544.png</key>
            <dict>
                <key>frame</key>
                <string>{{1076,0},{510,392}}</string>
                <key>offset</key>
                <string>{128,188}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{257,0},{510,392}}</string>
                <key>sourceSize</key>
                <string>{768,768}</string>
            </dict>
            <key>810545.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,434},{480,292}}</string>
                <key>offset</key>
                <string>{105,94}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{249,144},{480,292}}</string>
                <key>sourceSize</key>
                <string>{768,768}</string>
            </dict>
            <key>810546.png</key>
            <dict>
                <key>frame</key>
                <string>{{1570,1044},{370,308}}</string>
                <key>offset</key>
                <string>{125,146}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{324,84},{370,308}}</string>
                <key>sourceSize</key>
                <string>{768,768}</string>
            </dict>
            <key>810551.png</key>
            <dict>
                <key>frame</key>
                <string>{{1416,706},{192,162}}</string>
                <key>offset</key>
                <string>{32,152}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{320,151},{192,162}}</string>
                <key>sourceSize</key>
                <string>{768,768}</string>
            </dict>
            <key>810552.png</key>
            <dict>
                <key>frame</key>
                <string>{{1416,1012},{154,112}}</string>
                <key>offset</key>
                <string>{-23,84}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{284,244},{154,112}}</string>
                <key>sourceSize</key>
                <string>{768,768}</string>
            </dict>
            <key>810553.png</key>
            <dict>
                <key>frame</key>
                <string>{{998,1288},{188,196}}</string>
                <key>offset</key>
                <string>{73,204}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{363,82},{188,196}}</string>
                <key>sourceSize</key>
                <string>{768,768}</string>
            </dict>
            <key>810554.png</key>
            <dict>
                <key>frame</key>
                <string>{{538,0},{538,354}}</string>
                <key>offset</key>
                <string>{32,207}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{147,0},{538,354}}</string>
                <key>sourceSize</key>
                <string>{768,768}</string>
            </dict>
            <key>810555.png</key>
            <dict>
                <key>frame</key>
                <string>{{1046,392},{478,314}}</string>
                <key>offset</key>
                <string>{-4,140}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{141,87},{478,314}}</string>
                <key>sourceSize</key>
                <string>{768,768}</string>
            </dict>
            <key>810556.png</key>
            <dict>
                <key>frame</key>
                <string>{{1578,712},{370,332}}</string>
                <key>offset</key>
                <string>{15,196}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{214,22},{370,332}}</string>
                <key>sourceSize</key>
                <string>{768,768}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>8105.pvr.ccz</string>
            <key>size</key>
            <string>{2048,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:538d2567517077f54358ae652b1d95b5:1/1$</string>
            <key>textureFileName</key>
            <string>8105.pvr.ccz</string>
        </dict>
    </dict>
</plist>
