<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>storeEffect21.png</key>
            <dict>
                <key>frame</key>
                <string>{{508,2},{251,365}}</string>
                <key>offset</key>
                <string>{-11,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,11},{251,365}}</string>
                <key>sourceSize</key>
                <string>{273,379}</string>
            </dict>
            <key>storeEffect22.png</key>
            <dict>
                <key>frame</key>
                <string>{{761,2},{245,359}}</string>
                <key>offset</key>
                <string>{7,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{21,17},{245,359}}</string>
                <key>sourceSize</key>
                <string>{273,379}</string>
            </dict>
            <key>storeEffect23.png</key>
            <dict>
                <key>frame</key>
                <string>{{1247,2},{255,349}}</string>
                <key>offset</key>
                <string>{9,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,22},{255,349}}</string>
                <key>sourceSize</key>
                <string>{273,379}</string>
            </dict>
            <key>storeEffect24.png</key>
            <dict>
                <key>frame</key>
                <string>{{1504,2},{251,339}}</string>
                <key>offset</key>
                <string>{-1,-14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,34},{251,339}}</string>
                <key>sourceSize</key>
                <string>{273,379}</string>
            </dict>
            <key>storeEffect25.png</key>
            <dict>
                <key>frame</key>
                <string>{{1008,2},{237,359}}</string>
                <key>offset</key>
                <string>{1,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,20},{237,359}}</string>
                <key>sourceSize</key>
                <string>{273,379}</string>
            </dict>
            <key>storeEffect26.png</key>
            <dict>
                <key>frame</key>
                <string>{{255,2},{251,365}}</string>
                <key>offset</key>
                <string>{-11,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,11},{251,365}}</string>
                <key>sourceSize</key>
                <string>{273,379}</string>
            </dict>
            <key>storeEffect27.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{251,365}}</string>
                <key>offset</key>
                <string>{-1,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,4},{251,365}}</string>
                <key>sourceSize</key>
                <string>{273,379}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>storeEffect2.pvr.ccz</string>
            <key>size</key>
            <string>{1757,369}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:e177147abb0419be1f42d2bf5d80c05c:1/1$</string>
            <key>textureFileName</key>
            <string>storeEffect2.pvr.ccz</string>
        </dict>
    </dict>
</plist>
