<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>82081.png</key>
            <dict>
                <key>frame</key>
                <string>{{418,212},{100,66}}</string>
                <key>offset</key>
                <string>{0,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{206,220},{100,66}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>82082.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,384},{198,156}}</string>
                <key>offset</key>
                <string>{2,21}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{159,157},{198,156}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>82083.png</key>
            <dict>
                <key>frame</key>
                <string>{{218,212},{200,186}}</string>
                <key>offset</key>
                <string>{0,36}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{156,127},{200,186}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>82084.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{206,264}}</string>
                <key>offset</key>
                <string>{-1,72}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{152,52},{206,264}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>82085.png</key>
            <dict>
                <key>frame</key>
                <string>{{264,0},{212,220}}</string>
                <key>offset</key>
                <string>{-1,51}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{149,95},{212,220}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>82086.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,206},{178,218}}</string>
                <key>offset</key>
                <string>{-1,53}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{166,94},{178,218}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>8208.pvr.ccz</string>
            <key>size</key>
            <string>{512,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:2e9dd3c2c25d7370fc2be8a81f9dba98:1/1$</string>
            <key>textureFileName</key>
            <string>8208.pvr.ccz</string>
        </dict>
    </dict>
</plist>
