<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>itemColor_551.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,198},{98,98}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{207,205},{98,98}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>itemColor_552.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,198},{98,98}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{207,205},{98,98}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>itemColor_553.png</key>
            <dict>
                <key>frame</key>
                <string>{{98,194},{98,98}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{207,205},{98,98}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>itemColor_554.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{100,100}}</string>
                <key>offset</key>
                <string>{-1,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{205,204},{100,100}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>itemColor_555.png</key>
            <dict>
                <key>frame</key>
                <string>{{100,0},{98,100}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{207,204},{98,100}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>itemColor_556.png</key>
            <dict>
                <key>frame</key>
                <string>{{100,0},{98,100}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{207,204},{98,100}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>itemColor_557.png</key>
            <dict>
                <key>frame</key>
                <string>{{100,98},{96,100}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{208,204},{96,100}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>itemColor_558.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,100},{98,98}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{207,206},{98,98}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>itemColor_55.pvr.ccz</string>
            <key>size</key>
            <string>{256,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:eef9b84a5201c6609266ec2557d51775:1/1$</string>
            <key>textureFileName</key>
            <string>itemColor_55.pvr.ccz</string>
        </dict>
    </dict>
</plist>
