<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>6016111.png</key>
            <dict>
                <key>frame</key>
                <string>{{476,400},{110,106}}</string>
                <key>offset</key>
                <string>{-3,36}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{198,167},{110,106}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6016112.png</key>
            <dict>
                <key>frame</key>
                <string>{{798,588},{108,102}}</string>
                <key>offset</key>
                <string>{-2,34}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{200,171},{108,102}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6016113.png</key>
            <dict>
                <key>frame</key>
                <string>{{746,378},{110,104}}</string>
                <key>offset</key>
                <string>{-1,35}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{200,169},{110,104}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6016121.png</key>
            <dict>
                <key>frame</key>
                <string>{{274,198},{124,120}}</string>
                <key>offset</key>
                <string>{4,24}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{198,172},{124,120}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6016122.png</key>
            <dict>
                <key>frame</key>
                <string>{{904,100},{120,114}}</string>
                <key>offset</key>
                <string>{3,21}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{199,178},{120,114}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6016123.png</key>
            <dict>
                <key>frame</key>
                <string>{{782,88},{122,114}}</string>
                <key>offset</key>
                <string>{4,21}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{199,178},{122,114}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6016131.png</key>
            <dict>
                <key>frame</key>
                <string>{{690,570},{108,102}}</string>
                <key>offset</key>
                <string>{-6,16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{196,189},{108,102}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6016132.png</key>
            <dict>
                <key>frame</key>
                <string>{{470,506},{110,96}}</string>
                <key>offset</key>
                <string>{-5,13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{196,195},{110,96}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6016133.png</key>
            <dict>
                <key>frame</key>
                <string>{{362,392},{114,92}}</string>
                <key>offset</key>
                <string>{-6,11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{193,199},{114,92}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6016141.png</key>
            <dict>
                <key>frame</key>
                <string>{{276,0},{128,106}}</string>
                <key>offset</key>
                <string>{4,17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{196,186},{128,106}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6016142.png</key>
            <dict>
                <key>frame</key>
                <string>{{404,98},{126,102}}</string>
                <key>offset</key>
                <string>{3,15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{196,190},{126,102}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6016143.png</key>
            <dict>
                <key>frame</key>
                <string>{{530,102},{120,100}}</string>
                <key>offset</key>
                <string>{1,14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{197,192},{120,100}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6016151.png</key>
            <dict>
                <key>frame</key>
                <string>{{580,552},{110,88}}</string>
                <key>offset</key>
                <string>{2,15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{203,197},{110,88}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6016152.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,628},{108,90}}</string>
                <key>offset</key>
                <string>{1,16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{203,195},{108,90}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6016153.png</key>
            <dict>
                <key>frame</key>
                <string>{{696,482},{110,88}}</string>
                <key>offset</key>
                <string>{0,15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{201,197},{110,88}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6016211.png</key>
            <dict>
                <key>frame</key>
                <string>{{112,506},{108,98}}</string>
                <key>offset</key>
                <string>{3,31}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{205,176},{108,98}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6016212.png</key>
            <dict>
                <key>frame</key>
                <string>{{108,604},{108,90}}</string>
                <key>offset</key>
                <string>{0,36}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{202,175},{108,90}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6016213.png</key>
            <dict>
                <key>frame</key>
                <string>{{322,762},{106,88}}</string>
                <key>offset</key>
                <string>{-1,36}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{202,176},{106,88}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6016214.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,718},{106,96}}</string>
                <key>offset</key>
                <string>{1,32}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{204,176},{106,96}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6016215.png</key>
            <dict>
                <key>frame</key>
                <string>{{328,680},{108,82}}</string>
                <key>offset</key>
                <string>{4,39}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{206,176},{108,82}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6016221.png</key>
            <dict>
                <key>frame</key>
                <string>{{124,316},{124,104}}</string>
                <key>offset</key>
                <string>{2,22}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{196,182},{124,104}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6016222.png</key>
            <dict>
                <key>frame</key>
                <string>{{404,0},{128,98}}</string>
                <key>offset</key>
                <string>{0,26}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{192,181},{128,98}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6016223.png</key>
            <dict>
                <key>frame</key>
                <string>{{770,202},{118,88}}</string>
                <key>offset</key>
                <string>{6,29}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{203,183},{118,88}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6016224.png</key>
            <dict>
                <key>frame</key>
                <string>{{220,598},{108,90}}</string>
                <key>offset</key>
                <string>{12,26}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{214,185},{108,90}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6016225.png</key>
            <dict>
                <key>frame</key>
                <string>{{806,504},{110,84}}</string>
                <key>offset</key>
                <string>{10,28}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{211,186},{110,84}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6016231.png</key>
            <dict>
                <key>frame</key>
                <string>{{248,878},{100,84}}</string>
                <key>offset</key>
                <string>{-2,18}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{204,196},{100,84}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6016232.png</key>
            <dict>
                <key>frame</key>
                <string>{{76,902},{100,88}}</string>
                <key>offset</key>
                <string>{-7,20}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{199,192},{100,88}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6016233.png</key>
            <dict>
                <key>frame</key>
                <string>{{542,734},{96,86}}</string>
                <key>offset</key>
                <string>{-3,19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{205,194},{96,86}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6016234.png</key>
            <dict>
                <key>frame</key>
                <string>{{164,888},{100,84}}</string>
                <key>offset</key>
                <string>{-5,21}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{201,193},{100,84}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6016235.png</key>
            <dict>
                <key>frame</key>
                <string>{{650,672},{98,86}}</string>
                <key>offset</key>
                <string>{-6,22}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{201,191},{98,86}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6016241.png</key>
            <dict>
                <key>frame</key>
                <string>{{868,312},{110,104}}</string>
                <key>offset</key>
                <string>{12,16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{213,188},{110,104}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6016242.png</key>
            <dict>
                <key>frame</key>
                <string>{{216,688},{106,106}}</string>
                <key>offset</key>
                <string>{11,14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{214,189},{106,106}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6016243.png</key>
            <dict>
                <key>frame</key>
                <string>{{632,350},{114,102}}</string>
                <key>offset</key>
                <string>{4,21}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{203,184},{114,102}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6016244.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,354},{124,92}}</string>
                <key>offset</key>
                <string>{-2,27}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{192,183},{124,92}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6016245.png</key>
            <dict>
                <key>frame</key>
                <string>{{148,106},{126,100}}</string>
                <key>offset</key>
                <string>{-1,22}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{192,184},{126,100}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6016251.png</key>
            <dict>
                <key>frame</key>
                <string>{{328,590},{108,90}}</string>
                <key>offset</key>
                <string>{-3,15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{199,196},{108,90}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6016252.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,532},{108,96}}</string>
                <key>offset</key>
                <string>{0,13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{202,195},{108,96}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6016253.png</key>
            <dict>
                <key>frame</key>
                <string>{{214,794},{106,84}}</string>
                <key>offset</key>
                <string>{0,18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{203,196},{106,84}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6016254.png</key>
            <dict>
                <key>frame</key>
                <string>{{544,640},{106,94}}</string>
                <key>offset</key>
                <string>{-1,13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{202,196},{106,94}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6016255.png</key>
            <dict>
                <key>frame</key>
                <string>{{220,506},{108,92}}</string>
                <key>offset</key>
                <string>{-4,15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{198,195},{108,92}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6016311.png</key>
            <dict>
                <key>frame</key>
                <string>{{586,452},{110,100}}</string>
                <key>offset</key>
                <string>{-3,33}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{198,173},{110,100}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6016312.png</key>
            <dict>
                <key>frame</key>
                <string>{{916,504},{108,106}}</string>
                <key>offset</key>
                <string>{-2,36}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{200,167},{108,106}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6016313.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,244},{124,110}}</string>
                <key>offset</key>
                <string>{-14,34}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{180,167},{124,110}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6016314.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,446},{112,86}}</string>
                <key>offset</key>
                <string>{-1,26}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{199,187},{112,86}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6016315.png</key>
            <dict>
                <key>frame</key>
                <string>{{274,106},{126,92}}</string>
                <key>offset</key>
                <string>{6,29}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{199,181},{126,92}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6016321.png</key>
            <dict>
                <key>frame</key>
                <string>{{124,206},{124,110}}</string>
                <key>offset</key>
                <string>{4,19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{198,182},{124,110}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6016322.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,126},{118,124}}</string>
                <key>offset</key>
                <string>{-3,26}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{194,168},{118,124}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6016323.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{148,126}}</string>
                <key>offset</key>
                <string>{-5,27}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{177,166},{148,126}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6016324.png</key>
            <dict>
                <key>frame</key>
                <string>{{248,318},{114,96}}</string>
                <key>offset</key>
                <string>{-1,12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{198,196},{114,96}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6016325.png</key>
            <dict>
                <key>frame</key>
                <string>{{398,200},{120,98}}</string>
                <key>offset</key>
                <string>{3,13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{199,194},{120,98}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6016331.png</key>
            <dict>
                <key>frame</key>
                <string>{{436,690},{106,92}}</string>
                <key>offset</key>
                <string>{-5,11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{198,199},{106,92}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6016332.png</key>
            <dict>
                <key>frame</key>
                <string>{{108,694},{102,106}}</string>
                <key>offset</key>
                <string>{-9,18}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{196,185},{102,106}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6016333.png</key>
            <dict>
                <key>frame</key>
                <string>{{636,238},{116,112}}</string>
                <key>offset</key>
                <string>{1,21}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{199,179},{116,112}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6016334.png</key>
            <dict>
                <key>frame</key>
                <string>{{428,782},{92,94}}</string>
                <key>offset</key>
                <string>{-2,12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{208,197},{92,94}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6016335.png</key>
            <dict>
                <key>frame</key>
                <string>{{106,796},{104,92}}</string>
                <key>offset</key>
                <string>{5,11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{209,199},{104,92}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6016341.png</key>
            <dict>
                <key>frame</key>
                <string>{{148,0},{128,106}}</string>
                <key>offset</key>
                <string>{4,17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{196,186},{128,106}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6016342.png</key>
            <dict>
                <key>frame</key>
                <string>{{752,290},{116,88}}</string>
                <key>offset</key>
                <string>{-1,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{197,204},{116,88}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6016343.png</key>
            <dict>
                <key>frame</key>
                <string>{{888,214},{116,98}}</string>
                <key>offset</key>
                <string>{-1,13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{197,194},{116,98}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6016344.png</key>
            <dict>
                <key>frame</key>
                <string>{{518,202},{118,98}}</string>
                <key>offset</key>
                <string>{-2,13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{195,194},{118,98}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6016345.png</key>
            <dict>
                <key>frame</key>
                <string>{{516,300},{116,100}}</string>
                <key>offset</key>
                <string>{-1,14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{197,192},{116,100}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6016351.png</key>
            <dict>
                <key>frame</key>
                <string>{{856,416},{110,88}}</string>
                <key>offset</key>
                <string>{2,15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{203,197},{110,88}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6016352.png</key>
            <dict>
                <key>frame</key>
                <string>{{436,602},{108,88}}</string>
                <key>offset</key>
                <string>{1,14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{203,198},{108,88}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6016353.png</key>
            <dict>
                <key>frame</key>
                <string>{{658,0},{124,90}}</string>
                <key>offset</key>
                <string>{13,16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{207,195},{124,90}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6016354.png</key>
            <dict>
                <key>frame</key>
                <string>{{248,414},{112,92}}</string>
                <key>offset</key>
                <string>{0,16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{200,194},{112,92}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6016355.png</key>
            <dict>
                <key>frame</key>
                <string>{{782,0},{124,88}}</string>
                <key>offset</key>
                <string>{-7,15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{187,197},{124,88}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6016511.png</key>
            <dict>
                <key>frame</key>
                <string>{{398,298},{118,94}}</string>
                <key>offset</key>
                <string>{-12,36}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{185,173},{118,94}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6016512.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,814},{104,88}}</string>
                <key>offset</key>
                <string>{-16,15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{188,197},{104,88}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6016521.png</key>
            <dict>
                <key>frame</key>
                <string>{{906,610},{108,98}}</string>
                <key>offset</key>
                <string>{-15,13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{187,194},{108,98}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6016522.png</key>
            <dict>
                <key>frame</key>
                <string>{{124,420},{112,86}}</string>
                <key>offset</key>
                <string>{-26,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{174,212},{112,86}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6016531.png</key>
            <dict>
                <key>frame</key>
                <string>{{360,484},{106,110}}</string>
                <key>offset</key>
                <string>{-21,15}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{182,186},{106,110}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6016532.png</key>
            <dict>
                <key>frame</key>
                <string>{{650,166},{120,72}}</string>
                <key>offset</key>
                <string>{-20,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{176,230},{120,72}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6016541.png</key>
            <dict>
                <key>frame</key>
                <string>{{532,0},{126,102}}</string>
                <key>offset</key>
                <string>{3,13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{196,192},{126,102}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6016542.png</key>
            <dict>
                <key>frame</key>
                <string>{{658,90},{122,76}}</string>
                <key>offset</key>
                <string>{1,-14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{196,232},{122,76}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6016551.png</key>
            <dict>
                <key>frame</key>
                <string>{{906,0},{118,100}}</string>
                <key>offset</key>
                <string>{11,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{208,202},{118,100}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6016552.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,902},{104,76}}</string>
                <key>offset</key>
                <string>{16,-10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{220,228},{104,76}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>6016.pvr.ccz</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:09f88d95d4b922209d69e3bf520cb9e0:1/1$</string>
            <key>textureFileName</key>
            <string>6016.pvr.ccz</string>
        </dict>
    </dict>
</plist>
