<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>6510111.png</key>
            <dict>
                <key>frame</key>
                <string>{{144,1388},{136,114}}</string>
                <key>offset</key>
                <string>{-22,38}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{166,161},{136,114}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6510112.png</key>
            <dict>
                <key>frame</key>
                <string>{{432,1378},{134,114}}</string>
                <key>offset</key>
                <string>{-20,38}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{169,161},{134,114}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6510113.png</key>
            <dict>
                <key>frame</key>
                <string>{{292,1290},{140,114}}</string>
                <key>offset</key>
                <string>{-21,38}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{165,161},{140,114}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6510121.png</key>
            <dict>
                <key>frame</key>
                <string>{{136,1502},{128,130}}</string>
                <key>offset</key>
                <string>{-12,36}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{180,155},{128,130}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6510122.png</key>
            <dict>
                <key>frame</key>
                <string>{{716,1364},{124,126}}</string>
                <key>offset</key>
                <string>{-10,36}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{184,157},{124,126}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6510123.png</key>
            <dict>
                <key>frame</key>
                <string>{{582,1338},{122,134}}</string>
                <key>offset</key>
                <string>{-9,33}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{186,156},{122,134}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6510131.png</key>
            <dict>
                <key>frame</key>
                <string>{{488,756},{124,154}}</string>
                <key>offset</key>
                <string>{-21,33}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{173,146},{124,154}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6510132.png</key>
            <dict>
                <key>frame</key>
                <string>{{450,1138},{122,146}}</string>
                <key>offset</key>
                <string>{-23,34}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{172,149},{122,146}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6510133.png</key>
            <dict>
                <key>frame</key>
                <string>{{818,856},{126,152}}</string>
                <key>offset</key>
                <string>{-25,32}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{168,148},{126,152}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6510141.png</key>
            <dict>
                <key>frame</key>
                <string>{{664,720},{146,154}}</string>
                <key>offset</key>
                <string>{-10,39}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{173,140},{146,154}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6510142.png</key>
            <dict>
                <key>frame</key>
                <string>{{302,1008},{146,148}}</string>
                <key>offset</key>
                <string>{-8,42}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{175,140},{146,148}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6510143.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,780},{158,146}}</string>
                <key>offset</key>
                <string>{-8,41}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{169,142},{158,146}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6510151.png</key>
            <dict>
                <key>frame</key>
                <string>{{150,1126},{136,148}}</string>
                <key>offset</key>
                <string>{21,47}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{209,135},{136,148}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6510152.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,926},{134,152}}</string>
                <key>offset</key>
                <string>{20,45}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{209,135},{134,152}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6510153.png</key>
            <dict>
                <key>frame</key>
                <string>{{152,986},{140,150}}</string>
                <key>offset</key>
                <string>{21,45}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{207,136},{140,150}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6510211.png</key>
            <dict>
                <key>frame</key>
                <string>{{870,1240},{130,120}}</string>
                <key>offset</key>
                <string>{-15,42}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{176,154},{130,120}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6510212.png</key>
            <dict>
                <key>frame</key>
                <string>{{566,1460},{126,110}}</string>
                <key>offset</key>
                <string>{-10,40}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{183,161},{126,110}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6510213.png</key>
            <dict>
                <key>frame</key>
                <string>{{266,1522},{120,116}}</string>
                <key>offset</key>
                <string>{-11,45}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{185,153},{120,116}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6510214.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,1668},{114,116}}</string>
                <key>offset</key>
                <string>{-13,36}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{186,162},{114,116}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6510215.png</key>
            <dict>
                <key>frame</key>
                <string>{{130,1630},{118,104}}</string>
                <key>offset</key>
                <string>{-14,47}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{183,157},{118,104}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6510221.png</key>
            <dict>
                <key>frame</key>
                <string>{{442,1260},{118,140}}</string>
                <key>offset</key>
                <string>{-16,43}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{181,143},{118,140}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6510222.png</key>
            <dict>
                <key>frame</key>
                <string>{{280,1404},{118,132}}</string>
                <key>offset</key>
                <string>{-14,38}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{183,152},{118,132}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6510223.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,1546},{122,130}}</string>
                <key>offset</key>
                <string>{-1,44}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{194,147},{122,130}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6510224.png</key>
            <dict>
                <key>frame</key>
                <string>{{898,1110},{130,126}}</string>
                <key>offset</key>
                <string>{-5,39}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{186,154},{130,126}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6510225.png</key>
            <dict>
                <key>frame</key>
                <string>{{870,1360},{122,128}}</string>
                <key>offset</key>
                <string>{-11,45}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{184,147},{122,128}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6510231.png</key>
            <dict>
                <key>frame</key>
                <string>{{158,850},{136,152}}</string>
                <key>offset</key>
                <string>{-26,39}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{162,141},{136,152}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6510232.png</key>
            <dict>
                <key>frame</key>
                <string>{{610,1086},{130,146}}</string>
                <key>offset</key>
                <string>{-30,39}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{161,144},{130,146}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6510233.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,1190},{134,148}}</string>
                <key>offset</key>
                <string>{-25,44}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{164,138},{134,148}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6510234.png</key>
            <dict>
                <key>frame</key>
                <string>{{462,990},{148,148}}</string>
                <key>offset</key>
                <string>{-22,35}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{160,147},{148,148}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6510235.png</key>
            <dict>
                <key>frame</key>
                <string>{{776,982},{128,148}}</string>
                <key>offset</key>
                <string>{-26,38}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{166,144},{128,148}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6510241.png</key>
            <dict>
                <key>frame</key>
                <string>{{642,866},{116,152}}</string>
                <key>offset</key>
                <string>{-2,47}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{196,133},{116,152}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6510242.png</key>
            <dict>
                <key>frame</key>
                <string>{{756,1110},{122,142}}</string>
                <key>offset</key>
                <string>{-2,46}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{193,139},{122,142}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6510243.png</key>
            <dict>
                <key>frame</key>
                <string>{{148,1262},{126,144}}</string>
                <key>offset</key>
                <string>{-6,50}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{187,134},{126,144}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6510244.png</key>
            <dict>
                <key>frame</key>
                <string>{{822,614},{116,156}}</string>
                <key>offset</key>
                <string>{-18,36}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{180,142},{116,156}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6510245.png</key>
            <dict>
                <key>frame</key>
                <string>{{474,880},{110,152}}</string>
                <key>offset</key>
                <string>{-10,44}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{191,136},{110,152}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6510251.png</key>
            <dict>
                <key>frame</key>
                <string>{{338,496},{130,166}}</string>
                <key>offset</key>
                <string>{15,48}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{206,125},{130,166}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6510252.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,654},{126,162}}</string>
                <key>offset</key>
                <string>{10,42}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{203,133},{126,162}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6510253.png</key>
            <dict>
                <key>frame</key>
                <string>{{854,372},{120,170}}</string>
                <key>offset</key>
                <string>{9,44}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{205,127},{120,170}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6510254.png</key>
            <dict>
                <key>frame</key>
                <string>{{664,606},{114,158}}</string>
                <key>offset</key>
                <string>{13,45}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{212,132},{114,158}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6510255.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,404},{118,172}}</string>
                <key>offset</key>
                <string>{14,44}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{211,126},{118,172}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6510311.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,1324},{108,144}}</string>
                <key>offset</key>
                <string>{-21,52}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{181,132},{108,144}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6510312.png</key>
            <dict>
                <key>frame</key>
                <string>{{940,186},{74,186}}</string>
                <key>offset</key>
                <string>{-4,72}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{215,91},{74,186}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6510313.png</key>
            <dict>
                <key>frame</key>
                <string>{{854,492},{122,168}}</string>
                <key>offset</key>
                <string>{20,64}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{215,108},{122,168}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6510314.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,1432},{114,136}}</string>
                <key>offset</key>
                <string>{4,11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{203,177},{114,136}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6510315.png</key>
            <dict>
                <key>frame</key>
                <string>{{736,1232},{132,134}}</string>
                <key>offset</key>
                <string>{-7,10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{183,179},{132,134}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6510321.png</key>
            <dict>
                <key>frame</key>
                <string>{{218,302},{190,102}}</string>
                <key>offset</key>
                <string>{-42,47}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{119,158},{190,102}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6510322.png</key>
            <dict>
                <key>frame</key>
                <string>{{328,626},{160,148}}</string>
                <key>offset</key>
                <string>{-32,70}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{144,112},{160,148}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6510323.png</key>
            <dict>
                <key>frame</key>
                <string>{{298,1154},{144,136}}</string>
                <key>offset</key>
                <string>{-9,64}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{175,124},{144,136}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6510324.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,522},{166,132}}</string>
                <key>offset</key>
                <string>{34,28}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{207,162},{166,132}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6510325.png</key>
            <dict>
                <key>frame</key>
                <string>{{818,730},{126,152}}</string>
                <key>offset</key>
                <string>{13,16}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{206,164},{126,152}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6510331.png</key>
            <dict>
                <key>frame</key>
                <string>{{686,224},{196,126}}</string>
                <key>offset</key>
                <string>{-40,38}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{118,155},{196,126}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6510332.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,124},{220,132}}</string>
                <key>offset</key>
                <string>{-52,41}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{94,149},{220,132}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6510333.png</key>
            <dict>
                <key>frame</key>
                <string>{{322,774},{136,152}}</string>
                <key>offset</key>
                <string>{-37,53}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{151,127},{136,152}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6510334.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{258,124}}</string>
                <key>offset</key>
                <string>{55,40}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{182,154},{258,124}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6510335.png</key>
            <dict>
                <key>frame</key>
                <string>{{500,0},{232,128}}</string>
                <key>offset</key>
                <string>{37,42}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{177,150},{232,128}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6510341.png</key>
            <dict>
                <key>frame</key>
                <string>{{586,494},{112,174}}</string>
                <key>offset</key>
                <string>{-19,19}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{181,150},{112,174}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6510342.png</key>
            <dict>
                <key>frame</key>
                <string>{{172,404},{166,158}}</string>
                <key>offset</key>
                <string>{-45,42}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{128,135},{166,158}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6510343.png</key>
            <dict>
                <key>frame</key>
                <string>{{310,910},{98,152}}</string>
                <key>offset</key>
                <string>{-32,44}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{175,136},{98,152}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6510344.png</key>
            <dict>
                <key>frame</key>
                <string>{{258,114},{222,188}}</string>
                <key>offset</key>
                <string>{51,63}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{196,99},{222,188}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6510345.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,256},{218,148}}</string>
                <key>offset</key>
                <string>{41,43}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{188,139},{218,148}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6510351.png</key>
            <dict>
                <key>frame</key>
                <string>{{408,388},{108,178}}</string>
                <key>offset</key>
                <string>{21,26}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{223,141},{108,178}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6510352.png</key>
            <dict>
                <key>frame</key>
                <string>{{942,0},{74,186}}</string>
                <key>offset</key>
                <string>{3,34}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{222,129},{74,186}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6510353.png</key>
            <dict>
                <key>frame</key>
                <string>{{596,1216},{122,140}}</string>
                <key>offset</key>
                <string>{-20,24}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{175,162},{122,140}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6510354.png</key>
            <dict>
                <key>frame</key>
                <string>{{258,0},{114,242}}</string>
                <key>offset</key>
                <string>{-4,84}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{195,51},{114,242}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6510355.png</key>
            <dict>
                <key>frame</key>
                <string>{{480,256},{132,194}}</string>
                <key>offset</key>
                <string>{6,55}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{196,104},{132,194}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6510511.png</key>
            <dict>
                <key>frame</key>
                <string>{{504,606},{150,160}}</string>
                <key>offset</key>
                <string>{-27,65}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{154,111},{150,160}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6510512.png</key>
            <dict>
                <key>frame</key>
                <string>{{480,128},{206,128}}</string>
                <key>offset</key>
                <string>{-31,43}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{122,149},{206,128}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6510521.png</key>
            <dict>
                <key>frame</key>
                <string>{{166,562},{142,162}}</string>
                <key>offset</key>
                <string>{-35,59}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{150,116},{142,162}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6510522.png</key>
            <dict>
                <key>frame</key>
                <string>{{732,0},{210,108}}</string>
                <key>offset</key>
                <string>{-67,34}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{84,168},{210,108}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6510531.png</key>
            <dict>
                <key>frame</key>
                <string>{{626,982},{104,150}}</string>
                <key>offset</key>
                <string>{-31,44}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{173,137},{104,150}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6510532.png</key>
            <dict>
                <key>frame</key>
                <string>{{674,350},{180,144}}</string>
                <key>offset</key>
                <string>{-56,-16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{110,200},{180,144}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6510541.png</key>
            <dict>
                <key>frame</key>
                <string>{{412,1492},{124,124}}</string>
                <key>offset</key>
                <string>{-13,33}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{181,161},{124,124}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6510542.png</key>
            <dict>
                <key>frame</key>
                <string>{{162,704},{160,146}}</string>
                <key>offset</key>
                <string>{-39,-41}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{137,224},{160,146}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6510551.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,1060},{150,130}}</string>
                <key>offset</key>
                <string>{27,16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{208,175},{150,130}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6510552.png</key>
            <dict>
                <key>frame</key>
                <string>{{732,108},{208,116}}</string>
                <key>offset</key>
                <string>{31,-30}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{183,228},{208,116}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>6510.pvr.ccz</string>
            <key>size</key>
            <string>{1024,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:4c7134604089cd2c8aa96de6ccde92b9:1/1$</string>
            <key>textureFileName</key>
            <string>6510.pvr.ccz</string>
        </dict>
    </dict>
</plist>
