<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>mergeActivity_beij.png</key>
			<dict>
				<key>width</key>
				<integer>668</integer>
				<key>height</key>
				<integer>360</integer>
				<key>originalWidth</key>
				<integer>668</integer>
				<key>originalHeight</key>
				<integer>360</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>mergeActivity_btBg.png</key>
			<dict>
				<key>width</key>
				<integer>30</integer>
				<key>height</key>
				<integer>36</integer>
				<key>originalWidth</key>
				<integer>30</integer>
				<key>originalHeight</key>
				<integer>36</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>361</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>mergeActivity_czlb.png</key>
			<dict>
				<key>width</key>
				<integer>193</integer>
				<key>height</key>
				<integer>51</integer>
				<key>originalWidth</key>
				<integer>193</integer>
				<key>originalHeight</key>
				<integer>51</integer>
				<key>x</key>
				<integer>31</integer>
				<key>y</key>
				<integer>361</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>mergeActivity_czsl.png</key>
			<dict>
				<key>width</key>
				<integer>191</integer>
				<key>height</key>
				<integer>51</integer>
				<key>originalWidth</key>
				<integer>193</integer>
				<key>originalHeight</key>
				<integer>51</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>413</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>mergeActivity_dllb.png</key>
			<dict>
				<key>width</key>
				<integer>192</integer>
				<key>height</key>
				<integer>50</integer>
				<key>originalWidth</key>
				<integer>193</integer>
				<key>originalHeight</key>
				<integer>51</integer>
				<key>x</key>
				<integer>225</integer>
				<key>y</key>
				<integer>361</integer>
				<key>offsetX</key>
				<real>-0.5</real>
				<key>offsetY</key>
				<real>0.5</real>
			</dict>
			<key>mergeActivity_hdbj.png</key>
			<dict>
				<key>width</key>
				<integer>668</integer>
				<key>height</key>
				<integer>124</integer>
				<key>originalWidth</key>
				<integer>668</integer>
				<key>originalHeight</key>
				<integer>124</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>465</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>mergeActivity_hfbeij.png</key>
			<dict>
				<key>width</key>
				<integer>668</integer>
				<key>height</key>
				<integer>360</integer>
				<key>originalWidth</key>
				<integer>668</integer>
				<key>originalHeight</key>
				<integer>360</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>590</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>mergeActivity_hfbj.png</key>
			<dict>
				<key>width</key>
				<integer>668</integer>
				<key>height</key>
				<integer>124</integer>
				<key>originalWidth</key>
				<integer>668</integer>
				<key>originalHeight</key>
				<integer>124</integer>
				<key>x</key>
				<integer>669</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>mergeActivity_hfjy.png</key>
			<dict>
				<key>width</key>
				<integer>668</integer>
				<key>height</key>
				<integer>124</integer>
				<key>originalWidth</key>
				<integer>668</integer>
				<key>originalHeight</key>
				<integer>124</integer>
				<key>x</key>
				<integer>669</integer>
				<key>y</key>
				<integer>125</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>mergeActivity_hfsclb.png</key>
			<dict>
				<key>width</key>
				<integer>287</integer>
				<key>height</key>
				<integer>51</integer>
				<key>originalWidth</key>
				<integer>287</integer>
				<key>originalHeight</key>
				<integer>51</integer>
				<key>x</key>
				<integer>192</integer>
				<key>y</key>
				<integer>413</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>mergeActivity_qianggou.png</key>
			<dict>
				<key>width</key>
				<integer>80</integer>
				<key>height</key>
				<integer>38</integer>
				<key>originalWidth</key>
				<integer>80</integer>
				<key>originalHeight</key>
				<integer>38</integer>
				<key>x</key>
				<integer>418</integer>
				<key>y</key>
				<integer>361</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>mergeActivity_scbeijing.png</key>
			<dict>
				<key>width</key>
				<integer>668</integer>
				<key>height</key>
				<integer>360</integer>
				<key>originalWidth</key>
				<integer>668</integer>
				<key>originalHeight</key>
				<integer>360</integer>
				<key>x</key>
				<integer>669</integer>
				<key>y</key>
				<integer>250</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>mergeActivity_sczb.png</key>
			<dict>
				<key>width</key>
				<integer>668</integer>
				<key>height</key>
				<integer>124</integer>
				<key>originalWidth</key>
				<integer>668</integer>
				<key>originalHeight</key>
				<integer>124</integer>
				<key>x</key>
				<integer>669</integer>
				<key>y</key>
				<integer>611</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>mergeActivity_shousha.png</key>
			<dict>
				<key>width</key>
				<integer>178</integer>
				<key>height</key>
				<integer>25</integer>
				<key>originalWidth</key>
				<integer>182</integer>
				<key>originalHeight</key>
				<integer>30</integer>
				<key>x</key>
				<integer>480</integer>
				<key>y</key>
				<integer>400</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0.5</real>
			</dict>
			<key>mergeActivity_ssbsdj.png</key>
			<dict>
				<key>width</key>
				<integer>664</integer>
				<key>height</key>
				<integer>120</integer>
				<key>originalWidth</key>
				<integer>664</integer>
				<key>originalHeight</key>
				<integer>120</integer>
				<key>x</key>
				<integer>1338</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>mergeActivity_touxiangkuang.png</key>
			<dict>
				<key>width</key>
				<integer>143</integer>
				<key>height</key>
				<integer>104</integer>
				<key>originalWidth</key>
				<integer>143</integer>
				<key>originalHeight</key>
				<integer>104</integer>
				<key>x</key>
				<integer>669</integer>
				<key>y</key>
				<integer>736</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>merge_kill.png</key>
			<dict>
				<key>width</key>
				<integer>110</integer>
				<key>height</key>
				<integer>63</integer>
				<key>originalWidth</key>
				<integer>110</integer>
				<key>originalHeight</key>
				<integer>63</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>951</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>0</integer>
			<key>textureFileName</key>
			<string>mergeActivityWin0.png</string>
			<key>realTextureFileName</key>
			<string>mergeActivityWin0.png</string>
			<key>size</key>
			<string>{2048,2048}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>2048</integer>
			<key>height</key>
			<integer>2048</integer>
		</dict>
	</dict>
</plist>