<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>sbk_castellan.png</key>
			<dict>
				<key>width</key>
				<integer>101</integer>
				<key>height</key>
				<integer>31</integer>
				<key>originalWidth</key>
				<integer>101</integer>
				<key>originalHeight</key>
				<integer>31</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>sbk_chenghao.png</key>
			<dict>
				<key>width</key>
				<integer>414</integer>
				<key>height</key>
				<integer>198</integer>
				<key>originalWidth</key>
				<integer>414</integer>
				<key>originalHeight</key>
				<integer>198</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>31</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>sbk_coinReward.png</key>
			<dict>
				<key>width</key>
				<integer>864</integer>
				<key>height</key>
				<integer>176</integer>
				<key>originalWidth</key>
				<integer>864</integer>
				<key>originalHeight</key>
				<integer>176</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>229</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>sbk_equip.png</key>
			<dict>
				<key>width</key>
				<integer>414</integer>
				<key>height</key>
				<integer>198</integer>
				<key>originalWidth</key>
				<integer>414</integer>
				<key>originalHeight</key>
				<integer>198</integer>
				<key>x</key>
				<integer>414</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>0</integer>
			<key>textureFileName</key>
			<string>shabakeawardWin0.png</string>
			<key>realTextureFileName</key>
			<string>shabakeawardWin0.png</string>
			<key>size</key>
			<string>{1024,2048}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>1024</integer>
			<key>height</key>
			<integer>2048</integer>
		</dict>
	</dict>
</plist>