<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>6037111.png</key>
            <dict>
                <key>frame</key>
                <string>{{150,330},{146,66}}</string>
                <key>offset</key>
                <string>{2,53}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{185,170},{146,66}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6037112.png</key>
            <dict>
                <key>frame</key>
                <string>{{962,518},{110,60}}</string>
                <key>offset</key>
                <string>{-2,51}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{199,175},{110,60}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6037113.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,72},{168,106}}</string>
                <key>offset</key>
                <string>{3,68}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{175,135},{168,106}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6037121.png</key>
            <dict>
                <key>frame</key>
                <string>{{496,720},{116,98}}</string>
                <key>offset</key>
                <string>{-21,51}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{177,156},{116,98}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6037122.png</key>
            <dict>
                <key>frame</key>
                <string>{{616,850},{98,84}}</string>
                <key>offset</key>
                <string>{-13,40}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{194,174},{98,84}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6037123.png</key>
            <dict>
                <key>frame</key>
                <string>{{604,260},{136,142}}</string>
                <key>offset</key>
                <string>{-21,79}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{167,106},{136,142}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6037131.png</key>
            <dict>
                <key>frame</key>
                <string>{{332,772},{78,114}}</string>
                <key>offset</key>
                <string>{-3,36}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{214,163},{78,114}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6037132.png</key>
            <dict>
                <key>frame</key>
                <string>{{612,762},{88,102}}</string>
                <key>offset</key>
                <string>{-7,29}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{205,176},{88,102}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6037133.png</key>
            <dict>
                <key>frame</key>
                <string>{{314,258},{76,146}}</string>
                <key>offset</key>
                <string>{-10,73}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{208,110},{76,146}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6037141.png</key>
            <dict>
                <key>frame</key>
                <string>{{788,722},{116,124}}</string>
                <key>offset</key>
                <string>{-21,36}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{177,158},{116,124}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6037142.png</key>
            <dict>
                <key>frame</key>
                <string>{{212,730},{100,120}}</string>
                <key>offset</key>
                <string>{-12,31}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{194,165},{100,120}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6037143.png</key>
            <dict>
                <key>frame</key>
                <string>{{582,396},{140,114}}</string>
                <key>offset</key>
                <string>{-26,54}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{160,145},{140,114}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6037151.png</key>
            <dict>
                <key>frame</key>
                <string>{{460,258},{144,98}}</string>
                <key>offset</key>
                <string>{-2,47}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{182,160},{144,98}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6037152.png</key>
            <dict>
                <key>frame</key>
                <string>{{912,742},{110,112}}</string>
                <key>offset</key>
                <string>{2,38}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{203,162},{110,112}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6037153.png</key>
            <dict>
                <key>frame</key>
                <string>{{524,0},{168,96}}</string>
                <key>offset</key>
                <string>{-3,44}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{169,164},{168,96}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6037211.png</key>
            <dict>
                <key>frame</key>
                <string>{{974,186},{142,48}}</string>
                <key>offset</key>
                <string>{2,104}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{187,128},{142,48}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6037212.png</key>
            <dict>
                <key>frame</key>
                <string>{{782,198},{132,42}}</string>
                <key>offset</key>
                <string>{4,102}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{194,133},{132,42}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6037213.png</key>
            <dict>
                <key>frame</key>
                <string>{{824,272},{148,52}}</string>
                <key>offset</key>
                <string>{2,108}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{184,122},{148,52}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6037214.png</key>
            <dict>
                <key>frame</key>
                <string>{{634,198},{148,62}}</string>
                <key>offset</key>
                <string>{-1,116}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{181,109},{148,62}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6037215.png</key>
            <dict>
                <key>frame</key>
                <string>{{670,142},{156,56}}</string>
                <key>offset</key>
                <string>{-1,116}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{177,112},{156,56}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6037221.png</key>
            <dict>
                <key>frame</key>
                <string>{{542,510},{132,88}}</string>
                <key>offset</key>
                <string>{-10,100}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{180,112},{132,88}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6037222.png</key>
            <dict>
                <key>frame</key>
                <string>{{134,608},{118,78}}</string>
                <key>offset</key>
                <string>{-4,96}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{193,121},{118,78}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6037223.png</key>
            <dict>
                <key>frame</key>
                <string>{{746,330},{118,78}}</string>
                <key>offset</key>
                <string>{-7,120}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{190,97},{118,78}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6037224.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,762},{124,90}}</string>
                <key>offset</key>
                <string>{-19,129}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{175,82},{124,90}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6037225.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,396},{138,88}}</string>
                <key>offset</key>
                <string>{-16,122}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{171,90},{138,88}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6037231.png</key>
            <dict>
                <key>frame</key>
                <string>{{714,762},{74,100}}</string>
                <key>offset</key>
                <string>{-3,93}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{216,113},{74,100}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6037232.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,686},{76,98}}</string>
                <key>offset</key>
                <string>{-4,94}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{214,113},{76,98}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6037233.png</key>
            <dict>
                <key>frame</key>
                <string>{{364,852},{78,110}}</string>
                <key>offset</key>
                <string>{-4,113}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{213,88},{78,110}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6037234.png</key>
            <dict>
                <key>frame</key>
                <string>{{442,852},{88,108}}</string>
                <key>offset</key>
                <string>{-10,123}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{202,79},{88,108}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6037235.png</key>
            <dict>
                <key>frame</key>
                <string>{{530,852},{86,108}}</string>
                <key>offset</key>
                <string>{-9,115}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{204,87},{86,108}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6037241.png</key>
            <dict>
                <key>frame</key>
                <string>{{410,438},{132,106}}</string>
                <key>offset</key>
                <string>{-10,98}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{180,105},{132,106}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6037242.png</key>
            <dict>
                <key>frame</key>
                <string>{{660,660},{128,102}}</string>
                <key>offset</key>
                <string>{-11,95}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{181,110},{128,102}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6037243.png</key>
            <dict>
                <key>frame</key>
                <string>{{136,508},{134,100}}</string>
                <key>offset</key>
                <string>{-14,106}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{175,100},{134,100}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6037244.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,588},{134,98}}</string>
                <key>offset</key>
                <string>{-20,110}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{169,97},{134,98}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6037245.png</key>
            <dict>
                <key>frame</key>
                <string>{{296,334},{144,94}}</string>
                <key>offset</key>
                <string>{-12,106}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{172,103},{144,94}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6037251.png</key>
            <dict>
                <key>frame</key>
                <string>{{440,356},{142,82}}</string>
                <key>offset</key>
                <string>{-2,107}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{183,108},{142,82}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6037252.png</key>
            <dict>
                <key>frame</key>
                <string>{{270,520},{132,88}}</string>
                <key>offset</key>
                <string>{-5,101}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{185,111},{132,88}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6037253.png</key>
            <dict>
                <key>frame</key>
                <string>{{826,186},{148,86}}</string>
                <key>offset</key>
                <string>{-2,97}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{180,116},{148,86}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6037254.png</key>
            <dict>
                <key>frame</key>
                <string>{{484,174},{150,84}}</string>
                <key>offset</key>
                <string>{0,98}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{181,116},{150,84}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6037255.png</key>
            <dict>
                <key>frame</key>
                <string>{{692,58},{158,84}}</string>
                <key>offset</key>
                <string>{1,103}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{178,111},{158,84}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6037311.png</key>
            <dict>
                <key>frame</key>
                <string>{{692,0},{162,58}}</string>
                <key>offset</key>
                <string>{1,107}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{176,120},{162,58}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6037312.png</key>
            <dict>
                <key>frame</key>
                <string>{{970,328},{136,52}}</string>
                <key>offset</key>
                <string>{0,107}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{188,123},{136,52}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6037313.png</key>
            <dict>
                <key>frame</key>
                <string>{{352,0},{172,88}}</string>
                <key>offset</key>
                <string>{-1,122}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{169,90},{172,88}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6037314.png</key>
            <dict>
                <key>frame</key>
                <string>{{332,166},{152,92}}</string>
                <key>offset</key>
                <string>{5,98}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{185,112},{152,92}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6037315.png</key>
            <dict>
                <key>frame</key>
                <string>{{514,96},{156,78}}</string>
                <key>offset</key>
                <string>{3,123}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{181,94},{156,78}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6037321.png</key>
            <dict>
                <key>frame</key>
                <string>{{102,870},{120,90}}</string>
                <key>offset</key>
                <string>{-20,102}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{176,109},{120,90}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6037322.png</key>
            <dict>
                <key>frame</key>
                <string>{{272,852},{110,92}}</string>
                <key>offset</key>
                <string>{-16,96}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{185,114},{110,92}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6037323.png</key>
            <dict>
                <key>frame</key>
                <string>{{374,652},{122,120}}</string>
                <key>offset</key>
                <string>{-19,132}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{176,64},{122,120}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6037324.png</key>
            <dict>
                <key>frame</key>
                <string>{{804,608},{128,114}}</string>
                <key>offset</key>
                <string>{-14,114}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{178,85},{128,114}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6037325.png</key>
            <dict>
                <key>frame</key>
                <string>{{722,448},{136,102}}</string>
                <key>offset</key>
                <string>{-10,125}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{178,80},{136,102}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6037331.png</key>
            <dict>
                <key>frame</key>
                <string>{{98,686},{74,114}}</string>
                <key>offset</key>
                <string>{-9,93}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{210,106},{74,114}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6037332.png</key>
            <dict>
                <key>frame</key>
                <string>{{192,870},{80,118}}</string>
                <key>offset</key>
                <string>{-12,85}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{204,112},{80,118}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6037333.png</key>
            <dict>
                <key>frame</key>
                <string>{{674,584},{76,130}}</string>
                <key>offset</key>
                <string>{-11,129}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{207,62},{76,130}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6037334.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,852},{102,124}}</string>
                <key>offset</key>
                <string>{7,114}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{212,80},{102,124}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6037335.png</key>
            <dict>
                <key>frame</key>
                <string>{{124,760},{88,110}}</string>
                <key>offset</key>
                <string>{-3,116}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{209,85},{88,110}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6037341.png</key>
            <dict>
                <key>frame</key>
                <string>{{252,608},{122,122}}</string>
                <key>offset</key>
                <string>{-19,97}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{176,98},{122,122}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6037342.png</key>
            <dict>
                <key>frame</key>
                <string>{{532,598},{122,128}}</string>
                <key>offset</key>
                <string>{-17,89}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{178,103},{122,128}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6037343.png</key>
            <dict>
                <key>frame</key>
                <string>{{402,544},{130,108}}</string>
                <key>offset</key>
                <string>{-21,114}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{170,88},{130,108}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6037344.png</key>
            <dict>
                <key>frame</key>
                <string>{{138,396},{136,112}}</string>
                <key>offset</key>
                <string>{-18,102}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{170,98},{136,112}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6037345.png</key>
            <dict>
                <key>frame</key>
                <string>{{824,426},{142,92}}</string>
                <key>offset</key>
                <string>{-16,112}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{169,98},{142,92}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6037351.png</key>
            <dict>
                <key>frame</key>
                <string>{{854,0},{160,90}}</string>
                <key>offset</key>
                <string>{0,110}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{176,101},{160,90}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6037352.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,484},{136,104}}</string>
                <key>offset</key>
                <string>{-1,99}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{187,105},{136,104}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6037353.png</key>
            <dict>
                <key>frame</key>
                <string>{{176,60},{172,86}}</string>
                <key>offset</key>
                <string>{1,100}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{171,113},{172,86}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6037354.png</key>
            <dict>
                <key>frame</key>
                <string>{{162,244},{152,86}}</string>
                <key>offset</key>
                <string>{-5,113}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{175,100},{152,86}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6037355.png</key>
            <dict>
                <key>frame</key>
                <string>{{850,90},{156,96}}</string>
                <key>offset</key>
                <string>{-3,110}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{175,98},{156,96}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6037511.png</key>
            <dict>
                <key>frame</key>
                <string>{{168,146},{164,98}}</string>
                <key>offset</key>
                <string>{0,52}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{174,155},{164,98}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6037512.png</key>
            <dict>
                <key>frame</key>
                <string>{{176,0},{176,60}}</string>
                <key>offset</key>
                <string>{4,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{172,225},{176,60}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6037521.png</key>
            <dict>
                <key>frame</key>
                <string>{{824,324},{102,146}}</string>
                <key>offset</key>
                <string>{-15,59}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{190,124},{102,146}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6037522.png</key>
            <dict>
                <key>frame</key>
                <string>{{824,518},{138,90}}</string>
                <key>offset</key>
                <string>{6,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{193,213},{138,90}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6037531.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,178},{86,162}}</string>
                <key>offset</key>
                <string>{-3,49}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{210,126},{86,162}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6037532.png</key>
            <dict>
                <key>frame</key>
                <string>{{932,628},{92,114}}</string>
                <key>offset</key>
                <string>{5,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{215,196},{92,114}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6037541.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,264},{150,132}}</string>
                <key>offset</key>
                <string>{-8,42}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{173,148},{150,132}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6037542.png</key>
            <dict>
                <key>frame</key>
                <string>{{274,428},{136,92}}</string>
                <key>offset</key>
                <string>{5,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{193,205},{136,92}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6037551.png</key>
            <dict>
                <key>frame</key>
                <string>{{348,88},{166,78}}</string>
                <key>offset</key>
                <string>{-1,46}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{172,171},{166,78}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6037552.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{176,72}}</string>
                <key>offset</key>
                <string>{-5,15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{163,205},{176,72}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>6037.pvr.ccz</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:cb030c5461c6d2ca8d75b9c54662fdd3:1/1$</string>
            <key>textureFileName</key>
            <string>6037.pvr.ccz</string>
        </dict>
    </dict>
</plist>
