<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>6032111.png</key>
            <dict>
                <key>frame</key>
                <string>{{232,354},{106,106}}</string>
                <key>offset</key>
                <string>{-6,41}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{197,162},{106,106}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6032112.png</key>
            <dict>
                <key>frame</key>
                <string>{{542,90},{56,124}}</string>
                <key>offset</key>
                <string>{-3,50}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{225,144},{56,124}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6032113.png</key>
            <dict>
                <key>frame</key>
                <string>{{798,140},{46,126}}</string>
                <key>offset</key>
                <string>{-2,51}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{231,142},{46,126}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6032121.png</key>
            <dict>
                <key>frame</key>
                <string>{{132,142},{80,122}}</string>
                <key>offset</key>
                <string>{-18,50}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{198,145},{80,122}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6032122.png</key>
            <dict>
                <key>frame</key>
                <string>{{788,186},{84,122}}</string>
                <key>offset</key>
                <string>{-17,51}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{197,144},{84,122}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6032123.png</key>
            <dict>
                <key>frame</key>
                <string>{{396,102},{78,120}}</string>
                <key>offset</key>
                <string>{-17,49}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{200,147},{78,120}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6032131.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,160},{50,122}}</string>
                <key>offset</key>
                <string>{-6,47}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{225,148},{50,122}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6032132.png</key>
            <dict>
                <key>frame</key>
                <string>{{902,322},{72,108}}</string>
                <key>offset</key>
                <string>{-17,40}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{203,162},{72,108}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6032133.png</key>
            <dict>
                <key>frame</key>
                <string>{{216,460},{76,106}}</string>
                <key>offset</key>
                <string>{-18,39}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{200,164},{76,106}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6032141.png</key>
            <dict>
                <key>frame</key>
                <string>{{664,416},{76,102}}</string>
                <key>offset</key>
                <string>{-12,39}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{206,166},{76,102}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6032142.png</key>
            <dict>
                <key>frame</key>
                <string>{{740,440},{80,102}}</string>
                <key>offset</key>
                <string>{-11,39}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{205,166},{80,102}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6032143.png</key>
            <dict>
                <key>frame</key>
                <string>{{322,496},{76,100}}</string>
                <key>offset</key>
                <string>{-12,38}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{206,168},{76,100}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6032151.png</key>
            <dict>
                <key>frame</key>
                <string>{{902,394},{106,90}}</string>
                <key>offset</key>
                <string>{6,37}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{209,174},{106,90}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6032152.png</key>
            <dict>
                <key>frame</key>
                <string>{{840,568},{56,94}}</string>
                <key>offset</key>
                <string>{2,39}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{230,170},{56,94}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6032153.png</key>
            <dict>
                <key>frame</key>
                <string>{{856,270},{46,92}}</string>
                <key>offset</key>
                <string>{1,38}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{234,172},{46,92}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6032211.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,550},{100,102}}</string>
                <key>offset</key>
                <string>{-1,49}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{205,156},{100,102}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6032212.png</key>
            <dict>
                <key>frame</key>
                <string>{{502,660},{44,86}}</string>
                <key>offset</key>
                <string>{0,41}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{234,172},{44,86}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6032213.png</key>
            <dict>
                <key>frame</key>
                <string>{{740,520},{100,84}}</string>
                <key>offset</key>
                <string>{0,41}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{206,173},{100,84}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6032214.png</key>
            <dict>
                <key>frame</key>
                <string>{{800,0},{128,48}}</string>
                <key>offset</key>
                <string>{0,46}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{192,186},{128,48}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6032215.png</key>
            <dict>
                <key>frame</key>
                <string>{{140,76},{134,66}}</string>
                <key>offset</key>
                <string>{-1,54}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{188,169},{134,66}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6032221.png</key>
            <dict>
                <key>frame</key>
                <string>{{666,142},{84,122}}</string>
                <key>offset</key>
                <string>{-23,53}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{191,142},{84,122}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6032222.png</key>
            <dict>
                <key>frame</key>
                <string>{{842,468},{56,100}}</string>
                <key>offset</key>
                <string>{-2,42}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{226,164},{56,100}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6032223.png</key>
            <dict>
                <key>frame</key>
                <string>{{748,270},{78,108}}</string>
                <key>offset</key>
                <string>{-10,47}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{207,155},{78,108}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6032224.png</key>
            <dict>
                <key>frame</key>
                <string>{{740,604},{94,72}}</string>
                <key>offset</key>
                <string>{10,39}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{219,181},{94,72}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6032225.png</key>
            <dict>
                <key>frame</key>
                <string>{{210,536},{98,98}}</string>
                <key>offset</key>
                <string>{-11,65}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{196,142},{98,98}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6032231.png</key>
            <dict>
                <key>frame</key>
                <string>{{396,180},{64,118}}</string>
                <key>offset</key>
                <string>{-15,47}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{209,150},{64,118}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6032232.png</key>
            <dict>
                <key>frame</key>
                <string>{{348,350},{68,108}}</string>
                <key>offset</key>
                <string>{-7,42}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{215,160},{68,108}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6032233.png</key>
            <dict>
                <key>frame</key>
                <string>{{254,182},{72,116}}</string>
                <key>offset</key>
                <string>{-8,47}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{212,151},{72,116}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6032234.png</key>
            <dict>
                <key>frame</key>
                <string>{{616,616},{62,90}}</string>
                <key>offset</key>
                <string>{-3,41}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{222,170},{62,90}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6032235.png</key>
            <dict>
                <key>frame</key>
                <string>{{120,222},{58,116}}</string>
                <key>offset</key>
                <string>{0,62}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{227,136},{58,116}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6032241.png</key>
            <dict>
                <key>frame</key>
                <string>{{898,564},{80,94}}</string>
                <key>offset</key>
                <string>{-22,35}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{194,174},{80,94}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6032242.png</key>
            <dict>
                <key>frame</key>
                <string>{{846,362},{56,106}}</string>
                <key>offset</key>
                <string>{-4,41}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{224,162},{56,106}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6032243.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,476},{74,104}}</string>
                <key>offset</key>
                <string>{-10,40}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{209,164},{74,104}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6032244.png</key>
            <dict>
                <key>frame</key>
                <string>{{406,642},{86,96}}</string>
                <key>offset</key>
                <string>{9,48}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{222,160},{86,96}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6032245.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,380},{96,106}}</string>
                <key>offset</key>
                <string>{-10,49}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{198,154},{96,106}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6032251.png</key>
            <dict>
                <key>frame</key>
                <string>{{444,462},{100,98}}</string>
                <key>offset</key>
                <string>{0,31}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{206,176},{100,98}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6032252.png</key>
            <dict>
                <key>frame</key>
                <string>{{696,310},{44,106}}</string>
                <key>offset</key>
                <string>{0,34}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{234,169},{44,106}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6032253.png</key>
            <dict>
                <key>frame</key>
                <string>{{562,404},{102,84}}</string>
                <key>offset</key>
                <string>{-1,29}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{204,185},{102,84}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6032254.png</key>
            <dict>
                <key>frame</key>
                <string>{{800,48},{126,92}}</string>
                <key>offset</key>
                <string>{-1,49}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{192,161},{126,92}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6032255.png</key>
            <dict>
                <key>frame</key>
                <string>{{278,0},{134,102}}</string>
                <key>offset</key>
                <string>{1,48}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{190,157},{134,102}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6032311.png</key>
            <dict>
                <key>frame</key>
                <string>{{412,0},{130,102}}</string>
                <key>offset</key>
                <string>{-1,46}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{190,159},{130,102}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6032312.png</key>
            <dict>
                <key>frame</key>
                <string>{{910,230},{114,92}}</string>
                <key>offset</key>
                <string>{-2,52}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{197,158},{114,92}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6032313.png</key>
            <dict>
                <key>frame</key>
                <string>{{308,572},{82,98}}</string>
                <key>offset</key>
                <string>{1,29}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{216,178},{82,98}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6032314.png</key>
            <dict>
                <key>frame</key>
                <string>{{590,310},{106,94}}</string>
                <key>offset</key>
                <string>{2,27}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{205,182},{106,94}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6032315.png</key>
            <dict>
                <key>frame</key>
                <string>{{236,254},{112,100}}</string>
                <key>offset</key>
                <string>{0,33}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{200,173},{112,100}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6032321.png</key>
            <dict>
                <key>frame</key>
                <string>{{928,0},{96,118}}</string>
                <key>offset</key>
                <string>{-26,57}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{182,140},{96,118}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6032322.png</key>
            <dict>
                <key>frame</key>
                <string>{{370,244},{106,112}}</string>
                <key>offset</key>
                <string>{-30,55}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{173,145},{106,112}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6032323.png</key>
            <dict>
                <key>frame</key>
                <string>{{544,488},{86,100}}</string>
                <key>offset</key>
                <string>{-1,43}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{212,163},{86,100}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6032324.png</key>
            <dict>
                <key>frame</key>
                <string>{{456,378},{84,106}}</string>
                <key>offset</key>
                <string>{-1,46}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{213,157},{84,106}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6032325.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,292},{88,110}}</string>
                <key>offset</key>
                <string>{-6,50}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{206,151},{88,110}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6032331.png</key>
            <dict>
                <key>frame</key>
                <string>{{672,82},{60,126}}</string>
                <key>offset</key>
                <string>{-15,49}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{211,144},{60,126}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6032332.png</key>
            <dict>
                <key>frame</key>
                <string>{{482,310},{68,108}}</string>
                <key>offset</key>
                <string>{-26,40}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{196,162},{68,108}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6032333.png</key>
            <dict>
                <key>frame</key>
                <string>{{338,418},{78,106}}</string>
                <key>offset</key>
                <string>{8,39}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{225,164},{78,106}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6032334.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,210},{82,120}}</string>
                <key>offset</key>
                <string>{3,46}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{218,150},{82,120}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6032335.png</key>
            <dict>
                <key>frame</key>
                <string>{{274,102},{80,122}}</string>
                <key>offset</key>
                <string>{-7,47}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{209,148},{80,122}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6032341.png</key>
            <dict>
                <key>frame</key>
                <string>{{106,464},{94,104}}</string>
                <key>offset</key>
                <string>{-25,32}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{184,172},{94,104}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6032342.png</key>
            <dict>
                <key>frame</key>
                <string>{{740,348},{106,92}}</string>
                <key>offset</key>
                <string>{-29,26}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{174,184},{106,92}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6032343.png</key>
            <dict>
                <key>frame</key>
                <string>{{898,484},{80,96}}</string>
                <key>offset</key>
                <string>{-4,28}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{212,180},{80,96}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6032344.png</key>
            <dict>
                <key>frame</key>
                <string>{{514,230},{80,114}}</string>
                <key>offset</key>
                <string>{-3,37}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{213,162},{80,114}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6032345.png</key>
            <dict>
                <key>frame</key>
                <string>{{120,280},{86,112}}</string>
                <key>offset</key>
                <string>{-8,36}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{205,164},{86,112}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6032351.png</key>
            <dict>
                <key>frame</key>
                <string>{{542,0},{130,90}}</string>
                <key>offset</key>
                <string>{1,28}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{192,183},{130,90}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6032352.png</key>
            <dict>
                <key>frame</key>
                <string>{{634,226},{114,84}}</string>
                <key>offset</key>
                <string>{1,24}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{200,190},{114,84}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6032353.png</key>
            <dict>
                <key>frame</key>
                <string>{{298,654},{82,96}}</string>
                <key>offset</key>
                <string>{-1,30}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{214,178},{82,96}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6032354.png</key>
            <dict>
                <key>frame</key>
                <string>{{110,366},{106,98}}</string>
                <key>offset</key>
                <string>{-2,31}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{201,176},{106,98}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6032355.png</key>
            <dict>
                <key>frame</key>
                <string>{{926,118},{112,98}}</string>
                <key>offset</key>
                <string>{-1,31}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{199,176},{112,98}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6032511.png</key>
            <dict>
                <key>frame</key>
                <string>{{422,560},{98,82}}</string>
                <key>offset</key>
                <string>{0,30}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{207,185},{98,82}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6032512.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{140,78}}</string>
                <key>offset</key>
                <string>{-7,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{179,227},{140,78}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6032521.png</key>
            <dict>
                <key>frame</key>
                <string>{{520,574},{86,96}}</string>
                <key>offset</key>
                <string>{-3,35}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{210,173},{86,96}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6032522.png</key>
            <dict>
                <key>frame</key>
                <string>{{672,0},{128,82}}</string>
                <key>offset</key>
                <string>{25,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{217,221},{128,82}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6032531.png</key>
            <dict>
                <key>frame</key>
                <string>{{200,634},{80,98}}</string>
                <key>offset</key>
                <string>{7,34}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{223,173},{80,98}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6032532.png</key>
            <dict>
                <key>frame</key>
                <string>{{516,146},{118,84}}</string>
                <key>offset</key>
                <string>{16,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{213,215},{118,84}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6032541.png</key>
            <dict>
                <key>frame</key>
                <string>{{644,518},{96,98}}</string>
                <key>offset</key>
                <string>{-2,29}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{206,178},{96,98}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6032542.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,78},{132,82}}</string>
                <key>offset</key>
                <string>{15,17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{205,198},{132,82}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6032551.png</key>
            <dict>
                <key>frame</key>
                <string>{{102,558},{98,92}}</string>
                <key>offset</key>
                <string>{0,29}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{207,181},{98,92}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6032552.png</key>
            <dict>
                <key>frame</key>
                <string>{{140,0},{138,76}}</string>
                <key>offset</key>
                <string>{7,12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{194,206},{138,76}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>6032.pvr.ccz</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:525a1b1e3eca3292d86933e10a945c6f:1/1$</string>
            <key>textureFileName</key>
            <string>6032.pvr.ccz</string>
        </dict>
    </dict>
</plist>
