<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>6051111.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,552},{250,176}}</string>
                <key>offset</key>
                <string>{-7,49}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{124,119},{250,176}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6051112.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,380},{252,172}}</string>
                <key>offset</key>
                <string>{-10,47}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{120,123},{252,172}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6051113.png</key>
            <dict>
                <key>frame</key>
                <string>{{1100,410},{240,172}}</string>
                <key>offset</key>
                <string>{-10,47}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{126,123},{240,172}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6051121.png</key>
            <dict>
                <key>frame</key>
                <string>{{910,188},{262,192}}</string>
                <key>offset</key>
                <string>{4,42}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{129,118},{262,192}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6051122.png</key>
            <dict>
                <key>frame</key>
                <string>{{910,0},{264,188}}</string>
                <key>offset</key>
                <string>{2,38}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{126,124},{264,188}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6051123.png</key>
            <dict>
                <key>frame</key>
                <string>{{252,546},{250,190}}</string>
                <key>offset</key>
                <string>{-4,37}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{127,124},{250,190}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6051131.png</key>
            <dict>
                <key>frame</key>
                <string>{{250,736},{186,238}}</string>
                <key>offset</key>
                <string>{-10,26}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{153,111},{186,238}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6051132.png</key>
            <dict>
                <key>frame</key>
                <string>{{1340,558},{194,234}}</string>
                <key>offset</key>
                <string>{-6,23}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{153,116},{194,234}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6051133.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,902},{190,236}}</string>
                <key>offset</key>
                <string>{-9,20}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{152,118},{190,236}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6051141.png</key>
            <dict>
                <key>frame</key>
                <string>{{1316,916},{148,218}}</string>
                <key>offset</key>
                <string>{13,25}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{195,122},{148,218}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6051142.png</key>
            <dict>
                <key>frame</key>
                <string>{{740,754},{146,222}}</string>
                <key>offset</key>
                <string>{11,27}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{194,118},{146,222}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6051143.png</key>
            <dict>
                <key>frame</key>
                <string>{{488,770},{144,218}}</string>
                <key>offset</key>
                <string>{9,19}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{193,128},{144,218}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6051151.png</key>
            <dict>
                <key>frame</key>
                <string>{{1436,0},{250,168}}</string>
                <key>offset</key>
                <string>{6,50}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{137,122},{250,168}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6051152.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,728},{250,174}}</string>
                <key>offset</key>
                <string>{10,53}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{141,116},{250,174}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6051153.png</key>
            <dict>
                <key>frame</key>
                <string>{{860,380},{240,178}}</string>
                <key>offset</key>
                <string>{10,49}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{146,118},{240,178}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6051211.png</key>
            <dict>
                <key>frame</key>
                <string>{{824,1158},{190,164}}</string>
                <key>offset</key>
                <string>{-6,48}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{155,126},{190,164}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6051212.png</key>
            <dict>
                <key>frame</key>
                <string>{{528,1762},{180,140}}</string>
                <key>offset</key>
                <string>{-16,56}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{150,130},{180,140}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6051213.png</key>
            <dict>
                <key>frame</key>
                <string>{{176,1778},{182,176}}</string>
                <key>offset</key>
                <string>{-17,43}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{148,125},{182,176}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6051214.png</key>
            <dict>
                <key>frame</key>
                <string>{{386,1410},{184,182}}</string>
                <key>offset</key>
                <string>{-7,36}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{157,129},{184,182}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6051215.png</key>
            <dict>
                <key>frame</key>
                <string>{{1494,1312},{196,168}}</string>
                <key>offset</key>
                <string>{2,43}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{160,129},{196,168}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6051221.png</key>
            <dict>
                <key>frame</key>
                <string>{{1782,1132},{222,188}}</string>
                <key>offset</key>
                <string>{-13,41}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{132,121},{222,188}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6051222.png</key>
            <dict>
                <key>frame</key>
                <string>{{706,900},{212,180}}</string>
                <key>offset</key>
                <string>{-16,39}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{134,127},{212,180}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6051223.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,1252},{180,196}}</string>
                <key>offset</key>
                <string>{-20,37}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{146,121},{180,196}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6051224.png</key>
            <dict>
                <key>frame</key>
                <string>{{1098,980},{168,210}}</string>
                <key>offset</key>
                <string>{-4,33}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{168,118},{168,210}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6051225.png</key>
            <dict>
                <key>frame</key>
                <string>{{434,1234},{176,192}}</string>
                <key>offset</key>
                <string>{-10,42}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{158,118},{176,192}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6051231.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,1092},{160,198}}</string>
                <key>offset</key>
                <string>{1,45}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{177,112},{160,198}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6051232.png</key>
            <dict>
                <key>frame</key>
                <string>{{918,950},{180,208}}</string>
                <key>offset</key>
                <string>{-10,35}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{156,117},{180,208}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6051233.png</key>
            <dict>
                <key>frame</key>
                <string>{{488,914},{152,210}}</string>
                <key>offset</key>
                <string>{6,36}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{186,115},{152,210}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6051234.png</key>
            <dict>
                <key>frame</key>
                <string>{{630,1080},{176,194}}</string>
                <key>offset</key>
                <string>{12,44}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{180,115},{176,194}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6051235.png</key>
            <dict>
                <key>frame</key>
                <string>{{962,754},{136,196}}</string>
                <key>offset</key>
                <string>{15,59}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{203,99},{136,196}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6051241.png</key>
            <dict>
                <key>frame</key>
                <string>{{184,1612},{150,180}}</string>
                <key>offset</key>
                <string>{15,52}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{196,114},{150,180}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6051242.png</key>
            <dict>
                <key>frame</key>
                <string>{{236,922},{142,200}}</string>
                <key>offset</key>
                <string>{19,44}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{204,112},{142,200}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6051243.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,1432},{172,190}}</string>
                <key>offset</key>
                <string>{24,49}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{194,112},{172,190}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6051244.png</key>
            <dict>
                <key>frame</key>
                <string>{{1098,1148},{200,184}}</string>
                <key>offset</key>
                <string>{11,43}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{167,121},{200,184}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6051245.png</key>
            <dict>
                <key>frame</key>
                <string>{{190,1434},{178,184}}</string>
                <key>offset</key>
                <string>{5,68}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{172,96},{178,184}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6051251.png</key>
            <dict>
                <key>frame</key>
                <string>{{196,1256},{190,178}}</string>
                <key>offset</key>
                <string>{6,53}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{167,114},{190,178}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6051252.png</key>
            <dict>
                <key>frame</key>
                <string>{{1890,392},{180,158}}</string>
                <key>offset</key>
                <string>{16,62}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{182,115},{180,158}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6051253.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,1778},{182,176}}</string>
                <key>offset</key>
                <string>{16,58}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{181,110},{182,176}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6051254.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,1604},{184,174}}</string>
                <key>offset</key>
                <string>{6,47}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{170,122},{184,174}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6051255.png</key>
            <dict>
                <key>frame</key>
                <string>{{434,1066},{196,168}}</string>
                <key>offset</key>
                <string>{-3,64}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{155,108},{196,168}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6051311.png</key>
            <dict>
                <key>frame</key>
                <string>{{1098,582},{232,196}}</string>
                <key>offset</key>
                <string>{22,59}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{162,99},{232,196}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6051312.png</key>
            <dict>
                <key>frame</key>
                <string>{{236,1064},{198,192}}</string>
                <key>offset</key>
                <string>{40,57}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{197,103},{198,192}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6051313.png</key>
            <dict>
                <key>frame</key>
                <string>{{626,1406},{172,186}}</string>
                <key>offset</key>
                <string>{27,46}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{197,117},{172,186}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6051314.png</key>
            <dict>
                <key>frame</key>
                <string>{{604,354},{224,256}}</string>
                <key>offset</key>
                <string>{30,68}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{174,60},{224,256}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6051315.png</key>
            <dict>
                <key>frame</key>
                <string>{{814,1322},{176,186}}</string>
                <key>offset</key>
                <string>{31,44}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{199,119},{176,186}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6051321.png</key>
            <dict>
                <key>frame</key>
                <string>{{374,1592},{170,170}}</string>
                <key>offset</key>
                <string>{6,69}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{177,102},{170,170}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6051322.png</key>
            <dict>
                <key>frame</key>
                <string>{{1308,1064},{208,164}}</string>
                <key>offset</key>
                <string>{6,66}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{158,108},{208,164}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6051323.png</key>
            <dict>
                <key>frame</key>
                <string>{{860,558},{238,196}}</string>
                <key>offset</key>
                <string>{52,75}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{189,83},{238,196}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6051324.png</key>
            <dict>
                <key>frame</key>
                <string>{{330,0},{150,304}}</string>
                <key>offset</key>
                <string>{9,79}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{190,25},{150,304}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6051325.png</key>
            <dict>
                <key>frame</key>
                <string>{{626,1256},{150,188}}</string>
                <key>offset</key>
                <string>{9,68}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{190,94},{150,188}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6051331.png</key>
            <dict>
                <key>frame</key>
                <string>{{1298,1228},{174,196}}</string>
                <key>offset</key>
                <string>{-18,60}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{151,98},{174,196}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6051332.png</key>
            <dict>
                <key>frame</key>
                <string>{{1098,778},{202,218}}</string>
                <key>offset</key>
                <string>{-25,72}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{130,75},{202,218}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6051333.png</key>
            <dict>
                <key>frame</key>
                <string>{{1558,910},{224,224}}</string>
                <key>offset</key>
                <string>{52,76}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{196,68},{224,224}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6051334.png</key>
            <dict>
                <key>frame</key>
                <string>{{1174,0},{262,244}}</string>
                <key>offset</key>
                <string>{-30,74}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{95,60},{262,244}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6051335.png</key>
            <dict>
                <key>frame</key>
                <string>{{502,578},{238,192}}</string>
                <key>offset</key>
                <string>{-43,60}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{94,100},{238,192}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6051341.png</key>
            <dict>
                <key>frame</key>
                <string>{{352,1762},{180,176}}</string>
                <key>offset</key>
                <string>{-25,45}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{141,123},{180,176}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6051342.png</key>
            <dict>
                <key>frame</key>
                <string>{{1436,168},{186,242}}</string>
                <key>offset</key>
                <string>{-11,79}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{152,56},{186,242}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6051343.png</key>
            <dict>
                <key>frame</key>
                <string>{{330,150},{224,274}}</string>
                <key>offset</key>
                <string>{-2,96}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{142,23},{224,274}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6051344.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{330,188}}</string>
                <key>offset</key>
                <string>{-44,53}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{47,109},{330,188}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6051345.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,188},{266,192}}</string>
                <key>offset</key>
                <string>{-60,55}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{63,105},{266,192}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6051351.png</key>
            <dict>
                <key>frame</key>
                <string>{{1574,568},{232,170}}</string>
                <key>offset</key>
                <string>{-22,48}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{118,123},{232,170}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6051352.png</key>
            <dict>
                <key>frame</key>
                <string>{{1782,934},{198,224}}</string>
                <key>offset</key>
                <string>{-40,67}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{117,77},{198,224}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6051353.png</key>
            <dict>
                <key>frame</key>
                <string>{{266,374},{172,256}}</string>
                <key>offset</key>
                <string>{-28,98}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{142,30},{172,256}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6051354.png</key>
            <dict>
                <key>frame</key>
                <string>{{1804,750},{226,184}}</string>
                <key>offset</key>
                <string>{-32,59}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{111,105},{226,184}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6051355.png</key>
            <dict>
                <key>frame</key>
                <string>{{1654,392},{176,236}}</string>
                <key>offset</key>
                <string>{-32,25}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{136,113},{176,236}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6051511.png</key>
            <dict>
                <key>frame</key>
                <string>{{1574,738},{230,172}}</string>
                <key>offset</key>
                <string>{14,57}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{155,113},{230,172}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6051512.png</key>
            <dict>
                <key>frame</key>
                <string>{{1330,752},{228,164}}</string>
                <key>offset</key>
                <string>{59,65}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{201,109},{228,164}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6051521.png</key>
            <dict>
                <key>frame</key>
                <string>{{1172,244},{242,166}}</string>
                <key>offset</key>
                <string>{-45,68}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{90,105},{242,166}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6051522.png</key>
            <dict>
                <key>frame</key>
                <string>{{604,210},{262,144}}</string>
                <key>offset</key>
                <string>{-7,87}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{118,97},{262,144}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6051531.png</key>
            <dict>
                <key>frame</key>
                <string>{{634,0},{276,210}}</string>
                <key>offset</key>
                <string>{-72,54}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{46,97},{276,210}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6051532.png</key>
            <dict>
                <key>frame</key>
                <string>{{1686,0},{246,160}}</string>
                <key>offset</key>
                <string>{-94,51}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{39,125},{246,160}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6051541.png</key>
            <dict>
                <key>frame</key>
                <string>{{1414,354},{204,240}}</string>
                <key>offset</key>
                <string>{-61,27}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{93,109},{204,240}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6051542.png</key>
            <dict>
                <key>frame</key>
                <string>{{1516,1134},{196,178}}</string>
                <key>offset</key>
                <string>{-100,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{58,162},{196,178}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6051551.png</key>
            <dict>
                <key>frame</key>
                <string>{{1686,160},{232,244}}</string>
                <key>offset</key>
                <string>{-15,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{125,138},{232,244}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6051552.png</key>
            <dict>
                <key>frame</key>
                <string>{{1806,572},{230,178}}</string>
                <key>offset</key>
                <string>{-60,-46}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{81,213},{230,178}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>6051.pvr.ccz</string>
            <key>size</key>
            <string>{2048,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:1a1fcfd6ca6597c2bb3a3ca645806a45:1/1$</string>
            <key>textureFileName</key>
            <string>6051.pvr.ccz</string>
        </dict>
    </dict>
</plist>
