<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>6050111.png</key>
            <dict>
                <key>frame</key>
                <string>{{856,1272},{276,270}}</string>
                <key>offset</key>
                <string>{28,140}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{402,237},{276,270}}</string>
                <key>sourceSize</key>
                <string>{1024,1024}</string>
            </dict>
            <key>6050112.png</key>
            <dict>
                <key>frame</key>
                <string>{{1678,1442},{272,260}}</string>
                <key>offset</key>
                <string>{25,135}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{401,247},{272,260}}</string>
                <key>sourceSize</key>
                <string>{1024,1024}</string>
            </dict>
            <key>6050113.png</key>
            <dict>
                <key>frame</key>
                <string>{{1276,838},{280,260}}</string>
                <key>offset</key>
                <string>{29,136}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{401,246},{280,260}}</string>
                <key>sourceSize</key>
                <string>{1024,1024}</string>
            </dict>
            <key>6050121.png</key>
            <dict>
                <key>frame</key>
                <string>{{1296,1850},{204,248}}</string>
                <key>offset</key>
                <string>{-38,120}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{372,268},{204,248}}</string>
                <key>sourceSize</key>
                <string>{1024,1024}</string>
            </dict>
            <key>6050122.png</key>
            <dict>
                <key>frame</key>
                <string>{{1790,1948},{184,246}}</string>
                <key>offset</key>
                <string>{-41,119}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{379,270},{184,246}}</string>
                <key>sourceSize</key>
                <string>{1024,1024}</string>
            </dict>
            <key>6050123.png</key>
            <dict>
                <key>frame</key>
                <string>{{1836,948},{212,246}}</string>
                <key>offset</key>
                <string>{-40,118}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{366,271},{212,246}}</string>
                <key>sourceSize</key>
                <string>{1024,1024}</string>
            </dict>
            <key>6050131.png</key>
            <dict>
                <key>frame</key>
                <string>{{1580,1702},{206,248}}</string>
                <key>offset</key>
                <string>{-86,110}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{323,278},{206,248}}</string>
                <key>sourceSize</key>
                <string>{1024,1024}</string>
            </dict>
            <key>6050132.png</key>
            <dict>
                <key>frame</key>
                <string>{{766,2214},{212,244}}</string>
                <key>offset</key>
                <string>{-87,109}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{319,281},{212,244}}</string>
                <key>sourceSize</key>
                <string>{1024,1024}</string>
            </dict>
            <key>6050133.png</key>
            <dict>
                <key>frame</key>
                <string>{{504,2396},{210,244}}</string>
                <key>offset</key>
                <string>{-90,107}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{317,283},{210,244}}</string>
                <key>sourceSize</key>
                <string>{1024,1024}</string>
            </dict>
            <key>6050141.png</key>
            <dict>
                <key>frame</key>
                <string>{{1278,2054},{244,242}}</string>
                <key>offset</key>
                <string>{-51,54}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{339,337},{244,242}}</string>
                <key>sourceSize</key>
                <string>{1024,1024}</string>
            </dict>
            <key>6050142.png</key>
            <dict>
                <key>frame</key>
                <string>{{516,2164},{250,232}}</string>
                <key>offset</key>
                <string>{-53,53}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{334,343},{250,232}}</string>
                <key>sourceSize</key>
                <string>{1024,1024}</string>
            </dict>
            <key>6050143.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,2420},{248,236}}</string>
                <key>offset</key>
                <string>{-51,57}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{337,337},{248,236}}</string>
                <key>sourceSize</key>
                <string>{1024,1024}</string>
            </dict>
            <key>6050151.png</key>
            <dict>
                <key>frame</key>
                <string>{{1474,1186},{276,242}}</string>
                <key>offset</key>
                <string>{-29,24}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{345,367},{276,242}}</string>
                <key>sourceSize</key>
                <string>{1024,1024}</string>
            </dict>
            <key>6050152.png</key>
            <dict>
                <key>frame</key>
                <string>{{272,1248},{272,236}}</string>
                <key>offset</key>
                <string>{-26,25}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{350,369},{272,236}}</string>
                <key>sourceSize</key>
                <string>{1024,1024}</string>
            </dict>
            <key>6050153.png</key>
            <dict>
                <key>frame</key>
                <string>{{1194,1098},{280,236}}</string>
                <key>offset</key>
                <string>{-29,24}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{343,370},{280,236}}</string>
                <key>sourceSize</key>
                <string>{1024,1024}</string>
            </dict>
            <key>6050211.png</key>
            <dict>
                <key>frame</key>
                <string>{{806,1542},{260,218}}</string>
                <key>offset</key>
                <string>{3,115}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{385,288},{260,218}}</string>
                <key>sourceSize</key>
                <string>{1024,1024}</string>
            </dict>
            <key>6050212.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,2192},{256,228}}</string>
                <key>offset</key>
                <string>{13,120}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{397,278},{256,228}}</string>
                <key>sourceSize</key>
                <string>{1024,1024}</string>
            </dict>
            <key>6050213.png</key>
            <dict>
                <key>frame</key>
                <string>{{542,1528},{264,216}}</string>
                <key>offset</key>
                <string>{4,114}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{384,290},{264,216}}</string>
                <key>sourceSize</key>
                <string>{1024,1024}</string>
            </dict>
            <key>6050214.png</key>
            <dict>
                <key>frame</key>
                <string>{{1066,1556},{258,220}}</string>
                <key>offset</key>
                <string>{-10,116}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{373,286},{258,220}}</string>
                <key>sourceSize</key>
                <string>{1024,1024}</string>
            </dict>
            <key>6050215.png</key>
            <dict>
                <key>frame</key>
                <string>{{786,1760},{258,218}}</string>
                <key>offset</key>
                <string>{-15,115}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{368,288},{258,218}}</string>
                <key>sourceSize</key>
                <string>{1024,1024}</string>
            </dict>
            <key>6050221.png</key>
            <dict>
                <key>frame</key>
                <string>{{256,2212},{248,246}}</string>
                <key>offset</key>
                <string>{-57,124}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{331,265},{248,246}}</string>
                <key>sourceSize</key>
                <string>{1024,1024}</string>
            </dict>
            <key>6050222.png</key>
            <dict>
                <key>frame</key>
                <string>{{264,1714},{262,254}}</string>
                <key>offset</key>
                <string>{-64,125}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{317,260},{262,254}}</string>
                <key>sourceSize</key>
                <string>{1024,1024}</string>
            </dict>
            <key>6050223.png</key>
            <dict>
                <key>frame</key>
                <string>{{1750,1194},{274,248}}</string>
                <key>offset</key>
                <string>{-71,124}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{304,264},{274,248}}</string>
                <key>sourceSize</key>
                <string>{1024,1024}</string>
            </dict>
            <key>6050224.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,1942},{260,250}}</string>
                <key>offset</key>
                <string>{-63,129}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{319,258},{260,250}}</string>
                <key>sourceSize</key>
                <string>{1024,1024}</string>
            </dict>
            <key>6050225.png</key>
            <dict>
                <key>frame</key>
                <string>{{526,1918},{256,246}}</string>
                <key>offset</key>
                <string>{-59,128}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{325,261},{256,246}}</string>
                <key>sourceSize</key>
                <string>{1024,1024}</string>
            </dict>
            <key>6050231.png</key>
            <dict>
                <key>frame</key>
                <string>{{1362,594},{314,244}}</string>
                <key>offset</key>
                <string>{-102,105}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{253,285},{314,244}}</string>
                <key>sourceSize</key>
                <string>{1024,1024}</string>
            </dict>
            <key>6050232.png</key>
            <dict>
                <key>frame</key>
                <string>{{708,264},{328,258}}</string>
                <key>offset</key>
                <string>{-106,109}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{242,274},{328,258}}</string>
                <key>sourceSize</key>
                <string>{1024,1024}</string>
            </dict>
            <key>6050233.png</key>
            <dict>
                <key>frame</key>
                <string>{{1062,260},{332,248}}</string>
                <key>offset</key>
                <string>{-107,105}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{239,283},{332,248}}</string>
                <key>sourceSize</key>
                <string>{1024,1024}</string>
            </dict>
            <key>6050234.png</key>
            <dict>
                <key>frame</key>
                <string>{{1726,486},{318,244}}</string>
                <key>offset</key>
                <string>{-102,104}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{251,286},{318,244}}</string>
                <key>sourceSize</key>
                <string>{1024,1024}</string>
            </dict>
            <key>6050235.png</key>
            <dict>
                <key>frame</key>
                <string>{{346,470},{324,234}}</string>
                <key>offset</key>
                <string>{-108,100}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{242,295},{324,234}}</string>
                <key>sourceSize</key>
                <string>{1024,1024}</string>
            </dict>
            <key>6050241.png</key>
            <dict>
                <key>frame</key>
                <string>{{314,704},{312,268}}</string>
                <key>offset</key>
                <string>{-58,29}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{298,349},{312,268}}</string>
                <key>sourceSize</key>
                <string>{1024,1024}</string>
            </dict>
            <key>6050242.png</key>
            <dict>
                <key>frame</key>
                <string>{{984,736},{292,284}}</string>
                <key>offset</key>
                <string>{-47,29}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{319,341},{292,284}}</string>
                <key>sourceSize</key>
                <string>{1024,1024}</string>
            </dict>
            <key>6050243.png</key>
            <dict>
                <key>frame</key>
                <string>{{294,972},{282,276}}</string>
                <key>offset</key>
                <string>{-41,19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{330,355},{282,276}}</string>
                <key>sourceSize</key>
                <string>{1024,1024}</string>
            </dict>
            <key>6050244.png</key>
            <dict>
                <key>frame</key>
                <string>{{1744,0},{294,264}}</string>
                <key>offset</key>
                <string>{-47,24}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{318,356},{294,264}}</string>
                <key>sourceSize</key>
                <string>{1024,1024}</string>
            </dict>
            <key>6050245.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,482},{314,260}}</string>
                <key>offset</key>
                <string>{-58,24}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{297,358},{314,260}}</string>
                <key>sourceSize</key>
                <string>{1024,1024}</string>
            </dict>
            <key>6050251.png</key>
            <dict>
                <key>frame</key>
                <string>{{1404,0},{262,340}}</string>
                <key>offset</key>
                <string>{-4,18}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{377,324},{262,340}}</string>
                <key>sourceSize</key>
                <string>{1024,1024}</string>
            </dict>
            <key>6050252.png</key>
            <dict>
                <key>frame</key>
                <string>{{360,212},{258,348}}</string>
                <key>offset</key>
                <string>{-14,15}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{369,323},{258,348}}</string>
                <key>sourceSize</key>
                <string>{1024,1024}</string>
            </dict>
            <key>6050253.png</key>
            <dict>
                <key>frame</key>
                <string>{{712,0},{264,350}}</string>
                <key>offset</key>
                <string>{-4,15}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{376,322},{264,350}}</string>
                <key>sourceSize</key>
                <string>{1024,1024}</string>
            </dict>
            <key>6050254.png</key>
            <dict>
                <key>frame</key>
                <string>{{1062,0},{260,342}}</string>
                <key>offset</key>
                <string>{9,17}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{391,324},{260,342}}</string>
                <key>sourceSize</key>
                <string>{1024,1024}</string>
            </dict>
            <key>6050255.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,224},{258,346}}</string>
                <key>offset</key>
                <string>{15,13}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{398,326},{258,346}}</string>
                <key>sourceSize</key>
                <string>{1024,1024}</string>
            </dict>
            <key>6050311.png</key>
            <dict>
                <key>frame</key>
                <string>{{1406,1428},{272,264}}</string>
                <key>offset</key>
                <string>{28,137}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{404,243},{272,264}}</string>
                <key>sourceSize</key>
                <string>{1024,1024}</string>
            </dict>
            <key>6050312.png</key>
            <dict>
                <key>frame</key>
                <string>{{1032,2192},{222,244}}</string>
                <key>offset</key>
                <string>{27,128}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{428,262},{222,244}}</string>
                <key>sourceSize</key>
                <string>{1024,1024}</string>
            </dict>
            <key>6050313.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,2656},{222,232}}</string>
                <key>offset</key>
                <string>{18,123}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{419,273},{222,232}}</string>
                <key>sourceSize</key>
                <string>{1024,1024}</string>
            </dict>
            <key>6050314.png</key>
            <dict>
                <key>frame</key>
                <string>{{1556,948},{280,238}}</string>
                <key>offset</key>
                <string>{-56,126}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{316,267},{280,238}}</string>
                <key>sourceSize</key>
                <string>{1024,1024}</string>
            </dict>
            <key>6050315.png</key>
            <dict>
                <key>frame</key>
                <string>{{1522,2098},{174,226}}</string>
                <key>offset</key>
                <string>{0,120}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{425,279},{174,226}}</string>
                <key>sourceSize</key>
                <string>{1024,1024}</string>
            </dict>
            <key>6050321.png</key>
            <dict>
                <key>frame</key>
                <string>{{1828,1702},{218,246}}</string>
                <key>offset</key>
                <string>{-58,119}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{345,270},{218,246}}</string>
                <key>sourceSize</key>
                <string>{1024,1024}</string>
            </dict>
            <key>6050322.png</key>
            <dict>
                <key>frame</key>
                <string>{{544,1282},{270,246}}</string>
                <key>offset</key>
                <string>{-20,121}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{357,268},{270,246}}</string>
                <key>sourceSize</key>
                <string>{1024,1024}</string>
            </dict>
            <key>6050323.png</key>
            <dict>
                <key>frame</key>
                <string>{{248,2458},{202,238}}</string>
                <key>offset</key>
                <string>{-5,117}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{406,276},{202,238}}</string>
                <key>sourceSize</key>
                <string>{1024,1024}</string>
            </dict>
            <key>6050324.png</key>
            <dict>
                <key>frame</key>
                <string>{{1324,1692},{158,256}}</string>
                <key>offset</key>
                <string>{-25,98}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{408,286},{158,256}}</string>
                <key>sourceSize</key>
                <string>{1024,1024}</string>
            </dict>
            <key>6050325.png</key>
            <dict>
                <key>frame</key>
                <string>{{1522,2272},{214,212}}</string>
                <key>offset</key>
                <string>{-42,103}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{363,303},{214,212}}</string>
                <key>sourceSize</key>
                <string>{1024,1024}</string>
            </dict>
            <key>6050331.png</key>
            <dict>
                <key>frame</key>
                <string>{{1032,1990},{202,246}}</string>
                <key>offset</key>
                <string>{-84,109}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{327,280},{202,246}}</string>
                <key>sourceSize</key>
                <string>{1024,1024}</string>
            </dict>
            <key>6050332.png</key>
            <dict>
                <key>frame</key>
                <string>{{272,1484},{270,230}}</string>
                <key>offset</key>
                <string>{-25,103}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{352,294},{270,230}}</string>
                <key>sourceSize</key>
                <string>{1024,1024}</string>
            </dict>
            <key>6050333.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,990},{282,258}}</string>
                <key>offset</key>
                <string>{-13,117}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{358,266},{282,258}}</string>
                <key>sourceSize</key>
                <string>{1024,1024}</string>
            </dict>
            <key>6050334.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,1726},{262,216}}</string>
                <key>offset</key>
                <string>{-15,82}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{366,322},{262,216}}</string>
                <key>sourceSize</key>
                <string>{1024,1024}</string>
            </dict>
            <key>6050335.png</key>
            <dict>
                <key>frame</key>
                <string>{{1748,2132},{212,224}}</string>
                <key>offset</key>
                <string>{-44,92}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{362,308},{212,224}}</string>
                <key>sourceSize</key>
                <string>{1024,1024}</string>
            </dict>
            <key>6050341.png</key>
            <dict>
                <key>frame</key>
                <string>{{782,1978},{250,236}}</string>
                <key>offset</key>
                <string>{-55,51}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{332,343},{250,236}}</string>
                <key>sourceSize</key>
                <string>{1024,1024}</string>
            </dict>
            <key>6050342.png</key>
            <dict>
                <key>frame</key>
                <string>{{1676,730},{218,294}}</string>
                <key>offset</key>
                <string>{-66,81}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{337,284},{218,294}}</string>
                <key>sourceSize</key>
                <string>{1024,1024}</string>
            </dict>
            <key>6050343.png</key>
            <dict>
                <key>frame</key>
                <string>{{576,1042},{240,280}}</string>
                <key>offset</key>
                <string>{-19,79}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{373,293},{240,280}}</string>
                <key>sourceSize</key>
                <string>{1024,1024}</string>
            </dict>
            <key>6050344.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{360,224}}</string>
                <key>offset</key>
                <string>{35,62}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{367,338},{360,224}}</string>
                <key>sourceSize</key>
                <string>{1024,1024}</string>
            </dict>
            <key>6050345.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,1490},{236,264}}</string>
                <key>offset</key>
                <string>{-33,57}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{361,323},{236,264}}</string>
                <key>sourceSize</key>
                <string>{1024,1024}</string>
            </dict>
            <key>6050351.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,1248},{272,242}}</string>
                <key>offset</key>
                <string>{-29,25}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{347,366},{272,242}}</string>
                <key>sourceSize</key>
                <string>{1024,1024}</string>
            </dict>
            <key>6050352.png</key>
            <dict>
                <key>frame</key>
                <string>{{1726,264},{222,320}}</string>
                <key>offset</key>
                <string>{-28,64}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{373,288},{222,320}}</string>
                <key>sourceSize</key>
                <string>{1024,1024}</string>
            </dict>
            <key>6050353.png</key>
            <dict>
                <key>frame</key>
                <string>{{1132,1334},{222,274}}</string>
                <key>offset</key>
                <string>{-18,46}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{383,329},{222,274}}</string>
                <key>sourceSize</key>
                <string>{1024,1024}</string>
            </dict>
            <key>6050354.png</key>
            <dict>
                <key>frame</key>
                <string>{{626,762},{280,288}}</string>
                <key>offset</key>
                <string>{54,59}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{426,309},{280,288}}</string>
                <key>sourceSize</key>
                <string>{1024,1024}</string>
            </dict>
            <key>6050355.png</key>
            <dict>
                <key>frame</key>
                <string>{{526,1744},{174,260}}</string>
                <key>offset</key>
                <string>{-1,41}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{424,341},{174,260}}</string>
                <key>sourceSize</key>
                <string>{1024,1024}</string>
            </dict>
            <key>6050511.png</key>
            <dict>
                <key>frame</key>
                <string>{{260,1968},{244,256}}</string>
                <key>offset</key>
                <string>{22,81}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{412,303},{244,256}}</string>
                <key>sourceSize</key>
                <string>{1024,1024}</string>
            </dict>
            <key>6050512.png</key>
            <dict>
                <key>frame</key>
                <string>{{1394,428},{332,166}}</string>
                <key>offset</key>
                <string>{64,24}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{410,405},{332,166}}</string>
                <key>sourceSize</key>
                <string>{1024,1024}</string>
            </dict>
            <key>6050521.png</key>
            <dict>
                <key>frame</key>
                <string>{{670,522},{240,314}}</string>
                <key>offset</key>
                <string>{-25,93}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{367,262},{240,314}}</string>
                <key>sourceSize</key>
                <string>{1024,1024}</string>
            </dict>
            <key>6050522.png</key>
            <dict>
                <key>frame</key>
                <string>{{1036,508},{326,228}}</string>
                <key>offset</key>
                <string>{19,38}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{368,360},{326,228}}</string>
                <key>sourceSize</key>
                <string>{1024,1024}</string>
            </dict>
            <key>6050531.png</key>
            <dict>
                <key>frame</key>
                <string>{{914,1020},{252,280}}</string>
                <key>offset</key>
                <string>{-34,89}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{352,283},{252,280}}</string>
                <key>sourceSize</key>
                <string>{1024,1024}</string>
            </dict>
            <key>6050532.png</key>
            <dict>
                <key>frame</key>
                <string>{{1044,1776},{252,214}}</string>
                <key>offset</key>
                <string>{-34,42}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{352,363},{252,214}}</string>
                <key>sourceSize</key>
                <string>{1024,1024}</string>
            </dict>
            <key>6050541.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,742},{294,248}}</string>
                <key>offset</key>
                <string>{-30,32}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{335,356},{294,248}}</string>
                <key>sourceSize</key>
                <string>{1024,1024}</string>
            </dict>
            <key>6050542.png</key>
            <dict>
                <key>frame</key>
                <string>{{360,0},{352,212}}</string>
                <key>offset</key>
                <string>{-58,14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{278,392},{352,212}}</string>
                <key>sourceSize</key>
                <string>{1024,1024}</string>
            </dict>
            <key>6050551.png</key>
            <dict>
                <key>frame</key>
                <string>{{1544,1908},{246,190}}</string>
                <key>offset</key>
                <string>{-23,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{366,410},{246,190}}</string>
                <key>sourceSize</key>
                <string>{1024,1024}</string>
            </dict>
            <key>6050552.png</key>
            <dict>
                <key>frame</key>
                <string>{{1394,262},{332,166}}</string>
                <key>offset</key>
                <string>{-65,-18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{281,447},{332,166}}</string>
                <key>sourceSize</key>
                <string>{1024,1024}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>6050.pvr.ccz</string>
            <key>size</key>
            <string>{2048,4096}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:5baa058ae7b94be335918a22baef4d93:1/1$</string>
            <key>textureFileName</key>
            <string>6050.pvr.ccz</string>
        </dict>
    </dict>
</plist>
