<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>6025111.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,838},{78,90}}</string>
                <key>offset</key>
                <string>{0,38}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{217,173},{78,90}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6025112.png</key>
            <dict>
                <key>frame</key>
                <string>{{92,772},{80,90}}</string>
                <key>offset</key>
                <string>{-1,38}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{215,173},{80,90}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6025113.png</key>
            <dict>
                <key>frame</key>
                <string>{{384,632},{82,92}}</string>
                <key>offset</key>
                <string>{0,39}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{215,171},{82,92}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6025121.png</key>
            <dict>
                <key>frame</key>
                <string>{{128,914},{62,90}}</string>
                <key>offset</key>
                <string>{8,41}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{233,170},{62,90}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6025122.png</key>
            <dict>
                <key>frame</key>
                <string>{{90,852},{62,90}}</string>
                <key>offset</key>
                <string>{6,41}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{231,170},{62,90}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6025123.png</key>
            <dict>
                <key>frame</key>
                <string>{{66,916},{62,90}}</string>
                <key>offset</key>
                <string>{6,41}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{231,170},{62,90}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6025131.png</key>
            <dict>
                <key>frame</key>
                <string>{{310,380},{42,102}}</string>
                <key>offset</key>
                <string>{2,43}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{237,162},{42,102}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6025132.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,380},{42,102}}</string>
                <key>offset</key>
                <string>{0,43}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{235,162},{42,102}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6025133.png</key>
            <dict>
                <key>frame</key>
                <string>{{206,400},{40,102}}</string>
                <key>offset</key>
                <string>{-1,43}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{235,162},{40,102}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6025141.png</key>
            <dict>
                <key>frame</key>
                <string>{{450,100},{62,106}}</string>
                <key>offset</key>
                <string>{11,42}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{236,161},{62,106}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6025142.png</key>
            <dict>
                <key>frame</key>
                <string>{{104,284},{62,104}}</string>
                <key>offset</key>
                <string>{10,41}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{235,163},{62,104}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6025143.png</key>
            <dict>
                <key>frame</key>
                <string>{{208,334},{66,102}}</string>
                <key>offset</key>
                <string>{8,40}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{231,165},{66,102}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6025151.png</key>
            <dict>
                <key>frame</key>
                <string>{{434,206},{78,98}}</string>
                <key>offset</key>
                <string>{0,39}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{217,168},{78,98}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6025152.png</key>
            <dict>
                <key>frame</key>
                <string>{{98,490},{80,98}}</string>
                <key>offset</key>
                <string>{0,39}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{216,168},{80,98}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6025153.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,422},{82,98}}</string>
                <key>offset</key>
                <string>{0,39}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{215,168},{82,98}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6025211.png</key>
            <dict>
                <key>frame</key>
                <string>{{200,440},{80,98}}</string>
                <key>offset</key>
                <string>{4,34}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{220,173},{80,98}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6025212.png</key>
            <dict>
                <key>frame</key>
                <string>{{396,508},{80,96}}</string>
                <key>offset</key>
                <string>{12,37}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{228,171},{80,96}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6025213.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,756},{82,92}}</string>
                <key>offset</key>
                <string>{3,38}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{218,172},{82,92}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6025214.png</key>
            <dict>
                <key>frame</key>
                <string>{{102,408},{82,98}}</string>
                <key>offset</key>
                <string>{-5,35}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{210,172},{82,98}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6025215.png</key>
            <dict>
                <key>frame</key>
                <string>{{420,304},{82,92}}</string>
                <key>offset</key>
                <string>{-7,40}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{208,170},{82,92}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6025221.png</key>
            <dict>
                <key>frame</key>
                <string>{{286,700},{74,92}}</string>
                <key>offset</key>
                <string>{15,40}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{234,170},{74,92}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6025222.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,626},{82,96}}</string>
                <key>offset</key>
                <string>{17,43}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{232,165},{82,96}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6025223.png</key>
            <dict>
                <key>frame</key>
                <string>{{292,542},{70,96}}</string>
                <key>offset</key>
                <string>{22,38}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{243,170},{70,96}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6025224.png</key>
            <dict>
                <key>frame</key>
                <string>{{412,386},{72,100}}</string>
                <key>offset</key>
                <string>{15,37}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{235,169},{72,100}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6025225.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,504},{64,98}}</string>
                <key>offset</key>
                <string>{15,41}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{239,166},{64,98}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6025231.png</key>
            <dict>
                <key>frame</key>
                <string>{{104,346},{62,102}}</string>
                <key>offset</key>
                <string>{9,46}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{234,159},{62,102}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6025232.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,328},{52,104}}</string>
                <key>offset</key>
                <string>{8,45}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{238,159},{52,104}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6025233.png</key>
            <dict>
                <key>frame</key>
                <string>{{108,232},{52,106}}</string>
                <key>offset</key>
                <string>{13,46}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{243,157},{52,106}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6025234.png</key>
            <dict>
                <key>frame</key>
                <string>{{328,152},{66,106}}</string>
                <key>offset</key>
                <string>{6,48}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{229,155},{66,106}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6025235.png</key>
            <dict>
                <key>frame</key>
                <string>{{110,124},{48,110}}</string>
                <key>offset</key>
                <string>{11,49}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{243,152},{48,110}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6025241.png</key>
            <dict>
                <key>frame</key>
                <string>{{220,140},{66,108}}</string>
                <key>offset</key>
                <string>{18,47}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{241,155},{66,108}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6025242.png</key>
            <dict>
                <key>frame</key>
                <string>{{110,172},{60,108}}</string>
                <key>offset</key>
                <string>{11,46}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{237,156},{60,108}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6025243.png</key>
            <dict>
                <key>frame</key>
                <string>{{218,206},{60,106}}</string>
                <key>offset</key>
                <string>{14,52}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{240,151},{60,106}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6025244.png</key>
            <dict>
                <key>frame</key>
                <string>{{230,64},{76,110}}</string>
                <key>offset</key>
                <string>{11,53}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{229,148},{76,110}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6025245.png</key>
            <dict>
                <key>frame</key>
                <string>{{118,48},{76,112}}</string>
                <key>offset</key>
                <string>{15,53}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{233,147},{76,112}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6025251.png</key>
            <dict>
                <key>frame</key>
                <string>{{324,218},{80,104}}</string>
                <key>offset</key>
                <string>{-5,47}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{211,157},{80,104}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6025252.png</key>
            <dict>
                <key>frame</key>
                <string>{{348,0},{80,110}}</string>
                <key>offset</key>
                <string>{-12,51}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{204,150},{80,110}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6025253.png</key>
            <dict>
                <key>frame</key>
                <string>{{318,298},{82,102}}</string>
                <key>offset</key>
                <string>{-3,46}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{212,159},{82,102}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6025254.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,108},{82,110}}</string>
                <key>offset</key>
                <string>{5,47}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{220,154},{82,110}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6025255.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,246},{82,104}}</string>
                <key>offset</key>
                <string>{7,51}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{222,153},{82,104}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6025311.png</key>
            <dict>
                <key>frame</key>
                <string>{{282,912},{84,84}}</string>
                <key>offset</key>
                <string>{0,31}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{214,183},{84,84}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6025312.png</key>
            <dict>
                <key>frame</key>
                <string>{{234,0},{64,114}}</string>
                <key>offset</key>
                <string>{-4,53}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{220,146},{64,114}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6025313.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,62},{46,112}}</string>
                <key>offset</key>
                <string>{-2,50}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{231,150},{46,112}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6025314.png</key>
            <dict>
                <key>frame</key>
                <string>{{378,714},{50,74}}</string>
                <key>offset</key>
                <string>{0,26}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{231,193},{50,74}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6025315.png</key>
            <dict>
                <key>frame</key>
                <string>{{452,714},{44,70}}</string>
                <key>offset</key>
                <string>{1,24}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{235,197},{44,70}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6025321.png</key>
            <dict>
                <key>frame</key>
                <string>{{390,784},{70,80}}</string>
                <key>offset</key>
                <string>{13,35}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{234,181},{70,80}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6025322.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{62,118}}</string>
                <key>offset</key>
                <string>{-10,55}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{215,142},{62,118}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6025323.png</key>
            <dict>
                <key>frame</key>
                <string>{{340,80},{72,110}}</string>
                <key>offset</key>
                <string>{-10,51}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{210,150},{72,110}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6025324.png</key>
            <dict>
                <key>frame</key>
                <string>{{366,854},{72,70}}</string>
                <key>offset</key>
                <string>{14,30}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{234,191},{72,70}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6025325.png</key>
            <dict>
                <key>frame</key>
                <string>{{262,852},{60,68}}</string>
                <key>offset</key>
                <string>{8,29}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{234,193},{60,68}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6025331.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,708},{48,96}}</string>
                <key>offset</key>
                <string>{5,40}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{237,168},{48,96}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6025332.png</key>
            <dict>
                <key>frame</key>
                <string>{{118,0},{48,116}}</string>
                <key>offset</key>
                <string>{-7,50}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{225,148},{48,116}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6025333.png</key>
            <dict>
                <key>frame</key>
                <string>{{214,266},{68,104}}</string>
                <key>offset</key>
                <string>{-10,44}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{212,160},{68,104}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6025334.png</key>
            <dict>
                <key>frame</key>
                <string>{{306,774},{74,84}}</string>
                <key>offset</key>
                <string>{18,34}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{237,180},{74,84}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6025335.png</key>
            <dict>
                <key>frame</key>
                <string>{{182,786},{66,74}}</string>
                <key>offset</key>
                <string>{14,29}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{237,190},{66,74}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6025341.png</key>
            <dict>
                <key>frame</key>
                <string>{{308,422},{62,100}}</string>
                <key>offset</key>
                <string>{15,39}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{240,167},{62,100}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6025342.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,190},{56,108}}</string>
                <key>offset</key>
                <string>{-12,43}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{216,159},{56,108}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6025343.png</key>
            <dict>
                <key>frame</key>
                <string>{{190,730},{56,92}}</string>
                <key>offset</key>
                <string>{-15,35}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{213,175},{56,92}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6025344.png</key>
            <dict>
                <key>frame</key>
                <string>{{96,654},{62,96}}</string>
                <key>offset</key>
                <string>{23,37}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{248,171},{62,96}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6025345.png</key>
            <dict>
                <key>frame</key>
                <string>{{190,912},{46,90}}</string>
                <key>offset</key>
                <string>{15,34}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{248,177},{46,90}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6025351.png</key>
            <dict>
                <key>frame</key>
                <string>{{98,570},{84,96}}</string>
                <key>offset</key>
                <string>{-1,38}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{213,170},{84,96}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6025352.png</key>
            <dict>
                <key>frame</key>
                <string>{{192,666},{64,94}}</string>
                <key>offset</key>
                <string>{3,37}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{227,172},{64,94}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6025353.png</key>
            <dict>
                <key>frame</key>
                <string>{{236,912},{46,88}}</string>
                <key>offset</key>
                <string>{2,34}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{235,178},{46,88}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6025354.png</key>
            <dict>
                <key>frame</key>
                <string>{{408,458},{50,100}}</string>
                <key>offset</key>
                <string>{-1,40}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{230,166},{50,100}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6025355.png</key>
            <dict>
                <key>frame</key>
                <string>{{388,588},{44,96}}</string>
                <key>offset</key>
                <string>{-1,38}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{233,170},{44,96}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6025511.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,916},{66,90}}</string>
                <key>offset</key>
                <string>{-1,51}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{222,160},{66,90}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6025512.png</key>
            <dict>
                <key>frame</key>
                <string>{{194,604},{96,62}}</string>
                <key>offset</key>
                <string>{-1,37}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{207,188},{96,62}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6025521.png</key>
            <dict>
                <key>frame</key>
                <string>{{290,612},{88,94}}</string>
                <key>offset</key>
                <string>{-28,48}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{184,161},{88,94}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6025522.png</key>
            <dict>
                <key>frame</key>
                <string>{{96,716},{94,56}}</string>
                <key>offset</key>
                <string>{-45,28}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{164,200},{94,56}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6025531.png</key>
            <dict>
                <key>frame</key>
                <string>{{196,520},{96,84}}</string>
                <key>offset</key>
                <string>{-37,38}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{171,176},{96,84}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6025532.png</key>
            <dict>
                <key>frame</key>
                <string>{{458,0},{100,54}}</string>
                <key>offset</key>
                <string>{-63,6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{143,223},{100,54}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6025541.png</key>
            <dict>
                <key>frame</key>
                <string>{{180,852},{82,60}}</string>
                <key>offset</key>
                <string>{-28,25}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{187,201},{82,60}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6025542.png</key>
            <dict>
                <key>frame</key>
                <string>{{298,484},{98,58}}</string>
                <key>offset</key>
                <string>{-44,-14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{163,241},{98,58}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6025551.png</key>
            <dict>
                <key>frame</key>
                <string>{{256,786},{66,50}}</string>
                <key>offset</key>
                <string>{1,12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{224,219},{66,50}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6025552.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,568},{98,58}}</string>
                <key>offset</key>
                <string>{0,-21}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{207,248},{98,58}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>6025.pvr.ccz</string>
            <key>size</key>
            <string>{512,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:dc56cebf00e49c719db08c0d835ebb67:1/1$</string>
            <key>textureFileName</key>
            <string>6025.pvr.ccz</string>
        </dict>
    </dict>
</plist>
