<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>821311.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,1700},{130,86}}</string>
                <key>offset</key>
                <string>{3,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{268,291},{130,86}}</string>
                <key>sourceSize</key>
                <string>{660,660}</string>
            </dict>
            <key>821312.png</key>
            <dict>
                <key>frame</key>
                <string>{{754,608},{246,152}}</string>
                <key>offset</key>
                <string>{14,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{221,258},{246,152}}</string>
                <key>sourceSize</key>
                <string>{660,660}</string>
            </dict>
            <key>821313.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,1862},{290,184}}</string>
                <key>offset</key>
                <string>{5,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{190,240},{290,184}}</string>
                <key>sourceSize</key>
                <string>{660,660}</string>
            </dict>
            <key>821314.png</key>
            <dict>
                <key>frame</key>
                <string>{{366,1032},{366,244}}</string>
                <key>offset</key>
                <string>{9,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{156,211},{366,244}}</string>
                <key>sourceSize</key>
                <string>{660,660}</string>
            </dict>
            <key>821315.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,544},{388,272}}</string>
                <key>offset</key>
                <string>{16,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{152,193},{388,272}}</string>
                <key>sourceSize</key>
                <string>{660,660}</string>
            </dict>
            <key>821316.png</key>
            <dict>
                <key>frame</key>
                <string>{{316,1488},{316,212}}</string>
                <key>offset</key>
                <string>{-1,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{171,233},{316,212}}</string>
                <key>sourceSize</key>
                <string>{660,660}</string>
            </dict>
            <key>821321.png</key>
            <dict>
                <key>frame</key>
                <string>{{632,1666},{130,86}}</string>
                <key>offset</key>
                <string>{3,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{268,291},{130,86}}</string>
                <key>sourceSize</key>
                <string>{660,660}</string>
            </dict>
            <key>821322.png</key>
            <dict>
                <key>frame</key>
                <string>{{776,456},{246,152}}</string>
                <key>offset</key>
                <string>{14,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{221,258},{246,152}}</string>
                <key>sourceSize</key>
                <string>{660,660}</string>
            </dict>
            <key>821323.png</key>
            <dict>
                <key>frame</key>
                <string>{{718,1678},{290,184}}</string>
                <key>offset</key>
                <string>{5,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{190,240},{290,184}}</string>
                <key>sourceSize</key>
                <string>{660,660}</string>
            </dict>
            <key>821324.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,816},{366,244}}</string>
                <key>offset</key>
                <string>{9,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{156,211},{366,244}}</string>
                <key>sourceSize</key>
                <string>{660,660}</string>
            </dict>
            <key>821325.png</key>
            <dict>
                <key>frame</key>
                <string>{{388,272},{388,272}}</string>
                <key>offset</key>
                <string>{16,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{152,193},{388,272}}</string>
                <key>sourceSize</key>
                <string>{660,660}</string>
            </dict>
            <key>821326.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,1484},{316,212}}</string>
                <key>offset</key>
                <string>{-1,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{171,233},{316,212}}</string>
                <key>sourceSize</key>
                <string>{660,660}</string>
            </dict>
            <key>821331.png</key>
            <dict>
                <key>frame</key>
                <string>{{632,1536},{130,86}}</string>
                <key>offset</key>
                <string>{3,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{268,291},{130,86}}</string>
                <key>sourceSize</key>
                <string>{660,660}</string>
            </dict>
            <key>821332.png</key>
            <dict>
                <key>frame</key>
                <string>{{776,304},{246,152}}</string>
                <key>offset</key>
                <string>{14,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{221,258},{246,152}}</string>
                <key>sourceSize</key>
                <string>{660,660}</string>
            </dict>
            <key>821333.png</key>
            <dict>
                <key>frame</key>
                <string>{{718,1494},{290,184}}</string>
                <key>offset</key>
                <string>{5,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{190,240},{290,184}}</string>
                <key>sourceSize</key>
                <string>{660,660}</string>
            </dict>
            <key>821334.png</key>
            <dict>
                <key>frame</key>
                <string>{{388,788},{366,244}}</string>
                <key>offset</key>
                <string>{9,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{156,211},{366,244}}</string>
                <key>sourceSize</key>
                <string>{660,660}</string>
            </dict>
            <key>821335.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,272},{388,272}}</string>
                <key>offset</key>
                <string>{16,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{152,193},{388,272}}</string>
                <key>sourceSize</key>
                <string>{660,660}</string>
            </dict>
            <key>821336.png</key>
            <dict>
                <key>frame</key>
                <string>{{316,1276},{316,212}}</string>
                <key>offset</key>
                <string>{-1,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{171,233},{316,212}}</string>
                <key>sourceSize</key>
                <string>{660,660}</string>
            </dict>
            <key>821341.png</key>
            <dict>
                <key>frame</key>
                <string>{{632,1406},{130,86}}</string>
                <key>offset</key>
                <string>{3,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{268,291},{130,86}}</string>
                <key>sourceSize</key>
                <string>{660,660}</string>
            </dict>
            <key>821342.png</key>
            <dict>
                <key>frame</key>
                <string>{{776,152},{246,152}}</string>
                <key>offset</key>
                <string>{14,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{221,258},{246,152}}</string>
                <key>sourceSize</key>
                <string>{660,660}</string>
            </dict>
            <key>821343.png</key>
            <dict>
                <key>frame</key>
                <string>{{718,1310},{290,184}}</string>
                <key>offset</key>
                <string>{5,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{190,240},{290,184}}</string>
                <key>sourceSize</key>
                <string>{660,660}</string>
            </dict>
            <key>821344.png</key>
            <dict>
                <key>frame</key>
                <string>{{754,760},{366,244}}</string>
                <key>offset</key>
                <string>{9,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{156,211},{366,244}}</string>
                <key>sourceSize</key>
                <string>{660,660}</string>
            </dict>
            <key>821345.png</key>
            <dict>
                <key>frame</key>
                <string>{{388,0},{388,272}}</string>
                <key>offset</key>
                <string>{16,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{152,193},{388,272}}</string>
                <key>sourceSize</key>
                <string>{660,660}</string>
            </dict>
            <key>821346.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,1272},{316,212}}</string>
                <key>offset</key>
                <string>{-1,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{171,233},{316,212}}</string>
                <key>sourceSize</key>
                <string>{660,660}</string>
            </dict>
            <key>821351.png</key>
            <dict>
                <key>frame</key>
                <string>{{632,1276},{130,86}}</string>
                <key>offset</key>
                <string>{3,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{268,291},{130,86}}</string>
                <key>sourceSize</key>
                <string>{660,660}</string>
            </dict>
            <key>821352.png</key>
            <dict>
                <key>frame</key>
                <string>{{776,0},{246,152}}</string>
                <key>offset</key>
                <string>{14,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{221,258},{246,152}}</string>
                <key>sourceSize</key>
                <string>{660,660}</string>
            </dict>
            <key>821353.png</key>
            <dict>
                <key>frame</key>
                <string>{{732,1126},{290,184}}</string>
                <key>offset</key>
                <string>{5,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{190,240},{290,184}}</string>
                <key>sourceSize</key>
                <string>{660,660}</string>
            </dict>
            <key>821354.png</key>
            <dict>
                <key>frame</key>
                <string>{{388,544},{366,244}}</string>
                <key>offset</key>
                <string>{9,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{156,211},{366,244}}</string>
                <key>sourceSize</key>
                <string>{660,660}</string>
            </dict>
            <key>821355.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{388,272}}</string>
                <key>offset</key>
                <string>{16,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{152,193},{388,272}}</string>
                <key>sourceSize</key>
                <string>{660,660}</string>
            </dict>
            <key>821356.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,1060},{316,212}}</string>
                <key>offset</key>
                <string>{-1,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{171,233},{316,212}}</string>
                <key>sourceSize</key>
                <string>{660,660}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>8213.pvr.ccz</string>
            <key>size</key>
            <string>{1024,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:5fef0ed766afe58e548e75d0f61bb7e2:1/1$</string>
            <key>textureFileName</key>
            <string>8213.pvr.ccz</string>
        </dict>
    </dict>
</plist>
