<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>6528111.png</key>
            <dict>
                <key>frame</key>
                <string>{{322,1386},{158,148}}</string>
                <key>offset</key>
                <string>{-11,38}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{166,144},{158,148}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6528112.png</key>
            <dict>
                <key>frame</key>
                <string>{{296,1896},{154,150}}</string>
                <key>offset</key>
                <string>{-9,39}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{170,142},{154,150}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6528113.png</key>
            <dict>
                <key>frame</key>
                <string>{{334,1084},{164,148}}</string>
                <key>offset</key>
                <string>{-10,38}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{164,144},{164,148}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6528121.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,1534},{134,148}}</string>
                <key>offset</key>
                <string>{4,51}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{193,131},{134,148}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6528122.png</key>
            <dict>
                <key>frame</key>
                <string>{{148,1464},{132,148}}</string>
                <key>offset</key>
                <string>{5,53}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{195,129},{132,148}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6528123.png</key>
            <dict>
                <key>frame</key>
                <string>{{586,1896},{136,150}}</string>
                <key>offset</key>
                <string>{2,49}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{190,132},{136,150}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6528131.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,1026},{144,166}}</string>
                <key>offset</key>
                <string>{-3,48}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{181,125},{144,166}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6528132.png</key>
            <dict>
                <key>frame</key>
                <string>{{674,1068},{156,164}}</string>
                <key>offset</key>
                <string>{-11,51}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{167,123},{156,164}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6528133.png</key>
            <dict>
                <key>frame</key>
                <string>{{168,1014},{150,166}}</string>
                <key>offset</key>
                <string>{-6,45}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{175,128},{150,166}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6528141.png</key>
            <dict>
                <key>frame</key>
                <string>{{166,1164},{162,150}}</string>
                <key>offset</key>
                <string>{-7,50}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{168,131},{162,150}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6528142.png</key>
            <dict>
                <key>frame</key>
                <string>{{346,612},{170,150}}</string>
                <key>offset</key>
                <string>{-14,50}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{157,131},{170,150}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6528143.png</key>
            <dict>
                <key>frame</key>
                <string>{{364,464},{172,148}}</string>
                <key>offset</key>
                <string>{-13,49}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{157,133},{172,148}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6528151.png</key>
            <dict>
                <key>frame</key>
                <string>{{658,1354},{158,154}}</string>
                <key>offset</key>
                <string>{10,36}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{187,143},{158,154}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6528152.png</key>
            <dict>
                <key>frame</key>
                <string>{{328,1232},{154,160}}</string>
                <key>offset</key>
                <string>{9,35}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{188,141},{154,160}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6528153.png</key>
            <dict>
                <key>frame</key>
                <string>{{838,1148},{162,148}}</string>
                <key>offset</key>
                <string>{9,39}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{184,143},{162,148}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6528211.png</key>
            <dict>
                <key>frame</key>
                <string>{{450,1896},{136,150}}</string>
                <key>offset</key>
                <string>{-11,38}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{177,143},{136,150}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6528212.png</key>
            <dict>
                <key>frame</key>
                <string>{{804,1600},{156,144}}</string>
                <key>offset</key>
                <string>{-25,40}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{153,144},{156,144}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6528213.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,1170},{162,148}}</string>
                <key>offset</key>
                <string>{-12,45}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{163,137},{162,148}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6528214.png</key>
            <dict>
                <key>frame</key>
                <string>{{844,1896},{148,142}}</string>
                <key>offset</key>
                <string>{6,37}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{188,148},{148,142}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6528215.png</key>
            <dict>
                <key>frame</key>
                <string>{{296,1534},{142,140}}</string>
                <key>offset</key>
                <string>{0,49}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{185,137},{142,140}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6528221.png</key>
            <dict>
                <key>frame</key>
                <string>{{504,1074},{150,164}}</string>
                <key>offset</key>
                <string>{19,44}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{200,130},{150,164}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6528222.png</key>
            <dict>
                <key>frame</key>
                <string>{{816,1454},{158,146}}</string>
                <key>offset</key>
                <string>{10,42}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{187,141},{158,146}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6528223.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,1896},{152,154}}</string>
                <key>offset</key>
                <string>{-1,28}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{179,151},{152,154}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6528224.png</key>
            <dict>
                <key>frame</key>
                <string>{{154,1896},{152,142}}</string>
                <key>offset</key>
                <string>{-1,25}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{179,160},{152,142}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6528225.png</key>
            <dict>
                <key>frame</key>
                <string>{{488,1378},{158,150}}</string>
                <key>offset</key>
                <string>{17,39}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{194,142},{158,150}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6528231.png</key>
            <dict>
                <key>frame</key>
                <string>{{214,264},{190,162}}</string>
                <key>offset</key>
                <string>{4,57}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{165,118},{190,162}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6528232.png</key>
            <dict>
                <key>frame</key>
                <string>{{864,0},{178,160}}</string>
                <key>offset</key>
                <string>{-5,36}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{162,140},{178,160}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6528233.png</key>
            <dict>
                <key>frame</key>
                <string>{{794,330},{174,148}}</string>
                <key>offset</key>
                <string>{-5,31}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{164,151},{174,148}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6528234.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,416},{188,124}}</string>
                <key>offset</key>
                <string>{2,44}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{164,150},{188,124}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6528235.png</key>
            <dict>
                <key>frame</key>
                <string>{{612,316},{182,146}}</string>
                <key>offset</key>
                <string>{-3,50}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{162,133},{182,146}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6528241.png</key>
            <dict>
                <key>frame</key>
                <string>{{498,1224},{154,160}}</string>
                <key>offset</key>
                <string>{0,59}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{179,117},{154,160}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6528242.png</key>
            <dict>
                <key>frame</key>
                <string>{{638,1650},{154,154}}</string>
                <key>offset</key>
                <string>{8,49}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{187,130},{154,154}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6528243.png</key>
            <dict>
                <key>frame</key>
                <string>{{646,1508},{158,142}}</string>
                <key>offset</key>
                <string>{27,41}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{204,144},{158,142}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6528244.png</key>
            <dict>
                <key>frame</key>
                <string>{{174,568},{172,142}}</string>
                <key>offset</key>
                <string>{22,38}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{192,147},{172,142}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6528245.png</key>
            <dict>
                <key>frame</key>
                <string>{{876,634},{168,148}}</string>
                <key>offset</key>
                <string>{10,58}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{182,124},{168,148}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6528251.png</key>
            <dict>
                <key>frame</key>
                <string>{{674,932},{136,166}}</string>
                <key>offset</key>
                <string>{11,47}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{199,126},{136,166}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6528252.png</key>
            <dict>
                <key>frame</key>
                <string>{{536,588},{156,170}}</string>
                <key>offset</key>
                <string>{24,46}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{202,125},{156,170}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6528253.png</key>
            <dict>
                <key>frame</key>
                <string>{{340,762},{160,168}}</string>
                <key>offset</key>
                <string>{11,44}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{187,128},{160,168}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6528254.png</key>
            <dict>
                <key>frame</key>
                <string>{{706,634},{146,170}}</string>
                <key>offset</key>
                <string>{-7,44}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{176,127},{146,170}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6528255.png</key>
            <dict>
                <key>frame</key>
                <string>{{188,426},{142,176}}</string>
                <key>offset</key>
                <string>{0,51}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{185,117},{142,176}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6528311.png</key>
            <dict>
                <key>frame</key>
                <string>{{840,1042},{106,166}}</string>
                <key>offset</key>
                <string>{-6,47}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{197,126},{106,166}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6528312.png</key>
            <dict>
                <key>frame</key>
                <string>{{666,0},{168,198}}</string>
                <key>offset</key>
                <string>{-38,63}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{134,94},{168,198}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6528313.png</key>
            <dict>
                <key>frame</key>
                <string>{{338,922},{166,162}}</string>
                <key>offset</key>
                <string>{-28,42}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{145,133},{166,162}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6528314.png</key>
            <dict>
                <key>frame</key>
                <string>{{852,802},{168,134}}</string>
                <key>offset</key>
                <string>{16,31}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{188,158},{168,134}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6528315.png</key>
            <dict>
                <key>frame</key>
                <string>{{148,1596},{130,138}}</string>
                <key>offset</key>
                <string>{-6,33}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{185,154},{130,138}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6528321.png</key>
            <dict>
                <key>frame</key>
                <string>{{754,478},{170,156}}</string>
                <key>offset</key>
                <string>{-27,58}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{144,120},{170,156}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6528322.png</key>
            <dict>
                <key>frame</key>
                <string>{{580,462},{126,174}}</string>
                <key>offset</key>
                <string>{-4,68}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{189,101},{126,174}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6528323.png</key>
            <dict>
                <key>frame</key>
                <string>{{612,168},{186,148}}</string>
                <key>offset</key>
                <string>{17,55}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{180,127},{186,148}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6528324.png</key>
            <dict>
                <key>frame</key>
                <string>{{170,710},{170,146}}</string>
                <key>offset</key>
                <string>{46,52}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{217,131},{170,146}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6528325.png</key>
            <dict>
                <key>frame</key>
                <string>{{116,1726},{134,118}}</string>
                <key>offset</key>
                <string>{20,37}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{209,160},{134,118}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6528331.png</key>
            <dict>
                <key>frame</key>
                <string>{{456,0},{210,164}}</string>
                <key>offset</key>
                <string>{-10,48}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{141,126},{210,164}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6528332.png</key>
            <dict>
                <key>frame</key>
                <string>{{508,910},{164,166}}</string>
                <key>offset</key>
                <string>{-26,49}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{148,124},{164,166}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6528333.png</key>
            <dict>
                <key>frame</key>
                <string>{{798,178},{182,152}}</string>
                <key>offset</key>
                <string>{23,44}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{188,136},{182,152}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6528334.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,872},{154,168}}</string>
                <key>offset</key>
                <string>{21,53}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{200,119},{154,168}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6528335.png</key>
            <dict>
                <key>frame</key>
                <string>{{480,1528},{158,140}}</string>
                <key>offset</key>
                <string>{18,40}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{195,146},{158,140}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6528341.png</key>
            <dict>
                <key>frame</key>
                <string>{{418,164},{194,154}}</string>
                <key>offset</key>
                <string>{7,33}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{166,146},{194,154}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6528342.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,110},{214,178}}</string>
                <key>offset</key>
                <string>{5,46}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{154,121},{214,178}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6528343.png</key>
            <dict>
                <key>frame</key>
                <string>{{818,1296},{158,158}}</string>
                <key>offset</key>
                <string>{5,47}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{182,130},{158,158}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6528344.png</key>
            <dict>
                <key>frame</key>
                <string>{{404,318},{146,176}}</string>
                <key>offset</key>
                <string>{4,64}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{187,104},{146,176}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6528345.png</key>
            <dict>
                <key>frame</key>
                <string>{{162,1314},{150,160}}</string>
                <key>offset</key>
                <string>{22,56}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{203,120},{150,160}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6528351.png</key>
            <dict>
                <key>frame</key>
                <string>{{840,936},{106,166}}</string>
                <key>offset</key>
                <string>{6,35}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{209,138},{106,166}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6528352.png</key>
            <dict>
                <key>frame</key>
                <string>{{516,744},{168,166}}</string>
                <key>offset</key>
                <string>{37,40}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{209,133},{168,166}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6528353.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,540},{166,174}}</string>
                <key>offset</key>
                <string>{27,50}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{200,119},{166,174}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6528354.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,706},{166,170}}</string>
                <key>offset</key>
                <string>{-16,58}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{157,113},{166,170}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6528355.png</key>
            <dict>
                <key>frame</key>
                <string>{{658,1224},{130,160}}</string>
                <key>offset</key>
                <string>{6,67}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{197,109},{130,160}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6528511.png</key>
            <dict>
                <key>frame</key>
                <string>{{722,1896},{122,150}}</string>
                <key>offset</key>
                <string>{-2,20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{193,161},{122,150}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6528512.png</key>
            <dict>
                <key>frame</key>
                <string>{{792,1744},{154,152}}</string>
                <key>offset</key>
                <string>{4,-68}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{183,248},{154,152}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6528521.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,1668},{154,116}}</string>
                <key>offset</key>
                <string>{28,41}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{207,157},{154,116}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6528522.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,1318},{160,146}}</string>
                <key>offset</key>
                <string>{52,-51}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{228,234},{160,146}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6528531.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,288},{190,128}}</string>
                <key>offset</key>
                <string>{39,47}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{200,145},{190,128}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6528532.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{238,110}}</string>
                <key>offset</key>
                <string>{112,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{249,192},{238,110}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6528541.png</key>
            <dict>
                <key>frame</key>
                <string>{{170,856},{158,168}}</string>
                <key>offset</key>
                <string>{48,66}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{225,106},{158,168}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6528542.png</key>
            <dict>
                <key>frame</key>
                <string>{{238,0},{218,142}}</string>
                <key>offset</key>
                <string>{90,56}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{237,129},{218,142}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6528551.png</key>
            <dict>
                <key>frame</key>
                <string>{{214,142},{122,204}}</string>
                <key>offset</key>
                <string>{2,88}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{197,66},{122,204}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6528552.png</key>
            <dict>
                <key>frame</key>
                <string>{{684,780},{152,168}}</string>
                <key>offset</key>
                <string>{-4,82}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{176,90},{152,168}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>6528.pvr.ccz</string>
            <key>size</key>
            <string>{1024,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:0d8024127fae3e6085f657b73a0ba29e:1/1$</string>
            <key>textureFileName</key>
            <string>6528.pvr.ccz</string>
        </dict>
    </dict>
</plist>
