<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>6028111.png</key>
            <dict>
                <key>frame</key>
                <string>{{588,464},{102,122}}</string>
                <key>offset</key>
                <string>{-8,40}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{197,155},{102,122}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6028112.png</key>
            <dict>
                <key>frame</key>
                <string>{{584,566},{102,120}}</string>
                <key>offset</key>
                <string>{-8,39}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{197,157},{102,120}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6028113.png</key>
            <dict>
                <key>frame</key>
                <string>{{124,690},{102,118}}</string>
                <key>offset</key>
                <string>{-8,38}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{197,159},{102,118}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6028121.png</key>
            <dict>
                <key>frame</key>
                <string>{{260,482},{82,126}}</string>
                <key>offset</key>
                <string>{5,44}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{220,149},{82,126}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6028122.png</key>
            <dict>
                <key>frame</key>
                <string>{{850,306},{82,124}}</string>
                <key>offset</key>
                <string>{6,43}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{221,151},{82,124}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6028123.png</key>
            <dict>
                <key>frame</key>
                <string>{{846,460},{80,122}}</string>
                <key>offset</key>
                <string>{6,43}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{222,152},{80,122}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6028131.png</key>
            <dict>
                <key>frame</key>
                <string>{{272,198},{80,136}}</string>
                <key>offset</key>
                <string>{12,44}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{228,144},{80,136}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6028132.png</key>
            <dict>
                <key>frame</key>
                <string>{{136,198},{80,136}}</string>
                <key>offset</key>
                <string>{12,44}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{228,144},{80,136}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6028133.png</key>
            <dict>
                <key>frame</key>
                <string>{{602,210},{80,136}}</string>
                <key>offset</key>
                <string>{12,43}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{228,145},{80,136}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6028141.png</key>
            <dict>
                <key>frame</key>
                <string>{{594,290},{88,128}}</string>
                <key>offset</key>
                <string>{15,49}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{227,143},{88,128}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6028142.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,482},{88,128}}</string>
                <key>offset</key>
                <string>{15,49}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{227,143},{88,128}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6028143.png</key>
            <dict>
                <key>frame</key>
                <string>{{594,378},{86,128}}</string>
                <key>offset</key>
                <string>{15,49}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{228,143},{86,128}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6028151.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,570},{102,124}}</string>
                <key>offset</key>
                <string>{7,50}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{212,144},{102,124}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6028152.png</key>
            <dict>
                <key>frame</key>
                <string>{{128,490},{102,124}}</string>
                <key>offset</key>
                <string>{8,50}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{213,144},{102,124}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6028153.png</key>
            <dict>
                <key>frame</key>
                <string>{{462,454},{100,126}}</string>
                <key>offset</key>
                <string>{7,51}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{213,142},{100,126}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6028211.png</key>
            <dict>
                <key>frame</key>
                <string>{{820,646},{88,88}}</string>
                <key>offset</key>
                <string>{3,35}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{215,177},{88,88}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6028212.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,928},{92,94}}</string>
                <key>offset</key>
                <string>{2,28}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{212,181},{92,94}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6028213.png</key>
            <dict>
                <key>frame</key>
                <string>{{92,928},{90,94}}</string>
                <key>offset</key>
                <string>{2,28}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{213,181},{90,94}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6028214.png</key>
            <dict>
                <key>frame</key>
                <string>{{360,742},{88,94}}</string>
                <key>offset</key>
                <string>{3,30}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{215,179},{88,94}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6028215.png</key>
            <dict>
                <key>frame</key>
                <string>{{376,644},{86,98}}</string>
                <key>offset</key>
                <string>{3,27}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{216,180},{86,98}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6028221.png</key>
            <dict>
                <key>frame</key>
                <string>{{408,902},{72,104}}</string>
                <key>offset</key>
                <string>{13,35}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{233,169},{72,104}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6028222.png</key>
            <dict>
                <key>frame</key>
                <string>{{252,902},{82,110}}</string>
                <key>offset</key>
                <string>{9,31}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{224,170},{82,110}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6028223.png</key>
            <dict>
                <key>frame</key>
                <string>{{252,824},{78,108}}</string>
                <key>offset</key>
                <string>{11,32}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{228,170},{78,108}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6028224.png</key>
            <dict>
                <key>frame</key>
                <string>{{360,830},{72,104}}</string>
                <key>offset</key>
                <string>{14,35}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{234,169},{72,104}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6028225.png</key>
            <dict>
                <key>frame</key>
                <string>{{334,902},{74,106}}</string>
                <key>offset</key>
                <string>{14,34}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{233,169},{74,106}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6028231.png</key>
            <dict>
                <key>frame</key>
                <string>{{182,872},{70,118}}</string>
                <key>offset</key>
                <string>{17,39}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{238,158},{70,118}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6028232.png</key>
            <dict>
                <key>frame</key>
                <string>{{462,554},{86,122}}</string>
                <key>offset</key>
                <string>{7,37}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{220,158},{86,122}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6028233.png</key>
            <dict>
                <key>frame</key>
                <string>{{248,662},{78,120}}</string>
                <key>offset</key>
                <string>{10,37}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{227,159},{78,120}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6028234.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,854},{74,118}}</string>
                <key>offset</key>
                <string>{13,39}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{232,158},{74,118}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6028235.png</key>
            <dict>
                <key>frame</key>
                <string>{{242,740},{84,118}}</string>
                <key>offset</key>
                <string>{10,38}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{224,159},{84,118}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6028241.png</key>
            <dict>
                <key>frame</key>
                <string>{{710,530},{72,122}}</string>
                <key>offset</key>
                <string>{15,49}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{235,146},{72,122}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6028242.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,672},{82,124}}</string>
                <key>offset</key>
                <string>{18,49}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{233,145},{82,124}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6028243.png</key>
            <dict>
                <key>frame</key>
                <string>{{386,520},{76,124}}</string>
                <key>offset</key>
                <string>{19,48}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{237,146},{76,124}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6028244.png</key>
            <dict>
                <key>frame</key>
                <string>{{722,458},{72,124}}</string>
                <key>offset</key>
                <string>{14,50}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{234,144},{72,124}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6028245.png</key>
            <dict>
                <key>frame</key>
                <string>{{722,380},{78,124}}</string>
                <key>offset</key>
                <string>{10,48}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{227,146},{78,124}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6028251.png</key>
            <dict>
                <key>frame</key>
                <string>{{270,278},{88,130}}</string>
                <key>offset</key>
                <string>{-4,57}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{208,134},{88,130}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6028252.png</key>
            <dict>
                <key>frame</key>
                <string>{{158,106},{92,138}}</string>
                <key>offset</key>
                <string>{-2,53}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{208,134},{92,138}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6028253.png</key>
            <dict>
                <key>frame</key>
                <string>{{466,190},{90,136}}</string>
                <key>offset</key>
                <string>{-2,53}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{209,135},{90,136}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6028254.png</key>
            <dict>
                <key>frame</key>
                <string>{{750,120},{88,136}}</string>
                <key>offset</key>
                <string>{-4,54}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{208,134},{88,136}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6028255.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,284},{86,134}}</string>
                <key>offset</key>
                <string>{-4,54}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{209,135},{86,134}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6028311.png</key>
            <dict>
                <key>frame</key>
                <string>{{462,640},{98,120}}</string>
                <key>offset</key>
                <string>{-6,39}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{201,157},{98,120}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6028312.png</key>
            <dict>
                <key>frame</key>
                <string>{{132,392},{98,128}}</string>
                <key>offset</key>
                <string>{-19,43}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{188,149},{98,128}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6028313.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,88},{66,158}}</string>
                <key>offset</key>
                <string>{-10,60}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{213,117},{66,158}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6028314.png</key>
            <dict>
                <key>frame</key>
                <string>{{722,294},{86,128}}</string>
                <key>offset</key>
                <string>{9,-20}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{222,212},{86,128}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6028315.png</key>
            <dict>
                <key>frame</key>
                <string>{{462,738},{84,112}}</string>
                <key>offset</key>
                <string>{6,-25}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{220,225},{84,112}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6028321.png</key>
            <dict>
                <key>frame</key>
                <string>{{118,792},{80,118}}</string>
                <key>offset</key>
                <string>{6,47}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{222,150},{80,118}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6028322.png</key>
            <dict>
                <key>frame</key>
                <string>{{832,540},{106,116}}</string>
                <key>offset</key>
                <string>{-3,46}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{200,152},{106,116}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6028323.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,370},{112,132}}</string>
                <key>offset</key>
                <string>{-13,54}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{187,136},{112,132}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6028324.png</key>
            <dict>
                <key>frame</key>
                <string>{{704,602},{104,116}}</string>
                <key>offset</key>
                <string>{29,-14}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{233,212},{104,116}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6028325.png</key>
            <dict>
                <key>frame</key>
                <string>{{582,668},{102,114}}</string>
                <key>offset</key>
                <string>{27,-12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{232,211},{102,114}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6028331.png</key>
            <dict>
                <key>frame</key>
                <string>{{466,384},{70,128}}</string>
                <key>offset</key>
                <string>{17,48}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{238,144},{70,128}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6028332.png</key>
            <dict>
                <key>frame</key>
                <string>{{846,388},{72,124}}</string>
                <key>offset</key>
                <string>{11,46}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{231,148},{72,124}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6028333.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,154},{136,130}}</string>
                <key>offset</key>
                <string>{-17,49}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{171,142},{136,130}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6028334.png</key>
            <dict>
                <key>frame</key>
                <string>{{474,88},{140,102}}</string>
                <key>offset</key>
                <string>{51,28}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{237,177},{140,102}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6028335.png</key>
            <dict>
                <key>frame</key>
                <string>{{326,100},{140,98}}</string>
                <key>offset</key>
                <string>{52,30}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{238,177},{140,98}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6028341.png</key>
            <dict>
                <key>frame</key>
                <string>{{466,280},{104,128}}</string>
                <key>offset</key>
                <string>{23,49}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{227,143},{104,128}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6028342.png</key>
            <dict>
                <key>frame</key>
                <string>{{400,278},{66,126}}</string>
                <key>offset</key>
                <string>{16,48}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{239,145},{66,126}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6028343.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,754},{100,118}}</string>
                <key>offset</key>
                <string>{-2,44}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{204,153},{100,118}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6028344.png</key>
            <dict>
                <key>frame</key>
                <string>{{898,112},{110,126}}</string>
                <key>offset</key>
                <string>{44,48}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{245,145},{110,126}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6028345.png</key>
            <dict>
                <key>frame</key>
                <string>{{898,0},{112,126}}</string>
                <key>offset</key>
                <string>{48,48}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{248,145},{112,126}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6028351.png</key>
            <dict>
                <key>frame</key>
                <string>{{124,592},{98,124}}</string>
                <key>offset</key>
                <string>{5,50}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{212,144},{98,124}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6028352.png</key>
            <dict>
                <key>frame</key>
                <string>{{252,564},{98,124}}</string>
                <key>offset</key>
                <string>{19,50}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{226,144},{98,124}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6028353.png</key>
            <dict>
                <key>frame</key>
                <string>{{398,404},{64,116}}</string>
                <key>offset</key>
                <string>{9,46}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{233,152},{64,116}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6028354.png</key>
            <dict>
                <key>frame</key>
                <string>{{750,208},{86,136}}</string>
                <key>offset</key>
                <string>{-10,56}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{203,132},{86,136}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6028355.png</key>
            <dict>
                <key>frame</key>
                <string>{{886,222},{84,136}}</string>
                <key>offset</key>
                <string>{-7,56}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{207,132},{84,136}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6028511.png</key>
            <dict>
                <key>frame</key>
                <string>{{136,278},{114,134}}</string>
                <key>offset</key>
                <string>{-23,36}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{176,153},{114,134}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6028512.png</key>
            <dict>
                <key>frame</key>
                <string>{{614,104},{136,106}}</string>
                <key>offset</key>
                <string>{-12,21}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{176,182},{136,106}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6028521.png</key>
            <dict>
                <key>frame</key>
                <string>{{326,0},{100,148}}</string>
                <key>offset</key>
                <string>{-6,20}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{200,162},{100,148}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6028522.png</key>
            <dict>
                <key>frame</key>
                <string>{{620,0},{142,104}}</string>
                <key>offset</key>
                <string>{-16,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{169,206},{142,104}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6028531.png</key>
            <dict>
                <key>frame</key>
                <string>{{270,366},{116,128}}</string>
                <key>offset</key>
                <string>{-6,15}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{192,177},{116,128}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6028532.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{164,88}}</string>
                <key>offset</key>
                <string>{-28,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{146,217},{164,88}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6028541.png</key>
            <dict>
                <key>frame</key>
                <string>{{474,0},{146,88}}</string>
                <key>offset</key>
                <string>{14,17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{197,195},{146,88}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6028542.png</key>
            <dict>
                <key>frame</key>
                <string>{{164,0},{162,106}}</string>
                <key>offset</key>
                <string>{6,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{181,207},{162,106}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6028551.png</key>
            <dict>
                <key>frame</key>
                <string>{{948,540},{114,74}}</string>
                <key>offset</key>
                <string>{23,25}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{222,194},{114,74}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6028552.png</key>
            <dict>
                <key>frame</key>
                <string>{{762,0},{136,120}}</string>
                <key>offset</key>
                <string>{12,-11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{200,207},{136,120}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>6028.pvr.ccz</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:ebe9e1d0ebcfb9747742878af42ee9c1:1/1$</string>
            <key>textureFileName</key>
            <string>6028.pvr.ccz</string>
        </dict>
    </dict>
</plist>
