<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>6015111.png</key>
            <dict>
                <key>frame</key>
                <string>{{114,194},{64,114}}</string>
                <key>offset</key>
                <string>{-1,44}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{223,155},{64,114}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6015112.png</key>
            <dict>
                <key>frame</key>
                <string>{{234,192},{64,114}}</string>
                <key>offset</key>
                <string>{4,45}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{228,154},{64,114}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6015113.png</key>
            <dict>
                <key>frame</key>
                <string>{{348,206},{70,112}}</string>
                <key>offset</key>
                <string>{-4,44}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{217,156},{70,112}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6015121.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,98},{54,118}}</string>
                <key>offset</key>
                <string>{4,45}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{233,152},{54,118}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6015122.png</key>
            <dict>
                <key>frame</key>
                <string>{{252,68},{56,120}}</string>
                <key>offset</key>
                <string>{4,46}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{232,150},{56,120}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6015123.png</key>
            <dict>
                <key>frame</key>
                <string>{{374,0},{58,122}}</string>
                <key>offset</key>
                <string>{5,47}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{232,148},{58,122}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6015131.png</key>
            <dict>
                <key>frame</key>
                <string>{{372,98},{44,118}}</string>
                <key>offset</key>
                <string>{4,42}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{238,155},{44,118}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6015132.png</key>
            <dict>
                <key>frame</key>
                <string>{{374,58},{40,122}}</string>
                <key>offset</key>
                <string>{1,44}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{237,151},{40,122}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6015133.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,60},{38,124}}</string>
                <key>offset</key>
                <string>{3,46}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{240,148},{38,124}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6015141.png</key>
            <dict>
                <key>frame</key>
                <string>{{124,70},{60,118}}</string>
                <key>offset</key>
                <string>{4,45}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{230,152},{60,118}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6015142.png</key>
            <dict>
                <key>frame</key>
                <string>{{358,142},{64,114}}</string>
                <key>offset</key>
                <string>{-4,43}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{220,156},{64,114}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6015143.png</key>
            <dict>
                <key>frame</key>
                <string>{{242,124},{68,116}}</string>
                <key>offset</key>
                <string>{2,44}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{224,154},{68,116}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6015151.png</key>
            <dict>
                <key>frame</key>
                <string>{{228,256},{66,112}}</string>
                <key>offset</key>
                <string>{1,51}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{224,149},{66,112}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6015152.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,298},{64,110}}</string>
                <key>offset</key>
                <string>{-5,50}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{219,151},{64,110}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6015153.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,228},{70,112}}</string>
                <key>offset</key>
                <string>{3,51}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{224,149},{70,112}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6015211.png</key>
            <dict>
                <key>frame</key>
                <string>{{394,538},{58,92}}</string>
                <key>offset</key>
                <string>{8,46}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{235,164},{58,92}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6015212.png</key>
            <dict>
                <key>frame</key>
                <string>{{190,608},{62,90}}</string>
                <key>offset</key>
                <string>{-9,46}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{216,165},{62,90}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6015213.png</key>
            <dict>
                <key>frame</key>
                <string>{{176,766},{58,84}}</string>
                <key>offset</key>
                <string>{-7,52}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{220,162},{58,84}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6015214.png</key>
            <dict>
                <key>frame</key>
                <string>{{280,668},{58,88}}</string>
                <key>offset</key>
                <string>{6,41}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{233,171},{58,88}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6015215.png</key>
            <dict>
                <key>frame</key>
                <string>{{74,962},{60,80}}</string>
                <key>offset</key>
                <string>{12,51}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{238,165},{60,80}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6015221.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,484},{42,100}}</string>
                <key>offset</key>
                <string>{0,44}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{235,162},{42,100}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6015222.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,696},{44,90}}</string>
                <key>offset</key>
                <string>{-8,42}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{226,169},{44,90}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6015223.png</key>
            <dict>
                <key>frame</key>
                <string>{{124,870},{56,82}}</string>
                <key>offset</key>
                <string>{-4,50}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{224,165},{56,82}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6015224.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,740},{72,86}}</string>
                <key>offset</key>
                <string>{-3,49}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{217,164},{72,86}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6015225.png</key>
            <dict>
                <key>frame</key>
                <string>{{382,666},{62,88}}</string>
                <key>offset</key>
                <string>{2,55}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{227,157},{62,88}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6015231.png</key>
            <dict>
                <key>frame</key>
                <string>{{304,462},{62,98}}</string>
                <key>offset</key>
                <string>{-8,43}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{217,164},{62,98}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6015232.png</key>
            <dict>
                <key>frame</key>
                <string>{{460,242},{52,84}}</string>
                <key>offset</key>
                <string>{-2,39}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{228,175},{52,84}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6015233.png</key>
            <dict>
                <key>frame</key>
                <string>{{182,670},{46,88}}</string>
                <key>offset</key>
                <string>{-8,42}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{225,170},{46,88}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6015234.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,526},{60,96}}</string>
                <key>offset</key>
                <string>{-12,47}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{214,161},{60,96}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6015235.png</key>
            <dict>
                <key>frame</key>
                <string>{{472,142},{38,100}}</string>
                <key>offset</key>
                <string>{-7,47}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{230,159},{38,100}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6015241.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,630},{66,92}}</string>
                <key>offset</key>
                <string>{-8,44}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{215,166},{66,92}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6015242.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,880},{64,82}}</string>
                <key>offset</key>
                <string>{-2,39}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{222,176},{64,82}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6015243.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,586},{44,94}}</string>
                <key>offset</key>
                <string>{-3,37}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{231,172},{44,94}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6015244.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,362},{42,106}}</string>
                <key>offset</key>
                <string>{-9,37}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{226,166},{42,106}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6015245.png</key>
            <dict>
                <key>frame</key>
                <string>{{328,334},{46,102}}</string>
                <key>offset</key>
                <string>{-12,40}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{221,165},{46,102}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6015251.png</key>
            <dict>
                <key>frame</key>
                <string>{{102,406},{58,102}}</string>
                <key>offset</key>
                <string>{-8,37}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{219,168},{58,102}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6015252.png</key>
            <dict>
                <key>frame</key>
                <string>{{204,408},{62,100}}</string>
                <key>offset</key>
                <string>{8,37}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{233,169},{62,100}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6015253.png</key>
            <dict>
                <key>frame</key>
                <string>{{100,524},{58,98}}</string>
                <key>offset</key>
                <string>{6,39}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{233,168},{58,98}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6015254.png</key>
            <dict>
                <key>frame</key>
                <string>{{340,276},{58,108}}</string>
                <key>offset</key>
                <string>{-7,35}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{220,167},{58,108}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6015255.png</key>
            <dict>
                <key>frame</key>
                <string>{{202,470},{60,98}}</string>
                <key>offset</key>
                <string>{-13,39}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{213,168},{60,98}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6015311.png</key>
            <dict>
                <key>frame</key>
                <string>{{262,726},{64,84}}</string>
                <key>offset</key>
                <string>{-5,29}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{219,185},{64,84}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6015312.png</key>
            <dict>
                <key>frame</key>
                <string>{{64,880},{60,82}}</string>
                <key>offset</key>
                <string>{-4,28}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{222,187},{60,82}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6015313.png</key>
            <dict>
                <key>frame</key>
                <string>{{176,716},{50,86}}</string>
                <key>offset</key>
                <string>{3,30}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{234,183},{50,86}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6015314.png</key>
            <dict>
                <key>frame</key>
                <string>{{112,258},{86,110}}</string>
                <key>offset</key>
                <string>{15,15}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{228,186},{86,110}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6015315.png</key>
            <dict>
                <key>frame</key>
                <string>{{254,824},{78,78}}</string>
                <key>offset</key>
                <string>{-3,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{214,218},{78,78}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6015321.png</key>
            <dict>
                <key>frame</key>
                <string>{{180,824},{80,74}}</string>
                <key>offset</key>
                <string>{-8,21}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{208,198},{80,74}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6015322.png</key>
            <dict>
                <key>frame</key>
                <string>{{332,790},{78,76}}</string>
                <key>offset</key>
                <string>{-7,22}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{210,196},{78,76}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6015323.png</key>
            <dict>
                <key>frame</key>
                <string>{{394,596},{70,90}}</string>
                <key>offset</key>
                <string>{3,30}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{224,181},{70,90}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6015324.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,152},{76,114}}</string>
                <key>offset</key>
                <string>{30,41}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{248,158},{76,114}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6015325.png</key>
            <dict>
                <key>frame</key>
                <string>{{96,582},{94,68}}</string>
                <key>offset</key>
                <string>{19,18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{228,204},{94,68}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6015331.png</key>
            <dict>
                <key>frame</key>
                <string>{{228,904},{80,64}}</string>
                <key>offset</key>
                <string>{0,19}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{216,205},{80,64}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6015332.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,812},{82,68}}</string>
                <key>offset</key>
                <string>{9,23}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{224,199},{82,68}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6015333.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,404},{102,80}}</string>
                <key>offset</key>
                <string>{2,30}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{207,186},{102,80}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6015334.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{60,128}}</string>
                <key>offset</key>
                <string>{33,55}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{259,137},{60,128}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6015335.png</key>
            <dict>
                <key>frame</key>
                <string>{{448,326},{64,88}}</string>
                <key>offset</key>
                <string>{31,24}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{255,188},{64,88}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6015341.png</key>
            <dict>
                <key>frame</key>
                <string>{{154,952},{72,74}}</string>
                <key>offset</key>
                <string>{1,16}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{221,203},{72,74}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6015342.png</key>
            <dict>
                <key>frame</key>
                <string>{{86,796},{74,82}}</string>
                <key>offset</key>
                <string>{5,27}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{224,188},{74,82}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6015343.png</key>
            <dict>
                <key>frame</key>
                <string>{{90,710},{86,86}}</string>
                <key>offset</key>
                <string>{1,44}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{214,169},{86,86}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6015344.png</key>
            <dict>
                <key>frame</key>
                <string>{{128,0},{70,124}}</string>
                <key>offset</key>
                <string>{9,60}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{230,134},{70,124}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6015345.png</key>
            <dict>
                <key>frame</key>
                <string>{{292,606},{62,90}}</string>
                <key>offset</key>
                <string>{11,34}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{236,177},{62,90}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6015351.png</key>
            <dict>
                <key>frame</key>
                <string>{{408,728},{64,76}}</string>
                <key>offset</key>
                <string>{5,22}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{229,196},{64,76}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6015352.png</key>
            <dict>
                <key>frame</key>
                <string>{{92,650},{60,90}}</string>
                <key>offset</key>
                <string>{4,34}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{230,177},{60,90}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6015353.png</key>
            <dict>
                <key>frame</key>
                <string>{{402,488},{50,96}}</string>
                <key>offset</key>
                <string>{-4,48}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{227,160},{50,96}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6015354.png</key>
            <dict>
                <key>frame</key>
                <string>{{222,322},{86,106}}</string>
                <key>offset</key>
                <string>{-15,56}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{198,147},{86,106}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6015355.png</key>
            <dict>
                <key>frame</key>
                <string>{{292,902},{78,76}}</string>
                <key>offset</key>
                <string>{2,41}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{219,177},{78,76}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6015511.png</key>
            <dict>
                <key>frame</key>
                <string>{{110,344},{62,106}}</string>
                <key>offset</key>
                <string>{14,40}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{239,163},{62,106}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6015512.png</key>
            <dict>
                <key>frame</key>
                <string>{{198,530},{94,78}}</string>
                <key>offset</key>
                <string>{4,29}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{213,188},{94,78}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6015521.png</key>
            <dict>
                <key>frame</key>
                <string>{{102,464},{60,100}}</string>
                <key>offset</key>
                <string>{-6,35}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{220,171},{60,100}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6015522.png</key>
            <dict>
                <key>frame</key>
                <string>{{252,0},{122,68}}</string>
                <key>offset</key>
                <string>{-20,21}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{175,201},{122,68}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6015531.png</key>
            <dict>
                <key>frame</key>
                <string>{{428,414},{74,84}}</string>
                <key>offset</key>
                <string>{-17,31}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{202,183},{74,84}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6015532.png</key>
            <dict>
                <key>frame</key>
                <string>{{118,130},{116,64}}</string>
                <key>offset</key>
                <string>{-39,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{159,218},{116,64}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6015541.png</key>
            <dict>
                <key>frame</key>
                <string>{{408,792},{72,66}}</string>
                <key>offset</key>
                <string>{-13,24}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{207,199},{72,66}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6015542.png</key>
            <dict>
                <key>frame</key>
                <string>{{328,380},{100,82}}</string>
                <key>offset</key>
                <string>{-27,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{179,225},{100,82}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6015551.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,962},{62,74}}</string>
                <key>offset</key>
                <string>{-14,10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{211,209},{62,74}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6015552.png</key>
            <dict>
                <key>frame</key>
                <string>{{300,524},{94,82}}</string>
                <key>offset</key>
                <string>{-5,-19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{204,234},{94,82}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>6015.pvr.ccz</string>
            <key>size</key>
            <string>{512,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:3b510f59e982faa9da56859d39a23cef:1/1$</string>
            <key>textureFileName</key>
            <string>6015.pvr.ccz</string>
        </dict>
    </dict>
</plist>
