<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>6019111.png</key>
            <dict>
                <key>frame</key>
                <string>{{560,310},{446,402}}</string>
                <key>offset</key>
                <string>{-11,161}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{278,150},{446,402}}</string>
                <key>sourceSize</key>
                <string>{1024,1024}</string>
            </dict>
            <key>6019112.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,680},{442,406}}</string>
                <key>offset</key>
                <string>{-12,163}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{279,146},{442,406}}</string>
                <key>sourceSize</key>
                <string>{1024,1024}</string>
            </dict>
            <key>6019113.png</key>
            <dict>
                <key>frame</key>
                <string>{{442,974},{434,404}}</string>
                <key>offset</key>
                <string>{-7,162}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{288,148},{434,404}}</string>
                <key>sourceSize</key>
                <string>{1024,1024}</string>
            </dict>
            <key>6019121.png</key>
            <dict>
                <key>frame</key>
                <string>{{2706,1062},{392,346}}</string>
                <key>offset</key>
                <string>{-49,127}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{267,212},{392,346}}</string>
                <key>sourceSize</key>
                <string>{1024,1024}</string>
            </dict>
            <key>6019122.png</key>
            <dict>
                <key>frame</key>
                <string>{{1248,1730},{388,346}}</string>
                <key>offset</key>
                <string>{-47,131}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{271,208},{388,346}}</string>
                <key>sourceSize</key>
                <string>{1024,1024}</string>
            </dict>
            <key>6019123.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,1880},{398,344}}</string>
                <key>offset</key>
                <string>{-47,131}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{266,209},{398,344}}</string>
                <key>sourceSize</key>
                <string>{1024,1024}</string>
            </dict>
            <key>6019131.png</key>
            <dict>
                <key>frame</key>
                <string>{{2010,298},{374,438}}</string>
                <key>offset</key>
                <string>{-42,89}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{283,204},{374,438}}</string>
                <key>sourceSize</key>
                <string>{1024,1024}</string>
            </dict>
            <key>6019132.png</key>
            <dict>
                <key>frame</key>
                <string>{{3524,0},{374,428}}</string>
                <key>offset</key>
                <string>{-42,90}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{283,208},{374,428}}</string>
                <key>sourceSize</key>
                <string>{1024,1024}</string>
            </dict>
            <key>6019133.png</key>
            <dict>
                <key>frame</key>
                <string>{{2656,0},{374,438}}</string>
                <key>offset</key>
                <string>{-43,90}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{282,203},{374,438}}</string>
                <key>sourceSize</key>
                <string>{1024,1024}</string>
            </dict>
            <key>6019141.png</key>
            <dict>
                <key>frame</key>
                <string>{{3524,644},{252,396}}</string>
                <key>offset</key>
                <string>{-30,67}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{356,247},{252,396}}</string>
                <key>sourceSize</key>
                <string>{1024,1024}</string>
            </dict>
            <key>6019142.png</key>
            <dict>
                <key>frame</key>
                <string>{{810,1816},{260,388}}</string>
                <key>offset</key>
                <string>{-33,71}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{349,247},{260,388}}</string>
                <key>sourceSize</key>
                <string>{1024,1024}</string>
            </dict>
            <key>6019143.png</key>
            <dict>
                <key>frame</key>
                <string>{{3294,408},{230,408}}</string>
                <key>offset</key>
                <string>{-32,68}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{365,240},{230,408}}</string>
                <key>sourceSize</key>
                <string>{1024,1024}</string>
            </dict>
            <key>6019151.png</key>
            <dict>
                <key>frame</key>
                <string>{{2208,0},{448,298}}</string>
                <key>offset</key>
                <string>{11,95}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{299,268},{448,298}}</string>
                <key>sourceSize</key>
                <string>{1024,1024}</string>
            </dict>
            <key>6019152.png</key>
            <dict>
                <key>frame</key>
                <string>{{1006,564},{442,294}}</string>
                <key>offset</key>
                <string>{11,100}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{302,265},{442,294}}</string>
                <key>sourceSize</key>
                <string>{1024,1024}</string>
            </dict>
            <key>6019153.png</key>
            <dict>
                <key>frame</key>
                <string>{{882,858},{436,308}}</string>
                <key>offset</key>
                <string>{7,90}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{301,268},{436,308}}</string>
                <key>sourceSize</key>
                <string>{1024,1024}</string>
            </dict>
            <key>6019211.png</key>
            <dict>
                <key>frame</key>
                <string>{{3094,0},{408,430}}</string>
                <key>offset</key>
                <string>{13,157}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{321,140},{408,430}}</string>
                <key>sourceSize</key>
                <string>{1024,1024}</string>
            </dict>
            <key>6019212.png</key>
            <dict>
                <key>frame</key>
                <string>{{1290,1330},{400,402}}</string>
                <key>offset</key>
                <string>{25,165}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{337,146},{400,402}}</string>
                <key>sourceSize</key>
                <string>{1024,1024}</string>
            </dict>
            <key>6019213.png</key>
            <dict>
                <key>frame</key>
                <string>{{2448,624},{386,420}}</string>
                <key>offset</key>
                <string>{39,161}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{358,141},{386,420}}</string>
                <key>sourceSize</key>
                <string>{1024,1024}</string>
            </dict>
            <key>6019214.png</key>
            <dict>
                <key>frame</key>
                <string>{{2868,700},{362,414}}</string>
                <key>offset</key>
                <string>{35,147}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{366,158},{362,414}}</string>
                <key>sourceSize</key>
                <string>{1024,1024}</string>
            </dict>
            <key>6019215.png</key>
            <dict>
                <key>frame</key>
                <string>{{1884,672},{352,414}}</string>
                <key>offset</key>
                <string>{34,154}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{370,151},{352,414}}</string>
                <key>sourceSize</key>
                <string>{1024,1024}</string>
            </dict>
            <key>6019221.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,2224},{386,378}}</string>
                <key>offset</key>
                <string>{-25,115}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{294,208},{386,378}}</string>
                <key>sourceSize</key>
                <string>{1024,1024}</string>
            </dict>
            <key>6019222.png</key>
            <dict>
                <key>frame</key>
                <string>{{2080,1666},{384,348}}</string>
                <key>offset</key>
                <string>{-16,139}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{304,199},{384,348}}</string>
                <key>sourceSize</key>
                <string>{1024,1024}</string>
            </dict>
            <key>6019223.png</key>
            <dict>
                <key>frame</key>
                <string>{{3676,896},{392,376}}</string>
                <key>offset</key>
                <string>{-18,132}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{298,192},{392,376}}</string>
                <key>sourceSize</key>
                <string>{1024,1024}</string>
            </dict>
            <key>6019224.png</key>
            <dict>
                <key>frame</key>
                <string>{{1692,1394},{388,368}}</string>
                <key>offset</key>
                <string>{-11,111}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{307,217},{388,368}}</string>
                <key>sourceSize</key>
                <string>{1024,1024}</string>
            </dict>
            <key>6019225.png</key>
            <dict>
                <key>frame</key>
                <string>{{2136,1286},{388,380}}</string>
                <key>offset</key>
                <string>{-22,104}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{296,218},{388,380}}</string>
                <key>sourceSize</key>
                <string>{1024,1024}</string>
            </dict>
            <key>6019231.png</key>
            <dict>
                <key>frame</key>
                <string>{{3482,2168},{336,358}}</string>
                <key>offset</key>
                <string>{21,139}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{365,194},{336,358}}</string>
                <key>sourceSize</key>
                <string>{1024,1024}</string>
            </dict>
            <key>6019232.png</key>
            <dict>
                <key>frame</key>
                <string>{{2016,2014},{302,366}}</string>
                <key>offset</key>
                <string>{3,144}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{364,185},{302,366}}</string>
                <key>sourceSize</key>
                <string>{1024,1024}</string>
            </dict>
            <key>6019233.png</key>
            <dict>
                <key>frame</key>
                <string>{{2830,2242},{304,352}}</string>
                <key>offset</key>
                <string>{4,136}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{364,200},{304,352}}</string>
                <key>sourceSize</key>
                <string>{1024,1024}</string>
            </dict>
            <key>6019234.png</key>
            <dict>
                <key>frame</key>
                <string>{{1998,2316},{326,348}}</string>
                <key>offset</key>
                <string>{-7,131}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{342,207},{326,348}}</string>
                <key>sourceSize</key>
                <string>{1024,1024}</string>
            </dict>
            <key>6019235.png</key>
            <dict>
                <key>frame</key>
                <string>{{3080,2558},{320,344}}</string>
                <key>offset</key>
                <string>{-4,121}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{348,219},{320,344}}</string>
                <key>sourceSize</key>
                <string>{1024,1024}</string>
            </dict>
            <key>6019241.png</key>
            <dict>
                <key>frame</key>
                <string>{{1636,1762},{380,308}}</string>
                <key>offset</key>
                <string>{21,114}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{343,244},{380,308}}</string>
                <key>sourceSize</key>
                <string>{1024,1024}</string>
            </dict>
            <key>6019242.png</key>
            <dict>
                <key>frame</key>
                <string>{{2464,1952},{366,324}}</string>
                <key>offset</key>
                <string>{7,112}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{336,238},{366,324}}</string>
                <key>sourceSize</key>
                <string>{1024,1024}</string>
            </dict>
            <key>6019243.png</key>
            <dict>
                <key>frame</key>
                <string>{{3206,1878},{352,276}}</string>
                <key>offset</key>
                <string>{14,134}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{350,240},{352,276}}</string>
                <key>sourceSize</key>
                <string>{1024,1024}</string>
            </dict>
            <key>6019244.png</key>
            <dict>
                <key>frame</key>
                <string>{{3424,2790},{326,298}}</string>
                <key>offset</key>
                <string>{40,135}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{389,228},{326,298}}</string>
                <key>sourceSize</key>
                <string>{1024,1024}</string>
            </dict>
            <key>6019245.png</key>
            <dict>
                <key>frame</key>
                <string>{{2692,2870},{334,288}}</string>
                <key>offset</key>
                <string>{42,124}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{387,244},{334,288}}</string>
                <key>sourceSize</key>
                <string>{1024,1024}</string>
            </dict>
            <key>6019251.png</key>
            <dict>
                <key>frame</key>
                <string>{{2298,1010},{408,276}}</string>
                <key>offset</key>
                <string>{-14,108}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{294,266},{408,276}}</string>
                <key>sourceSize</key>
                <string>{1024,1024}</string>
            </dict>
            <key>6019252.png</key>
            <dict>
                <key>frame</key>
                <string>{{410,1660},{400,274}}</string>
                <key>offset</key>
                <string>{-25,96}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{287,279},{400,274}}</string>
                <key>sourceSize</key>
                <string>{1024,1024}</string>
            </dict>
            <key>6019253.png</key>
            <dict>
                <key>frame</key>
                <string>{{2524,1408},{386,268}}</string>
                <key>offset</key>
                <string>{-39,110}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{280,268},{386,268}}</string>
                <key>sourceSize</key>
                <string>{1024,1024}</string>
            </dict>
            <key>6019254.png</key>
            <dict>
                <key>frame</key>
                <string>{{3482,1898},{362,270}}</string>
                <key>offset</key>
                <string>{-35,99}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{296,278},{362,270}}</string>
                <key>sourceSize</key>
                <string>{1024,1024}</string>
            </dict>
            <key>6019255.png</key>
            <dict>
                <key>frame</key>
                <string>{{3840,2168},{352,254}}</string>
                <key>offset</key>
                <string>{-35,112}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{301,273},{352,254}}</string>
                <key>sourceSize</key>
                <string>{1024,1024}</string>
            </dict>
            <key>6019311.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,1086},{260,434}}</string>
                <key>offset</key>
                <string>{-77,138}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{305,157},{260,434}}</string>
                <key>sourceSize</key>
                <string>{1024,1024}</string>
            </dict>
            <key>6019312.png</key>
            <dict>
                <key>frame</key>
                <string>{{3524,374},{270,424}}</string>
                <key>offset</key>
                <string>{-74,133}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{303,167},{270,424}}</string>
                <key>sourceSize</key>
                <string>{1024,1024}</string>
            </dict>
            <key>6019313.png</key>
            <dict>
                <key>frame</key>
                <string>{{2836,1878},{370,364}}</string>
                <key>offset</key>
                <string>{-2,103}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{325,227},{370,364}}</string>
                <key>sourceSize</key>
                <string>{1024,1024}</string>
            </dict>
            <key>6019314.png</key>
            <dict>
                <key>frame</key>
                <string>{{560,0},{560,310}}</string>
                <key>offset</key>
                <string>{53,76}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{285,281},{560,310}}</string>
                <key>sourceSize</key>
                <string>{1024,1024}</string>
            </dict>
            <key>6019315.png</key>
            <dict>
                <key>frame</key>
                <string>{{1732,1024},{404,370}}</string>
                <key>offset</key>
                <string>{-18,63}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{292,264},{404,370}}</string>
                <key>sourceSize</key>
                <string>{1024,1024}</string>
            </dict>
            <key>6019321.png</key>
            <dict>
                <key>frame</key>
                <string>{{3282,896},{340,394}}</string>
                <key>offset</key>
                <string>{-3,144}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{339,171},{340,394}}</string>
                <key>sourceSize</key>
                <string>{1024,1024}</string>
            </dict>
            <key>6019322.png</key>
            <dict>
                <key>frame</key>
                <string>{{3098,1236},{326,386}}</string>
                <key>offset</key>
                <string>{-48,144}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{301,175},{326,386}}</string>
                <key>sourceSize</key>
                <string>{1024,1024}</string>
            </dict>
            <key>6019323.png</key>
            <dict>
                <key>frame</key>
                <string>{{2872,408},{422,292}}</string>
                <key>offset</key>
                <string>{11,97}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{312,269},{422,292}}</string>
                <key>sourceSize</key>
                <string>{1024,1024}</string>
            </dict>
            <key>6019324.png</key>
            <dict>
                <key>frame</key>
                <string>{{1120,0},{560,292}}</string>
                <key>offset</key>
                <string>{78,97}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{310,269},{560,292}}</string>
                <key>sourceSize</key>
                <string>{1024,1024}</string>
            </dict>
            <key>6019325.png</key>
            <dict>
                <key>frame</key>
                <string>{{1680,0},{528,292}}</string>
                <key>offset</key>
                <string>{66,96}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{314,270},{528,292}}</string>
                <key>sourceSize</key>
                <string>{1024,1024}</string>
            </dict>
            <key>6019331.png</key>
            <dict>
                <key>frame</key>
                <string>{{2732,2546},{324,348}}</string>
                <key>offset</key>
                <string>{24,125}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{374,213},{324,348}}</string>
                <key>sourceSize</key>
                <string>{1024,1024}</string>
            </dict>
            <key>6019332.png</key>
            <dict>
                <key>frame</key>
                <string>{{1318,1006},{324,414}}</string>
                <key>offset</key>
                <string>{-5,104}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{345,201},{324,414}}</string>
                <key>sourceSize</key>
                <string>{1024,1024}</string>
            </dict>
            <key>6019333.png</key>
            <dict>
                <key>frame</key>
                <string>{{432,1378},{414,282}}</string>
                <key>offset</key>
                <string>{93,90}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{398,281},{414,282}}</string>
                <key>sourceSize</key>
                <string>{1024,1024}</string>
            </dict>
            <key>6019334.png</key>
            <dict>
                <key>frame</key>
                <string>{{3484,1272},{254,380}}</string>
                <key>offset</key>
                <string>{48,142}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{433,180},{254,380}}</string>
                <key>sourceSize</key>
                <string>{1024,1024}</string>
            </dict>
            <key>6019335.png</key>
            <dict>
                <key>frame</key>
                <string>{{398,1934},{386,386}}</string>
                <key>offset</key>
                <string>{100,145}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{419,174},{386,386}}</string>
                <key>sourceSize</key>
                <string>{1024,1024}</string>
            </dict>
            <key>6019341.png</key>
            <dict>
                <key>frame</key>
                <string>{{3834,2520},{262,352}}</string>
                <key>offset</key>
                <string>{44,102}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{425,234},{262,352}}</string>
                <key>sourceSize</key>
                <string>{1024,1024}</string>
            </dict>
            <key>6019342.png</key>
            <dict>
                <key>frame</key>
                <string>{{3476,2504},{286,358}}</string>
                <key>offset</key>
                <string>{35,83}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{404,250},{286,358}}</string>
                <key>sourceSize</key>
                <string>{1024,1024}</string>
            </dict>
            <key>6019343.png</key>
            <dict>
                <key>frame</key>
                <string>{{3484,1526},{372,374}}</string>
                <key>offset</key>
                <string>{134,111}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{460,214},{372,374}}</string>
                <key>sourceSize</key>
                <string>{1024,1024}</string>
            </dict>
            <key>6019344.png</key>
            <dict>
                <key>frame</key>
                <string>{{442,712},{262,440}}</string>
                <key>offset</key>
                <string>{9,152}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{390,140},{262,440}}</string>
                <key>sourceSize</key>
                <string>{1024,1024}</string>
            </dict>
            <key>6019345.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,1346},{260,432}}</string>
                <key>offset</key>
                <string>{2,151}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{384,145},{260,432}}</string>
                <key>sourceSize</key>
                <string>{1024,1024}</string>
            </dict>
            <key>6019351.png</key>
            <dict>
                <key>frame</key>
                <string>{{2346,2622},{260,346}}</string>
                <key>offset</key>
                <string>{76,115}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{458,224},{260,346}}</string>
                <key>sourceSize</key>
                <string>{1024,1024}</string>
            </dict>
            <key>6019352.png</key>
            <dict>
                <key>frame</key>
                <string>{{3206,2230},{270,328}}</string>
                <key>offset</key>
                <string>{74,95}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{451,253},{270,328}}</string>
                <key>sourceSize</key>
                <string>{1024,1024}</string>
            </dict>
            <key>6019353.png</key>
            <dict>
                <key>frame</key>
                <string>{{1568,292},{370,442}}</string>
                <key>offset</key>
                <string>{2,154}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{329,137},{370,442}}</string>
                <key>sourceSize</key>
                <string>{1024,1024}</string>
            </dict>
            <key>6019354.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{560,380}}</string>
                <key>offset</key>
                <string>{-53,140}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{179,182},{560,380}}</string>
                <key>sourceSize</key>
                <string>{1024,1024}</string>
            </dict>
            <key>6019355.png</key>
            <dict>
                <key>frame</key>
                <string>{{846,1460},{402,356}}</string>
                <key>offset</key>
                <string>{18,132}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{329,202},{402,356}}</string>
                <key>sourceSize</key>
                <string>{1024,1024}</string>
            </dict>
            <key>6019511.png</key>
            <dict>
                <key>frame</key>
                <string>{{2382,2276},{350,346}}</string>
                <key>offset</key>
                <string>{32,116}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{369,223},{350,346}}</string>
                <key>sourceSize</key>
                <string>{1024,1024}</string>
            </dict>
            <key>6019512.png</key>
            <dict>
                <key>frame</key>
                <string>{{1120,292},{448,272}}</string>
                <key>offset</key>
                <string>{27,-19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{315,395},{448,272}}</string>
                <key>sourceSize</key>
                <string>{1024,1024}</string>
            </dict>
            <key>6019521.png</key>
            <dict>
                <key>frame</key>
                <string>{{1448,662},{436,344}}</string>
                <key>offset</key>
                <string>{38,162}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{332,178},{436,344}}</string>
                <key>sourceSize</key>
                <string>{1024,1024}</string>
            </dict>
            <key>6019522.png</key>
            <dict>
                <key>frame</key>
                <string>{{2448,374},{424,250}}</string>
                <key>offset</key>
                <string>{76,-18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{376,405},{424,250}}</string>
                <key>sourceSize</key>
                <string>{1024,1024}</string>
            </dict>
            <key>6019531.png</key>
            <dict>
                <key>frame</key>
                <string>{{2910,1562},{316,374}}</string>
                <key>offset</key>
                <string>{-2,147}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{352,178},{316,374}}</string>
                <key>sourceSize</key>
                <string>{1024,1024}</string>
            </dict>
            <key>6019532.png</key>
            <dict>
                <key>frame</key>
                <string>{{876,1166},{414,294}}</string>
                <key>offset</key>
                <string>{60,44}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{365,321},{414,294}}</string>
                <key>sourceSize</key>
                <string>{1024,1024}</string>
            </dict>
            <key>6019541.png</key>
            <dict>
                <key>frame</key>
                <string>{{2464,1676},{276,372}}</string>
                <key>offset</key>
                <string>{-57,127}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{317,199},{276,372}}</string>
                <key>sourceSize</key>
                <string>{1024,1024}</string>
            </dict>
            <key>6019542.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,1606},{410,274}}</string>
                <key>offset</key>
                <string>{67,53}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{374,322},{410,274}}</string>
                <key>sourceSize</key>
                <string>{1024,1024}</string>
            </dict>
            <key>6019551.png</key>
            <dict>
                <key>frame</key>
                <string>{{1636,2070},{348,362}}</string>
                <key>offset</key>
                <string>{-32,135}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{306,196},{348,362}}</string>
                <key>sourceSize</key>
                <string>{1024,1024}</string>
            </dict>
            <key>6019552.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,380},{446,300}}</string>
                <key>offset</key>
                <string>{-27,71}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{262,291},{446,300}}</string>
                <key>sourceSize</key>
                <string>{1024,1024}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>6019.pvr.ccz</string>
            <key>size</key>
            <string>{4096,4096}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:642830e1a181894c59a38839e94519c5:1/1$</string>
            <key>textureFileName</key>
            <string>6019.pvr.ccz</string>
        </dict>
    </dict>
</plist>
