<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>83021.png</key>
            <dict>
                <key>frame</key>
                <string>{{376,426},{160,132}}</string>
                <key>offset</key>
                <string>{7,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{183,196},{160,132}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>83022.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,236},{212,212}}</string>
                <key>offset</key>
                <string>{2,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{152,155},{212,212}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>83023.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{236,264}}</string>
                <key>offset</key>
                <string>{5,-8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{143,132},{236,264}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>83024.png</key>
            <dict>
                <key>frame</key>
                <string>{{264,214},{212,220}}</string>
                <key>offset</key>
                <string>{2,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{152,147},{212,220}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>83025.png</key>
            <dict>
                <key>frame</key>
                <string>{{264,0},{214,236}}</string>
                <key>offset</key>
                <string>{1,7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{150,131},{214,236}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>83026.png</key>
            <dict>
                <key>frame</key>
                <string>{{212,426},{132,164}}</string>
                <key>offset</key>
                <string>{14,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{204,170},{132,164}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>8302.pvr.ccz</string>
            <key>size</key>
            <string>{512,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:d43aa660944171e25640285e7b8b3e39:1/1$</string>
            <key>textureFileName</key>
            <string>8302.pvr.ccz</string>
        </dict>
    </dict>
</plist>
