<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>82091.png</key>
            <dict>
                <key>frame</key>
                <string>{{742,362},{352,194}}</string>
                <key>offset</key>
                <string>{-6,-11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{74,170},{352,194}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>82092.png</key>
            <dict>
                <key>frame</key>
                <string>{{748,0},{362,222}}</string>
                <key>offset</key>
                <string>{-4,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{71,146},{362,222}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>82093.png</key>
            <dict>
                <key>frame</key>
                <string>{{378,632},{366,290}}</string>
                <key>offset</key>
                <string>{-5,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{68,109},{366,290}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>82094.png</key>
            <dict>
                <key>frame</key>
                <string>{{374,320},{368,312}}</string>
                <key>offset</key>
                <string>{-6,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{66,98},{368,312}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>82095.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,364},{372,350}}</string>
                <key>offset</key>
                <string>{-5,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{65,78},{372,350}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>82096.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{374,364}}</string>
                <key>offset</key>
                <string>{-6,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{63,72},{374,364}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>82097.png</key>
            <dict>
                <key>frame</key>
                <string>{{374,0},{374,320}}</string>
                <key>offset</key>
                <string>{-5,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{64,94},{374,320}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>82098.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,714},{378,302}}</string>
                <key>offset</key>
                <string>{-2,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{65,96},{378,302}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>8209.pvr.ccz</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:2b17fcdde8d5e77b85088cf74068a765:1/1$</string>
            <key>textureFileName</key>
            <string>8209.pvr.ccz</string>
        </dict>
    </dict>
</plist>
