<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>storeEffect31.png</key>
            <dict>
                <key>frame</key>
                <string>{{170,330},{166,162}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{166,162}}</string>
                <key>sourceSize</key>
                <string>{166,166}</string>
            </dict>
            <key>storeEffect32.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,330},{166,162}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{166,162}}</string>
                <key>sourceSize</key>
                <string>{166,166}</string>
            </dict>
            <key>storeEffect33.png</key>
            <dict>
                <key>frame</key>
                <string>{{338,170},{166,162}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,1},{166,162}}</string>
                <key>sourceSize</key>
                <string>{166,166}</string>
            </dict>
            <key>storeEffect34.png</key>
            <dict>
                <key>frame</key>
                <string>{{170,166},{166,162}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{166,162}}</string>
                <key>sourceSize</key>
                <string>{166,166}</string>
            </dict>
            <key>storeEffect35.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,166},{166,162}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{166,162}}</string>
                <key>sourceSize</key>
                <string>{166,166}</string>
            </dict>
            <key>storeEffect36.png</key>
            <dict>
                <key>frame</key>
                <string>{{338,2},{166,162}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,1},{166,162}}</string>
                <key>sourceSize</key>
                <string>{166,166}</string>
            </dict>
            <key>storeEffect37.png</key>
            <dict>
                <key>frame</key>
                <string>{{170,2},{166,162}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{166,162}}</string>
                <key>sourceSize</key>
                <string>{166,166}</string>
            </dict>
            <key>storeEffect38.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{166,162}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{166,162}}</string>
                <key>sourceSize</key>
                <string>{166,166}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>storeEffect3.pvr.ccz</string>
            <key>size</key>
            <string>{502,494}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:808205485096f7b450a77ea41e610cae:1/1$</string>
            <key>textureFileName</key>
            <string>storeEffect3.pvr.ccz</string>
        </dict>
    </dict>
</plist>
