<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>scene_underwayEffect1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-5,0}</string>
                <key>spriteSize</key>
                <string>{55,17}</string>
                <key>spriteSourceSize</key>
                <string>{65,17}</string>
                <key>textureRect</key>
                <string>{{131,1},{55,17}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>scene_underwayEffect2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-5,0}</string>
                <key>spriteSize</key>
                <string>{55,17}</string>
                <key>spriteSourceSize</key>
                <string>{65,17}</string>
                <key>textureRect</key>
                <string>{{131,1},{55,17}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>scene_underwayEffect3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,0}</string>
                <key>spriteSize</key>
                <string>{61,17}</string>
                <key>spriteSourceSize</key>
                <string>{65,17}</string>
                <key>textureRect</key>
                <string>{{68,1},{61,17}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>scene_underwayEffect4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,0}</string>
                <key>spriteSize</key>
                <string>{61,17}</string>
                <key>spriteSourceSize</key>
                <string>{65,17}</string>
                <key>textureRect</key>
                <string>{{68,1},{61,17}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>scene_underwayEffect5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{65,17}</string>
                <key>spriteSourceSize</key>
                <string>{65,17}</string>
                <key>textureRect</key>
                <string>{{1,1},{65,17}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>scene_underwayEffect6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{65,17}</string>
                <key>spriteSourceSize</key>
                <string>{65,17}</string>
                <key>textureRect</key>
                <string>{{1,1},{65,17}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>realTextureFileName</key>
            <string>scene_underwayEffect.pvr.ccz</string>
            <key>size</key>
            <string>{188,19}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:52d38862f4a1519524805518bb596997:2fada009a9e4e5773c7bb32fc9103234:903def035f492d329c18de07a9b1e40e$</string>
            <key>textureFileName</key>
            <string>scene_underwayEffect.pvr.ccz</string>
        </dict>
    </dict>
</plist>
