<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>face321.png</key>
			<dict>
				<key>width</key>
				<integer>66</integer>
				<key>height</key>
				<integer>49</integer>
				<key>originalWidth</key>
				<integer>66</integer>
				<key>originalHeight</key>
				<integer>49</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>face3210.png</key>
			<dict>
				<key>width</key>
				<integer>60</integer>
				<key>height</key>
				<integer>49</integer>
				<key>originalWidth</key>
				<integer>66</integer>
				<key>originalHeight</key>
				<integer>49</integer>
				<key>x</key>
				<integer>67</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>3</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>face3211.png</key>
			<dict>
				<key>width</key>
				<integer>66</integer>
				<key>height</key>
				<integer>49</integer>
				<key>originalWidth</key>
				<integer>66</integer>
				<key>originalHeight</key>
				<integer>49</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>50</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>face3212.png</key>
			<dict>
				<key>width</key>
				<integer>60</integer>
				<key>height</key>
				<integer>49</integer>
				<key>originalWidth</key>
				<integer>66</integer>
				<key>originalHeight</key>
				<integer>49</integer>
				<key>x</key>
				<integer>67</integer>
				<key>y</key>
				<integer>50</integer>
				<key>offsetX</key>
				<real>3</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>face3213.png</key>
			<dict>
				<key>width</key>
				<integer>66</integer>
				<key>height</key>
				<integer>49</integer>
				<key>originalWidth</key>
				<integer>66</integer>
				<key>originalHeight</key>
				<integer>49</integer>
				<key>x</key>
				<integer>128</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>face3214.png</key>
			<dict>
				<key>width</key>
				<integer>60</integer>
				<key>height</key>
				<integer>49</integer>
				<key>originalWidth</key>
				<integer>66</integer>
				<key>originalHeight</key>
				<integer>49</integer>
				<key>x</key>
				<integer>128</integer>
				<key>y</key>
				<integer>50</integer>
				<key>offsetX</key>
				<real>3</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>face3215.png</key>
			<dict>
				<key>width</key>
				<integer>66</integer>
				<key>height</key>
				<integer>49</integer>
				<key>originalWidth</key>
				<integer>66</integer>
				<key>originalHeight</key>
				<integer>49</integer>
				<key>x</key>
				<integer>189</integer>
				<key>y</key>
				<integer>50</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>face3216.png</key>
			<dict>
				<key>width</key>
				<integer>60</integer>
				<key>height</key>
				<integer>49</integer>
				<key>originalWidth</key>
				<integer>66</integer>
				<key>originalHeight</key>
				<integer>49</integer>
				<key>x</key>
				<integer>195</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>3</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>face3217.png</key>
			<dict>
				<key>width</key>
				<integer>66</integer>
				<key>height</key>
				<integer>49</integer>
				<key>originalWidth</key>
				<integer>66</integer>
				<key>originalHeight</key>
				<integer>49</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>100</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>face3218.png</key>
			<dict>
				<key>width</key>
				<integer>60</integer>
				<key>height</key>
				<integer>49</integer>
				<key>originalWidth</key>
				<integer>66</integer>
				<key>originalHeight</key>
				<integer>49</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>150</integer>
				<key>offsetX</key>
				<real>3</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>face322.png</key>
			<dict>
				<key>width</key>
				<integer>60</integer>
				<key>height</key>
				<integer>49</integer>
				<key>originalWidth</key>
				<integer>66</integer>
				<key>originalHeight</key>
				<integer>49</integer>
				<key>x</key>
				<integer>67</integer>
				<key>y</key>
				<integer>100</integer>
				<key>offsetX</key>
				<real>3</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>face323.png</key>
			<dict>
				<key>width</key>
				<integer>66</integer>
				<key>height</key>
				<integer>49</integer>
				<key>originalWidth</key>
				<integer>66</integer>
				<key>originalHeight</key>
				<integer>49</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>200</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>face324.png</key>
			<dict>
				<key>width</key>
				<integer>60</integer>
				<key>height</key>
				<integer>49</integer>
				<key>originalWidth</key>
				<integer>66</integer>
				<key>originalHeight</key>
				<integer>49</integer>
				<key>x</key>
				<integer>61</integer>
				<key>y</key>
				<integer>150</integer>
				<key>offsetX</key>
				<real>3</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>face325.png</key>
			<dict>
				<key>width</key>
				<integer>66</integer>
				<key>height</key>
				<integer>49</integer>
				<key>originalWidth</key>
				<integer>66</integer>
				<key>originalHeight</key>
				<integer>49</integer>
				<key>x</key>
				<integer>128</integer>
				<key>y</key>
				<integer>100</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>face326.png</key>
			<dict>
				<key>width</key>
				<integer>60</integer>
				<key>height</key>
				<integer>49</integer>
				<key>originalWidth</key>
				<integer>66</integer>
				<key>originalHeight</key>
				<integer>49</integer>
				<key>x</key>
				<integer>67</integer>
				<key>y</key>
				<integer>200</integer>
				<key>offsetX</key>
				<real>3</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>face327.png</key>
			<dict>
				<key>width</key>
				<integer>66</integer>
				<key>height</key>
				<integer>49</integer>
				<key>originalWidth</key>
				<integer>66</integer>
				<key>originalHeight</key>
				<integer>49</integer>
				<key>x</key>
				<integer>122</integer>
				<key>y</key>
				<integer>150</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>face328.png</key>
			<dict>
				<key>width</key>
				<integer>60</integer>
				<key>height</key>
				<integer>49</integer>
				<key>originalWidth</key>
				<integer>66</integer>
				<key>originalHeight</key>
				<integer>49</integer>
				<key>x</key>
				<integer>195</integer>
				<key>y</key>
				<integer>100</integer>
				<key>offsetX</key>
				<real>3</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>face329.png</key>
			<dict>
				<key>width</key>
				<integer>66</integer>
				<key>height</key>
				<integer>49</integer>
				<key>originalWidth</key>
				<integer>66</integer>
				<key>originalHeight</key>
				<integer>49</integer>
				<key>x</key>
				<integer>128</integer>
				<key>y</key>
				<integer>200</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>0</integer>
			<key>textureFileName</key>
			<string>face320.png</string>
			<key>realTextureFileName</key>
			<string>face320.png</string>
			<key>size</key>
			<string>{4096,4096}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>4096</integer>
			<key>height</key>
			<integer>4096</integer>
		</dict>
	</dict>
</plist>