[
	{sasl, [
		{sasl_error_logger, false},
		{errlog_type, error},
		{error_logger_mf_dir, "./logs"},	%% dirs
		{error_logger_mf_maxbytes, 1},		%% 10M per log file.
		{error_logger_mf_maxfiles, 10}		%% maxinum number of 10
	]
	},

	{server, [
		{server_no, 101},			%% 服务器编号
		{tcp_listener, [
			{ip, "127.0.0.1"},
			{port, 10011}
		]},
		{background_port, 10003},
		%% 日志等级: 0 无日志, 1 危险, 2 错误, 3 警告, 4 信息, 5 调试, 6 测试
		{log_level, 3},
		%% log_list, 用于控制单独模块日志级别格式如[{模块名, 日志级别}, ...]
		{log_list, [
			{chat_pp, 5}
		]},
		{sid, 10001},
		{start_time, {{2016,06,24}, {10,0,0}}},		%% 开服时间
		{merge_servers,[101]},		%%当成目标区服
		{source_servers, [118]},
		{mysql_conn,[ %% 游戏数据库
			{host, "127.0.0.1"},
			{user, "dev"},
			{password, "td123"},
			{port, 3306},
			{db, "chuanqi_db"},
			{encode, utf8mb4}
		]
		},
		{mysql_conn_log,[ %% 日志数据库
			{host, "127.0.0.1"},
			{user, "dev"},
			{password, "td123"},
			{port, 3306},
			{db, "chuanqi_log"},
			{encode, utf8mb4}
		]
		}
	]
	}
].

