<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>7523111.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,50},{50,118}}</string>
                <key>offset</key>
                <string>{0,48}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{335,253},{50,118}}</string>
                <key>sourceSize</key>
                <string>{720,720}</string>
            </dict>
            <key>7523112.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{50,118}}</string>
                <key>offset</key>
                <string>{1,48}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{336,253},{50,118}}</string>
                <key>sourceSize</key>
                <string>{720,720}</string>
            </dict>
            <key>7523113.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,100},{48,118}}</string>
                <key>offset</key>
                <string>{0,48}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{336,253},{48,118}}</string>
                <key>sourceSize</key>
                <string>{720,720}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>7523.pvr.ccz</string>
            <key>size</key>
            <string>{128,256}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:127751c953a8010377f9b1436d953626:1/1$</string>
            <key>textureFileName</key>
            <string>7523.pvr.ccz</string>
        </dict>
    </dict>
</plist>
