<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>91011.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,814},{142,102}}</string>
                <key>offset</key>
                <string>{-2,-16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{287,325},{142,102}}</string>
                <key>sourceSize</key>
                <string>{720,720}</string>
            </dict>
            <key>910110.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,710},{142,102}}</string>
                <key>offset</key>
                <string>{-2,-16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{287,325},{142,102}}</string>
                <key>sourceSize</key>
                <string>{720,720}</string>
            </dict>
            <key>910111.png</key>
            <dict>
                <key>frame</key>
                <string>{{146,578},{142,104}}</string>
                <key>offset</key>
                <string>{-2,-14}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{287,322},{142,104}}</string>
                <key>sourceSize</key>
                <string>{720,720}</string>
            </dict>
            <key>910112.png</key>
            <dict>
                <key>frame</key>
                <string>{{146,722},{142,106}}</string>
                <key>offset</key>
                <string>{-2,-14}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{287,321},{142,106}}</string>
                <key>sourceSize</key>
                <string>{720,720}</string>
            </dict>
            <key>910113.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,302},{142,98}}</string>
                <key>offset</key>
                <string>{-2,-17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{287,328},{142,98}}</string>
                <key>sourceSize</key>
                <string>{720,720}</string>
            </dict>
            <key>910114.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,202},{142,98}}</string>
                <key>offset</key>
                <string>{-2,-17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{287,328},{142,98}}</string>
                <key>sourceSize</key>
                <string>{720,720}</string>
            </dict>
            <key>910115.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,606},{142,102}}</string>
                <key>offset</key>
                <string>{-1,-15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{288,324},{142,102}}</string>
                <key>sourceSize</key>
                <string>{720,720}</string>
            </dict>
            <key>91012.png</key>
            <dict>
                <key>frame</key>
                <string>{{146,290},{142,104}}</string>
                <key>offset</key>
                <string>{-2,-14}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{287,322},{142,104}}</string>
                <key>sourceSize</key>
                <string>{720,720}</string>
            </dict>
            <key>91013.png</key>
            <dict>
                <key>frame</key>
                <string>{{146,434},{142,106}}</string>
                <key>offset</key>
                <string>{-2,-14}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{287,321},{142,106}}</string>
                <key>sourceSize</key>
                <string>{720,720}</string>
            </dict>
            <key>91014.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,102},{142,98}}</string>
                <key>offset</key>
                <string>{-2,-17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{287,328},{142,98}}</string>
                <key>sourceSize</key>
                <string>{720,720}</string>
            </dict>
            <key>91015.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{142,98}}</string>
                <key>offset</key>
                <string>{-2,-17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{287,328},{142,98}}</string>
                <key>sourceSize</key>
                <string>{720,720}</string>
            </dict>
            <key>91016.png</key>
            <dict>
                <key>frame</key>
                <string>{{146,146},{142,102}}</string>
                <key>offset</key>
                <string>{-2,-15}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{287,324},{142,102}}</string>
                <key>sourceSize</key>
                <string>{720,720}</string>
            </dict>
            <key>91017.png</key>
            <dict>
                <key>frame</key>
                <string>{{146,2},{142,102}}</string>
                <key>offset</key>
                <string>{-2,-15}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{287,324},{142,102}}</string>
                <key>sourceSize</key>
                <string>{720,720}</string>
            </dict>
            <key>91018.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,504},{142,100}}</string>
                <key>offset</key>
                <string>{-1,-16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{288,326},{142,100}}</string>
                <key>sourceSize</key>
                <string>{720,720}</string>
            </dict>
            <key>91019.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,402},{142,100}}</string>
                <key>offset</key>
                <string>{-2,-16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{287,326},{142,100}}</string>
                <key>sourceSize</key>
                <string>{720,720}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>9101.pvr.ccz</string>
            <key>size</key>
            <string>{254,918}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:a9663b238c894d448e66d4870725db15:1/1$</string>
            <key>textureFileName</key>
            <string>9101.pvr.ccz</string>
        </dict>
    </dict>
</plist>
