<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>821111.png</key>
            <dict>
                <key>frame</key>
                <string>{{926,850},{108,72}}</string>
                <key>offset</key>
                <string>{0,20}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{202,200},{108,72}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>821112.png</key>
            <dict>
                <key>frame</key>
                <string>{{796,1020},{180,130}}</string>
                <key>offset</key>
                <string>{4,24}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{170,167},{180,130}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>821113.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,1012},{242,174}}</string>
                <key>offset</key>
                <string>{10,22}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{145,147},{242,174}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>821114.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,806},{312,206}}</string>
                <key>offset</key>
                <string>{10,15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{110,138},{312,206}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>821115.png</key>
            <dict>
                <key>frame</key>
                <string>{{334,208},{334,208}}</string>
                <key>offset</key>
                <string>{5,21}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{94,131},{334,208}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>821116.png</key>
            <dict>
                <key>frame</key>
                <string>{{318,416},{318,184}}</string>
                <key>offset</key>
                <string>{8,12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{105,152},{318,184}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>821121.png</key>
            <dict>
                <key>frame</key>
                <string>{{936,742},{108,72}}</string>
                <key>offset</key>
                <string>{0,20}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{202,200},{108,72}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>821122.png</key>
            <dict>
                <key>frame</key>
                <string>{{796,1150},{180,126}}</string>
                <key>offset</key>
                <string>{4,22}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{170,171},{180,126}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>821123.png</key>
            <dict>
                <key>frame</key>
                <string>{{554,1014},{242,174}}</string>
                <key>offset</key>
                <string>{10,22}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{145,147},{242,174}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>821124.png</key>
            <dict>
                <key>frame</key>
                <string>{{624,634},{312,206}}</string>
                <key>offset</key>
                <string>{10,15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{110,138},{312,206}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>821125.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,208},{334,208}}</string>
                <key>offset</key>
                <string>{5,21}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{94,131},{334,208}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>821126.png</key>
            <dict>
                <key>frame</key>
                <string>{{318,416},{318,184}}</string>
                <key>offset</key>
                <string>{8,12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{105,152},{318,184}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>821131.png</key>
            <dict>
                <key>frame</key>
                <string>{{936,634},{108,72}}</string>
                <key>offset</key>
                <string>{0,20}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{202,200},{108,72}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>821132.png</key>
            <dict>
                <key>frame</key>
                <string>{{796,840},{180,130}}</string>
                <key>offset</key>
                <string>{4,24}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{170,167},{180,130}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>821133.png</key>
            <dict>
                <key>frame</key>
                <string>{{312,980},{242,174}}</string>
                <key>offset</key>
                <string>{10,22}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{145,147},{242,174}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>821134.png</key>
            <dict>
                <key>frame</key>
                <string>{{312,600},{312,206}}</string>
                <key>offset</key>
                <string>{10,15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{110,138},{312,206}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>821135.png</key>
            <dict>
                <key>frame</key>
                <string>{{676,0},{334,208}}</string>
                <key>offset</key>
                <string>{5,21}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{94,131},{334,208}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>821136.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,416},{318,184}}</string>
                <key>offset</key>
                <string>{8,12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{105,152},{318,184}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>821141.png</key>
            <dict>
                <key>frame</key>
                <string>{{948,526},{108,72}}</string>
                <key>offset</key>
                <string>{0,20}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{202,200},{108,72}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>821142.png</key>
            <dict>
                <key>frame</key>
                <string>{{422,1154},{180,116}}</string>
                <key>offset</key>
                <string>{4,17}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{170,181},{180,116}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>821143.png</key>
            <dict>
                <key>frame</key>
                <string>{{554,840},{242,174}}</string>
                <key>offset</key>
                <string>{10,22}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{145,147},{242,174}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>821144.png</key>
            <dict>
                <key>frame</key>
                <string>{{636,418},{312,216}}</string>
                <key>offset</key>
                <string>{10,20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{110,128},{312,216}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>821145.png</key>
            <dict>
                <key>frame</key>
                <string>{{342,0},{334,208}}</string>
                <key>offset</key>
                <string>{5,21}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{94,131},{334,208}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>821146.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,416},{318,184}}</string>
                <key>offset</key>
                <string>{8,12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{105,152},{318,184}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>821151.png</key>
            <dict>
                <key>frame</key>
                <string>{{948,418},{108,72}}</string>
                <key>offset</key>
                <string>{0,20}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{202,200},{108,72}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>821152.png</key>
            <dict>
                <key>frame</key>
                <string>{{242,1154},{180,122}}</string>
                <key>offset</key>
                <string>{4,20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{170,175},{180,122}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>821153.png</key>
            <dict>
                <key>frame</key>
                <string>{{312,806},{242,174}}</string>
                <key>offset</key>
                <string>{10,22}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{145,147},{242,174}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>821154.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,600},{312,206}}</string>
                <key>offset</key>
                <string>{10,15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{110,138},{312,206}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>821155.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{342,208}}</string>
                <key>offset</key>
                <string>{10,21}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{95,131},{342,208}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>821156.png</key>
            <dict>
                <key>frame</key>
                <string>{{668,208},{318,210}}</string>
                <key>offset</key>
                <string>{8,25}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{105,126},{318,210}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>8211.pvr.ccz</string>
            <key>size</key>
            <string>{1024,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:b6cad1ab0bce387004cfe2f78dfa2bc4:1/1$</string>
            <key>textureFileName</key>
            <string>8211.pvr.ccz</string>
        </dict>
    </dict>
</plist>
