<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Vip31.png</key>
            <dict>
                <key>frame</key>
                <string>{{412,2},{80,82}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{80,82}}</string>
                <key>sourceSize</key>
                <string>{82,82}</string>
            </dict>
            <key>Vip32.png</key>
            <dict>
                <key>frame</key>
                <string>{{330,2},{80,82}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{80,82}}</string>
                <key>sourceSize</key>
                <string>{82,82}</string>
            </dict>
            <key>Vip33.png</key>
            <dict>
                <key>frame</key>
                <string>{{248,2},{80,82}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{80,82}}</string>
                <key>sourceSize</key>
                <string>{82,82}</string>
            </dict>
            <key>Vip34.png</key>
            <dict>
                <key>frame</key>
                <string>{{166,2},{80,82}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{80,82}}</string>
                <key>sourceSize</key>
                <string>{82,82}</string>
            </dict>
            <key>Vip35.png</key>
            <dict>
                <key>frame</key>
                <string>{{84,2},{80,82}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{80,82}}</string>
                <key>sourceSize</key>
                <string>{82,82}</string>
            </dict>
            <key>Vip36.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{80,82}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{80,82}}</string>
                <key>sourceSize</key>
                <string>{82,82}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>Vip3.pvr.ccz</string>
            <key>size</key>
            <string>{494,86}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:bcc6ded3f8152488b960df9db9883085:1/1$</string>
            <key>textureFileName</key>
            <string>Vip3.pvr.ccz</string>
        </dict>
    </dict>
</plist>
