<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>6904111.png</key>
            <dict>
                <key>frame</key>
                <string>{{1838,0},{186,198}}</string>
                <key>offset</key>
                <string>{-7,51}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{412,452},{186,198}}</string>
                <key>sourceSize</key>
                <string>{1024,1204}</string>
            </dict>
            <key>6904112.png</key>
            <dict>
                <key>frame</key>
                <string>{{1438,156},{182,198}}</string>
                <key>offset</key>
                <string>{-8,53}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{413,450},{182,198}}</string>
                <key>sourceSize</key>
                <string>{1024,1204}</string>
            </dict>
            <key>6904113.png</key>
            <dict>
                <key>frame</key>
                <string>{{1638,152},{182,198}}</string>
                <key>offset</key>
                <string>{-7,53}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{414,450},{182,198}}</string>
                <key>sourceSize</key>
                <string>{1024,1204}</string>
            </dict>
            <key>6904121.png</key>
            <dict>
                <key>frame</key>
                <string>{{1116,0},{166,208}}</string>
                <key>offset</key>
                <string>{-6,36}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{423,462},{166,208}}</string>
                <key>sourceSize</key>
                <string>{1024,1204}</string>
            </dict>
            <key>6904122.png</key>
            <dict>
                <key>frame</key>
                <string>{{802,1164},{158,208}}</string>
                <key>offset</key>
                <string>{-6,38}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{427,460},{158,208}}</string>
                <key>sourceSize</key>
                <string>{1024,1204}</string>
            </dict>
            <key>6904123.png</key>
            <dict>
                <key>frame</key>
                <string>{{848,908},{162,206}}</string>
                <key>offset</key>
                <string>{-6,37}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{425,462},{162,206}}</string>
                <key>sourceSize</key>
                <string>{1024,1204}</string>
            </dict>
            <key>6904131.png</key>
            <dict>
                <key>frame</key>
                <string>{{1048,434},{154,202}}</string>
                <key>offset</key>
                <string>{5,44}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{440,457},{154,202}}</string>
                <key>sourceSize</key>
                <string>{1024,1204}</string>
            </dict>
            <key>6904132.png</key>
            <dict>
                <key>frame</key>
                <string>{{1638,0},{152,200}}</string>
                <key>offset</key>
                <string>{6,47}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{442,455},{152,200}}</string>
                <key>sourceSize</key>
                <string>{1024,1204}</string>
            </dict>
            <key>6904133.png</key>
            <dict>
                <key>frame</key>
                <string>{{1282,0},{156,200}}</string>
                <key>offset</key>
                <string>{7,46}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{441,456},{156,200}}</string>
                <key>sourceSize</key>
                <string>{1024,1204}</string>
            </dict>
            <key>6904141.png</key>
            <dict>
                <key>frame</key>
                <string>{{1294,832},{176,180}}</string>
                <key>offset</key>
                <string>{27,61}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{451,451},{176,180}}</string>
                <key>sourceSize</key>
                <string>{1024,1204}</string>
            </dict>
            <key>6904142.png</key>
            <dict>
                <key>frame</key>
                <string>{{1748,710},{174,180}}</string>
                <key>offset</key>
                <string>{28,61}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{453,451},{174,180}}</string>
                <key>sourceSize</key>
                <string>{1024,1204}</string>
            </dict>
            <key>6904143.png</key>
            <dict>
                <key>frame</key>
                <string>{{1114,866},{174,180}}</string>
                <key>offset</key>
                <string>{27,61}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{452,451},{174,180}}</string>
                <key>sourceSize</key>
                <string>{1024,1204}</string>
            </dict>
            <key>6904151.png</key>
            <dict>
                <key>frame</key>
                <string>{{1830,536},{186,174}}</string>
                <key>offset</key>
                <string>{7,67}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{426,448},{186,174}}</string>
                <key>sourceSize</key>
                <string>{1024,1204}</string>
            </dict>
            <key>6904152.png</key>
            <dict>
                <key>frame</key>
                <string>{{1386,656},{182,176}}</string>
                <key>offset</key>
                <string>{7,68}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{428,446},{182,176}}</string>
                <key>sourceSize</key>
                <string>{1024,1204}</string>
            </dict>
            <key>6904153.png</key>
            <dict>
                <key>frame</key>
                <string>{{1114,690},{180,176}}</string>
                <key>offset</key>
                <string>{6,68}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{428,446},{180,176}}</string>
                <key>sourceSize</key>
                <string>{1024,1204}</string>
            </dict>
            <key>6904211.png</key>
            <dict>
                <key>frame</key>
                <string>{{478,1004},{230,212}}</string>
                <key>offset</key>
                <string>{-21,52}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{376,444},{230,212}}</string>
                <key>sourceSize</key>
                <string>{1024,1204}</string>
            </dict>
            <key>6904212.png</key>
            <dict>
                <key>frame</key>
                <string>{{684,0},{228,214}}</string>
                <key>offset</key>
                <string>{-27,34}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{371,461},{228,214}}</string>
                <key>sourceSize</key>
                <string>{1024,1204}</string>
            </dict>
            <key>6904213.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,1540},{236,228}}</string>
                <key>offset</key>
                <string>{-21,46}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{373,442},{236,228}}</string>
                <key>sourceSize</key>
                <string>{1024,1204}</string>
            </dict>
            <key>6904214.png</key>
            <dict>
                <key>frame</key>
                <string>{{608,1716},{218,218}}</string>
                <key>offset</key>
                <string>{-9,52}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{394,441},{218,218}}</string>
                <key>sourceSize</key>
                <string>{1024,1204}</string>
            </dict>
            <key>6904215.png</key>
            <dict>
                <key>frame</key>
                <string>{{922,666},{204,192}}</string>
                <key>offset</key>
                <string>{7,44}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{417,462},{204,192}}</string>
                <key>sourceSize</key>
                <string>{1024,1204}</string>
            </dict>
            <key>6904221.png</key>
            <dict>
                <key>frame</key>
                <string>{{322,250},{200,240}}</string>
                <key>offset</key>
                <string>{13,41}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{425,441},{200,240}}</string>
                <key>sourceSize</key>
                <string>{1024,1204}</string>
            </dict>
            <key>6904222.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,1292},{196,248}}</string>
                <key>offset</key>
                <string>{12,21}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{426,457},{196,248}}</string>
                <key>sourceSize</key>
                <string>{1024,1204}</string>
            </dict>
            <key>6904223.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{192,274}}</string>
                <key>offset</key>
                <string>{13,34}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{429,431},{192,274}}</string>
                <key>sourceSize</key>
                <string>{1024,1204}</string>
            </dict>
            <key>6904224.png</key>
            <dict>
                <key>frame</key>
                <string>{{102,532},{140,252}}</string>
                <key>offset</key>
                <string>{-8,50}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{434,426},{140,252}}</string>
                <key>sourceSize</key>
                <string>{1024,1204}</string>
            </dict>
            <key>6904225.png</key>
            <dict>
                <key>frame</key>
                <string>{{690,948},{158,216}}</string>
                <key>offset</key>
                <string>{17,49}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{450,445},{158,216}}</string>
                <key>sourceSize</key>
                <string>{1024,1204}</string>
            </dict>
            <key>6904231.png</key>
            <dict>
                <key>frame</key>
                <string>{{652,466},{192,228}}</string>
                <key>offset</key>
                <string>{33,58}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{449,430},{192,228}}</string>
                <key>sourceSize</key>
                <string>{1024,1204}</string>
            </dict>
            <key>6904232.png</key>
            <dict>
                <key>frame</key>
                <string>{{192,0},{184,250}}</string>
                <key>offset</key>
                <string>{24,46}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{444,431},{184,250}}</string>
                <key>sourceSize</key>
                <string>{1024,1204}</string>
            </dict>
            <key>6904233.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,274},{186,258}}</string>
                <key>offset</key>
                <string>{29,47}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{448,426},{186,258}}</string>
                <key>sourceSize</key>
                <string>{1024,1204}</string>
            </dict>
            <key>6904234.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,1776},{170,234}}</string>
                <key>offset</key>
                <string>{29,61}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{456,424},{170,234}}</string>
                <key>sourceSize</key>
                <string>{1024,1204}</string>
            </dict>
            <key>6904235.png</key>
            <dict>
                <key>frame</key>
                <string>{{1836,186},{190,194}}</string>
                <key>offset</key>
                <string>{44,73}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{461,432},{190,194}}</string>
                <key>sourceSize</key>
                <string>{1024,1204}</string>
            </dict>
            <key>6904241.png</key>
            <dict>
                <key>frame</key>
                <string>{{536,720},{228,202}}</string>
                <key>offset</key>
                <string>{51,85}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{449,416},{228,202}}</string>
                <key>sourceSize</key>
                <string>{1024,1204}</string>
            </dict>
            <key>6904242.png</key>
            <dict>
                <key>frame</key>
                <string>{{228,1526},{232,208}}</string>
                <key>offset</key>
                <string>{47,76}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{443,422},{232,208}}</string>
                <key>sourceSize</key>
                <string>{1024,1204}</string>
            </dict>
            <key>6904243.png</key>
            <dict>
                <key>frame</key>
                <string>{{266,1028},{236,212}}</string>
                <key>offset</key>
                <string>{48,82}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{442,414},{236,212}}</string>
                <key>sourceSize</key>
                <string>{1024,1204}</string>
            </dict>
            <key>6904244.png</key>
            <dict>
                <key>frame</key>
                <string>{{242,526},{242,222}}</string>
                <key>offset</key>
                <string>{28,79}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{419,412},{242,222}}</string>
                <key>sourceSize</key>
                <string>{1024,1204}</string>
            </dict>
            <key>6904245.png</key>
            <dict>
                <key>frame</key>
                <string>{{740,228},{226,218}}</string>
                <key>offset</key>
                <string>{37,77}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{436,416},{226,218}}</string>
                <key>sourceSize</key>
                <string>{1024,1204}</string>
            </dict>
            <key>6904251.png</key>
            <dict>
                <key>frame</key>
                <string>{{410,1264},{230,212}}</string>
                <key>offset</key>
                <string>{20,89}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{417,407},{230,212}}</string>
                <key>sourceSize</key>
                <string>{1024,1204}</string>
            </dict>
            <key>6904252.png</key>
            <dict>
                <key>frame</key>
                <string>{{522,238},{228,218}}</string>
                <key>offset</key>
                <string>{26,80}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{424,413},{228,218}}</string>
                <key>sourceSize</key>
                <string>{1024,1204}</string>
            </dict>
            <key>6904253.png</key>
            <dict>
                <key>frame</key>
                <string>{{196,1290},{236,214}}</string>
                <key>offset</key>
                <string>{21,90}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{415,405},{236,214}}</string>
                <key>sourceSize</key>
                <string>{1024,1204}</string>
            </dict>
            <key>6904254.png</key>
            <dict>
                <key>frame</key>
                <string>{{612,1494},{218,214}}</string>
                <key>offset</key>
                <string>{9,84}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{412,411},{218,214}}</string>
                <key>sourceSize</key>
                <string>{1024,1204}</string>
            </dict>
            <key>6904255.png</key>
            <dict>
                <key>frame</key>
                <string>{{844,454},{204,212}}</string>
                <key>offset</key>
                <string>{-8,84}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{402,412},{204,212}}</string>
                <key>sourceSize</key>
                <string>{1024,1204}</string>
            </dict>
            <key>6904311.png</key>
            <dict>
                <key>frame</key>
                <string>{{1474,1002},{168,172}}</string>
                <key>offset</key>
                <string>{-7,41}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{421,385},{168,172}}</string>
                <key>sourceSize</key>
                <string>{1024,1024}</string>
            </dict>
            <key>6904312.png</key>
            <dict>
                <key>frame</key>
                <string>{{1132,208},{200,184}}</string>
                <key>offset</key>
                <string>{-28,73}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{384,347},{200,184}}</string>
                <key>sourceSize</key>
                <string>{1024,1024}</string>
            </dict>
            <key>6904313.png</key>
            <dict>
                <key>frame</key>
                <string>{{464,1716},{144,222}}</string>
                <key>offset</key>
                <string>{-8,92}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{432,309},{144,222}}</string>
                <key>sourceSize</key>
                <string>{1024,1024}</string>
            </dict>
            <key>6904314.png</key>
            <dict>
                <key>frame</key>
                <string>{{358,768},{178,236}}</string>
                <key>offset</key>
                <string>{-11,99}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{412,295},{178,236}}</string>
                <key>sourceSize</key>
                <string>{1024,1024}</string>
            </dict>
            <key>6904315.png</key>
            <dict>
                <key>frame</key>
                <string>{{170,1776},{136,234}}</string>
                <key>offset</key>
                <string>{15,-12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{459,407},{136,234}}</string>
                <key>sourceSize</key>
                <string>{1024,1024}</string>
            </dict>
            <key>6904321.png</key>
            <dict>
                <key>frame</key>
                <string>{{1654,884},{160,176}}</string>
                <key>offset</key>
                <string>{-30,60}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{402,364},{160,176}}</string>
                <key>sourceSize</key>
                <string>{1024,1024}</string>
            </dict>
            <key>6904322.png</key>
            <dict>
                <key>frame</key>
                <string>{{306,1758},{158,224}}</string>
                <key>offset</key>
                <string>{-39,84}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{394,316},{158,224}}</string>
                <key>sourceSize</key>
                <string>{1024,1024}</string>
            </dict>
            <key>6904323.png</key>
            <dict>
                <key>frame</key>
                <string>{{376,0},{122,240}}</string>
                <key>offset</key>
                <string>{23,92}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{474,300},{122,240}}</string>
                <key>sourceSize</key>
                <string>{1024,1024}</string>
            </dict>
            <key>6904324.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,532},{102,258}}</string>
                <key>offset</key>
                <string>{4,101}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{465,282},{102,258}}</string>
                <key>sourceSize</key>
                <string>{1024,1024}</string>
            </dict>
            <key>6904325.png</key>
            <dict>
                <key>frame</key>
                <string>{{498,0},{238,186}}</string>
                <key>offset</key>
                <string>{-36,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{357,419},{238,186}}</string>
                <key>sourceSize</key>
                <string>{1024,1024}</string>
            </dict>
            <key>6904331.png</key>
            <dict>
                <key>frame</key>
                <string>{{1692,498},{138,180}}</string>
                <key>offset</key>
                <string>{-12,66}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{431,356},{138,180}}</string>
                <key>sourceSize</key>
                <string>{1024,1024}</string>
            </dict>
            <key>6904332.png</key>
            <dict>
                <key>frame</key>
                <string>{{958,224},{174,210}}</string>
                <key>offset</key>
                <string>{11,81}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{436,326},{174,210}}</string>
                <key>sourceSize</key>
                <string>{1024,1024}</string>
            </dict>
            <key>6904333.png</key>
            <dict>
                <key>frame</key>
                <string>{{898,0},{218,224}}</string>
                <key>offset</key>
                <string>{14,88}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{417,312},{218,224}}</string>
                <key>sourceSize</key>
                <string>{1024,1024}</string>
            </dict>
            <key>6904334.png</key>
            <dict>
                <key>frame</key>
                <string>{{464,490},{188,230}}</string>
                <key>offset</key>
                <string>{39,91}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{457,306},{188,230}}</string>
                <key>sourceSize</key>
                <string>{1024,1024}</string>
            </dict>
            <key>6904335.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,1042},{250,142}}</string>
                <key>offset</key>
                <string>{-84,47}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{303,394},{250,142}}</string>
                <key>sourceSize</key>
                <string>{1024,1024}</string>
            </dict>
            <key>6904341.png</key>
            <dict>
                <key>frame</key>
                <string>{{1646,1044},{150,166}}</string>
                <key>offset</key>
                <string>{1,68}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{438,361},{150,166}}</string>
                <key>sourceSize</key>
                <string>{1024,1024}</string>
            </dict>
            <key>6904342.png</key>
            <dict>
                <key>frame</key>
                <string>{{436,1494},{222,176}}</string>
                <key>offset</key>
                <string>{10,73}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{411,351},{222,176}}</string>
                <key>sourceSize</key>
                <string>{1024,1024}</string>
            </dict>
            <key>6904343.png</key>
            <dict>
                <key>frame</key>
                <string>{{622,1234},{216,180}}</string>
                <key>offset</key>
                <string>{6,75}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{410,347},{216,180}}</string>
                <key>sourceSize</key>
                <string>{1024,1024}</string>
            </dict>
            <key>6904344.png</key>
            <dict>
                <key>frame</key>
                <string>{{150,784},{244,208}}</string>
                <key>offset</key>
                <string>{31,89}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{421,319},{244,208}}</string>
                <key>sourceSize</key>
                <string>{1024,1024}</string>
            </dict>
            <key>6904345.png</key>
            <dict>
                <key>frame</key>
                <string>{{1830,376},{194,160}}</string>
                <key>offset</key>
                <string>{-59,65}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{356,367},{194,160}}</string>
                <key>sourceSize</key>
                <string>{1024,1024}</string>
            </dict>
            <key>6904351.png</key>
            <dict>
                <key>frame</key>
                <string>{{1830,1020},{168,158}}</string>
                <key>offset</key>
                <string>{7,64}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{435,369},{168,158}}</string>
                <key>sourceSize</key>
                <string>{1024,1024}</string>
            </dict>
            <key>6904352.png</key>
            <dict>
                <key>frame</key>
                <string>{{1438,0},{200,156}}</string>
                <key>offset</key>
                <string>{27,63}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{439,371},{200,156}}</string>
                <key>sourceSize</key>
                <string>{1024,1024}</string>
            </dict>
            <key>6904353.png</key>
            <dict>
                <key>frame</key>
                <string>{{1474,858},{144,180}}</string>
                <key>offset</key>
                <string>{8,49}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{448,373},{144,180}}</string>
                <key>sourceSize</key>
                <string>{1024,1024}</string>
            </dict>
            <key>6904354.png</key>
            <dict>
                <key>frame</key>
                <string>{{1202,512},{178,184}}</string>
                <key>offset</key>
                <string>{11,77}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{434,343},{178,184}}</string>
                <key>sourceSize</key>
                <string>{1024,1024}</string>
            </dict>
            <key>6904355.png</key>
            <dict>
                <key>frame</key>
                <string>{{1830,884},{136,172}}</string>
                <key>offset</key>
                <string>{-16,71}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{428,355},{136,172}}</string>
                <key>sourceSize</key>
                <string>{1024,1024}</string>
            </dict>
            <key>6904511.png</key>
            <dict>
                <key>frame</key>
                <string>{{1316,338},{188,174}}</string>
                <key>offset</key>
                <string>{-22,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{396,424},{188,174}}</string>
                <key>sourceSize</key>
                <string>{1024,1024}</string>
            </dict>
            <key>6904512.png</key>
            <dict>
                <key>frame</key>
                <string>{{186,274},{252,136}}</string>
                <key>offset</key>
                <string>{-30,-44}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{356,488},{252,136}}</string>
                <key>sourceSize</key>
                <string>{1024,1024}</string>
            </dict>
            <key>6904521.png</key>
            <dict>
                <key>frame</key>
                <string>{{1636,334},{194,164}}</string>
                <key>offset</key>
                <string>{-73,29}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{342,401},{194,164}}</string>
                <key>sourceSize</key>
                <string>{1024,1024}</string>
            </dict>
            <key>6904522.png</key>
            <dict>
                <key>frame</key>
                <string>{{142,1042},{248,124}}</string>
                <key>offset</key>
                <string>{-86,-19}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{302,469},{248,124}}</string>
                <key>sourceSize</key>
                <string>{1024,1024}</string>
            </dict>
            <key>6904531.png</key>
            <dict>
                <key>frame</key>
                <string>{{1294,1008},{166,172}}</string>
                <key>offset</key>
                <string>{-59,50}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{370,376},{166,172}}</string>
                <key>sourceSize</key>
                <string>{1024,1024}</string>
            </dict>
            <key>6904532.png</key>
            <dict>
                <key>frame</key>
                <string>{{738,694},{214,184}}</string>
                <key>offset</key>
                <string>{-74,33}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{331,387},{214,184}}</string>
                <key>sourceSize</key>
                <string>{1024,1024}</string>
            </dict>
            <key>6904541.png</key>
            <dict>
                <key>frame</key>
                <string>{{1466,1170},{134,160}}</string>
                <key>offset</key>
                <string>{-23,65}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{422,367},{134,160}}</string>
                <key>sourceSize</key>
                <string>{1024,1024}</string>
            </dict>
            <key>6904542.png</key>
            <dict>
                <key>frame</key>
                <string>{{1568,678},{180,180}}</string>
                <key>offset</key>
                <string>{-49,66}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{373,356},{180,180}}</string>
                <key>sourceSize</key>
                <string>{1024,1024}</string>
            </dict>
            <key>6904551.png</key>
            <dict>
                <key>frame</key>
                <string>{{1504,498},{188,158}}</string>
                <key>offset</key>
                <string>{21,64}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{439,369},{188,158}}</string>
                <key>sourceSize</key>
                <string>{1024,1024}</string>
            </dict>
            <key>6904552.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,790},{252,150}}</string>
                <key>offset</key>
                <string>{29,55}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{415,382},{252,150}}</string>
                <key>sourceSize</key>
                <string>{1024,1024}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>6904.pvr.ccz</string>
            <key>size</key>
            <string>{2048,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:597efc1ed719e956b65a38af0d3b24de:1/1$</string>
            <key>textureFileName</key>
            <string>6904.pvr.ccz</string>
        </dict>
    </dict>
</plist>
