<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>6018111.png</key>
            <dict>
                <key>frame</key>
                <string>{{692,1266},{104,178}}</string>
                <key>offset</key>
                <string>{-9,64}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{195,103},{104,178}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6018112.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,1516},{100,176}}</string>
                <key>offset</key>
                <string>{-8,66}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{198,102},{100,176}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6018113.png</key>
            <dict>
                <key>frame</key>
                <string>{{180,1494},{100,176}}</string>
                <key>offset</key>
                <string>{-8,66}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{198,102},{100,176}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6018121.png</key>
            <dict>
                <key>frame</key>
                <string>{{172,1680},{80,170}}</string>
                <key>offset</key>
                <string>{4,62}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{220,109},{80,170}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6018122.png</key>
            <dict>
                <key>frame</key>
                <string>{{170,1760},{78,170}}</string>
                <key>offset</key>
                <string>{3,62}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{220,109},{78,170}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6018123.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,1754},{78,170}}</string>
                <key>offset</key>
                <string>{3,62}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{220,109},{78,170}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6018131.png</key>
            <dict>
                <key>frame</key>
                <string>{{194,1032},{64,188}}</string>
                <key>offset</key>
                <string>{15,64}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{239,98},{64,188}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6018132.png</key>
            <dict>
                <key>frame</key>
                <string>{{194,968},{64,188}}</string>
                <key>offset</key>
                <string>{15,64}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{239,98},{64,188}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6018133.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,1048},{62,188}}</string>
                <key>offset</key>
                <string>{15,64}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{240,98},{62,188}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6018141.png</key>
            <dict>
                <key>frame</key>
                <string>{{176,1594},{86,176}}</string>
                <key>offset</key>
                <string>{18,69}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{231,99},{86,176}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6018142.png</key>
            <dict>
                <key>frame</key>
                <string>{{946,198},{78,178}}</string>
                <key>offset</key>
                <string>{19,70}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{236,97},{78,178}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6018143.png</key>
            <dict>
                <key>frame</key>
                <string>{{180,1414},{80,178}}</string>
                <key>offset</key>
                <string>{18,70}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{234,97},{80,178}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6018151.png</key>
            <dict>
                <key>frame</key>
                <string>{{512,1174},{104,180}}</string>
                <key>offset</key>
                <string>{8,81}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{212,85},{104,180}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6018152.png</key>
            <dict>
                <key>frame</key>
                <string>{{512,1278},{100,178}}</string>
                <key>offset</key>
                <string>{8,82}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{214,85},{100,178}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6018153.png</key>
            <dict>
                <key>frame</key>
                <string>{{420,302},{100,178}}</string>
                <key>offset</key>
                <string>{8,81}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{214,86},{100,178}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6018211.png</key>
            <dict>
                <key>frame</key>
                <string>{{186,1264},{180,150}}</string>
                <key>offset</key>
                <string>{-26,51}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{140,130},{180,150}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6018212.png</key>
            <dict>
                <key>frame</key>
                <string>{{358,1426},{174,140}}</string>
                <key>offset</key>
                <string>{-18,60}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{151,126},{174,140}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6018213.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,1832},{168,156}}</string>
                <key>offset</key>
                <string>{-18,59}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{154,119},{168,156}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6018214.png</key>
            <dict>
                <key>frame</key>
                <string>{{866,1424},{168,156}}</string>
                <key>offset</key>
                <string>{-22,55}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{150,123},{168,156}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6018215.png</key>
            <dict>
                <key>frame</key>
                <string>{{374,1112},{176,138}}</string>
                <key>offset</key>
                <string>{-27,66}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{141,121},{176,138}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6018221.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,1616},{138,172}}</string>
                <key>offset</key>
                <string>{-24,53}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{163,117},{138,172}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6018222.png</key>
            <dict>
                <key>frame</key>
                <string>{{892,1242},{130,182}}</string>
                <key>offset</key>
                <string>{-16,61}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{175,104},{130,182}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6018223.png</key>
            <dict>
                <key>frame</key>
                <string>{{702,1146},{120,190}}</string>
                <key>offset</key>
                <string>{-10,61}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{186,100},{120,190}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6018224.png</key>
            <dict>
                <key>frame</key>
                <string>{{392,922},{120,190}}</string>
                <key>offset</key>
                <string>{-12,56}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{184,105},{120,190}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6018225.png</key>
            <dict>
                <key>frame</key>
                <string>{{892,1058},{132,184}}</string>
                <key>offset</key>
                <string>{-21,58}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{169,106},{132,184}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6018231.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,226},{100,214}}</string>
                <key>offset</key>
                <string>{-1,45}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{205,104},{100,214}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6018232.png</key>
            <dict>
                <key>frame</key>
                <string>{{432,90},{90,212}}</string>
                <key>offset</key>
                <string>{-9,53}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{202,97},{90,212}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6018233.png</key>
            <dict>
                <key>frame</key>
                <string>{{734,198},{104,212}}</string>
                <key>offset</key>
                <string>{-8,55}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{196,95},{104,212}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6018234.png</key>
            <dict>
                <key>frame</key>
                <string>{{522,154},{104,212}}</string>
                <key>offset</key>
                <string>{-8,49}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{196,101},{104,212}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6018235.png</key>
            <dict>
                <key>frame</key>
                <string>{{216,90},{88,216}}</string>
                <key>offset</key>
                <string>{-10,50}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{202,98},{88,216}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6018241.png</key>
            <dict>
                <key>frame</key>
                <string>{{520,378},{146,204}}</string>
                <key>offset</key>
                <string>{-2,55}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{181,99},{146,204}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6018242.png</key>
            <dict>
                <key>frame</key>
                <string>{{200,648},{156,200}}</string>
                <key>offset</key>
                <string>{-9,62}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{169,94},{156,200}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6018243.png</key>
            <dict>
                <key>frame</key>
                <string>{{198,804},{164,194}}</string>
                <key>offset</key>
                <string>{-7,66}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{167,93},{164,194}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6018244.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,886},{162,194}}</string>
                <key>offset</key>
                <string>{-4,62}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{171,97},{162,194}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6018245.png</key>
            <dict>
                <key>frame</key>
                <string>{{518,524},{156,200}}</string>
                <key>offset</key>
                <string>{-2,60}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{176,96},{156,200}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6018251.png</key>
            <dict>
                <key>frame</key>
                <string>{{718,620},{182,194}}</string>
                <key>offset</key>
                <string>{25,63}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{190,96},{182,194}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6018252.png</key>
            <dict>
                <key>frame</key>
                <string>{{708,802},{176,192}}</string>
                <key>offset</key>
                <string>{17,67}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{185,93},{176,192}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6018253.png</key>
            <dict>
                <key>frame</key>
                <string>{{702,978},{168,190}}</string>
                <key>offset</key>
                <string>{17,67}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{189,94},{168,190}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6018254.png</key>
            <dict>
                <key>frame</key>
                <string>{{514,680},{168,194}}</string>
                <key>offset</key>
                <string>{21,65}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{193,94},{168,194}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6018255.png</key>
            <dict>
                <key>frame</key>
                <string>{{512,848},{176,190}}</string>
                <key>offset</key>
                <string>{26,68}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{194,93},{176,190}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6018311.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,656},{124,200}}</string>
                <key>offset</key>
                <string>{6,92}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{200,64},{124,200}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6018312.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,1110},{186,166}}</string>
                <key>offset</key>
                <string>{-8,79}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{155,94},{186,166}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6018313.png</key>
            <dict>
                <key>frame</key>
                <string>{{402,480},{92,116}}</string>
                <key>offset</key>
                <string>{-9,10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{201,188},{92,116}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6018314.png</key>
            <dict>
                <key>frame</key>
                <string>{{724,472},{202,148}}</string>
                <key>offset</key>
                <string>{-42,26}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{113,156},{202,148}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6018315.png</key>
            <dict>
                <key>frame</key>
                <string>{{480,1696},{120,162}}</string>
                <key>offset</key>
                <string>{11,33}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{207,142},{120,162}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6018321.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,486},{200,170}}</string>
                <key>offset</key>
                <string>{0,70}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{156,101},{200,170}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6018322.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,326},{202,160}}</string>
                <key>offset</key>
                <string>{-16,65}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{139,111},{202,160}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6018323.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,1406},{180,110}}</string>
                <key>offset</key>
                <string>{64,33}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{230,168},{180,110}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6018324.png</key>
            <dict>
                <key>frame</key>
                <string>{{352,1600},{164,128}}</string>
                <key>offset</key>
                <string>{-10,41}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{164,151},{164,128}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6018325.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,1276},{180,130}}</string>
                <key>offset</key>
                <string>{-4,42}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{162,149},{180,130}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6018331.png</key>
            <dict>
                <key>frame</key>
                <string>{{668,1542},{164,166}}</string>
                <key>offset</key>
                <string>{-8,63}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{166,110},{164,166}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6018332.png</key>
            <dict>
                <key>frame</key>
                <string>{{402,572},{112,182}}</string>
                <key>offset</key>
                <string>{-9,71}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{191,94},{112,182}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6018333.png</key>
            <dict>
                <key>frame</key>
                <string>{{522,0},{248,154}}</string>
                <key>offset</key>
                <string>{110,58}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{242,121},{248,154}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6018334.png</key>
            <dict>
                <key>frame</key>
                <string>{{340,1764},{108,156}}</string>
                <key>offset</key>
                <string>{21,53}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{223,125},{108,156}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6018335.png</key>
            <dict>
                <key>frame</key>
                <string>{{512,1378},{176,154}}</string>
                <key>offset</key>
                <string>{-13,52}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{155,127},{176,154}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6018341.png</key>
            <dict>
                <key>frame</key>
                <string>{{940,376},{82,168}}</string>
                <key>offset</key>
                <string>{7,69}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{222,103},{82,168}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6018342.png</key>
            <dict>
                <key>frame</key>
                <string>{{926,544},{94,178}}</string>
                <key>offset</key>
                <string>{11,74}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{220,93},{94,178}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6018343.png</key>
            <dict>
                <key>frame</key>
                <string>{{770,0},{198,232}}</string>
                <key>offset</key>
                <string>{79,101}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{236,39},{198,232}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6018344.png</key>
            <dict>
                <key>frame</key>
                <string>{{690,1370},{172,176}}</string>
                <key>offset</key>
                <string>{23,64}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{193,104},{172,176}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6018345.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,780},{106,198}}</string>
                <key>offset</key>
                <string>{-1,44}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{202,113},{106,198}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6018351.png</key>
            <dict>
                <key>frame</key>
                <string>{{900,896},{124,162}}</string>
                <key>offset</key>
                <string>{-6,73}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{188,102},{124,162}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6018352.png</key>
            <dict>
                <key>frame</key>
                <string>{{188,1096},{186,168}}</string>
                <key>offset</key>
                <string>{8,76}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{171,96},{186,168}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6018353.png</key>
            <dict>
                <key>frame</key>
                <string>{{264,0},{90,258}}</string>
                <key>offset</key>
                <string>{8,127}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{219,0},{90,258}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6018354.png</key>
            <dict>
                <key>frame</key>
                <string>{{202,474},{200,174}}</string>
                <key>offset</key>
                <string>{41,74}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{197,95},{200,174}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6018355.png</key>
            <dict>
                <key>frame</key>
                <string>{{522,258},{120,210}}</string>
                <key>offset</key>
                <string>{-11,45}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{185,106},{120,210}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6018511.png</key>
            <dict>
                <key>frame</key>
                <string>{{366,1288},{138,146}}</string>
                <key>offset</key>
                <string>{1,20}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{188,163},{138,146}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6018512.png</key>
            <dict>
                <key>frame</key>
                <string>{{400,754},{112,168}}</string>
                <key>offset</key>
                <string>{-12,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{188,176},{112,168}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6018521.png</key>
            <dict>
                <key>frame</key>
                <string>{{498,1532},{170,164}}</string>
                <key>offset</key>
                <string>{-17,18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{154,156},{170,164}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6018522.png</key>
            <dict>
                <key>frame</key>
                <string>{{216,178},{214,124}}</string>
                <key>offset</key>
                <string>{4,-15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{153,209},{214,124}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6018531.png</key>
            <dict>
                <key>frame</key>
                <string>{{732,302},{208,170}}</string>
                <key>offset</key>
                <string>{-19,43}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{133,128},{208,170}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6018532.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{264,90}}</string>
                <key>offset</key>
                <string>{10,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{134,208},{264,90}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6018541.png</key>
            <dict>
                <key>frame</key>
                <string>{{214,302},{172,206}}</string>
                <key>offset</key>
                <string>{14,38}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{184,115},{172,206}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6018542.png</key>
            <dict>
                <key>frame</key>
                <string>{{512,1024},{190,150}}</string>
                <key>offset</key>
                <string>{23,10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{184,171},{190,150}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6018551.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,90},{136,216}}</string>
                <key>offset</key>
                <string>{-1,30}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{187,118},{136,216}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6018552.png</key>
            <dict>
                <key>frame</key>
                <string>{{912,722},{112,174}}</string>
                <key>offset</key>
                <string>{11,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{211,160},{112,174}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>6018.pvr.ccz</string>
            <key>size</key>
            <string>{1024,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:439c8cb709b0d04046ff06d57a250c0d:1/1$</string>
            <key>textureFileName</key>
            <string>6018.pvr.ccz</string>
        </dict>
    </dict>
</plist>
