<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>82201.png</key>
            <dict>
                <key>frame</key>
                <string>{{776,714},{246,252}}</string>
                <key>offset</key>
                <string>{-9,216}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{268,58},{246,252}}</string>
                <key>sourceSize</key>
                <string>{800,800}</string>
            </dict>
            <key>82202.png</key>
            <dict>
                <key>frame</key>
                <string>{{786,2},{300,392}}</string>
                <key>offset</key>
                <string>{-3,163}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{247,41},{300,392}}</string>
                <key>sourceSize</key>
                <string>{800,800}</string>
            </dict>
            <key>82203.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{382,456}}</string>
                <key>offset</key>
                <string>{27,136}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{236,36},{382,456}}</string>
                <key>sourceSize</key>
                <string>{800,800}</string>
            </dict>
            <key>82204.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,460},{388,436}}</string>
                <key>offset</key>
                <string>{26,132}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{232,50},{388,436}}</string>
                <key>sourceSize</key>
                <string>{800,800}</string>
            </dict>
            <key>82205.png</key>
            <dict>
                <key>frame</key>
                <string>{{386,2},{398,416}}</string>
                <key>offset</key>
                <string>{36,84}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{237,108},{398,416}}</string>
                <key>sourceSize</key>
                <string>{800,800}</string>
            </dict>
            <key>82206.png</key>
            <dict>
                <key>frame</key>
                <string>{{392,420},{382,336}}</string>
                <key>offset</key>
                <string>{27,77}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{236,155},{382,336}}</string>
                <key>sourceSize</key>
                <string>{800,800}</string>
            </dict>
            <key>82207.png</key>
            <dict>
                <key>frame</key>
                <string>{{786,396},{316,256}}</string>
                <key>offset</key>
                <string>{-6,30}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{236,242},{316,256}}</string>
                <key>sourceSize</key>
                <string>{800,800}</string>
            </dict>
            <key>82208.png</key>
            <dict>
                <key>frame</key>
                <string>{{392,758},{316,240}}</string>
                <key>offset</key>
                <string>{-6,22}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{236,258},{316,240}}</string>
                <key>sourceSize</key>
                <string>{800,800}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>8220.pvr.ccz</string>
            <key>size</key>
            <string>{1088,1000}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:201755c5a29e0448aa4d0616cf593583:1/1$</string>
            <key>textureFileName</key>
            <string>8220.pvr.ccz</string>
        </dict>
    </dict>
</plist>
