<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>7002111.png</key>
            <dict>
                <key>frame</key>
                <string>{{1076,1370},{212,250}}</string>
                <key>offset</key>
                <string>{8,71}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{158,60},{212,250}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>7002112.png</key>
            <dict>
                <key>frame</key>
                <string>{{1246,262},{210,254}}</string>
                <key>offset</key>
                <string>{8,73}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{159,56},{210,254}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>7002113.png</key>
            <dict>
                <key>frame</key>
                <string>{{1364,0},{208,254}}</string>
                <key>offset</key>
                <string>{11,73}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{163,56},{208,254}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>7002121.png</key>
            <dict>
                <key>frame</key>
                <string>{{1602,240},{194,224}}</string>
                <key>offset</key>
                <string>{2,82}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{161,62},{194,224}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>7002122.png</key>
            <dict>
                <key>frame</key>
                <string>{{1522,694},{190,226}}</string>
                <key>offset</key>
                <string>{2,83}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{163,60},{190,226}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>7002123.png</key>
            <dict>
                <key>frame</key>
                <string>{{1602,464},{192,230}}</string>
                <key>offset</key>
                <string>{1,85}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{161,56},{192,230}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>7002131.png</key>
            <dict>
                <key>frame</key>
                <string>{{1000,542},{156,264}}</string>
                <key>offset</key>
                <string>{17,93}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{195,31},{156,264}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>7002132.png</key>
            <dict>
                <key>frame</key>
                <string>{{848,1670},{156,268}}</string>
                <key>offset</key>
                <string>{15,95}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{193,27},{156,268}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>7002133.png</key>
            <dict>
                <key>frame</key>
                <string>{{530,1426},{154,272}}</string>
                <key>offset</key>
                <string>{13,97}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{192,23},{154,272}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>7002141.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,1748},{150,286}}</string>
                <key>offset</key>
                <string>{11,104}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{192,9},{150,286}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>7002142.png</key>
            <dict>
                <key>frame</key>
                <string>{{192,294},{152,292}}</string>
                <key>offset</key>
                <string>{10,107}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{190,3},{152,292}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>7002143.png</key>
            <dict>
                <key>frame</key>
                <string>{{144,0},{148,294}}</string>
                <key>offset</key>
                <string>{8,108}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{190,1},{148,294}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>7002151.png</key>
            <dict>
                <key>frame</key>
                <string>{{656,0},{212,278}}</string>
                <key>offset</key>
                <string>{-8,109}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{142,8},{212,278}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>7002152.png</key>
            <dict>
                <key>frame</key>
                <string>{{344,290},{210,282}}</string>
                <key>offset</key>
                <string>{-8,111}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{143,4},{210,282}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>7002153.png</key>
            <dict>
                <key>frame</key>
                <string>{{168,1462},{208,284}}</string>
                <key>offset</key>
                <string>{-12,112}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{140,2},{208,284}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>7002211.png</key>
            <dict>
                <key>frame</key>
                <string>{{1346,516},{176,242}}</string>
                <key>offset</key>
                <string>{7,75}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{175,60},{176,242}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>7002212.png</key>
            <dict>
                <key>frame</key>
                <string>{{1288,1028},{188,212}}</string>
                <key>offset</key>
                <string>{1,93}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{163,57},{188,212}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>7002213.png</key>
            <dict>
                <key>frame</key>
                <string>{{1794,566},{186,232}}</string>
                <key>offset</key>
                <string>{-4,80}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{159,60},{186,232}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>7002214.png</key>
            <dict>
                <key>frame</key>
                <string>{{1748,752},{186,224}}</string>
                <key>offset</key>
                <string>{-1,84}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{162,60},{186,224}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>7002215.png</key>
            <dict>
                <key>frame</key>
                <string>{{1802,204},{188,238}}</string>
                <key>offset</key>
                <string>{5,78}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{167,59},{188,238}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>7002221.png</key>
            <dict>
                <key>frame</key>
                <string>{{1156,530},{190,256}}</string>
                <key>offset</key>
                <string>{-12,82}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{149,46},{190,256}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>7002222.png</key>
            <dict>
                <key>frame</key>
                <string>{{1168,786},{184,242}}</string>
                <key>offset</key>
                <string>{-13,98}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{151,37},{184,242}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>7002223.png</key>
            <dict>
                <key>frame</key>
                <string>{{1796,392},{174,234}}</string>
                <key>offset</key>
                <string>{-9,100}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{160,39},{174,234}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>7002224.png</key>
            <dict>
                <key>frame</key>
                <string>{{1456,254},{146,242}}</string>
                <key>offset</key>
                <string>{-6,107}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{177,28},{146,242}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>7002225.png</key>
            <dict>
                <key>frame</key>
                <string>{{690,1670},{158,268}}</string>
                <key>offset</key>
                <string>{-12,93}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{165,29},{158,268}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>7002231.png</key>
            <dict>
                <key>frame</key>
                <string>{{1068,268},{178,262}}</string>
                <key>offset</key>
                <string>{-9,104}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{158,21},{178,262}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>7002232.png</key>
            <dict>
                <key>frame</key>
                <string>{{376,1426},{154,274}}</string>
                <key>offset</key>
                <string>{7,109}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{186,10},{154,274}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>7002233.png</key>
            <dict>
                <key>frame</key>
                <string>{{1194,0},{170,262}}</string>
                <key>offset</key>
                <string>{-6,102}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{165,23},{170,262}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>7002234.png</key>
            <dict>
                <key>frame</key>
                <string>{{868,0},{160,274}}</string>
                <key>offset</key>
                <string>{5,108}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{181,11},{160,274}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>7002235.png</key>
            <dict>
                <key>frame</key>
                <string>{{584,1128},{148,272}}</string>
                <key>offset</key>
                <string>{5,116}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{187,4},{148,272}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>7002241.png</key>
            <dict>
                <key>frame</key>
                <string>{{1028,0},{166,268}}</string>
                <key>offset</key>
                <string>{-11,109}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{162,13},{166,268}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>7002242.png</key>
            <dict>
                <key>frame</key>
                <string>{{358,1746},{146,282}}</string>
                <key>offset</key>
                <string>{-7,115}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{176,0},{146,282}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>7002243.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,886},{172,288}}</string>
                <key>offset</key>
                <string>{-12,94}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{158,18},{172,288}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>7002244.png</key>
            <dict>
                <key>frame</key>
                <string>{{268,586},{186,284}}</string>
                <key>offset</key>
                <string>{-11,107}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{152,7},{186,284}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>7002245.png</key>
            <dict>
                <key>frame</key>
                <string>{{732,1128},{174,270}}</string>
                <key>offset</key>
                <string>{-14,121}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{155,0},{174,270}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>7002251.png</key>
            <dict>
                <key>frame</key>
                <string>{{554,282},{176,280}}</string>
                <key>offset</key>
                <string>{-7,91}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{161,25},{176,280}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>7002252.png</key>
            <dict>
                <key>frame</key>
                <string>{{554,852},{186,276}}</string>
                <key>offset</key>
                <string>{-1,113}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{162,5},{186,276}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>7002253.png</key>
            <dict>
                <key>frame</key>
                <string>{{366,870},{188,280}}</string>
                <key>offset</key>
                <string>{3,88}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{165,28},{188,280}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>7002254.png</key>
            <dict>
                <key>frame</key>
                <string>{{504,1700},{186,272}}</string>
                <key>offset</key>
                <string>{0,101}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{163,19},{186,272}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>7002255.png</key>
            <dict>
                <key>frame</key>
                <string>{{632,562},{188,274}}</string>
                <key>offset</key>
                <string>{-6,104}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{156,15},{188,274}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>7002311.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,1174},{170,288}}</string>
                <key>offset</key>
                <string>{-5,100}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{166,12},{170,288}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>7002312.png</key>
            <dict>
                <key>frame</key>
                <string>{{170,1174},{204,284}}</string>
                <key>offset</key>
                <string>{-9,85}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{145,29},{204,284}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>7002313.png</key>
            <dict>
                <key>frame</key>
                <string>{{866,1398},{210,266}}</string>
                <key>offset</key>
                <string>{18,59}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{169,64},{210,266}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>7002314.png</key>
            <dict>
                <key>frame</key>
                <string>{{900,274},{168,268}}</string>
                <key>offset</key>
                <string>{-19,56}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{153,66},{168,268}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>7002315.png</key>
            <dict>
                <key>frame</key>
                <string>{{906,1104},{180,266}}</string>
                <key>offset</key>
                <string>{-20,62}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{146,61},{180,266}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>7002321.png</key>
            <dict>
                <key>frame</key>
                <string>{{684,1400},{182,270}}</string>
                <key>offset</key>
                <string>{-4,121}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{161,0},{182,270}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>7002322.png</key>
            <dict>
                <key>frame</key>
                <string>{{820,552},{180,268}}</string>
                <key>offset</key>
                <string>{12,112}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{178,10},{180,268}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>7002323.png</key>
            <dict>
                <key>frame</key>
                <string>{{950,820},{264,218}}</string>
                <key>offset</key>
                <string>{57,75}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{181,72},{264,218}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>7002324.png</key>
            <dict>
                <key>frame</key>
                <string>{{1506,884},{208,222}}</string>
                <key>offset</key>
                <string>{20,75}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{172,70},{208,222}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>7002325.png</key>
            <dict>
                <key>frame</key>
                <string>{{1802,0},{240,204}}</string>
                <key>offset</key>
                <string>{4,71}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{140,83},{240,204}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>7002331.png</key>
            <dict>
                <key>frame</key>
                <string>{{292,0},{212,290}}</string>
                <key>offset</key>
                <string>{-18,103}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{132,8},{212,290}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>7002332.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,300},{192,294}}</string>
                <key>offset</key>
                <string>{-7,107}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{153,2},{192,294}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>7002333.png</key>
            <dict>
                <key>frame</key>
                <string>{{740,836},{210,268}}</string>
                <key>offset</key>
                <string>{45,96}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{196,26},{210,268}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>7002334.png</key>
            <dict>
                <key>frame</key>
                <string>{{1572,0},{230,240}}</string>
                <key>offset</key>
                <string>{35,82}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{176,54},{230,240}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>7002335.png</key>
            <dict>
                <key>frame</key>
                <string>{{1086,1084},{192,244}}</string>
                <key>offset</key>
                <string>{29,82}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{189,52},{192,244}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>7002341.png</key>
            <dict>
                <key>frame</key>
                <string>{{374,1150},{210,276}}</string>
                <key>offset</key>
                <string>{-13,87}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{138,31},{210,276}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>7002342.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,594},{268,292}}</string>
                <key>offset</key>
                <string>{-3,100}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{119,10},{268,292}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>7002343.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{144,300}}</string>
                <key>offset</key>
                <string>{33,106}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{217,0},{144,300}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>7002344.png</key>
            <dict>
                <key>frame</key>
                <string>{{172,886},{194,284}}</string>
                <key>offset</key>
                <string>{53,98}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{212,16},{194,284}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>7002345.png</key>
            <dict>
                <key>frame</key>
                <string>{{504,0},{152,282}}</string>
                <key>offset</key>
                <string>{35,94}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{215,21},{152,282}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>7002351.png</key>
            <dict>
                <key>frame</key>
                <string>{{730,278},{170,274}}</string>
                <key>offset</key>
                <string>{3,92}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{174,27},{170,274}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>7002352.png</key>
            <dict>
                <key>frame</key>
                <string>{{1004,1664},{204,266}}</string>
                <key>offset</key>
                <string>{8,94}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{162,29},{204,266}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>7002353.png</key>
            <dict>
                <key>frame</key>
                <string>{{150,1748},{208,284}}</string>
                <key>offset</key>
                <string>{-18,114}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{134,0},{208,284}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>7002354.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,1462},{168,286}}</string>
                <key>offset</key>
                <string>{19,113}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{191,0},{168,286}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>7002355.png</key>
            <dict>
                <key>frame</key>
                <string>{{454,572},{178,280}}</string>
                <key>offset</key>
                <string>{20,103}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{187,13},{178,280}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>7002511.png</key>
            <dict>
                <key>frame</key>
                <string>{{854,1938},{146,98}}</string>
                <key>offset</key>
                <string>{26,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{209,211},{146,98}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>7002512.png</key>
            <dict>
                <key>frame</key>
                <string>{{1310,1878},{118,112}}</string>
                <key>offset</key>
                <string>{12,-56}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{209,256},{118,112}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>7002521.png</key>
            <dict>
                <key>frame</key>
                <string>{{1162,1930},{148,118}}</string>
                <key>offset</key>
                <string>{71,10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{253,187},{148,118}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>7002522.png</key>
            <dict>
                <key>frame</key>
                <string>{{1352,904},{150,112}}</string>
                <key>offset</key>
                <string>{77,-38}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{258,238},{150,112}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>7002531.png</key>
            <dict>
                <key>frame</key>
                <string>{{1208,1620},{140,130}}</string>
                <key>offset</key>
                <string>{78,50}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{264,141},{140,130}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>7002532.png</key>
            <dict>
                <key>frame</key>
                <string>{{1000,1938},{162,86}}</string>
                <key>offset</key>
                <string>{97,18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{272,195},{162,86}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>7002541.png</key>
            <dict>
                <key>frame</key>
                <string>{{1352,758},{154,146}}</string>
                <key>offset</key>
                <string>{66,72}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{245,111},{154,146}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>7002542.png</key>
            <dict>
                <key>frame</key>
                <string>{{690,1938},{164,108}}</string>
                <key>offset</key>
                <string>{67,60}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{241,142},{164,108}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>7002551.png</key>
            <dict>
                <key>frame</key>
                <string>{{1278,1216},{142,132}}</string>
                <key>offset</key>
                <string>{6,74}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{191,116},{142,132}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>7002552.png</key>
            <dict>
                <key>frame</key>
                <string>{{1208,1760},{118,118}}</string>
                <key>offset</key>
                <string>{-3,71}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{194,126},{118,118}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>7002.pvr.ccz</string>
            <key>size</key>
            <string>{2048,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:973d00a678d57066ec5a9d13fee462f9:1/1$</string>
            <key>textureFileName</key>
            <string>7002.pvr.ccz</string>
        </dict>
    </dict>
</plist>
