<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>6033111.png</key>
            <dict>
                <key>frame</key>
                <string>{{170,838},{56,82}}</string>
                <key>offset</key>
                <string>{-6,7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{222,208},{56,82}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6033112.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,818},{58,82}}</string>
                <key>offset</key>
                <string>{-6,7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{221,208},{58,82}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6033113.png</key>
            <dict>
                <key>frame</key>
                <string>{{268,814},{56,82}}</string>
                <key>offset</key>
                <string>{-5,7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{223,208},{56,82}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6033121.png</key>
            <dict>
                <key>frame</key>
                <string>{{96,398},{96,64}}</string>
                <key>offset</key>
                <string>{-10,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{198,218},{96,64}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6033122.png</key>
            <dict>
                <key>frame</key>
                <string>{{196,350},{96,64}}</string>
                <key>offset</key>
                <string>{-10,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{198,218},{96,64}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6033123.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,548},{94,64}}</string>
                <key>offset</key>
                <string>{-10,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{199,217},{94,64}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6033131.png</key>
            <dict>
                <key>frame</key>
                <string>{{246,138},{122,44}}</string>
                <key>offset</key>
                <string>{-8,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{187,233},{122,44}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6033132.png</key>
            <dict>
                <key>frame</key>
                <string>{{124,92},{122,48}}</string>
                <key>offset</key>
                <string>{-8,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{187,229},{122,48}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6033133.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,126},{122,46}}</string>
                <key>offset</key>
                <string>{-8,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{187,231},{122,46}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6033141.png</key>
            <dict>
                <key>frame</key>
                <string>{{94,598},{92,78}}</string>
                <key>offset</key>
                <string>{-6,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{204,215},{92,78}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6033142.png</key>
            <dict>
                <key>frame</key>
                <string>{{190,552},{92,80}}</string>
                <key>offset</key>
                <string>{-6,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{204,213},{92,80}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6033143.png</key>
            <dict>
                <key>frame</key>
                <string>{{96,518},{94,80}}</string>
                <key>offset</key>
                <string>{-6,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{203,213},{94,80}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6033151.png</key>
            <dict>
                <key>frame</key>
                <string>{{384,490},{56,96}}</string>
                <key>offset</key>
                <string>{6,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{234,205},{56,96}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6033152.png</key>
            <dict>
                <key>frame</key>
                <string>{{192,414},{58,96}}</string>
                <key>offset</key>
                <string>{5,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{232,205},{58,96}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6033153.png</key>
            <dict>
                <key>frame</key>
                <string>{{288,464},{56,96}}</string>
                <key>offset</key>
                <string>{5,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{233,205},{56,96}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6033211.png</key>
            <dict>
                <key>frame</key>
                <string>{{426,778},{60,84}}</string>
                <key>offset</key>
                <string>{-9,8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{217,206},{60,84}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6033212.png</key>
            <dict>
                <key>frame</key>
                <string>{{86,814},{56,84}}</string>
                <key>offset</key>
                <string>{-9,8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{219,206},{56,84}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6033213.png</key>
            <dict>
                <key>frame</key>
                <string>{{440,498},{46,72}}</string>
                <key>offset</key>
                <string>{-6,11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{227,209},{46,72}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6033214.png</key>
            <dict>
                <key>frame</key>
                <string>{{388,424},{50,66}}</string>
                <key>offset</key>
                <string>{-7,14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{224,209},{50,66}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6033215.png</key>
            <dict>
                <key>frame</key>
                <string>{{362,732},{56,64}}</string>
                <key>offset</key>
                <string>{-9,14}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{219,210},{56,64}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6033221.png</key>
            <dict>
                <key>frame</key>
                <string>{{278,634},{90,64}}</string>
                <key>offset</key>
                <string>{-7,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{204,217},{90,64}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6033222.png</key>
            <dict>
                <key>frame</key>
                <string>{{182,690},{90,62}}</string>
                <key>offset</key>
                <string>{-7,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{204,219},{90,62}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6033223.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,298},{98,58}}</string>
                <key>offset</key>
                <string>{-12,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{195,219},{98,58}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6033224.png</key>
            <dict>
                <key>frame</key>
                <string>{{100,294},{100,54}}</string>
                <key>offset</key>
                <string>{-11,10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{195,219},{100,54}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6033225.png</key>
            <dict>
                <key>frame</key>
                <string>{{282,576},{92,58}}</string>
                <key>offset</key>
                <string>{-8,10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{202,217},{92,58}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6033231.png</key>
            <dict>
                <key>frame</key>
                <string>{{148,44},{124,48}}</string>
                <key>offset</key>
                <string>{-10,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{184,232},{124,48}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6033232.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,46},{124,44}}</string>
                <key>offset</key>
                <string>{-10,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{184,236},{124,44}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6033233.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,90},{124,36}}</string>
                <key>offset</key>
                <string>{-9,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{185,238},{124,36}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6033234.png</key>
            <dict>
                <key>frame</key>
                <string>{{122,140},{116,50}}</string>
                <key>offset</key>
                <string>{-10,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{188,226},{116,50}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6033235.png</key>
            <dict>
                <key>frame</key>
                <string>{{368,162},{114,54}}</string>
                <key>offset</key>
                <string>{-12,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{187,225},{114,54}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6033241.png</key>
            <dict>
                <key>frame</key>
                <string>{{440,404},{94,72}}</string>
                <key>offset</key>
                <string>{-7,5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{202,215},{94,72}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6033242.png</key>
            <dict>
                <key>frame</key>
                <string>{{440,310},{94,72}}</string>
                <key>offset</key>
                <string>{-7,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{202,216},{94,72}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6033243.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,356},{96,76}}</string>
                <key>offset</key>
                <string>{-5,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{203,218},{96,76}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6033244.png</key>
            <dict>
                <key>frame</key>
                <string>{{182,752},{86,86}}</string>
                <key>offset</key>
                <string>{-9,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{204,209},{86,86}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6033245.png</key>
            <dict>
                <key>frame</key>
                <string>{{92,676},{90,82}}</string>
                <key>offset</key>
                <string>{-7,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{204,209},{90,82}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6033251.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,432},{60,96}}</string>
                <key>offset</key>
                <string>{8,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{234,206},{60,96}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6033252.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,492},{56,96}}</string>
                <key>offset</key>
                <string>{9,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{237,207},{56,96}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6033253.png</key>
            <dict>
                <key>frame</key>
                <string>{{464,216},{46,94}}</string>
                <key>offset</key>
                <string>{6,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{239,207},{46,94}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6033254.png</key>
            <dict>
                <key>frame</key>
                <string>{{98,348},{50,98}}</string>
                <key>offset</key>
                <string>{7,6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{238,201},{50,98}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6033255.png</key>
            <dict>
                <key>frame</key>
                <string>{{200,294},{56,98}}</string>
                <key>offset</key>
                <string>{9,5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{237,202},{56,98}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6033311.png</key>
            <dict>
                <key>frame</key>
                <string>{{352,788},{58,78}}</string>
                <key>offset</key>
                <string>{-10,11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{217,206},{58,78}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6033312.png</key>
            <dict>
                <key>frame</key>
                <string>{{368,674},{58,66}}</string>
                <key>offset</key>
                <string>{-12,15}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{215,208},{58,66}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6033313.png</key>
            <dict>
                <key>frame</key>
                <string>{{440,634},{58,66}}</string>
                <key>offset</key>
                <string>{-12,16}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{215,207},{58,66}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6033314.png</key>
            <dict>
                <key>frame</key>
                <string>{{394,336},{46,88}}</string>
                <key>offset</key>
                <string>{-2,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{231,206},{46,88}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6033315.png</key>
            <dict>
                <key>frame</key>
                <string>{{82,870},{56,80}}</string>
                <key>offset</key>
                <string>{-6,9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{222,207},{56,80}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6033321.png</key>
            <dict>
                <key>frame</key>
                <string>{{374,586},{88,66}}</string>
                <key>offset</key>
                <string>{-8,6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{204,217},{88,66}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6033322.png</key>
            <dict>
                <key>frame</key>
                <string>{{90,758},{86,56}}</string>
                <key>offset</key>
                <string>{-8,12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{205,216},{86,56}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6033323.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,764},{86,54}}</string>
                <key>offset</key>
                <string>{-8,12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{205,217},{86,54}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6033324.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,172},{114,66}}</string>
                <key>offset</key>
                <string>{-4,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{195,219},{114,66}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6033325.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,238},{100,60}}</string>
                <key>offset</key>
                <string>{-5,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{201,219},{100,60}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6033331.png</key>
            <dict>
                <key>frame</key>
                <string>{{246,94},{122,44}}</string>
                <key>offset</key>
                <string>{-12,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{183,237},{122,44}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6033332.png</key>
            <dict>
                <key>frame</key>
                <string>{{238,182},{114,52}}</string>
                <key>offset</key>
                <string>{-14,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{185,229},{114,52}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6033333.png</key>
            <dict>
                <key>frame</key>
                <string>{{228,234},{112,60}}</string>
                <key>offset</key>
                <string>{-16,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{184,222},{112,60}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6033334.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{148,46}}</string>
                <key>offset</key>
                <string>{5,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{187,226},{148,46}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6033335.png</key>
            <dict>
                <key>frame</key>
                <string>{{286,0},{124,48}}</string>
                <key>offset</key>
                <string>{-9,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{185,229},{124,48}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6033341.png</key>
            <dict>
                <key>frame</key>
                <string>{{298,336},{96,70}}</string>
                <key>offset</key>
                <string>{-6,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{202,218},{96,70}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6033342.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,688},{90,76}}</string>
                <key>offset</key>
                <string>{-9,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{202,212},{90,76}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6033343.png</key>
            <dict>
                <key>frame</key>
                <string>{{434,692},{86,78}}</string>
                <key>offset</key>
                <string>{-11,8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{202,209},{86,78}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6033344.png</key>
            <dict>
                <key>frame</key>
                <string>{{396,70},{116,92}}</string>
                <key>offset</key>
                <string>{7,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{205,204},{116,92}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6033345.png</key>
            <dict>
                <key>frame</key>
                <string>{{192,472},{94,80}}</string>
                <key>offset</key>
                <string>{-7,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{202,211},{94,80}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6033351.png</key>
            <dict>
                <key>frame</key>
                <string>{{292,406},{58,96}}</string>
                <key>offset</key>
                <string>{10,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{237,206},{58,96}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6033352.png</key>
            <dict>
                <key>frame</key>
                <string>{{340,280},{56,100}}</string>
                <key>offset</key>
                <string>{12,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{240,202},{56,100}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6033353.png</key>
            <dict>
                <key>frame</key>
                <string>{{114,236},{58,106}}</string>
                <key>offset</key>
                <string>{11,7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{238,196},{58,106}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6033354.png</key>
            <dict>
                <key>frame</key>
                <string>{{114,190},{46,114}}</string>
                <key>offset</key>
                <string>{2,13}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{235,186},{46,114}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6033355.png</key>
            <dict>
                <key>frame</key>
                <string>{{96,462},{56,96}}</string>
                <key>offset</key>
                <string>{6,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{234,205},{56,96}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6033511.png</key>
            <dict>
                <key>frame</key>
                <string>{{268,756},{58,84}}</string>
                <key>offset</key>
                <string>{-8,9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{219,205},{58,84}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6033512.png</key>
            <dict>
                <key>frame</key>
                <string>{{186,632},{58,92}}</string>
                <key>offset</key>
                <string>{-8,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{219,207},{58,92}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6033521.png</key>
            <dict>
                <key>frame</key>
                <string>{{440,544},{90,66}}</string>
                <key>offset</key>
                <string>{-7,6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{204,217},{90,66}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6033522.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,612},{92,76}}</string>
                <key>offset</key>
                <string>{-5,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{205,217},{92,76}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6033531.png</key>
            <dict>
                <key>frame</key>
                <string>{{272,48},{124,46}}</string>
                <key>offset</key>
                <string>{-11,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{183,233},{124,46}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6033532.png</key>
            <dict>
                <key>frame</key>
                <string>{{148,0},{138,44}}</string>
                <key>offset</key>
                <string>{-3,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{184,235},{138,44}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6033541.png</key>
            <dict>
                <key>frame</key>
                <string>{{410,0},{100,70}}</string>
                <key>offset</key>
                <string>{-5,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{201,218},{100,70}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6033542.png</key>
            <dict>
                <key>frame</key>
                <string>{{352,216},{112,64}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{201,223},{112,64}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6033551.png</key>
            <dict>
                <key>frame</key>
                <string>{{286,520},{56,94}}</string>
                <key>offset</key>
                <string>{8,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{236,209},{56,94}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6033552.png</key>
            <dict>
                <key>frame</key>
                <string>{{272,698},{58,90}}</string>
                <key>offset</key>
                <string>{8,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{235,212},{58,90}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>6033.pvr.ccz</string>
            <key>size</key>
            <string>{512,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:c01d77231b7ae814dfee627c2629bd4b:1/1$</string>
            <key>textureFileName</key>
            <string>6033.pvr.ccz</string>
        </dict>
    </dict>
</plist>
