<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>6034111.png</key>
            <dict>
                <key>frame</key>
                <string>{{254,294},{34,60}}</string>
                <key>offset</key>
                <string>{0,8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{239,218},{34,60}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6034112.png</key>
            <dict>
                <key>frame</key>
                <string>{{366,258},{32,60}}</string>
                <key>offset</key>
                <string>{-1,6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{239,220},{32,60}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6034113.png</key>
            <dict>
                <key>frame</key>
                <string>{{314,392},{32,56}}</string>
                <key>offset</key>
                <string>{0,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{240,221},{32,56}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6034121.png</key>
            <dict>
                <key>frame</key>
                <string>{{310,328},{64,46}}</string>
                <key>offset</key>
                <string>{0,8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{224,225},{64,46}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6034122.png</key>
            <dict>
                <key>frame</key>
                <string>{{264,328},{64,46}}</string>
                <key>offset</key>
                <string>{1,6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{225,227},{64,46}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6034123.png</key>
            <dict>
                <key>frame</key>
                <string>{{390,60},{60,42}}</string>
                <key>offset</key>
                <string>{-1,7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{225,228},{60,42}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6034131.png</key>
            <dict>
                <key>frame</key>
                <string>{{64,84},{84,32}}</string>
                <key>offset</key>
                <string>{-2,12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{212,228},{84,32}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6034132.png</key>
            <dict>
                <key>frame</key>
                <string>{{64,168},{82,32}}</string>
                <key>offset</key>
                <string>{-3,11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{212,229},{82,32}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6034133.png</key>
            <dict>
                <key>frame</key>
                <string>{{64,250},{82,30}}</string>
                <key>offset</key>
                <string>{-2,11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{213,230},{82,30}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6034141.png</key>
            <dict>
                <key>frame</key>
                <string>{{178,448},{64,50}}</string>
                <key>offset</key>
                <string>{0,9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{224,222},{64,50}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6034142.png</key>
            <dict>
                <key>frame</key>
                <string>{{240,132},{66,48}}</string>
                <key>offset</key>
                <string>{0,8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{223,224},{66,48}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6034143.png</key>
            <dict>
                <key>frame</key>
                <string>{{384,444},{62,48}}</string>
                <key>offset</key>
                <string>{-1,8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{224,224},{62,48}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6034151.png</key>
            <dict>
                <key>frame</key>
                <string>{{192,294},{34,62}}</string>
                <key>offset</key>
                <string>{0,7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{239,218},{34,62}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6034152.png</key>
            <dict>
                <key>frame</key>
                <string>{{288,226},{32,62}}</string>
                <key>offset</key>
                <string>{0,6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{240,219},{32,62}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6034153.png</key>
            <dict>
                <key>frame</key>
                <string>{{314,290},{32,60}}</string>
                <key>offset</key>
                <string>{-1,5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{239,221},{32,60}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6034211.png</key>
            <dict>
                <key>frame</key>
                <string>{{356,146},{32,62}}</string>
                <key>offset</key>
                <string>{0,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{240,218},{32,62}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6034212.png</key>
            <dict>
                <key>frame</key>
                <string>{{432,96},{32,62}}</string>
                <key>offset</key>
                <string>{0,8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{240,217},{32,62}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6034213.png</key>
            <dict>
                <key>frame</key>
                <string>{{432,64},{32,62}}</string>
                <key>offset</key>
                <string>{0,8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{240,217},{32,62}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6034214.png</key>
            <dict>
                <key>frame</key>
                <string>{{350,226},{32,60}}</string>
                <key>offset</key>
                <string>{0,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{240,222},{32,60}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6034215.png</key>
            <dict>
                <key>frame</key>
                <string>{{356,84},{32,62}}</string>
                <key>offset</key>
                <string>{0,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{240,221},{32,62}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6034221.png</key>
            <dict>
                <key>frame</key>
                <string>{{198,66},{66,48}}</string>
                <key>offset</key>
                <string>{1,8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{224,224},{66,48}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6034222.png</key>
            <dict>
                <key>frame</key>
                <string>{{284,0},{64,48}}</string>
                <key>offset</key>
                <string>{-2,9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{222,223},{64,48}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6034223.png</key>
            <dict>
                <key>frame</key>
                <string>{{242,198},{64,46}}</string>
                <key>offset</key>
                <string>{-1,8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{223,225},{64,46}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6034224.png</key>
            <dict>
                <key>frame</key>
                <string>{{276,448},{64,48}}</string>
                <key>offset</key>
                <string>{3,6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{227,226},{64,48}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6034225.png</key>
            <dict>
                <key>frame</key>
                <string>{{128,224},{70,50}}</string>
                <key>offset</key>
                <string>{4,6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{225,225},{70,50}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6034231.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,278},{90,32}}</string>
                <key>offset</key>
                <string>{-1,12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{210,228},{90,32}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6034232.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,188},{90,32}}</string>
                <key>offset</key>
                <string>{-3,12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{208,228},{90,32}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6034233.png</key>
            <dict>
                <key>frame</key>
                <string>{{32,188},{88,32}}</string>
                <key>offset</key>
                <string>{-3,12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{209,228},{88,32}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6034234.png</key>
            <dict>
                <key>frame</key>
                <string>{{38,0},{84,32}}</string>
                <key>offset</key>
                <string>{1,12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{215,228},{84,32}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6034235.png</key>
            <dict>
                <key>frame</key>
                <string>{{32,276},{86,32}}</string>
                <key>offset</key>
                <string>{1,12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{214,228},{86,32}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6034241.png</key>
            <dict>
                <key>frame</key>
                <string>{{198,0},{66,54}}</string>
                <key>offset</key>
                <string>{1,7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{224,222},{66,54}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6034242.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,456},{64,56}}</string>
                <key>offset</key>
                <string>{-2,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{222,222},{64,56}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6034243.png</key>
            <dict>
                <key>frame</key>
                <string>{{124,448},{64,54}}</string>
                <key>offset</key>
                <string>{-2,7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{222,222},{64,54}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6034244.png</key>
            <dict>
                <key>frame</key>
                <string>{{212,396},{66,52}}</string>
                <key>offset</key>
                <string>{3,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{226,222},{66,52}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6034245.png</key>
            <dict>
                <key>frame</key>
                <string>{{96,82},{72,54}}</string>
                <key>offset</key>
                <string>{4,8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{224,221},{72,54}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6034251.png</key>
            <dict>
                <key>frame</key>
                <string>{{278,66},{32,66}}</string>
                <key>offset</key>
                <string>{0,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{240,218},{32,66}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6034252.png</key>
            <dict>
                <key>frame</key>
                <string>{{210,206},{32,68}}</string>
                <key>offset</key>
                <string>{0,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{240,219},{32,68}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6034253.png</key>
            <dict>
                <key>frame</key>
                <string>{{242,262},{32,64}}</string>
                <key>offset</key>
                <string>{0,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{240,221},{32,64}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6034254.png</key>
            <dict>
                <key>frame</key>
                <string>{{432,32},{32,62}}</string>
                <key>offset</key>
                <string>{0,5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{240,220},{32,62}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6034255.png</key>
            <dict>
                <key>frame</key>
                <string>{{178,224},{32,70}}</string>
                <key>offset</key>
                <string>{0,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{240,213},{32,70}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6034311.png</key>
            <dict>
                <key>frame</key>
                <string>{{306,258},{32,60}}</string>
                <key>offset</key>
                <string>{0,9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{240,217},{32,60}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6034312.png</key>
            <dict>
                <key>frame</key>
                <string>{{432,0},{32,62}}</string>
                <key>offset</key>
                <string>{0,10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{240,215},{32,62}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6034313.png</key>
            <dict>
                <key>frame</key>
                <string>{{228,448},{48,64}}</string>
                <key>offset</key>
                <string>{0,33}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{232,191},{48,64}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6034314.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{38,96}}</string>
                <key>offset</key>
                <string>{0,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{237,202},{38,96}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6034315.png</key>
            <dict>
                <key>frame</key>
                <string>{{94,250},{34,78}}</string>
                <key>offset</key>
                <string>{0,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{239,208},{34,78}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6034321.png</key>
            <dict>
                <key>frame</key>
                <string>{{194,138},{68,46}}</string>
                <key>offset</key>
                <string>{-2,9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{220,224},{68,46}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6034322.png</key>
            <dict>
                <key>frame</key>
                <string>{{150,70},{68,48}}</string>
                <key>offset</key>
                <string>{-2,9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{220,223},{68,48}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6034323.png</key>
            <dict>
                <key>frame</key>
                <string>{{324,448},{62,60}}</string>
                <key>offset</key>
                <string>{7,33}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{232,193},{62,60}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6034324.png</key>
            <dict>
                <key>frame</key>
                <string>{{70,0},{66,82}}</string>
                <key>offset</key>
                <string>{22,11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{245,204},{66,82}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6034325.png</key>
            <dict>
                <key>frame</key>
                <string>{{136,0},{70,62}}</string>
                <key>offset</key>
                <string>{10,11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{231,214},{70,62}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6034331.png</key>
            <dict>
                <key>frame</key>
                <string>{{34,96},{88,30}}</string>
                <key>offset</key>
                <string>{-6,11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{206,230},{88,30}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6034332.png</key>
            <dict>
                <key>frame</key>
                <string>{{50,362},{86,30}}</string>
                <key>offset</key>
                <string>{-9,12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{204,229},{86,30}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6034333.png</key>
            <dict>
                <key>frame</key>
                <string>{{116,328},{74,50}}</string>
                <key>offset</key>
                <string>{4,37}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{223,194},{74,50}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6034334.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,368},{88,50}}</string>
                <key>offset</key>
                <string>{30,25}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{242,206},{88,50}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6034335.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,96},{92,34}}</string>
                <key>offset</key>
                <string>{13,13}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{223,226},{92,34}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6034341.png</key>
            <dict>
                <key>frame</key>
                <string>{{166,328},{68,50}}</string>
                <key>offset</key>
                <string>{-2,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{220,227},{68,50}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6034342.png</key>
            <dict>
                <key>frame</key>
                <string>{{96,154},{70,52}}</string>
                <key>offset</key>
                <string>{-2,7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{219,223},{70,52}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6034343.png</key>
            <dict>
                <key>frame</key>
                <string>{{64,448},{64,60}}</string>
                <key>offset</key>
                <string>{6,34}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{230,192},{64,60}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6034344.png</key>
            <dict>
                <key>frame</key>
                <string>{{128,294},{64,34}}</string>
                <key>offset</key>
                <string>{22,35}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{246,204},{64,34}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6034345.png</key>
            <dict>
                <key>frame</key>
                <string>{{148,154},{70,46}}</string>
                <key>offset</key>
                <string>{9,21}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{230,212},{70,46}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6034351.png</key>
            <dict>
                <key>frame</key>
                <string>{{252,0},{32,66}}</string>
                <key>offset</key>
                <string>{0,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{240,220},{32,66}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6034352.png</key>
            <dict>
                <key>frame</key>
                <string>{{246,66},{32,66}}</string>
                <key>offset</key>
                <string>{0,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{240,218},{32,66}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6034353.png</key>
            <dict>
                <key>frame</key>
                <string>{{216,328},{48,68}}</string>
                <key>offset</key>
                <string>{0,34}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{232,188},{48,68}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6034354.png</key>
            <dict>
                <key>frame</key>
                <string>{{310,84},{38,42}}</string>
                <key>offset</key>
                <string>{0,44}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{237,191},{38,42}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6034355.png</key>
            <dict>
                <key>frame</key>
                <string>{{332,50},{34,58}}</string>
                <key>offset</key>
                <string>{0,24}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{239,203},{34,58}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6034511.png</key>
            <dict>
                <key>frame</key>
                <string>{{278,392},{36,56}}</string>
                <key>offset</key>
                <string>{1,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{239,222},{36,56}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6034512.png</key>
            <dict>
                <key>frame</key>
                <string>{{346,392},{52,44}}</string>
                <key>offset</key>
                <string>{-9,6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{221,228},{52,44}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6034521.png</key>
            <dict>
                <key>frame</key>
                <string>{{332,0},{58,50}}</string>
                <key>offset</key>
                <string>{-3,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{224,227},{58,50}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6034522.png</key>
            <dict>
                <key>frame</key>
                <string>{{390,0},{60,42}}</string>
                <key>offset</key>
                <string>{-5,6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{221,229},{60,42}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6034531.png</key>
            <dict>
                <key>frame</key>
                <string>{{80,332},{80,36}}</string>
                <key>offset</key>
                <string>{-5,9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{211,229},{80,36}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6034532.png</key>
            <dict>
                <key>frame</key>
                <string>{{388,120},{60,44}}</string>
                <key>offset</key>
                <string>{3,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{229,230},{60,44}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6034541.png</key>
            <dict>
                <key>frame</key>
                <string>{{140,402},{72,46}}</string>
                <key>offset</key>
                <string>{-2,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{218,227},{72,46}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6034542.png</key>
            <dict>
                <key>frame</key>
                <string>{{306,132},{48,50}}</string>
                <key>offset</key>
                <string>{5,7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{237,224},{48,50}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6034551.png</key>
            <dict>
                <key>frame</key>
                <string>{{80,412},{36,60}}</string>
                <key>offset</key>
                <string>{-2,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{236,224},{36,60}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6034552.png</key>
            <dict>
                <key>frame</key>
                <string>{{306,180},{50,46}}</string>
                <key>offset</key>
                <string>{8,12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{239,221},{50,46}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>6034.pvr.ccz</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:837d8f0c3ff2a711dafcd657cab48b4a:1/1$</string>
            <key>textureFileName</key>
            <string>6034.pvr.ccz</string>
        </dict>
    </dict>
</plist>
