<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>821011.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,690},{130,316}}</string>
                <key>offset</key>
                <string>{1,-77}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{320,303},{130,316}}</string>
                <key>sourceSize</key>
                <string>{768,768}</string>
            </dict>
            <key>821012.png</key>
            <dict>
                <key>frame</key>
                <string>{{348,148},{138,344}}</string>
                <key>offset</key>
                <string>{7,-84}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{322,296},{138,344}}</string>
                <key>sourceSize</key>
                <string>{768,768}</string>
            </dict>
            <key>821013.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,272},{150,340}}</string>
                <key>offset</key>
                <string>{-2,-81}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{307,295},{150,340}}</string>
                <key>sourceSize</key>
                <string>{768,768}</string>
            </dict>
            <key>821014.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{162,348}}</string>
                <key>offset</key>
                <string>{1,-86}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{304,296},{162,348}}</string>
                <key>sourceSize</key>
                <string>{768,768}</string>
            </dict>
            <key>821015.png</key>
            <dict>
                <key>frame</key>
                <string>{{348,0},{148,344}}</string>
                <key>offset</key>
                <string>{5,-81}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{315,293},{148,344}}</string>
                <key>sourceSize</key>
                <string>{768,768}</string>
            </dict>
            <key>821016.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,162},{110,344}}</string>
                <key>offset</key>
                <string>{1,-85}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{330,297},{110,344}}</string>
                <key>sourceSize</key>
                <string>{768,768}</string>
            </dict>
            <key>821021.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,1580},{252,218}}</string>
                <key>offset</key>
                <string>{112,-32}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{370,307},{252,218}}</string>
                <key>sourceSize</key>
                <string>{768,768}</string>
            </dict>
            <key>821022.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,1352},{280,228}}</string>
                <key>offset</key>
                <string>{120,-33}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{364,303},{280,228}}</string>
                <key>sourceSize</key>
                <string>{768,768}</string>
            </dict>
            <key>821023.png</key>
            <dict>
                <key>frame</key>
                <string>{{588,1216},{286,240}}</string>
                <key>offset</key>
                <string>{121,-38}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{362,302},{286,240}}</string>
                <key>sourceSize</key>
                <string>{768,768}</string>
            </dict>
            <key>821024.png</key>
            <dict>
                <key>frame</key>
                <string>{{300,1038},{288,234}}</string>
                <key>offset</key>
                <string>{121,-34}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{361,301},{288,234}}</string>
                <key>sourceSize</key>
                <string>{768,768}</string>
            </dict>
            <key>821025.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,1126},{288,226}}</string>
                <key>offset</key>
                <string>{124,-30}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{364,301},{288,226}}</string>
                <key>sourceSize</key>
                <string>{768,768}</string>
            </dict>
            <key>821026.png</key>
            <dict>
                <key>frame</key>
                <string>{{280,1446},{278,228}}</string>
                <key>offset</key>
                <string>{118,-31}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{363,301},{278,228}}</string>
                <key>sourceSize</key>
                <string>{768,768}</string>
            </dict>
            <key>821031.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,1014},{300,112}}</string>
                <key>offset</key>
                <string>{148,61}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{382,267},{300,112}}</string>
                <key>sourceSize</key>
                <string>{768,768}</string>
            </dict>
            <key>821032.png</key>
            <dict>
                <key>frame</key>
                <string>{{650,470},{322,122}}</string>
                <key>offset</key>
                <string>{155,66}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{378,257},{322,122}}</string>
                <key>sourceSize</key>
                <string>{768,768}</string>
            </dict>
            <key>821033.png</key>
            <dict>
                <key>frame</key>
                <string>{{322,576},{320,134}}</string>
                <key>offset</key>
                <string>{151,57}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{375,260},{320,134}}</string>
                <key>sourceSize</key>
                <string>{768,768}</string>
            </dict>
            <key>821034.png</key>
            <dict>
                <key>frame</key>
                <string>{{692,0},{330,146}}</string>
                <key>offset</key>
                <string>{157,61}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{376,250},{330,146}}</string>
                <key>sourceSize</key>
                <string>{768,768}</string>
            </dict>
            <key>821035.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,558},{322,132}}</string>
                <key>offset</key>
                <string>{152,64}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{375,254},{322,132}}</string>
                <key>sourceSize</key>
                <string>{768,768}</string>
            </dict>
            <key>821036.png</key>
            <dict>
                <key>frame</key>
                <string>{{674,372},{326,98}}</string>
                <key>offset</key>
                <string>{155,60}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{376,275},{326,98}}</string>
                <key>sourceSize</key>
                <string>{768,768}</string>
            </dict>
            <key>821041.png</key>
            <dict>
                <key>frame</key>
                <string>{{288,1272},{284,174}}</string>
                <key>offset</key>
                <string>{135,129}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{377,168},{284,174}}</string>
                <key>sourceSize</key>
                <string>{768,768}</string>
            </dict>
            <key>821042.png</key>
            <dict>
                <key>frame</key>
                <string>{{624,806},{302,198}}</string>
                <key>offset</key>
                <string>{139,136}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{372,149},{302,198}}</string>
                <key>sourceSize</key>
                <string>{768,768}</string>
            </dict>
            <key>821043.png</key>
            <dict>
                <key>frame</key>
                <string>{{642,592},{308,214}}</string>
                <key>offset</key>
                <string>{141,142}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{371,135},{308,214}}</string>
                <key>sourceSize</key>
                <string>{768,768}</string>
            </dict>
            <key>821044.png</key>
            <dict>
                <key>frame</key>
                <string>{{316,710},{308,210}}</string>
                <key>offset</key>
                <string>{139,139}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{369,140},{308,210}}</string>
                <key>sourceSize</key>
                <string>{768,768}</string>
            </dict>
            <key>821045.png</key>
            <dict>
                <key>frame</key>
                <string>{{606,1004},{294,212}}</string>
                <key>offset</key>
                <string>{132,143}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{369,135},{294,212}}</string>
                <key>sourceSize</key>
                <string>{768,768}</string>
            </dict>
            <key>821046.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,820},{304,194}}</string>
                <key>offset</key>
                <string>{140,133}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{372,154},{304,194}}</string>
                <key>sourceSize</key>
                <string>{768,768}</string>
            </dict>
            <key>821051.png</key>
            <dict>
                <key>frame</key>
                <string>{{304,920},{118,302}}</string>
                <key>offset</key>
                <string>{4,210}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{329,23},{118,302}}</string>
                <key>sourceSize</key>
                <string>{768,768}</string>
            </dict>
            <key>821052.png</key>
            <dict>
                <key>frame</key>
                <string>{{692,146},{126,328}}</string>
                <key>offset</key>
                <string>{-2,217}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{319,3},{126,328}}</string>
                <key>sourceSize</key>
                <string>{768,768}</string>
            </dict>
            <key>821053.png</key>
            <dict>
                <key>frame</key>
                <string>{{326,438},{138,324}}</string>
                <key>offset</key>
                <string>{9,213}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{324,9},{138,324}}</string>
                <key>sourceSize</key>
                <string>{768,768}</string>
            </dict>
            <key>821054.png</key>
            <dict>
                <key>frame</key>
                <string>{{340,286},{152,334}}</string>
                <key>offset</key>
                <string>{4,217}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{312,0},{152,334}}</string>
                <key>sourceSize</key>
                <string>{768,768}</string>
            </dict>
            <key>821055.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,422},{136,326}}</string>
                <key>offset</key>
                <string>{1,214}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{317,7},{136,326}}</string>
                <key>sourceSize</key>
                <string>{768,768}</string>
            </dict>
            <key>821056.png</key>
            <dict>
                <key>frame</key>
                <string>{{692,272},{100,328}}</string>
                <key>offset</key>
                <string>{4,217}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{338,3},{100,328}}</string>
                <key>sourceSize</key>
                <string>{768,768}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>8210.pvr.ccz</string>
            <key>size</key>
            <string>{1024,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:4e7fed7fcd272465a293d3e291051e95:1/1$</string>
            <key>textureFileName</key>
            <string>8210.pvr.ccz</string>
        </dict>
    </dict>
</plist>
