<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>9203111.png</key>
            <dict>
                <key>frame</key>
                <string>{{682,338},{70,198}}</string>
                <key>offset</key>
                <string>{0,61}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{221,96},{70,198}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>9203112.png</key>
            <dict>
                <key>frame</key>
                <string>{{428,406},{70,196}}</string>
                <key>offset</key>
                <string>{0,60}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{221,98},{70,196}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>9203113.png</key>
            <dict>
                <key>frame</key>
                <string>{{196,454},{76,194}}</string>
                <key>offset</key>
                <string>{0,59}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{218,100},{76,194}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>9203114.png</key>
            <dict>
                <key>frame</key>
                <string>{{232,376},{78,196}}</string>
                <key>offset</key>
                <string>{0,60}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{217,98},{78,196}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>9203121.png</key>
            <dict>
                <key>frame</key>
                <string>{{384,552},{186,180}}</string>
                <key>offset</key>
                <string>{-24,55}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{139,111},{186,180}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>9203122.png</key>
            <dict>
                <key>frame</key>
                <string>{{828,918},{178,180}}</string>
                <key>offset</key>
                <string>{-19,55}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{148,111},{178,180}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>9203123.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,1040},{158,176}}</string>
                <key>offset</key>
                <string>{-9,53}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{168,115},{158,176}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>9203124.png</key>
            <dict>
                <key>frame</key>
                <string>{{366,902},{172,178}}</string>
                <key>offset</key>
                <string>{-16,54}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{154,113},{172,178}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>9203131.png</key>
            <dict>
                <key>frame</key>
                <string>{{750,116},{242,140}}</string>
                <key>offset</key>
                <string>{-27,56}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{108,130},{242,140}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>9203132.png</key>
            <dict>
                <key>frame</key>
                <string>{{506,118},{242,138}}</string>
                <key>offset</key>
                <string>{-27,55}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{108,132},{242,138}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>9203133.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,242},{232,136}}</string>
                <key>offset</key>
                <string>{-21,54}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{119,134},{232,136}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>9203134.png</key>
            <dict>
                <key>frame</key>
                <string>{{244,238},{240,138}}</string>
                <key>offset</key>
                <string>{-25,55}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{111,132},{240,138}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>9203141.png</key>
            <dict>
                <key>frame</key>
                <string>{{720,1096},{164,166}}</string>
                <key>offset</key>
                <string>{-12,40}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{162,133},{164,166}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>9203142.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,1198},{172,170}}</string>
                <key>offset</key>
                <string>{-16,38}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{154,133},{172,170}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>9203143.png</key>
            <dict>
                <key>frame</key>
                <string>{{188,606},{186,158}}</string>
                <key>offset</key>
                <string>{-22,41}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{141,136},{186,158}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>9203144.png</key>
            <dict>
                <key>frame</key>
                <string>{{186,764},{180,162}}</string>
                <key>offset</key>
                <string>{-19,41}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{147,134},{180,162}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>9203151.png</key>
            <dict>
                <key>frame</key>
                <string>{{570,726},{68,184}}</string>
                <key>offset</key>
                <string>{0,30}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{222,134},{68,184}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>9203152.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,522},{70,194}}</string>
                <key>offset</key>
                <string>{0,25}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{221,134},{70,194}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>9203153.png</key>
            <dict>
                <key>frame</key>
                <string>{{390,476},{76,192}}</string>
                <key>offset</key>
                <string>{-1,23}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{217,137},{76,192}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>9203154.png</key>
            <dict>
                <key>frame</key>
                <string>{{194,530},{76,190}}</string>
                <key>offset</key>
                <string>{-1,25}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{217,136},{76,190}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>9203211.png</key>
            <dict>
                <key>frame</key>
                <string>{{484,256},{78,210}}</string>
                <key>offset</key>
                <string>{3,54}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{220,97},{78,210}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>9203212.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,450},{72,196}}</string>
                <key>offset</key>
                <string>{1,65}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{221,93},{72,196}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>9203213.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,968},{72,178}}</string>
                <key>offset</key>
                <string>{0,77}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{220,90},{72,178}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>9203214.png</key>
            <dict>
                <key>frame</key>
                <string>{{754,776},{74,176}}</string>
                <key>offset</key>
                <string>{0,70}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{219,98},{74,176}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>9203215.png</key>
            <dict>
                <key>frame</key>
                <string>{{816,408},{80,190}}</string>
                <key>offset</key>
                <string>{0,62}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{216,99},{80,190}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>9203216.png</key>
            <dict>
                <key>frame</key>
                <string>{{694,256},{82,204}}</string>
                <key>offset</key>
                <string>{0,53}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{215,101},{82,204}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>9203221.png</key>
            <dict>
                <key>frame</key>
                <string>{{624,408},{192,172}}</string>
                <key>offset</key>
                <string>{-10,57}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{150,113},{192,172}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>9203222.png</key>
            <dict>
                <key>frame</key>
                <string>{{358,1074},{174,168}}</string>
                <key>offset</key>
                <string>{-20,65}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{149,107},{174,168}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>9203223.png</key>
            <dict>
                <key>frame</key>
                <string>{{544,968},{176,154}}</string>
                <key>offset</key>
                <string>{-20,73}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{148,106},{176,154}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>9203224.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,818},{180,150}}</string>
                <key>offset</key>
                <string>{-22,63}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{144,118},{180,150}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>9203225.png</key>
            <dict>
                <key>frame</key>
                <string>{{176,1096},{174,162}}</string>
                <key>offset</key>
                <string>{-19,58}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{150,117},{174,162}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>9203226.png</key>
            <dict>
                <key>frame</key>
                <string>{{554,794},{174,178}}</string>
                <key>offset</key>
                <string>{-19,50}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{150,117},{174,178}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>9203231.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{258,120}}</string>
                <key>offset</key>
                <string>{-21,50}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{106,146},{258,120}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>9203232.png</key>
            <dict>
                <key>frame</key>
                <string>{{244,122},{242,116}}</string>
                <key>offset</key>
                <string>{-31,55}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{104,143},{242,116}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>9203233.png</key>
            <dict>
                <key>frame</key>
                <string>{{750,0},{244,116}}</string>
                <key>offset</key>
                <string>{-31,62}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{103,136},{244,116}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>9203234.png</key>
            <dict>
                <key>frame</key>
                <string>{{258,0},{248,122}}</string>
                <key>offset</key>
                <string>{-34,60}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{98,135},{248,122}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>9203235.png</key>
            <dict>
                <key>frame</key>
                <string>{{506,0},{244,118}}</string>
                <key>offset</key>
                <string>{-29,57}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{105,140},{244,118}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>9203236.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,120},{244,122}}</string>
                <key>offset</key>
                <string>{-28,51}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{106,144},{244,122}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>9203241.png</key>
            <dict>
                <key>frame</key>
                <string>{{830,604},{182,162}}</string>
                <key>offset</key>
                <string>{-17,39}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{148,136},{182,162}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>9203242.png</key>
            <dict>
                <key>frame</key>
                <string>{{180,926},{178,170}}</string>
                <key>offset</key>
                <string>{-21,41}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{146,130},{178,170}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>9203243.png</key>
            <dict>
                <key>frame</key>
                <string>{{374,732},{180,170}}</string>
                <key>offset</key>
                <string>{-22,46}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{144,125},{180,170}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>9203244.png</key>
            <dict>
                <key>frame</key>
                <string>{{830,766},{182,152}}</string>
                <key>offset</key>
                <string>{-24,51}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{141,129},{182,152}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>9203245.png</key>
            <dict>
                <key>frame</key>
                <string>{{570,580},{186,146}}</string>
                <key>offset</key>
                <string>{-16,49}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{147,134},{186,146}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>9203246.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,670},{186,148}}</string>
                <key>offset</key>
                <string>{-15,43}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{148,139},{186,148}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>9203251.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,592},{78,188}}</string>
                <key>offset</key>
                <string>{-3,24}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{214,138},{78,188}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>9203252.png</key>
            <dict>
                <key>frame</key>
                <string>{{484,334},{72,198}}</string>
                <key>offset</key>
                <string>{-1,27}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{219,130},{72,198}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>9203253.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,378},{72,196}}</string>
                <key>offset</key>
                <string>{-1,31}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{219,127},{72,196}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>9203254.png</key>
            <dict>
                <key>frame</key>
                <string>{{756,598},{74,178}}</string>
                <key>offset</key>
                <string>{-1,35}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{218,132},{74,178}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>9203255.png</key>
            <dict>
                <key>frame</key>
                <string>{{896,432},{80,172}}</string>
                <key>offset</key>
                <string>{-1,38}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{215,132},{80,172}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>9203256.png</key>
            <dict>
                <key>frame</key>
                <string>{{898,256},{82,176}}</string>
                <key>offset</key>
                <string>{0,32}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{215,136},{82,176}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>9203.pvr.ccz</string>
            <key>size</key>
            <string>{1024,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:b943ca81d3625a7eb38f0ceaa3357350:1/1$</string>
            <key>textureFileName</key>
            <string>9203.pvr.ccz</string>
        </dict>
    </dict>
</plist>
