<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>6041111.png</key>
            <dict>
                <key>frame</key>
                <string>{{466,126},{60,124}}</string>
                <key>offset</key>
                <string>{4,42}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{230,152},{60,124}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6041112.png</key>
            <dict>
                <key>frame</key>
                <string>{{328,340},{62,124}}</string>
                <key>offset</key>
                <string>{5,42}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{230,152},{62,124}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6041113.png</key>
            <dict>
                <key>frame</key>
                <string>{{390,340},{60,124}}</string>
                <key>offset</key>
                <string>{4,42}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{230,152},{60,124}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6041121.png</key>
            <dict>
                <key>frame</key>
                <string>{{560,646},{74,118}}</string>
                <key>offset</key>
                <string>{12,46}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{231,151},{74,118}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6041122.png</key>
            <dict>
                <key>frame</key>
                <string>{{762,760},{74,116}}</string>
                <key>offset</key>
                <string>{12,45}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{231,153},{74,116}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6041123.png</key>
            <dict>
                <key>frame</key>
                <string>{{638,570},{74,116}}</string>
                <key>offset</key>
                <string>{12,45}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{231,153},{74,116}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6041131.png</key>
            <dict>
                <key>frame</key>
                <string>{{652,454},{92,116}}</string>
                <key>offset</key>
                <string>{12,47}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{222,151},{92,116}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6041132.png</key>
            <dict>
                <key>frame</key>
                <string>{{746,644},{90,116}}</string>
                <key>offset</key>
                <string>{13,47}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{224,151},{90,116}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6041133.png</key>
            <dict>
                <key>frame</key>
                <string>{{532,246},{92,116}}</string>
                <key>offset</key>
                <string>{12,47}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{222,151},{92,116}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6041141.png</key>
            <dict>
                <key>frame</key>
                <string>{{648,762},{76,114}}</string>
                <key>offset</key>
                <string>{-4,48}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{214,151},{76,114}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6041142.png</key>
            <dict>
                <key>frame</key>
                <string>{{534,770},{76,114}}</string>
                <key>offset</key>
                <string>{-4,46}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{214,153},{76,114}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6041143.png</key>
            <dict>
                <key>frame</key>
                <string>{{420,778},{76,114}}</string>
                <key>offset</key>
                <string>{-4,48}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{214,151},{76,114}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6041151.png</key>
            <dict>
                <key>frame</key>
                <string>{{664,954},{60,110}}</string>
                <key>offset</key>
                <string>{-4,49}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{222,152},{60,110}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6041152.png</key>
            <dict>
                <key>frame</key>
                <string>{{524,584},{62,114}}</string>
                <key>offset</key>
                <string>{-5,47}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{220,152},{62,114}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6041153.png</key>
            <dict>
                <key>frame</key>
                <string>{{554,962},{60,110}}</string>
                <key>offset</key>
                <string>{-4,49}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{222,152},{60,110}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6041211.png</key>
            <dict>
                <key>frame</key>
                <string>{{410,588},{64,114}}</string>
                <key>offset</key>
                <string>{-2,50}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{222,149},{64,114}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6041212.png</key>
            <dict>
                <key>frame</key>
                <string>{{458,0},{60,126}}</string>
                <key>offset</key>
                <string>{-1,46}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{225,147},{60,126}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6041213.png</key>
            <dict>
                <key>frame</key>
                <string>{{380,464},{60,124}}</string>
                <key>offset</key>
                <string>{-1,45}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{225,149},{60,124}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6041214.png</key>
            <dict>
                <key>frame</key>
                <string>{{398,656},{62,122}}</string>
                <key>offset</key>
                <string>{-1,46}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{224,149},{62,122}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6041215.png</key>
            <dict>
                <key>frame</key>
                <string>{{396,0},{62,126}}</string>
                <key>offset</key>
                <string>{-1,44}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{224,149},{62,126}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6041221.png</key>
            <dict>
                <key>frame</key>
                <string>{{754,0},{102,114}}</string>
                <key>offset</key>
                <string>{1,49}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{206,150},{102,114}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6041222.png</key>
            <dict>
                <key>frame</key>
                <string>{{556,454},{96,116}}</string>
                <key>offset</key>
                <string>{-4,49}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{204,149},{96,116}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6041223.png</key>
            <dict>
                <key>frame</key>
                <string>{{556,338},{100,116}}</string>
                <key>offset</key>
                <string>{-3,48}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{203,150},{100,116}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6041224.png</key>
            <dict>
                <key>frame</key>
                <string>{{450,338},{106,120}}</string>
                <key>offset</key>
                <string>{0,47}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{203,149},{106,120}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6041225.png</key>
            <dict>
                <key>frame</key>
                <string>{{292,656},{106,122}}</string>
                <key>offset</key>
                <string>{2,44}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{205,151},{106,122}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6041231.png</key>
            <dict>
                <key>frame</key>
                <string>{{754,102},{100,112}}</string>
                <key>offset</key>
                <string>{3,50}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{209,150},{100,112}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6041232.png</key>
            <dict>
                <key>frame</key>
                <string>{{648,232},{104,110}}</string>
                <key>offset</key>
                <string>{-8,50}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{196,151},{104,110}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6041233.png</key>
            <dict>
                <key>frame</key>
                <string>{{656,336},{108,110}}</string>
                <key>offset</key>
                <string>{-8,50}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{194,151},{108,110}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6041234.png</key>
            <dict>
                <key>frame</key>
                <string>{{764,834},{114,110}}</string>
                <key>offset</key>
                <string>{-1,51}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{198,150},{114,110}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6041235.png</key>
            <dict>
                <key>frame</key>
                <string>{{554,846},{116,110}}</string>
                <key>offset</key>
                <string>{2,50}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{200,151},{116,110}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6041241.png</key>
            <dict>
                <key>frame</key>
                <string>{{324,858},{74,120}}</string>
                <key>offset</key>
                <string>{-11,44}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{208,152},{74,120}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6041242.png</key>
            <dict>
                <key>frame</key>
                <string>{{460,854},{94,118}}</string>
                <key>offset</key>
                <string>{-8,45}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{201,152},{94,118}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6041243.png</key>
            <dict>
                <key>frame</key>
                <string>{{460,652},{100,118}}</string>
                <key>offset</key>
                <string>{-10,43}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{196,154},{100,118}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6041244.png</key>
            <dict>
                <key>frame</key>
                <string>{{410,252},{86,122}}</string>
                <key>offset</key>
                <string>{-16,42}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{197,153},{86,122}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6041245.png</key>
            <dict>
                <key>frame</key>
                <string>{{290,468},{90,124}}</string>
                <key>offset</key>
                <string>{-11,40}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{200,154},{90,124}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6041251.png</key>
            <dict>
                <key>frame</key>
                <string>{{290,592},{64,120}}</string>
                <key>offset</key>
                <string>{2,45}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{226,151},{64,120}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6041252.png</key>
            <dict>
                <key>frame</key>
                <string>{{336,0},{60,128}}</string>
                <key>offset</key>
                <string>{0,38}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{226,154},{60,128}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6041253.png</key>
            <dict>
                <key>frame</key>
                <string>{{406,126},{60,126}}</string>
                <key>offset</key>
                <string>{0,38}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{226,155},{60,126}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6041254.png</key>
            <dict>
                <key>frame</key>
                <string>{{344,128},{62,126}}</string>
                <key>offset</key>
                <string>{1,41}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{226,152},{62,126}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6041255.png</key>
            <dict>
                <key>frame</key>
                <string>{{274,0},{62,128}}</string>
                <key>offset</key>
                <string>{1,39}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{226,153},{62,128}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6041311.png</key>
            <dict>
                <key>frame</key>
                <string>{{398,858},{62,120}}</string>
                <key>offset</key>
                <string>{5,48}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{230,148},{62,120}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6041312.png</key>
            <dict>
                <key>frame</key>
                <string>{{518,0},{54,124}}</string>
                <key>offset</key>
                <string>{0,50}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{229,144},{54,124}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6041313.png</key>
            <dict>
                <key>frame</key>
                <string>{{186,804},{56,124}}</string>
                <key>offset</key>
                <string>{3,50}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{231,144},{56,124}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6041314.png</key>
            <dict>
                <key>frame</key>
                <string>{{158,268},{74,132}}</string>
                <key>offset</key>
                <string>{2,54}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{221,136},{74,132}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6041315.png</key>
            <dict>
                <key>frame</key>
                <string>{{290,264},{76,120}}</string>
                <key>offset</key>
                <string>{-2,48}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{216,148},{76,120}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6041321.png</key>
            <dict>
                <key>frame</key>
                <string>{{310,778},{80,110}}</string>
                <key>offset</key>
                <string>{-3,52}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{213,149},{80,110}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6041322.png</key>
            <dict>
                <key>frame</key>
                <string>{{744,446},{92,110}}</string>
                <key>offset</key>
                <string>{1,52}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{211,149},{92,110}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6041323.png</key>
            <dict>
                <key>frame</key>
                <string>{{656,122},{98,110}}</string>
                <key>offset</key>
                <string>{-2,52}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{205,149},{98,110}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6041324.png</key>
            <dict>
                <key>frame</key>
                <string>{{440,464},{120,116}}</string>
                <key>offset</key>
                <string>{-3,55}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{193,143},{120,116}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6041325.png</key>
            <dict>
                <key>frame</key>
                <string>{{634,646},{116,112}}</string>
                <key>offset</key>
                <string>{1,53}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{199,147},{116,112}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6041331.png</key>
            <dict>
                <key>frame</key>
                <string>{{218,342},{110,126}}</string>
                <key>offset</key>
                <string>{10,49}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{211,144},{110,126}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6041332.png</key>
            <dict>
                <key>frame</key>
                <string>{{158,134},{114,134}}</string>
                <key>offset</key>
                <string>{7,52}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{206,137},{114,134}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6041333.png</key>
            <dict>
                <key>frame</key>
                <string>{{158,0},{116,134}}</string>
                <key>offset</key>
                <string>{6,52}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{204,137},{116,134}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6041334.png</key>
            <dict>
                <key>frame</key>
                <string>{{110,342},{108,142}}</string>
                <key>offset</key>
                <string>{-13,56}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{189,129},{108,142}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6041335.png</key>
            <dict>
                <key>frame</key>
                <string>{{664,838},{100,116}}</string>
                <key>offset</key>
                <string>{1,46}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{207,152},{100,116}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6041341.png</key>
            <dict>
                <key>frame</key>
                <string>{{90,698},{96,162}}</string>
                <key>offset</key>
                <string>{7,53}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{215,122},{96,162}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6041342.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,698},{90,166}}</string>
                <key>offset</key>
                <string>{1,55}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{212,118},{90,166}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6041343.png</key>
            <dict>
                <key>frame</key>
                <string>{{62,0},{96,166}}</string>
                <key>offset</key>
                <string>{-2,55}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{206,118},{96,166}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6041344.png</key>
            <dict>
                <key>frame</key>
                <string>{{54,352},{56,168}}</string>
                <key>offset</key>
                <string>{-16,56}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{212,116},{56,168}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6041345.png</key>
            <dict>
                <key>frame</key>
                <string>{{196,860},{52,140}}</string>
                <key>offset</key>
                <string>{-12,44}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{218,142},{52,140}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6041351.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{62,176}}</string>
                <key>offset</key>
                <string>{-6,61}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{219,107},{62,176}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6041352.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,352},{54,176}}</string>
                <key>offset</key>
                <string>{0,61}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{229,107},{54,176}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6041353.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,176},{56,176}}</string>
                <key>offset</key>
                <string>{-3,61}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{225,107},{56,176}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6041354.png</key>
            <dict>
                <key>frame</key>
                <string>{{122,860},{74,162}}</string>
                <key>offset</key>
                <string>{-3,54}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{216,121},{74,162}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6041355.png</key>
            <dict>
                <key>frame</key>
                <string>{{248,860},{76,138}}</string>
                <key>offset</key>
                <string>{2,43}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{220,144},{76,138}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6041511.png</key>
            <dict>
                <key>frame</key>
                <string>{{572,0},{122,110}}</string>
                <key>offset</key>
                <string>{13,38}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{208,163},{122,110}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6041512.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,864},{146,122}}</string>
                <key>offset</key>
                <string>{12,-29}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{195,224},{146,122}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6041521.png</key>
            <dict>
                <key>frame</key>
                <string>{{878,0},{114,108}}</string>
                <key>offset</key>
                <string>{17,38}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{216,164},{114,108}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6041522.png</key>
            <dict>
                <key>frame</key>
                <string>{{56,176},{166,102}}</string>
                <key>offset</key>
                <string>{47,-17}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{220,222},{166,102}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6041531.png</key>
            <dict>
                <key>frame</key>
                <string>{{272,134},{72,130}}</string>
                <key>offset</key>
                <string>{10,41}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{230,150},{72,130}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6041532.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,528},{170,96}}</string>
                <key>offset</key>
                <string>{54,8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{225,200},{170,96}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6041541.png</key>
            <dict>
                <key>frame</key>
                <string>{{206,484},{84,136}}</string>
                <key>offset</key>
                <string>{-1,47}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{213,141},{84,136}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6041542.png</key>
            <dict>
                <key>frame</key>
                <string>{{186,664},{140,106}}</string>
                <key>offset</key>
                <string>{34,31}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{220,172},{140,106}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6041551.png</key>
            <dict>
                <key>frame</key>
                <string>{{526,124},{122,122}}</string>
                <key>offset</key>
                <string>{-13,50}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{182,145},{122,122}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6041552.png</key>
            <dict>
                <key>frame</key>
                <string>{{96,520},{144,110}}</string>
                <key>offset</key>
                <string>{-12,34}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{172,167},{144,110}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>6041.pvr.ccz</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:534006974a68fb237fbfd5602ebc61d6:1/1$</string>
            <key>textureFileName</key>
            <string>6041.pvr.ccz</string>
        </dict>
    </dict>
</plist>
