<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>loadWaiting1.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,192},{48,48}}</string>
                <key>offset</key>
                <string>{5,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{237,225},{48,48}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>loadWaiting2.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,144},{48,48}}</string>
                <key>offset</key>
                <string>{5,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{237,225},{48,48}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>loadWaiting3.png</key>
            <dict>
                <key>frame</key>
                <string>{{48,96},{48,48}}</string>
                <key>offset</key>
                <string>{5,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{237,225},{48,48}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>loadWaiting4.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,96},{48,48}}</string>
                <key>offset</key>
                <string>{5,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{237,225},{48,48}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>loadWaiting5.png</key>
            <dict>
                <key>frame</key>
                <string>{{48,48},{48,48}}</string>
                <key>offset</key>
                <string>{5,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{237,225},{48,48}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>loadWaiting6.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,48},{48,48}}</string>
                <key>offset</key>
                <string>{5,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{237,225},{48,48}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>loadWaiting7.png</key>
            <dict>
                <key>frame</key>
                <string>{{48,0},{48,48}}</string>
                <key>offset</key>
                <string>{5,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{237,225},{48,48}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>loadWaiting8.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{48,48}}</string>
                <key>offset</key>
                <string>{5,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{237,225},{48,48}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>loadWaiting.pvr.ccz</string>
            <key>size</key>
            <string>{128,256}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:0b439a71d236643b1923d7729b7b7d8a:1/1$</string>
            <key>textureFileName</key>
            <string>loadWaiting.pvr.ccz</string>
        </dict>
    </dict>
</plist>
