<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>sceneAutoEff1.png</key>
            <dict>
                <key>frame</key>
                <string>{{388,588},{192,72}}</string>
                <key>offset</key>
                <string>{12,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{172,216},{192,72}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>sceneAutoEff10.png</key>
            <dict>
                <key>frame</key>
                <string>{{200,362},{200,72}}</string>
                <key>offset</key>
                <string>{10,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{166,217},{200,72}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>sceneAutoEff11.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{206,84}}</string>
                <key>offset</key>
                <string>{7,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{160,212},{206,84}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>sceneAutoEff12.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,278},{200,92}}</string>
                <key>offset</key>
                <string>{10,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{166,206},{200,92}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>sceneAutoEff13.png</key>
            <dict>
                <key>frame</key>
                <string>{{200,180},{200,98}}</string>
                <key>offset</key>
                <string>{10,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{166,203},{200,98}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>sceneAutoEff14.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,84},{200,98}}</string>
                <key>offset</key>
                <string>{10,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{166,204},{200,98}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>sceneAutoEff15.png</key>
            <dict>
                <key>frame</key>
                <string>{{408,0},{200,100}}</string>
                <key>offset</key>
                <string>{10,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{166,203},{200,100}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>sceneAutoEff16.png</key>
            <dict>
                <key>frame</key>
                <string>{{206,82},{200,98}}</string>
                <key>offset</key>
                <string>{10,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{166,204},{200,98}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>sceneAutoEff17.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,182},{200,96}}</string>
                <key>offset</key>
                <string>{10,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{166,204},{200,96}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>sceneAutoEff18.png</key>
            <dict>
                <key>frame</key>
                <string>{{206,0},{202,82}}</string>
                <key>offset</key>
                <string>{11,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{166,211},{202,82}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>sceneAutoEff2.png</key>
            <dict>
                <key>frame</key>
                <string>{{200,278},{200,84}}</string>
                <key>offset</key>
                <string>{8,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{164,211},{200,84}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>sceneAutoEff3.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,550},{194,94}}</string>
                <key>offset</key>
                <string>{11,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{170,205},{194,94}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>sceneAutoEff4.png</key>
            <dict>
                <key>frame</key>
                <string>{{194,534},{194,98}}</string>
                <key>offset</key>
                <string>{11,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{170,203},{194,98}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>sceneAutoEff5.png</key>
            <dict>
                <key>frame</key>
                <string>{{196,434},{194,100}}</string>
                <key>offset</key>
                <string>{11,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{170,203},{194,100}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>sceneAutoEff6.png</key>
            <dict>
                <key>frame</key>
                <string>{{400,394},{194,100}}</string>
                <key>offset</key>
                <string>{11,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{170,203},{194,100}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>sceneAutoEff7.png</key>
            <dict>
                <key>frame</key>
                <string>{{400,200},{194,100}}</string>
                <key>offset</key>
                <string>{11,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{170,202},{194,100}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>sceneAutoEff8.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,452},{194,98}}</string>
                <key>offset</key>
                <string>{11,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{170,203},{194,98}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>sceneAutoEff9.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,370},{196,82}}</string>
                <key>offset</key>
                <string>{11,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{169,211},{196,82}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>sceneAutoEff.pvr.ccz</string>
            <key>size</key>
            <string>{512,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:8c3c1632440c9b88b33da556f6a861bc:1/1$</string>
            <key>textureFileName</key>
            <string>sceneAutoEff.pvr.ccz</string>
        </dict>
    </dict>
</plist>
