<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>ring1.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,514},{230,172}}</string>
                <key>offset</key>
                <string>{-1,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{140,179},{230,172}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>ring2.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,172},{232,172}}</string>
                <key>offset</key>
                <string>{-1,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{139,179},{232,172}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>ring3.png</key>
            <dict>
                <key>frame</key>
                <string>{{232,512},{232,170}}</string>
                <key>offset</key>
                <string>{0,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{140,180},{232,170}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>ring4.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,344},{232,170}}</string>
                <key>offset</key>
                <string>{0,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{140,180},{232,170}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>ring5.png</key>
            <dict>
                <key>frame</key>
                <string>{{234,0},{232,172}}</string>
                <key>offset</key>
                <string>{0,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{140,179},{232,172}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>ring6.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{234,172}}</string>
                <key>offset</key>
                <string>{-1,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{138,179},{234,172}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>ring7.png</key>
            <dict>
                <key>frame</key>
                <string>{{232,342},{232,170}}</string>
                <key>offset</key>
                <string>{0,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{140,180},{232,170}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>ring8.png</key>
            <dict>
                <key>frame</key>
                <string>{{232,172},{232,170}}</string>
                <key>offset</key>
                <string>{0,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{140,181},{232,170}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>ring.pvr.ccz</string>
            <key>size</key>
            <string>{512,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:4f579d68d748e8bb081fe3c3862a887c:1/1$</string>
            <key>textureFileName</key>
            <string>ring.pvr.ccz</string>
        </dict>
    </dict>
</plist>
