<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>7005111.png</key>
            <dict>
                <key>frame</key>
                <string>{{1278,1142},{276,300}}</string>
                <key>offset</key>
                <string>{0,75}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{374,287},{276,300}}</string>
                <key>sourceSize</key>
                <string>{1024,1024}</string>
            </dict>
            <key>7005112.png</key>
            <dict>
                <key>frame</key>
                <string>{{1280,860},{282,304}}</string>
                <key>offset</key>
                <string>{-1,75}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{370,285},{282,304}}</string>
                <key>sourceSize</key>
                <string>{1024,1024}</string>
            </dict>
            <key>7005113.png</key>
            <dict>
                <key>frame</key>
                <string>{{1584,1018},{280,300}}</string>
                <key>offset</key>
                <string>{0,76}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{372,286},{280,300}}</string>
                <key>sourceSize</key>
                <string>{1024,1024}</string>
            </dict>
            <key>7005121.png</key>
            <dict>
                <key>frame</key>
                <string>{{360,196},{194,354}}</string>
                <key>offset</key>
                <string>{-56,89}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{359,246},{194,354}}</string>
                <key>sourceSize</key>
                <string>{1024,1024}</string>
            </dict>
            <key>7005122.png</key>
            <dict>
                <key>frame</key>
                <string>{{718,0},{200,354}}</string>
                <key>offset</key>
                <string>{-57,87}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{355,248},{200,354}}</string>
                <key>sourceSize</key>
                <string>{1024,1024}</string>
            </dict>
            <key>7005123.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,208},{200,352}}</string>
                <key>offset</key>
                <string>{-55,89}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{357,247},{200,352}}</string>
                <key>sourceSize</key>
                <string>{1024,1024}</string>
            </dict>
            <key>7005131.png</key>
            <dict>
                <key>frame</key>
                <string>{{974,664},{228,306}}</string>
                <key>offset</key>
                <string>{10,106}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{408,253},{228,306}}</string>
                <key>sourceSize</key>
                <string>{1024,1024}</string>
            </dict>
            <key>7005132.png</key>
            <dict>
                <key>frame</key>
                <string>{{316,856},{220,308}}</string>
                <key>offset</key>
                <string>{11,103}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{413,255},{220,308}}</string>
                <key>sourceSize</key>
                <string>{1024,1024}</string>
            </dict>
            <key>7005133.png</key>
            <dict>
                <key>frame</key>
                <string>{{316,1076},{228,304}}</string>
                <key>offset</key>
                <string>{14,104}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{412,256},{228,304}}</string>
                <key>sourceSize</key>
                <string>{1024,1024}</string>
            </dict>
            <key>7005141.png</key>
            <dict>
                <key>frame</key>
                <string>{{928,1162},{300,252}}</string>
                <key>offset</key>
                <string>{-5,88}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{357,298},{300,252}}</string>
                <key>sourceSize</key>
                <string>{1024,1024}</string>
            </dict>
            <key>7005142.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,1376},{298,250}}</string>
                <key>offset</key>
                <string>{-7,85}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{356,302},{298,250}}</string>
                <key>sourceSize</key>
                <string>{1024,1024}</string>
            </dict>
            <key>7005143.png</key>
            <dict>
                <key>frame</key>
                <string>{{624,918},{304,256}}</string>
                <key>offset</key>
                <string>{-3,82}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{357,302},{304,256}}</string>
                <key>sourceSize</key>
                <string>{1024,1024}</string>
            </dict>
            <key>7005151.png</key>
            <dict>
                <key>frame</key>
                <string>{{572,2138},{276,224}}</string>
                <key>offset</key>
                <string>{-1,51}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{373,349},{276,224}}</string>
                <key>sourceSize</key>
                <string>{1024,1024}</string>
            </dict>
            <key>7005152.png</key>
            <dict>
                <key>frame</key>
                <string>{{1762,1564},{282,222}}</string>
                <key>offset</key>
                <string>{0,52}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{371,349},{282,222}}</string>
                <key>sourceSize</key>
                <string>{1024,1024}</string>
            </dict>
            <key>7005153.png</key>
            <dict>
                <key>frame</key>
                <string>{{890,1670},{280,226}}</string>
                <key>offset</key>
                <string>{0,49}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{372,350},{280,226}}</string>
                <key>sourceSize</key>
                <string>{1024,1024}</string>
            </dict>
            <key>7005211.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,1626},{284,296}}</string>
                <key>offset</key>
                <string>{3,83}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{373,281},{284,296}}</string>
                <key>sourceSize</key>
                <string>{1024,1024}</string>
            </dict>
            <key>7005212.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,1098},{278,302}}</string>
                <key>offset</key>
                <string>{3,75}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{376,286},{278,302}}</string>
                <key>sourceSize</key>
                <string>{1024,1024}</string>
            </dict>
            <key>7005213.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,818},{280,316}}</string>
                <key>offset</key>
                <string>{-2,78}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{370,276},{280,316}}</string>
                <key>sourceSize</key>
                <string>{1024,1024}</string>
            </dict>
            <key>7005214.png</key>
            <dict>
                <key>frame</key>
                <string>{{662,642},{276,312}}</string>
                <key>offset</key>
                <string>{-12,76}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{362,280},{276,312}}</string>
                <key>sourceSize</key>
                <string>{1024,1024}</string>
            </dict>
            <key>7005215.png</key>
            <dict>
                <key>frame</key>
                <string>{{1754,268},{276,294}}</string>
                <key>offset</key>
                <string>{-3,77}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{371,288},{276,294}}</string>
                <key>sourceSize</key>
                <string>{1024,1024}</string>
            </dict>
            <key>7005221.png</key>
            <dict>
                <key>frame</key>
                <string>{{694,422},{220,330}}</string>
                <key>offset</key>
                <string>{-50,98}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{352,249},{220,330}}</string>
                <key>sourceSize</key>
                <string>{1024,1024}</string>
            </dict>
            <key>7005222.png</key>
            <dict>
                <key>frame</key>
                <string>{{352,390},{214,342}}</string>
                <key>offset</key>
                <string>{-54,96}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{351,245},{214,342}}</string>
                <key>sourceSize</key>
                <string>{1024,1024}</string>
            </dict>
            <key>7005223.png</key>
            <dict>
                <key>frame</key>
                <string>{{1072,0},{224,346}}</string>
                <key>offset</key>
                <string>{-43,100}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{357,239},{224,346}}</string>
                <key>sourceSize</key>
                <string>{1024,1024}</string>
            </dict>
            <key>7005224.png</key>
            <dict>
                <key>frame</key>
                <string>{{714,200},{222,342}}</string>
                <key>offset</key>
                <string>{-37,99}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{364,242},{222,342}}</string>
                <key>sourceSize</key>
                <string>{1024,1024}</string>
            </dict>
            <key>7005225.png</key>
            <dict>
                <key>frame</key>
                <string>{{1056,224},{208,334}}</string>
                <key>offset</key>
                <string>{-46,100}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{362,245},{208,334}}</string>
                <key>sourceSize</key>
                <string>{1024,1024}</string>
            </dict>
            <key>7005231.png</key>
            <dict>
                <key>frame</key>
                <string>{{298,1574},{222,298}}</string>
                <key>offset</key>
                <string>{5,118}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{406,245},{222,298}}</string>
                <key>sourceSize</key>
                <string>{1024,1024}</string>
            </dict>
            <key>7005232.png</key>
            <dict>
                <key>frame</key>
                <string>{{620,1174},{230,300}}</string>
                <key>offset</key>
                <string>{11,118}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{408,244},{230,300}}</string>
                <key>sourceSize</key>
                <string>{1024,1024}</string>
            </dict>
            <key>7005233.png</key>
            <dict>
                <key>frame</key>
                <string>{{1578,1298},{244,292}}</string>
                <key>offset</key>
                <string>{19,119}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{409,247},{244,292}}</string>
                <key>sourceSize</key>
                <string>{1024,1024}</string>
            </dict>
            <key>7005234.png</key>
            <dict>
                <key>frame</key>
                <string>{{1194,1418},{248,284}}</string>
                <key>offset</key>
                <string>{21,118}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{409,252},{248,284}}</string>
                <key>sourceSize</key>
                <string>{1024,1024}</string>
            </dict>
            <key>7005235.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,1910},{230,294}}</string>
                <key>offset</key>
                <string>{14,122}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{411,243},{230,294}}</string>
                <key>sourceSize</key>
                <string>{1024,1024}</string>
            </dict>
            <key>7005241.png</key>
            <dict>
                <key>frame</key>
                <string>{{278,2276},{274,274}}</string>
                <key>offset</key>
                <string>{-17,94}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{358,281},{274,274}}</string>
                <key>sourceSize</key>
                <string>{1024,1024}</string>
            </dict>
            <key>7005242.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,2364},{274,272}}</string>
                <key>offset</key>
                <string>{-12,93}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{363,283},{274,272}}</string>
                <key>sourceSize</key>
                <string>{1024,1024}</string>
            </dict>
            <key>7005243.png</key>
            <dict>
                <key>frame</key>
                <string>{{1760,0},{286,268}}</string>
                <key>offset</key>
                <string>{-12,87}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{357,291},{286,268}}</string>
                <key>sourceSize</key>
                <string>{1024,1024}</string>
            </dict>
            <key>7005244.png</key>
            <dict>
                <key>frame</key>
                <string>{{596,1626},{294,264}}</string>
                <key>offset</key>
                <string>{-15,81}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{350,299},{294,264}}</string>
                <key>sourceSize</key>
                <string>{1024,1024}</string>
            </dict>
            <key>7005245.png</key>
            <dict>
                <key>frame</key>
                <string>{{1762,1786},{280,276}}</string>
                <key>offset</key>
                <string>{-15,92}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{357,282},{280,276}}</string>
                <key>sourceSize</key>
                <string>{1024,1024}</string>
            </dict>
            <key>7005251.png</key>
            <dict>
                <key>frame</key>
                <string>{{1478,1542},{284,246}}</string>
                <key>offset</key>
                <string>{-3,56}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{367,333},{284,246}}</string>
                <key>sourceSize</key>
                <string>{1024,1024}</string>
            </dict>
            <key>7005252.png</key>
            <dict>
                <key>frame</key>
                <string>{{590,1890},{278,248}}</string>
                <key>offset</key>
                <string>{-3,58}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{370,330},{278,248}}</string>
                <key>sourceSize</key>
                <string>{1024,1024}</string>
            </dict>
            <key>7005253.png</key>
            <dict>
                <key>frame</key>
                <string>{{1476,1788},{280,242}}</string>
                <key>offset</key>
                <string>{1,57}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{373,334},{280,242}}</string>
                <key>sourceSize</key>
                <string>{1024,1024}</string>
            </dict>
            <key>7005254.png</key>
            <dict>
                <key>frame</key>
                <string>{{294,2032},{278,244}}</string>
                <key>offset</key>
                <string>{11,57}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{384,333},{278,244}}</string>
                <key>sourceSize</key>
                <string>{1024,1024}</string>
            </dict>
            <key>7005255.png</key>
            <dict>
                <key>frame</key>
                <string>{{868,1896},{276,244}}</string>
                <key>offset</key>
                <string>{3,57}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{377,333},{276,244}}</string>
                <key>sourceSize</key>
                <string>{1024,1024}</string>
            </dict>
            <key>7005311.png</key>
            <dict>
                <key>frame</key>
                <string>{{1338,610},{306,250}}</string>
                <key>offset</key>
                <string>{2,85}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{361,302},{306,250}}</string>
                <key>sourceSize</key>
                <string>{1024,1024}</string>
            </dict>
            <key>7005312.png</key>
            <dict>
                <key>frame</key>
                <string>{{274,2550},{264,258}}</string>
                <key>offset</key>
                <string>{-13,90}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{367,293},{264,258}}</string>
                <key>sourceSize</key>
                <string>{1024,1024}</string>
            </dict>
            <key>7005313.png</key>
            <dict>
                <key>frame</key>
                <string>{{1630,2286},{234,234}}</string>
                <key>offset</key>
                <string>{41,77}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{436,318},{234,234}}</string>
                <key>sourceSize</key>
                <string>{1024,1024}</string>
            </dict>
            <key>7005314.png</key>
            <dict>
                <key>frame</key>
                <string>{{360,0},{196,358}}</string>
                <key>offset</key>
                <string>{46,30}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{460,303},{196,358}}</string>
                <key>sourceSize</key>
                <string>{1024,1024}</string>
            </dict>
            <key>7005315.png</key>
            <dict>
                <key>frame</key>
                <string>{{1418,206},{196,336}}</string>
                <key>offset</key>
                <string>{40,27}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{454,317},{196,336}}</string>
                <key>sourceSize</key>
                <string>{1024,1024}</string>
            </dict>
            <key>7005321.png</key>
            <dict>
                <key>frame</key>
                <string>{{1416,2030},{262,256}}</string>
                <key>offset</key>
                <string>{-20,112}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{361,272},{262,256}}</string>
                <key>sourceSize</key>
                <string>{1024,1024}</string>
            </dict>
            <key>7005322.png</key>
            <dict>
                <key>frame</key>
                <string>{{552,2362},{212,268}}</string>
                <key>offset</key>
                <string>{-43,119}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{363,259},{212,268}}</string>
                <key>sourceSize</key>
                <string>{1024,1024}</string>
            </dict>
            <key>7005323.png</key>
            <dict>
                <key>frame</key>
                <string>{{1370,2524},{210,198}}</string>
                <key>offset</key>
                <string>{15,83}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{422,330},{210,198}}</string>
                <key>sourceSize</key>
                <string>{1024,1024}</string>
            </dict>
            <key>7005324.png</key>
            <dict>
                <key>frame</key>
                <string>{{1390,402},{208,316}}</string>
                <key>offset</key>
                <string>{38,35}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{446,319},{208,316}}</string>
                <key>sourceSize</key>
                <string>{1024,1024}</string>
            </dict>
            <key>7005325.png</key>
            <dict>
                <key>frame</key>
                <string>{{600,1404},{222,298}}</string>
                <key>offset</key>
                <string>{49,31}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{450,332},{222,298}}</string>
                <key>sourceSize</key>
                <string>{1024,1024}</string>
            </dict>
            <key>7005331.png</key>
            <dict>
                <key>frame</key>
                <string>{{1116,2176},{178,260}}</string>
                <key>offset</key>
                <string>{-25,108}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{398,274},{178,260}}</string>
                <key>sourceSize</key>
                <string>{1024,1024}</string>
            </dict>
            <key>7005332.png</key>
            <dict>
                <key>frame</key>
                <string>{{1870,1298},{178,266}}</string>
                <key>offset</key>
                <string>{-28,110}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{395,269},{178,266}}</string>
                <key>sourceSize</key>
                <string>{1024,1024}</string>
            </dict>
            <key>7005333.png</key>
            <dict>
                <key>frame</key>
                <string>{{1630,2520},{224,214}}</string>
                <key>offset</key>
                <string>{-5,85}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{395,320},{224,214}}</string>
                <key>sourceSize</key>
                <string>{1024,1024}</string>
            </dict>
            <key>7005334.png</key>
            <dict>
                <key>frame</key>
                <string>{{1706,544},{314,260}}</string>
                <key>offset</key>
                <string>{85,102}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{440,280},{314,260}}</string>
                <key>sourceSize</key>
                <string>{1024,1024}</string>
            </dict>
            <key>7005335.png</key>
            <dict>
                <key>frame</key>
                <string>{{342,604},{320,252}}</string>
                <key>offset</key>
                <string>{85,98}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{437,288},{320,252}}</string>
                <key>sourceSize</key>
                <string>{1024,1024}</string>
            </dict>
            <key>7005341.png</key>
            <dict>
                <key>frame</key>
                <string>{{1678,2062},{258,224}}</string>
                <key>offset</key>
                <string>{-20,79}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{363,321},{258,224}}</string>
                <key>sourceSize</key>
                <string>{1024,1024}</string>
            </dict>
            <key>7005342.png</key>
            <dict>
                <key>frame</key>
                <string>{{1376,2286},{254,238}}</string>
                <key>offset</key>
                <string>{-18,86}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{367,307},{254,238}}</string>
                <key>sourceSize</key>
                <string>{1024,1024}</string>
            </dict>
            <key>7005343.png</key>
            <dict>
                <key>frame</key>
                <string>{{820,2396},{182,250}}</string>
                <key>offset</key>
                <string>{-27,92}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{394,295},{182,250}}</string>
                <key>sourceSize</key>
                <string>{1024,1024}</string>
            </dict>
            <key>7005344.png</key>
            <dict>
                <key>frame</key>
                <string>{{302,1304},{298,270}}</string>
                <key>offset</key>
                <string>{51,102}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{414,275},{298,270}}</string>
                <key>sourceSize</key>
                <string>{1024,1024}</string>
            </dict>
            <key>7005345.png</key>
            <dict>
                <key>frame</key>
                <string>{{1194,1666},{282,276}}</string>
                <key>offset</key>
                <string>{62,105}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{433,269},{282,276}}</string>
                <key>sourceSize</key>
                <string>{1024,1024}</string>
            </dict>
            <key>7005351.png</key>
            <dict>
                <key>frame</key>
                <string>{{1644,804},{306,214}}</string>
                <key>offset</key>
                <string>{-3,77}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{356,328},{306,214}}</string>
                <key>sourceSize</key>
                <string>{1024,1024}</string>
            </dict>
            <key>7005352.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,2636},{264,242}}</string>
                <key>offset</key>
                <string>{12,70}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{392,321},{264,242}}</string>
                <key>sourceSize</key>
                <string>{1024,1024}</string>
            </dict>
            <key>7005353.png</key>
            <dict>
                <key>frame</key>
                <string>{{1144,1942},{234,272}}</string>
                <key>offset</key>
                <string>{-41,91}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{354,285},{234,272}}</string>
                <key>sourceSize</key>
                <string>{1024,1024}</string>
            </dict>
            <key>7005354.png</key>
            <dict>
                <key>frame</key>
                <string>{{538,2574},{196,248}}</string>
                <key>offset</key>
                <string>{-46,77}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{368,311},{196,248}}</string>
                <key>sourceSize</key>
                <string>{1024,1024}</string>
            </dict>
            <key>7005355.png</key>
            <dict>
                <key>frame</key>
                <string>{{1116,2354},{196,254}}</string>
                <key>offset</key>
                <string>{-41,91}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{373,294},{196,254}}</string>
                <key>sourceSize</key>
                <string>{1024,1024}</string>
            </dict>
            <key>7005511.png</key>
            <dict>
                <key>frame</key>
                <string>{{848,2140},{256,268}}</string>
                <key>offset</key>
                <string>{-10,64}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{374,314},{256,268}}</string>
                <key>sourceSize</key>
                <string>{1024,1024}</string>
            </dict>
            <key>7005512.png</key>
            <dict>
                <key>frame</key>
                <string>{{1418,0},{342,206}}</string>
                <key>offset</key>
                <string>{33,-40}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{374,449},{342,206}}</string>
                <key>sourceSize</key>
                <string>{1024,1024}</string>
            </dict>
            <key>7005521.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,614},{204,318}}</string>
                <key>offset</key>
                <string>{-7,63}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{403,290},{204,318}}</string>
                <key>sourceSize</key>
                <string>{1024,1024}</string>
            </dict>
            <key>7005522.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{360,208}}</string>
                <key>offset</key>
                <string>{70,-28}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{402,436},{360,208}}</string>
                <key>sourceSize</key>
                <string>{1024,1024}</string>
            </dict>
            <key>7005531.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,2140},{224,278}}</string>
                <key>offset</key>
                <string>{24,71}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{424,302},{224,278}}</string>
                <key>sourceSize</key>
                <string>{1024,1024}</string>
            </dict>
            <key>7005532.png</key>
            <dict>
                <key>frame</key>
                <string>{{1024,432},{314,232}}</string>
                <key>offset</key>
                <string>{68,32}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{423,364},{314,232}}</string>
                <key>sourceSize</key>
                <string>{1024,1024}</string>
            </dict>
            <key>7005541.png</key>
            <dict>
                <key>frame</key>
                <string>{{974,892},{304,270}}</string>
                <key>offset</key>
                <string>{24,69}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{384,308},{304,270}}</string>
                <key>sourceSize</key>
                <string>{1024,1024}</string>
            </dict>
            <key>7005542.png</key>
            <dict>
                <key>frame</key>
                <string>{{296,1796},{294,236}}</string>
                <key>offset</key>
                <string>{56,52}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{421,342},{294,236}}</string>
                <key>sourceSize</key>
                <string>{1024,1024}</string>
            </dict>
            <key>7005551.png</key>
            <dict>
                <key>frame</key>
                <string>{{898,1414},{256,296}}</string>
                <key>offset</key>
                <string>{9,94}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{393,270},{256,296}}</string>
                <key>sourceSize</key>
                <string>{1024,1024}</string>
            </dict>
            <key>7005552.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,408},{342,206}}</string>
                <key>offset</key>
                <string>{-33,51}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{308,358},{342,206}}</string>
                <key>sourceSize</key>
                <string>{1024,1024}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>7005.pvr.ccz</string>
            <key>size</key>
            <string>{2048,4096}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:798366a27c78a12f6661a8e99ac98a44:1/1$</string>
            <key>textureFileName</key>
            <string>7005.pvr.ccz</string>
        </dict>
    </dict>
</plist>
