<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>6031111.png</key>
            <dict>
                <key>frame</key>
                <string>{{262,638},{98,128}}</string>
                <key>offset</key>
                <string>{0,47}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{207,145},{98,128}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6031112.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,592},{94,130}}</string>
                <key>offset</key>
                <string>{0,48}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{209,143},{94,130}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6031113.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,498},{94,132}}</string>
                <key>offset</key>
                <string>{1,49}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{210,141},{94,132}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6031121.png</key>
            <dict>
                <key>frame</key>
                <string>{{262,558},{80,130}}</string>
                <key>offset</key>
                <string>{-4,49}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{212,142},{80,130}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6031122.png</key>
            <dict>
                <key>frame</key>
                <string>{{404,488},{80,132}}</string>
                <key>offset</key>
                <string>{-4,50}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{212,140},{80,132}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6031123.png</key>
            <dict>
                <key>frame</key>
                <string>{{276,318},{80,134}}</string>
                <key>offset</key>
                <string>{-4,51}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{212,138},{80,134}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6031131.png</key>
            <dict>
                <key>frame</key>
                <string>{{956,418},{68,128}}</string>
                <key>offset</key>
                <string>{-2,45}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{220,147},{68,128}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6031132.png</key>
            <dict>
                <key>frame</key>
                <string>{{958,286},{66,132}}</string>
                <key>offset</key>
                <string>{0,47}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{223,143},{66,132}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6031133.png</key>
            <dict>
                <key>frame</key>
                <string>{{266,494},{64,132}}</string>
                <key>offset</key>
                <string>{-2,47}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{222,143},{64,132}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6031141.png</key>
            <dict>
                <key>frame</key>
                <string>{{276,900},{82,124}}</string>
                <key>offset</key>
                <string>{-5,46}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{210,148},{82,124}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6031142.png</key>
            <dict>
                <key>frame</key>
                <string>{{768,786},{76,126}}</string>
                <key>offset</key>
                <string>{-4,47}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{214,146},{76,126}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6031143.png</key>
            <dict>
                <key>frame</key>
                <string>{{432,900},{74,124}}</string>
                <key>offset</key>
                <string>{-6,46}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{213,148},{74,124}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6031151.png</key>
            <dict>
                <key>frame</key>
                <string>{{390,666},{98,126}}</string>
                <key>offset</key>
                <string>{0,48}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{207,145},{98,126}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6031152.png</key>
            <dict>
                <key>frame</key>
                <string>{{930,546},{94,126}}</string>
                <key>offset</key>
                <string>{-1,48}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{208,145},{94,126}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6031153.png</key>
            <dict>
                <key>frame</key>
                <string>{{94,900},{94,124}}</string>
                <key>offset</key>
                <string>{-2,47}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{207,147},{94,124}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6031211.png</key>
            <dict>
                <key>frame</key>
                <string>{{426,210},{96,134}}</string>
                <key>offset</key>
                <string>{-2,31}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{206,158},{96,134}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6031212.png</key>
            <dict>
                <key>frame</key>
                <string>{{392,568},{98,128}}</string>
                <key>offset</key>
                <string>{0,40}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{207,152},{98,128}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6031213.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,900},{94,124}}</string>
                <key>offset</key>
                <string>{0,40}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{209,154},{94,124}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6031214.png</key>
            <dict>
                <key>frame</key>
                <string>{{134,434},{96,132}}</string>
                <key>offset</key>
                <string>{-1,36}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{207,154},{96,132}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6031215.png</key>
            <dict>
                <key>frame</key>
                <string>{{246,800},{98,122}}</string>
                <key>offset</key>
                <string>{-1,41}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{206,154},{98,122}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6031221.png</key>
            <dict>
                <key>frame</key>
                <string>{{642,730},{86,126}}</string>
                <key>offset</key>
                <string>{10,43}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{223,150},{86,126}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6031222.png</key>
            <dict>
                <key>frame</key>
                <string>{{358,900},{74,124}}</string>
                <key>offset</key>
                <string>{9,48}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{228,146},{74,124}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6031223.png</key>
            <dict>
                <key>frame</key>
                <string>{{694,254},{104,132}}</string>
                <key>offset</key>
                <string>{9,41}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{213,149},{104,132}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6031224.png</key>
            <dict>
                <key>frame</key>
                <string>{{138,258},{98,138}}</string>
                <key>offset</key>
                <string>{8,38}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{215,149},{98,138}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6031225.png</key>
            <dict>
                <key>frame</key>
                <string>{{674,446},{66,130}}</string>
                <key>offset</key>
                <string>{8,43}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{231,148},{66,130}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6031231.png</key>
            <dict>
                <key>frame</key>
                <string>{{824,376},{86,132}}</string>
                <key>offset</key>
                <string>{13,48}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{226,142},{86,132}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6031232.png</key>
            <dict>
                <key>frame</key>
                <string>{{742,0},{76,138}}</string>
                <key>offset</key>
                <string>{14,50}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{232,137},{76,138}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6031233.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,686},{80,128}}</string>
                <key>offset</key>
                <string>{15,51}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{231,141},{80,128}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6031234.png</key>
            <dict>
                <key>frame</key>
                <string>{{826,286},{90,132}}</string>
                <key>offset</key>
                <string>{8,48}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{219,142},{90,132}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6031235.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,422},{76,134}}</string>
                <key>offset</key>
                <string>{15,49}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{233,140},{76,134}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6031241.png</key>
            <dict>
                <key>frame</key>
                <string>{{880,0},{104,136}}</string>
                <key>offset</key>
                <string>{9,51}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{213,137},{104,136}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6031242.png</key>
            <dict>
                <key>frame</key>
                <string>{{734,174},{80,136}}</string>
                <key>offset</key>
                <string>{8,55}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{224,133},{80,136}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6031243.png</key>
            <dict>
                <key>frame</key>
                <string>{{122,816},{84,124}}</string>
                <key>offset</key>
                <string>{13,57}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{227,137},{84,124}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6031244.png</key>
            <dict>
                <key>frame</key>
                <string>{{506,900},{88,122}}</string>
                <key>offset</key>
                <string>{4,57}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{216,138},{88,122}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6031245.png</key>
            <dict>
                <key>frame</key>
                <string>{{560,228},{88,134}}</string>
                <key>offset</key>
                <string>{9,55}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{221,134},{88,134}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6031251.png</key>
            <dict>
                <key>frame</key>
                <string>{{598,132},{96,136}}</string>
                <key>offset</key>
                <string>{1,55}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{209,133},{96,136}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6031252.png</key>
            <dict>
                <key>frame</key>
                <string>{{520,606},{98,126}}</string>
                <key>offset</key>
                <string>{-1,61}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{206,132},{98,126}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6031253.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,328},{94,138}}</string>
                <key>offset</key>
                <string>{-1,54}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{208,133},{94,138}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6031254.png</key>
            <dict>
                <key>frame</key>
                <string>{{870,190},{96,134}}</string>
                <key>offset</key>
                <string>{0,55}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{208,134},{96,134}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6031255.png</key>
            <dict>
                <key>frame</key>
                <string>{{410,390},{98,132}}</string>
                <key>offset</key>
                <string>{1,58}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{208,132},{98,132}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6031311.png</key>
            <dict>
                <key>frame</key>
                <string>{{664,512},{126,122}}</string>
                <key>offset</key>
                <string>{0,44}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{193,151},{126,122}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6031312.png</key>
            <dict>
                <key>frame</key>
                <string>{{742,76},{98,136}}</string>
                <key>offset</key>
                <string>{0,51}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{207,137},{98,136}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6031313.png</key>
            <dict>
                <key>frame</key>
                <string>{{516,704},{96,126}}</string>
                <key>offset</key>
                <string>{-1,46}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{207,147},{96,126}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6031314.png</key>
            <dict>
                <key>frame</key>
                <string>{{272,398},{132,96}}</string>
                <key>offset</key>
                <string>{1,31}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{191,177},{132,96}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6031315.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,102},{150,108}}</string>
                <key>offset</key>
                <string>{1,37}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{182,165},{150,108}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6031321.png</key>
            <dict>
                <key>frame</key>
                <string>{{536,502},{104,128}}</string>
                <key>offset</key>
                <string>{-2,45}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{202,147},{104,128}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6031322.png</key>
            <dict>
                <key>frame</key>
                <string>{{312,116},{88,140}}</string>
                <key>offset</key>
                <string>{3,51}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{215,135},{88,140}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6031323.png</key>
            <dict>
                <key>frame</key>
                <string>{{692,358},{88,132}}</string>
                <key>offset</key>
                <string>{9,47}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{221,143},{88,132}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6031324.png</key>
            <dict>
                <key>frame</key>
                <string>{{696,900},{110,102}}</string>
                <key>offset</key>
                <string>{2,32}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{203,173},{110,102}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6031325.png</key>
            <dict>
                <key>frame</key>
                <string>{{894,788},{124,112}}</string>
                <key>offset</key>
                <string>{-3,37}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{191,163},{124,112}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6031331.png</key>
            <dict>
                <key>frame</key>
                <string>{{138,356},{78,134}}</string>
                <key>offset</key>
                <string>{1,42}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{218,147},{78,134}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6031332.png</key>
            <dict>
                <key>frame</key>
                <string>{{878,104},{86,136}}</string>
                <key>offset</key>
                <string>{-9,43}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{204,145},{86,136}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6031333.png</key>
            <dict>
                <key>frame</key>
                <string>{{426,306},{84,134}}</string>
                <key>offset</key>
                <string>{5,42}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{219,147},{84,134}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6031334.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,800},{100,122}}</string>
                <key>offset</key>
                <string>{23,36}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{229,159},{100,122}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6031335.png</key>
            <dict>
                <key>frame</key>
                <string>{{188,900},{88,124}}</string>
                <key>offset</key>
                <string>{13,37}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{225,157},{88,124}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6031341.png</key>
            <dict>
                <key>frame</key>
                <string>{{130,642},{94,128}}</string>
                <key>offset</key>
                <string>{-3,43}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{206,149},{94,128}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6031342.png</key>
            <dict>
                <key>frame</key>
                <string>{{772,694},{92,126}}</string>
                <key>offset</key>
                <string>{3,42}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{213,151},{92,126}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6031343.png</key>
            <dict>
                <key>frame</key>
                <string>{{542,418},{84,132}}</string>
                <key>offset</key>
                <string>{13,45}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{227,145},{84,132}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6031344.png</key>
            <dict>
                <key>frame</key>
                <string>{{560,316},{102,132}}</string>
                <key>offset</key>
                <string>{4,45}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{209,145},{102,132}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6031345.png</key>
            <dict>
                <key>frame</key>
                <string>{{132,530},{112,130}}</string>
                <key>offset</key>
                <string>{-6,44}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{194,147},{112,130}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6031351.png</key>
            <dict>
                <key>frame</key>
                <string>{{804,462},{126,124}}</string>
                <key>offset</key>
                <string>{-1,47}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{192,147},{126,124}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6031352.png</key>
            <dict>
                <key>frame</key>
                <string>{{368,800},{98,118}}</string>
                <key>offset</key>
                <string>{0,44}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{207,153},{98,118}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6031353.png</key>
            <dict>
                <key>frame</key>
                <string>{{646,634},{96,126}}</string>
                <key>offset</key>
                <string>{1,48}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{209,145},{96,126}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6031354.png</key>
            <dict>
                <key>frame</key>
                <string>{{602,0},{132,140}}</string>
                <key>offset</key>
                <string>{-1,55}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{189,131},{132,140}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6031355.png</key>
            <dict>
                <key>frame</key>
                <string>{{162,0},{150,134}}</string>
                <key>offset</key>
                <string>{-2,52}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{179,137},{150,134}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6031511.png</key>
            <dict>
                <key>frame</key>
                <string>{{312,0},{116,146}}</string>
                <key>offset</key>
                <string>{-3,62}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{195,121},{116,146}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6031512.png</key>
            <dict>
                <key>frame</key>
                <string>{{150,134},{138,124}}</string>
                <key>offset</key>
                <string>{2,68}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{189,126},{138,124}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6031521.png</key>
            <dict>
                <key>frame</key>
                <string>{{288,204},{114,138}}</string>
                <key>offset</key>
                <string>{-14,56}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{185,131},{114,138}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6031522.png</key>
            <dict>
                <key>frame</key>
                <string>{{458,0},{144,106}}</string>
                <key>offset</key>
                <string>{-38,46}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{146,157},{144,106}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6031531.png</key>
            <dict>
                <key>frame</key>
                <string>{{790,586},{108,126}}</string>
                <key>offset</key>
                <string>{-30,40}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{172,153},{108,126}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6031532.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{162,102}}</string>
                <key>offset</key>
                <string>{-66,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{109,196},{162,102}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6031541.png</key>
            <dict>
                <key>frame</key>
                <string>{{594,900},{102,112}}</string>
                <key>offset</key>
                <string>{-13,29}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{192,171},{102,112}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6031542.png</key>
            <dict>
                <key>frame</key>
                <string>{{458,106},{140,104}}</string>
                <key>offset</key>
                <string>{-41,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{145,214},{140,104}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6031551.png</key>
            <dict>
                <key>frame</key>
                <string>{{916,672},{116,104}}</string>
                <key>offset</key>
                <string>{2,29}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{200,175},{116,104}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6031552.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,210},{138,118}}</string>
                <key>offset</key>
                <string>{-3,-27}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{184,224},{138,118}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>6031.pvr.ccz</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:ba6a2987aea283584244ed97a54a9405:1/1$</string>
            <key>textureFileName</key>
            <string>6031.pvr.ccz</string>
        </dict>
    </dict>
</plist>
