<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>6526111.png</key>
            <dict>
                <key>frame</key>
                <string>{{358,418},{174,162}}</string>
                <key>offset</key>
                <string>{31,50}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{200,125},{174,162}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6526112.png</key>
            <dict>
                <key>frame</key>
                <string>{{766,0},{178,164}}</string>
                <key>offset</key>
                <string>{29,51}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{196,123},{178,164}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6526113.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,398},{176,162}}</string>
                <key>offset</key>
                <string>{29,50}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{197,125},{176,162}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6526121.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,116},{188,128}}</string>
                <key>offset</key>
                <string>{4,50}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{166,142},{188,128}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6526122.png</key>
            <dict>
                <key>frame</key>
                <string>{{204,0},{198,128}}</string>
                <key>offset</key>
                <string>{3,50}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{160,142},{198,128}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6526123.png</key>
            <dict>
                <key>frame</key>
                <string>{{586,0},{180,128}}</string>
                <key>offset</key>
                <string>{2,50}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{168,142},{180,128}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6526131.png</key>
            <dict>
                <key>frame</key>
                <string>{{872,474},{152,158}}</string>
                <key>offset</key>
                <string>{-16,59}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{164,118},{152,158}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6526132.png</key>
            <dict>
                <key>frame</key>
                <string>{{166,886},{156,160}}</string>
                <key>offset</key>
                <string>{-13,60}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{165,116},{156,160}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6526133.png</key>
            <dict>
                <key>frame</key>
                <string>{{870,632},{158,154}}</string>
                <key>offset</key>
                <string>{-15,57}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{162,122},{158,154}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6526141.png</key>
            <dict>
                <key>frame</key>
                <string>{{318,1124},{112,152}}</string>
                <key>offset</key>
                <string>{-21,51}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{179,129},{112,152}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6526142.png</key>
            <dict>
                <key>frame</key>
                <string>{{828,1040},{112,156}}</string>
                <key>offset</key>
                <string>{-21,53}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{179,125},{112,156}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6526143.png</key>
            <dict>
                <key>frame</key>
                <string>{{306,1236},{114,148}}</string>
                <key>offset</key>
                <string>{-21,49}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{178,133},{114,148}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6526151.png</key>
            <dict>
                <key>frame</key>
                <string>{{176,430},{174,140}}</string>
                <key>offset</key>
                <string>{-31,51}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{138,135},{174,140}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6526152.png</key>
            <dict>
                <key>frame</key>
                <string>{{180,288},{178,142}}</string>
                <key>offset</key>
                <string>{-30,49}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{137,136},{178,142}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6526153.png</key>
            <dict>
                <key>frame</key>
                <string>{{548,292},{176,140}}</string>
                <key>offset</key>
                <string>{-29,50}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{139,136},{176,140}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6526211.png</key>
            <dict>
                <key>frame</key>
                <string>{{136,1570},{134,132}}</string>
                <key>offset</key>
                <string>{-11,52}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{178,138},{134,132}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6526212.png</key>
            <dict>
                <key>frame</key>
                <string>{{296,1350},{142,118}}</string>
                <key>offset</key>
                <string>{-10,53}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{175,144},{142,118}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6526213.png</key>
            <dict>
                <key>frame</key>
                <string>{{762,1400},{134,124}}</string>
                <key>offset</key>
                <string>{0,52}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{189,142},{134,124}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6526214.png</key>
            <dict>
                <key>frame</key>
                <string>{{454,1340},{142,130}}</string>
                <key>offset</key>
                <string>{9,48}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{194,143},{142,130}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6526215.png</key>
            <dict>
                <key>frame</key>
                <string>{{146,1450},{140,120}}</string>
                <key>offset</key>
                <string>{5,52}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{191,144},{140,120}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6526221.png</key>
            <dict>
                <key>frame</key>
                <string>{{728,1524},{130,126}}</string>
                <key>offset</key>
                <string>{-29,58}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{162,135},{130,126}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6526222.png</key>
            <dict>
                <key>frame</key>
                <string>{{596,1456},{132,120}}</string>
                <key>offset</key>
                <string>{-26,61}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{164,135},{132,120}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6526223.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,1504},{136,136}}</string>
                <key>offset</key>
                <string>{-17,56}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{171,132},{136,136}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6526224.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,1372},{146,132}}</string>
                <key>offset</key>
                <string>{-21,46}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{162,144},{146,132}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6526225.png</key>
            <dict>
                <key>frame</key>
                <string>{{618,1328},{144,128}}</string>
                <key>offset</key>
                <string>{-27,50}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{157,142},{144,128}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6526231.png</key>
            <dict>
                <key>frame</key>
                <string>{{422,1584},{116,124}}</string>
                <key>offset</key>
                <string>{-15,51}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{183,143},{116,124}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6526232.png</key>
            <dict>
                <key>frame</key>
                <string>{{858,1644},{116,128}}</string>
                <key>offset</key>
                <string>{-28,49}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{170,143},{116,128}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6526233.png</key>
            <dict>
                <key>frame</key>
                <string>{{858,1532},{112,130}}</string>
                <key>offset</key>
                <string>{-24,56}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{176,135},{112,130}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6526234.png</key>
            <dict>
                <key>frame</key>
                <string>{{548,1576},{120,124}}</string>
                <key>offset</key>
                <string>{-18,49}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{178,145},{120,124}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6526235.png</key>
            <dict>
                <key>frame</key>
                <string>{{422,1470},{114,126}}</string>
                <key>offset</key>
                <string>{-25,49}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{174,144},{114,126}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6526241.png</key>
            <dict>
                <key>frame</key>
                <string>{{150,1312},{138,146}}</string>
                <key>offset</key>
                <string>{-15,38}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{172,145},{138,146}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6526242.png</key>
            <dict>
                <key>frame</key>
                <string>{{784,1268},{144,132}}</string>
                <key>offset</key>
                <string>{-29,42}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{155,148},{144,132}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6526243.png</key>
            <dict>
                <key>frame</key>
                <string>{{286,1468},{136,134}}</string>
                <key>offset</key>
                <string>{-32,44}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{156,145},{136,134}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6526244.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,1640},{134,128}}</string>
                <key>offset</key>
                <string>{-31,41}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{158,151},{134,128}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6526245.png</key>
            <dict>
                <key>frame</key>
                <string>{{896,1400},{132,128}}</string>
                <key>offset</key>
                <string>{-26,42}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{164,150},{132,128}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6526251.png</key>
            <dict>
                <key>frame</key>
                <string>{{326,990},{134,158}}</string>
                <key>offset</key>
                <string>{12,34}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{201,143},{134,158}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6526252.png</key>
            <dict>
                <key>frame</key>
                <string>{{636,1184},{144,148}}</string>
                <key>offset</key>
                <string>{11,34}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{195,148},{144,148}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6526253.png</key>
            <dict>
                <key>frame</key>
                <string>{{484,1088},{134,152}}</string>
                <key>offset</key>
                <string>{1,37}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{190,143},{134,152}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6526254.png</key>
            <dict>
                <key>frame</key>
                <string>{{156,1170},{142,150}}</string>
                <key>offset</key>
                <string>{-8,33}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{177,148},{142,150}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6526255.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,1232},{140,150}}</string>
                <key>offset</key>
                <string>{-3,36}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{183,145},{140,150}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6526311.png</key>
            <dict>
                <key>frame</key>
                <string>{{172,570},{170,168}}</string>
                <key>offset</key>
                <string>{25,53}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{196,119},{170,168}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6526312.png</key>
            <dict>
                <key>frame</key>
                <string>{{402,0},{168,184}}</string>
                <key>offset</key>
                <string>{36,61}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{208,103},{168,184}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6526313.png</key>
            <dict>
                <key>frame</key>
                <string>{{188,128},{160,182}}</string>
                <key>offset</key>
                <string>{33,60}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{209,105},{160,182}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6526314.png</key>
            <dict>
                <key>frame</key>
                <string>{{764,164},{176,156}}</string>
                <key>offset</key>
                <string>{42,47}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{210,131},{176,156}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6526315.png</key>
            <dict>
                <key>frame</key>
                <string>{{508,686},{118,166}}</string>
                <key>offset</key>
                <string>{-17,52}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{180,121},{118,166}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6526321.png</key>
            <dict>
                <key>frame</key>
                <string>{{170,738},{166,148}}</string>
                <key>offset</key>
                <string>{0,61}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{173,121},{166,148}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6526322.png</key>
            <dict>
                <key>frame</key>
                <string>{{670,894},{156,158}}</string>
                <key>offset</key>
                <string>{-2,66}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{176,111},{156,158}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6526323.png</key>
            <dict>
                <key>frame</key>
                <string>{{532,432},{134,170}}</string>
                <key>offset</key>
                <string>{11,72}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{200,99},{134,170}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6526324.png</key>
            <dict>
                <key>frame</key>
                <string>{{702,578},{168,166}}</string>
                <key>offset</key>
                <string>{22,70}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{194,103},{168,166}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6526325.png</key>
            <dict>
                <key>frame</key>
                <string>{{828,898},{142,156}}</string>
                <key>offset</key>
                <string>{6,65}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{191,113},{142,156}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6526331.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,244},{154,180}}</string>
                <key>offset</key>
                <string>{-11,70}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{168,96},{154,180}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6526332.png</key>
            <dict>
                <key>frame</key>
                <string>{{586,128},{164,178}}</string>
                <key>offset</key>
                <string>{-24,73}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{150,94},{164,178}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6526333.png</key>
            <dict>
                <key>frame</key>
                <string>{{342,682},{150,166}}</string>
                <key>offset</key>
                <string>{-26,68}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{155,105},{150,166}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6526334.png</key>
            <dict>
                <key>frame</key>
                <string>{{160,1042},{128,158}}</string>
                <key>offset</key>
                <string>{-4,64}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{188,113},{128,158}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6526335.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,1088},{144,156}}</string>
                <key>offset</key>
                <string>{16,61}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{200,117},{144,156}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6526341.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,844},{126,166}}</string>
                <key>offset</key>
                <string>{-10,59}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{183,114},{126,166}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6526342.png</key>
            <dict>
                <key>frame</key>
                <string>{{674,744},{150,162}}</string>
                <key>offset</key>
                <string>{-19,53}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{162,122},{150,162}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6526343.png</key>
            <dict>
                <key>frame</key>
                <string>{{336,832},{160,158}}</string>
                <key>offset</key>
                <string>{-34,48}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{142,129},{160,158}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6526344.png</key>
            <dict>
                <key>frame</key>
                <string>{{496,938},{150,158}}</string>
                <key>offset</key>
                <string>{-48,49}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{133,128},{150,158}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6526345.png</key>
            <dict>
                <key>frame</key>
                <string>{{654,1050},{134,152}}</string>
                <key>offset</key>
                <string>{0,46}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{189,134},{134,152}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6526351.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,560},{172,138}}</string>
                <key>offset</key>
                <string>{-26,50}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{144,137},{172,138}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6526352.png</key>
            <dict>
                <key>frame</key>
                <string>{{724,320},{170,136}}</string>
                <key>offset</key>
                <string>{-36,44}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{135,144},{170,136}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6526353.png</key>
            <dict>
                <key>frame</key>
                <string>{{508,804},{162,134}}</string>
                <key>offset</key>
                <string>{-34,35}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{141,154},{162,134}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6526354.png</key>
            <dict>
                <key>frame</key>
                <string>{{370,168},{178,150}}</string>
                <key>offset</key>
                <string>{-42,44}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{125,137},{178,150}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6526355.png</key>
            <dict>
                <key>frame</key>
                <string>{{470,1222},{118,148}}</string>
                <key>offset</key>
                <string>{16,46}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{213,136},{118,148}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6526511.png</key>
            <dict>
                <key>frame</key>
                <string>{{702,456},{170,122}}</string>
                <key>offset</key>
                <string>{16,30}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{187,165},{170,122}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6526512.png</key>
            <dict>
                <key>frame</key>
                <string>{{836,790},{160,108}}</string>
                <key>offset</key>
                <string>{5,-43}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{181,245},{160,108}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6526521.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{204,116}}</string>
                <key>offset</key>
                <string>{28,44}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{182,154},{204,116}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6526522.png</key>
            <dict>
                <key>frame</key>
                <string>{{358,318},{176,100}}</string>
                <key>offset</key>
                <string>{48,-31}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{216,237},{176,100}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6526531.png</key>
            <dict>
                <key>frame</key>
                <string>{{894,320},{130,154}}</string>
                <key>offset</key>
                <string>{30,64}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{221,115},{130,154}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6526532.png</key>
            <dict>
                <key>frame</key>
                <string>{{342,580},{168,102}}</string>
                <key>offset</key>
                <string>{70,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{242,201},{168,102}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6526541.png</key>
            <dict>
                <key>frame</key>
                <string>{{532,566},{120,170}}</string>
                <key>offset</key>
                <string>{15,73}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{211,98},{120,170}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6526542.png</key>
            <dict>
                <key>frame</key>
                <string>{{806,1152},{150,116}}</string>
                <key>offset</key>
                <string>{56,34}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{237,164},{150,116}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6526551.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,698},{170,146}}</string>
                <key>offset</key>
                <string>{-16,69}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{155,114},{170,146}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6526552.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,970},{160,118}}</string>
                <key>offset</key>
                <string>{-5,51}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{171,146},{160,118}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>6526.pvr.ccz</string>
            <key>size</key>
            <string>{1024,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:891d119598fa30ed773a4f8903ea8d19:1/1$</string>
            <key>textureFileName</key>
            <string>6526.pvr.ccz</string>
        </dict>
    </dict>
</plist>
