<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>7534111.png</key>
            <dict>
                <key>frame</key>
                <string>{{86,108},{84,108}}</string>
                <key>offset</key>
                <string>{2,49}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{216,153},{84,108}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>7534112.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,108},{86,108}}</string>
                <key>offset</key>
                <string>{2,49}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{215,153},{86,108}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>7534113.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{96,108}}</string>
                <key>offset</key>
                <string>{7,49}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{215,153},{96,108}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>7534.pvr.ccz</string>
            <key>size</key>
            <string>{256,256}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:b7f2699f5b0cdfd2b323b0b793b36d2f:1/1$</string>
            <key>textureFileName</key>
            <string>7534.pvr.ccz</string>
        </dict>
    </dict>
</plist>
