<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>9204111.png</key>
            <dict>
                <key>frame</key>
                <string>{{622,1682},{104,186}}</string>
                <key>offset</key>
                <string>{-3,29}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{201,134},{104,186}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>9204112.png</key>
            <dict>
                <key>frame</key>
                <string>{{852,1542},{106,186}}</string>
                <key>offset</key>
                <string>{-2,30}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{201,133},{106,186}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>9204113.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,1842},{104,184}}</string>
                <key>offset</key>
                <string>{-1,30}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{203,134},{104,184}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>9204114.png</key>
            <dict>
                <key>frame</key>
                <string>{{414,1738},{104,184}}</string>
                <key>offset</key>
                <string>{-1,30}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{203,134},{104,184}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>9204121.png</key>
            <dict>
                <key>frame</key>
                <string>{{210,1574},{204,178}}</string>
                <key>offset</key>
                <string>{-7,29}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{147,138},{204,178}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>9204122.png</key>
            <dict>
                <key>frame</key>
                <string>{{210,1398},{208,176}}</string>
                <key>offset</key>
                <string>{-6,28}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{146,140},{208,176}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>9204123.png</key>
            <dict>
                <key>frame</key>
                <string>{{644,1510},{208,172}}</string>
                <key>offset</key>
                <string>{-6,26}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{146,144},{208,172}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>9204124.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,1584},{200,174}}</string>
                <key>offset</key>
                <string>{-8,27}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{148,142},{200,174}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>9204131.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,454},{266,160}}</string>
                <key>offset</key>
                <string>{-15,42}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{108,134},{266,160}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>9204132.png</key>
            <dict>
                <key>frame</key>
                <string>{{282,312},{266,160}}</string>
                <key>offset</key>
                <string>{-15,43}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{108,133},{266,160}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>9204133.png</key>
            <dict>
                <key>frame</key>
                <string>{{548,318},{262,158}}</string>
                <key>offset</key>
                <string>{-15,41}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{110,136},{262,158}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>9204134.png</key>
            <dict>
                <key>frame</key>
                <string>{{578,158},{266,160}}</string>
                <key>offset</key>
                <string>{-19,41}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{104,135},{266,160}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>9204141.png</key>
            <dict>
                <key>frame</key>
                <string>{{436,1344},{208,198}}</string>
                <key>offset</key>
                <string>{-9,29}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{143,128},{208,198}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>9204142.png</key>
            <dict>
                <key>frame</key>
                <string>{{418,1542},{204,196}}</string>
                <key>offset</key>
                <string>{-7,31}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{147,127},{204,196}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>9204143.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,1384},{210,200}}</string>
                <key>offset</key>
                <string>{-8,31}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{143,125},{210,200}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>9204144.png</key>
            <dict>
                <key>frame</key>
                <string>{{656,1308},{208,202}}</string>
                <key>offset</key>
                <string>{-10,28}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{142,127},{208,202}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>9204151.png</key>
            <dict>
                <key>frame</key>
                <string>{{742,642},{154,232}}</string>
                <key>offset</key>
                <string>{-23,27}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{156,113},{154,232}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>9204152.png</key>
            <dict>
                <key>frame</key>
                <string>{{706,796},{146,228}}</string>
                <key>offset</key>
                <string>{-25,26}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{158,116},{146,228}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>9204153.png</key>
            <dict>
                <key>frame</key>
                <string>{{874,0},{148,234}}</string>
                <key>offset</key>
                <string>{-25,24}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{157,115},{148,234}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>9204154.png</key>
            <dict>
                <key>frame</key>
                <string>{{266,472},{154,240}}</string>
                <key>offset</key>
                <string>{-25,23}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{154,113},{154,240}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>9204211.png</key>
            <dict>
                <key>frame</key>
                <string>{{892,1144},{108,202}}</string>
                <key>offset</key>
                <string>{0,103}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{202,52},{108,202}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>9204212.png</key>
            <dict>
                <key>frame</key>
                <string>{{224,1294},{104,212}}</string>
                <key>offset</key>
                <string>{1,98}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{205,52},{104,212}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>9204213.png</key>
            <dict>
                <key>frame</key>
                <string>{{224,1192},{102,218}}</string>
                <key>offset</key>
                <string>{3,101}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{208,46},{102,218}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>9204214.png</key>
            <dict>
                <key>frame</key>
                <string>{{442,1240},{104,214}}</string>
                <key>offset</key>
                <string>{0,99}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{204,50},{104,214}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>9204215.png</key>
            <dict>
                <key>frame</key>
                <string>{{864,1346},{106,196}}</string>
                <key>offset</key>
                <string>{-1,109}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{202,49},{106,196}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>9204216.png</key>
            <dict>
                <key>frame</key>
                <string>{{910,942},{110,202}}</string>
                <key>offset</key>
                <string>{-1,105}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{200,50},{110,202}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>9204221.png</key>
            <dict>
                <key>frame</key>
                <string>{{462,862},{226,176}}</string>
                <key>offset</key>
                <string>{-31,94}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{112,74},{226,176}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>9204222.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,710},{234,186}}</string>
                <key>offset</key>
                <string>{-30,89}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{109,74},{234,186}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>9204223.png</key>
            <dict>
                <key>frame</key>
                <string>{{476,674},{230,188}}</string>
                <key>offset</key>
                <string>{-26,90}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{115,72},{230,188}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>9204224.png</key>
            <dict>
                <key>frame</key>
                <string>{{844,234},{212,178}}</string>
                <key>offset</key>
                <string>{-25,92}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{125,75},{212,178}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>9204225.png</key>
            <dict>
                <key>frame</key>
                <string>{{676,1144},{216,164}}</string>
                <key>offset</key>
                <string>{-24,101}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{124,73},{216,164}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>9204226.png</key>
            <dict>
                <key>frame</key>
                <string>{{228,1030},{226,162}}</string>
                <key>offset</key>
                <string>{-28,103}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{115,72},{226,162}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>9204231.png</key>
            <dict>
                <key>frame</key>
                <string>{{590,0},{284,158}}</string>
                <key>offset</key>
                <string>{-36,100}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{78,77},{284,158}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>9204232.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,146},{294,154}}</string>
                <key>offset</key>
                <string>{-40,101}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{69,78},{294,154}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>9204233.png</key>
            <dict>
                <key>frame</key>
                <string>{{294,156},{284,156}}</string>
                <key>offset</key>
                <string>{-34,95}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{80,83},{284,156}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>9204234.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,300},{282,154}}</string>
                <key>offset</key>
                <string>{-33,88}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{82,91},{282,154}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>9204235.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{296,146}}</string>
                <key>offset</key>
                <string>{-42,97}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{66,86},{296,146}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>9204236.png</key>
            <dict>
                <key>frame</key>
                <string>{{296,0},{294,156}}</string>
                <key>offset</key>
                <string>{-41,97}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{68,81},{294,156}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>9204241.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,1190},{224,194}}</string>
                <key>offset</key>
                <string>{-30,86}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{114,73},{224,194}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>9204242.png</key>
            <dict>
                <key>frame</key>
                <string>{{454,1038},{222,202}}</string>
                <key>offset</key>
                <string>{-29,85}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{116,70},{222,202}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>9204243.png</key>
            <dict>
                <key>frame</key>
                <string>{{688,942},{222,202}}</string>
                <key>offset</key>
                <string>{-26,87}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{119,68},{222,202}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>9204244.png</key>
            <dict>
                <key>frame</key>
                <string>{{234,826},{228,204}}</string>
                <key>offset</key>
                <string>{-28,82}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{114,72},{228,204}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>9204245.png</key>
            <dict>
                <key>frame</key>
                <string>{{810,446},{214,196}}</string>
                <key>offset</key>
                <string>{-25,85}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{124,73},{214,196}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>9204246.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,896},{228,194}}</string>
                <key>offset</key>
                <string>{-27,86}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{115,73},{228,194}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>9204251.png</key>
            <dict>
                <key>frame</key>
                <string>{{506,476},{98,238}}</string>
                <key>offset</key>
                <string>{0,81}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{207,56},{98,238}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>9204252.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,614},{96,240}}</string>
                <key>offset</key>
                <string>{-2,80}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{206,56},{96,240}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>9204253.png</key>
            <dict>
                <key>frame</key>
                <string>{{506,574},{100,236}}</string>
                <key>offset</key>
                <string>{-2,83}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{204,55},{100,236}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>9204254.png</key>
            <dict>
                <key>frame</key>
                <string>{{240,626},{98,236}}</string>
                <key>offset</key>
                <string>{3,83}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{210,55},{98,236}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>9204255.png</key>
            <dict>
                <key>frame</key>
                <string>{{234,724},{102,230}}</string>
                <key>offset</key>
                <string>{4,81}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{209,60},{102,230}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>9204256.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,1090},{100,226}}</string>
                <key>offset</key>
                <string>{2,82}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{208,61},{100,226}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>9204.pvr.ccz</string>
            <key>size</key>
            <string>{1024,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:2693b427eba1e15792d698525c204371:1/1$</string>
            <key>textureFileName</key>
            <string>9204.pvr.ccz</string>
        </dict>
    </dict>
</plist>
