<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>6014111.png</key>
            <dict>
                <key>frame</key>
                <string>{{90,272},{90,62}}</string>
                <key>offset</key>
                <string>{0,12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{211,213},{90,62}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6014112.png</key>
            <dict>
                <key>frame</key>
                <string>{{182,260},{90,62}}</string>
                <key>offset</key>
                <string>{0,12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{211,213},{90,62}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6014113.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,212},{90,62}}</string>
                <key>offset</key>
                <string>{0,12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{211,213},{90,62}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6014121.png</key>
            <dict>
                <key>frame</key>
                <string>{{294,120},{92,66}}</string>
                <key>offset</key>
                <string>{0,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{210,218},{92,66}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6014122.png</key>
            <dict>
                <key>frame</key>
                <string>{{386,152},{92,64}}</string>
                <key>offset</key>
                <string>{0,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{210,219},{92,64}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6014123.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,144},{92,68}}</string>
                <key>offset</key>
                <string>{0,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{210,216},{92,68}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6014131.png</key>
            <dict>
                <key>frame</key>
                <string>{{68,842},{66,68}}</string>
                <key>offset</key>
                <string>{-4,5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{219,217},{66,68}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6014132.png</key>
            <dict>
                <key>frame</key>
                <string>{{144,778},{66,68}}</string>
                <key>offset</key>
                <string>{-4,5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{219,217},{66,68}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6014133.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,860},{66,66}}</string>
                <key>offset</key>
                <string>{-3,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{220,218},{66,66}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6014141.png</key>
            <dict>
                <key>frame</key>
                <string>{{92,132},{92,70}}</string>
                <key>offset</key>
                <string>{-2,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{208,214},{92,70}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6014142.png</key>
            <dict>
                <key>frame</key>
                <string>{{202,118},{92,70}}</string>
                <key>offset</key>
                <string>{-2,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{208,214},{92,70}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6014143.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,74},{92,70}}</string>
                <key>offset</key>
                <string>{-2,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{208,214},{92,70}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6014151.png</key>
            <dict>
                <key>frame</key>
                <string>{{384,216},{90,54}}</string>
                <key>offset</key>
                <string>{-1,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{210,222},{90,54}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6014152.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,328},{90,54}}</string>
                <key>offset</key>
                <string>{-1,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{210,222},{90,54}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6014153.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,274},{90,54}}</string>
                <key>offset</key>
                <string>{-1,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{210,222},{90,54}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6014211.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,600},{78,62}}</string>
                <key>offset</key>
                <string>{-2,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{215,216},{78,62}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6014212.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,530},{78,70}}</string>
                <key>offset</key>
                <string>{-1,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{216,214},{78,70}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6014213.png</key>
            <dict>
                <key>frame</key>
                <string>{{334,474},{78,66}}</string>
                <key>offset</key>
                <string>{-1,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{216,216},{78,66}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6014214.png</key>
            <dict>
                <key>frame</key>
                <string>{{78,544},{78,62}}</string>
                <key>offset</key>
                <string>{-1,10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{216,215},{78,62}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6014215.png</key>
            <dict>
                <key>frame</key>
                <string>{{78,474},{78,70}}</string>
                <key>offset</key>
                <string>{-2,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{215,215},{78,70}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6014221.png</key>
            <dict>
                <key>frame</key>
                <string>{{266,398},{82,62}}</string>
                <key>offset</key>
                <string>{8,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{223,218},{82,62}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6014222.png</key>
            <dict>
                <key>frame</key>
                <string>{{256,460},{78,76}}</string>
                <key>offset</key>
                <string>{2,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{219,215},{78,76}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6014223.png</key>
            <dict>
                <key>frame</key>
                <string>{{92,202},{90,70}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{210,220},{90,70}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6014224.png</key>
            <dict>
                <key>frame</key>
                <string>{{314,54},{98,66}}</string>
                <key>offset</key>
                <string>{4,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{211,219},{98,66}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6014225.png</key>
            <dict>
                <key>frame</key>
                <string>{{108,70},{94,62}}</string>
                <key>offset</key>
                <string>{10,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{219,219},{94,62}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6014231.png</key>
            <dict>
                <key>frame</key>
                <string>{{74,778},{70,64}}</string>
                <key>offset</key>
                <string>{-1,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{220,217},{70,64}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6014232.png</key>
            <dict>
                <key>frame</key>
                <string>{{86,410},{80,64}}</string>
                <key>offset</key>
                <string>{4,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{220,216},{80,64}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6014233.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,662},{76,64}}</string>
                <key>offset</key>
                <string>{1,10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{219,214},{76,64}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6014234.png</key>
            <dict>
                <key>frame</key>
                <string>{{78,660},{76,64}}</string>
                <key>offset</key>
                <string>{1,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{219,218},{76,64}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6014235.png</key>
            <dict>
                <key>frame</key>
                <string>{{348,344},{82,64}}</string>
                <key>offset</key>
                <string>{3,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{218,217},{82,64}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6014241.png</key>
            <dict>
                <key>frame</key>
                <string>{{214,56},{96,62}}</string>
                <key>offset</key>
                <string>{0,12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{208,213},{96,62}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6014242.png</key>
            <dict>
                <key>frame</key>
                <string>{{412,88},{96,64}}</string>
                <key>offset</key>
                <string>{7,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{215,216},{96,64}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6014243.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,382},{86,72}}</string>
                <key>offset</key>
                <string>{9,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{222,212},{86,72}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6014244.png</key>
            <dict>
                <key>frame</key>
                <string>{{442,270},{78,70}}</string>
                <key>offset</key>
                <string>{5,10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{222,211},{78,70}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6014245.png</key>
            <dict>
                <key>frame</key>
                <string>{{430,348},{82,58}}</string>
                <key>offset</key>
                <string>{0,13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{215,214},{82,58}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6014251.png</key>
            <dict>
                <key>frame</key>
                <string>{{156,536},{78,62}}</string>
                <key>offset</key>
                <string>{1,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{218,217},{78,62}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6014252.png</key>
            <dict>
                <key>frame</key>
                <string>{{312,598},{78,50}}</string>
                <key>offset</key>
                <string>{0,11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{217,220},{78,50}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6014253.png</key>
            <dict>
                <key>frame</key>
                <string>{{78,606},{78,54}}</string>
                <key>offset</key>
                <string>{0,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{217,221},{78,54}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6014254.png</key>
            <dict>
                <key>frame</key>
                <string>{{156,598},{78,54}}</string>
                <key>offset</key>
                <string>{0,11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{217,218},{78,54}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6014255.png</key>
            <dict>
                <key>frame</key>
                <string>{{390,544},{78,52}}</string>
                <key>offset</key>
                <string>{1,10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{218,220},{78,52}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6014311.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,454},{78,76}}</string>
                <key>offset</key>
                <string>{0,14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{217,204},{78,76}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6014312.png</key>
            <dict>
                <key>frame</key>
                <string>{{390,646},{76,74}}</string>
                <key>offset</key>
                <string>{0,24}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{218,195},{76,74}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6014313.png</key>
            <dict>
                <key>frame</key>
                <string>{{312,540},{78,58}}</string>
                <key>offset</key>
                <string>{0,27}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{217,200},{78,58}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6014314.png</key>
            <dict>
                <key>frame</key>
                <string>{{166,464},{78,72}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{217,223},{78,72}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6014315.png</key>
            <dict>
                <key>frame</key>
                <string>{{412,480},{78,64}}</string>
                <key>offset</key>
                <string>{0,11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{217,213},{78,64}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6014321.png</key>
            <dict>
                <key>frame</key>
                <string>{{294,186},{90,76}}</string>
                <key>offset</key>
                <string>{0,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{211,209},{90,76}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6014322.png</key>
            <dict>
                <key>frame</key>
                <string>{{430,406},{80,74}}</string>
                <key>offset</key>
                <string>{-5,16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{211,203},{80,74}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6014323.png</key>
            <dict>
                <key>frame</key>
                <string>{{272,262},{88,70}}</string>
                <key>offset</key>
                <string>{0,18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{212,203},{88,70}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6014324.png</key>
            <dict>
                <key>frame</key>
                <string>{{156,652},{76,70}}</string>
                <key>offset</key>
                <string>{21,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{239,221},{76,70}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6014325.png</key>
            <dict>
                <key>frame</key>
                <string>{{176,400},{80,64}}</string>
                <key>offset</key>
                <string>{11,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{227,216},{80,64}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6014331.png</key>
            <dict>
                <key>frame</key>
                <string>{{266,332},{82,66}}</string>
                <key>offset</key>
                <string>{-3,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{212,214},{82,66}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6014332.png</key>
            <dict>
                <key>frame</key>
                <string>{{312,648},{76,72}}</string>
                <key>offset</key>
                <string>{-15,12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{203,208},{76,72}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6014333.png</key>
            <dict>
                <key>frame</key>
                <string>{{90,334},{76,86}}</string>
                <key>offset</key>
                <string>{0,19}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{218,194},{76,86}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6014334.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,794},{68,66}}</string>
                <key>offset</key>
                <string>{29,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{251,214},{68,66}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6014335.png</key>
            <dict>
                <key>frame</key>
                <string>{{230,772},{72,66}}</string>
                <key>offset</key>
                <string>{12,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{232,214},{72,66}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6014341.png</key>
            <dict>
                <key>frame</key>
                <string>{{184,188},{90,72}}</string>
                <key>offset</key>
                <string>{1,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{212,212},{90,72}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6014342.png</key>
            <dict>
                <key>frame</key>
                <string>{{360,270},{82,74}}</string>
                <key>offset</key>
                <string>{-5,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{210,210},{82,74}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6014343.png</key>
            <dict>
                <key>frame</key>
                <string>{{414,0},{88,98}}</string>
                <key>offset</key>
                <string>{1,21}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{213,186},{88,98}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6014344.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,726},{74,68}}</string>
                <key>offset</key>
                <string>{22,24}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{241,198},{74,68}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6014345.png</key>
            <dict>
                <key>frame</key>
                <string>{{348,408},{80,66}}</string>
                <key>offset</key>
                <string>{12,20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{228,203},{80,66}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6014351.png</key>
            <dict>
                <key>frame</key>
                <string>{{234,536},{78,60}}</string>
                <key>offset</key>
                <string>{0,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{217,219},{78,60}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6014352.png</key>
            <dict>
                <key>frame</key>
                <string>{{232,714},{76,58}}</string>
                <key>offset</key>
                <string>{0,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{218,221},{76,58}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6014353.png</key>
            <dict>
                <key>frame</key>
                <string>{{180,322},{78,86}}</string>
                <key>offset</key>
                <string>{0,20}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{217,193},{78,86}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6014354.png</key>
            <dict>
                <key>frame</key>
                <string>{{234,596},{78,56}}</string>
                <key>offset</key>
                <string>{0,31}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{217,197},{78,56}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6014355.png</key>
            <dict>
                <key>frame</key>
                <string>{{390,596},{78,50}}</string>
                <key>offset</key>
                <string>{0,25}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{217,206},{78,50}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6014511.png</key>
            <dict>
                <key>frame</key>
                <string>{{76,724},{76,54}}</string>
                <key>offset</key>
                <string>{-1,40}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{217,189},{76,54}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6014512.png</key>
            <dict>
                <key>frame</key>
                <string>{{214,0},{100,56}}</string>
                <key>offset</key>
                <string>{-1,24}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{205,204},{100,56}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6014521.png</key>
            <dict>
                <key>frame</key>
                <string>{{308,720},{74,64}}</string>
                <key>offset</key>
                <string>{-14,38}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{205,186},{74,64}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6014522.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{108,74}}</string>
                <key>offset</key>
                <string>{-25,19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{177,200},{108,74}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6014531.png</key>
            <dict>
                <key>frame</key>
                <string>{{466,646},{46,66}}</string>
                <key>offset</key>
                <string>{-23,30}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{210,193},{46,66}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6014532.png</key>
            <dict>
                <key>frame</key>
                <string>{{382,720},{70,64}}</string>
                <key>offset</key>
                <string>{-27,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{194,219},{70,64}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6014541.png</key>
            <dict>
                <key>frame</key>
                <string>{{232,652},{76,62}}</string>
                <key>offset</key>
                <string>{-14,21}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{204,204},{76,62}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6014542.png</key>
            <dict>
                <key>frame</key>
                <string>{{108,0},{106,70}}</string>
                <key>offset</key>
                <string>{-25,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{178,230},{106,70}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6014551.png</key>
            <dict>
                <key>frame</key>
                <string>{{154,722},{76,56}}</string>
                <key>offset</key>
                <string>{0,17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{218,211},{76,56}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6014552.png</key>
            <dict>
                <key>frame</key>
                <string>{{314,0},{100,54}}</string>
                <key>offset</key>
                <string>{1,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{207,238},{100,54}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>6014.pvr.ccz</string>
            <key>size</key>
            <string>{512,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:5ae902dfafce247f9d8f3a0ea3195ffc:1/1$</string>
            <key>textureFileName</key>
            <string>6014.pvr.ccz</string>
        </dict>
    </dict>
</plist>
