<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>6036111.png</key>
            <dict>
                <key>frame</key>
                <string>{{474,358},{82,118}}</string>
                <key>offset</key>
                <string>{-10,45}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{205,152},{82,118}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6036112.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,502},{80,118}}</string>
                <key>offset</key>
                <string>{-9,45}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{207,152},{80,118}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6036113.png</key>
            <dict>
                <key>frame</key>
                <string>{{120,496},{80,118}}</string>
                <key>offset</key>
                <string>{-9,45}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{207,152},{80,118}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6036121.png</key>
            <dict>
                <key>frame</key>
                <string>{{474,232},{60,122}}</string>
                <key>offset</key>
                <string>{-5,41}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{221,154},{60,122}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6036122.png</key>
            <dict>
                <key>frame</key>
                <string>{{596,194},{60,122}}</string>
                <key>offset</key>
                <string>{-5,40}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{221,155},{60,122}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6036123.png</key>
            <dict>
                <key>frame</key>
                <string>{{474,172},{60,122}}</string>
                <key>offset</key>
                <string>{-5,41}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{221,154},{60,122}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6036131.png</key>
            <dict>
                <key>frame</key>
                <string>{{890,430},{72,112}}</string>
                <key>offset</key>
                <string>{5,41}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{225,159},{72,112}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6036132.png</key>
            <dict>
                <key>frame</key>
                <string>{{474,564},{74,110}}</string>
                <key>offset</key>
                <string>{6,40}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{225,161},{74,110}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6036133.png</key>
            <dict>
                <key>frame</key>
                <string>{{586,498},{74,110}}</string>
                <key>offset</key>
                <string>{6,40}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{225,161},{74,110}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6036141.png</key>
            <dict>
                <key>frame</key>
                <string>{{342,706},{94,106}}</string>
                <key>offset</key>
                <string>{18,37}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{227,166},{94,106}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6036142.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,652},{94,108}}</string>
                <key>offset</key>
                <string>{18,38}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{227,164},{94,108}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6036143.png</key>
            <dict>
                <key>frame</key>
                <string>{{462,638},{94,106}}</string>
                <key>offset</key>
                <string>{18,37}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{227,166},{94,106}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6036151.png</key>
            <dict>
                <key>frame</key>
                <string>{{108,734},{82,106}}</string>
                <key>offset</key>
                <string>{10,36}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{225,167},{82,106}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6036152.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,746},{80,106}}</string>
                <key>offset</key>
                <string>{8,36}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{224,167},{80,106}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6036153.png</key>
            <dict>
                <key>frame</key>
                <string>{{886,568},{80,104}}</string>
                <key>offset</key>
                <string>{9,35}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{225,169},{80,104}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6036211.png</key>
            <dict>
                <key>frame</key>
                <string>{{474,498},{66,112}}</string>
                <key>offset</key>
                <string>{-5,44}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{218,156},{66,112}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6036212.png</key>
            <dict>
                <key>frame</key>
                <string>{{716,268},{60,120}}</string>
                <key>offset</key>
                <string>{-2,39}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{224,157},{60,120}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6036213.png</key>
            <dict>
                <key>frame</key>
                <string>{{118,576},{58,116}}</string>
                <key>offset</key>
                <string>{-1,40}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{226,158},{58,116}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6036214.png</key>
            <dict>
                <key>frame</key>
                <string>{{238,568},{58,116}}</string>
                <key>offset</key>
                <string>{-1,41}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{226,157},{58,116}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6036215.png</key>
            <dict>
                <key>frame</key>
                <string>{{474,440},{58,116}}</string>
                <key>offset</key>
                <string>{-1,40}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{226,158},{58,116}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6036221.png</key>
            <dict>
                <key>frame</key>
                <string>{{712,328},{64,118}}</string>
                <key>offset</key>
                <string>{-5,39}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{219,158},{64,118}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6036222.png</key>
            <dict>
                <key>frame</key>
                <string>{{474,292},{66,120}}</string>
                <key>offset</key>
                <string>{1,38}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{224,158},{66,120}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6036223.png</key>
            <dict>
                <key>frame</key>
                <string>{{886,502},{66,112}}</string>
                <key>offset</key>
                <string>{4,41}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{227,159},{66,112}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6036224.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,582},{70,114}}</string>
                <key>offset</key>
                <string>{-3,40}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{218,159},{70,114}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6036225.png</key>
            <dict>
                <key>frame</key>
                <string>{{592,422},{76,116}}</string>
                <key>offset</key>
                <string>{-5,39}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{213,159},{76,116}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6036231.png</key>
            <dict>
                <key>frame</key>
                <string>{{584,572},{80,108}}</string>
                <key>offset</key>
                <string>{14,43}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{230,159},{80,108}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6036232.png</key>
            <dict>
                <key>frame</key>
                <string>{{354,602},{104,108}}</string>
                <key>offset</key>
                <string>{21,43}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{225,159},{104,108}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6036233.png</key>
            <dict>
                <key>frame</key>
                <string>{{234,626},{102,108}}</string>
                <key>offset</key>
                <string>{24,43}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{229,159},{102,108}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6036234.png</key>
            <dict>
                <key>frame</key>
                <string>{{222,728},{84,106}}</string>
                <key>offset</key>
                <string>{14,43}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{228,160},{84,106}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6036235.png</key>
            <dict>
                <key>frame</key>
                <string>{{804,548},{82,106}}</string>
                <key>offset</key>
                <string>{5,42}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{220,161},{82,106}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6036241.png</key>
            <dict>
                <key>frame</key>
                <string>{{386,170},{88,106}}</string>
                <key>offset</key>
                <string>{19,42}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{231,161},{88,106}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6036242.png</key>
            <dict>
                <key>frame</key>
                <string>{{364,396},{100,110}}</string>
                <key>offset</key>
                <string>{20,38}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{226,163},{100,110}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6036243.png</key>
            <dict>
                <key>frame</key>
                <string>{{890,330},{100,112}}</string>
                <key>offset</key>
                <string>{19,37}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{225,163},{100,112}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6036244.png</key>
            <dict>
                <key>frame</key>
                <string>{{568,710},{78,100}}</string>
                <key>offset</key>
                <string>{16,44}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{233,162},{78,100}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6036245.png</key>
            <dict>
                <key>frame</key>
                <string>{{800,654},{80,102}}</string>
                <key>offset</key>
                <string>{10,43}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{226,162},{80,102}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6036251.png</key>
            <dict>
                <key>frame</key>
                <string>{{674,656},{66,102}}</string>
                <key>offset</key>
                <string>{4,43}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{227,162},{66,102}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6036252.png</key>
            <dict>
                <key>frame</key>
                <string>{{830,328},{60,108}}</string>
                <key>offset</key>
                <string>{1,38}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{227,164},{60,108}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6036253.png</key>
            <dict>
                <key>frame</key>
                <string>{{828,436},{58,112}}</string>
                <key>offset</key>
                <string>{1,37}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{228,163},{58,112}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6036254.png</key>
            <dict>
                <key>frame</key>
                <string>{{568,652},{58,106}}</string>
                <key>offset</key>
                <string>{1,41}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{228,162},{58,106}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6036255.png</key>
            <dict>
                <key>frame</key>
                <string>{{692,598},{58,108}}</string>
                <key>offset</key>
                <string>{1,39}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{228,163},{58,108}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6036311.png</key>
            <dict>
                <key>frame</key>
                <string>{{758,102},{84,134}}</string>
                <key>offset</key>
                <string>{-17,41}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{197,148},{84,134}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6036312.png</key>
            <dict>
                <key>frame</key>
                <string>{{158,0},{92,158}}</string>
                <key>offset</key>
                <string>{13,44}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{223,133},{92,158}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6036313.png</key>
            <dict>
                <key>frame</key>
                <string>{{630,0},{76,156}}</string>
                <key>offset</key>
                <string>{6,37}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{224,141},{76,156}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6036314.png</key>
            <dict>
                <key>frame</key>
                <string>{{596,254},{72,120}}</string>
                <key>offset</key>
                <string>{4,-10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{224,206},{72,120}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6036315.png</key>
            <dict>
                <key>frame</key>
                <string>{{886,648},{66,104}}</string>
                <key>offset</key>
                <string>{1,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{224,209},{66,104}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6036321.png</key>
            <dict>
                <key>frame</key>
                <string>{{936,0},{88,114}}</string>
                <key>offset</key>
                <string>{-6,43}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{206,156},{88,114}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6036322.png</key>
            <dict>
                <key>frame</key>
                <string>{{474,76},{96,150}}</string>
                <key>offset</key>
                <string>{10,57}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{218,124},{96,150}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6036323.png</key>
            <dict>
                <key>frame</key>
                <string>{{262,170},{104,124}}</string>
                <key>offset</key>
                <string>{14,42}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{218,152},{104,124}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6036324.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,310},{122,110}}</string>
                <key>offset</key>
                <string>{24,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{219,196},{122,110}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6036325.png</key>
            <dict>
                <key>frame</key>
                <string>{{114,634},{100,108}}</string>
                <key>offset</key>
                <string>{12,5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{218,197},{100,108}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6036331.png</key>
            <dict>
                <key>frame</key>
                <string>{{594,326},{96,118}}</string>
                <key>offset</key>
                <string>{-2,39}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{206,158},{96,118}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6036332.png</key>
            <dict>
                <key>frame</key>
                <string>{{624,76},{118,134}}</string>
                <key>offset</key>
                <string>{-4,47}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{193,142},{118,134}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6036333.png</key>
            <dict>
                <key>frame</key>
                <string>{{124,228},{90,124}}</string>
                <key>offset</key>
                <string>{18,42}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{229,152},{90,124}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6036334.png</key>
            <dict>
                <key>frame</key>
                <string>{{786,0},{150,102}}</string>
                <key>offset</key>
                <string>{49,31}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{230,174},{150,102}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6036335.png</key>
            <dict>
                <key>frame</key>
                <string>{{892,114},{130,94}}</string>
                <key>offset</key>
                <string>{39,27}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{230,182},{130,94}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6036341.png</key>
            <dict>
                <key>frame</key>
                <string>{{242,488},{80,118}}</string>
                <key>offset</key>
                <string>{13,35}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{229,162},{80,118}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6036342.png</key>
            <dict>
                <key>frame</key>
                <string>{{244,376},{112,120}}</string>
                <key>offset</key>
                <string>{-27,36}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{173,160},{112,120}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6036343.png</key>
            <dict>
                <key>frame</key>
                <string>{{158,92},{70,146}}</string>
                <key>offset</key>
                <string>{22,49}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{243,134},{70,146}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6036344.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,200},{110,124}}</string>
                <key>offset</key>
                <string>{36,38}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{237,156},{110,124}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6036345.png</key>
            <dict>
                <key>frame</key>
                <string>{{248,274},{102,122}}</string>
                <key>offset</key>
                <string>{39,37}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{244,158},{102,122}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6036351.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,420},{82,120}}</string>
                <key>offset</key>
                <string>{17,43}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{232,153},{82,120}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6036352.png</key>
            <dict>
                <key>frame</key>
                <string>{{696,506},{92,108}}</string>
                <key>offset</key>
                <string>{-14,37}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{196,165},{92,108}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6036353.png</key>
            <dict>
                <key>frame</key>
                <string>{{474,0},{76,156}}</string>
                <key>offset</key>
                <string>{-6,61}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{212,117},{76,156}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6036354.png</key>
            <dict>
                <key>frame</key>
                <string>{{122,318},{72,122}}</string>
                <key>offset</key>
                <string>{-4,44}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{216,151},{72,122}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6036355.png</key>
            <dict>
                <key>frame</key>
                <string>{{136,162},{66,126}}</string>
                <key>offset</key>
                <string>{-1,46}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{222,147},{66,126}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6036511.png</key>
            <dict>
                <key>frame</key>
                <string>{{712,392},{114,116}}</string>
                <key>offset</key>
                <string>{-8,50}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{191,148},{114,116}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6036512.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{158,94}}</string>
                <key>offset</key>
                <string>{-23,66}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{154,143},{158,94}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6036521.png</key>
            <dict>
                <key>frame</key>
                <string>{{370,276},{104,120}}</string>
                <key>offset</key>
                <string>{-30,44}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{174,152},{104,120}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6036522.png</key>
            <dict>
                <key>frame</key>
                <string>{{122,390},{120,106}}</string>
                <key>offset</key>
                <string>{-56,34}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{140,169},{120,106}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6036531.png</key>
            <dict>
                <key>frame</key>
                <string>{{758,186},{82,134}}</string>
                <key>offset</key>
                <string>{-31,25}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{184,164},{82,134}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6036532.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,94},{136,106}}</string>
                <key>offset</key>
                <string>{-92,-13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{96,216},{136,106}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6036541.png</key>
            <dict>
                <key>frame</key>
                <string>{{892,208},{122,128}}</string>
                <key>offset</key>
                <string>{-16,6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{179,186},{122,128}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6036542.png</key>
            <dict>
                <key>frame</key>
                <string>{{316,84},{150,86}}</string>
                <key>offset</key>
                <string>{-46,-32}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{135,245},{150,86}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6036551.png</key>
            <dict>
                <key>frame</key>
                <string>{{360,496},{114,106}}</string>
                <key>offset</key>
                <string>{8,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{207,201},{114,106}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6036552.png</key>
            <dict>
                <key>frame</key>
                <string>{{316,0},{158,84}}</string>
                <key>offset</key>
                <string>{22,-49}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{199,263},{158,84}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>6036.pvr.ccz</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:f313cc1f7c58bd3e99ccf2998fb8616e:1/1$</string>
            <key>textureFileName</key>
            <string>6036.pvr.ccz</string>
        </dict>
    </dict>
</plist>
