<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>itemcolor_331.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{82,82}</string>
                <key>spriteSourceSize</key>
                <string>{82,82}</string>
                <key>textureRect</key>
                <string>{{1,1},{82,82}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>itemcolor_332.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{82,82}</string>
                <key>spriteSourceSize</key>
                <string>{82,82}</string>
                <key>textureRect</key>
                <string>{{85,1},{82,82}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>itemcolor_333.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{82,82}</string>
                <key>spriteSourceSize</key>
                <string>{82,82}</string>
                <key>textureRect</key>
                <string>{{169,1},{82,82}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>itemcolor_334.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{82,82}</string>
                <key>spriteSourceSize</key>
                <string>{82,82}</string>
                <key>textureRect</key>
                <string>{{253,1},{82,82}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>itemcolor_335.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{82,82}</string>
                <key>spriteSourceSize</key>
                <string>{82,82}</string>
                <key>textureRect</key>
                <string>{{337,1},{82,82}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>itemcolor_336.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{82,82}</string>
                <key>spriteSourceSize</key>
                <string>{82,82}</string>
                <key>textureRect</key>
                <string>{{421,1},{82,82}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>realTextureFileName</key>
            <string>itemcolor_33.pvr.ccz</string>
            <key>size</key>
            <string>{504,84}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:310e6924be44eaf9351b7d8bb35ca691:fb02d9b200918b26bcfda1a7fb96f989:bf0fdb50437e18f2a059f93497ca7e10$</string>
            <key>textureFileName</key>
            <string>itemcolor_33.pvr.ccz</string>
        </dict>
    </dict>
</plist>
