<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>6029111.png</key>
            <dict>
                <key>frame</key>
                <string>{{318,946},{156,136}}</string>
                <key>offset</key>
                <string>{-1,30}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{177,158},{156,136}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6029112.png</key>
            <dict>
                <key>frame</key>
                <string>{{324,810},{158,136}}</string>
                <key>offset</key>
                <string>{-2,30}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{175,158},{158,136}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6029113.png</key>
            <dict>
                <key>frame</key>
                <string>{{160,888},{158,134}}</string>
                <key>offset</key>
                <string>{-1,28}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{176,161},{158,134}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6029121.png</key>
            <dict>
                <key>frame</key>
                <string>{{364,542},{164,134}}</string>
                <key>offset</key>
                <string>{15,44}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{189,145},{164,134}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6029122.png</key>
            <dict>
                <key>frame</key>
                <string>{{342,676},{162,134}}</string>
                <key>offset</key>
                <string>{15,44}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{190,145},{162,134}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6029123.png</key>
            <dict>
                <key>frame</key>
                <string>{{178,610},{164,132}}</string>
                <key>offset</key>
                <string>{15,43}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{189,147},{164,132}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6029131.png</key>
            <dict>
                <key>frame</key>
                <string>{{598,1242},{96,138}}</string>
                <key>offset</key>
                <string>{12,52}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{220,135},{96,138}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6029132.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,1392},{96,136}}</string>
                <key>offset</key>
                <string>{11,51}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{219,137},{96,136}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6029133.png</key>
            <dict>
                <key>frame</key>
                <string>{{140,1360},{98,136}}</string>
                <key>offset</key>
                <string>{12,51}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{219,137},{98,136}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6029141.png</key>
            <dict>
                <key>frame</key>
                <string>{{136,1458},{92,130}}</string>
                <key>offset</key>
                <string>{0,57}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{210,134},{92,130}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6029142.png</key>
            <dict>
                <key>frame</key>
                <string>{{276,1432},{94,130}}</string>
                <key>offset</key>
                <string>{1,57}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{210,134},{94,130}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6029143.png</key>
            <dict>
                <key>frame</key>
                <string>{{422,1404},{94,130}}</string>
                <key>offset</key>
                <string>{1,57}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{210,134},{94,130}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6029151.png</key>
            <dict>
                <key>frame</key>
                <string>{{482,926},{156,140}}</string>
                <key>offset</key>
                <string>{0,47}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{178,139},{156,140}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6029152.png</key>
            <dict>
                <key>frame</key>
                <string>{{504,786},{158,140}}</string>
                <key>offset</key>
                <string>{1,47}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{178,139},{158,140}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6029153.png</key>
            <dict>
                <key>frame</key>
                <string>{{804,622},{158,140}}</string>
                <key>offset</key>
                <string>{1,47}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{178,139},{158,140}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6029211.png</key>
            <dict>
                <key>frame</key>
                <string>{{302,1210},{90,140}}</string>
                <key>offset</key>
                <string>{-7,30}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{204,156},{90,140}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6029212.png</key>
            <dict>
                <key>frame</key>
                <string>{{422,1302},{102,132}}</string>
                <key>offset</key>
                <string>{0,35}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{205,155},{102,132}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6029213.png</key>
            <dict>
                <key>frame</key>
                <string>{{944,986},{76,124}}</string>
                <key>offset</key>
                <string>{6,38}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{224,156},{76,124}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6029214.png</key>
            <dict>
                <key>frame</key>
                <string>{{804,902},{84,154}}</string>
                <key>offset</key>
                <string>{-4,24}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{210,155},{84,154}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6029215.png</key>
            <dict>
                <key>frame</key>
                <string>{{788,1118},{88,146}}</string>
                <key>offset</key>
                <string>{-1,30}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{211,153},{88,146}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6029221.png</key>
            <dict>
                <key>frame</key>
                <string>{{474,1066},{100,150}}</string>
                <key>offset</key>
                <string>{4,33}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{210,148},{100,150}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6029222.png</key>
            <dict>
                <key>frame</key>
                <string>{{910,1262},{110,136}}</string>
                <key>offset</key>
                <string>{6,35}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{207,153},{110,136}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6029223.png</key>
            <dict>
                <key>frame</key>
                <string>{{684,1390},{126,126}}</string>
                <key>offset</key>
                <string>{6,38}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{199,155},{126,126}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6029224.png</key>
            <dict>
                <key>frame</key>
                <string>{{154,1172},{102,148}}</string>
                <key>offset</key>
                <string>{8,22}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{213,160},{102,148}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6029225.png</key>
            <dict>
                <key>frame</key>
                <string>{{690,682},{114,144}}</string>
                <key>offset</key>
                <string>{5,31}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{204,153},{114,144}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6029231.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,374},{184,132}}</string>
                <key>offset</key>
                <string>{36,55}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{200,135},{184,132}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6029232.png</key>
            <dict>
                <key>frame</key>
                <string>{{398,256},{186,128}}</string>
                <key>offset</key>
                <string>{31,53}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{194,139},{186,128}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6029233.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,244},{188,130}}</string>
                <key>offset</key>
                <string>{26,52}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{188,139},{188,130}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6029234.png</key>
            <dict>
                <key>frame</key>
                <string>{{184,486},{180,124}}</string>
                <key>offset</key>
                <string>{36,49}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{202,145},{180,124}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6029235.png</key>
            <dict>
                <key>frame</key>
                <string>{{188,360},{186,126}}</string>
                <key>offset</key>
                <string>{36,51}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{199,142},{186,126}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6029241.png</key>
            <dict>
                <key>frame</key>
                <string>{{164,742},{160,146}}</string>
                <key>offset</key>
                <string>{46,62}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{222,121},{160,146}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6029242.png</key>
            <dict>
                <key>frame</key>
                <string>{{804,762},{156,140}}</string>
                <key>offset</key>
                <string>{38,65}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{216,121},{156,140}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6029243.png</key>
            <dict>
                <key>frame</key>
                <string>{{662,826},{142,122}}</string>
                <key>offset</key>
                <string>{30,65}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{215,130},{142,122}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6029244.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,1050},{154,126}}</string>
                <key>offset</key>
                <string>{43,65}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{222,128},{154,126}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6029245.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,772},{160,136}}</string>
                <key>offset</key>
                <string>{40,64}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{216,124},{160,136}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6029251.png</key>
            <dict>
                <key>frame</key>
                <string>{{934,1118},{90,144}}</string>
                <key>offset</key>
                <string>{7,64}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{218,120},{90,144}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6029252.png</key>
            <dict>
                <key>frame</key>
                <string>{{736,1288},{102,132}}</string>
                <key>offset</key>
                <string>{-1,70}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{204,120},{102,132}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6029253.png</key>
            <dict>
                <key>frame</key>
                <string>{{728,540},{76,142}}</string>
                <key>offset</key>
                <string>{-7,72}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{211,113},{76,142}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6029254.png</key>
            <dict>
                <key>frame</key>
                <string>{{768,1206},{82,142}}</string>
                <key>offset</key>
                <string>{3,66}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{218,119},{82,142}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6029255.png</key>
            <dict>
                <key>frame</key>
                <string>{{146,1274},{86,140}}</string>
                <key>offset</key>
                <string>{0,69}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{213,117},{86,140}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6029311.png</key>
            <dict>
                <key>frame</key>
                <string>{{652,86},{148,200}}</string>
                <key>offset</key>
                <string>{-40,70}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{142,86},{148,200}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6029312.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{130,222}}</string>
                <key>offset</key>
                <string>{17,82}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{208,63},{130,222}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6029313.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,1488},{86,130}}</string>
                <key>offset</key>
                <string>{8,34}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{221,157},{86,130}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6029314.png</key>
            <dict>
                <key>frame</key>
                <string>{{554,398},{178,130}}</string>
                <key>offset</key>
                <string>{54,35}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{221,156},{178,130}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6029315.png</key>
            <dict>
                <key>frame</key>
                <string>{{732,398},{76,142}}</string>
                <key>offset</key>
                <string>{3,39}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{221,146},{76,142}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6029321.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,642},{164,130}}</string>
                <key>offset</key>
                <string>{-28,51}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{146,140},{164,130}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6029322.png</key>
            <dict>
                <key>frame</key>
                <string>{{438,0},{102,214}}</string>
                <key>offset</key>
                <string>{3,93}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{208,56},{102,214}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6029323.png</key>
            <dict>
                <key>frame</key>
                <string>{{852,232},{166,130}}</string>
                <key>offset</key>
                <string>{52,51}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{225,140},{166,130}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6029324.png</key>
            <dict>
                <key>frame</key>
                <string>{{792,986},{152,132}}</string>
                <key>offset</key>
                <string>{46,52}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{226,138},{152,132}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6029325.png</key>
            <dict>
                <key>frame</key>
                <string>{{458,1166},{140,136}}</string>
                <key>offset</key>
                <string>{40,54}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{226,134},{140,136}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6029331.png</key>
            <dict>
                <key>frame</key>
                <string>{{624,1142},{100,144}}</string>
                <key>offset</key>
                <string>{-2,51}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{204,133},{100,144}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6029332.png</key>
            <dict>
                <key>frame</key>
                <string>{{622,234},{164,186}}</string>
                <key>offset</key>
                <string>{-35,72}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{139,91},{164,186}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6029333.png</key>
            <dict>
                <key>frame</key>
                <string>{{808,362},{186,146}}</string>
                <key>offset</key>
                <string>{73,52}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{236,131},{186,146}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6029334.png</key>
            <dict>
                <key>frame</key>
                <string>{{638,948},{74,154}}</string>
                <key>offset</key>
                <string>{14,56}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{233,123},{74,154}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6029335.png</key>
            <dict>
                <key>frame</key>
                <string>{{434,102},{188,154}}</string>
                <key>offset</key>
                <string>{52,56}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{214,123},{188,154}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6029341.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,1308},{84,140}}</string>
                <key>offset</key>
                <string>{22,52}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{236,134},{84,140}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6029342.png</key>
            <dict>
                <key>frame</key>
                <string>{{210,210},{188,150}}</string>
                <key>offset</key>
                <string>{-44,57}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{118,124},{188,150}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6029343.png</key>
            <dict>
                <key>frame</key>
                <string>{{374,384},{158,180}}</string>
                <key>offset</key>
                <string>{35,72}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{212,94},{158,180}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6029344.png</key>
            <dict>
                <key>frame</key>
                <string>{{638,1022},{120,150}}</string>
                <key>offset</key>
                <string>{-29,57}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{167,124},{120,150}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6029345.png</key>
            <dict>
                <key>frame</key>
                <string>{{156,1022},{150,154}}</string>
                <key>offset</key>
                <string>{31,59}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{212,120},{150,154}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6029351.png</key>
            <dict>
                <key>frame</key>
                <string>{{310,1082},{148,128}}</string>
                <key>offset</key>
                <string>{39,52}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{221,140},{148,128}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6029352.png</key>
            <dict>
                <key>frame</key>
                <string>{{554,1338},{130,130}}</string>
                <key>offset</key>
                <string>{-18,53}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{173,138},{130,130}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6029353.png</key>
            <dict>
                <key>frame</key>
                <string>{{652,0},{86,204}}</string>
                <key>offset</key>
                <string>{-8,90}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{205,64},{86,204}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6029354.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,506},{178,136}}</string>
                <key>offset</key>
                <string>{-54,56}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{113,132},{178,136}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6029355.png</key>
            <dict>
                <key>frame</key>
                <string>{{852,156},{76,172}}</string>
                <key>offset</key>
                <string>{-3,74}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{215,96},{76,172}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6029511.png</key>
            <dict>
                <key>frame</key>
                <string>{{554,528},{114,174}}</string>
                <key>offset</key>
                <string>{-11,-27}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{188,196},{114,174}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6029512.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,1176},{132,146}}</string>
                <key>offset</key>
                <string>{-3,-56}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{187,239},{132,146}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6029521.png</key>
            <dict>
                <key>frame</key>
                <string>{{856,0},{168,156}}</string>
                <key>offset</key>
                <string>{41,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{213,185},{168,156}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6029522.png</key>
            <dict>
                <key>frame</key>
                <string>{{528,642},{162,144}}</string>
                <key>offset</key>
                <string>{42,-43}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{217,227},{162,144}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6029531.png</key>
            <dict>
                <key>frame</key>
                <string>{{222,86},{212,124}}</string>
                <key>offset</key>
                <string>{82,41}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{232,153},{212,124}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6029532.png</key>
            <dict>
                <key>frame</key>
                <string>{{222,0},{216,86}}</string>
                <key>offset</key>
                <string>{91,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{239,213},{216,86}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6029541.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,908},{156,142}}</string>
                <key>offset</key>
                <string>{64,58}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{242,127},{156,142}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6029542.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,130},{210,114}}</string>
                <key>offset</key>
                <string>{71,34}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{222,165},{210,114}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6029551.png</key>
            <dict>
                <key>frame</key>
                <string>{{808,508},{114,164}}</string>
                <key>offset</key>
                <string>{10,74}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{209,100},{114,164}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6029552.png</key>
            <dict>
                <key>frame</key>
                <string>{{286,1300},{132,136}}</string>
                <key>offset</key>
                <string>{3,60}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{193,128},{132,136}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>6029.pvr.ccz</string>
            <key>size</key>
            <string>{1024,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:7584e044e2d266653bde09b81cc3cf8b:1/1$</string>
            <key>textureFileName</key>
            <string>6029.pvr.ccz</string>
        </dict>
    </dict>
</plist>
