<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>6513111.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,756},{70,60}}</string>
                <key>offset</key>
                <string>{0,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{325,321},{70,60}}</string>
                <key>sourceSize</key>
                <string>{720,720}</string>
            </dict>
            <key>6513112.png</key>
            <dict>
                <key>frame</key>
                <string>{{218,764},{70,56}}</string>
                <key>offset</key>
                <string>{0,11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{325,321},{70,56}}</string>
                <key>sourceSize</key>
                <string>{720,720}</string>
            </dict>
            <key>6513113.png</key>
            <dict>
                <key>frame</key>
                <string>{{454,608},{70,58}}</string>
                <key>offset</key>
                <string>{0,8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{325,323},{70,58}}</string>
                <key>sourceSize</key>
                <string>{720,720}</string>
            </dict>
            <key>6513121.png</key>
            <dict>
                <key>frame</key>
                <string>{{240,530},{78,56}}</string>
                <key>offset</key>
                <string>{-1,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{320,323},{78,56}}</string>
                <key>sourceSize</key>
                <string>{720,720}</string>
            </dict>
            <key>6513122.png</key>
            <dict>
                <key>frame</key>
                <string>{{402,492},{76,58}}</string>
                <key>offset</key>
                <string>{-1,10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{321,321},{76,58}}</string>
                <key>sourceSize</key>
                <string>{720,720}</string>
            </dict>
            <key>6513123.png</key>
            <dict>
                <key>frame</key>
                <string>{{164,388},{82,54}}</string>
                <key>offset</key>
                <string>{2,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{321,325},{82,54}}</string>
                <key>sourceSize</key>
                <string>{720,720}</string>
            </dict>
            <key>6513131.png</key>
            <dict>
                <key>frame</key>
                <string>{{94,114},{94,58}}</string>
                <key>offset</key>
                <string>{7,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{320,324},{94,58}}</string>
                <key>sourceSize</key>
                <string>{720,720}</string>
            </dict>
            <key>6513132.png</key>
            <dict>
                <key>frame</key>
                <string>{{288,70},{92,58}}</string>
                <key>offset</key>
                <string>{8,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{322,324},{92,58}}</string>
                <key>sourceSize</key>
                <string>{720,720}</string>
            </dict>
            <key>6513133.png</key>
            <dict>
                <key>frame</key>
                <string>{{98,56},{96,58}}</string>
                <key>offset</key>
                <string>{9,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{321,324},{96,58}}</string>
                <key>sourceSize</key>
                <string>{720,720}</string>
            </dict>
            <key>6513141.png</key>
            <dict>
                <key>frame</key>
                <string>{{442,346},{82,70}}</string>
                <key>offset</key>
                <string>{2,10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{321,315},{82,70}}</string>
                <key>sourceSize</key>
                <string>{720,720}</string>
            </dict>
            <key>6513142.png</key>
            <dict>
                <key>frame</key>
                <string>{{442,262},{84,70}}</string>
                <key>offset</key>
                <string>{2,9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{320,316},{84,70}}</string>
                <key>sourceSize</key>
                <string>{720,720}</string>
            </dict>
            <key>6513143.png</key>
            <dict>
                <key>frame</key>
                <string>{{182,202},{88,72}}</string>
                <key>offset</key>
                <string>{4,11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{320,313},{88,72}}</string>
                <key>sourceSize</key>
                <string>{720,720}</string>
            </dict>
            <key>6513151.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,556},{70,78}}</string>
                <key>offset</key>
                <string>{0,17}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{325,304},{70,78}}</string>
                <key>sourceSize</key>
                <string>{720,720}</string>
            </dict>
            <key>6513152.png</key>
            <dict>
                <key>frame</key>
                <string>{{80,520},{70,78}}</string>
                <key>offset</key>
                <string>{-1,18}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{324,303},{70,78}}</string>
                <key>sourceSize</key>
                <string>{720,720}</string>
            </dict>
            <key>6513153.png</key>
            <dict>
                <key>frame</key>
                <string>{{246,402},{70,80}}</string>
                <key>offset</key>
                <string>{0,18}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{325,302},{70,80}}</string>
                <key>sourceSize</key>
                <string>{720,720}</string>
            </dict>
            <key>6513211.png</key>
            <dict>
                <key>frame</key>
                <string>{{278,128},{90,56}}</string>
                <key>offset</key>
                <string>{0,10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{315,322},{90,56}}</string>
                <key>sourceSize</key>
                <string>{720,720}</string>
            </dict>
            <key>6513212.png</key>
            <dict>
                <key>frame</key>
                <string>{{456,174},{88,56}}</string>
                <key>offset</key>
                <string>{-1,13}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{315,319},{88,56}}</string>
                <key>sourceSize</key>
                <string>{720,720}</string>
            </dict>
            <key>6513213.png</key>
            <dict>
                <key>frame</key>
                <string>{{366,734},{68,54}}</string>
                <key>offset</key>
                <string>{-2,12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{324,321},{68,54}}</string>
                <key>sourceSize</key>
                <string>{720,720}</string>
            </dict>
            <key>6513214.png</key>
            <dict>
                <key>frame</key>
                <string>{{288,778},{66,54}}</string>
                <key>offset</key>
                <string>{-2,10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{325,323},{66,54}}</string>
                <key>sourceSize</key>
                <string>{720,720}</string>
            </dict>
            <key>6513215.png</key>
            <dict>
                <key>frame</key>
                <string>{{380,118},{90,56}}</string>
                <key>offset</key>
                <string>{0,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{315,323},{90,56}}</string>
                <key>sourceSize</key>
                <string>{720,720}</string>
            </dict>
            <key>6513221.png</key>
            <dict>
                <key>frame</key>
                <string>{{326,420},{80,64}}</string>
                <key>offset</key>
                <string>{0,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{320,323},{80,64}}</string>
                <key>sourceSize</key>
                <string>{720,720}</string>
            </dict>
            <key>6513222.png</key>
            <dict>
                <key>frame</key>
                <string>{{392,550},{74,58}}</string>
                <key>offset</key>
                <string>{-1,10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{322,321},{74,58}}</string>
                <key>sourceSize</key>
                <string>{720,720}</string>
            </dict>
            <key>6513223.png</key>
            <dict>
                <key>frame</key>
                <string>{{234,646},{74,52}}</string>
                <key>offset</key>
                <string>{-7,10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{316,324},{74,52}}</string>
                <key>sourceSize</key>
                <string>{720,720}</string>
            </dict>
            <key>6513224.png</key>
            <dict>
                <key>frame</key>
                <string>{{324,484},{78,56}}</string>
                <key>offset</key>
                <string>{-3,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{318,325},{78,56}}</string>
                <key>sourceSize</key>
                <string>{720,720}</string>
            </dict>
            <key>6513225.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,492},{80,64}}</string>
                <key>offset</key>
                <string>{0,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{320,323},{80,64}}</string>
                <key>sourceSize</key>
                <string>{720,720}</string>
            </dict>
            <key>6513231.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,142},{92,70}}</string>
                <key>offset</key>
                <string>{7,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{321,320},{92,70}}</string>
                <key>sourceSize</key>
                <string>{720,720}</string>
            </dict>
            <key>6513232.png</key>
            <dict>
                <key>frame</key>
                <string>{{292,0},{94,70}}</string>
                <key>offset</key>
                <string>{8,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{321,321},{94,70}}</string>
                <key>sourceSize</key>
                <string>{720,720}</string>
            </dict>
            <key>6513233.png</key>
            <dict>
                <key>frame</key>
                <string>{{386,60},{92,58}}</string>
                <key>offset</key>
                <string>{7,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{321,323},{92,58}}</string>
                <key>sourceSize</key>
                <string>{720,720}</string>
            </dict>
            <key>6513234.png</key>
            <dict>
                <key>frame</key>
                <string>{{194,60},{94,60}}</string>
                <key>offset</key>
                <string>{8,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{321,321},{94,60}}</string>
                <key>sourceSize</key>
                <string>{720,720}</string>
            </dict>
            <key>6513235.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,72},{94,70}}</string>
                <key>offset</key>
                <string>{8,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{321,320},{94,70}}</string>
                <key>sourceSize</key>
                <string>{720,720}</string>
            </dict>
            <key>6513241.png</key>
            <dict>
                <key>frame</key>
                <string>{{158,580},{76,70}}</string>
                <key>offset</key>
                <string>{2,13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{324,312},{76,70}}</string>
                <key>sourceSize</key>
                <string>{720,720}</string>
            </dict>
            <key>6513242.png</key>
            <dict>
                <key>frame</key>
                <string>{{262,328},{84,74}}</string>
                <key>offset</key>
                <string>{4,12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{322,311},{84,74}}</string>
                <key>sourceSize</key>
                <string>{720,720}</string>
            </dict>
            <key>6513243.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,282},{86,72}}</string>
                <key>offset</key>
                <string>{2,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{319,316},{86,72}}</string>
                <key>sourceSize</key>
                <string>{720,720}</string>
            </dict>
            <key>6513244.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,354},{82,72}}</string>
                <key>offset</key>
                <string>{1,12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{320,312},{82,72}}</string>
                <key>sourceSize</key>
                <string>{720,720}</string>
            </dict>
            <key>6513245.png</key>
            <dict>
                <key>frame</key>
                <string>{{162,510},{78,70}}</string>
                <key>offset</key>
                <string>{1,14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{322,311},{78,70}}</string>
                <key>sourceSize</key>
                <string>{720,720}</string>
            </dict>
            <key>6513251.png</key>
            <dict>
                <key>frame</key>
                <string>{{92,172},{90,80}}</string>
                <key>offset</key>
                <string>{0,19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{315,301},{90,80}}</string>
                <key>sourceSize</key>
                <string>{720,720}</string>
            </dict>
            <key>6513252.png</key>
            <dict>
                <key>frame</key>
                <string>{{368,174},{88,86}}</string>
                <key>offset</key>
                <string>{1,21}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{317,296},{88,86}}</string>
                <key>sourceSize</key>
                <string>{720,720}</string>
            </dict>
            <key>6513253.png</key>
            <dict>
                <key>frame</key>
                <string>{{82,452},{68,80}}</string>
                <key>offset</key>
                <string>{2,19}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{328,301},{68,80}}</string>
                <key>sourceSize</key>
                <string>{720,720}</string>
            </dict>
            <key>6513254.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,426},{66,82}}</string>
                <key>offset</key>
                <string>{2,19}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{329,300},{66,82}}</string>
                <key>sourceSize</key>
                <string>{720,720}</string>
            </dict>
            <key>6513255.png</key>
            <dict>
                <key>frame</key>
                <string>{{188,120},{90,82}}</string>
                <key>offset</key>
                <string>{0,20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{315,299},{90,82}}</string>
                <key>sourceSize</key>
                <string>{720,720}</string>
            </dict>
            <key>6513311.png</key>
            <dict>
                <key>frame</key>
                <string>{{86,336},{84,50}}</string>
                <key>offset</key>
                <string>{-5,17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{313,318},{84,50}}</string>
                <key>sourceSize</key>
                <string>{720,720}</string>
            </dict>
            <key>6513312.png</key>
            <dict>
                <key>frame</key>
                <string>{{98,0},{98,56}}</string>
                <key>offset</key>
                <string>{-14,20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{297,312},{98,56}}</string>
                <key>sourceSize</key>
                <string>{720,720}</string>
            </dict>
            <key>6513313.png</key>
            <dict>
                <key>frame</key>
                <string>{{72,724},{70,62}}</string>
                <key>offset</key>
                <string>{2,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{327,322},{70,62}}</string>
                <key>sourceSize</key>
                <string>{720,720}</string>
            </dict>
            <key>6513314.png</key>
            <dict>
                <key>frame</key>
                <string>{{296,722},{70,56}}</string>
                <key>offset</key>
                <string>{1,10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{326,322},{70,56}}</string>
                <key>sourceSize</key>
                <string>{720,720}</string>
            </dict>
            <key>6513315.png</key>
            <dict>
                <key>frame</key>
                <string>{{154,650},{72,72}}</string>
                <key>offset</key>
                <string>{0,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{324,320},{72,72}}</string>
                <key>sourceSize</key>
                <string>{720,720}</string>
            </dict>
            <key>6513321.png</key>
            <dict>
                <key>frame</key>
                <string>{{380,678},{70,56}}</string>
                <key>offset</key>
                <string>{-3,13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{322,319},{70,56}}</string>
                <key>sourceSize</key>
                <string>{720,720}</string>
            </dict>
            <key>6513322.png</key>
            <dict>
                <key>frame</key>
                <string>{{176,334},{84,54}}</string>
                <key>offset</key>
                <string>{-12,15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{306,318},{84,54}}</string>
                <key>sourceSize</key>
                <string>{720,720}</string>
            </dict>
            <key>6513323.png</key>
            <dict>
                <key>frame</key>
                <string>{{234,586},{74,60}}</string>
                <key>offset</key>
                <string>{0,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{323,321},{74,60}}</string>
                <key>sourceSize</key>
                <string>{720,720}</string>
            </dict>
            <key>6513324.png</key>
            <dict>
                <key>frame</key>
                <string>{{308,606},{74,54}}</string>
                <key>offset</key>
                <string>{-1,11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{322,322},{74,54}}</string>
                <key>sourceSize</key>
                <string>{720,720}</string>
            </dict>
            <key>6513325.png</key>
            <dict>
                <key>frame</key>
                <string>{{406,428},{78,64}}</string>
                <key>offset</key>
                <string>{-1,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{320,323},{78,64}}</string>
                <key>sourceSize</key>
                <string>{720,720}</string>
            </dict>
            <key>6513331.png</key>
            <dict>
                <key>frame</key>
                <string>{{382,608},{72,70}}</string>
                <key>offset</key>
                <string>{-5,14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{319,311},{72,70}}</string>
                <key>sourceSize</key>
                <string>{720,720}</string>
            </dict>
            <key>6513332.png</key>
            <dict>
                <key>frame</key>
                <string>{{434,744},{58,64}}</string>
                <key>offset</key>
                <string>{-15,13}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{316,315},{58,64}}</string>
                <key>sourceSize</key>
                <string>{720,720}</string>
            </dict>
            <key>6513333.png</key>
            <dict>
                <key>frame</key>
                <string>{{346,362},{82,58}}</string>
                <key>offset</key>
                <string>{7,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{326,322},{82,58}}</string>
                <key>sourceSize</key>
                <string>{720,720}</string>
            </dict>
            <key>6513334.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,626},{76,60}}</string>
                <key>offset</key>
                <string>{1,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{323,321},{76,60}}</string>
                <key>sourceSize</key>
                <string>{720,720}</string>
            </dict>
            <key>6513335.png</key>
            <dict>
                <key>frame</key>
                <string>{{196,0},{96,60}}</string>
                <key>offset</key>
                <string>{9,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{321,322},{96,60}}</string>
                <key>sourceSize</key>
                <string>{720,720}</string>
            </dict>
            <key>6513341.png</key>
            <dict>
                <key>frame</key>
                <string>{{278,184},{88,76}}</string>
                <key>offset</key>
                <string>{4,14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{320,308},{88,76}}</string>
                <key>sourceSize</key>
                <string>{720,720}</string>
            </dict>
            <key>6513342.png</key>
            <dict>
                <key>frame</key>
                <string>{{270,260},{86,68}}</string>
                <key>offset</key>
                <string>{4,10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{321,316},{86,68}}</string>
                <key>sourceSize</key>
                <string>{720,720}</string>
            </dict>
            <key>6513343.png</key>
            <dict>
                <key>frame</key>
                <string>{{82,386},{82,66}}</string>
                <key>offset</key>
                <string>{2,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{321,318},{82,66}}</string>
                <key>sourceSize</key>
                <string>{720,720}</string>
            </dict>
            <key>6513344.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,686},{72,70}}</string>
                <key>offset</key>
                <string>{-3,10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{321,315},{72,70}}</string>
                <key>sourceSize</key>
                <string>{720,720}</string>
            </dict>
            <key>6513345.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,212},{90,70}}</string>
                <key>offset</key>
                <string>{5,10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{320,315},{90,70}}</string>
                <key>sourceSize</key>
                <string>{720,720}</string>
            </dict>
            <key>6513351.png</key>
            <dict>
                <key>frame</key>
                <string>{{90,252},{84,86}}</string>
                <key>offset</key>
                <string>{5,17}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{323,300},{84,86}}</string>
                <key>sourceSize</key>
                <string>{720,720}</string>
            </dict>
            <key>6513352.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{98,72}}</string>
                <key>offset</key>
                <string>{14,11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{325,313},{98,72}}</string>
                <key>sourceSize</key>
                <string>{720,720}</string>
            </dict>
            <key>6513353.png</key>
            <dict>
                <key>frame</key>
                <string>{{308,660},{72,62}}</string>
                <key>offset</key>
                <string>{-3,11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{321,318},{72,62}}</string>
                <key>sourceSize</key>
                <string>{720,720}</string>
            </dict>
            <key>6513354.png</key>
            <dict>
                <key>frame</key>
                <string>{{226,698},{70,66}}</string>
                <key>offset</key>
                <string>{-1,11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{324,316},{70,66}}</string>
                <key>sourceSize</key>
                <string>{720,720}</string>
            </dict>
            <key>6513355.png</key>
            <dict>
                <key>frame</key>
                <string>{{76,654},{72,70}}</string>
                <key>offset</key>
                <string>{-1,13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{323,312},{72,70}}</string>
                <key>sourceSize</key>
                <string>{720,720}</string>
            </dict>
            <key>6513511.png</key>
            <dict>
                <key>frame</key>
                <string>{{318,540},{66,74}}</string>
                <key>offset</key>
                <string>{4,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{331,321},{66,74}}</string>
                <key>sourceSize</key>
                <string>{720,720}</string>
            </dict>
            <key>6513512.png</key>
            <dict>
                <key>frame</key>
                <string>{{356,312},{86,50}}</string>
                <key>offset</key>
                <string>{0,22}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{317,313},{86,50}}</string>
                <key>sourceSize</key>
                <string>{720,720}</string>
            </dict>
            <key>6513521.png</key>
            <dict>
                <key>frame</key>
                <string>{{148,722},{70,64}}</string>
                <key>offset</key>
                <string>{8,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{333,319},{70,64}}</string>
                <key>sourceSize</key>
                <string>{720,720}</string>
            </dict>
            <key>6513522.png</key>
            <dict>
                <key>frame</key>
                <string>{{356,260},{86,52}}</string>
                <key>offset</key>
                <string>{-12,22}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{305,312},{86,52}}</string>
                <key>sourceSize</key>
                <string>{720,720}</string>
            </dict>
            <key>6513531.png</key>
            <dict>
                <key>frame</key>
                <string>{{386,0},{92,60}}</string>
                <key>offset</key>
                <string>{12,15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{326,315},{92,60}}</string>
                <key>sourceSize</key>
                <string>{720,720}</string>
            </dict>
            <key>6513532.png</key>
            <dict>
                <key>frame</key>
                <string>{{78,590},{76,64}}</string>
                <key>offset</key>
                <string>{-18,14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{304,314},{76,64}}</string>
                <key>sourceSize</key>
                <string>{720,720}</string>
            </dict>
            <key>6513541.png</key>
            <dict>
                <key>frame</key>
                <string>{{244,472},{80,58}}</string>
                <key>offset</key>
                <string>{3,14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{323,317},{80,58}}</string>
                <key>sourceSize</key>
                <string>{720,720}</string>
            </dict>
            <key>6513542.png</key>
            <dict>
                <key>frame</key>
                <string>{{164,442},{80,68}}</string>
                <key>offset</key>
                <string>{-15,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{305,321},{80,68}}</string>
                <key>sourceSize</key>
                <string>{720,720}</string>
            </dict>
            <key>6513551.png</key>
            <dict>
                <key>frame</key>
                <string>{{450,678},{66,62}}</string>
                <key>offset</key>
                <string>{-5,18}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{322,311},{66,62}}</string>
                <key>sourceSize</key>
                <string>{720,720}</string>
            </dict>
            <key>6513552.png</key>
            <dict>
                <key>frame</key>
                <string>{{176,274},{86,60}}</string>
                <key>offset</key>
                <string>{0,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{317,335},{86,60}}</string>
                <key>sourceSize</key>
                <string>{720,720}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>6513.pvr.ccz</string>
            <key>size</key>
            <string>{512,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:8dc1b987c38a4c4c4f1557d3cad73c83:1/1$</string>
            <key>textureFileName</key>
            <string>6513.pvr.ccz</string>
        </dict>
    </dict>
</plist>
