<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>7555111.png</key>
            <dict>
                <key>frame</key>
                <string>{{1232,112},{104,86}}</string>
                <key>offset</key>
                <string>{5,32}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{313,285},{104,86}}</string>
                <key>sourceSize</key>
                <string>{720,720}</string>
            </dict>
            <key>7555112.png</key>
            <dict>
                <key>frame</key>
                <string>{{210,260},{106,88}}</string>
                <key>offset</key>
                <string>{4,32}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{311,284},{106,88}}</string>
                <key>sourceSize</key>
                <string>{720,720}</string>
            </dict>
            <key>7555113.png</key>
            <dict>
                <key>frame</key>
                <string>{{828,112},{104,86}}</string>
                <key>offset</key>
                <string>{4,31}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{312,286},{104,86}}</string>
                <key>sourceSize</key>
                <string>{720,720}</string>
            </dict>
            <key>7555121.png</key>
            <dict>
                <key>frame</key>
                <string>{{1204,328},{82,96}}</string>
                <key>offset</key>
                <string>{-8,33}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{311,279},{82,96}}</string>
                <key>sourceSize</key>
                <string>{720,720}</string>
            </dict>
            <key>7555122.png</key>
            <dict>
                <key>frame</key>
                <string>{{822,218},{84,96}}</string>
                <key>offset</key>
                <string>{-9,33}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{309,279},{84,96}}</string>
                <key>sourceSize</key>
                <string>{720,720}</string>
            </dict>
            <key>7555123.png</key>
            <dict>
                <key>frame</key>
                <string>{{1706,408},{84,92}}</string>
                <key>offset</key>
                <string>{-9,33}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{309,281},{84,92}}</string>
                <key>sourceSize</key>
                <string>{720,720}</string>
            </dict>
            <key>7555131.png</key>
            <dict>
                <key>frame</key>
                <string>{{1476,320},{62,112}}</string>
                <key>offset</key>
                <string>{-7,27}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{322,277},{62,112}}</string>
                <key>sourceSize</key>
                <string>{720,720}</string>
            </dict>
            <key>7555132.png</key>
            <dict>
                <key>frame</key>
                <string>{{1628,112},{62,112}}</string>
                <key>offset</key>
                <string>{-8,27}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{321,277},{62,112}}</string>
                <key>sourceSize</key>
                <string>{720,720}</string>
            </dict>
            <key>7555133.png</key>
            <dict>
                <key>frame</key>
                <string>{{1408,422},{64,112}}</string>
                <key>offset</key>
                <string>{-7,28}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{321,276},{64,112}}</string>
                <key>sourceSize</key>
                <string>{720,720}</string>
            </dict>
            <key>7555141.png</key>
            <dict>
                <key>frame</key>
                <string>{{210,136},{106,122}}</string>
                <key>offset</key>
                <string>{-15,31}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{292,268},{106,122}}</string>
                <key>sourceSize</key>
                <string>{720,720}</string>
            </dict>
            <key>7555142.png</key>
            <dict>
                <key>frame</key>
                <string>{{318,216},{102,120}}</string>
                <key>offset</key>
                <string>{-15,30}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{294,270},{102,120}}</string>
                <key>sourceSize</key>
                <string>{720,720}</string>
            </dict>
            <key>7555143.png</key>
            <dict>
                <key>frame</key>
                <string>{{440,202},{102,122}}</string>
                <key>offset</key>
                <string>{-15,31}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{294,268},{102,122}}</string>
                <key>sourceSize</key>
                <string>{720,720}</string>
            </dict>
            <key>7555151.png</key>
            <dict>
                <key>frame</key>
                <string>{{1016,208},{104,118}}</string>
                <key>offset</key>
                <string>{-6,36}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{302,265},{104,118}}</string>
                <key>sourceSize</key>
                <string>{720,720}</string>
            </dict>
            <key>7555152.png</key>
            <dict>
                <key>frame</key>
                <string>{{210,350},{106,118}}</string>
                <key>offset</key>
                <string>{-6,36}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{301,265},{106,118}}</string>
                <key>sourceSize</key>
                <string>{720,720}</string>
            </dict>
            <key>7555153.png</key>
            <dict>
                <key>frame</key>
                <string>{{558,308},{104,118}}</string>
                <key>offset</key>
                <string>{-6,36}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{302,265},{104,118}}</string>
                <key>sourceSize</key>
                <string>{720,720}</string>
            </dict>
            <key>7555211.png</key>
            <dict>
                <key>frame</key>
                <string>{{114,276},{92,94}}</string>
                <key>offset</key>
                <string>{-1,33}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{313,280},{92,94}}</string>
                <key>sourceSize</key>
                <string>{720,720}</string>
            </dict>
            <key>7555212.png</key>
            <dict>
                <key>frame</key>
                <string>{{1382,328},{92,92}}</string>
                <key>offset</key>
                <string>{-1,35}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{313,279},{92,92}}</string>
                <key>sourceSize</key>
                <string>{720,720}</string>
            </dict>
            <key>7555213.png</key>
            <dict>
                <key>frame</key>
                <string>{{1706,320},{92,86}}</string>
                <key>offset</key>
                <string>{-2,38}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{312,279},{92,86}}</string>
                <key>sourceSize</key>
                <string>{720,720}</string>
            </dict>
            <key>7555214.png</key>
            <dict>
                <key>frame</key>
                <string>{{1142,112},{94,88}}</string>
                <key>offset</key>
                <string>{0,34}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{313,282},{94,88}}</string>
                <key>sourceSize</key>
                <string>{720,720}</string>
            </dict>
            <key>7555215.png</key>
            <dict>
                <key>frame</key>
                <string>{{1856,188},{98,84}}</string>
                <key>offset</key>
                <string>{2,35}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{313,283},{98,84}}</string>
                <key>sourceSize</key>
                <string>{720,720}</string>
            </dict>
            <key>7555216.png</key>
            <dict>
                <key>frame</key>
                <string>{{920,214},{94,88}}</string>
                <key>offset</key>
                <string>{0,35}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{313,281},{94,88}}</string>
                <key>sourceSize</key>
                <string>{720,720}</string>
            </dict>
            <key>7555221.png</key>
            <dict>
                <key>frame</key>
                <string>{{1818,274},{80,100}}</string>
                <key>offset</key>
                <string>{-12,32}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{308,278},{80,100}}</string>
                <key>sourceSize</key>
                <string>{720,720}</string>
            </dict>
            <key>7555222.png</key>
            <dict>
                <key>frame</key>
                <string>{{1620,318},{84,98}}</string>
                <key>offset</key>
                <string>{-14,33}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{304,278},{84,98}}</string>
                <key>sourceSize</key>
                <string>{720,720}</string>
            </dict>
            <key>7555223.png</key>
            <dict>
                <key>frame</key>
                <string>{{1120,328},{82,96}}</string>
                <key>offset</key>
                <string>{-16,36}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{303,276},{82,96}}</string>
                <key>sourceSize</key>
                <string>{720,720}</string>
            </dict>
            <key>7555224.png</key>
            <dict>
                <key>frame</key>
                <string>{{458,442},{94,90}}</string>
                <key>offset</key>
                <string>{-14,38}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{299,277},{94,90}}</string>
                <key>sourceSize</key>
                <string>{720,720}</string>
            </dict>
            <key>7555225.png</key>
            <dict>
                <key>frame</key>
                <string>{{1800,434},{86,88}}</string>
                <key>offset</key>
                <string>{-16,38}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{301,278},{86,88}}</string>
                <key>sourceSize</key>
                <string>{720,720}</string>
            </dict>
            <key>7555226.png</key>
            <dict>
                <key>frame</key>
                <string>{{1622,418},{80,98}}</string>
                <key>offset</key>
                <string>{-16,34}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{304,277},{80,98}}</string>
                <key>sourceSize</key>
                <string>{720,720}</string>
            </dict>
            <key>7555231.png</key>
            <dict>
                <key>frame</key>
                <string>{{1224,218},{86,108}}</string>
                <key>offset</key>
                <string>{-16,32}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{301,274},{86,108}}</string>
                <key>sourceSize</key>
                <string>{720,720}</string>
            </dict>
            <key>7555232.png</key>
            <dict>
                <key>frame</key>
                <string>{{1540,318},{78,108}}</string>
                <key>offset</key>
                <string>{-19,32}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{302,274},{78,108}}</string>
                <key>sourceSize</key>
                <string>{720,720}</string>
            </dict>
            <key>7555233.png</key>
            <dict>
                <key>frame</key>
                <string>{{1544,428},{76,108}}</string>
                <key>offset</key>
                <string>{-18,33}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{304,273},{76,108}}</string>
                <key>sourceSize</key>
                <string>{720,720}</string>
            </dict>
            <key>7555234.png</key>
            <dict>
                <key>frame</key>
                <string>{{1778,104},{76,110}}</string>
                <key>offset</key>
                <string>{-17,33}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{305,272},{76,110}}</string>
                <key>sourceSize</key>
                <string>{720,720}</string>
            </dict>
            <key>7555235.png</key>
            <dict>
                <key>frame</key>
                <string>{{1330,426},{76,110}}</string>
                <key>offset</key>
                <string>{-16,32}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{306,273},{76,110}}</string>
                <key>sourceSize</key>
                <string>{720,720}</string>
            </dict>
            <key>7555236.png</key>
            <dict>
                <key>frame</key>
                <string>{{1168,426},{80,110}}</string>
                <key>offset</key>
                <string>{-19,32}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{301,273},{80,110}}</string>
                <key>sourceSize</key>
                <string>{720,720}</string>
            </dict>
            <key>7555241.png</key>
            <dict>
                <key>frame</key>
                <string>{{1532,2},{108,124}}</string>
                <key>offset</key>
                <string>{-21,30}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{285,268},{108,124}}</string>
                <key>sourceSize</key>
                <string>{720,720}</string>
            </dict>
            <key>7555242.png</key>
            <dict>
                <key>frame</key>
                <string>{{564,208},{98,126}}</string>
                <key>offset</key>
                <string>{-22,29}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{289,268},{98,126}}</string>
                <key>sourceSize</key>
                <string>{720,720}</string>
            </dict>
            <key>7555243.png</key>
            <dict>
                <key>frame</key>
                <string>{{1790,2},{96,130}}</string>
                <key>offset</key>
                <string>{-19,29}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{293,266},{96,130}}</string>
                <key>sourceSize</key>
                <string>{720,720}</string>
            </dict>
            <key>7555244.png</key>
            <dict>
                <key>frame</key>
                <string>{{1272,2},{104,130}}</string>
                <key>offset</key>
                <string>{-18,28}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{290,267},{104,130}}</string>
                <key>sourceSize</key>
                <string>{720,720}</string>
            </dict>
            <key>7555245.png</key>
            <dict>
                <key>frame</key>
                <string>{{1142,2},{108,128}}</string>
                <key>offset</key>
                <string>{-20,28}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{286,268},{108,128}}</string>
                <key>sourceSize</key>
                <string>{720,720}</string>
            </dict>
            <key>7555246.png</key>
            <dict>
                <key>frame</key>
                <string>{{1404,2},{106,126}}</string>
                <key>offset</key>
                <string>{-21,31}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{286,266},{106,126}}</string>
                <key>sourceSize</key>
                <string>{720,720}</string>
            </dict>
            <key>7555251.png</key>
            <dict>
                <key>frame</key>
                <string>{{566,112},{94,130}}</string>
                <key>offset</key>
                <string>{-1,28}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{312,267},{94,130}}</string>
                <key>sourceSize</key>
                <string>{720,720}</string>
            </dict>
            <key>7555252.png</key>
            <dict>
                <key>frame</key>
                <string>{{664,308},{92,128}}</string>
                <key>offset</key>
                <string>{-1,28}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{313,268},{92,128}}</string>
                <key>sourceSize</key>
                <string>{720,720}</string>
            </dict>
            <key>7555253.png</key>
            <dict>
                <key>frame</key>
                <string>{{692,210},{92,128}}</string>
                <key>offset</key>
                <string>{0,31}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{314,265},{92,128}}</string>
                <key>sourceSize</key>
                <string>{720,720}</string>
            </dict>
            <key>7555254.png</key>
            <dict>
                <key>frame</key>
                <string>{{698,112},{96,128}}</string>
                <key>offset</key>
                <string>{-2,31}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{310,265},{96,128}}</string>
                <key>sourceSize</key>
                <string>{720,720}</string>
            </dict>
            <key>7555255.png</key>
            <dict>
                <key>frame</key>
                <string>{{436,102},{98,128}}</string>
                <key>offset</key>
                <string>{-4,30}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{307,266},{98,128}}</string>
                <key>sourceSize</key>
                <string>{720,720}</string>
            </dict>
            <key>7555256.png</key>
            <dict>
                <key>frame</key>
                <string>{{114,144},{94,130}}</string>
                <key>offset</key>
                <string>{-2,29}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{311,266},{94,130}}</string>
                <key>sourceSize</key>
                <string>{720,720}</string>
            </dict>
            <key>7555311.png</key>
            <dict>
                <key>frame</key>
                <string>{{558,428},{104,108}}</string>
                <key>offset</key>
                <string>{4,21}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{312,285},{104,108}}</string>
                <key>sourceSize</key>
                <string>{720,720}</string>
            </dict>
            <key>7555312.png</key>
            <dict>
                <key>frame</key>
                <string>{{1658,2},{130,100}}</string>
                <key>offset</key>
                <string>{-5,38}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{290,272},{130,100}}</string>
                <key>sourceSize</key>
                <string>{720,720}</string>
            </dict>
            <key>7555313.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{166,140}}</string>
                <key>offset</key>
                <string>{-23,58}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{254,232},{166,140}}</string>
                <key>sourceSize</key>
                <string>{720,720}</string>
            </dict>
            <key>7555314.png</key>
            <dict>
                <key>frame</key>
                <string>{{742,2},{132,108}}</string>
                <key>offset</key>
                <string>{-15,42}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{279,264},{132,108}}</string>
                <key>sourceSize</key>
                <string>{720,720}</string>
            </dict>
            <key>7555315.png</key>
            <dict>
                <key>frame</key>
                <string>{{1288,328},{96,92}}</string>
                <key>offset</key>
                <string>{22,23}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{334,291},{96,92}}</string>
                <key>sourceSize</key>
                <string>{720,720}</string>
            </dict>
            <key>7555316.png</key>
            <dict>
                <key>frame</key>
                <string>{{916,110},{102,92}}</string>
                <key>offset</key>
                <string>{11,27}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{320,287},{102,92}}</string>
                <key>sourceSize</key>
                <string>{720,720}</string>
            </dict>
            <key>7555321.png</key>
            <dict>
                <key>frame</key>
                <string>{{424,320},{66,120}}</string>
                <key>offset</key>
                <string>{0,20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{327,280},{66,120}}</string>
                <key>sourceSize</key>
                <string>{720,720}</string>
            </dict>
            <key>7555322.png</key>
            <dict>
                <key>frame</key>
                <string>{{970,426},{106,110}}</string>
                <key>offset</key>
                <string>{-10,25}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{297,280},{106,110}}</string>
                <key>sourceSize</key>
                <string>{720,720}</string>
            </dict>
            <key>7555323.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,316},{166,96}}</string>
                <key>offset</key>
                <string>{-35,38}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{242,274},{166,96}}</string>
                <key>sourceSize</key>
                <string>{720,720}</string>
            </dict>
            <key>7555324.png</key>
            <dict>
                <key>frame</key>
                <string>{{758,304},{128,84}}</string>
                <key>offset</key>
                <string>{-17,32}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{279,286},{128,84}}</string>
                <key>sourceSize</key>
                <string>{720,720}</string>
            </dict>
            <key>7555325.png</key>
            <dict>
                <key>frame</key>
                <string>{{924,304},{120,90}}</string>
                <key>offset</key>
                <string>{32,35}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{332,280},{120,90}}</string>
                <key>sourceSize</key>
                <string>{720,720}</string>
            </dict>
            <key>7555326.png</key>
            <dict>
                <key>frame</key>
                <string>{{1732,226},{84,92}}</string>
                <key>offset</key>
                <string>{14,36}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{332,278},{84,92}}</string>
                <key>sourceSize</key>
                <string>{720,720}</string>
            </dict>
            <key>7555331.png</key>
            <dict>
                <key>frame</key>
                <string>{{664,438},{98,104}}</string>
                <key>offset</key>
                <string>{9,32}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{320,276},{98,104}}</string>
                <key>sourceSize</key>
                <string>{720,720}</string>
            </dict>
            <key>7555332.png</key>
            <dict>
                <key>frame</key>
                <string>{{492,306},{64,126}}</string>
                <key>offset</key>
                <string>{-10,21}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{318,276},{64,126}}</string>
                <key>sourceSize</key>
                <string>{720,720}</string>
            </dict>
            <key>7555333.png</key>
            <dict>
                <key>frame</key>
                <string>{{1016,328},{102,96}}</string>
                <key>offset</key>
                <string>{-18,34}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{291,278},{102,96}}</string>
                <key>sourceSize</key>
                <string>{720,720}</string>
            </dict>
            <key>7555334.png</key>
            <dict>
                <key>frame</key>
                <string>{{1856,100},{86,98}}</string>
                <key>offset</key>
                <string>{-9,35}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{308,276},{86,98}}</string>
                <key>sourceSize</key>
                <string>{720,720}</string>
            </dict>
            <key>7555335.png</key>
            <dict>
                <key>frame</key>
                <string>{{468,2},{138,98}}</string>
                <key>offset</key>
                <string>{48,35}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{339,276},{138,98}}</string>
                <key>sourceSize</key>
                <string>{720,720}</string>
            </dict>
            <key>7555336.png</key>
            <dict>
                <key>frame</key>
                <string>{{1800,356},{76,98}}</string>
                <key>offset</key>
                <string>{16,35}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{338,276},{76,98}}</string>
                <key>sourceSize</key>
                <string>{720,720}</string>
            </dict>
            <key>7555341.png</key>
            <dict>
                <key>frame</key>
                <string>{{876,2},{132,106}}</string>
                <key>offset</key>
                <string>{2,39}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{296,268},{132,106}}</string>
                <key>sourceSize</key>
                <string>{720,720}</string>
            </dict>
            <key>7555342.png</key>
            <dict>
                <key>frame</key>
                <string>{{318,100},{116,114}}</string>
                <key>offset</key>
                <string>{-7,30}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{295,273},{116,114}}</string>
                <key>sourceSize</key>
                <string>{720,720}</string>
            </dict>
            <key>7555343.png</key>
            <dict>
                <key>frame</key>
                <string>{{1312,226},{102,100}}</string>
                <key>offset</key>
                <string>{-15,36}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{294,274},{102,100}}</string>
                <key>sourceSize</key>
                <string>{720,720}</string>
            </dict>
            <key>7555344.png</key>
            <dict>
                <key>frame</key>
                <string>{{878,428},{90,108}}</string>
                <key>offset</key>
                <string>{4,40}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{319,266},{90,108}}</string>
                <key>sourceSize</key>
                <string>{720,720}</string>
            </dict>
            <key>7555345.png</key>
            <dict>
                <key>frame</key>
                <string>{{170,2},{146,132}}</string>
                <key>offset</key>
                <string>{12,52}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{299,242},{146,132}}</string>
                <key>sourceSize</key>
                <string>{720,720}</string>
            </dict>
            <key>7555346.png</key>
            <dict>
                <key>frame</key>
                <string>{{1624,226},{88,106}}</string>
                <key>offset</key>
                <string>{1,39}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{317,268},{88,106}}</string>
                <key>sourceSize</key>
                <string>{720,720}</string>
            </dict>
            <key>7555351.png</key>
            <dict>
                <key>frame</key>
                <string>{{318,320},{104,120}}</string>
                <key>offset</key>
                <string>{-6,36}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{302,264},{104,120}}</string>
                <key>sourceSize</key>
                <string>{720,720}</string>
            </dict>
            <key>7555352.png</key>
            <dict>
                <key>frame</key>
                <string>{{1010,2},{130,112}}</string>
                <key>offset</key>
                <string>{4,36}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{299,268},{130,112}}</string>
                <key>sourceSize</key>
                <string>{720,720}</string>
            </dict>
            <key>7555353.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,144},{170,110}}</string>
                <key>offset</key>
                <string>{22,36}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{297,269},{170,110}}</string>
                <key>sourceSize</key>
                <string>{720,720}</string>
            </dict>
            <key>7555354.png</key>
            <dict>
                <key>frame</key>
                <string>{{608,2},{132,108}}</string>
                <key>offset</key>
                <string>{13,44}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{307,262},{132,108}}</string>
                <key>sourceSize</key>
                <string>{720,720}</string>
            </dict>
            <key>7555355.png</key>
            <dict>
                <key>frame</key>
                <string>{{318,2},{96,148}}</string>
                <key>offset</key>
                <string>{-23,64}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{289,222},{96,148}}</string>
                <key>sourceSize</key>
                <string>{720,720}</string>
            </dict>
            <key>7555356.png</key>
            <dict>
                <key>frame</key>
                <string>{{770,434},{102,106}}</string>
                <key>offset</key>
                <string>{-13,43}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{296,264},{102,106}}</string>
                <key>sourceSize</key>
                <string>{720,720}</string>
            </dict>
            <key>7555511.png</key>
            <dict>
                <key>frame</key>
                <string>{{1404,110},{116,104}}</string>
                <key>offset</key>
                <string>{-9,40}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{293,268},{116,104}}</string>
                <key>sourceSize</key>
                <string>{720,720}</string>
            </dict>
            <key>7555512.png</key>
            <dict>
                <key>frame</key>
                <string>{{1416,216},{102,102}}</string>
                <key>offset</key>
                <string>{-7,49}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{302,260},{102,102}}</string>
                <key>sourceSize</key>
                <string>{720,720}</string>
            </dict>
            <key>7555513.png</key>
            <dict>
                <key>frame</key>
                <string>{{1122,208},{118,100}}</string>
                <key>offset</key>
                <string>{5,33}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{306,277},{118,100}}</string>
                <key>sourceSize</key>
                <string>{720,720}</string>
            </dict>
            <key>7555521.png</key>
            <dict>
                <key>frame</key>
                <string>{{844,304},{78,122}}</string>
                <key>offset</key>
                <string>{-6,27}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{315,272},{78,122}}</string>
                <key>sourceSize</key>
                <string>{720,720}</string>
            </dict>
            <key>7555522.png</key>
            <dict>
                <key>frame</key>
                <string>{{100,370},{112,108}}</string>
                <key>offset</key>
                <string>{-20,32}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{284,274},{112,108}}</string>
                <key>sourceSize</key>
                <string>{720,720}</string>
            </dict>
            <key>7555523.png</key>
            <dict>
                <key>frame</key>
                <string>{{1692,104},{120,84}}</string>
                <key>offset</key>
                <string>{-22,26}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{278,292},{120,84}}</string>
                <key>sourceSize</key>
                <string>{720,720}</string>
            </dict>
            <key>7555531.png</key>
            <dict>
                <key>frame</key>
                <string>{{210,470},{66,124}}</string>
                <key>offset</key>
                <string>{-9,22}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{318,276},{66,124}}</string>
                <key>sourceSize</key>
                <string>{720,720}</string>
            </dict>
            <key>7555532.png</key>
            <dict>
                <key>frame</key>
                <string>{{1522,112},{104,104}}</string>
                <key>offset</key>
                <string>{-30,20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{278,288},{104,104}}</string>
                <key>sourceSize</key>
                <string>{720,720}</string>
            </dict>
            <key>7555533.png</key>
            <dict>
                <key>frame</key>
                <string>{{1010,116},{128,90}}</string>
                <key>offset</key>
                <string>{-41,10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{255,305},{128,90}}</string>
                <key>sourceSize</key>
                <string>{720,720}</string>
            </dict>
            <key>7555541.png</key>
            <dict>
                <key>frame</key>
                <string>{{1520,218},{102,98}}</string>
                <key>offset</key>
                <string>{7,24}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{316,287},{102,98}}</string>
                <key>sourceSize</key>
                <string>{720,720}</string>
            </dict>
            <key>7555542.png</key>
            <dict>
                <key>frame</key>
                <string>{{1250,426},{110,78}}</string>
                <key>offset</key>
                <string>{-14,12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{291,309},{110,78}}</string>
                <key>sourceSize</key>
                <string>{720,720}</string>
            </dict>
            <key>7555543.png</key>
            <dict>
                <key>frame</key>
                <string>{{1078,426},{110,88}}</string>
                <key>offset</key>
                <string>{-30,-10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{275,326},{110,88}}</string>
                <key>sourceSize</key>
                <string>{720,720}</string>
            </dict>
            <key>7555551.png</key>
            <dict>
                <key>frame</key>
                <string>{{1320,108},{116,82}}</string>
                <key>offset</key>
                <string>{7,31}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{309,288},{116,82}}</string>
                <key>sourceSize</key>
                <string>{720,720}</string>
            </dict>
            <key>7555552.png</key>
            <dict>
                <key>frame</key>
                <string>{{1474,434},{102,68}}</string>
                <key>offset</key>
                <string>{5,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{314,323},{102,68}}</string>
                <key>sourceSize</key>
                <string>{720,720}</string>
            </dict>
            <key>7555553.png</key>
            <dict>
                <key>frame</key>
                <string>{{336,442},{120,94}}</string>
                <key>offset</key>
                <string>{-7,-17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{293,330},{120,94}}</string>
                <key>sourceSize</key>
                <string>{720,720}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>7555.pvr.ccz</string>
            <key>size</key>
            <string>{1956,538}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:63cca4f796841cfd89cd755e61a6f6f9:1/1$</string>
            <key>textureFileName</key>
            <string>7555.pvr.ccz</string>
        </dict>
    </dict>
</plist>
