<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>7004111.png</key>
            <dict>
                <key>frame</key>
                <string>{{1186,1186},{174,154}}</string>
                <key>offset</key>
                <string>{17,73}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{186,106},{174,154}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>7004112.png</key>
            <dict>
                <key>frame</key>
                <string>{{1360,1216},{174,150}}</string>
                <key>offset</key>
                <string>{17,71}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{186,110},{174,150}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>7004113.png</key>
            <dict>
                <key>frame</key>
                <string>{{482,958},{178,154}}</string>
                <key>offset</key>
                <string>{20,73}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{187,106},{178,154}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>7004121.png</key>
            <dict>
                <key>frame</key>
                <string>{{1352,0},{258,158}}</string>
                <key>offset</key>
                <string>{-23,67}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{104,110},{258,158}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>7004122.png</key>
            <dict>
                <key>frame</key>
                <string>{{1608,174},{256,160}}</string>
                <key>offset</key>
                <string>{-25,63}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{103,113},{256,160}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>7004123.png</key>
            <dict>
                <key>frame</key>
                <string>{{822,154},{262,154}}</string>
                <key>offset</key>
                <string>{-22,66}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{103,113},{262,154}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>7004131.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,330},{258,172}}</string>
                <key>offset</key>
                <string>{-79,64}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{48,106},{258,172}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>7004132.png</key>
            <dict>
                <key>frame</key>
                <string>{{1084,170},{254,174}}</string>
                <key>offset</key>
                <string>{-82,63}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{47,106},{254,174}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>7004133.png</key>
            <dict>
                <key>frame</key>
                <string>{{1352,158},{256,170}}</string>
                <key>offset</key>
                <string>{-80,67}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{48,104},{256,170}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>7004141.png</key>
            <dict>
                <key>frame</key>
                <string>{{770,466},{188,242}}</string>
                <key>offset</key>
                <string>{-53,31}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{109,104},{188,242}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>7004142.png</key>
            <dict>
                <key>frame</key>
                <string>{{744,654},{186,238}}</string>
                <key>offset</key>
                <string>{-51,29}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{112,108},{186,238}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>7004143.png</key>
            <dict>
                <key>frame</key>
                <string>{{502,506},{186,242}}</string>
                <key>offset</key>
                <string>{-51,30}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{112,105},{186,242}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>7004151.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,660},{172,242}}</string>
                <key>offset</key>
                <string>{-17,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{153,141},{172,242}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>7004152.png</key>
            <dict>
                <key>frame</key>
                <string>{{1252,650},{174,238}}</string>
                <key>offset</key>
                <string>{-18,-9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{151,146},{174,238}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>7004153.png</key>
            <dict>
                <key>frame</key>
                <string>{{486,692},{178,238}}</string>
                <key>offset</key>
                <string>{-21,-8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{146,145},{178,238}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>7004211.png</key>
            <dict>
                <key>frame</key>
                <string>{{1012,1084},{174,154}}</string>
                <key>offset</key>
                <string>{17,73}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{186,106},{174,154}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>7004212.png</key>
            <dict>
                <key>frame</key>
                <string>{{1534,1304},{172,158}}</string>
                <key>offset</key>
                <string>{16,75}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{186,102},{172,158}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>7004213.png</key>
            <dict>
                <key>frame</key>
                <string>{{836,1084},{176,154}}</string>
                <key>offset</key>
                <string>{18,73}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{186,106},{176,154}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>7004214.png</key>
            <dict>
                <key>frame</key>
                <string>{{660,1026},{176,160}}</string>
                <key>offset</key>
                <string>{21,77}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{189,99},{176,160}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>7004215.png</key>
            <dict>
                <key>frame</key>
                <string>{{1406,1062},{178,154}}</string>
                <key>offset</key>
                <string>{20,73}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{187,106},{178,154}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>7004221.png</key>
            <dict>
                <key>frame</key>
                <string>{{804,308},{246,158}}</string>
                <key>offset</key>
                <string>{-17,67}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{116,110},{246,158}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>7004222.png</key>
            <dict>
                <key>frame</key>
                <string>{{552,0},{270,160}}</string>
                <key>offset</key>
                <string>{-32,64}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{89,112},{270,160}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>7004223.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{276,160}}</string>
                <key>offset</key>
                <string>{-35,64}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{83,112},{276,160}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>7004224.png</key>
            <dict>
                <key>frame</key>
                <string>{{822,0},{266,154}}</string>
                <key>offset</key>
                <string>{-26,65}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{97,114},{266,154}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>7004225.png</key>
            <dict>
                <key>frame</key>
                <string>{{1586,834},{236,154}}</string>
                <key>offset</key>
                <string>{-9,68}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{129,111},{236,154}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>7004231.png</key>
            <dict>
                <key>frame</key>
                <string>{{544,160},{260,172}}</string>
                <key>offset</key>
                <string>{-80,64}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{46,106},{260,172}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>7004232.png</key>
            <dict>
                <key>frame</key>
                <string>{{276,146},{268,174}}</string>
                <key>offset</key>
                <string>{-88,62}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{34,107},{268,174}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>7004233.png</key>
            <dict>
                <key>frame</key>
                <string>{{1610,0},{256,174}}</string>
                <key>offset</key>
                <string>{-83,64}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{45,105},{256,174}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>7004234.png</key>
            <dict>
                <key>frame</key>
                <string>{{1088,0},{264,170}}</string>
                <key>offset</key>
                <string>{-85,67}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{39,104},{264,170}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>7004235.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,160},{266,170}}</string>
                <key>offset</key>
                <string>{-83,68}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{40,103},{266,170}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>7004241.png</key>
            <dict>
                <key>frame</key>
                <string>{{1840,568},{208,242}}</string>
                <key>offset</key>
                <string>{-63,31}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{89,104},{208,242}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>7004242.png</key>
            <dict>
                <key>frame</key>
                <string>{{1338,328},{188,252}}</string>
                <key>offset</key>
                <string>{-53,24}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{109,106},{188,252}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>7004243.png</key>
            <dict>
                <key>frame</key>
                <string>{{1590,488},{172,250}}</string>
                <key>offset</key>
                <string>{-44,23}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{126,108},{172,250}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>7004244.png</key>
            <dict>
                <key>frame</key>
                <string>{{1050,344},{194,242}}</string>
                <key>offset</key>
                <string>{-55,29}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{104,106},{194,242}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>7004245.png</key>
            <dict>
                <key>frame</key>
                <string>{{1822,950},{220,228}}</string>
                <key>offset</key>
                <string>{-68,39}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{78,103},{220,228}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>7004251.png</key>
            <dict>
                <key>frame</key>
                <string>{{258,482},{174,244}}</string>
                <key>offset</key>
                <string>{-17,-7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{152,141},{174,244}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>7004252.png</key>
            <dict>
                <key>frame</key>
                <string>{{526,332},{174,244}}</string>
                <key>offset</key>
                <string>{-16,-10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{153,144},{174,244}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>7004253.png</key>
            <dict>
                <key>frame</key>
                <string>{{1586,660},{174,236}}</string>
                <key>offset</key>
                <string>{-19,-9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{150,147},{174,236}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>7004254.png</key>
            <dict>
                <key>frame</key>
                <string>{{1864,326},{178,242}}</string>
                <key>offset</key>
                <string>{-21,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{146,145},{178,242}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>7004255.png</key>
            <dict>
                <key>frame</key>
                <string>{{244,656},{176,242}}</string>
                <key>offset</key>
                <string>{-20,-8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{148,143},{176,242}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>7004311.png</key>
            <dict>
                <key>frame</key>
                <string>{{936,998},{86,198}}</string>
                <key>offset</key>
                <string>{-4,95}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{209,62},{86,198}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>7004312.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,1108},{90,190}}</string>
                <key>offset</key>
                <string>{-5,92}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{206,69},{90,190}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>7004313.png</key>
            <dict>
                <key>frame</key>
                <string>{{384,1010},{94,168}}</string>
                <key>offset</key>
                <string>{-3,38}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{206,134},{94,168}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>7004314.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,1360},{142,158}}</string>
                <key>offset</key>
                <string>{-23,46}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{162,131},{142,158}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>7004315.png</key>
            <dict>
                <key>frame</key>
                <string>{{386,832},{96,178}}</string>
                <key>offset</key>
                <string>{-3,37}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{205,130},{96,178}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>7004321.png</key>
            <dict>
                <key>frame</key>
                <string>{{1866,0},{182,194}}</string>
                <key>offset</key>
                <string>{-25,83}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{140,76},{182,194}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>7004322.png</key>
            <dict>
                <key>frame</key>
                <string>{{194,976},{190,176}}</string>
                <key>offset</key>
                <string>{-21,74}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{140,94},{190,176}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>7004323.png</key>
            <dict>
                <key>frame</key>
                <string>{{1822,810},{224,140}}</string>
                <key>offset</key>
                <string>{-5,54}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{139,132},{224,140}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>7004324.png</key>
            <dict>
                <key>frame</key>
                <string>{{190,1152},{150,178}}</string>
                <key>offset</key>
                <string>{-44,25}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{137,142},{150,178}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>7004325.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,1198},{162,176}}</string>
                <key>offset</key>
                <string>{-39,32}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{136,136},{162,176}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>7004331.png</key>
            <dict>
                <key>frame</key>
                <string>{{1586,988},{210,166}}</string>
                <key>offset</key>
                <string>{-37,55}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{114,118},{210,166}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>7004332.png</key>
            <dict>
                <key>frame</key>
                <string>{{1584,1154},{206,150}}</string>
                <key>offset</key>
                <string>{-36,45}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{117,136},{206,150}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>7004333.png</key>
            <dict>
                <key>frame</key>
                <string>{{276,0},{276,146}}</string>
                <key>offset</key>
                <string>{0,43}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{118,140},{276,146}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>7004334.png</key>
            <dict>
                <key>frame</key>
                <string>{{1408,868},{194,178}}</string>
                <key>offset</key>
                <string>{-42,32}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{117,135},{194,178}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>7004335.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,502},{244,158}}</string>
                <key>offset</key>
                <string>{-19,52}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{115,125},{244,158}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>7004341.png</key>
            <dict>
                <key>frame</key>
                <string>{{654,1186},{142,176}}</string>
                <key>offset</key>
                <string>{-40,15}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{145,153},{142,176}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>7004342.png</key>
            <dict>
                <key>frame</key>
                <string>{{1864,194},{132,180}}</string>
                <key>offset</key>
                <string>{-43,17}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{147,149},{132,180}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>7004343.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,832},{194,186}}</string>
                <key>offset</key>
                <string>{-9,19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{150,144},{194,186}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>7004344.png</key>
            <dict>
                <key>frame</key>
                <string>{{1196,992},{210,194}}</string>
                <key>offset</key>
                <string>{0,22}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{151,137},{210,194}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>7004345.png</key>
            <dict>
                <key>frame</key>
                <string>{{982,790},{214,208}}</string>
                <key>offset</key>
                <string>{1,28}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{150,124},{214,208}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>7004351.png</key>
            <dict>
                <key>frame</key>
                <string>{{482,870},{88,188}}</string>
                <key>offset</key>
                <string>{3,5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{215,157},{88,188}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>7004352.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,1018},{90,190}}</string>
                <key>offset</key>
                <string>{5,7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{216,154},{90,190}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>7004353.png</key>
            <dict>
                <key>frame</key>
                <string>{{982,694},{96,218}}</string>
                <key>offset</key>
                <string>{3,22}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{211,125},{96,218}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>7004354.png</key>
            <dict>
                <key>frame</key>
                <string>{{1790,1178},{142,200}}</string>
                <key>offset</key>
                <string>{23,12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{208,144},{142,200}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>7004355.png</key>
            <dict>
                <key>frame</key>
                <string>{{1490,650},{96,218}}</string>
                <key>offset</key>
                <string>{3,19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{211,128},{96,218}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>7004511.png</key>
            <dict>
                <key>frame</key>
                <string>{{194,832},{144,192}}</string>
                <key>offset</key>
                <string>{5,24}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{189,136},{144,192}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>7004512.png</key>
            <dict>
                <key>frame</key>
                <string>{{724,840},{212,186}}</string>
                <key>offset</key>
                <string>{39,21}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{189,142},{212,186}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>7004521.png</key>
            <dict>
                <key>frame</key>
                <string>{{1012,538},{240,156}}</string>
                <key>offset</key>
                <string>{0,47}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{136,131},{240,156}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>7004522.png</key>
            <dict>
                <key>frame</key>
                <string>{{1292,516},{242,134}}</string>
                <key>offset</key>
                <string>{2,36}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{137,153},{242,134}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>7004531.png</key>
            <dict>
                <key>frame</key>
                <string>{{1590,334},{252,154}}</string>
                <key>offset</key>
                <string>{-12,34}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{118,145},{252,154}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>7004532.png</key>
            <dict>
                <key>frame</key>
                <string>{{266,320},{260,162}}</string>
                <key>offset</key>
                <string>{-16,38}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{110,137},{260,162}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>7004541.png</key>
            <dict>
                <key>frame</key>
                <string>{{176,1302},{154,160}}</string>
                <key>offset</key>
                <string>{-27,5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{152,171},{154,160}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>7004542.png</key>
            <dict>
                <key>frame</key>
                <string>{{478,1112},{176,156}}</string>
                <key>offset</key>
                <string>{-38,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{130,174},{176,156}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>7004551.png</key>
            <dict>
                <key>frame</key>
                <string>{{368,1268},{144,164}}</string>
                <key>offset</key>
                <string>{-6,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{178,180},{144,164}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>7004552.png</key>
            <dict>
                <key>frame</key>
                <string>{{1196,824},{212,168}}</string>
                <key>offset</key>
                <string>{-40,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{110,181},{212,168}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>7004.pvr.ccz</string>
            <key>size</key>
            <string>{2048,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:1fa14563f7b69ee20371b3cf1563ddef:1/1$</string>
            <key>textureFileName</key>
            <string>7004.pvr.ccz</string>
        </dict>
    </dict>
</plist>
