<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>6047111.png</key>
            <dict>
                <key>frame</key>
                <string>{{840,242},{124,122}}</string>
                <key>offset</key>
                <string>{0,43}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{194,152},{124,122}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6047112.png</key>
            <dict>
                <key>frame</key>
                <string>{{898,122},{126,120}}</string>
                <key>offset</key>
                <string>{-6,42}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{187,154},{126,120}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6047113.png</key>
            <dict>
                <key>frame</key>
                <string>{{898,0},{126,122}}</string>
                <key>offset</key>
                <string>{-1,42}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{192,153},{126,122}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6047121.png</key>
            <dict>
                <key>frame</key>
                <string>{{764,0},{134,116}}</string>
                <key>offset</key>
                <string>{-13,50}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{176,148},{134,116}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6047122.png</key>
            <dict>
                <key>frame</key>
                <string>{{840,364},{130,116}}</string>
                <key>offset</key>
                <string>{-19,50}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{172,148},{130,116}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6047123.png</key>
            <dict>
                <key>frame</key>
                <string>{{628,0},{136,116}}</string>
                <key>offset</key>
                <string>{-16,50}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{172,148},{136,116}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6047131.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,884},{90,140}}</string>
                <key>offset</key>
                <string>{-15,34}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{196,152},{90,140}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6047132.png</key>
            <dict>
                <key>frame</key>
                <string>{{174,884},{84,140}}</string>
                <key>offset</key>
                <string>{-14,36}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{200,150},{84,140}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6047133.png</key>
            <dict>
                <key>frame</key>
                <string>{{626,456},{90,138}}</string>
                <key>offset</key>
                <string>{-15,36}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{196,151},{90,138}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6047141.png</key>
            <dict>
                <key>frame</key>
                <string>{{98,434},{80,152}}</string>
                <key>offset</key>
                <string>{-20,27}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{196,153},{80,152}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6047142.png</key>
            <dict>
                <key>frame</key>
                <string>{{628,182},{76,148}}</string>
                <key>offset</key>
                <string>{-18,30}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{200,152},{76,148}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6047143.png</key>
            <dict>
                <key>frame</key>
                <string>{{106,284},{82,150}}</string>
                <key>offset</key>
                <string>{-19,29}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{196,152},{82,150}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6047151.png</key>
            <dict>
                <key>frame</key>
                <string>{{504,0},{124,130}}</string>
                <key>offset</key>
                <string>{-1,33}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{193,158},{124,130}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6047152.png</key>
            <dict>
                <key>frame</key>
                <string>{{254,0},{126,132}}</string>
                <key>offset</key>
                <string>{5,34}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{198,156},{126,132}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6047153.png</key>
            <dict>
                <key>frame</key>
                <string>{{128,0},{126,134}}</string>
                <key>offset</key>
                <string>{0,33}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{193,156},{126,134}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6047211.png</key>
            <dict>
                <key>frame</key>
                <string>{{840,480},{78,140}}</string>
                <key>offset</key>
                <string>{-1,33}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{216,153},{78,140}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6047212.png</key>
            <dict>
                <key>frame</key>
                <string>{{764,402},{76,142}}</string>
                <key>offset</key>
                <string>{-4,34}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{214,151},{76,142}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6047213.png</key>
            <dict>
                <key>frame</key>
                <string>{{116,138},{80,146}}</string>
                <key>offset</key>
                <string>{-2,34}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{214,149},{80,146}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6047214.png</key>
            <dict>
                <key>frame</key>
                <string>{{178,434},{76,144}}</string>
                <key>offset</key>
                <string>{3,32}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{221,152},{76,144}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6047215.png</key>
            <dict>
                <key>frame</key>
                <string>{{764,258},{76,144}}</string>
                <key>offset</key>
                <string>{4,34}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{222,150},{76,144}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6047221.png</key>
            <dict>
                <key>frame</key>
                <string>{{418,384},{80,138}}</string>
                <key>offset</key>
                <string>{-11,34}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{205,153},{80,138}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6047222.png</key>
            <dict>
                <key>frame</key>
                <string>{{334,420},{84,138}}</string>
                <key>offset</key>
                <string>{-10,36}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{204,151},{84,138}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6047223.png</key>
            <dict>
                <key>frame</key>
                <string>{{626,366},{90,138}}</string>
                <key>offset</key>
                <string>{-7,35}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{204,152},{90,138}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6047224.png</key>
            <dict>
                <key>frame</key>
                <string>{{90,884},{84,140}}</string>
                <key>offset</key>
                <string>{-5,33}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{209,153},{84,140}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6047225.png</key>
            <dict>
                <key>frame</key>
                <string>{{254,424},{80,138}}</string>
                <key>offset</key>
                <string>{-9,35}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{207,152},{80,138}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6047231.png</key>
            <dict>
                <key>frame</key>
                <string>{{500,354},{106,126}}</string>
                <key>offset</key>
                <string>{8,38}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{211,155},{106,126}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6047232.png</key>
            <dict>
                <key>frame</key>
                <string>{{498,460},{110,126}}</string>
                <key>offset</key>
                <string>{10,37}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{211,156},{110,126}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6047233.png</key>
            <dict>
                <key>frame</key>
                <string>{{382,262},{118,122}}</string>
                <key>offset</key>
                <string>{13,38}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{210,157},{118,122}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6047234.png</key>
            <dict>
                <key>frame</key>
                <string>{{304,562},{114,122}}</string>
                <key>offset</key>
                <string>{14,38}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{213,157},{114,122}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6047235.png</key>
            <dict>
                <key>frame</key>
                <string>{{188,776},{108,124}}</string>
                <key>offset</key>
                <string>{11,40}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{213,154},{108,124}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6047241.png</key>
            <dict>
                <key>frame</key>
                <string>{{498,570},{104,132}}</string>
                <key>offset</key>
                <string>{5,33}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{209,157},{104,132}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6047242.png</key>
            <dict>
                <key>frame</key>
                <string>{{760,558},{108,132}}</string>
                <key>offset</key>
                <string>{6,35}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{208,155},{108,132}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6047243.png</key>
            <dict>
                <key>frame</key>
                <string>{{630,662},{114,130}}</string>
                <key>offset</key>
                <string>{7,36}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{206,155},{114,130}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6047244.png</key>
            <dict>
                <key>frame</key>
                <string>{{500,130},{114,128}}</string>
                <key>offset</key>
                <string>{7,35}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{206,157},{114,128}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6047245.png</key>
            <dict>
                <key>frame</key>
                <string>{{892,558},{112,132}}</string>
                <key>offset</key>
                <string>{5,36}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{205,154},{112,132}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6047251.png</key>
            <dict>
                <key>frame</key>
                <string>{{304,684},{78,124}}</string>
                <key>offset</key>
                <string>{0,36}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{217,158},{78,124}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6047252.png</key>
            <dict>
                <key>frame</key>
                <string>{{642,882},{76,124}}</string>
                <key>offset</key>
                <string>{4,38}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{222,156},{76,124}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6047253.png</key>
            <dict>
                <key>frame</key>
                <string>{{418,522},{80,124}}</string>
                <key>offset</key>
                <string>{1,38}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{217,156},{80,124}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6047254.png</key>
            <dict>
                <key>frame</key>
                <string>{{870,862},{76,124}}</string>
                <key>offset</key>
                <string>{-3,37}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{215,157},{76,124}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6047255.png</key>
            <dict>
                <key>frame</key>
                <string>{{870,786},{76,124}}</string>
                <key>offset</key>
                <string>{-4,38}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{214,156},{76,124}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6047311.png</key>
            <dict>
                <key>frame</key>
                <string>{{96,586},{78,164}}</string>
                <key>offset</key>
                <string>{9,64}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{226,110},{78,164}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6047312.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{128,138}}</string>
                <key>offset</key>
                <string>{28,50}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{220,137},{128,138}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6047313.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,736},{96,148}}</string>
                <key>offset</key>
                <string>{5,44}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{213,138},{96,148}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6047314.png</key>
            <dict>
                <key>frame</key>
                <string>{{648,776},{108,104}}</string>
                <key>offset</key>
                <string>{41,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{243,195},{108,104}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6047315.png</key>
            <dict>
                <key>frame</key>
                <string>{{446,884},{118,94}}</string>
                <key>offset</key>
                <string>{37,17}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{234,192},{118,94}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6047321.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,586},{96,150}}</string>
                <key>offset</key>
                <string>{-8,67}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{200,114},{96,150}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6047322.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,434},{98,152}}</string>
                <key>offset</key>
                <string>{6,68}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{213,112},{98,152}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6047323.png</key>
            <dict>
                <key>frame</key>
                <string>{{96,750},{92,134}}</string>
                <key>offset</key>
                <string>{4,55}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{214,134},{92,134}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6047324.png</key>
            <dict>
                <key>frame</key>
                <string>{{196,134},{154,90}}</string>
                <key>offset</key>
                <string>{37,33}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{216,178},{154,90}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6047325.png</key>
            <dict>
                <key>frame</key>
                <string>{{756,780},{114,94}}</string>
                <key>offset</key>
                <string>{23,35}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{222,174},{114,94}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6047331.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,284},{150,106}}</string>
                <key>offset</key>
                <string>{-46,47}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{135,156},{150,106}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6047332.png</key>
            <dict>
                <key>frame</key>
                <string>{{630,546},{116,130}}</string>
                <key>offset</key>
                <string>{-25,59}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{173,132},{116,130}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6047333.png</key>
            <dict>
                <key>frame</key>
                <string>{{428,774},{104,110}}</string>
                <key>offset</key>
                <string>{-5,49}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{199,152},{104,110}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6047334.png</key>
            <dict>
                <key>frame</key>
                <string>{{338,884},{122,108}}</string>
                <key>offset</key>
                <string>{5,48}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{200,154},{122,108}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6047335.png</key>
            <dict>
                <key>frame</key>
                <string>{{800,116},{98,108}}</string>
                <key>offset</key>
                <string>{-2,47}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{205,155},{98,108}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6047341.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,138},{146,116}}</string>
                <key>offset</key>
                <string>{-44,35}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{139,163},{146,116}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6047342.png</key>
            <dict>
                <key>frame</key>
                <string>{{188,288},{136,102}}</string>
                <key>offset</key>
                <string>{-56,28}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{132,177},{136,102}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6047343.png</key>
            <dict>
                <key>frame</key>
                <string>{{312,762},{116,122}}</string>
                <key>offset</key>
                <string>{-5,38}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{193,157},{116,122}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6047344.png</key>
            <dict>
                <key>frame</key>
                <string>{{258,884},{80,134}}</string>
                <key>offset</key>
                <string>{-14,51}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{202,138},{80,134}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6047345.png</key>
            <dict>
                <key>frame</key>
                <string>{{550,674},{78,130}}</string>
                <key>offset</key>
                <string>{-18,50}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{199,141},{78,130}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6047351.png</key>
            <dict>
                <key>frame</key>
                <string>{{532,804},{78,116}}</string>
                <key>offset</key>
                <string>{-10,29}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{207,169},{78,116}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6047352.png</key>
            <dict>
                <key>frame</key>
                <string>{{500,244},{128,110}}</string>
                <key>offset</key>
                <string>{-29,26}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{163,175},{128,110}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6047353.png</key>
            <dict>
                <key>frame</key>
                <string>{{286,132},{96,138}}</string>
                <key>offset</key>
                <string>{-6,39}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{202,148},{96,138}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6047354.png</key>
            <dict>
                <key>frame</key>
                <string>{{628,258},{108,136}}</string>
                <key>offset</key>
                <string>{-41,46}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{161,142},{108,136}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6047355.png</key>
            <dict>
                <key>frame</key>
                <string>{{382,130},{118,132}}</string>
                <key>offset</key>
                <string>{-38,46}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{159,144},{118,132}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6047511.png</key>
            <dict>
                <key>frame</key>
                <string>{{718,880},{96,102}}</string>
                <key>offset</key>
                <string>{-11,24}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{197,181},{96,102}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6047512.png</key>
            <dict>
                <key>frame</key>
                <string>{{540,882},{102,112}}</string>
                <key>offset</key>
                <string>{-11,-15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{194,215},{102,112}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6047521.png</key>
            <dict>
                <key>frame</key>
                <string>{{760,666},{114,126}}</string>
                <key>offset</key>
                <string>{-1,17}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{198,176},{114,126}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6047522.png</key>
            <dict>
                <key>frame</key>
                <string>{{290,270},{150,82}}</string>
                <key>offset</key>
                <string>{14,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{195,221},{150,82}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6047531.png</key>
            <dict>
                <key>frame</key>
                <string>{{886,670},{116,124}}</string>
                <key>offset</key>
                <string>{-3,25}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{195,169},{116,124}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6047532.png</key>
            <dict>
                <key>frame</key>
                <string>{{628,116},{172,66}}</string>
                <key>offset</key>
                <string>{23,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{193,229},{172,66}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6047541.png</key>
            <dict>
                <key>frame</key>
                <string>{{380,0},{124,130}}</string>
                <key>offset</key>
                <string>{11,36}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{205,155},{124,130}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6047542.png</key>
            <dict>
                <key>frame</key>
                <string>{{428,674},{122,100}}</string>
                <key>offset</key>
                <string>{13,12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{208,194},{122,100}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6047551.png</key>
            <dict>
                <key>frame</key>
                <string>{{178,578},{96,126}}</string>
                <key>offset</key>
                <string>{11,33}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{219,160},{96,126}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6047552.png</key>
            <dict>
                <key>frame</key>
                <string>{{188,674},{102,116}}</string>
                <key>offset</key>
                <string>{11,19}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{216,179},{102,116}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>6047.pvr.ccz</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:21abf0c540cf56bc4e7e94ff2285e41c:1/1$</string>
            <key>textureFileName</key>
            <string>6047.pvr.ccz</string>
        </dict>
    </dict>
</plist>
