<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>82121.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,94},{108,78}}</string>
                <key>offset</key>
                <string>{4,-12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{206,229},{108,78}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>82122.png</key>
            <dict>
                <key>frame</key>
                <string>{{106,174},{102,88}}</string>
                <key>offset</key>
                <string>{7,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{212,218},{102,88}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>82123.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,172},{106,86}}</string>
                <key>offset</key>
                <string>{5,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{208,221},{106,86}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>82124.png</key>
            <dict>
                <key>frame</key>
                <string>{{118,92},{110,82}}</string>
                <key>offset</key>
                <string>{3,-11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{204,226},{110,82}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>82125.png</key>
            <dict>
                <key>frame</key>
                <string>{{118,0},{110,92}}</string>
                <key>offset</key>
                <string>{3,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{204,217},{110,92}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>82126.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{118,94}}</string>
                <key>offset</key>
                <string>{-1,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{196,213},{118,94}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>8212.pvr.ccz</string>
            <key>size</key>
            <string>{256,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:7ffa04669f203d447cabdfbef2d5f5ba:1/1$</string>
            <key>textureFileName</key>
            <string>8212.pvr.ccz</string>
        </dict>
    </dict>
</plist>
