<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>83081.png</key>
            <dict>
                <key>frame</key>
                <string>{{196,0},{72,60}}</string>
                <key>offset</key>
                <string>{-2,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{218,227},{72,60}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>83082.png</key>
            <dict>
                <key>frame</key>
                <string>{{122,270},{116,94}}</string>
                <key>offset</key>
                <string>{-4,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{194,206},{116,94}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>83083.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,270},{154,122}}</string>
                <key>offset</key>
                <string>{-6,5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{173,190},{154,122}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>83084.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,134},{136,190}}</string>
                <key>offset</key>
                <string>{-3,42}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{185,119},{136,190}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>83085.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{134,196}}</string>
                <key>offset</key>
                <string>{-4,46}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{185,112},{134,196}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>83086.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,424},{90,78}}</string>
                <key>offset</key>
                <string>{4,90}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{215,127},{90,78}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>8308.pvr.ccz</string>
            <key>size</key>
            <string>{256,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:ce537619223a93038551ae080c6e67d5:1/1$</string>
            <key>textureFileName</key>
            <string>8308.pvr.ccz</string>
        </dict>
    </dict>
</plist>
