<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>mouseClick1.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{110,114}}</string>
                <key>offset</key>
                <string>{4,21}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{205,178},{110,114}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>mouseClick2.png</key>
            <dict>
                <key>frame</key>
                <string>{{114,0},{102,106}}</string>
                <key>offset</key>
                <string>{4,17}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{209,186},{102,106}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>mouseClick3.png</key>
            <dict>
                <key>frame</key>
                <string>{{114,102},{102,100}}</string>
                <key>offset</key>
                <string>{4,14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{209,192},{102,100}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>mouseClick4.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,110},{102,92}}</string>
                <key>offset</key>
                <string>{4,10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{209,200},{102,92}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>mouseClick5.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,202},{102,86}}</string>
                <key>offset</key>
                <string>{4,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{209,206},{102,86}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>mouseClick6.png</key>
            <dict>
                <key>frame</key>
                <string>{{102,202},{102,70}}</string>
                <key>offset</key>
                <string>{4,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{209,222},{102,70}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>mouseClick7.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,288},{98,70}}</string>
                <key>offset</key>
                <string>{4,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{211,222},{98,70}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>mouseClick8.png</key>
            <dict>
                <key>frame</key>
                <string>{{102,272},{98,70}}</string>
                <key>offset</key>
                <string>{4,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{211,222},{98,70}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>mouseClick9.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,358},{94,66}}</string>
                <key>offset</key>
                <string>{4,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{213,223},{94,66}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>mouseClick.pvr.ccz</string>
            <key>size</key>
            <string>{256,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:ff474b833732c60d0bb83cac662f2d09:1/1$</string>
            <key>textureFileName</key>
            <string>mouseClick.pvr.ccz</string>
        </dict>
    </dict>
</plist>
