<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>face101.png</key>
			<dict>
				<key>width</key>
				<integer>48</integer>
				<key>height</key>
				<integer>48</integer>
				<key>originalWidth</key>
				<integer>58</integer>
				<key>originalHeight</key>
				<integer>51</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>1</real>
				<key>offsetY</key>
				<real>-1.5</real>
			</dict>
			<key>face1010.png</key>
			<dict>
				<key>width</key>
				<integer>52</integer>
				<key>height</key>
				<integer>51</integer>
				<key>originalWidth</key>
				<integer>58</integer>
				<key>originalHeight</key>
				<integer>51</integer>
				<key>x</key>
				<integer>49</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>3</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>face1011.png</key>
			<dict>
				<key>width</key>
				<integer>51</integer>
				<key>height</key>
				<integer>50</integer>
				<key>originalWidth</key>
				<integer>58</integer>
				<key>originalHeight</key>
				<integer>51</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>52</integer>
				<key>offsetX</key>
				<real>2.5</real>
				<key>offsetY</key>
				<real>-0.5</real>
			</dict>
			<key>face1012.png</key>
			<dict>
				<key>width</key>
				<integer>50</integer>
				<key>height</key>
				<integer>49</integer>
				<key>originalWidth</key>
				<integer>58</integer>
				<key>originalHeight</key>
				<integer>51</integer>
				<key>x</key>
				<integer>52</integer>
				<key>y</key>
				<integer>52</integer>
				<key>offsetX</key>
				<real>2</real>
				<key>offsetY</key>
				<real>-1</real>
			</dict>
			<key>face1013.png</key>
			<dict>
				<key>width</key>
				<integer>48</integer>
				<key>height</key>
				<integer>48</integer>
				<key>originalWidth</key>
				<integer>58</integer>
				<key>originalHeight</key>
				<integer>51</integer>
				<key>x</key>
				<integer>102</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>1</real>
				<key>offsetY</key>
				<real>-1.5</real>
			</dict>
			<key>face1014.png</key>
			<dict>
				<key>width</key>
				<integer>48</integer>
				<key>height</key>
				<integer>48</integer>
				<key>originalWidth</key>
				<integer>58</integer>
				<key>originalHeight</key>
				<integer>51</integer>
				<key>x</key>
				<integer>151</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>1</real>
				<key>offsetY</key>
				<real>-1.5</real>
			</dict>
			<key>face1015.png</key>
			<dict>
				<key>width</key>
				<integer>48</integer>
				<key>height</key>
				<integer>48</integer>
				<key>originalWidth</key>
				<integer>58</integer>
				<key>originalHeight</key>
				<integer>51</integer>
				<key>x</key>
				<integer>103</integer>
				<key>y</key>
				<integer>49</integer>
				<key>offsetX</key>
				<real>1</real>
				<key>offsetY</key>
				<real>-1.5</real>
			</dict>
			<key>face1016.png</key>
			<dict>
				<key>width</key>
				<integer>48</integer>
				<key>height</key>
				<integer>48</integer>
				<key>originalWidth</key>
				<integer>58</integer>
				<key>originalHeight</key>
				<integer>51</integer>
				<key>x</key>
				<integer>200</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>1</real>
				<key>offsetY</key>
				<real>-1.5</real>
			</dict>
			<key>face1017.png</key>
			<dict>
				<key>width</key>
				<integer>48</integer>
				<key>height</key>
				<integer>48</integer>
				<key>originalWidth</key>
				<integer>58</integer>
				<key>originalHeight</key>
				<integer>51</integer>
				<key>x</key>
				<integer>152</integer>
				<key>y</key>
				<integer>49</integer>
				<key>offsetX</key>
				<real>1</real>
				<key>offsetY</key>
				<real>-1.5</real>
			</dict>
			<key>face1018.png</key>
			<dict>
				<key>width</key>
				<integer>48</integer>
				<key>height</key>
				<integer>48</integer>
				<key>originalWidth</key>
				<integer>58</integer>
				<key>originalHeight</key>
				<integer>51</integer>
				<key>x</key>
				<integer>201</integer>
				<key>y</key>
				<integer>49</integer>
				<key>offsetX</key>
				<real>1</real>
				<key>offsetY</key>
				<real>-1.5</real>
			</dict>
			<key>face1019.png</key>
			<dict>
				<key>width</key>
				<integer>52</integer>
				<key>height</key>
				<integer>48</integer>
				<key>originalWidth</key>
				<integer>58</integer>
				<key>originalHeight</key>
				<integer>51</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>103</integer>
				<key>offsetX</key>
				<real>-1</real>
				<key>offsetY</key>
				<real>-1.5</real>
			</dict>
			<key>face102.png</key>
			<dict>
				<key>width</key>
				<integer>48</integer>
				<key>height</key>
				<integer>48</integer>
				<key>originalWidth</key>
				<integer>58</integer>
				<key>originalHeight</key>
				<integer>51</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>152</integer>
				<key>offsetX</key>
				<real>1</real>
				<key>offsetY</key>
				<real>-1.5</real>
			</dict>
			<key>face1020.png</key>
			<dict>
				<key>width</key>
				<integer>54</integer>
				<key>height</key>
				<integer>48</integer>
				<key>originalWidth</key>
				<integer>58</integer>
				<key>originalHeight</key>
				<integer>51</integer>
				<key>x</key>
				<integer>53</integer>
				<key>y</key>
				<integer>102</integer>
				<key>offsetX</key>
				<real>-2</real>
				<key>offsetY</key>
				<real>-1.5</real>
			</dict>
			<key>face1021.png</key>
			<dict>
				<key>width</key>
				<integer>54</integer>
				<key>height</key>
				<integer>48</integer>
				<key>originalWidth</key>
				<integer>58</integer>
				<key>originalHeight</key>
				<integer>51</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>201</integer>
				<key>offsetX</key>
				<real>-2</real>
				<key>offsetY</key>
				<real>-1.5</real>
			</dict>
			<key>face1022.png</key>
			<dict>
				<key>width</key>
				<integer>53</integer>
				<key>height</key>
				<integer>48</integer>
				<key>originalWidth</key>
				<integer>58</integer>
				<key>originalHeight</key>
				<integer>51</integer>
				<key>x</key>
				<integer>49</integer>
				<key>y</key>
				<integer>152</integer>
				<key>offsetX</key>
				<real>-1.5</real>
				<key>offsetY</key>
				<real>-1.5</real>
			</dict>
			<key>face1023.png</key>
			<dict>
				<key>width</key>
				<integer>53</integer>
				<key>height</key>
				<integer>48</integer>
				<key>originalWidth</key>
				<integer>58</integer>
				<key>originalHeight</key>
				<integer>51</integer>
				<key>x</key>
				<integer>108</integer>
				<key>y</key>
				<integer>98</integer>
				<key>offsetX</key>
				<real>-1.5</real>
				<key>offsetY</key>
				<real>-1.5</real>
			</dict>
			<key>face1024.png</key>
			<dict>
				<key>width</key>
				<integer>54</integer>
				<key>height</key>
				<integer>48</integer>
				<key>originalWidth</key>
				<integer>58</integer>
				<key>originalHeight</key>
				<integer>51</integer>
				<key>x</key>
				<integer>108</integer>
				<key>y</key>
				<integer>147</integer>
				<key>offsetX</key>
				<real>-2</real>
				<key>offsetY</key>
				<real>-1.5</real>
			</dict>
			<key>face1025.png</key>
			<dict>
				<key>width</key>
				<integer>54</integer>
				<key>height</key>
				<integer>48</integer>
				<key>originalWidth</key>
				<integer>58</integer>
				<key>originalHeight</key>
				<integer>51</integer>
				<key>x</key>
				<integer>55</integer>
				<key>y</key>
				<integer>201</integer>
				<key>offsetX</key>
				<real>-2</real>
				<key>offsetY</key>
				<real>-1.5</real>
			</dict>
			<key>face1026.png</key>
			<dict>
				<key>width</key>
				<integer>52</integer>
				<key>height</key>
				<integer>48</integer>
				<key>originalWidth</key>
				<integer>58</integer>
				<key>originalHeight</key>
				<integer>51</integer>
				<key>x</key>
				<integer>162</integer>
				<key>y</key>
				<integer>98</integer>
				<key>offsetX</key>
				<real>-1</real>
				<key>offsetY</key>
				<real>-1.5</real>
			</dict>
			<key>face1027.png</key>
			<dict>
				<key>width</key>
				<integer>50</integer>
				<key>height</key>
				<integer>48</integer>
				<key>originalWidth</key>
				<integer>58</integer>
				<key>originalHeight</key>
				<integer>51</integer>
				<key>x</key>
				<integer>163</integer>
				<key>y</key>
				<integer>147</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>-1.5</real>
			</dict>
			<key>face1028.png</key>
			<dict>
				<key>width</key>
				<integer>49</integer>
				<key>height</key>
				<integer>48</integer>
				<key>originalWidth</key>
				<integer>58</integer>
				<key>originalHeight</key>
				<integer>51</integer>
				<key>x</key>
				<integer>110</integer>
				<key>y</key>
				<integer>196</integer>
				<key>offsetX</key>
				<real>0.5</real>
				<key>offsetY</key>
				<real>-1.5</real>
			</dict>
			<key>face1029.png</key>
			<dict>
				<key>width</key>
				<integer>48</integer>
				<key>height</key>
				<integer>48</integer>
				<key>originalWidth</key>
				<integer>58</integer>
				<key>originalHeight</key>
				<integer>51</integer>
				<key>x</key>
				<integer>160</integer>
				<key>y</key>
				<integer>196</integer>
				<key>offsetX</key>
				<real>1</real>
				<key>offsetY</key>
				<real>-1.5</real>
			</dict>
			<key>face103.png</key>
			<dict>
				<key>width</key>
				<integer>48</integer>
				<key>height</key>
				<integer>48</integer>
				<key>originalWidth</key>
				<integer>58</integer>
				<key>originalHeight</key>
				<integer>51</integer>
				<key>x</key>
				<integer>249</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>1</real>
				<key>offsetY</key>
				<real>-1.5</real>
			</dict>
			<key>face104.png</key>
			<dict>
				<key>width</key>
				<integer>48</integer>
				<key>height</key>
				<integer>48</integer>
				<key>originalWidth</key>
				<integer>58</integer>
				<key>originalHeight</key>
				<integer>51</integer>
				<key>x</key>
				<integer>298</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>1</real>
				<key>offsetY</key>
				<real>-1.5</real>
			</dict>
			<key>face105.png</key>
			<dict>
				<key>width</key>
				<integer>51</integer>
				<key>height</key>
				<integer>50</integer>
				<key>originalWidth</key>
				<integer>58</integer>
				<key>originalHeight</key>
				<integer>51</integer>
				<key>x</key>
				<integer>250</integer>
				<key>y</key>
				<integer>49</integer>
				<key>offsetX</key>
				<real>2.5</real>
				<key>offsetY</key>
				<real>-0.5</real>
			</dict>
			<key>face106.png</key>
			<dict>
				<key>width</key>
				<integer>52</integer>
				<key>height</key>
				<integer>51</integer>
				<key>originalWidth</key>
				<integer>58</integer>
				<key>originalHeight</key>
				<integer>51</integer>
				<key>x</key>
				<integer>347</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>3</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>face107.png</key>
			<dict>
				<key>width</key>
				<integer>52</integer>
				<key>height</key>
				<integer>51</integer>
				<key>originalWidth</key>
				<integer>58</integer>
				<key>originalHeight</key>
				<integer>51</integer>
				<key>x</key>
				<integer>215</integer>
				<key>y</key>
				<integer>100</integer>
				<key>offsetX</key>
				<real>3</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>face108.png</key>
			<dict>
				<key>width</key>
				<integer>52</integer>
				<key>height</key>
				<integer>51</integer>
				<key>originalWidth</key>
				<integer>58</integer>
				<key>originalHeight</key>
				<integer>51</integer>
				<key>x</key>
				<integer>214</integer>
				<key>y</key>
				<integer>152</integer>
				<key>offsetX</key>
				<real>3</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>face109.png</key>
			<dict>
				<key>width</key>
				<integer>52</integer>
				<key>height</key>
				<integer>51</integer>
				<key>originalWidth</key>
				<integer>58</integer>
				<key>originalHeight</key>
				<integer>51</integer>
				<key>x</key>
				<integer>268</integer>
				<key>y</key>
				<integer>100</integer>
				<key>offsetX</key>
				<real>3</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>0</integer>
			<key>textureFileName</key>
			<string>face100.png</string>
			<key>realTextureFileName</key>
			<string>face100.png</string>
			<key>size</key>
			<string>{4096,4096}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>4096</integer>
			<key>height</key>
			<integer>4096</integer>
		</dict>
	</dict>
</plist>