<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>83051.png</key>
            <dict>
                <key>frame</key>
                <string>{{252,0},{240,202}}</string>
                <key>offset</key>
                <string>{16,48}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{152,107},{240,202}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>83052.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{252,206}}</string>
                <key>offset</key>
                <string>{14,50}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{144,103},{252,206}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>83053.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,404},{164,204}}</string>
                <key>offset</key>
                <string>{-3,55}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{171,99},{164,204}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>83054.png</key>
            <dict>
                <key>frame</key>
                <string>{{206,400},{176,204}}</string>
                <key>offset</key>
                <string>{-2,57}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{166,97},{176,204}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>83055.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,206},{198,206}}</string>
                <key>offset</key>
                <string>{-5,58}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{152,95},{198,206}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>83056.png</key>
            <dict>
                <key>frame</key>
                <string>{{252,202},{198,212}}</string>
                <key>offset</key>
                <string>{-1,62}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{156,88},{198,212}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>8305.pvr.ccz</string>
            <key>size</key>
            <string>{512,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:edc756aec66a92249c250c58bd3fa0f1:1/1$</string>
            <key>textureFileName</key>
            <string>8305.pvr.ccz</string>
        </dict>
    </dict>
</plist>
