<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>7527111.png</key>
            <dict>
                <key>frame</key>
                <string>{{76,68},{64,142}}</string>
                <key>offset</key>
                <string>{-3,49}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{221,136},{64,142}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>7527112.png</key>
            <dict>
                <key>frame</key>
                <string>{{76,0},{68,142}}</string>
                <key>offset</key>
                <string>{-5,49}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{217,136},{68,142}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>7527113.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{76,144}}</string>
                <key>offset</key>
                <string>{-9,50}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{209,134},{76,144}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>7527.pvr.ccz</string>
            <key>size</key>
            <string>{256,256}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:36a6d84e1e7e4bdec6a2a04356f36e61:1/1$</string>
            <key>textureFileName</key>
            <string>7527.pvr.ccz</string>
        </dict>
    </dict>
</plist>
