<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>6023111.png</key>
            <dict>
                <key>frame</key>
                <string>{{554,742},{86,92}}</string>
                <key>offset</key>
                <string>{-9,34}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{204,176},{86,92}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6023112.png</key>
            <dict>
                <key>frame</key>
                <string>{{424,652},{84,94}}</string>
                <key>offset</key>
                <string>{-9,35}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{205,174},{84,94}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6023113.png</key>
            <dict>
                <key>frame</key>
                <string>{{522,840},{80,94}}</string>
                <key>offset</key>
                <string>{-8,35}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{208,174},{80,94}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6023121.png</key>
            <dict>
                <key>frame</key>
                <string>{{306,760},{74,98}}</string>
                <key>offset</key>
                <string>{-11,34}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{208,173},{74,98}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6023122.png</key>
            <dict>
                <key>frame</key>
                <string>{{200,612},{70,100}}</string>
                <key>offset</key>
                <string>{-10,35}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{211,171},{70,100}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6023123.png</key>
            <dict>
                <key>frame</key>
                <string>{{190,364},{72,100}}</string>
                <key>offset</key>
                <string>{-11,35}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{209,171},{72,100}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6023131.png</key>
            <dict>
                <key>frame</key>
                <string>{{420,500},{54,94}}</string>
                <key>offset</key>
                <string>{3,35}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{232,174},{54,94}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6023132.png</key>
            <dict>
                <key>frame</key>
                <string>{{370,654},{54,96}}</string>
                <key>offset</key>
                <string>{4,36}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{233,172},{54,96}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6023133.png</key>
            <dict>
                <key>frame</key>
                <string>{{324,504},{54,96}}</string>
                <key>offset</key>
                <string>{3,36}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{232,172},{54,96}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6023141.png</key>
            <dict>
                <key>frame</key>
                <string>{{464,92},{62,90}}</string>
                <key>offset</key>
                <string>{1,38}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{226,173},{62,90}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6023142.png</key>
            <dict>
                <key>frame</key>
                <string>{{462,188},{62,92}}</string>
                <key>offset</key>
                <string>{1,39}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{226,171},{62,92}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6023143.png</key>
            <dict>
                <key>frame</key>
                <string>{{222,964},{60,92}}</string>
                <key>offset</key>
                <string>{0,39}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{226,171},{60,92}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6023151.png</key>
            <dict>
                <key>frame</key>
                <string>{{498,938},{86,92}}</string>
                <key>offset</key>
                <string>{8,38}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{221,172},{86,92}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6023152.png</key>
            <dict>
                <key>frame</key>
                <string>{{472,746},{82,94}}</string>
                <key>offset</key>
                <string>{8,39}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{223,170},{82,94}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6023153.png</key>
            <dict>
                <key>frame</key>
                <string>{{652,926},{78,92}}</string>
                <key>offset</key>
                <string>{8,38}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{225,172},{78,92}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6023211.png</key>
            <dict>
                <key>frame</key>
                <string>{{324,408},{62,96}}</string>
                <key>offset</key>
                <string>{-1,31}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{224,177},{62,96}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6023212.png</key>
            <dict>
                <key>frame</key>
                <string>{{590,934},{62,90}}</string>
                <key>offset</key>
                <string>{-2,36}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{223,175},{62,90}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6023213.png</key>
            <dict>
                <key>frame</key>
                <string>{{262,314},{62,98}}</string>
                <key>offset</key>
                <string>{-2,31}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{223,176},{62,98}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6023214.png</key>
            <dict>
                <key>frame</key>
                <string>{{324,312},{62,96}}</string>
                <key>offset</key>
                <string>{0,31}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{225,177},{62,96}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6023215.png</key>
            <dict>
                <key>frame</key>
                <string>{{514,378},{64,88}}</string>
                <key>offset</key>
                <string>{1,35}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{225,177},{64,88}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6023221.png</key>
            <dict>
                <key>frame</key>
                <string>{{410,0},{70,92}}</string>
                <key>offset</key>
                <string>{-9,35}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{212,175},{70,92}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6023222.png</key>
            <dict>
                <key>frame</key>
                <string>{{480,0},{78,88}}</string>
                <key>offset</key>
                <string>{-16,38}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{201,174},{78,88}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6023223.png</key>
            <dict>
                <key>frame</key>
                <string>{{212,712},{84,98}}</string>
                <key>offset</key>
                <string>{-12,32}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{202,175},{84,98}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6023224.png</key>
            <dict>
                <key>frame</key>
                <string>{{270,564},{76,98}}</string>
                <key>offset</key>
                <string>{-12,33}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{206,174},{76,98}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6023225.png</key>
            <dict>
                <key>frame</key>
                <string>{{404,956},{66,94}}</string>
                <key>offset</key>
                <string>{-11,37}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{212,172},{66,94}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6023231.png</key>
            <dict>
                <key>frame</key>
                <string>{{458,286},{64,92}}</string>
                <key>offset</key>
                <string>{-3,39}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{221,171},{64,92}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6023232.png</key>
            <dict>
                <key>frame</key>
                <string>{{500,554},{64,94}}</string>
                <key>offset</key>
                <string>{-17,40}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{207,169},{64,94}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6023233.png</key>
            <dict>
                <key>frame</key>
                <string>{{602,834},{84,92}}</string>
                <key>offset</key>
                <string>{-19,39}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{195,171},{84,92}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6023234.png</key>
            <dict>
                <key>frame</key>
                <string>{{440,844},{82,94}}</string>
                <key>offset</key>
                <string>{-14,39}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{201,170},{82,94}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6023235.png</key>
            <dict>
                <key>frame</key>
                <string>{{450,406},{64,94}}</string>
                <key>offset</key>
                <string>{-8,39}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{216,170},{64,94}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6023241.png</key>
            <dict>
                <key>frame</key>
                <string>{{296,662},{74,98}}</string>
                <key>offset</key>
                <string>{0,38}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{219,169},{74,98}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6023242.png</key>
            <dict>
                <key>frame</key>
                <string>{{212,810},{56,94}}</string>
                <key>offset</key>
                <string>{2,42}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{230,167},{56,94}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6023243.png</key>
            <dict>
                <key>frame</key>
                <string>{{130,966},{58,92}}</string>
                <key>offset</key>
                <string>{-7,42}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{220,168},{58,92}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6023244.png</key>
            <dict>
                <key>frame</key>
                <string>{{314,964},{60,90}}</string>
                <key>offset</key>
                <string>{-4,41}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{222,170},{60,90}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6023245.png</key>
            <dict>
                <key>frame</key>
                <string>{{386,312},{72,94}}</string>
                <key>offset</key>
                <string>{0,41}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{220,168},{72,94}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6023251.png</key>
            <dict>
                <key>frame</key>
                <string>{{244,216},{62,98}}</string>
                <key>offset</key>
                <string>{1,40}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{226,167},{62,98}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6023252.png</key>
            <dict>
                <key>frame</key>
                <string>{{508,648},{62,94}}</string>
                <key>offset</key>
                <string>{2,44}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{227,165},{62,94}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6023253.png</key>
            <dict>
                <key>frame</key>
                <string>{{286,0},{62,98}}</string>
                <key>offset</key>
                <string>{1,40}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{226,167},{62,98}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6023254.png</key>
            <dict>
                <key>frame</key>
                <string>{{348,0},{62,96}}</string>
                <key>offset</key>
                <string>{0,40}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{225,168},{62,96}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6023255.png</key>
            <dict>
                <key>frame</key>
                <string>{{386,406},{64,94}}</string>
                <key>offset</key>
                <string>{-2,43}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{222,166},{64,94}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6023311.png</key>
            <dict>
                <key>frame</key>
                <string>{{308,98},{86,96}}</string>
                <key>offset</key>
                <string>{-15,43}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{198,165},{86,96}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6023312.png</key>
            <dict>
                <key>frame</key>
                <string>{{380,750},{92,94}}</string>
                <key>offset</key>
                <string>{-28,42}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{182,167},{92,94}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6023313.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,144},{66,142}}</string>
                <key>offset</key>
                <string>{-15,65}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{208,120},{66,142}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6023314.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{68,144}}</string>
                <key>offset</key>
                <string>{-8,66}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{214,118},{68,144}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6023315.png</key>
            <dict>
                <key>frame</key>
                <string>{{214,0},{72,118}}</string>
                <key>offset</key>
                <string>{3,46}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{223,151},{72,118}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6023321.png</key>
            <dict>
                <key>frame</key>
                <string>{{122,764},{90,102}}</string>
                <key>offset</key>
                <string>{-12,42}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{199,163},{90,102}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6023322.png</key>
            <dict>
                <key>frame</key>
                <string>{{176,258},{68,106}}</string>
                <key>offset</key>
                <string>{5,45}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{227,158},{68,106}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6023323.png</key>
            <dict>
                <key>frame</key>
                <string>{{66,144},{104,136}}</string>
                <key>offset</key>
                <string>{6,60}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{210,128},{104,136}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6023324.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,424},{112,132}}</string>
                <key>offset</key>
                <string>{14,58}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{214,132},{112,132}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6023325.png</key>
            <dict>
                <key>frame</key>
                <string>{{170,134},{74,124}}</string>
                <key>offset</key>
                <string>{-18,53}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{201,141},{74,124}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6023331.png</key>
            <dict>
                <key>frame</key>
                <string>{{244,118},{64,98}}</string>
                <key>offset</key>
                <string>{10,39}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{234,168},{64,98}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6023332.png</key>
            <dict>
                <key>frame</key>
                <string>{{104,662},{102,96}}</string>
                <key>offset</key>
                <string>{23,39}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{228,169},{102,96}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6023333.png</key>
            <dict>
                <key>frame</key>
                <string>{{70,280},{124,106}}</string>
                <key>offset</key>
                <string>{42,44}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{236,159},{124,106}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6023334.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,672},{108,104}}</string>
                <key>offset</key>
                <string>{31,43}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{233,161},{108,104}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6023335.png</key>
            <dict>
                <key>frame</key>
                <string>{{140,0},{74,134}}</string>
                <key>offset</key>
                <string>{-20,57}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{199,132},{74,134}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6023341.png</key>
            <dict>
                <key>frame</key>
                <string>{{394,96},{70,92}}</string>
                <key>offset</key>
                <string>{18,36}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{239,174},{70,92}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6023342.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,556},{116,90}}</string>
                <key>offset</key>
                <string>{42,32}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{240,179},{116,90}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6023343.png</key>
            <dict>
                <key>frame</key>
                <string>{{90,556},{106,92}}</string>
                <key>offset</key>
                <string>{37,33}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{240,177},{106,92}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6023344.png</key>
            <dict>
                <key>frame</key>
                <string>{{408,558},{92,94}}</string>
                <key>offset</key>
                <string>{29,35}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{239,174},{92,94}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6023345.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,286},{70,138}}</string>
                <key>offset</key>
                <string>{-17,60}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{204,127},{70,138}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6023351.png</key>
            <dict>
                <key>frame</key>
                <string>{{306,216},{86,96}}</string>
                <key>offset</key>
                <string>{15,31}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{228,177},{86,96}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6023352.png</key>
            <dict>
                <key>frame</key>
                <string>{{196,866},{92,98}}</string>
                <key>offset</key>
                <string>{27,24}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{237,183},{92,98}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6023353.png</key>
            <dict>
                <key>frame</key>
                <string>{{130,866},{66,100}}</string>
                <key>offset</key>
                <string>{15,23}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{238,183},{66,100}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6023354.png</key>
            <dict>
                <key>frame</key>
                <string>{{256,464},{68,100}}</string>
                <key>offset</key>
                <string>{7,26}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{229,180},{68,100}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6023355.png</key>
            <dict>
                <key>frame</key>
                <string>{{68,0},{72,136}}</string>
                <key>offset</key>
                <string>{-4,60}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{216,128},{72,136}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6023511.png</key>
            <dict>
                <key>frame</key>
                <string>{{392,194},{70,92}}</string>
                <key>offset</key>
                <string>{-9,46}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{212,164},{70,92}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6023512.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,780},{104,70}}</string>
                <key>offset</key>
                <string>{-18,39}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{186,182},{104,70}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6023521.png</key>
            <dict>
                <key>frame</key>
                <string>{{288,866},{82,98}}</string>
                <key>offset</key>
                <string>{2,44}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{217,163},{82,98}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6023522.png</key>
            <dict>
                <key>frame</key>
                <string>{{346,558},{96,62}}</string>
                <key>offset</key>
                <string>{33,31}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{241,194},{96,62}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6023531.png</key>
            <dict>
                <key>frame</key>
                <string>{{182,510},{74,102}}</string>
                <key>offset</key>
                <string>{16,45}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{235,160},{74,102}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6023532.png</key>
            <dict>
                <key>frame</key>
                <string>{{70,780},{104,52}}</string>
                <key>offset</key>
                <string>{53,12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{257,218},{104,52}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6023541.png</key>
            <dict>
                <key>frame</key>
                <string>{{112,404},{78,106}}</string>
                <key>offset</key>
                <string>{14,46}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{231,157},{78,106}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6023542.png</key>
            <dict>
                <key>frame</key>
                <string>{{68,884},{104,62}}</string>
                <key>offset</key>
                <string>{40,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{244,231},{104,62}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6023551.png</key>
            <dict>
                <key>frame</key>
                <string>{{370,858},{70,98}}</string>
                <key>offset</key>
                <string>{9,42}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{230,165},{70,98}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6023552.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,884},{104,68}}</string>
                <key>offset</key>
                <string>{18,-12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{222,234},{104,68}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>6023.pvr.ccz</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:352797c8d35886e30bead0cff44e852e:1/1$</string>
            <key>textureFileName</key>
            <string>6023.pvr.ccz</string>
        </dict>
    </dict>
</plist>
