<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bossBoom1.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,1416},{352,268}}</string>
                <key>offset</key>
                <string>{23,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{359,376},{352,268}}</string>
                <key>sourceSize</key>
                <string>{1024,1024}</string>
            </dict>
            <key>bossBoom2.png</key>
            <dict>
                <key>frame</key>
                <string>{{978,1354},{646,732}}</string>
                <key>offset</key>
                <string>{34,138}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{223,8},{646,732}}</string>
                <key>sourceSize</key>
                <string>{1024,1024}</string>
            </dict>
            <key>bossBoom4.png</key>
            <dict>
                <key>frame</key>
                <string>{{980,612},{742,754}}</string>
                <key>offset</key>
                <string>{2,127}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{143,8},{742,754}}</string>
                <key>sourceSize</key>
                <string>{1024,1024}</string>
            </dict>
            <key>bossBoom5.png</key>
            <dict>
                <key>frame</key>
                <string>{{980,0},{906,612}}</string>
                <key>offset</key>
                <string>{-4,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{55,208},{906,612}}</string>
                <key>sourceSize</key>
                <string>{1024,1024}</string>
            </dict>
            <key>bossBoom6.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,726},{978,690}}</string>
                <key>offset</key>
                <string>{15,-20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{38,187},{978,690}}</string>
                <key>sourceSize</key>
                <string>{1024,1024}</string>
            </dict>
            <key>bossBoom7.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{980,726}}</string>
                <key>offset</key>
                <string>{16,-29}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{38,178},{980,726}}</string>
                <key>sourceSize</key>
                <string>{1024,1024}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>bossBoom.pvr.ccz</string>
            <key>size</key>
            <string>{2048,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:187245a1e9a50fa6f72840a0bb32f698:1/1$</string>
            <key>textureFileName</key>
            <string>bossBoom.pvr.ccz</string>
        </dict>
    </dict>
</plist>
