<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>6008111.png</key>
            <dict>
                <key>frame</key>
                <string>{{250,368},{50,80}}</string>
                <key>offset</key>
                <string>{5,41}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{236,175},{50,80}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6008112.png</key>
            <dict>
                <key>frame</key>
                <string>{{78,474},{50,78}}</string>
                <key>offset</key>
                <string>{6,40}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{237,177},{50,78}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6008113.png</key>
            <dict>
                <key>frame</key>
                <string>{{158,436},{50,78}}</string>
                <key>offset</key>
                <string>{6,40}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{237,177},{50,78}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6008121.png</key>
            <dict>
                <key>frame</key>
                <string>{{274,204},{52,86}}</string>
                <key>offset</key>
                <string>{-8,38}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{222,175},{52,86}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6008122.png</key>
            <dict>
                <key>frame</key>
                <string>{{360,210},{54,84}}</string>
                <key>offset</key>
                <string>{-9,37}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{220,177},{54,84}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6008123.png</key>
            <dict>
                <key>frame</key>
                <string>{{170,288},{52,84}}</string>
                <key>offset</key>
                <string>{-8,37}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{222,177},{52,84}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6008131.png</key>
            <dict>
                <key>frame</key>
                <string>{{458,152},{54,84}}</string>
                <key>offset</key>
                <string>{-15,31}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{214,183},{54,84}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6008132.png</key>
            <dict>
                <key>frame</key>
                <string>{{430,308},{52,82}}</string>
                <key>offset</key>
                <string>{-14,31}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{216,184},{52,82}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6008133.png</key>
            <dict>
                <key>frame</key>
                <string>{{264,256},{52,84}}</string>
                <key>offset</key>
                <string>{-14,32}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{216,182},{52,84}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6008141.png</key>
            <dict>
                <key>frame</key>
                <string>{{76,524},{44,76}}</string>
                <key>offset</key>
                <string>{-9,23}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{225,195},{44,76}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6008142.png</key>
            <dict>
                <key>frame</key>
                <string>{{232,518},{46,74}}</string>
                <key>offset</key>
                <string>{-10,23}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{223,196},{46,74}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6008143.png</key>
            <dict>
                <key>frame</key>
                <string>{{156,486},{46,76}}</string>
                <key>offset</key>
                <string>{-10,24}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{223,194},{46,76}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6008151.png</key>
            <dict>
                <key>frame</key>
                <string>{{72,620},{50,68}}</string>
                <key>offset</key>
                <string>{-6,23}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{225,199},{50,68}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6008152.png</key>
            <dict>
                <key>frame</key>
                <string>{{216,614},{50,66}}</string>
                <key>offset</key>
                <string>{-6,23}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{225,200},{50,66}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6008153.png</key>
            <dict>
                <key>frame</key>
                <string>{{148,586},{50,68}}</string>
                <key>offset</key>
                <string>{-7,24}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{224,198},{50,68}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6008211.png</key>
            <dict>
                <key>frame</key>
                <string>{{390,102},{50,90}}</string>
                <key>offset</key>
                <string>{-6,19}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{225,192},{50,90}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6008212.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,402},{54,80}}</string>
                <key>offset</key>
                <string>{-7,27}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{222,189},{54,80}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6008213.png</key>
            <dict>
                <key>frame</key>
                <string>{{386,526},{52,70}}</string>
                <key>offset</key>
                <string>{-12,32}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{218,189},{52,70}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6008214.png</key>
            <dict>
                <key>frame</key>
                <string>{{84,350},{54,80}}</string>
                <key>offset</key>
                <string>{-14,31}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{215,185},{54,80}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6008215.png</key>
            <dict>
                <key>frame</key>
                <string>{{236,470},{48,76}}</string>
                <key>offset</key>
                <string>{-8,35}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{224,183},{48,76}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6008221.png</key>
            <dict>
                <key>frame</key>
                <string>{{86,276},{74,84}}</string>
                <key>offset</key>
                <string>{-3,25}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{216,189},{74,84}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6008222.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,510},{72,76}}</string>
                <key>offset</key>
                <string>{-8,30}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{212,188},{72,76}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6008223.png</key>
            <dict>
                <key>frame</key>
                <string>{{322,432},{50,76}}</string>
                <key>offset</key>
                <string>{-7,24}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{224,194},{50,76}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6008224.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,346},{56,84}}</string>
                <key>offset</key>
                <string>{-11,23}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{217,191},{56,84}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6008225.png</key>
            <dict>
                <key>frame</key>
                <string>{{170,340},{56,80}}</string>
                <key>offset</key>
                <string>{-10,31}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{218,185},{56,80}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6008231.png</key>
            <dict>
                <key>frame</key>
                <string>{{348,302},{76,82}}</string>
                <key>offset</key>
                <string>{2,22}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{220,193},{76,82}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6008232.png</key>
            <dict>
                <key>frame</key>
                <string>{{254,308},{60,80}}</string>
                <key>offset</key>
                <string>{-2,22}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{224,194},{60,80}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6008233.png</key>
            <dict>
                <key>frame</key>
                <string>{{312,482},{46,74}}</string>
                <key>offset</key>
                <string>{2,18}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{235,201},{46,74}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6008234.png</key>
            <dict>
                <key>frame</key>
                <string>{{330,378},{54,78}}</string>
                <key>offset</key>
                <string>{-3,18}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{226,199},{54,78}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6008235.png</key>
            <dict>
                <key>frame</key>
                <string>{{372,152},{58,86}}</string>
                <key>offset</key>
                <string>{-7,23}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{220,190},{58,86}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6008241.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,456},{54,78}}</string>
                <key>offset</key>
                <string>{-1,15}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{228,202},{54,78}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6008242.png</key>
            <dict>
                <key>frame</key>
                <string>{{348,264},{38,84}}</string>
                <key>offset</key>
                <string>{-5,18}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{232,196},{38,84}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6008243.png</key>
            <dict>
                <key>frame</key>
                <string>{{224,564},{50,70}}</string>
                <key>offset</key>
                <string>{5,22}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{236,199},{50,70}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6008244.png</key>
            <dict>
                <key>frame</key>
                <string>{{294,578},{58,66}}</string>
                <key>offset</key>
                <string>{1,21}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{228,202},{58,66}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6008245.png</key>
            <dict>
                <key>frame</key>
                <string>{{164,396},{40,80}}</string>
                <key>offset</key>
                <string>{-2,19}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{234,197},{40,80}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6008251.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,582},{50,72}}</string>
                <key>offset</key>
                <string>{6,17}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{237,203},{50,72}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6008252.png</key>
            <dict>
                <key>frame</key>
                <string>{{408,424},{54,76}}</string>
                <key>offset</key>
                <string>{6,23}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{235,195},{54,76}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6008253.png</key>
            <dict>
                <key>frame</key>
                <string>{{76,568},{52,72}}</string>
                <key>offset</key>
                <string>{11,27}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{241,193},{52,72}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6008254.png</key>
            <dict>
                <key>frame</key>
                <string>{{152,532},{54,72}}</string>
                <key>offset</key>
                <string>{14,23}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{243,197},{54,72}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6008255.png</key>
            <dict>
                <key>frame</key>
                <string>{{398,478},{48,74}}</string>
                <key>offset</key>
                <string>{8,22}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{240,197},{48,74}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6008311.png</key>
            <dict>
                <key>frame</key>
                <string>{{408,52},{50,96}}</string>
                <key>offset</key>
                <string>{6,49}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{237,159},{50,96}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6008312.png</key>
            <dict>
                <key>frame</key>
                <string>{{186,180},{58,88}}</string>
                <key>offset</key>
                <string>{11,19}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{238,193},{58,88}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6008313.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,230},{60,86}}</string>
                <key>offset</key>
                <string>{13,18}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{239,195},{60,86}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6008314.png</key>
            <dict>
                <key>frame</key>
                <string>{{104,46},{50,100}}</string>
                <key>offset</key>
                <string>{6,29}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{237,177},{50,100}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6008315.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,58},{64,98}}</string>
                <key>offset</key>
                <string>{-1,34}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{223,173},{64,98}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6008321.png</key>
            <dict>
                <key>frame</key>
                <string>{{298,58},{76,92}}</string>
                <key>offset</key>
                <string>{-20,43}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{198,167},{76,92}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6008322.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,122},{52,94}}</string>
                <key>offset</key>
                <string>{17,23}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{247,186},{52,94}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6008323.png</key>
            <dict>
                <key>frame</key>
                <string>{{408,0},{52,96}}</string>
                <key>offset</key>
                <string>{18,24}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{248,184},{52,96}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6008324.png</key>
            <dict>
                <key>frame</key>
                <string>{{104,0},{46,104}}</string>
                <key>offset</key>
                <string>{13,31}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{246,173},{46,104}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6008325.png</key>
            <dict>
                <key>frame</key>
                <string>{{98,96},{54,94}}</string>
                <key>offset</key>
                <string>{-4,30}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{225,179},{54,94}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6008331.png</key>
            <dict>
                <key>frame</key>
                <string>{{192,106},{74,92}}</string>
                <key>offset</key>
                <string>{-30,36}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{189,174},{74,92}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6008332.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,174},{56,92}}</string>
                <key>offset</key>
                <string>{10,36}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{238,174},{56,92}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6008333.png</key>
            <dict>
                <key>frame</key>
                <string>{{204,50},{56,94}}</string>
                <key>offset</key>
                <string>{10,37}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{238,172},{56,94}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6008334.png</key>
            <dict>
                <key>frame</key>
                <string>{{310,0},{58,98}}</string>
                <key>offset</key>
                <string>{11,37}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{238,170},{58,98}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6008335.png</key>
            <dict>
                <key>frame</key>
                <string>{{178,238},{50,86}}</string>
                <key>offset</key>
                <string>{1,31}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{232,182},{50,86}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6008341.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,290},{56,84}}</string>
                <key>offset</key>
                <string>{-13,27}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{215,187},{56,84}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6008342.png</key>
            <dict>
                <key>frame</key>
                <string>{{284,134},{70,88}}</string>
                <key>offset</key>
                <string>{1,49}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{222,163},{70,88}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6008343.png</key>
            <dict>
                <key>frame</key>
                <string>{{80,404},{70,78}}</string>
                <key>offset</key>
                <string>{1,44}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{222,173},{70,78}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6008344.png</key>
            <dict>
                <key>frame</key>
                <string>{{94,150},{66,92}}</string>
                <key>offset</key>
                <string>{-1,47}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{222,163},{66,92}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6008345.png</key>
            <dict>
                <key>frame</key>
                <string>{{444,236},{68,72}}</string>
                <key>offset</key>
                <string>{2,32}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{224,188},{68,72}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6008351.png</key>
            <dict>
                <key>frame</key>
                <string>{{306,528},{50,70}}</string>
                <key>offset</key>
                <string>{-6,22}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{225,199},{50,70}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6008352.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{58,104}}</string>
                <key>offset</key>
                <string>{-12,42}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{215,162},{58,104}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6008353.png</key>
            <dict>
                <key>frame</key>
                <string>{{92,216},{60,86}}</string>
                <key>offset</key>
                <string>{-13,33}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{213,180},{60,86}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6008354.png</key>
            <dict>
                <key>frame</key>
                <string>{{208,0},{50,102}}</string>
                <key>offset</key>
                <string>{-6,42}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{225,163},{50,102}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6008355.png</key>
            <dict>
                <key>frame</key>
                <string>{{430,360},{64,80}}</string>
                <key>offset</key>
                <string>{1,32}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{225,184},{64,80}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6008511.png</key>
            <dict>
                <key>frame</key>
                <string>{{244,418},{52,78}}</string>
                <key>offset</key>
                <string>{2,13}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{232,204},{52,78}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6008512.png</key>
            <dict>
                <key>frame</key>
                <string>{{282,636},{56,54}}</string>
                <key>offset</key>
                <string>{-3,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{225,228},{56,54}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6008521.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,632},{60,66}}</string>
                <key>offset</key>
                <string>{3,13}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{229,210},{60,66}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6008522.png</key>
            <dict>
                <key>frame</key>
                <string>{{360,578},{60,52}}</string>
                <key>offset</key>
                <string>{0,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{226,225},{60,52}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6008531.png</key>
            <dict>
                <key>frame</key>
                <string>{{66,670},{64,54}}</string>
                <key>offset</key>
                <string>{11,14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{235,215},{64,54}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6008532.png</key>
            <dict>
                <key>frame</key>
                <string>{{360,630},{56,56}}</string>
                <key>offset</key>
                <string>{12,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{240,220},{56,56}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6008541.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,692},{60,58}}</string>
                <key>offset</key>
                <string>{3,12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{229,215},{60,58}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6008542.png</key>
            <dict>
                <key>frame</key>
                <string>{{140,636},{60,64}}</string>
                <key>offset</key>
                <string>{3,13}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{229,211},{60,64}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6008551.png</key>
            <dict>
                <key>frame</key>
                <string>{{420,586},{52,58}}</string>
                <key>offset</key>
                <string>{-3,16}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{227,211},{52,58}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6008552.png</key>
            <dict>
                <key>frame</key>
                <string>{{456,526},{56,60}}</string>
                <key>offset</key>
                <string>{3,20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{231,206},{56,60}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>6008.pvr.ccz</string>
            <key>size</key>
            <string>{512,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:8108cee28b3866eee438b8bd3d123f4c:1/1$</string>
            <key>textureFileName</key>
            <string>6008.pvr.ccz</string>
        </dict>
    </dict>
</plist>
