<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>7001111.png</key>
            <dict>
                <key>frame</key>
                <string>{{836,528},{90,150}}</string>
                <key>offset</key>
                <string>{2,38}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{213,143},{90,150}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>7001112.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,932},{92,150}}</string>
                <key>offset</key>
                <string>{1,38}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{211,143},{92,150}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>7001113.png</key>
            <dict>
                <key>frame</key>
                <string>{{436,842},{92,148}}</string>
                <key>offset</key>
                <string>{1,37}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{211,145},{92,148}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>7001121.png</key>
            <dict>
                <key>frame</key>
                <string>{{586,744},{112,148}}</string>
                <key>offset</key>
                <string>{9,46}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{209,136},{112,148}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>7001122.png</key>
            <dict>
                <key>frame</key>
                <string>{{582,978},{110,146}}</string>
                <key>offset</key>
                <string>{10,45}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{211,138},{110,146}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>7001123.png</key>
            <dict>
                <key>frame</key>
                <string>{{836,826},{112,146}}</string>
                <key>offset</key>
                <string>{9,45}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{209,138},{112,146}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>7001131.png</key>
            <dict>
                <key>frame</key>
                <string>{{356,266},{82,154}}</string>
                <key>offset</key>
                <string>{17,52}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{232,127},{82,154}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>7001132.png</key>
            <dict>
                <key>frame</key>
                <string>{{756,488},{80,152}}</string>
                <key>offset</key>
                <string>{18,51}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{234,129},{80,152}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>7001133.png</key>
            <dict>
                <key>frame</key>
                <string>{{354,420},{82,152}}</string>
                <key>offset</key>
                <string>{17,51}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{232,129},{82,152}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>7001141.png</key>
            <dict>
                <key>frame</key>
                <string>{{832,1028},{72,146}}</string>
                <key>offset</key>
                <string>{14,63}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{234,120},{72,146}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>7001142.png</key>
            <dict>
                <key>frame</key>
                <string>{{434,1054},{72,144}}</string>
                <key>offset</key>
                <string>{10,62}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{230,122},{72,144}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>7001143.png</key>
            <dict>
                <key>frame</key>
                <string>{{768,338},{70,146}}</string>
                <key>offset</key>
                <string>{13,63}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{234,120},{70,146}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>7001151.png</key>
            <dict>
                <key>frame</key>
                <string>{{278,1064},{90,138}}</string>
                <key>offset</key>
                <string>{-2,69}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{209,118},{90,138}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>7001152.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,1102},{92,138}}</string>
                <key>offset</key>
                <string>{-2,68}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{208,119},{92,138}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>7001153.png</key>
            <dict>
                <key>frame</key>
                <string>{{826,1232},{92,140}}</string>
                <key>offset</key>
                <string>{-1,69}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{209,117},{92,140}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>7001211.png</key>
            <dict>
                <key>frame</key>
                <string>{{266,1278},{122,124}}</string>
                <key>offset</key>
                <string>{8,53}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{203,141},{122,124}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>7001212.png</key>
            <dict>
                <key>frame</key>
                <string>{{134,1238},{122,132}}</string>
                <key>offset</key>
                <string>{6,46}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{201,144},{122,132}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>7001213.png</key>
            <dict>
                <key>frame</key>
                <string>{{274,1154},{124,132}}</string>
                <key>offset</key>
                <string>{1,44}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{195,146},{124,132}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>7001214.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,1322},{122,128}}</string>
                <key>offset</key>
                <string>{0,50}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{195,142},{122,128}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>7001215.png</key>
            <dict>
                <key>frame</key>
                <string>{{140,1024},{122,138}}</string>
                <key>offset</key>
                <string>{4,40}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{199,147},{122,138}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>7001221.png</key>
            <dict>
                <key>frame</key>
                <string>{{416,1126},{92,134}}</string>
                <key>offset</key>
                <string>{2,59}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{212,130},{92,134}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>7001222.png</key>
            <dict>
                <key>frame</key>
                <string>{{730,894},{102,138}}</string>
                <key>offset</key>
                <string>{1,52}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{206,135},{102,138}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>7001223.png</key>
            <dict>
                <key>frame</key>
                <string>{{578,1088},{96,140}}</string>
                <key>offset</key>
                <string>{-1,46}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{207,140},{96,140}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>7001224.png</key>
            <dict>
                <key>frame</key>
                <string>{{406,1218},{88,126}}</string>
                <key>offset</key>
                <string>{-1,56}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{211,137},{88,126}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>7001225.png</key>
            <dict>
                <key>frame</key>
                <string>{{728,1032},{100,132}}</string>
                <key>offset</key>
                <string>{1,53}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{207,137},{100,132}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>7001231.png</key>
            <dict>
                <key>frame</key>
                <string>{{836,752},{74,148}}</string>
                <key>offset</key>
                <string>{-5,62}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{214,120},{74,148}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>7001232.png</key>
            <dict>
                <key>frame</key>
                <string>{{550,1184},{118,128}}</string>
                <key>offset</key>
                <string>{6,65}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{203,127},{118,128}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>7001233.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,1024},{78,140}}</string>
                <key>offset</key>
                <string>{-4,56}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{213,130},{78,140}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>7001234.png</key>
            <dict>
                <key>frame</key>
                <string>{{150,946},{78,144}}</string>
                <key>offset</key>
                <string>{-1,57}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{216,127},{78,144}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>7001235.png</key>
            <dict>
                <key>frame</key>
                <string>{{300,844},{102,136}}</string>
                <key>offset</key>
                <string>{-6,60}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{199,128},{102,136}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>7001241.png</key>
            <dict>
                <key>frame</key>
                <string>{{832,938},{90,146}}</string>
                <key>offset</key>
                <string>{-12,66}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{199,117},{90,146}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>7001242.png</key>
            <dict>
                <key>frame</key>
                <string>{{322,572},{114,136}}</string>
                <key>offset</key>
                <string>{1,63}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{200,125},{114,136}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>7001243.png</key>
            <dict>
                <key>frame</key>
                <string>{{138,1146},{92,136}}</string>
                <key>offset</key>
                <string>{-8,63}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{202,125},{92,136}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>7001244.png</key>
            <dict>
                <key>frame</key>
                <string>{{152,724},{100,152}}</string>
                <key>offset</key>
                <string>{-6,60}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{200,120},{100,152}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>7001245.png</key>
            <dict>
                <key>frame</key>
                <string>{{166,500},{102,156}}</string>
                <key>offset</key>
                <string>{-10,53}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{195,125},{102,156}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>7001251.png</key>
            <dict>
                <key>frame</key>
                <string>{{584,856},{122,146}}</string>
                <key>offset</key>
                <string>{-8,60}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{187,123},{122,146}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>7001252.png</key>
            <dict>
                <key>frame</key>
                <string>{{150,824},{122,150}}</string>
                <key>offset</key>
                <string>{-6,54}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{189,127},{122,150}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>7001253.png</key>
            <dict>
                <key>frame</key>
                <string>{{436,720},{122,150}}</string>
                <key>offset</key>
                <string>{-2,56}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{193,125},{122,150}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>7001254.png</key>
            <dict>
                <key>frame</key>
                <string>{{166,602},{122,154}}</string>
                <key>offset</key>
                <string>{-1,58}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{194,121},{122,154}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>7001255.png</key>
            <dict>
                <key>frame</key>
                <string>{{436,492},{122,154}}</string>
                <key>offset</key>
                <string>{-5,51}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{190,128},{122,154}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>7001311.png</key>
            <dict>
                <key>frame</key>
                <string>{{838,132},{84,184}}</string>
                <key>offset</key>
                <string>{-6,43}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{208,121},{84,184}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>7001312.png</key>
            <dict>
                <key>frame</key>
                <string>{{644,120},{100,194}}</string>
                <key>offset</key>
                <string>{-13,70}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{193,89},{100,194}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>7001313.png</key>
            <dict>
                <key>frame</key>
                <string>{{216,166},{100,180}}</string>
                <key>offset</key>
                <string>{-18,90}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{188,76},{100,180}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>7001314.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,784},{150,148}}</string>
                <key>offset</key>
                <string>{-6,24}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{175,158},{150,148}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>7001315.png</key>
            <dict>
                <key>frame</key>
                <string>{{222,0},{216,166}}</string>
                <key>offset</key>
                <string>{7,33}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{155,140},{216,166}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>7001321.png</key>
            <dict>
                <key>frame</key>
                <string>{{438,290},{118,166}}</string>
                <key>offset</key>
                <string>{19,59}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{216,114},{118,166}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>7001322.png</key>
            <dict>
                <key>frame</key>
                <string>{{838,216},{162,182}}</string>
                <key>offset</key>
                <string>{-12,78}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{163,87},{162,182}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>7001323.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,472},{162,166}}</string>
                <key>offset</key>
                <string>{-37,70}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{138,103},{162,166}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>7001324.png</key>
            <dict>
                <key>frame</key>
                <string>{{294,946},{140,118}}</string>
                <key>offset</key>
                <string>{32,28}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{218,169},{140,118}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>7001325.png</key>
            <dict>
                <key>frame</key>
                <string>{{178,356},{144,176}}</string>
                <key>offset</key>
                <string>{21,63}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{205,105},{144,176}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>7001331.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,250},{112,178}}</string>
                <key>offset</key>
                <string>{20,63}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{220,104},{112,178}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>7001332.png</key>
            <dict>
                <key>frame</key>
                <string>{{604,338},{150,164}}</string>
                <key>offset</key>
                <string>{-6,57}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{175,117},{150,164}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>7001333.png</key>
            <dict>
                <key>frame</key>
                <string>{{838,378},{150,156}}</string>
                <key>offset</key>
                <string>{-33,53}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{148,125},{150,156}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>7001334.png</key>
            <dict>
                <key>frame</key>
                <string>{{588,622},{150,122}}</string>
                <key>offset</key>
                <string>{42,36}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{223,159},{150,122}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>7001335.png</key>
            <dict>
                <key>frame</key>
                <string>{{438,0},{130,206}}</string>
                <key>offset</key>
                <string>{21,78}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{212,75},{130,206}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>7001341.png</key>
            <dict>
                <key>frame</key>
                <string>{{178,266},{90,178}}</string>
                <key>offset</key>
                <string>{21,64}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{232,103},{90,178}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>7001342.png</key>
            <dict>
                <key>frame</key>
                <string>{{436,934},{120,146}}</string>
                <key>offset</key>
                <string>{-24,48}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{172,135},{120,146}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>7001343.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,1194},{134,128}}</string>
                <key>offset</key>
                <string>{-32,41}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{157,151},{134,128}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>7001344.png</key>
            <dict>
                <key>frame</key>
                <string>{{836,618},{134,148}}</string>
                <key>offset</key>
                <string>{45,51}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{234,131},{134,148}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>7001345.png</key>
            <dict>
                <key>frame</key>
                <string>{{438,130},{160,188}}</string>
                <key>offset</key>
                <string>{11,74}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{187,88},{160,188}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>7001351.png</key>
            <dict>
                <key>frame</key>
                <string>{{438,408},{84,164}}</string>
                <key>offset</key>
                <string>{6,63}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{220,111},{84,164}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>7001352.png</key>
            <dict>
                <key>frame</key>
                <string>{{734,756},{102,138}}</string>
                <key>offset</key>
                <string>{12,45}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{217,142},{102,138}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>7001353.png</key>
            <dict>
                <key>frame</key>
                <string>{{738,640},{98,116}}</string>
                <key>offset</key>
                <string>{18,42}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{225,156},{98,116}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>7001354.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,634},{150,152}}</string>
                <key>offset</key>
                <string>{6,63}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{187,117},{150,152}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>7001355.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,90},{216,160}}</string>
                <key>offset</key>
                <string>{-8,74}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{140,102},{216,160}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>7001511.png</key>
            <dict>
                <key>frame</key>
                <string>{{626,220},{118,182}}</string>
                <key>offset</key>
                <string>{-9,32}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{188,133},{118,182}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>7001512.png</key>
            <dict>
                <key>frame</key>
                <string>{{602,488},{134,154}}</string>
                <key>offset</key>
                <string>{-12,-82}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{177,261},{134,154}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>7001521.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,362},{110,174}}</string>
                <key>offset</key>
                <string>{42,38}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{243,131},{110,174}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>7001522.png</key>
            <dict>
                <key>frame</key>
                <string>{{840,0},{184,132}}</string>
                <key>offset</key>
                <string>{110,-62}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{274,252},{184,132}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>7001531.png</key>
            <dict>
                <key>frame</key>
                <string>{{436,614},{106,152}}</string>
                <key>offset</key>
                <string>{58,54}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{261,126},{106,152}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>7001532.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{222,90}}</string>
                <key>offset</key>
                <string>{139,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{284,212},{222,90}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>7001541.png</key>
            <dict>
                <key>frame</key>
                <string>{{718,1164},{108,134}}</string>
                <key>offset</key>
                <string>{38,72}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{240,117},{108,134}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>7001542.png</key>
            <dict>
                <key>frame</key>
                <string>{{644,0},{196,120}}</string>
                <key>offset</key>
                <string>{107,72}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{265,124},{196,120}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>7001551.png</key>
            <dict>
                <key>frame</key>
                <string>{{320,708},{116,136}}</string>
                <key>offset</key>
                <string>{8,80}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{206,108},{116,136}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>7001552.png</key>
            <dict>
                <key>frame</key>
                <string>{{828,1100},{132,144}}</string>
                <key>offset</key>
                <string>{11,92}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{201,92},{132,144}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>7001.pvr.ccz</string>
            <key>size</key>
            <string>{1024,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:0970a925a5792b6598b9c515008cf650:1/1$</string>
            <key>textureFileName</key>
            <string>7001.pvr.ccz</string>
        </dict>
    </dict>
</plist>
