<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>811211.png</key>
            <dict>
                <key>frame</key>
                <string>{{1380,1106},{176,236}}</string>
                <key>offset</key>
                <string>{-6,61}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{290,205},{176,236}}</string>
                <key>sourceSize</key>
                <string>{768,768}</string>
            </dict>
            <key>811212.png</key>
            <dict>
                <key>frame</key>
                <string>{{1478,0},{160,348}}</string>
                <key>offset</key>
                <string>{-2,-8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{302,218},{160,348}}</string>
                <key>sourceSize</key>
                <string>{768,768}</string>
            </dict>
            <key>811213.png</key>
            <dict>
                <key>frame</key>
                <string>{{1118,286},{132,330}}</string>
                <key>offset</key>
                <string>{-1,-38}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{317,257},{132,330}}</string>
                <key>sourceSize</key>
                <string>{768,768}</string>
            </dict>
            <key>811214.png</key>
            <dict>
                <key>frame</key>
                <string>{{1118,160},{126,338}}</string>
                <key>offset</key>
                <string>{3,-45}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{324,260},{126,338}}</string>
                <key>sourceSize</key>
                <string>{768,768}</string>
            </dict>
            <key>811215.png</key>
            <dict>
                <key>frame</key>
                <string>{{350,250},{126,338}}</string>
                <key>offset</key>
                <string>{3,-45}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{324,260},{126,338}}</string>
                <key>sourceSize</key>
                <string>{768,768}</string>
            </dict>
            <key>811216.png</key>
            <dict>
                <key>frame</key>
                <string>{{780,160},{138,338}}</string>
                <key>offset</key>
                <string>{9,-45}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{324,260},{138,338}}</string>
                <key>sourceSize</key>
                <string>{768,768}</string>
            </dict>
            <key>811221.png</key>
            <dict>
                <key>frame</key>
                <string>{{778,1312},{234,218}}</string>
                <key>offset</key>
                <string>{-4,68}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{263,207},{234,218}}</string>
                <key>sourceSize</key>
                <string>{768,768}</string>
            </dict>
            <key>811222.png</key>
            <dict>
                <key>frame</key>
                <string>{{688,298},{324,224}}</string>
                <key>offset</key>
                <string>{52,12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{274,260},{324,224}}</string>
                <key>sourceSize</key>
                <string>{768,768}</string>
            </dict>
            <key>811223.png</key>
            <dict>
                <key>frame</key>
                <string>{{1448,292},{324,318}}</string>
                <key>offset</key>
                <string>{70,23}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{292,202},{324,318}}</string>
                <key>sourceSize</key>
                <string>{768,768}</string>
            </dict>
            <key>811224.png</key>
            <dict>
                <key>frame</key>
                <string>{{1012,418},{238,306}}</string>
                <key>offset</key>
                <string>{106,16}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{371,215},{238,306}}</string>
                <key>sourceSize</key>
                <string>{768,768}</string>
            </dict>
            <key>811225.png</key>
            <dict>
                <key>frame</key>
                <string>{{1442,610},{178,306}}</string>
                <key>offset</key>
                <string>{134,16}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{429,215},{178,306}}</string>
                <key>sourceSize</key>
                <string>{768,768}</string>
            </dict>
            <key>811226.png</key>
            <dict>
                <key>frame</key>
                <string>{{1436,788},{198,296}}</string>
                <key>offset</key>
                <string>{144,11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{429,225},{198,296}}</string>
                <key>sourceSize</key>
                <string>{768,768}</string>
            </dict>
            <key>811231.png</key>
            <dict>
                <key>frame</key>
                <string>{{540,1174},{238,182}}</string>
                <key>offset</key>
                <string>{21,92}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{286,201},{238,182}}</string>
                <key>sourceSize</key>
                <string>{768,768}</string>
            </dict>
            <key>811232.png</key>
            <dict>
                <key>frame</key>
                <string>{{780,0},{350,160}}</string>
                <key>offset</key>
                <string>{89,83}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{298,221},{350,160}}</string>
                <key>sourceSize</key>
                <string>{768,768}</string>
            </dict>
            <key>811233.png</key>
            <dict>
                <key>frame</key>
                <string>{{414,0},{366,250}}</string>
                <key>offset</key>
                <string>{103,106}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{304,153},{366,250}}</string>
                <key>sourceSize</key>
                <string>{768,768}</string>
            </dict>
            <key>811234.png</key>
            <dict>
                <key>frame</key>
                <string>{{1788,260},{254,258}}</string>
                <key>offset</key>
                <string>{161,109}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{418,146},{254,258}}</string>
                <key>sourceSize</key>
                <string>{768,768}</string>
            </dict>
            <key>811235.png</key>
            <dict>
                <key>frame</key>
                <string>{{1122,998},{220,258}}</string>
                <key>offset</key>
                <string>{178,109}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{452,146},{220,258}}</string>
                <key>sourceSize</key>
                <string>{768,768}</string>
            </dict>
            <key>811236.png</key>
            <dict>
                <key>frame</key>
                <string>{{272,1078},{220,268}}</string>
                <key>offset</key>
                <string>{178,104}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{452,146},{220,268}}</string>
                <key>sourceSize</key>
                <string>{768,768}</string>
            </dict>
            <key>811241.png</key>
            <dict>
                <key>frame</key>
                <string>{{236,1476},{230,226}}</string>
                <key>offset</key>
                <string>{-16,42}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{253,229},{230,226}}</string>
                <key>sourceSize</key>
                <string>{768,768}</string>
            </dict>
            <key>811242.png</key>
            <dict>
                <key>frame</key>
                <string>{{1772,514},{286,272}}</string>
                <key>offset</key>
                <string>{57,90}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{298,158},{286,272}}</string>
                <key>sourceSize</key>
                <string>{768,768}</string>
            </dict>
            <key>811243.png</key>
            <dict>
                <key>frame</key>
                <string>{{668,522},{278,304}}</string>
                <key>offset</key>
                <string>{76,149}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{321,83},{278,304}}</string>
                <key>sourceSize</key>
                <string>{768,768}</string>
            </dict>
            <key>811244.png</key>
            <dict>
                <key>frame</key>
                <string>{{572,800},{192,278}}</string>
                <key>offset</key>
                <string>{104,171}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{392,74},{192,278}}</string>
                <key>sourceSize</key>
                <string>{768,768}</string>
            </dict>
            <key>811245.png</key>
            <dict>
                <key>frame</key>
                <string>{{286,920},{158,278}}</string>
                <key>offset</key>
                <string>{130,171}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{435,74},{158,278}}</string>
                <key>sourceSize</key>
                <string>{768,768}</string>
            </dict>
            <key>811246.png</key>
            <dict>
                <key>frame</key>
                <string>{{564,992},{182,270}}</string>
                <key>offset</key>
                <string>{132,167}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{425,82},{182,270}}</string>
                <key>sourceSize</key>
                <string>{768,768}</string>
            </dict>
            <key>811251.png</key>
            <dict>
                <key>frame</key>
                <string>{{266,1298},{178,236}}</string>
                <key>offset</key>
                <string>{-2,80}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{293,186},{178,236}}</string>
                <key>sourceSize</key>
                <string>{768,768}</string>
            </dict>
            <key>811252.png</key>
            <dict>
                <key>frame</key>
                <string>{{1130,0},{160,348}}</string>
                <key>offset</key>
                <string>{3,150}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{307,60},{160,348}}</string>
                <key>sourceSize</key>
                <string>{768,768}</string>
            </dict>
            <key>811253.png</key>
            <dict>
                <key>frame</key>
                <string>{{1456,160},{132,332}}</string>
                <key>offset</key>
                <string>{1,180}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{319,38},{132,332}}</string>
                <key>sourceSize</key>
                <string>{768,768}</string>
            </dict>
            <key>811254.png</key>
            <dict>
                <key>frame</key>
                <string>{{1436,986},{120,294}}</string>
                <key>offset</key>
                <string>{-6,186}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{318,51},{120,294}}</string>
                <key>sourceSize</key>
                <string>{768,768}</string>
            </dict>
            <key>811255.png</key>
            <dict>
                <key>frame</key>
                <string>{{1318,418},{124,284}}</string>
                <key>offset</key>
                <string>{-5,181}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{317,61},{124,284}}</string>
                <key>sourceSize</key>
                <string>{768,768}</string>
            </dict>
            <key>811256.png</key>
            <dict>
                <key>frame</key>
                <string>{{286,784},{136,286}}</string>
                <key>offset</key>
                <string>{2,181}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{318,60},{136,286}}</string>
                <key>sourceSize</key>
                <string>{768,768}</string>
            </dict>
            <key>811261.png</key>
            <dict>
                <key>frame</key>
                <string>{{502,1356},{232,220}}</string>
                <key>offset</key>
                <string>{-22,93}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{246,181},{232,220}}</string>
                <key>sourceSize</key>
                <string>{768,768}</string>
            </dict>
            <key>811262.png</key>
            <dict>
                <key>frame</key>
                <string>{{350,376},{318,234}}</string>
                <key>offset</key>
                <string>{-77,152}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{148,115},{318,234}}</string>
                <key>sourceSize</key>
                <string>{768,768}</string>
            </dict>
            <key>811263.png</key>
            <dict>
                <key>frame</key>
                <string>{{1732,800},{294,246}}</string>
                <key>offset</key>
                <string>{-104,165}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{133,96},{294,246}}</string>
                <key>sourceSize</key>
                <string>{768,768}</string>
            </dict>
            <key>811264.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,1146},{198,266}}</string>
                <key>offset</key>
                <string>{-140,163}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{145,88},{198,266}}</string>
                <key>sourceSize</key>
                <string>{768,768}</string>
            </dict>
            <key>811265.png</key>
            <dict>
                <key>frame</key>
                <string>{{850,912},{178,272}}</string>
                <key>offset</key>
                <string>{-129,160}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{166,88},{178,272}}</string>
                <key>sourceSize</key>
                <string>{768,768}</string>
            </dict>
            <key>811266.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,932},{214,272}}</string>
                <key>offset</key>
                <string>{-134,160}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{143,88},{214,272}}</string>
                <key>sourceSize</key>
                <string>{768,768}</string>
            </dict>
            <key>811271.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,1344},{236,176}}</string>
                <key>offset</key>
                <string>{-24,82}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{242,214},{236,176}}</string>
                <key>sourceSize</key>
                <string>{768,768}</string>
            </dict>
            <key>811272.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,238},{350,178}}</string>
                <key>offset</key>
                <string>{-93,88}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{116,207},{350,178}}</string>
                <key>sourceSize</key>
                <string>{768,768}</string>
            </dict>
            <key>811273.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{414,238}}</string>
                <key>offset</key>
                <string>{-83,89}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{94,176},{414,238}}</string>
                <key>sourceSize</key>
                <string>{768,768}</string>
            </dict>
            <key>811274.png</key>
            <dict>
                <key>frame</key>
                <string>{{1730,1046},{292,248}}</string>
                <key>offset</key>
                <string>{-134,91}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{104,169},{292,248}}</string>
                <key>sourceSize</key>
                <string>{768,768}</string>
            </dict>
            <key>811275.png</key>
            <dict>
                <key>frame</key>
                <string>{{1826,0},{222,260}}</string>
                <key>offset</key>
                <string>{-170,83}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{103,171},{222,260}}</string>
                <key>sourceSize</key>
                <string>{768,768}</string>
            </dict>
            <key>811276.png</key>
            <dict>
                <key>frame</key>
                <string>{{834,1090},{222,256}}</string>
                <key>offset</key>
                <string>{-170,81}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{103,175},{222,256}}</string>
                <key>sourceSize</key>
                <string>{768,768}</string>
            </dict>
            <key>811281.png</key>
            <dict>
                <key>frame</key>
                <string>{{1090,1218},{234,224}}</string>
                <key>offset</key>
                <string>{-25,77}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{242,195},{234,224}}</string>
                <key>sourceSize</key>
                <string>{768,768}</string>
            </dict>
            <key>811282.png</key>
            <dict>
                <key>frame</key>
                <string>{{972,656},{298,256}}</string>
                <key>offset</key>
                <string>{-101,33}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{134,223},{298,256}}</string>
                <key>sourceSize</key>
                <string>{768,768}</string>
            </dict>
            <key>811283.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,416},{310,308}}</string>
                <key>offset</key>
                <string>{-110,31}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{119,199},{310,308}}</string>
                <key>sourceSize</key>
                <string>{768,768}</string>
            </dict>
            <key>811284.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,724},{208,286}}</string>
                <key>offset</key>
                <string>{-138,19}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{142,222},{208,286}}</string>
                <key>sourceSize</key>
                <string>{768,768}</string>
            </dict>
            <key>811285.png</key>
            <dict>
                <key>frame</key>
                <string>{{310,610},{174,288}}</string>
                <key>offset</key>
                <string>{-136,19}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{161,221},{174,288}}</string>
                <key>sourceSize</key>
                <string>{768,768}</string>
            </dict>
            <key>811286.png</key>
            <dict>
                <key>frame</key>
                <string>{{1270,702},{166,296}}</string>
                <key>offset</key>
                <string>{-141,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{160,229},{166,296}}</string>
                <key>sourceSize</key>
                <string>{768,768}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>8112.pvr.ccz</string>
            <key>size</key>
            <string>{2048,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:f49ef8180ca3cb64bbda5a77d6ab5ed8:1/1$</string>
            <key>textureFileName</key>
            <string>8112.pvr.ccz</string>
        </dict>
    </dict>
</plist>
