<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>7008111.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,908},{204,200}}</string>
                <key>offset</key>
                <string>{0,84}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{154,72},{204,200}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>7008112.png</key>
            <dict>
                <key>frame</key>
                <string>{{204,1104},{196,198}}</string>
                <key>offset</key>
                <string>{1,83}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{159,74},{196,198}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>7008113.png</key>
            <dict>
                <key>frame</key>
                <string>{{660,600},{208,206}}</string>
                <key>offset</key>
                <string>{0,87}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{152,66},{208,206}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>7008121.png</key>
            <dict>
                <key>frame</key>
                <string>{{612,1114},{180,194}}</string>
                <key>offset</key>
                <string>{-2,85}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{164,74},{180,194}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>7008122.png</key>
            <dict>
                <key>frame</key>
                <string>{{402,1162},{178,192}}</string>
                <key>offset</key>
                <string>{-2,84}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{165,76},{178,192}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>7008123.png</key>
            <dict>
                <key>frame</key>
                <string>{{822,972},{186,200}}</string>
                <key>offset</key>
                <string>{-2,88}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{161,68},{186,200}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>7008131.png</key>
            <dict>
                <key>frame</key>
                <string>{{138,1808},{136,178}}</string>
                <key>offset</key>
                <string>{0,76}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{188,91},{136,178}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>7008132.png</key>
            <dict>
                <key>frame</key>
                <string>{{594,1294},{130,184}}</string>
                <key>offset</key>
                <string>{0,79}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{191,85},{130,184}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>7008133.png</key>
            <dict>
                <key>frame</key>
                <string>{{868,790},{144,182}}</string>
                <key>offset</key>
                <string>{-2,78}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{182,87},{144,182}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>7008141.png</key>
            <dict>
                <key>frame</key>
                <string>{{186,1470},{180,172}}</string>
                <key>offset</key>
                <string>{-2,77}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{164,93},{180,172}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>7008142.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,1632},{176,178}}</string>
                <key>offset</key>
                <string>{-2,80}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{166,87},{176,178}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>7008143.png</key>
            <dict>
                <key>frame</key>
                <string>{{806,1158},{184,174}}</string>
                <key>offset</key>
                <string>{-1,78}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{163,91},{184,174}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>7008151.png</key>
            <dict>
                <key>frame</key>
                <string>{{618,946},{204,168}}</string>
                <key>offset</key>
                <string>{-1,75}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{153,97},{204,168}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>7008152.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,1108},{196,172}}</string>
                <key>offset</key>
                <string>{-1,77}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{157,93},{196,172}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>7008153.png</key>
            <dict>
                <key>frame</key>
                <string>{{442,678},{208,166}}</string>
                <key>offset</key>
                <string>{0,74}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{152,99},{208,166}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>7008211.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,908},{204,200}}</string>
                <key>offset</key>
                <string>{0,84}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{154,72},{204,200}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>7008212.png</key>
            <dict>
                <key>frame</key>
                <string>{{204,1104},{196,198}}</string>
                <key>offset</key>
                <string>{1,83}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{159,74},{196,198}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>7008213.png</key>
            <dict>
                <key>frame</key>
                <string>{{660,600},{208,206}}</string>
                <key>offset</key>
                <string>{0,87}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{152,66},{208,206}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>7008214.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,908},{204,200}}</string>
                <key>offset</key>
                <string>{0,84}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{154,72},{204,200}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>7008215.png</key>
            <dict>
                <key>frame</key>
                <string>{{204,1104},{196,198}}</string>
                <key>offset</key>
                <string>{1,83}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{159,74},{196,198}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>7008221.png</key>
            <dict>
                <key>frame</key>
                <string>{{612,1114},{180,194}}</string>
                <key>offset</key>
                <string>{-2,85}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{164,74},{180,194}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>7008222.png</key>
            <dict>
                <key>frame</key>
                <string>{{402,1162},{178,192}}</string>
                <key>offset</key>
                <string>{-2,84}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{165,76},{178,192}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>7008223.png</key>
            <dict>
                <key>frame</key>
                <string>{{822,972},{186,200}}</string>
                <key>offset</key>
                <string>{-2,88}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{161,68},{186,200}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>7008224.png</key>
            <dict>
                <key>frame</key>
                <string>{{612,1114},{180,194}}</string>
                <key>offset</key>
                <string>{-2,85}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{164,74},{180,194}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>7008225.png</key>
            <dict>
                <key>frame</key>
                <string>{{402,1162},{178,192}}</string>
                <key>offset</key>
                <string>{-2,84}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{165,76},{178,192}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>7008231.png</key>
            <dict>
                <key>frame</key>
                <string>{{138,1808},{136,178}}</string>
                <key>offset</key>
                <string>{0,76}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{188,91},{136,178}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>7008232.png</key>
            <dict>
                <key>frame</key>
                <string>{{594,1294},{130,184}}</string>
                <key>offset</key>
                <string>{0,79}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{191,85},{130,184}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>7008233.png</key>
            <dict>
                <key>frame</key>
                <string>{{868,790},{144,182}}</string>
                <key>offset</key>
                <string>{-2,78}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{182,87},{144,182}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>7008234.png</key>
            <dict>
                <key>frame</key>
                <string>{{138,1808},{136,178}}</string>
                <key>offset</key>
                <string>{0,76}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{188,91},{136,178}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>7008235.png</key>
            <dict>
                <key>frame</key>
                <string>{{594,1294},{130,184}}</string>
                <key>offset</key>
                <string>{0,79}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{191,85},{130,184}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>7008241.png</key>
            <dict>
                <key>frame</key>
                <string>{{186,1470},{180,172}}</string>
                <key>offset</key>
                <string>{-2,77}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{164,93},{180,172}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>7008242.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,1632},{176,178}}</string>
                <key>offset</key>
                <string>{-2,80}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{166,87},{176,178}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>7008243.png</key>
            <dict>
                <key>frame</key>
                <string>{{806,1158},{184,174}}</string>
                <key>offset</key>
                <string>{-1,78}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{163,91},{184,174}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>7008244.png</key>
            <dict>
                <key>frame</key>
                <string>{{186,1470},{180,172}}</string>
                <key>offset</key>
                <string>{-2,77}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{164,93},{180,172}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>7008245.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,1632},{176,178}}</string>
                <key>offset</key>
                <string>{-2,80}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{166,87},{176,178}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>7008251.png</key>
            <dict>
                <key>frame</key>
                <string>{{618,946},{204,168}}</string>
                <key>offset</key>
                <string>{-1,75}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{153,97},{204,168}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>7008252.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,1108},{196,172}}</string>
                <key>offset</key>
                <string>{-1,77}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{157,93},{196,172}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>7008253.png</key>
            <dict>
                <key>frame</key>
                <string>{{442,678},{208,166}}</string>
                <key>offset</key>
                <string>{0,74}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{152,99},{208,166}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>7008254.png</key>
            <dict>
                <key>frame</key>
                <string>{{618,946},{204,168}}</string>
                <key>offset</key>
                <string>{-1,75}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{153,97},{204,168}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>7008255.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,1108},{196,172}}</string>
                <key>offset</key>
                <string>{-1,77}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{157,93},{196,172}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>7008311.png</key>
            <dict>
                <key>frame</key>
                <string>{{210,736},{204,200}}</string>
                <key>offset</key>
                <string>{0,84}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{154,72},{204,200}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>7008312.png</key>
            <dict>
                <key>frame</key>
                <string>{{506,0},{122,234}}</string>
                <key>offset</key>
                <string>{3,101}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{198,38},{122,234}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>7008313.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{118,260}}</string>
                <key>offset</key>
                <string>{2,114}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{199,12},{118,260}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>7008314.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,412},{226,186}}</string>
                <key>offset</key>
                <string>{7,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{150,156},{226,186}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>7008315.png</key>
            <dict>
                <key>frame</key>
                <string>{{740,0},{230,174}}</string>
                <key>offset</key>
                <string>{5,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{146,171},{230,174}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>7008321.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,1280},{180,194}}</string>
                <key>offset</key>
                <string>{-2,85}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{164,74},{180,194}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>7008322.png</key>
            <dict>
                <key>frame</key>
                <string>{{696,374},{112,224}}</string>
                <key>offset</key>
                <string>{-15,100}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{185,44},{112,224}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>7008323.png</key>
            <dict>
                <key>frame</key>
                <string>{{260,0},{122,246}}</string>
                <key>offset</key>
                <string>{-23,111}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{172,22},{122,246}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>7008324.png</key>
            <dict>
                <key>frame</key>
                <string>{{414,844},{204,196}}</string>
                <key>offset</key>
                <string>{63,15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{217,143},{204,196}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>7008325.png</key>
            <dict>
                <key>frame</key>
                <string>{{244,252},{228,178}}</string>
                <key>offset</key>
                <string>{65,27}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{207,140},{228,178}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>7008331.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,1808},{138,178}}</string>
                <key>offset</key>
                <string>{0,76}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{187,91},{138,178}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>7008332.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,274},{138,228}}</string>
                <key>offset</key>
                <string>{-28,101}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{159,41},{138,228}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>7008333.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,118},{156,244}}</string>
                <key>offset</key>
                <string>{-39,109}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{139,25},{156,244}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>7008334.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,716},{210,192}}</string>
                <key>offset</key>
                <string>{84,45}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{235,115},{210,192}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>7008335.png</key>
            <dict>
                <key>frame</key>
                <string>{{444,494},{216,184}}</string>
                <key>offset</key>
                <string>{86,79}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{234,85},{216,184}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>7008341.png</key>
            <dict>
                <key>frame</key>
                <string>{{384,1340},{180,172}}</string>
                <key>offset</key>
                <string>{-2,77}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{164,93},{180,172}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>7008342.png</key>
            <dict>
                <key>frame</key>
                <string>{{696,486},{114,218}}</string>
                <key>offset</key>
                <string>{-13,100}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{186,47},{114,218}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>7008343.png</key>
            <dict>
                <key>frame</key>
                <string>{{244,122},{130,230}}</string>
                <key>offset</key>
                <string>{-21,106}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{170,35},{130,230}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>7008344.png</key>
            <dict>
                <key>frame</key>
                <string>{{226,430},{218,166}}</string>
                <key>offset</key>
                <string>{54,74}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{201,99},{218,166}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>7008345.png</key>
            <dict>
                <key>frame</key>
                <string>{{702,174},{224,200}}</string>
                <key>offset</key>
                <string>{63,91}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{207,65},{224,200}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>7008351.png</key>
            <dict>
                <key>frame</key>
                <string>{{204,936},{204,168}}</string>
                <key>offset</key>
                <string>{-1,75}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{153,97},{204,168}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>7008352.png</key>
            <dict>
                <key>frame</key>
                <string>{{408,1040},{122,204}}</string>
                <key>offset</key>
                <string>{-4,93}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{191,61},{122,204}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>7008353.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,598},{118,212}}</string>
                <key>offset</key>
                <string>{-3,97}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{194,53},{118,212}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>7008354.png</key>
            <dict>
                <key>frame</key>
                <string>{{472,310},{224,184}}</string>
                <key>offset</key>
                <string>{-7,83}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{137,81},{224,184}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>7008355.png</key>
            <dict>
                <key>frame</key>
                <string>{{474,122},{228,188}}</string>
                <key>offset</key>
                <string>{-5,85}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{137,77},{228,188}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>7008511.png</key>
            <dict>
                <key>frame</key>
                <string>{{226,596},{140,216}}</string>
                <key>offset</key>
                <string>{-12,76}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{174,72},{140,216}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>7008512.png</key>
            <dict>
                <key>frame</key>
                <string>{{926,234},{64,92}}</string>
                <key>offset</key>
                <string>{-2,21}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{222,189},{64,92}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>7008521.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,1460},{172,186}}</string>
                <key>offset</key>
                <string>{-9,72}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{161,91},{172,186}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>7008522.png</key>
            <dict>
                <key>frame</key>
                <string>{{926,174},{60,96}}</string>
                <key>offset</key>
                <string>{6,19}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{232,189},{60,96}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>7008531.png</key>
            <dict>
                <key>frame</key>
                <string>{{194,1300},{190,170}}</string>
                <key>offset</key>
                <string>{13,60}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{174,111},{190,170}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>7008532.png</key>
            <dict>
                <key>frame</key>
                <string>{{920,402},{80,100}}</string>
                <key>offset</key>
                <string>{2,28}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{218,178},{80,100}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>7008541.png</key>
            <dict>
                <key>frame</key>
                <string>{{868,606},{152,184}}</string>
                <key>offset</key>
                <string>{1,57}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{181,107},{152,184}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>7008542.png</key>
            <dict>
                <key>frame</key>
                <string>{{926,298},{88,104}}</string>
                <key>offset</key>
                <string>{1,39}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{213,165},{88,104}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>7008551.png</key>
            <dict>
                <key>frame</key>
                <string>{{650,806},{140,208}}</string>
                <key>offset</key>
                <string>{12,64}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{198,88},{140,208}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>7008552.png</key>
            <dict>
                <key>frame</key>
                <string>{{920,482},{64,124}}</string>
                <key>offset</key>
                <string>{2,39}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{226,155},{64,124}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>7008.pvr.ccz</string>
            <key>size</key>
            <string>{1024,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:43f7a1abdab48883e5adbb6ca0b9d2d5:1/1$</string>
            <key>textureFileName</key>
            <string>7008.pvr.ccz</string>
        </dict>
    </dict>
</plist>
