<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>811111.png</key>
            <dict>
                <key>frame</key>
                <string>{{1416,898},{160,114}}</string>
                <key>offset</key>
                <string>{-3,131}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{301,196},{160,114}}</string>
                <key>sourceSize</key>
                <string>{768,768}</string>
            </dict>
            <key>811112.png</key>
            <dict>
                <key>frame</key>
                <string>{{1948,852},{126,82}}</string>
                <key>offset</key>
                <string>{21,98}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{342,245},{126,82}}</string>
                <key>sourceSize</key>
                <string>{768,768}</string>
            </dict>
            <key>811113.png</key>
            <dict>
                <key>frame</key>
                <string>{{478,1030},{190,278}}</string>
                <key>offset</key>
                <string>{-57,15}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{232,230},{190,278}}</string>
                <key>sourceSize</key>
                <string>{768,768}</string>
            </dict>
            <key>811114.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{538,434}}</string>
                <key>offset</key>
                <string>{16,11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{131,156},{538,434}}</string>
                <key>sourceSize</key>
                <string>{768,768}</string>
            </dict>
            <key>811115.png</key>
            <dict>
                <key>frame</key>
                <string>{{1046,392},{478,314}}</string>
                <key>offset</key>
                <string>{-20,-96}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{125,323},{478,314}}</string>
                <key>sourceSize</key>
                <string>{768,768}</string>
            </dict>
            <key>811116.png</key>
            <dict>
                <key>frame</key>
                <string>{{1578,712},{370,332}}</string>
                <key>offset</key>
                <string>{-1,-40}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{198,258},{370,332}}</string>
                <key>sourceSize</key>
                <string>{768,768}</string>
            </dict>
            <key>811121.png</key>
            <dict>
                <key>frame</key>
                <string>{{1948,712},{140,88}}</string>
                <key>offset</key>
                <string>{79,99}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{393,241},{140,88}}</string>
                <key>sourceSize</key>
                <string>{768,768}</string>
            </dict>
            <key>811122.png</key>
            <dict>
                <key>frame</key>
                <string>{{478,726},{106,60}}</string>
                <key>offset</key>
                <string>{104,74}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{435,280},{106,60}}</string>
                <key>sourceSize</key>
                <string>{768,768}</string>
            </dict>
            <key>811123.png</key>
            <dict>
                <key>frame</key>
                <string>{{1310,1124},{190,226}}</string>
                <key>offset</key>
                <string>{48,37}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{337,234},{190,226}}</string>
                <key>sourceSize</key>
                <string>{768,768}</string>
            </dict>
            <key>811124.png</key>
            <dict>
                <key>frame</key>
                <string>{{538,354},{508,382}}</string>
                <key>offset</key>
                <string>{124,29}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{254,164},{508,382}}</string>
                <key>sourceSize</key>
                <string>{768,768}</string>
            </dict>
            <key>811125.png</key>
            <dict>
                <key>frame</key>
                <string>{{1586,0},{452,278}}</string>
                <key>offset</key>
                <string>{90,-65}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{248,310},{452,278}}</string>
                <key>sourceSize</key>
                <string>{768,768}</string>
            </dict>
            <key>811126.png</key>
            <dict>
                <key>frame</key>
                <string>{{538,736},{350,294}}</string>
                <key>offset</key>
                <string>{108,-15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{317,252},{350,294}}</string>
                <key>sourceSize</key>
                <string>{768,768}</string>
            </dict>
            <key>811131.png</key>
            <dict>
                <key>frame</key>
                <string>{{882,1106},{116,222}}</string>
                <key>offset</key>
                <string>{-35,85}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{291,188},{116,222}}</string>
                <key>sourceSize</key>
                <string>{768,768}</string>
            </dict>
            <key>811132.png</key>
            <dict>
                <key>frame</key>
                <string>{{756,1030},{118,126}}</string>
                <key>offset</key>
                <string>{-46,22}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{279,299},{118,126}}</string>
                <key>sourceSize</key>
                <string>{768,768}</string>
            </dict>
            <key>811133.png</key>
            <dict>
                <key>frame</key>
                <string>{{1022,1038},{288,250}}</string>
                <key>offset</key>
                <string>{79,114}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{319,145},{288,250}}</string>
                <key>sourceSize</key>
                <string>{768,768}</string>
            </dict>
            <key>811134.png</key>
            <dict>
                <key>frame</key>
                <string>{{1586,278},{438,434}}</string>
                <key>offset</key>
                <string>{127,129}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{292,38},{438,434}}</string>
                <key>sourceSize</key>
                <string>{768,768}</string>
            </dict>
            <key>811135.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,726},{478,314}}</string>
                <key>offset</key>
                <string>{141,22}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{286,205},{478,314}}</string>
                <key>sourceSize</key>
                <string>{768,768}</string>
            </dict>
            <key>811136.png</key>
            <dict>
                <key>frame</key>
                <string>{{1046,706},{370,332}}</string>
                <key>offset</key>
                <string>{161,78}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{360,140},{370,332}}</string>
                <key>sourceSize</key>
                <string>{768,768}</string>
            </dict>
            <key>811141.png</key>
            <dict>
                <key>frame</key>
                <string>{{1948,978},{224,74}}</string>
                <key>offset</key>
                <string>{-30,86}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{242,261},{224,74}}</string>
                <key>sourceSize</key>
                <string>{768,768}</string>
            </dict>
            <key>811142.png</key>
            <dict>
                <key>frame</key>
                <string>{{888,920},{186,134}}</string>
                <key>offset</key>
                <string>{-53,59}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{238,258},{186,134}}</string>
                <key>sourceSize</key>
                <string>{768,768}</string>
            </dict>
            <key>811143.png</key>
            <dict>
                <key>frame</key>
                <string>{{888,736},{184,140}}</string>
                <key>offset</key>
                <string>{82,94}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{374,220},{184,140}}</string>
                <key>sourceSize</key>
                <string>{768,768}</string>
            </dict>
            <key>811144.png</key>
            <dict>
                <key>frame</key>
                <string>{{1076,0},{510,392}}</string>
                <key>offset</key>
                <string>{128,188}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{257,0},{510,392}}</string>
                <key>sourceSize</key>
                <string>{768,768}</string>
            </dict>
            <key>811145.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,434},{480,292}}</string>
                <key>offset</key>
                <string>{105,94}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{249,144},{480,292}}</string>
                <key>sourceSize</key>
                <string>{768,768}</string>
            </dict>
            <key>811146.png</key>
            <dict>
                <key>frame</key>
                <string>{{1570,1044},{370,308}}</string>
                <key>offset</key>
                <string>{125,146}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{324,84},{370,308}}</string>
                <key>sourceSize</key>
                <string>{768,768}</string>
            </dict>
            <key>811151.png</key>
            <dict>
                <key>frame</key>
                <string>{{1416,706},{192,162}}</string>
                <key>offset</key>
                <string>{32,152}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{320,151},{192,162}}</string>
                <key>sourceSize</key>
                <string>{768,768}</string>
            </dict>
            <key>811152.png</key>
            <dict>
                <key>frame</key>
                <string>{{1416,1012},{154,112}}</string>
                <key>offset</key>
                <string>{-23,84}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{284,244},{154,112}}</string>
                <key>sourceSize</key>
                <string>{768,768}</string>
            </dict>
            <key>811153.png</key>
            <dict>
                <key>frame</key>
                <string>{{998,1288},{188,196}}</string>
                <key>offset</key>
                <string>{73,204}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{363,82},{188,196}}</string>
                <key>sourceSize</key>
                <string>{768,768}</string>
            </dict>
            <key>811154.png</key>
            <dict>
                <key>frame</key>
                <string>{{538,0},{538,354}}</string>
                <key>offset</key>
                <string>{32,207}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{147,0},{538,354}}</string>
                <key>sourceSize</key>
                <string>{768,768}</string>
            </dict>
            <key>811155.png</key>
            <dict>
                <key>frame</key>
                <string>{{1046,392},{478,314}}</string>
                <key>offset</key>
                <string>{-4,140}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{141,87},{478,314}}</string>
                <key>sourceSize</key>
                <string>{768,768}</string>
            </dict>
            <key>811156.png</key>
            <dict>
                <key>frame</key>
                <string>{{1578,712},{370,332}}</string>
                <key>offset</key>
                <string>{15,196}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{214,22},{370,332}}</string>
                <key>sourceSize</key>
                <string>{768,768}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>8111.pvr.ccz</string>
            <key>size</key>
            <string>{2048,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:3b0cb049e4ea10ce194d246a53774800:1/1$</string>
            <key>textureFileName</key>
            <string>8111.pvr.ccz</string>
        </dict>
    </dict>
</plist>
