<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>money1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-3}</string>
                <key>spriteSize</key>
                <string>{640,595}</string>
                <key>spriteSourceSize</key>
                <string>{640,623}</string>
                <key>textureRect</key>
                <string>{{1,1},{640,595}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>money2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,1}</string>
                <key>spriteSize</key>
                <string>{632,617}</string>
                <key>spriteSourceSize</key>
                <string>{640,623}</string>
                <key>textureRect</key>
                <string>{{598,1},{632,617}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>money3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{5,-2}</string>
                <key>spriteSize</key>
                <string>{560,619}</string>
                <key>spriteSourceSize</key>
                <string>{640,623}</string>
                <key>textureRect</key>
                <string>{{1217,612},{560,619}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>money4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,4}</string>
                <key>spriteSize</key>
                <string>{640,591}</string>
                <key>spriteSourceSize</key>
                <string>{640,623}</string>
                <key>textureRect</key>
                <string>{{1,643},{640,591}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>money5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,7}</string>
                <key>spriteSize</key>
                <string>{632,609}</string>
                <key>spriteSourceSize</key>
                <string>{640,623}</string>
                <key>textureRect</key>
                <string>{{1217,1},{632,609}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>money6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-5,10}</string>
                <key>spriteSize</key>
                <string>{562,603}</string>
                <key>spriteSourceSize</key>
                <string>{640,623}</string>
                <key>textureRect</key>
                <string>{{1201,1174},{562,603}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>money7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,-8}</string>
                <key>spriteSize</key>
                <string>{638,605}</string>
                <key>spriteSourceSize</key>
                <string>{640,623}</string>
                <key>textureRect</key>
                <string>{{594,643},{638,605}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>realTextureFileName</key>
            <string>money.pvr.ccz</string>
            <key>size</key>
            <string>{1850,1737}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:e601f030ad519bde7d3d267e8b90aaef:a25a22e21582b47d568cd0844929875f:129475661e2ecf61ce7002ec40b3dc0a$</string>
            <key>textureFileName</key>
            <string>money.pvr.ccz</string>
        </dict>
    </dict>
</plist>
