<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>qianghua1.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{172,168}}</string>
                <key>offset</key>
                <string>{6,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{176,180},{172,168}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>qianghua2.png</key>
            <dict>
                <key>frame</key>
                <string>{{172,0},{166,156}}</string>
                <key>offset</key>
                <string>{0,-14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{173,192},{166,156}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>qianghua3.png</key>
            <dict>
                <key>frame</key>
                <string>{{338,0},{152,156}}</string>
                <key>offset</key>
                <string>{-5,-9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{175,187},{152,156}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>qianghua4.png</key>
            <dict>
                <key>frame</key>
                <string>{{338,152},{138,140}}</string>
                <key>offset</key>
                <string>{-7,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{180,192},{138,140}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>qianghua5.png</key>
            <dict>
                <key>frame</key>
                <string>{{172,156},{122,128}}</string>
                <key>offset</key>
                <string>{-6,-7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{189,199},{122,128}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>qianghua6.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,268},{122,116}}</string>
                <key>offset</key>
                <string>{2,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{197,205},{122,116}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>qianghua7.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,168},{126,100}}</string>
                <key>offset</key>
                <string>{-5,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{188,211},{126,100}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>qianghua8.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,384},{110,90}}</string>
                <key>offset</key>
                <string>{-9,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{192,214},{110,90}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>qianghua9.png</key>
            <dict>
                <key>frame</key>
                <string>{{90,384},{96,84}}</string>
                <key>offset</key>
                <string>{-10,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{198,217},{96,84}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>qianghua.pvr.ccz</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:02e692a5eb3bf760531a97e6d9ce6370:1/1$</string>
            <key>textureFileName</key>
            <string>qianghua.pvr.ccz</string>
        </dict>
    </dict>
</plist>
