<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>6026111.png</key>
            <dict>
                <key>frame</key>
                <string>{{444,892},{104,142}}</string>
                <key>offset</key>
                <string>{3,43}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{207,142},{104,142}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6026112.png</key>
            <dict>
                <key>frame</key>
                <string>{{290,962},{102,142}}</string>
                <key>offset</key>
                <string>{4,43}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{209,142},{102,142}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6026113.png</key>
            <dict>
                <key>frame</key>
                <string>{{604,870},{104,142}}</string>
                <key>offset</key>
                <string>{4,43}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{208,142},{104,142}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6026121.png</key>
            <dict>
                <key>frame</key>
                <string>{{826,1232},{112,120}}</string>
                <key>offset</key>
                <string>{1,46}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{201,150},{112,120}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6026122.png</key>
            <dict>
                <key>frame</key>
                <string>{{554,1208},{112,124}}</string>
                <key>offset</key>
                <string>{2,48}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{202,146},{112,124}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6026123.png</key>
            <dict>
                <key>frame</key>
                <string>{{702,1146},{112,124}}</string>
                <key>offset</key>
                <string>{1,48}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{201,146},{112,124}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6026131.png</key>
            <dict>
                <key>frame</key>
                <string>{{660,480},{132,152}}</string>
                <key>offset</key>
                <string>{-23,49}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{167,131},{132,152}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6026132.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,656},{130,156}}</string>
                <key>offset</key>
                <string>{-22,51}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{169,127},{130,156}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6026133.png</key>
            <dict>
                <key>frame</key>
                <string>{{160,552},{134,156}}</string>
                <key>offset</key>
                <string>{-24,51}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{165,127},{134,156}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6026141.png</key>
            <dict>
                <key>frame</key>
                <string>{{166,434},{118,162}}</string>
                <key>offset</key>
                <string>{-20,54}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{177,121},{118,162}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6026142.png</key>
            <dict>
                <key>frame</key>
                <string>{{518,312},{120,164}}</string>
                <key>offset</key>
                <string>{-22,55}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{174,119},{120,164}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6026143.png</key>
            <dict>
                <key>frame</key>
                <string>{{704,212},{122,164}}</string>
                <key>offset</key>
                <string>{-24,55}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{171,119},{122,164}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6026151.png</key>
            <dict>
                <key>frame</key>
                <string>{{378,0},{104,182}}</string>
                <key>offset</key>
                <string>{-3,40}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{201,125},{104,182}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6026152.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,94},{102,184}}</string>
                <key>offset</key>
                <string>{-4,39}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{201,125},{102,184}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6026153.png</key>
            <dict>
                <key>frame</key>
                <string>{{192,0},{104,186}}</string>
                <key>offset</key>
                <string>{-4,36}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{200,127},{104,186}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6026211.png</key>
            <dict>
                <key>frame</key>
                <string>{{140,1184},{106,132}}</string>
                <key>offset</key>
                <string>{0,46}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{203,144},{106,132}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6026212.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,1230},{112,130}}</string>
                <key>offset</key>
                <string>{-1,50}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{199,141},{112,130}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6026213.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,1126},{104,140}}</string>
                <key>offset</key>
                <string>{-1,44}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{203,142},{104,140}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6026214.png</key>
            <dict>
                <key>frame</key>
                <string>{{586,974},{106,138}}</string>
                <key>offset</key>
                <string>{0,43}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{203,144},{106,138}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6026215.png</key>
            <dict>
                <key>frame</key>
                <string>{{258,1294},{112,122}}</string>
                <key>offset</key>
                <string>{1,55}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{201,140},{112,122}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6026221.png</key>
            <dict>
                <key>frame</key>
                <string>{{568,1080},{128,134}}</string>
                <key>offset</key>
                <string>{-9,46}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{183,143},{128,134}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6026222.png</key>
            <dict>
                <key>frame</key>
                <string>{{906,866},{114,134}}</string>
                <key>offset</key>
                <string>{-11,47}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{188,142},{114,134}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6026223.png</key>
            <dict>
                <key>frame</key>
                <string>{{884,1000},{108,138}}</string>
                <key>offset</key>
                <string>{-11,52}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{191,135},{108,138}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6026224.png</key>
            <dict>
                <key>frame</key>
                <string>{{284,1064},{108,136}}</string>
                <key>offset</key>
                <string>{-10,52}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{192,136},{108,136}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6026225.png</key>
            <dict>
                <key>frame</key>
                <string>{{906,744},{118,122}}</string>
                <key>offset</key>
                <string>{-9,54}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{188,141},{118,122}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6026231.png</key>
            <dict>
                <key>frame</key>
                <string>{{764,744},{138,142}}</string>
                <key>offset</key>
                <string>{-23,60}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{164,125},{138,142}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6026232.png</key>
            <dict>
                <key>frame</key>
                <string>{{618,742},{128,146}}</string>
                <key>offset</key>
                <string>{-28,58}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{164,125},{128,146}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6026233.png</key>
            <dict>
                <key>frame</key>
                <string>{{812,480},{132,150}}</string>
                <key>offset</key>
                <string>{-25,60}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{165,121},{132,150}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6026234.png</key>
            <dict>
                <key>frame</key>
                <string>{{152,802},{132,148}}</string>
                <key>offset</key>
                <string>{-26,59}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{164,123},{132,148}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6026235.png</key>
            <dict>
                <key>frame</key>
                <string>{{300,836},{126,144}}</string>
                <key>offset</key>
                <string>{-27,60}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{166,124},{126,144}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6026241.png</key>
            <dict>
                <key>frame</key>
                <string>{{532,206},{106,172}}</string>
                <key>offset</key>
                <string>{-6,47}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{197,123},{106,172}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6026242.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,300},{106,172}}</string>
                <key>offset</key>
                <string>{-9,48}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{194,122},{106,172}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6026243.png</key>
            <dict>
                <key>frame</key>
                <string>{{176,216},{120,172}}</string>
                <key>offset</key>
                <string>{-5,47}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{191,123},{120,172}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6026244.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,406},{122,166}}</string>
                <key>offset</key>
                <string>{-7,49}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{188,124},{122,166}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6026245.png</key>
            <dict>
                <key>frame</key>
                <string>{{924,0},{100,174}}</string>
                <key>offset</key>
                <string>{-10,48}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{196,121},{100,174}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6026251.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,196},{104,176}}</string>
                <key>offset</key>
                <string>{0,36}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{204,132},{104,176}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6026252.png</key>
            <dict>
                <key>frame</key>
                <string>{{184,104},{112,176}}</string>
                <key>offset</key>
                <string>{0,35}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{200,133},{112,176}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6026253.png</key>
            <dict>
                <key>frame</key>
                <string>{{560,102},{104,180}}</string>
                <key>offset</key>
                <string>{0,34}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{204,132},{104,180}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6026254.png</key>
            <dict>
                <key>frame</key>
                <string>{{918,174},{106,174}}</string>
                <key>offset</key>
                <string>{0,36}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{203,133},{106,174}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6026255.png</key>
            <dict>
                <key>frame</key>
                <string>{{740,102},{110,178}}</string>
                <key>offset</key>
                <string>{-1,36}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{200,131},{110,178}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6026311.png</key>
            <dict>
                <key>frame</key>
                <string>{{328,500},{98,158}}</string>
                <key>offset</key>
                <string>{-4,50}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{203,127},{98,158}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6026312.png</key>
            <dict>
                <key>frame</key>
                <string>{{348,226},{126,170}}</string>
                <key>offset</key>
                <string>{-10,59}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{183,112},{126,170}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6026313.png</key>
            <dict>
                <key>frame</key>
                <string>{{360,104},{122,172}}</string>
                <key>offset</key>
                <string>{4,60}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{199,110},{122,172}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6026314.png</key>
            <dict>
                <key>frame</key>
                <string>{{724,1016},{130,134}}</string>
                <key>offset</key>
                <string>{-3,40}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{188,149},{130,134}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6026315.png</key>
            <dict>
                <key>frame</key>
                <string>{{934,612},{90,132}}</string>
                <key>offset</key>
                <string>{3,39}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{214,151},{90,132}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6026321.png</key>
            <dict>
                <key>frame</key>
                <string>{{284,1172},{122,132}}</string>
                <key>offset</key>
                <string>{-17,48}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{178,142},{122,132}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6026322.png</key>
            <dict>
                <key>frame</key>
                <string>{{146,934},{116,144}}</string>
                <key>offset</key>
                <string>{-15,54}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{183,130},{116,144}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6026323.png</key>
            <dict>
                <key>frame</key>
                <string>{{156,686},{116,152}}</string>
                <key>offset</key>
                <string>{-16,58}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{182,122},{116,152}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6026324.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,1342},{104,126}}</string>
                <key>offset</key>
                <string>{-7,45}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{197,148},{104,126}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6026325.png</key>
            <dict>
                <key>frame</key>
                <string>{{130,1290},{126,128}}</string>
                <key>offset</key>
                <string>{4,46}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{197,146},{126,128}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6026331.png</key>
            <dict>
                <key>frame</key>
                <string>{{858,1108},{124,124}}</string>
                <key>offset</key>
                <string>{-13,34}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{181,160},{124,124}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6026332.png</key>
            <dict>
                <key>frame</key>
                <string>{{432,996},{136,128}}</string>
                <key>offset</key>
                <string>{-23,36}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{165,156},{136,128}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6026333.png</key>
            <dict>
                <key>frame</key>
                <string>{{144,1050},{134,140}}</string>
                <key>offset</key>
                <string>{-22,42}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{167,144},{134,140}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6026334.png</key>
            <dict>
                <key>frame</key>
                <string>{{458,782},{110,146}}</string>
                <key>offset</key>
                <string>{-6,46}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{195,137},{110,146}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6026335.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,1016},{110,144}}</string>
                <key>offset</key>
                <string>{0,45}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{201,139},{110,144}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6026341.png</key>
            <dict>
                <key>frame</key>
                <string>{{840,348},{132,152}}</string>
                <key>offset</key>
                <string>{-12,34}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{178,146},{132,152}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6026342.png</key>
            <dict>
                <key>frame</key>
                <string>{{746,882},{134,138}}</string>
                <key>offset</key>
                <string>{-12,27}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{177,160},{134,138}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6026343.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,876},{140,146}}</string>
                <key>offset</key>
                <string>{-13,31}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{173,152},{140,146}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6026344.png</key>
            <dict>
                <key>frame</key>
                <string>{{340,352},{148,162}}</string>
                <key>offset</key>
                <string>{-6,44}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{176,131},{148,162}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6026345.png</key>
            <dict>
                <key>frame</key>
                <string>{{502,432},{100,158}}</string>
                <key>offset</key>
                <string>{-17,42}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{189,135},{100,158}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6026351.png</key>
            <dict>
                <key>frame</key>
                <string>{{172,336},{98,168}}</string>
                <key>offset</key>
                <string>{4,36}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{211,136},{98,168}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6026352.png</key>
            <dict>
                <key>frame</key>
                <string>{{486,532},{128,152}}</string>
                <key>offset</key>
                <string>{9,34}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{201,146},{128,152}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6026353.png</key>
            <dict>
                <key>frame</key>
                <string>{{468,660},{122,150}}</string>
                <key>offset</key>
                <string>{-4,39}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{191,142},{122,150}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6026354.png</key>
            <dict>
                <key>frame</key>
                <string>{{638,612},{130,150}}</string>
                <key>offset</key>
                <string>{3,47}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{194,134},{130,150}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6026355.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,786},{90,152}}</string>
                <key>offset</key>
                <string>{-3,48}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{208,132},{90,152}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6026511.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,528},{160,128}}</string>
                <key>offset</key>
                <string>{0,35}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{176,157},{160,128}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6026512.png</key>
            <dict>
                <key>frame</key>
                <string>{{742,0},{182,102}}</string>
                <key>offset</key>
                <string>{-44,16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{121,189},{182,102}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6026521.png</key>
            <dict>
                <key>frame</key>
                <string>{{416,1226},{122,120}}</string>
                <key>offset</key>
                <string>{-3,42}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{192,154},{122,120}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6026522.png</key>
            <dict>
                <key>frame</key>
                <string>{{788,612},{146,132}}</string>
                <key>offset</key>
                <string>{-24,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{159,187},{146,132}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6026531.png</key>
            <dict>
                <key>frame</key>
                <string>{{420,1124},{102,134}}</string>
                <key>offset</key>
                <string>{-6,39}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{199,150},{102,134}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6026532.png</key>
            <dict>
                <key>frame</key>
                <string>{{316,598},{152,118}}</string>
                <key>offset</key>
                <string>{-17,-18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{163,215},{152,118}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6026541.png</key>
            <dict>
                <key>frame</key>
                <string>{{308,716},{120,150}}</string>
                <key>offset</key>
                <string>{-1,33}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{195,148},{120,150}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6026542.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{192,94}}</string>
                <key>offset</key>
                <string>{7,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{167,214},{192,94}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6026551.png</key>
            <dict>
                <key>frame</key>
                <string>{{682,334},{158,146}}</string>
                <key>offset</key>
                <string>{0,37}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{177,146},{158,146}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6026552.png</key>
            <dict>
                <key>frame</key>
                <string>{{560,0},{182,102}}</string>
                <key>offset</key>
                <string>{43,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{208,208},{182,102}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>6026.pvr.ccz</string>
            <key>size</key>
            <string>{1024,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:405113527f63885e68c44c737ec7ad9c:1/1$</string>
            <key>textureFileName</key>
            <string>6026.pvr.ccz</string>
        </dict>
    </dict>
</plist>
