<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>91021.png</key>
            <dict>
                <key>frame</key>
                <string>{{1408,2},{132,158}}</string>
                <key>offset</key>
                <string>{-4,18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{290,263},{132,158}}</string>
                <key>sourceSize</key>
                <string>{720,720}</string>
            </dict>
            <key>910210.png</key>
            <dict>
                <key>frame</key>
                <string>{{1136,2},{136,168}}</string>
                <key>offset</key>
                <string>{-3,20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{289,256},{136,168}}</string>
                <key>sourceSize</key>
                <string>{720,720}</string>
            </dict>
            <key>910211.png</key>
            <dict>
                <key>frame</key>
                <string>{{716,2},{144,176}}</string>
                <key>offset</key>
                <string>{-3,23}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{285,249},{144,176}}</string>
                <key>sourceSize</key>
                <string>{720,720}</string>
            </dict>
            <key>910212.png</key>
            <dict>
                <key>frame</key>
                <string>{{148,2},{144,184}}</string>
                <key>offset</key>
                <string>{-3,27}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{285,241},{144,184}}</string>
                <key>sourceSize</key>
                <string>{720,720}</string>
            </dict>
            <key>910213.png</key>
            <dict>
                <key>frame</key>
                <string>{{294,2},{136,184}}</string>
                <key>offset</key>
                <string>{-3,28}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{289,240},{136,184}}</string>
                <key>sourceSize</key>
                <string>{720,720}</string>
            </dict>
            <key>910214.png</key>
            <dict>
                <key>frame</key>
                <string>{{432,2},{136,182}}</string>
                <key>offset</key>
                <string>{-2,29}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{290,240},{136,182}}</string>
                <key>sourceSize</key>
                <string>{720,720}</string>
            </dict>
            <key>910215.png</key>
            <dict>
                <key>frame</key>
                <string>{{1810,2},{132,152}}</string>
                <key>offset</key>
                <string>{-2,15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{292,269},{132,152}}</string>
                <key>sourceSize</key>
                <string>{720,720}</string>
            </dict>
            <key>91022.png</key>
            <dict>
                <key>frame</key>
                <string>{{994,2},{140,172}}</string>
                <key>offset</key>
                <string>{-3,22}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{287,252},{140,172}}</string>
                <key>sourceSize</key>
                <string>{720,720}</string>
            </dict>
            <key>91023.png</key>
            <dict>
                <key>frame</key>
                <string>{{570,2},{144,176}}</string>
                <key>offset</key>
                <string>{-3,23}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{285,249},{144,176}}</string>
                <key>sourceSize</key>
                <string>{720,720}</string>
            </dict>
            <key>91024.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{144,184}}</string>
                <key>offset</key>
                <string>{-3,27}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{285,241},{144,184}}</string>
                <key>sourceSize</key>
                <string>{720,720}</string>
            </dict>
            <key>91025.png</key>
            <dict>
                <key>frame</key>
                <string>{{432,2},{136,182}}</string>
                <key>offset</key>
                <string>{-2,29}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{290,240},{136,182}}</string>
                <key>sourceSize</key>
                <string>{720,720}</string>
            </dict>
            <key>91026.png</key>
            <dict>
                <key>frame</key>
                <string>{{862,2},{130,176}}</string>
                <key>offset</key>
                <string>{-2,27}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{293,245},{130,176}}</string>
                <key>sourceSize</key>
                <string>{720,720}</string>
            </dict>
            <key>91027.png</key>
            <dict>
                <key>frame</key>
                <string>{{1676,2},{132,152}}</string>
                <key>offset</key>
                <string>{-2,15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{292,269},{132,152}}</string>
                <key>sourceSize</key>
                <string>{720,720}</string>
            </dict>
            <key>91028.png</key>
            <dict>
                <key>frame</key>
                <string>{{1542,2},{132,156}}</string>
                <key>offset</key>
                <string>{-3,17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{291,265},{132,156}}</string>
                <key>sourceSize</key>
                <string>{720,720}</string>
            </dict>
            <key>91029.png</key>
            <dict>
                <key>frame</key>
                <string>{{1274,2},{132,162}}</string>
                <key>offset</key>
                <string>{-3,20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{291,259},{132,162}}</string>
                <key>sourceSize</key>
                <string>{720,720}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>9102.pvr.ccz</string>
            <key>size</key>
            <string>{1944,188}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:d70fafc69a1aee80aa363c22fb57d30b:1/1$</string>
            <key>textureFileName</key>
            <string>9102.pvr.ccz</string>
        </dict>
    </dict>
</plist>
