<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>7539111.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{186,200}}</string>
                <key>offset</key>
                <string>{3,52}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{166,104},{186,200}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>7539112.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{186,200}}</string>
                <key>offset</key>
                <string>{3,52}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{166,104},{186,200}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>7539113.png</key>
            <dict>
                <key>frame</key>
                <string>{{198,188},{184,198}}</string>
                <key>offset</key>
                <string>{4,51}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{168,106},{184,198}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>7539114.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,186},{186,198}}</string>
                <key>offset</key>
                <string>{4,51}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{167,106},{186,198}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>7539115.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,186},{186,198}}</string>
                <key>offset</key>
                <string>{4,51}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{167,106},{186,198}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>7539116.png</key>
            <dict>
                <key>frame</key>
                <string>{{200,0},{188,198}}</string>
                <key>offset</key>
                <string>{4,51}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{166,106},{188,198}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>7539117.png</key>
            <dict>
                <key>frame</key>
                <string>{{196,372},{186,196}}</string>
                <key>offset</key>
                <string>{3,50}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{166,108},{186,196}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>7539118.png</key>
            <dict>
                <key>frame</key>
                <string>{{196,372},{186,196}}</string>
                <key>offset</key>
                <string>{3,50}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{166,108},{186,196}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>7539119.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,372},{186,196}}</string>
                <key>offset</key>
                <string>{3,49}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{166,109},{186,196}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>7539.pvr.ccz</string>
            <key>size</key>
            <string>{512,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:92e768f9ae886ba5c6c9b992d5349c36:1/1$</string>
            <key>textureFileName</key>
            <string>7539.pvr.ccz</string>
        </dict>
    </dict>
</plist>
