<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>face351.png</key>
			<dict>
				<key>width</key>
				<integer>49</integer>
				<key>height</key>
				<integer>52</integer>
				<key>originalWidth</key>
				<integer>68</integer>
				<key>originalHeight</key>
				<integer>56</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>0.5</real>
				<key>offsetY</key>
				<real>-2</real>
			</dict>
			<key>face3510.png</key>
			<dict>
				<key>width</key>
				<integer>65</integer>
				<key>height</key>
				<integer>56</integer>
				<key>originalWidth</key>
				<integer>68</integer>
				<key>originalHeight</key>
				<integer>56</integer>
				<key>x</key>
				<integer>50</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>1.5</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>face3511.png</key>
			<dict>
				<key>width</key>
				<integer>68</integer>
				<key>height</key>
				<integer>56</integer>
				<key>originalWidth</key>
				<integer>68</integer>
				<key>originalHeight</key>
				<integer>56</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>57</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>face3512.png</key>
			<dict>
				<key>width</key>
				<integer>68</integer>
				<key>height</key>
				<integer>56</integer>
				<key>originalWidth</key>
				<integer>68</integer>
				<key>originalHeight</key>
				<integer>56</integer>
				<key>x</key>
				<integer>116</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>face3513.png</key>
			<dict>
				<key>width</key>
				<integer>68</integer>
				<key>height</key>
				<integer>56</integer>
				<key>originalWidth</key>
				<integer>68</integer>
				<key>originalHeight</key>
				<integer>56</integer>
				<key>x</key>
				<integer>69</integer>
				<key>y</key>
				<integer>57</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>face3514.png</key>
			<dict>
				<key>width</key>
				<integer>58</integer>
				<key>height</key>
				<integer>56</integer>
				<key>originalWidth</key>
				<integer>68</integer>
				<key>originalHeight</key>
				<integer>56</integer>
				<key>x</key>
				<integer>185</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>-5</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>face3515.png</key>
			<dict>
				<key>width</key>
				<integer>58</integer>
				<key>height</key>
				<integer>56</integer>
				<key>originalWidth</key>
				<integer>68</integer>
				<key>originalHeight</key>
				<integer>56</integer>
				<key>x</key>
				<integer>138</integer>
				<key>y</key>
				<integer>57</integer>
				<key>offsetX</key>
				<real>-5</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>face3516.png</key>
			<dict>
				<key>width</key>
				<integer>58</integer>
				<key>height</key>
				<integer>56</integer>
				<key>originalWidth</key>
				<integer>68</integer>
				<key>originalHeight</key>
				<integer>56</integer>
				<key>x</key>
				<integer>197</integer>
				<key>y</key>
				<integer>57</integer>
				<key>offsetX</key>
				<real>-5</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>face3517.png</key>
			<dict>
				<key>width</key>
				<integer>58</integer>
				<key>height</key>
				<integer>56</integer>
				<key>originalWidth</key>
				<integer>68</integer>
				<key>originalHeight</key>
				<integer>56</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>114</integer>
				<key>offsetX</key>
				<real>-5</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>face3518.png</key>
			<dict>
				<key>width</key>
				<integer>58</integer>
				<key>height</key>
				<integer>56</integer>
				<key>originalWidth</key>
				<integer>68</integer>
				<key>originalHeight</key>
				<integer>56</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>171</integer>
				<key>offsetX</key>
				<real>-5</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>face3519.png</key>
			<dict>
				<key>width</key>
				<integer>58</integer>
				<key>height</key>
				<integer>56</integer>
				<key>originalWidth</key>
				<integer>68</integer>
				<key>originalHeight</key>
				<integer>56</integer>
				<key>x</key>
				<integer>59</integer>
				<key>y</key>
				<integer>114</integer>
				<key>offsetX</key>
				<real>-5</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>face352.png</key>
			<dict>
				<key>width</key>
				<integer>54</integer>
				<key>height</key>
				<integer>52</integer>
				<key>originalWidth</key>
				<integer>68</integer>
				<key>originalHeight</key>
				<integer>56</integer>
				<key>x</key>
				<integer>59</integer>
				<key>y</key>
				<integer>171</integer>
				<key>offsetX</key>
				<real>3</real>
				<key>offsetY</key>
				<real>-2</real>
			</dict>
			<key>face3520.png</key>
			<dict>
				<key>width</key>
				<integer>52</integer>
				<key>height</key>
				<integer>50</integer>
				<key>originalWidth</key>
				<integer>68</integer>
				<key>originalHeight</key>
				<integer>56</integer>
				<key>x</key>
				<integer>118</integer>
				<key>y</key>
				<integer>114</integer>
				<key>offsetX</key>
				<real>2</real>
				<key>offsetY</key>
				<real>-3</real>
			</dict>
			<key>face3521.png</key>
			<dict>
				<key>width</key>
				<integer>52</integer>
				<key>height</key>
				<integer>50</integer>
				<key>originalWidth</key>
				<integer>68</integer>
				<key>originalHeight</key>
				<integer>56</integer>
				<key>x</key>
				<integer>118</integer>
				<key>y</key>
				<integer>165</integer>
				<key>offsetX</key>
				<real>2</real>
				<key>offsetY</key>
				<real>-3</real>
			</dict>
			<key>face3522.png</key>
			<dict>
				<key>width</key>
				<integer>52</integer>
				<key>height</key>
				<integer>50</integer>
				<key>originalWidth</key>
				<integer>68</integer>
				<key>originalHeight</key>
				<integer>56</integer>
				<key>x</key>
				<integer>171</integer>
				<key>y</key>
				<integer>114</integer>
				<key>offsetX</key>
				<real>2</real>
				<key>offsetY</key>
				<real>-3</real>
			</dict>
			<key>face3523.png</key>
			<dict>
				<key>width</key>
				<integer>52</integer>
				<key>height</key>
				<integer>50</integer>
				<key>originalWidth</key>
				<integer>68</integer>
				<key>originalHeight</key>
				<integer>56</integer>
				<key>x</key>
				<integer>171</integer>
				<key>y</key>
				<integer>165</integer>
				<key>offsetX</key>
				<real>2</real>
				<key>offsetY</key>
				<real>-3</real>
			</dict>
			<key>face3524.png</key>
			<dict>
				<key>width</key>
				<integer>52</integer>
				<key>height</key>
				<integer>50</integer>
				<key>originalWidth</key>
				<integer>68</integer>
				<key>originalHeight</key>
				<integer>56</integer>
				<key>x</key>
				<integer>244</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>2</real>
				<key>offsetY</key>
				<real>-3</real>
			</dict>
			<key>face3525.png</key>
			<dict>
				<key>width</key>
				<integer>52</integer>
				<key>height</key>
				<integer>50</integer>
				<key>originalWidth</key>
				<integer>68</integer>
				<key>originalHeight</key>
				<integer>56</integer>
				<key>x</key>
				<integer>297</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>2</real>
				<key>offsetY</key>
				<real>-3</real>
			</dict>
			<key>face3526.png</key>
			<dict>
				<key>width</key>
				<integer>48</integer>
				<key>height</key>
				<integer>52</integer>
				<key>originalWidth</key>
				<integer>68</integer>
				<key>originalHeight</key>
				<integer>56</integer>
				<key>x</key>
				<integer>256</integer>
				<key>y</key>
				<integer>51</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>-2</real>
			</dict>
			<key>face3527.png</key>
			<dict>
				<key>width</key>
				<integer>48</integer>
				<key>height</key>
				<integer>52</integer>
				<key>originalWidth</key>
				<integer>68</integer>
				<key>originalHeight</key>
				<integer>56</integer>
				<key>x</key>
				<integer>224</integer>
				<key>y</key>
				<integer>114</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>-2</real>
			</dict>
			<key>face3528.png</key>
			<dict>
				<key>width</key>
				<integer>48</integer>
				<key>height</key>
				<integer>52</integer>
				<key>originalWidth</key>
				<integer>68</integer>
				<key>originalHeight</key>
				<integer>56</integer>
				<key>x</key>
				<integer>350</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>-2</real>
			</dict>
			<key>face3529.png</key>
			<dict>
				<key>width</key>
				<integer>48</integer>
				<key>height</key>
				<integer>52</integer>
				<key>originalWidth</key>
				<integer>68</integer>
				<key>originalHeight</key>
				<integer>56</integer>
				<key>x</key>
				<integer>273</integer>
				<key>y</key>
				<integer>104</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>-2</real>
			</dict>
			<key>face353.png</key>
			<dict>
				<key>width</key>
				<integer>58</integer>
				<key>height</key>
				<integer>54</integer>
				<key>originalWidth</key>
				<integer>68</integer>
				<key>originalHeight</key>
				<integer>56</integer>
				<key>x</key>
				<integer>224</integer>
				<key>y</key>
				<integer>167</integer>
				<key>offsetX</key>
				<real>5</real>
				<key>offsetY</key>
				<real>-1</real>
			</dict>
			<key>face354.png</key>
			<dict>
				<key>width</key>
				<integer>58</integer>
				<key>height</key>
				<integer>56</integer>
				<key>originalWidth</key>
				<integer>68</integer>
				<key>originalHeight</key>
				<integer>56</integer>
				<key>x</key>
				<integer>399</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>5</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>face355.png</key>
			<dict>
				<key>width</key>
				<integer>58</integer>
				<key>height</key>
				<integer>56</integer>
				<key>originalWidth</key>
				<integer>68</integer>
				<key>originalHeight</key>
				<integer>56</integer>
				<key>x</key>
				<integer>322</integer>
				<key>y</key>
				<integer>53</integer>
				<key>offsetX</key>
				<real>5</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>face356.png</key>
			<dict>
				<key>width</key>
				<integer>58</integer>
				<key>height</key>
				<integer>56</integer>
				<key>originalWidth</key>
				<integer>68</integer>
				<key>originalHeight</key>
				<integer>56</integer>
				<key>x</key>
				<integer>322</integer>
				<key>y</key>
				<integer>110</integer>
				<key>offsetX</key>
				<real>5</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>face357.png</key>
			<dict>
				<key>width</key>
				<integer>58</integer>
				<key>height</key>
				<integer>56</integer>
				<key>originalWidth</key>
				<integer>68</integer>
				<key>originalHeight</key>
				<integer>56</integer>
				<key>x</key>
				<integer>283</integer>
				<key>y</key>
				<integer>167</integer>
				<key>offsetX</key>
				<real>5</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>face358.png</key>
			<dict>
				<key>width</key>
				<integer>59</integer>
				<key>height</key>
				<integer>56</integer>
				<key>originalWidth</key>
				<integer>68</integer>
				<key>originalHeight</key>
				<integer>56</integer>
				<key>x</key>
				<integer>381</integer>
				<key>y</key>
				<integer>57</integer>
				<key>offsetX</key>
				<real>4.5</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>face359.png</key>
			<dict>
				<key>width</key>
				<integer>62</integer>
				<key>height</key>
				<integer>56</integer>
				<key>originalWidth</key>
				<integer>68</integer>
				<key>originalHeight</key>
				<integer>56</integer>
				<key>x</key>
				<integer>381</integer>
				<key>y</key>
				<integer>114</integer>
				<key>offsetX</key>
				<real>3</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>0</integer>
			<key>textureFileName</key>
			<string>face350.png</string>
			<key>realTextureFileName</key>
			<string>face350.png</string>
			<key>size</key>
			<string>{4096,4096}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>4096</integer>
			<key>height</key>
			<integer>4096</integer>
		</dict>
	</dict>
</plist>