<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>810711.png</key>
            <dict>
                <key>frame</key>
                <string>{{1022,0},{1,1}}</string>
                <key>offset</key>
                <string>{-255.5,255.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>810712.png</key>
            <dict>
                <key>frame</key>
                <string>{{1022,0},{1,1}}</string>
                <key>offset</key>
                <string>{-255.5,255.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>810713.png</key>
            <dict>
                <key>frame</key>
                <string>{{874,172},{104,40}}</string>
                <key>offset</key>
                <string>{57,85}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{261,151},{104,40}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>810714.png</key>
            <dict>
                <key>frame</key>
                <string>{{874,104},{68,138}}</string>
                <key>offset</key>
                <string>{-19,91}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{203,96},{68,138}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>810715.png</key>
            <dict>
                <key>frame</key>
                <string>{{304,0},{288,230}}</string>
                <key>offset</key>
                <string>{3,41}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{115,100},{288,230}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>810716.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,460},{270,214}}</string>
                <key>offset</key>
                <string>{5,12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{126,137},{270,214}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>810721.png</key>
            <dict>
                <key>frame</key>
                <string>{{1022,0},{1,1}}</string>
                <key>offset</key>
                <string>{-255.5,255.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>810722.png</key>
            <dict>
                <key>frame</key>
                <string>{{1022,0},{1,1}}</string>
                <key>offset</key>
                <string>{-255.5,255.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>810723.png</key>
            <dict>
                <key>frame</key>
                <string>{{1022,0},{1,1}}</string>
                <key>offset</key>
                <string>{-255.5,255.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>810724.png</key>
            <dict>
                <key>frame</key>
                <string>{{1022,0},{1,1}}</string>
                <key>offset</key>
                <string>{-255.5,255.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>810725.png</key>
            <dict>
                <key>frame</key>
                <string>{{592,212},{280,246}}</string>
                <key>offset</key>
                <string>{11,32}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{127,101},{280,246}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>810726.png</key>
            <dict>
                <key>frame</key>
                <string>{{274,430},{274,210}}</string>
                <key>offset</key>
                <string>{6,25}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{125,126},{274,210}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>810731.png</key>
            <dict>
                <key>frame</key>
                <string>{{1022,0},{1,1}}</string>
                <key>offset</key>
                <string>{-255.5,255.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>810732.png</key>
            <dict>
                <key>frame</key>
                <string>{{1022,0},{1,1}}</string>
                <key>offset</key>
                <string>{-255.5,255.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>810733.png</key>
            <dict>
                <key>frame</key>
                <string>{{1022,0},{1,1}}</string>
                <key>offset</key>
                <string>{-255.5,255.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>810734.png</key>
            <dict>
                <key>frame</key>
                <string>{{872,322},{64,64}}</string>
                <key>offset</key>
                <string>{-27,91}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{197,133},{64,64}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>810735.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,674},{260,206}}</string>
                <key>offset</key>
                <string>{19,41}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{145,112},{260,206}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>810736.png</key>
            <dict>
                <key>frame</key>
                <string>{{304,230},{276,200}}</string>
                <key>offset</key>
                <string>{18,33}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{136,123},{276,200}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>810741.png</key>
            <dict>
                <key>frame</key>
                <string>{{1022,0},{1,1}}</string>
                <key>offset</key>
                <string>{-255.5,255.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>810742.png</key>
            <dict>
                <key>frame</key>
                <string>{{1022,0},{1,1}}</string>
                <key>offset</key>
                <string>{-255.5,255.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>810743.png</key>
            <dict>
                <key>frame</key>
                <string>{{974,212},{90,50}}</string>
                <key>offset</key>
                <string>{-54,80}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{157,151},{90,50}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>810744.png</key>
            <dict>
                <key>frame</key>
                <string>{{874,0},{148,104}}</string>
                <key>offset</key>
                <string>{-22,99}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{160,105},{148,104}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>810745.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,232},{274,228}}</string>
                <key>offset</key>
                <string>{16,59}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{135,83},{274,228}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>810746.png</key>
            <dict>
                <key>frame</key>
                <string>{{206,674},{226,242}}</string>
                <key>offset</key>
                <string>{24,72}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{167,63},{226,242}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>810751.png</key>
            <dict>
                <key>frame</key>
                <string>{{1022,0},{1,1}}</string>
                <key>offset</key>
                <string>{-255.5,255.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>810752.png</key>
            <dict>
                <key>frame</key>
                <string>{{872,270},{98,52}}</string>
                <key>offset</key>
                <string>{-43,50}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{164,180},{98,52}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>810753.png</key>
            <dict>
                <key>frame</key>
                <string>{{872,212},{102,58}}</string>
                <key>offset</key>
                <string>{-35,53}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{170,174},{102,58}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>810754.png</key>
            <dict>
                <key>frame</key>
                <string>{{936,322},{58,174}}</string>
                <key>offset</key>
                <string>{2,148}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{229,21},{58,174}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>810755.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{304,232}}</string>
                <key>offset</key>
                <string>{9,76}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{113,64},{304,232}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>810756.png</key>
            <dict>
                <key>frame</key>
                <string>{{592,0},{282,212}}</string>
                <key>offset</key>
                <string>{13,60}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{128,90},{282,212}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>8107.pvr.ccz</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:76aaa89cf235423dd255f49f2589fa48:1/1$</string>
            <key>textureFileName</key>
            <string>8107.pvr.ccz</string>
        </dict>
    </dict>
</plist>
