<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>itemColor_6621.png</key>
            <dict>
                <key>frame</key>
                <string>{{120,238},{120,116}}</string>
                <key>offset</key>
                <string>{-3,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{193,196},{120,116}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>itemColor_6622.png</key>
            <dict>
                <key>frame</key>
                <string>{{120,238},{120,116}}</string>
                <key>offset</key>
                <string>{-3,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{193,196},{120,116}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>itemColor_6623.png</key>
            <dict>
                <key>frame</key>
                <string>{{122,0},{122,120}}</string>
                <key>offset</key>
                <string>{-3,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{192,194},{122,120}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>itemColor_6624.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{122,120}}</string>
                <key>offset</key>
                <string>{-3,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{192,194},{122,120}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>itemColor_6625.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,120},{122,118}}</string>
                <key>offset</key>
                <string>{-3,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{192,195},{122,118}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>itemColor_6626.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,120},{122,118}}</string>
                <key>offset</key>
                <string>{-3,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{192,195},{122,118}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>itemColor_6627.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,238},{120,118}}</string>
                <key>offset</key>
                <string>{-2,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{194,194},{120,118}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>itemColor_6628.png</key>
            <dict>
                <key>frame</key>
                <string>{{122,120},{120,118}}</string>
                <key>offset</key>
                <string>{-2,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{194,194},{120,118}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>itemColor_662.pvr.ccz</string>
            <key>size</key>
            <string>{256,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:3be6e31db1ce4d57be01c81948f536bf:1/1$</string>
            <key>textureFileName</key>
            <string>itemColor_662.pvr.ccz</string>
        </dict>
    </dict>
</plist>
