<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>83031.png</key>
            <dict>
                <key>frame</key>
                <string>{{278,312},{298,260}}</string>
                <key>offset</key>
                <string>{1,23}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{108,103},{298,260}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>83032.png</key>
            <dict>
                <key>frame</key>
                <string>{{288,610},{294,266}}</string>
                <key>offset</key>
                <string>{0,32}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{109,91},{294,266}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>83033.png</key>
            <dict>
                <key>frame</key>
                <string>{{286,0},{296,296}}</string>
                <key>offset</key>
                <string>{-5,45}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{103,63},{296,296}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>83034.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,624},{288,308}}</string>
                <key>offset</key>
                <string>{-4,52}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{108,50},{288,308}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>83035.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{286,312}}</string>
                <key>offset</key>
                <string>{-5,55}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{108,45},{286,312}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>83036.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,312},{278,312}}</string>
                <key>offset</key>
                <string>{-4,64}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{113,36},{278,312}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>8303.pvr.ccz</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:fdbfaecda027e7bb6715a4728bb94767:1/1$</string>
            <key>textureFileName</key>
            <string>8303.pvr.ccz</string>
        </dict>
    </dict>
</plist>
