<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>6919111.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,806},{234,252}}</string>
                <key>offset</key>
                <string>{-48,60}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{91,70},{234,252}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6919112.png</key>
            <dict>
                <key>frame</key>
                <string>{{514,718},{228,254}}</string>
                <key>offset</key>
                <string>{-45,60}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{97,69},{228,254}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6919113.png</key>
            <dict>
                <key>frame</key>
                <string>{{258,570},{230,256}}</string>
                <key>offset</key>
                <string>{-46,60}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{95,68},{230,256}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6919121.png</key>
            <dict>
                <key>frame</key>
                <string>{{1094,580},{252,260}}</string>
                <key>offset</key>
                <string>{-54,46}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{76,80},{252,260}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6919122.png</key>
            <dict>
                <key>frame</key>
                <string>{{1696,376},{250,260}}</string>
                <key>offset</key>
                <string>{-53,46}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{78,80},{250,260}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6919123.png</key>
            <dict>
                <key>frame</key>
                <string>{{1614,810},{254,258}}</string>
                <key>offset</key>
                <string>{-55,48}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{74,79},{254,258}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6919131.png</key>
            <dict>
                <key>frame</key>
                <string>{{1250,1024},{192,230}}</string>
                <key>offset</key>
                <string>{7,61}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{167,80},{192,230}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6919132.png</key>
            <dict>
                <key>frame</key>
                <string>{{474,1330},{198,228}}</string>
                <key>offset</key>
                <string>{6,63}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{163,79},{198,228}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6919133.png</key>
            <dict>
                <key>frame</key>
                <string>{{956,1366},{210,220}}</string>
                <key>offset</key>
                <string>{7,66}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{158,80},{210,220}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6919141.png</key>
            <dict>
                <key>frame</key>
                <string>{{1872,814},{172,194}}</string>
                <key>offset</key>
                <string>{45,67}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{215,92},{172,194}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6919142.png</key>
            <dict>
                <key>frame</key>
                <string>{{1872,1196},{164,200}}</string>
                <key>offset</key>
                <string>{48,68}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{222,88},{164,200}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6919143.png</key>
            <dict>
                <key>frame</key>
                <string>{{1706,1064},{166,198}}</string>
                <key>offset</key>
                <string>{48,65}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{221,92},{166,198}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6919151.png</key>
            <dict>
                <key>frame</key>
                <string>{{494,1170},{234,160}}</string>
                <key>offset</key>
                <string>{49,75}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{188,101},{234,160}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6919152.png</key>
            <dict>
                <key>frame</key>
                <string>{{232,1370},{228,162}}</string>
                <key>offset</key>
                <string>{45,76}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{187,99},{228,162}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6919153.png</key>
            <dict>
                <key>frame</key>
                <string>{{988,1208},{230,158}}</string>
                <key>offset</key>
                <string>{46,74}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{187,103},{230,158}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6919211.png</key>
            <dict>
                <key>frame</key>
                <string>{{774,612},{254,242}}</string>
                <key>offset</key>
                <string>{-60,60}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{69,75},{254,242}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6919212.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,374},{258,244}}</string>
                <key>offset</key>
                <string>{-62,56}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{65,78},{258,244}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6919213.png</key>
            <dict>
                <key>frame</key>
                <string>{{1430,368},{266,224}}</string>
                <key>offset</key>
                <string>{-64,63}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{59,81},{266,224}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6919214.png</key>
            <dict>
                <key>frame</key>
                <string>{{870,208},{266,214}}</string>
                <key>offset</key>
                <string>{-64,67}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{59,82},{266,214}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6919215.png</key>
            <dict>
                <key>frame</key>
                <string>{{1354,592},{260,242}}</string>
                <key>offset</key>
                <string>{-59,61}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{67,74},{260,242}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6919221.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,1040},{196,240}}</string>
                <key>offset</key>
                <string>{-27,56}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{131,80},{196,240}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6919222.png</key>
            <dict>
                <key>frame</key>
                <string>{{754,1022},{198,234}}</string>
                <key>offset</key>
                <string>{-38,59}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{119,80},{198,234}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6919223.png</key>
            <dict>
                <key>frame</key>
                <string>{{1436,0},{274,194}}</string>
                <key>offset</key>
                <string>{-15,81}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{104,78},{274,194}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6919224.png</key>
            <dict>
                <key>frame</key>
                <string>{{592,0},{288,192}}</string>
                <key>offset</key>
                <string>{-11,81}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{101,79},{288,192}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6919225.png</key>
            <dict>
                <key>frame</key>
                <string>{{1218,1216},{218,220}}</string>
                <key>offset</key>
                <string>{-28,69}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{119,77},{218,220}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6919231.png</key>
            <dict>
                <key>frame</key>
                <string>{{226,1532},{150,208}}</string>
                <key>offset</key>
                <string>{15,72}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{196,80},{150,208}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6919232.png</key>
            <dict>
                <key>frame</key>
                <string>{{1872,1008},{172,188}}</string>
                <key>offset</key>
                <string>{28,82}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{198,80},{172,188}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6919233.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,1652},{206,192}}</string>
                <key>offset</key>
                <string>{44,81}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{197,79},{206,192}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6919234.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,1844},{204,192}}</string>
                <key>offset</key>
                <string>{44,82}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{198,78},{204,192}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6919235.png</key>
            <dict>
                <key>frame</key>
                <string>{{732,1822},{184,192}}</string>
                <key>offset</key>
                <string>{34,84}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{198,76},{184,192}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6919241.png</key>
            <dict>
                <key>frame</key>
                <string>{{552,1838},{198,180}}</string>
                <key>offset</key>
                <string>{42,77}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{199,89},{198,180}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6919242.png</key>
            <dict>
                <key>frame</key>
                <string>{{1874,626},{188,174}}</string>
                <key>offset</key>
                <string>{39,81}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{201,88},{188,174}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6919243.png</key>
            <dict>
                <key>frame</key>
                <string>{{916,1818},{188,186}}</string>
                <key>offset</key>
                <string>{33,74}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{195,89},{188,186}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6919244.png</key>
            <dict>
                <key>frame</key>
                <string>{{862,1628},{190,190}}</string>
                <key>offset</key>
                <string>{29,72}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{190,89},{190,190}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6919245.png</key>
            <dict>
                <key>frame</key>
                <string>{{1052,1600},{182,180}}</string>
                <key>offset</key>
                <string>{40,81}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{205,85},{182,180}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6919251.png</key>
            <dict>
                <key>frame</key>
                <string>{{256,800},{254,190}}</string>
                <key>offset</key>
                <string>{59,69}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{188,92},{254,190}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6919252.png</key>
            <dict>
                <key>frame</key>
                <string>{{516,540},{258,178}}</string>
                <key>offset</key>
                <string>{61,76}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{188,91},{258,178}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6919253.png</key>
            <dict>
                <key>frame</key>
                <string>{{566,348},{264,192}}</string>
                <key>offset</key>
                <string>{63,72}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{187,88},{264,192}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6919254.png</key>
            <dict>
                <key>frame</key>
                <string>{{1136,390},{266,190}}</string>
                <key>offset</key>
                <string>{63,73}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{186,88},{266,190}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6919255.png</key>
            <dict>
                <key>frame</key>
                <string>{{1614,626},{260,184}}</string>
                <key>offset</key>
                <string>{59,75}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{185,89},{260,184}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6919311.png</key>
            <dict>
                <key>frame</key>
                <string>{{702,1434},{194,210}}</string>
                <key>offset</key>
                <string>{-39,58}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{120,93},{194,210}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6919312.png</key>
            <dict>
                <key>frame</key>
                <string>{{1162,0},{206,274}}</string>
                <key>offset</key>
                <string>{-27,100}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{126,19},{206,274}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6919313.png</key>
            <dict>
                <key>frame</key>
                <string>{{510,946},{224,244}}</string>
                <key>offset</key>
                <string>{-78,11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{66,123},{224,244}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6919314.png</key>
            <dict>
                <key>frame</key>
                <string>{{240,1220},{150,234}}</string>
                <key>offset</key>
                <string>{-19,59}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{162,80},{150,234}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6919315.png</key>
            <dict>
                <key>frame</key>
                <string>{{1704,1262},{160,220}}</string>
                <key>offset</key>
                <string>{-31,55}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{145,91},{160,220}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6919321.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{302,184}}</string>
                <key>offset</key>
                <string>{-13,65}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{92,99},{302,184}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6919322.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,1466},{186,226}}</string>
                <key>offset</key>
                <string>{-28,76}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{135,67},{186,226}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6919323.png</key>
            <dict>
                <key>frame</key>
                <string>{{880,0},{282,208}}</string>
                <key>offset</key>
                <string>{-12,18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{103,134},{282,208}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6919324.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,1236},{232,230}}</string>
                <key>offset</key>
                <string>{-8,45}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{132,96},{232,230}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6919325.png</key>
            <dict>
                <key>frame</key>
                <string>{{1710,180},{272,196}}</string>
                <key>offset</key>
                <string>{-38,45}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{82,113},{272,196}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6919331.png</key>
            <dict>
                <key>frame</key>
                <string>{{302,0},{290,198}}</string>
                <key>offset</key>
                <string>{33,59}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{144,98},{290,198}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6919332.png</key>
            <dict>
                <key>frame</key>
                <string>{{1864,1396},{184,204}}</string>
                <key>offset</key>
                <string>{-8,51}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{156,103},{184,204}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6919333.png</key>
            <dict>
                <key>frame</key>
                <string>{{1278,834},{240,190}}</string>
                <key>offset</key>
                <string>{82,30}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{218,131},{240,190}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6919334.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,184},{290,190}}</string>
                <key>offset</key>
                <string>{-6,54}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{105,107},{290,190}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6919335.png</key>
            <dict>
                <key>frame</key>
                <string>{{830,422},{264,190}}</string>
                <key>offset</key>
                <string>{-3,54}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{121,107},{264,190}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6919341.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,618},{188,256}}</string>
                <key>offset</key>
                <string>{27,85}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{189,43},{188,256}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6919342.png</key>
            <dict>
                <key>frame</key>
                <string>{{668,1628},{194,194}}</string>
                <key>offset</key>
                <string>{27,56}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{186,103},{194,194}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6919343.png</key>
            <dict>
                <key>frame</key>
                <string>{{192,1844},{180,204}}</string>
                <key>offset</key>
                <string>{72,61}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{238,93},{180,204}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6919344.png</key>
            <dict>
                <key>frame</key>
                <string>{{1014,996},{236,212}}</string>
                <key>offset</key>
                <string>{26,65}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{164,85},{236,212}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6919345.png</key>
            <dict>
                <key>frame</key>
                <string>{{252,990},{242,230}}</string>
                <key>offset</key>
                <string>{16,55}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{151,86},{242,230}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6919351.png</key>
            <dict>
                <key>frame</key>
                <string>{{258,374},{196,258}}</string>
                <key>offset</key>
                <string>{39,111}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{197,16},{196,258}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6919352.png</key>
            <dict>
                <key>frame</key>
                <string>{{372,1842},{206,180}}</string>
                <key>offset</key>
                <string>{26,72}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{179,94},{206,180}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6919353.png</key>
            <dict>
                <key>frame</key>
                <string>{{1480,1210},{224,200}}</string>
                <key>offset</key>
                <string>{78,82}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{222,74},{224,200}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6919354.png</key>
            <dict>
                <key>frame</key>
                <string>{{402,1688},{150,200}}</string>
                <key>offset</key>
                <string>{17,81}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{198,75},{150,200}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6919355.png</key>
            <dict>
                <key>frame</key>
                <string>{{460,1528},{160,208}}</string>
                <key>offset</key>
                <string>{32,70}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{208,82},{160,208}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6919511.png</key>
            <dict>
                <key>frame</key>
                <string>{{728,1220},{228,214}}</string>
                <key>offset</key>
                <string>{-30,-51}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{112,200},{228,214}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6919512.png</key>
            <dict>
                <key>frame</key>
                <string>{{290,198},{276,176}}</string>
                <key>offset</key>
                <string>{-53,-72}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{65,240},{276,176}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6919521.png</key>
            <dict>
                <key>frame</key>
                <string>{{1436,194},{270,174}}</string>
                <key>offset</key>
                <string>{69,-21}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{190,190},{270,174}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6919522.png</key>
            <dict>
                <key>frame</key>
                <string>{{592,192},{278,156}}</string>
                <key>offset</key>
                <string>{75,-45}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{192,223},{278,156}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6919531.png</key>
            <dict>
                <key>frame</key>
                <string>{{1028,832},{250,164}}</string>
                <key>offset</key>
                <string>{121,15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{252,159},{250,164}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6919532.png</key>
            <dict>
                <key>frame</key>
                <string>{{1162,206},{268,184}}</string>
                <key>offset</key>
                <string>{122,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{244,167},{268,184}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6919541.png</key>
            <dict>
                <key>frame</key>
                <string>{{206,1682},{196,160}}</string>
                <key>offset</key>
                <string>{101,71}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{259,105},{196,160}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6919542.png</key>
            <dict>
                <key>frame</key>
                <string>{{768,854},{246,168}}</string>
                <key>offset</key>
                <string>{87,65}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{220,107},{246,168}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6919551.png</key>
            <dict>
                <key>frame</key>
                <string>{{1480,1064},{226,146}}</string>
                <key>offset</key>
                <string>{29,99}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{172,84},{226,146}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6919552.png</key>
            <dict>
                <key>frame</key>
                <string>{{1710,0},{274,180}}</string>
                <key>offset</key>
                <string>{53,83}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{172,83},{274,180}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>6919.pvr.ccz</string>
            <key>size</key>
            <string>{2048,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:637668a6db4582a3ab7cfc95845b6364:1/1$</string>
            <key>textureFileName</key>
            <string>6919.pvr.ccz</string>
        </dict>
    </dict>
</plist>
