<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>810611.png</key>
            <dict>
                <key>frame</key>
                <string>{{520,358},{170,182}}</string>
                <key>offset</key>
                <string>{-10,47}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{161,118},{170,182}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>810612.png</key>
            <dict>
                <key>frame</key>
                <string>{{690,348},{166,182}}</string>
                <key>offset</key>
                <string>{-12,47}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{161,118},{166,182}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>810613.png</key>
            <dict>
                <key>frame</key>
                <string>{{352,184},{166,190}}</string>
                <key>offset</key>
                <string>{-9,43}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{164,118},{166,190}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>810614.png</key>
            <dict>
                <key>frame</key>
                <string>{{174,610},{168,184}}</string>
                <key>offset</key>
                <string>{-9,42}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{163,122},{168,184}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>810615.png</key>
            <dict>
                <key>frame</key>
                <string>{{678,722},{164,170}}</string>
                <key>offset</key>
                <string>{-7,44}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{167,127},{164,170}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>810616.png</key>
            <dict>
                <key>frame</key>
                <string>{{856,658},{154,168}}</string>
                <key>offset</key>
                <string>{-3,41}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{176,131},{154,168}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>810621.png</key>
            <dict>
                <key>frame</key>
                <string>{{424,0},{194,174}}</string>
                <key>offset</key>
                <string>{-15,47}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{144,122},{194,174}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>810622.png</key>
            <dict>
                <key>frame</key>
                <string>{{618,0},{200,164}}</string>
                <key>offset</key>
                <string>{-10,37}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{146,137},{200,164}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>810623.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{214,186}}</string>
                <key>offset</key>
                <string>{-3,35}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{146,128},{214,186}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>810624.png</key>
            <dict>
                <key>frame</key>
                <string>{{214,0},{210,184}}</string>
                <key>offset</key>
                <string>{-3,36}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{148,128},{210,184}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>810625.png</key>
            <dict>
                <key>frame</key>
                <string>{{352,374},{184,168}}</string>
                <key>offset</key>
                <string>{-13,47}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{151,125},{184,168}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>810626.png</key>
            <dict>
                <key>frame</key>
                <string>{{342,738},{180,172}}</string>
                <key>offset</key>
                <string>{-8,47}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{158,123},{180,172}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>810631.png</key>
            <dict>
                <key>frame</key>
                <string>{{520,540},{182,170}}</string>
                <key>offset</key>
                <string>{14,40}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{179,131},{182,170}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>810632.png</key>
            <dict>
                <key>frame</key>
                <string>{{690,530},{182,166}}</string>
                <key>offset</key>
                <string>{14,38}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{179,135},{182,166}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>810633.png</key>
            <dict>
                <key>frame</key>
                <string>{{818,0},{190,166}}</string>
                <key>offset</key>
                <string>{18,40}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{179,133},{190,166}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>810634.png</key>
            <dict>
                <key>frame</key>
                <string>{{164,804},{184,168}}</string>
                <key>offset</key>
                <string>{19,41}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{183,131},{184,168}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>810635.png</key>
            <dict>
                <key>frame</key>
                <string>{{842,812},{170,164}}</string>
                <key>offset</key>
                <string>{17,43}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{188,131},{170,164}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>810636.png</key>
            <dict>
                <key>frame</key>
                <string>{{856,350},{168,154}}</string>
                <key>offset</key>
                <string>{20,46}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{192,133},{168,154}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>810641.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,610},{174,194}}</string>
                <key>offset</key>
                <string>{9,51}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{178,108},{174,194}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>810642.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,804},{164,200}}</string>
                <key>offset</key>
                <string>{19,56}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{193,100},{164,200}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>810643.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,186},{186,214}}</string>
                <key>offset</key>
                <string>{21,63}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{184,86},{186,214}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>810644.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,400},{184,210}}</string>
                <key>offset</key>
                <string>{20,63}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{184,88},{184,210}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>810645.png</key>
            <dict>
                <key>frame</key>
                <string>{{856,166},{168,184}}</string>
                <key>offset</key>
                <string>{9,54}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{181,110},{168,184}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>810646.png</key>
            <dict>
                <key>frame</key>
                <string>{{342,558},{172,180}}</string>
                <key>offset</key>
                <string>{9,58}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{179,108},{172,180}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>810651.png</key>
            <dict>
                <key>frame</key>
                <string>{{686,166},{170,182}}</string>
                <key>offset</key>
                <string>{12,65}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{183,100},{170,182}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>810652.png</key>
            <dict>
                <key>frame</key>
                <string>{{186,376},{166,182}}</string>
                <key>offset</key>
                <string>{14,65}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{187,100},{166,182}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>810653.png</key>
            <dict>
                <key>frame</key>
                <string>{{186,186},{166,190}}</string>
                <key>offset</key>
                <string>{12,70}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{185,91},{166,190}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>810654.png</key>
            <dict>
                <key>frame</key>
                <string>{{518,174},{168,184}}</string>
                <key>offset</key>
                <string>{11,71}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{183,93},{168,184}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>810655.png</key>
            <dict>
                <key>frame</key>
                <string>{{514,722},{164,170}}</string>
                <key>offset</key>
                <string>{9,69}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{183,102},{164,170}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>810656.png</key>
            <dict>
                <key>frame</key>
                <string>{{856,504},{154,168}}</string>
                <key>offset</key>
                <string>{6,72}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{185,100},{154,168}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>8106.pvr.ccz</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:2fafd5ed9196c83973d8c40bd8c82f8c:1/1$</string>
            <key>textureFileName</key>
            <string>8106.pvr.ccz</string>
        </dict>
    </dict>
</plist>
