<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>7540111.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{74,118}}</string>
                <key>offset</key>
                <string>{10,53}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{229,144},{74,118}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>7540112.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,148},{74,116}}</string>
                <key>offset</key>
                <string>{10,52}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{229,146},{74,116}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>7540113.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,74},{74,116}}</string>
                <key>offset</key>
                <string>{10,52}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{229,146},{74,116}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>7540.pvr.ccz</string>
            <key>size</key>
            <string>{128,256}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:ff87bba8839e5ba2f0a16b236ad62210:1/1$</string>
            <key>textureFileName</key>
            <string>7540.pvr.ccz</string>
        </dict>
    </dict>
</plist>
