<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>6001111.png</key>
            <dict>
                <key>frame</key>
                <string>{{652,64},{64,90}}</string>
                <key>offset</key>
                <string>{2,19}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{226,192},{64,90}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6001112.png</key>
            <dict>
                <key>frame</key>
                <string>{{572,130},{66,86}}</string>
                <key>offset</key>
                <string>{1,20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{224,193},{66,86}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6001113.png</key>
            <dict>
                <key>frame</key>
                <string>{{652,128},{64,88}}</string>
                <key>offset</key>
                <string>{1,18}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{225,194},{64,88}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6001121.png</key>
            <dict>
                <key>frame</key>
                <string>{{788,66},{102,82}}</string>
                <key>offset</key>
                <string>{27,20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{232,195},{102,82}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6001122.png</key>
            <dict>
                <key>frame</key>
                <string>{{788,148},{100,78}}</string>
                <key>offset</key>
                <string>{26,21}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{232,196},{100,78}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6001123.png</key>
            <dict>
                <key>frame</key>
                <string>{{650,692},{104,82}}</string>
                <key>offset</key>
                <string>{22,19}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{226,196},{104,82}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6001131.png</key>
            <dict>
                <key>frame</key>
                <string>{{510,0},{124,62}}</string>
                <key>offset</key>
                <string>{25,26}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{219,199},{124,62}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6001132.png</key>
            <dict>
                <key>frame</key>
                <string>{{432,380},{120,62}}</string>
                <key>offset</key>
                <string>{23,26}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{219,199},{120,62}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6001133.png</key>
            <dict>
                <key>frame</key>
                <string>{{512,124},{118,60}}</string>
                <key>offset</key>
                <string>{23,25}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{220,201},{118,60}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6001141.png</key>
            <dict>
                <key>frame</key>
                <string>{{560,718},{106,90}}</string>
                <key>offset</key>
                <string>{23,33}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{226,178},{106,90}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6001142.png</key>
            <dict>
                <key>frame</key>
                <string>{{684,928},{104,92}}</string>
                <key>offset</key>
                <string>{22,34}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{226,176},{104,92}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6001143.png</key>
            <dict>
                <key>frame</key>
                <string>{{892,0},{102,86}}</string>
                <key>offset</key>
                <string>{22,31}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{227,182},{102,86}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6001151.png</key>
            <dict>
                <key>frame</key>
                <string>{{652,0},{64,100}}</string>
                <key>offset</key>
                <string>{-2,32}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{222,174},{64,100}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6001152.png</key>
            <dict>
                <key>frame</key>
                <string>{{890,86},{64,102}}</string>
                <key>offset</key>
                <string>{-2,33}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{222,172},{64,102}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6001153.png</key>
            <dict>
                <key>frame</key>
                <string>{{620,928},{64,96}}</string>
                <key>offset</key>
                <string>{-2,30}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{222,178},{64,96}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6001211.png</key>
            <dict>
                <key>frame</key>
                <string>{{428,254},{64,126}}</string>
                <key>offset</key>
                <string>{3,39}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{227,154},{64,126}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6001212.png</key>
            <dict>
                <key>frame</key>
                <string>{{394,898},{64,116}}</string>
                <key>offset</key>
                <string>{2,43}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{226,155},{64,116}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6001213.png</key>
            <dict>
                <key>frame</key>
                <string>{{492,252},{64,118}}</string>
                <key>offset</key>
                <string>{2,40}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{226,157},{64,118}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6001214.png</key>
            <dict>
                <key>frame</key>
                <string>{{446,0},{64,124}}</string>
                <key>offset</key>
                <string>{3,41}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{227,153},{64,124}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6001215.png</key>
            <dict>
                <key>frame</key>
                <string>{{448,650},{64,114}}</string>
                <key>offset</key>
                <string>{4,46}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{228,153},{64,114}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6001221.png</key>
            <dict>
                <key>frame</key>
                <string>{{348,260},{80,126}}</string>
                <key>offset</key>
                <string>{5,49}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{221,144},{80,126}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6001222.png</key>
            <dict>
                <key>frame</key>
                <string>{{274,946},{78,120}}</string>
                <key>offset</key>
                <string>{6,52}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{223,144},{78,120}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6001223.png</key>
            <dict>
                <key>frame</key>
                <string>{{272,0},{88,128}}</string>
                <key>offset</key>
                <string>{3,47}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{215,145},{88,128}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6001224.png</key>
            <dict>
                <key>frame</key>
                <string>{{214,562},{80,130}}</string>
                <key>offset</key>
                <string>{6,47}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{222,144},{80,130}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6001225.png</key>
            <dict>
                <key>frame</key>
                <string>{{394,530},{84,120}}</string>
                <key>offset</key>
                <string>{5,52}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{219,144},{84,120}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6001231.png</key>
            <dict>
                <key>frame</key>
                <string>{{266,132},{98,128}}</string>
                <key>offset</key>
                <string>{-2,58}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{205,134},{98,128}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6001232.png</key>
            <dict>
                <key>frame</key>
                <string>{{294,660},{88,122}}</string>
                <key>offset</key>
                <string>{0,59}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{212,136},{88,122}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6001233.png</key>
            <dict>
                <key>frame</key>
                <string>{{336,404},{96,126}}</string>
                <key>offset</key>
                <string>{-2,57}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{206,136},{96,126}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6001234.png</key>
            <dict>
                <key>frame</key>
                <string>{{360,0},{86,128}}</string>
                <key>offset</key>
                <string>{2,58}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{215,134},{86,128}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6001235.png</key>
            <dict>
                <key>frame</key>
                <string>{{250,276},{98,128}}</string>
                <key>offset</key>
                <string>{-5,58}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{202,134},{98,128}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6001241.png</key>
            <dict>
                <key>frame</key>
                <string>{{80,736},{82,136}}</string>
                <key>offset</key>
                <string>{0,56}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{215,132},{82,136}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6001242.png</key>
            <dict>
                <key>frame</key>
                <string>{{64,598},{74,138}}</string>
                <key>offset</key>
                <string>{6,54}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{225,133},{74,138}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6001243.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,740},{80,140}}</string>
                <key>offset</key>
                <string>{5,55}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{221,131},{80,140}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6001244.png</key>
            <dict>
                <key>frame</key>
                <string>{{138,594},{76,136}}</string>
                <key>offset</key>
                <string>{4,56}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{222,132},{76,136}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6001245.png</key>
            <dict>
                <key>frame</key>
                <string>{{192,866},{82,134}}</string>
                <key>offset</key>
                <string>{1,56}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{216,133},{82,134}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6001251.png</key>
            <dict>
                <key>frame</key>
                <string>{{162,730},{64,136}}</string>
                <key>offset</key>
                <string>{-3,51}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{221,137},{64,136}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6001252.png</key>
            <dict>
                <key>frame</key>
                <string>{{64,880},{64,138}}</string>
                <key>offset</key>
                <string>{-2,50}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{222,137},{64,138}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6001253.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,598},{64,142}}</string>
                <key>offset</key>
                <string>{-2,50}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{222,135},{64,142}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6001254.png</key>
            <dict>
                <key>frame</key>
                <string>{{128,872},{64,136}}</string>
                <key>offset</key>
                <string>{-3,51}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{221,137},{64,136}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6001255.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,880},{64,138}}</string>
                <key>offset</key>
                <string>{-4,49}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{220,138},{64,138}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6001311.png</key>
            <dict>
                <key>frame</key>
                <string>{{478,500},{64,110}}</string>
                <key>offset</key>
                <string>{2,40}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{226,161},{64,110}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6001312.png</key>
            <dict>
                <key>frame</key>
                <string>{{652,192},{64,84}}</string>
                <key>offset</key>
                <string>{4,29}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{228,185},{64,84}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6001313.png</key>
            <dict>
                <key>frame</key>
                <string>{{588,586},{64,106}}</string>
                <key>offset</key>
                <string>{6,22}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{230,181},{64,106}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6001314.png</key>
            <dict>
                <key>frame</key>
                <string>{{572,0},{66,72}}</string>
                <key>offset</key>
                <string>{-1,22}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{222,198},{66,72}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6001315.png</key>
            <dict>
                <key>frame</key>
                <string>{{718,796},{66,104}}</string>
                <key>offset</key>
                <string>{0,38}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{223,166},{66,104}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6001321.png</key>
            <dict>
                <key>frame</key>
                <string>{{382,782},{86,116}}</string>
                <key>offset</key>
                <string>{-8,48}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{205,150},{86,116}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6001322.png</key>
            <dict>
                <key>frame</key>
                <string>{{544,876},{112,76}}</string>
                <key>offset</key>
                <string>{-14,28}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{186,190},{112,76}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6001323.png</key>
            <dict>
                <key>frame</key>
                <string>{{542,480},{106,94}}</string>
                <key>offset</key>
                <string>{-8,20}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{195,189},{106,94}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6001324.png</key>
            <dict>
                <key>frame</key>
                <string>{{458,898},{114,86}}</string>
                <key>offset</key>
                <string>{-25,34}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{174,179},{114,86}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6001325.png</key>
            <dict>
                <key>frame</key>
                <string>{{468,764},{92,112}}</string>
                <key>offset</key>
                <string>{-14,47}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{196,153},{92,112}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6001331.png</key>
            <dict>
                <key>frame</key>
                <string>{{294,534},{100,126}}</string>
                <key>offset</key>
                <string>{-5,56}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{201,137},{100,126}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6001332.png</key>
            <dict>
                <key>frame</key>
                <string>{{174,0},{132,98}}</string>
                <key>offset</key>
                <string>{-12,42}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{178,165},{132,98}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6001333.png</key>
            <dict>
                <key>frame</key>
                <string>{{226,692},{128,68}}</string>
                <key>offset</key>
                <string>{-6,20}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{186,202},{128,68}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6001334.png</key>
            <dict>
                <key>frame</key>
                <string>{{152,144},{132,114}}</string>
                <key>offset</key>
                <string>{-26,50}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{164,149},{132,114}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6001335.png</key>
            <dict>
                <key>frame</key>
                <string>{{274,820},{108,126}}</string>
                <key>offset</key>
                <string>{-14,57}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{188,136},{108,126}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6001341.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,456},{82,142}}</string>
                <key>offset</key>
                <string>{-12,55}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{203,130},{82,142}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6001342.png</key>
            <dict>
                <key>frame</key>
                <string>{{230,406},{106,128}}</string>
                <key>offset</key>
                <string>{-18,48}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{185,144},{106,128}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6001343.png</key>
            <dict>
                <key>frame</key>
                <string>{{494,370},{110,62}}</string>
                <key>offset</key>
                <string>{-14,15}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{187,210},{110,62}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6001344.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,308},{104,148}}</string>
                <key>offset</key>
                <string>{-27,58}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{177,124},{104,148}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6001345.png</key>
            <dict>
                <key>frame</key>
                <string>{{66,150},{86,148}}</string>
                <key>offset</key>
                <string>{-18,58}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{195,124},{86,148}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6001351.png</key>
            <dict>
                <key>frame</key>
                <string>{{110,0},{64,144}}</string>
                <key>offset</key>
                <string>{-2,52}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{222,132},{64,144}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6001352.png</key>
            <dict>
                <key>frame</key>
                <string>{{82,456},{64,138}}</string>
                <key>offset</key>
                <string>{-4,49}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{220,138},{64,138}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6001353.png</key>
            <dict>
                <key>frame</key>
                <string>{{572,66},{64,68}}</string>
                <key>offset</key>
                <string>{-7,14}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{217,208},{64,68}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6001354.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{64,156}}</string>
                <key>offset</key>
                <string>{0,58}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{224,120},{64,156}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6001355.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,156},{66,152}}</string>
                <key>offset</key>
                <string>{-1,56}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{222,124},{66,152}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6001511.png</key>
            <dict>
                <key>frame</key>
                <string>{{444,128},{68,124}}</string>
                <key>offset</key>
                <string>{-7,49}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{215,145},{68,124}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6001512.png</key>
            <dict>
                <key>frame</key>
                <string>{{788,0},{104,66}}</string>
                <key>offset</key>
                <string>{29,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{233,219},{104,66}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6001521.png</key>
            <dict>
                <key>frame</key>
                <string>{{104,298},{66,134}}</string>
                <key>offset</key>
                <string>{-11,50}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{212,139},{66,134}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6001522.png</key>
            <dict>
                <key>frame</key>
                <string>{{64,0},{150,46}}</string>
                <key>offset</key>
                <string>{36,19}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{217,214},{150,46}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6001531.png</key>
            <dict>
                <key>frame</key>
                <string>{{170,276},{80,130}}</string>
                <key>offset</key>
                <string>{-11,50}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{205,141},{80,130}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6001532.png</key>
            <dict>
                <key>frame</key>
                <string>{{364,128},{126,80}}</string>
                <key>offset</key>
                <string>{13,34}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{206,182},{126,80}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6001541.png</key>
            <dict>
                <key>frame</key>
                <string>{{146,432},{84,130}}</string>
                <key>offset</key>
                <string>{-5,44}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{209,147},{84,130}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6001542.png</key>
            <dict>
                <key>frame</key>
                <string>{{512,610},{76,108}}</string>
                <key>offset</key>
                <string>{-18,34}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{200,168},{76,108}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6001551.png</key>
            <dict>
                <key>frame</key>
                <string>{{382,660},{66,122}}</string>
                <key>offset</key>
                <string>{6,45}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{229,150},{66,122}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6001552.png</key>
            <dict>
                <key>frame</key>
                <string>{{620,824},{104,98}}</string>
                <key>offset</key>
                <string>{-29,27}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{175,180},{104,98}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>6001.pvr.ccz</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:1f0fd49ffaaf14789ee53265a9335bf1:1/1$</string>
            <key>textureFileName</key>
            <string>6001.pvr.ccz</string>
        </dict>
    </dict>
</plist>
