<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>7535111.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{342,374}}</string>
                <key>offset</key>
                <string>{13,113}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{202,60},{342,374}}</string>
                <key>sourceSize</key>
                <string>{720,720}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>7535.pvr.ccz</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:85e43d73a0c28447fc67c98997d56b10:1/1$</string>
            <key>textureFileName</key>
            <string>7535.pvr.ccz</string>
        </dict>
    </dict>
</plist>
