<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>91041.png</key>
            <dict>
                <key>frame</key>
                <string>{{642,2},{158,116}}</string>
                <key>offset</key>
                <string>{2,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{283,310},{158,116}}</string>
                <key>sourceSize</key>
                <string>{720,720}</string>
            </dict>
            <key>91042.png</key>
            <dict>
                <key>frame</key>
                <string>{{962,2},{158,114}}</string>
                <key>offset</key>
                <string>{2,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{283,312},{158,114}}</string>
                <key>sourceSize</key>
                <string>{720,720}</string>
            </dict>
            <key>91043.png</key>
            <dict>
                <key>frame</key>
                <string>{{162,2},{158,118}}</string>
                <key>offset</key>
                <string>{2,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{283,311},{158,118}}</string>
                <key>sourceSize</key>
                <string>{720,720}</string>
            </dict>
            <key>91044.png</key>
            <dict>
                <key>frame</key>
                <string>{{482,2},{158,116}}</string>
                <key>offset</key>
                <string>{2,-12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{283,314},{158,116}}</string>
                <key>sourceSize</key>
                <string>{720,720}</string>
            </dict>
            <key>91045.png</key>
            <dict>
                <key>frame</key>
                <string>{{322,2},{158,116}}</string>
                <key>offset</key>
                <string>{2,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{283,309},{158,116}}</string>
                <key>sourceSize</key>
                <string>{720,720}</string>
            </dict>
            <key>91046.png</key>
            <dict>
                <key>frame</key>
                <string>{{1122,2},{158,110}}</string>
                <key>offset</key>
                <string>{2,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{283,315},{158,110}}</string>
                <key>sourceSize</key>
                <string>{720,720}</string>
            </dict>
            <key>91047.png</key>
            <dict>
                <key>frame</key>
                <string>{{802,2},{158,114}}</string>
                <key>offset</key>
                <string>{2,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{283,312},{158,114}}</string>
                <key>sourceSize</key>
                <string>{720,720}</string>
            </dict>
            <key>91048.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{158,118}}</string>
                <key>offset</key>
                <string>{2,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{283,308},{158,118}}</string>
                <key>sourceSize</key>
                <string>{720,720}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>9104.pvr.ccz</string>
            <key>size</key>
            <string>{1282,122}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:a8f4fea7c34ceac1ae12420f4d5a4a96:1/1$</string>
            <key>textureFileName</key>
            <string>9104.pvr.ccz</string>
        </dict>
    </dict>
</plist>
