<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>sevenDayEffect1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1206,244},{299,240}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{299,240}}</string>
                <key>sourceSize</key>
                <string>{299,240}</string>
            </dict>
            <key>sevenDayEffect10.png</key>
            <dict>
                <key>frame</key>
                <string>{{905,234},{299,240}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{299,240}}</string>
                <key>sourceSize</key>
                <string>{299,240}</string>
            </dict>
            <key>sevenDayEffect2.png</key>
            <dict>
                <key>frame</key>
                <string>{{905,2},{299,230}}</string>
                <key>offset</key>
                <string>{0,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,10},{299,230}}</string>
                <key>sourceSize</key>
                <string>{299,240}</string>
            </dict>
            <key>sevenDayEffect3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{299,228}}</string>
                <key>offset</key>
                <string>{0,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,12},{299,228}}</string>
                <key>sourceSize</key>
                <string>{299,240}</string>
            </dict>
            <key>sevenDayEffect4.png</key>
            <dict>
                <key>frame</key>
                <string>{{604,2},{299,230}}</string>
                <key>offset</key>
                <string>{0,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,10},{299,230}}</string>
                <key>sourceSize</key>
                <string>{299,240}</string>
            </dict>
            <key>sevenDayEffect5.png</key>
            <dict>
                <key>frame</key>
                <string>{{303,2},{299,230}}</string>
                <key>offset</key>
                <string>{0,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,10},{299,230}}</string>
                <key>sourceSize</key>
                <string>{299,240}</string>
            </dict>
            <key>sevenDayEffect6.png</key>
            <dict>
                <key>frame</key>
                <string>{{604,234},{299,240}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{299,240}}</string>
                <key>sourceSize</key>
                <string>{299,240}</string>
            </dict>
            <key>sevenDayEffect7.png</key>
            <dict>
                <key>frame</key>
                <string>{{303,234},{299,240}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{299,240}}</string>
                <key>sourceSize</key>
                <string>{299,240}</string>
            </dict>
            <key>sevenDayEffect8.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,232},{299,240}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{299,240}}</string>
                <key>sourceSize</key>
                <string>{299,240}</string>
            </dict>
            <key>sevenDayEffect9.png</key>
            <dict>
                <key>frame</key>
                <string>{{1206,2},{299,240}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{299,240}}</string>
                <key>sourceSize</key>
                <string>{299,240}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>sevenDayEffect.pvr.ccz</string>
            <key>size</key>
            <string>{1507,486}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:ce81114746976d655171bff70d609037:1/1$</string>
            <key>textureFileName</key>
            <string>sevenDayEffect.pvr.ccz</string>
        </dict>
    </dict>
</plist>
