<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>6011111.png</key>
            <dict>
                <key>frame</key>
                <string>{{594,1192},{108,184}}</string>
                <key>offset</key>
                <string>{0,53}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{202,111},{108,184}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6011112.png</key>
            <dict>
                <key>frame</key>
                <string>{{950,1058},{108,192}}</string>
                <key>offset</key>
                <string>{1,58}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{203,102},{108,192}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6011113.png</key>
            <dict>
                <key>frame</key>
                <string>{{1386,1048},{106,178}}</string>
                <key>offset</key>
                <string>{2,49}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{205,118},{106,178}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6011121.png</key>
            <dict>
                <key>frame</key>
                <string>{{728,724},{212,148}}</string>
                <key>offset</key>
                <string>{-20,44}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{130,138},{212,148}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6011122.png</key>
            <dict>
                <key>frame</key>
                <string>{{1318,474},{220,146}}</string>
                <key>offset</key>
                <string>{-22,45}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{124,138},{220,146}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6011123.png</key>
            <dict>
                <key>frame</key>
                <string>{{434,924},{204,144}}</string>
                <key>offset</key>
                <string>{-15,41}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{139,143},{204,144}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6011131.png</key>
            <dict>
                <key>frame</key>
                <string>{{882,126},{284,138}}</string>
                <key>offset</key>
                <string>{-47,48}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{67,139},{284,138}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6011132.png</key>
            <dict>
                <key>frame</key>
                <string>{{1166,136},{274,136}}</string>
                <key>offset</key>
                <string>{-46,47}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{73,141},{274,136}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6011133.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,262},{278,136}}</string>
                <key>offset</key>
                <string>{-46,47}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{71,141},{278,136}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6011141.png</key>
            <dict>
                <key>frame</key>
                <string>{{782,556},{232,168}}</string>
                <key>offset</key>
                <string>{-30,23}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{110,149},{232,168}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6011142.png</key>
            <dict>
                <key>frame</key>
                <string>{{1014,716},{212,164}}</string>
                <key>offset</key>
                <string>{-21,23}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{129,151},{212,164}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6011143.png</key>
            <dict>
                <key>frame</key>
                <string>{{1086,438},{232,168}}</string>
                <key>offset</key>
                <string>{-32,22}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{108,150},{232,168}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6011151.png</key>
            <dict>
                <key>frame</key>
                <string>{{1648,784},{108,204}}</string>
                <key>offset</key>
                <string>{0,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{202,150},{108,204}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6011152.png</key>
            <dict>
                <key>frame</key>
                <string>{{400,1178},{108,194}}</string>
                <key>offset</key>
                <string>{-2,8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{200,151},{108,194}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6011153.png</key>
            <dict>
                <key>frame</key>
                <string>{{672,872},{106,206}}</string>
                <key>offset</key>
                <string>{-2,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{201,151},{106,206}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6011211.png</key>
            <dict>
                <key>frame</key>
                <string>{{1014,606},{110,220}}</string>
                <key>offset</key>
                <string>{-5,47}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{196,99},{110,220}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6011212.png</key>
            <dict>
                <key>frame</key>
                <string>{{638,978},{104,202}}</string>
                <key>offset</key>
                <string>{-2,48}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{202,107},{104,202}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6011213.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,962},{112,212}}</string>
                <key>offset</key>
                <string>{-1,46}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{199,104},{112,212}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6011214.png</key>
            <dict>
                <key>frame</key>
                <string>{{1226,782},{108,212}}</string>
                <key>offset</key>
                <string>{-4,50}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{198,100},{108,212}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6011215.png</key>
            <dict>
                <key>frame</key>
                <string>{{416,1068},{110,200}}</string>
                <key>offset</key>
                <string>{-8,45}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{193,111},{110,200}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6011221.png</key>
            <dict>
                <key>frame</key>
                <string>{{496,630},{232,166}}</string>
                <key>offset</key>
                <string>{-28,37}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{112,136},{232,166}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6011222.png</key>
            <dict>
                <key>frame</key>
                <string>{{1234,620},{216,162}}</string>
                <key>offset</key>
                <string>{-12,42}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{136,133},{216,162}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6011223.png</key>
            <dict>
                <key>frame</key>
                <string>{{1620,438},{220,176}}</string>
                <key>offset</key>
                <string>{-12,37}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{134,131},{220,176}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6011224.png</key>
            <dict>
                <key>frame</key>
                <string>{{846,394},{240,162}}</string>
                <key>offset</key>
                <string>{-29,32}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{107,143},{240,162}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6011225.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,672},{238,156}}</string>
                <key>offset</key>
                <string>{-34,30}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{103,148},{238,156}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6011231.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,128},{294,134}}</string>
                <key>offset</key>
                <string>{-37,45}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{72,144},{294,134}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6011232.png</key>
            <dict>
                <key>frame</key>
                <string>{{296,0},{294,134}}</string>
                <key>offset</key>
                <string>{-40,48}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{69,141},{294,134}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6011233.png</key>
            <dict>
                <key>frame</key>
                <string>{{882,0},{290,126}}</string>
                <key>offset</key>
                <string>{-36,44}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{75,149},{290,126}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6011234.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{296,128}}</string>
                <key>offset</key>
                <string>{-39,45}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{69,147},{296,128}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6011235.png</key>
            <dict>
                <key>frame</key>
                <string>{{294,260},{282,134}}</string>
                <key>offset</key>
                <string>{-34,43}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{81,146},{282,134}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6011241.png</key>
            <dict>
                <key>frame</key>
                <string>{{238,700},{222,166}}</string>
                <key>offset</key>
                <string>{-11,28}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{134,145},{222,166}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6011242.png</key>
            <dict>
                <key>frame</key>
                <string>{{258,536},{238,164}}</string>
                <key>offset</key>
                <string>{-27,32}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{110,142},{238,164}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6011243.png</key>
            <dict>
                <key>frame</key>
                <string>{{1386,326},{234,148}}</string>
                <key>offset</key>
                <string>{-25,32}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{114,150},{234,148}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6011244.png</key>
            <dict>
                <key>frame</key>
                <string>{{1538,614},{218,170}}</string>
                <key>offset</key>
                <string>{-11,23}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{136,148},{218,170}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6011245.png</key>
            <dict>
                <key>frame</key>
                <string>{{990,880},{204,178}}</string>
                <key>offset</key>
                <string>{3,20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{157,147},{204,178}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6011251.png</key>
            <dict>
                <key>frame</key>
                <string>{{616,1082},{110,196}}</string>
                <key>offset</key>
                <string>{5,17}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{206,141},{110,196}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6011252.png</key>
            <dict>
                <key>frame</key>
                <string>{{1438,784},{104,210}}</string>
                <key>offset</key>
                <string>{1,12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{205,139},{104,210}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6011253.png</key>
            <dict>
                <key>frame</key>
                <string>{{1644,988},{112,196}}</string>
                <key>offset</key>
                <string>{1,15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{201,143},{112,196}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6011254.png</key>
            <dict>
                <key>frame</key>
                <string>{{212,978},{106,204}}</string>
                <key>offset</key>
                <string>{3,14}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{206,140},{106,204}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6011255.png</key>
            <dict>
                <key>frame</key>
                <string>{{840,1022},{110,198}}</string>
                <key>offset</key>
                <string>{8,17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{209,140},{110,198}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6011311.png</key>
            <dict>
                <key>frame</key>
                <string>{{1926,424},{116,200}}</string>
                <key>offset</key>
                <string>{-4,46}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{194,110},{116,200}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6011312.png</key>
            <dict>
                <key>frame</key>
                <string>{{1756,790},{114,164}}</string>
                <key>offset</key>
                <string>{2,45}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{201,129},{114,164}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6011313.png</key>
            <dict>
                <key>frame</key>
                <string>{{878,872},{112,150}}</string>
                <key>offset</key>
                <string>{1,37}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{201,144},{112,150}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6011314.png</key>
            <dict>
                <key>frame</key>
                <string>{{1906,1190},{114,186}}</string>
                <key>offset</key>
                <string>{-1,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{198,168},{114,186}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6011315.png</key>
            <dict>
                <key>frame</key>
                <string>{{1910,998},{116,192}}</string>
                <key>offset</key>
                <string>{1,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{199,153},{116,192}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6011321.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,528},{258,144}}</string>
                <key>offset</key>
                <string>{-51,28}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{76,156},{258,144}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6011322.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,828},{222,134}}</string>
                <key>offset</key>
                <string>{3,50}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{148,139},{222,134}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6011323.png</key>
            <dict>
                <key>frame</key>
                <string>{{460,796},{212,128}}</string>
                <key>offset</key>
                <string>{17,47}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{167,145},{212,128}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6011324.png</key>
            <dict>
                <key>frame</key>
                <string>{{1438,888},{206,160}}</string>
                <key>offset</key>
                <string>{29,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{182,177},{206,160}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6011325.png</key>
            <dict>
                <key>frame</key>
                <string>{{1756,614},{170,176}}</string>
                <key>offset</key>
                <string>{35,12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{206,156},{170,176}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6011331.png</key>
            <dict>
                <key>frame</key>
                <string>{{1172,0},{286,136}}</string>
                <key>offset</key>
                <string>{-58,35}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{55,153},{286,136}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6011332.png</key>
            <dict>
                <key>frame</key>
                <string>{{590,0},{292,168}}</string>
                <key>offset</key>
                <string>{-6,58}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{104,114},{292,168}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6011333.png</key>
            <dict>
                <key>frame</key>
                <string>{{1458,0},{274,186}}</string>
                <key>offset</key>
                <string>{1,68}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{120,95},{274,186}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6011334.png</key>
            <dict>
                <key>frame</key>
                <string>{{294,134},{290,126}}</string>
                <key>offset</key>
                <string>{17,34}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{128,159},{290,126}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6011335.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,398},{262,130}}</string>
                <key>offset</key>
                <string>{13,34}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{138,157},{262,130}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6011341.png</key>
            <dict>
                <key>frame</key>
                <string>{{202,1084},{188,198}}</string>
                <key>offset</key>
                <string>{-14,-9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{148,166},{188,198}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6011342.png</key>
            <dict>
                <key>frame</key>
                <string>{{1690,220},{236,218}}</string>
                <key>offset</key>
                <string>{9,67}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{147,80},{236,218}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6011343.png</key>
            <dict>
                <key>frame</key>
                <string>{{544,408},{222,238}}</string>
                <key>offset</key>
                <string>{7,85}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{152,52},{222,238}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6011344.png</key>
            <dict>
                <key>frame</key>
                <string>{{1140,272},{246,166}}</string>
                <key>offset</key>
                <string>{14,39}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{147,134},{246,166}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6011345.png</key>
            <dict>
                <key>frame</key>
                <string>{{1440,186},{250,140}}</string>
                <key>offset</key>
                <string>{1,45}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{132,141},{250,140}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6011351.png</key>
            <dict>
                <key>frame</key>
                <string>{{1926,220},{116,204}}</string>
                <key>offset</key>
                <string>{3,-19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{201,173},{116,204}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6011352.png</key>
            <dict>
                <key>frame</key>
                <string>{{1732,0},{112,256}}</string>
                <key>offset</key>
                <string>{-3,58}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{197,70},{112,256}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6011353.png</key>
            <dict>
                <key>frame</key>
                <string>{{584,168},{110,284}}</string>
                <key>offset</key>
                <string>{-1,78}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{200,36},{110,284}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6011354.png</key>
            <dict>
                <key>frame</key>
                <string>{{222,866},{112,212}}</string>
                <key>offset</key>
                <string>{0,27}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{200,123},{112,212}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6011355.png</key>
            <dict>
                <key>frame</key>
                <string>{{1926,624},{116,196}}</string>
                <key>offset</key>
                <string>{-2,26}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{196,132},{116,196}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6011511.png</key>
            <dict>
                <key>frame</key>
                <string>{{1142,1070},{108,174}}</string>
                <key>offset</key>
                <string>{3,86}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{205,83},{108,174}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6011512.png</key>
            <dict>
                <key>frame</key>
                <string>{{576,278},{270,130}}</string>
                <key>offset</key>
                <string>{8,69}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{129,122},{270,130}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6011521.png</key>
            <dict>
                <key>frame</key>
                <string>{{1920,820},{126,178}}</string>
                <key>offset</key>
                <string>{-33,77}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{160,90},{126,178}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6011522.png</key>
            <dict>
                <key>frame</key>
                <string>{{278,394},{266,142}}</string>
                <key>offset</key>
                <string>{-47,70}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{76,115},{266,142}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6011531.png</key>
            <dict>
                <key>frame</key>
                <string>{{1194,890},{192,180}}</string>
                <key>offset</key>
                <string>{-77,68}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{83,98},{192,180}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6011532.png</key>
            <dict>
                <key>frame</key>
                <string>{{1756,1094},{150,182}}</string>
                <key>offset</key>
                <string>{-63,23}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{118,142},{150,182}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6011541.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,1074},{198,202}}</string>
                <key>offset</key>
                <string>{-63,55}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{94,100},{198,202}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6011542.png</key>
            <dict>
                <key>frame</key>
                <string>{{1756,904},{154,190}}</string>
                <key>offset</key>
                <string>{-72,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{107,168},{154,190}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6011551.png</key>
            <dict>
                <key>frame</key>
                <string>{{1732,112},{108,252}}</string>
                <key>offset</key>
                <string>{-4,31}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{198,99},{108,252}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6011552.png</key>
            <dict>
                <key>frame</key>
                <string>{{868,264},{272,130}}</string>
                <key>offset</key>
                <string>{-8,-19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{112,210},{272,130}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>6011.pvr.ccz</string>
            <key>size</key>
            <string>{2048,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:7efc91735d077fbe542ddea08d6daa68:1/1$</string>
            <key>textureFileName</key>
            <string>6011.pvr.ccz</string>
        </dict>
    </dict>
</plist>
