<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>9205111.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,1662},{158,264}}</string>
                <key>offset</key>
                <string>{-1,57}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{176,67},{158,264}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>9205112.png</key>
            <dict>
                <key>frame</key>
                <string>{{1498,1102},{156,264}}</string>
                <key>offset</key>
                <string>{0,58}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{178,66},{156,264}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>9205113.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,1508},{154,270}}</string>
                <key>offset</key>
                <string>{1,61}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{180,60},{154,270}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>9205114.png</key>
            <dict>
                <key>frame</key>
                <string>{{294,1482},{154,270}}</string>
                <key>offset</key>
                <string>{0,61}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{179,60},{154,270}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>9205121.png</key>
            <dict>
                <key>frame</key>
                <string>{{598,1104},{294,256}}</string>
                <key>offset</key>
                <string>{19,60}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{128,68},{294,256}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>9205122.png</key>
            <dict>
                <key>frame</key>
                <string>{{910,890},{294,256}}</string>
                <key>offset</key>
                <string>{19,60}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{128,68},{294,256}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>9205123.png</key>
            <dict>
                <key>frame</key>
                <string>{{1614,596},{298,262}}</string>
                <key>offset</key>
                <string>{19,63}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{126,62},{298,262}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>9205124.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,1000},{298,262}}</string>
                <key>offset</key>
                <string>{18,63}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{125,62},{298,262}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>9205131.png</key>
            <dict>
                <key>frame</key>
                <string>{{1676,0},{318,218}}</string>
                <key>offset</key>
                <string>{45,77}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{142,70},{318,218}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>9205132.png</key>
            <dict>
                <key>frame</key>
                <string>{{1358,0},{318,220}}</string>
                <key>offset</key>
                <string>{45,78}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{142,68},{318,220}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>9205133.png</key>
            <dict>
                <key>frame</key>
                <string>{{1676,218},{316,226}}</string>
                <key>offset</key>
                <string>{44,81}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{142,62},{316,226}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>9205134.png</key>
            <dict>
                <key>frame</key>
                <string>{{690,232},{318,226}}</string>
                <key>offset</key>
                <string>{45,81}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{142,62},{318,226}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>9205141.png</key>
            <dict>
                <key>frame</key>
                <string>{{1600,858},{294,244}}</string>
                <key>offset</key>
                <string>{20,83}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{129,51},{294,244}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>9205142.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,1262},{294,246}}</string>
                <key>offset</key>
                <string>{21,84}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{130,49},{294,246}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>9205143.png</key>
            <dict>
                <key>frame</key>
                <string>{{892,1146},{292,234}}</string>
                <key>offset</key>
                <string>{21,78}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{131,61},{292,234}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>9205144.png</key>
            <dict>
                <key>frame</key>
                <string>{{298,1236},{294,246}}</string>
                <key>offset</key>
                <string>{21,84}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{130,49},{294,246}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>9205151.png</key>
            <dict>
                <key>frame</key>
                <string>{{1184,1178},{152,264}}</string>
                <key>offset</key>
                <string>{0,96}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{180,28},{152,264}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>9205152.png</key>
            <dict>
                <key>frame</key>
                <string>{{1448,1258},{150,264}}</string>
                <key>offset</key>
                <string>{0,96}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{181,28},{150,264}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>9205153.png</key>
            <dict>
                <key>frame</key>
                <string>{{158,1662},{156,264}}</string>
                <key>offset</key>
                <string>{0,96}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{178,28},{156,264}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>9205154.png</key>
            <dict>
                <key>frame</key>
                <string>{{1762,1134},{154,264}}</string>
                <key>offset</key>
                <string>{0,96}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{179,28},{154,264}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>9205211.png</key>
            <dict>
                <key>frame</key>
                <string>{{564,1518},{148,262}}</string>
                <key>offset</key>
                <string>{1,46}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{183,79},{148,262}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>9205212.png</key>
            <dict>
                <key>frame</key>
                <string>{{868,1380},{150,262}}</string>
                <key>offset</key>
                <string>{0,43}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{181,82},{150,262}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>9205213.png</key>
            <dict>
                <key>frame</key>
                <string>{{314,1636},{150,250}}</string>
                <key>offset</key>
                <string>{1,45}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{182,86},{150,250}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>9205214.png</key>
            <dict>
                <key>frame</key>
                <string>{{464,1786},{150,238}}</string>
                <key>offset</key>
                <string>{0,45}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{181,92},{150,238}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>9205215.png</key>
            <dict>
                <key>frame</key>
                <string>{{314,1786},{150,256}}</string>
                <key>offset</key>
                <string>{1,45}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{182,83},{150,256}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>9205216.png</key>
            <dict>
                <key>frame</key>
                <string>{{1184,1330},{152,262}}</string>
                <key>offset</key>
                <string>{0,42}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{180,83},{152,262}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>9205221.png</key>
            <dict>
                <key>frame</key>
                <string>{{610,850},{300,254}}</string>
                <key>offset</key>
                <string>{18,51}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{124,78},{300,254}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>9205222.png</key>
            <dict>
                <key>frame</key>
                <string>{{1008,240},{310,250}}</string>
                <key>offset</key>
                <string>{9,53}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{110,78},{310,250}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>9205223.png</key>
            <dict>
                <key>frame</key>
                <string>{{690,458},{310,242}}</string>
                <key>offset</key>
                <string>{8,54}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{109,81},{310,242}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>9205224.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,486},{308,236}}</string>
                <key>offset</key>
                <string>{11,55}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{113,83},{308,236}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>9205225.png</key>
            <dict>
                <key>frame</key>
                <string>{{308,718},{302,256}}</string>
                <key>offset</key>
                <string>{17,49}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{122,79},{302,256}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>9205226.png</key>
            <dict>
                <key>frame</key>
                <string>{{300,974},{298,262}}</string>
                <key>offset</key>
                <string>{19,49}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{126,76},{298,262}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>9205231.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,246},{326,240}}</string>
                <key>offset</key>
                <string>{42,81}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{135,55},{326,240}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>9205232.png</key>
            <dict>
                <key>frame</key>
                <string>{{352,230},{338,238}}</string>
                <key>offset</key>
                <string>{33,80}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{120,57},{338,238}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>9205233.png</key>
            <dict>
                <key>frame</key>
                <string>{{694,0},{340,232}}</string>
                <key>offset</key>
                <string>{30,71}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{116,69},{340,232}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>9205234.png</key>
            <dict>
                <key>frame</key>
                <string>{{352,0},{342,230}}</string>
                <key>offset</key>
                <string>{31,66}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{116,75},{342,230}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>9205235.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{352,246}}</string>
                <key>offset</key>
                <string>{27,74}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{107,59},{352,246}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>9205236.png</key>
            <dict>
                <key>frame</key>
                <string>{{1034,0},{324,240}}</string>
                <key>offset</key>
                <string>{40,75}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{134,61},{324,240}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>9205241.png</key>
            <dict>
                <key>frame</key>
                <string>{{1000,646},{304,244}}</string>
                <key>offset</key>
                <string>{17,86}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{121,48},{304,244}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>9205242.png</key>
            <dict>
                <key>frame</key>
                <string>{{326,468},{308,250}}</string>
                <key>offset</key>
                <string>{14,83}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{116,48},{308,250}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>9205243.png</key>
            <dict>
                <key>frame</key>
                <string>{{1358,220},{310,276}}</string>
                <key>offset</key>
                <string>{9,69}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{110,49},{310,276}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>9205244.png</key>
            <dict>
                <key>frame</key>
                <string>{{1310,496},{304,278}}</string>
                <key>offset</key>
                <string>{14,67}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{118,50},{304,278}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>9205245.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,722},{300,278}}</string>
                <key>offset</key>
                <string>{17,77}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{123,40},{300,278}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>9205246.png</key>
            <dict>
                <key>frame</key>
                <string>{{1304,774},{296,256}}</string>
                <key>offset</key>
                <string>{19,79}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{127,49},{296,256}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>9205251.png</key>
            <dict>
                <key>frame</key>
                <string>{{592,1360},{158,276}}</string>
                <key>offset</key>
                <string>{2,88}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{179,30},{158,276}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>9205252.png</key>
            <dict>
                <key>frame</key>
                <string>{{1894,858},{154,276}}</string>
                <key>offset</key>
                <string>{1,90}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{180,28},{154,276}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>9205253.png</key>
            <dict>
                <key>frame</key>
                <string>{{1204,1030},{148,294}}</string>
                <key>offset</key>
                <string>{0,79}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{182,30},{148,294}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>9205254.png</key>
            <dict>
                <key>frame</key>
                <string>{{1668,444},{152,306}}</string>
                <key>offset</key>
                <string>{0,74}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{180,29},{152,306}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>9205255.png</key>
            <dict>
                <key>frame</key>
                <string>{{1000,490},{156,310}}</string>
                <key>offset</key>
                <string>{2,75}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{180,26},{156,310}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>9205256.png</key>
            <dict>
                <key>frame</key>
                <string>{{634,700},{150,304}}</string>
                <key>offset</key>
                <string>{0,78}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{181,26},{150,304}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>9205.pvr.ccz</string>
            <key>size</key>
            <string>{2048,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:9477b98ef4853735a0ae349448236138:1/1$</string>
            <key>textureFileName</key>
            <string>9205.pvr.ccz</string>
        </dict>
    </dict>
</plist>
