<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>6511111.png</key>
            <dict>
                <key>frame</key>
                <string>{{768,924},{192,144}}</string>
                <key>offset</key>
                <string>{26,41}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{186,143},{192,144}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6511112.png</key>
            <dict>
                <key>frame</key>
                <string>{{576,796},{192,146}}</string>
                <key>offset</key>
                <string>{25,42}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{185,141},{192,146}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6511113.png</key>
            <dict>
                <key>frame</key>
                <string>{{576,942},{192,142}}</string>
                <key>offset</key>
                <string>{26,40}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{186,145},{192,142}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6511121.png</key>
            <dict>
                <key>frame</key>
                <string>{{512,1380},{160,146}}</string>
                <key>offset</key>
                <string>{29,63}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{205,120},{160,146}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6511122.png</key>
            <dict>
                <key>frame</key>
                <string>{{338,1496},{160,144}}</string>
                <key>offset</key>
                <string>{30,62}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{206,122},{160,144}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6511123.png</key>
            <dict>
                <key>frame</key>
                <string>{{692,1298},{162,146}}</string>
                <key>offset</key>
                <string>{30,62}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{205,121},{162,146}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6511131.png</key>
            <dict>
                <key>frame</key>
                <string>{{576,518},{122,198}}</string>
                <key>offset</key>
                <string>{-13,73}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{182,84},{122,198}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6511132.png</key>
            <dict>
                <key>frame</key>
                <string>{{774,506},{122,198}}</string>
                <key>offset</key>
                <string>{-13,73}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{182,84},{122,198}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6511133.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,612},{124,198}}</string>
                <key>offset</key>
                <string>{-14,73}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{180,84},{124,198}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6511141.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,736},{140,196}}</string>
                <key>offset</key>
                <string>{5,66}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{191,92},{140,196}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6511142.png</key>
            <dict>
                <key>frame</key>
                <string>{{198,674},{140,196}}</string>
                <key>offset</key>
                <string>{6,66}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{192,92},{140,196}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6511143.png</key>
            <dict>
                <key>frame</key>
                <string>{{776,362},{144,198}}</string>
                <key>offset</key>
                <string>{5,67}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{189,90},{144,198}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6511151.png</key>
            <dict>
                <key>frame</key>
                <string>{{770,756},{192,168}}</string>
                <key>offset</key>
                <string>{-26,39}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{134,133},{192,168}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6511152.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,876},{192,168}}</string>
                <key>offset</key>
                <string>{-26,38}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{134,134},{192,168}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6511153.png</key>
            <dict>
                <key>frame</key>
                <string>{{196,814},{192,170}}</string>
                <key>offset</key>
                <string>{-26,38}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{134,133},{192,170}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6511211.png</key>
            <dict>
                <key>frame</key>
                <string>{{178,1124},{174,130}}</string>
                <key>offset</key>
                <string>{-26,47}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{143,144},{174,130}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6511212.png</key>
            <dict>
                <key>frame</key>
                <string>{{172,1420},{166,120}}</string>
                <key>offset</key>
                <string>{-17,47}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{156,149},{166,120}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6511213.png</key>
            <dict>
                <key>frame</key>
                <string>{{346,1368},{166,128}}</string>
                <key>offset</key>
                <string>{-14,49}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{159,143},{166,128}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6511214.png</key>
            <dict>
                <key>frame</key>
                <string>{{524,1252},{168,128}}</string>
                <key>offset</key>
                <string>{-19,41}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{153,151},{168,128}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6511215.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,1208},{174,114}}</string>
                <key>offset</key>
                <string>{-25,52}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{144,147},{174,114}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6511221.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,1604},{152,122}}</string>
                <key>offset</key>
                <string>{2,53}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{182,142},{152,122}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6511222.png</key>
            <dict>
                <key>frame</key>
                <string>{{152,1680},{150,112}}</string>
                <key>offset</key>
                <string>{5,52}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{186,148},{150,112}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6511223.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,1872},{148,132}}</string>
                <key>offset</key>
                <string>{6,49}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{188,141},{148,132}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6511224.png</key>
            <dict>
                <key>frame</key>
                <string>{{394,1896},{136,130}}</string>
                <key>offset</key>
                <string>{9,41}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{197,150},{136,130}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6511225.png</key>
            <dict>
                <key>frame</key>
                <string>{{824,1462},{142,120}}</string>
                <key>offset</key>
                <string>{4,48}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{189,148},{142,120}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6511231.png</key>
            <dict>
                <key>frame</key>
                <string>{{302,1770},{138,126}}</string>
                <key>offset</key>
                <string>{-16,51}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{171,142},{138,126}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6511232.png</key>
            <dict>
                <key>frame</key>
                <string>{{638,1896},{134,110}}</string>
                <key>offset</key>
                <string>{-17,53}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{172,148},{134,110}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6511233.png</key>
            <dict>
                <key>frame</key>
                <string>{{440,1772},{136,124}}</string>
                <key>offset</key>
                <string>{-21,54}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{167,140},{136,124}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6511234.png</key>
            <dict>
                <key>frame</key>
                <string>{{692,1672},{132,120}}</string>
                <key>offset</key>
                <string>{-19,46}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{171,150},{132,120}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6511235.png</key>
            <dict>
                <key>frame</key>
                <string>{{272,1896},{138,122}}</string>
                <key>offset</key>
                <string>{-21,47}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{166,148},{138,122}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6511241.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,1726},{146,148}}</string>
                <key>offset</key>
                <string>{13,45}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{196,137},{146,148}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6511242.png</key>
            <dict>
                <key>frame</key>
                <string>{{316,1640},{130,150}}</string>
                <key>offset</key>
                <string>{15,37}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{206,144},{130,150}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6511243.png</key>
            <dict>
                <key>frame</key>
                <string>{{132,1872},{140,146}}</string>
                <key>offset</key>
                <string>{12,47}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{198,136},{140,146}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6511244.png</key>
            <dict>
                <key>frame</key>
                <string>{{164,1540},{152,140}}</string>
                <key>offset</key>
                <string>{12,42}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{192,144},{152,140}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6511245.png</key>
            <dict>
                <key>frame</key>
                <string>{{854,1330},{162,132}}</string>
                <key>offset</key>
                <string>{10,48}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{185,142},{162,132}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6511251.png</key>
            <dict>
                <key>frame</key>
                <string>{{402,624},{174,170}}</string>
                <key>offset</key>
                <string>{25,40}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{194,131},{174,170}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6511252.png</key>
            <dict>
                <key>frame</key>
                <string>{{174,1254},{166,172}}</string>
                <key>offset</key>
                <string>{16,40}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{189,130},{166,172}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6511253.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,1044},{164,178}}</string>
                <key>offset</key>
                <string>{14,50}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{188,117},{164,178}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6511254.png</key>
            <dict>
                <key>frame</key>
                <string>{{570,1084},{168,176}}</string>
                <key>offset</key>
                <string>{19,42}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{191,126},{168,176}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6511255.png</key>
            <dict>
                <key>frame</key>
                <string>{{352,1200},{172,168}}</string>
                <key>offset</key>
                <string>{24,45}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{194,127},{172,168}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6511311.png</key>
            <dict>
                <key>frame</key>
                <string>{{650,1562},{110,140}}</string>
                <key>offset</key>
                <string>{15,40}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{216,146},{110,140}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6511312.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,1322},{144,172}}</string>
                <key>offset</key>
                <string>{-2,56}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{182,114},{144,172}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6511313.png</key>
            <dict>
                <key>frame</key>
                <string>{{768,1068},{104,178}}</string>
                <key>offset</key>
                <string>{12,-21}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{216,188},{104,178}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6511314.png</key>
            <dict>
                <key>frame</key>
                <string>{{916,1172},{108,158}}</string>
                <key>offset</key>
                <string>{14,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{216,182},{108,158}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6511315.png</key>
            <dict>
                <key>frame</key>
                <string>{{524,1896},{114,136}}</string>
                <key>offset</key>
                <string>{17,30}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{216,158},{114,136}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6511321.png</key>
            <dict>
                <key>frame</key>
                <string>{{498,1526},{152,116}}</string>
                <key>offset</key>
                <string>{9,49}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{189,149},{152,116}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6511322.png</key>
            <dict>
                <key>frame</key>
                <string>{{466,1642},{138,130}}</string>
                <key>offset</key>
                <string>{-14,56}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{173,135},{138,130}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6511323.png</key>
            <dict>
                <key>frame</key>
                <string>{{576,100},{242,138}}</string>
                <key>offset</key>
                <string>{58,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{193,180},{242,138}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6511324.png</key>
            <dict>
                <key>frame</key>
                <string>{{450,228},{214,126}}</string>
                <key>offset</key>
                <string>{45,18}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{194,175},{214,126}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6511325.png</key>
            <dict>
                <key>frame</key>
                <string>{{672,1444},{152,118}}</string>
                <key>offset</key>
                <string>{22,39}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{202,158},{152,118}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6511331.png</key>
            <dict>
                <key>frame</key>
                <string>{{820,0},{204,132}}</string>
                <key>offset</key>
                <string>{33,40}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{187,150},{204,132}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6511332.png</key>
            <dict>
                <key>frame</key>
                <string>{{774,628},{196,128}}</string>
                <key>offset</key>
                <string>{-7,40}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{151,152},{196,128}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6511333.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{304,118}}</string>
                <key>offset</key>
                <string>{96,33}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{200,164},{304,118}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6511334.png</key>
            <dict>
                <key>frame</key>
                <string>{{304,0},{272,124}}</string>
                <key>offset</key>
                <string>{81,36}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{201,158},{272,124}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6511335.png</key>
            <dict>
                <key>frame</key>
                <string>{{216,422},{212,128}}</string>
                <key>offset</key>
                <string>{61,39}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{211,153},{212,128}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6511341.png</key>
            <dict>
                <key>frame</key>
                <string>{{394,794},{182,152}}</string>
                <key>offset</key>
                <string>{14,45}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{179,135},{182,152}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6511342.png</key>
            <dict>
                <key>frame</key>
                <string>{{428,442},{182,148}}</string>
                <key>offset</key>
                <string>{22,33}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{187,149},{182,148}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6511343.png</key>
            <dict>
                <key>frame</key>
                <string>{{818,132},{230,206}}</string>
                <key>offset</key>
                <string>{58,63}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{199,90},{230,206}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6511344.png</key>
            <dict>
                <key>frame</key>
                <string>{{226,228},{224,194}}</string>
                <key>offset</key>
                <string>{43,58}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{187,101},{224,194}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6511345.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,328},{216,170}}</string>
                <key>offset</key>
                <string>{29,52}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{177,119},{216,170}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6511351.png</key>
            <dict>
                <key>frame</key>
                <string>{{374,1090},{110,176}}</string>
                <key>offset</key>
                <string>{-15,64}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{186,104},{110,176}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6511352.png</key>
            <dict>
                <key>frame</key>
                <string>{{388,946},{144,182}}</string>
                <key>offset</key>
                <string>{1,56}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{185,109},{144,182}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6511353.png</key>
            <dict>
                <key>frame</key>
                <string>{{266,124},{104,240}}</string>
                <key>offset</key>
                <string>{-12,89}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{192,47},{104,240}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6511354.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,220},{108,226}}</string>
                <key>offset</key>
                <string>{-14,83}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{188,60},{108,226}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6511355.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,498},{114,204}}</string>
                <key>offset</key>
                <string>{-17,77}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{182,77},{114,204}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6511511.png</key>
            <dict>
                <key>frame</key>
                <string>{{204,550},{124,198}}</string>
                <key>offset</key>
                <string>{-6,38}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{188,119},{124,198}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6511512.png</key>
            <dict>
                <key>frame</key>
                <string>{{576,380},{138,198}}</string>
                <key>offset</key>
                <string>{-16,34}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{171,123},{138,198}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6511521.png</key>
            <dict>
                <key>frame</key>
                <string>{{576,640},{156,194}}</string>
                <key>offset</key>
                <string>{-34,30}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{144,129},{156,194}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6511522.png</key>
            <dict>
                <key>frame</key>
                <string>{{192,984},{140,182}}</string>
                <key>offset</key>
                <string>{-44,15}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{142,150},{140,182}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6511531.png</key>
            <dict>
                <key>frame</key>
                <string>{{576,238},{200,142}}</string>
                <key>offset</key>
                <string>{2,35}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{158,150},{200,142}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6511532.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,118},{266,102}}</string>
                <key>offset</key>
                <string>{-26,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{97,205},{266,102}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6511541.png</key>
            <dict>
                <key>frame</key>
                <string>{{746,1172},{170,126}}</string>
                <key>offset</key>
                <string>{26,29}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{197,164},{170,126}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6511542.png</key>
            <dict>
                <key>frame</key>
                <string>{{576,0},{244,100}}</string>
                <key>offset</key>
                <string>{2,-20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{136,226},{244,100}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6511551.png</key>
            <dict>
                <key>frame</key>
                <string>{{576,1772},{124,116}}</string>
                <key>offset</key>
                <string>{6,33}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{200,165},{124,116}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6511552.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,1466},{138,164}}</string>
                <key>offset</key>
                <string>{16,-9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{203,183},{138,164}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>6511.pvr.ccz</string>
            <key>size</key>
            <string>{1024,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:c8c61b340b05bb92cc29df0709edb0a2:1/1$</string>
            <key>textureFileName</key>
            <string>6511.pvr.ccz</string>
        </dict>
    </dict>
</plist>
