<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>7009111.png</key>
            <dict>
                <key>frame</key>
                <string>{{1448,676},{188,202}}</string>
                <key>offset</key>
                <string>{0,86}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{418,325},{188,202}}</string>
                <key>sourceSize</key>
                <string>{1024,1024}</string>
            </dict>
            <key>7009112.png</key>
            <dict>
                <key>frame</key>
                <string>{{1128,1454},{198,202}}</string>
                <key>offset</key>
                <string>{0,86}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{413,325},{198,202}}</string>
                <key>sourceSize</key>
                <string>{1024,1024}</string>
            </dict>
            <key>7009113.png</key>
            <dict>
                <key>frame</key>
                <string>{{1340,926},{188,202}}</string>
                <key>offset</key>
                <string>{0,86}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{418,325},{188,202}}</string>
                <key>sourceSize</key>
                <string>{1024,1024}</string>
            </dict>
            <key>7009121.png</key>
            <dict>
                <key>frame</key>
                <string>{{1086,0},{154,240}}</string>
                <key>offset</key>
                <string>{-13,90}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{422,302},{154,240}}</string>
                <key>sourceSize</key>
                <string>{1024,1024}</string>
            </dict>
            <key>7009122.png</key>
            <dict>
                <key>frame</key>
                <string>{{1028,508},{162,242}}</string>
                <key>offset</key>
                <string>{-12,91}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{419,300},{162,242}}</string>
                <key>sourceSize</key>
                <string>{1024,1024}</string>
            </dict>
            <key>7009123.png</key>
            <dict>
                <key>frame</key>
                <string>{{664,1292},{158,244}}</string>
                <key>offset</key>
                <string>{-15,92}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{418,298},{158,244}}</string>
                <key>sourceSize</key>
                <string>{1024,1024}</string>
            </dict>
            <key>7009131.png</key>
            <dict>
                <key>frame</key>
                <string>{{676,518},{168,258}}</string>
                <key>offset</key>
                <string>{-44,97}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{384,286},{168,258}}</string>
                <key>sourceSize</key>
                <string>{1024,1024}</string>
            </dict>
            <key>7009132.png</key>
            <dict>
                <key>frame</key>
                <string>{{708,776},{164,254}}</string>
                <key>offset</key>
                <string>{-47,95}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{383,290},{164,254}}</string>
                <key>sourceSize</key>
                <string>{1024,1024}</string>
            </dict>
            <key>7009133.png</key>
            <dict>
                <key>frame</key>
                <string>{{620,1038},{164,254}}</string>
                <key>offset</key>
                <string>{-48,95}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{382,290},{164,254}}</string>
                <key>sourceSize</key>
                <string>{1024,1024}</string>
            </dict>
            <key>7009141.png</key>
            <dict>
                <key>frame</key>
                <string>{{276,1122},{154,266}}</string>
                <key>offset</key>
                <string>{-16,89}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{419,290},{154,266}}</string>
                <key>sourceSize</key>
                <string>{1024,1024}</string>
            </dict>
            <key>7009142.png</key>
            <dict>
                <key>frame</key>
                <string>{{268,0},{164,262}}</string>
                <key>offset</key>
                <string>{-12,79}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{418,302},{164,262}}</string>
                <key>sourceSize</key>
                <string>{1024,1024}</string>
            </dict>
            <key>7009143.png</key>
            <dict>
                <key>frame</key>
                <string>{{332,540},{156,262}}</string>
                <key>offset</key>
                <string>{-15,79}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{419,302},{156,262}}</string>
                <key>sourceSize</key>
                <string>{1024,1024}</string>
            </dict>
            <key>7009151.png</key>
            <dict>
                <key>frame</key>
                <string>{{144,590},{188,266}}</string>
                <key>offset</key>
                <string>{0,64}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{418,315},{188,266}}</string>
                <key>sourceSize</key>
                <string>{1024,1024}</string>
            </dict>
            <key>7009152.png</key>
            <dict>
                <key>frame</key>
                <string>{{340,262},{198,260}}</string>
                <key>offset</key>
                <string>{0,55}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{413,327},{198,260}}</string>
                <key>sourceSize</key>
                <string>{1024,1024}</string>
            </dict>
            <key>7009153.png</key>
            <dict>
                <key>frame</key>
                <string>{{538,260},{188,258}}</string>
                <key>offset</key>
                <string>{0,53}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{418,330},{188,258}}</string>
                <key>sourceSize</key>
                <string>{1024,1024}</string>
            </dict>
            <key>7009211.png</key>
            <dict>
                <key>frame</key>
                <string>{{1186,1656},{184,202}}</string>
                <key>offset</key>
                <string>{2,89}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{422,322},{184,202}}</string>
                <key>sourceSize</key>
                <string>{1024,1024}</string>
            </dict>
            <key>7009212.png</key>
            <dict>
                <key>frame</key>
                <string>{{1186,1858},{184,200}}</string>
                <key>offset</key>
                <string>{-2,71}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{418,341},{184,200}}</string>
                <key>sourceSize</key>
                <string>{1024,1024}</string>
            </dict>
            <key>7009213.png</key>
            <dict>
                <key>frame</key>
                <string>{{1372,468},{188,208}}</string>
                <key>offset</key>
                <string>{-4,82}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{414,326},{188,208}}</string>
                <key>sourceSize</key>
                <string>{1024,1024}</string>
            </dict>
            <key>7009214.png</key>
            <dict>
                <key>frame</key>
                <string>{{1160,978},{180,210}}</string>
                <key>offset</key>
                <string>{0,86}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{422,321},{180,210}}</string>
                <key>sourceSize</key>
                <string>{1024,1024}</string>
            </dict>
            <key>7009215.png</key>
            <dict>
                <key>frame</key>
                <string>{{1176,1188},{188,202}}</string>
                <key>offset</key>
                <string>{5,73}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{423,338},{188,202}}</string>
                <key>sourceSize</key>
                <string>{1024,1024}</string>
            </dict>
            <key>7009221.png</key>
            <dict>
                <key>frame</key>
                <string>{{1190,490},{182,228}}</string>
                <key>offset</key>
                <string>{0,92}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{421,306},{182,228}}</string>
                <key>sourceSize</key>
                <string>{1024,1024}</string>
            </dict>
            <key>7009222.png</key>
            <dict>
                <key>frame</key>
                <string>{{982,1242},{194,212}}</string>
                <key>offset</key>
                <string>{2,74}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{417,332},{194,212}}</string>
                <key>sourceSize</key>
                <string>{1024,1024}</string>
            </dict>
            <key>7009223.png</key>
            <dict>
                <key>frame</key>
                <string>{{788,1536},{146,238}}</string>
                <key>offset</key>
                <string>{-8,90}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{431,303},{146,238}}</string>
                <key>sourceSize</key>
                <string>{1024,1024}</string>
            </dict>
            <key>7009224.png</key>
            <dict>
                <key>frame</key>
                <string>{{372,1908},{136,236}}</string>
                <key>offset</key>
                <string>{-3,100}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{441,294},{136,236}}</string>
                <key>sourceSize</key>
                <string>{1024,1024}</string>
            </dict>
            <key>7009225.png</key>
            <dict>
                <key>frame</key>
                <string>{{1400,226},{160,208}}</string>
                <key>offset</key>
                <string>{-4,90}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{428,318},{160,208}}</string>
                <key>sourceSize</key>
                <string>{1024,1024}</string>
            </dict>
            <key>7009231.png</key>
            <dict>
                <key>frame</key>
                <string>{{490,1382},{174,254}}</string>
                <key>offset</key>
                <string>{-30,104}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{395,281},{174,254}}</string>
                <key>sourceSize</key>
                <string>{1024,1024}</string>
            </dict>
            <key>7009232.png</key>
            <dict>
                <key>frame</key>
                <string>{{1382,0},{198,226}}</string>
                <key>offset</key>
                <string>{-23,96}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{390,303},{198,226}}</string>
                <key>sourceSize</key>
                <string>{1024,1024}</string>
            </dict>
            <key>7009233.png</key>
            <dict>
                <key>frame</key>
                <string>{{890,256},{178,252}}</string>
                <key>offset</key>
                <string>{-32,104}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{391,282},{178,252}}</string>
                <key>sourceSize</key>
                <string>{1024,1024}</string>
            </dict>
            <key>7009234.png</key>
            <dict>
                <key>frame</key>
                <string>{{576,0},{184,258}}</string>
                <key>offset</key>
                <string>{-21,108}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{399,275},{184,258}}</string>
                <key>sourceSize</key>
                <string>{1024,1024}</string>
            </dict>
            <key>7009235.png</key>
            <dict>
                <key>frame</key>
                <string>{{902,0},{184,250}}</string>
                <key>offset</key>
                <string>{-28,102}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{392,285},{184,250}}</string>
                <key>sourceSize</key>
                <string>{1024,1024}</string>
            </dict>
            <key>7009241.png</key>
            <dict>
                <key>frame</key>
                <string>{{372,1652},{132,256}}</string>
                <key>offset</key>
                <string>{-10,114}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{436,270},{132,256}}</string>
                <key>sourceSize</key>
                <string>{1024,1024}</string>
            </dict>
            <key>7009242.png</key>
            <dict>
                <key>frame</key>
                <string>{{608,1890},{158,252}}</string>
                <key>offset</key>
                <string>{-3,107}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{430,279},{158,252}}</string>
                <key>sourceSize</key>
                <string>{1024,1024}</string>
            </dict>
            <key>7009243.png</key>
            <dict>
                <key>frame</key>
                <string>{{504,1636},{166,254}}</string>
                <key>offset</key>
                <string>{-9,112}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{420,273},{166,254}}</string>
                <key>sourceSize</key>
                <string>{1024,1024}</string>
            </dict>
            <key>7009244.png</key>
            <dict>
                <key>frame</key>
                <string>{{326,856},{202,264}}</string>
                <key>offset</key>
                <string>{-7,106}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{404,274},{202,264}}</string>
                <key>sourceSize</key>
                <string>{1024,1024}</string>
            </dict>
            <key>7009245.png</key>
            <dict>
                <key>frame</key>
                <string>{{144,856},{182,266}}</string>
                <key>offset</key>
                <string>{-4,107}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{417,272},{182,266}}</string>
                <key>sourceSize</key>
                <string>{1024,1024}</string>
            </dict>
            <key>7009251.png</key>
            <dict>
                <key>frame</key>
                <string>{{306,1388},{184,264}}</string>
                <key>offset</key>
                <string>{-3,101}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{417,279},{184,264}}</string>
                <key>sourceSize</key>
                <string>{1024,1024}</string>
            </dict>
            <key>7009252.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,1694},{184,272}}</string>
                <key>offset</key>
                <string>{2,99}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{422,277},{184,272}}</string>
                <key>sourceSize</key>
                <string>{1024,1024}</string>
            </dict>
            <key>7009253.png</key>
            <dict>
                <key>frame</key>
                <string>{{488,522},{188,258}}</string>
                <key>offset</key>
                <string>{3,102}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{421,281},{188,258}}</string>
                <key>sourceSize</key>
                <string>{1024,1024}</string>
            </dict>
            <key>7009254.png</key>
            <dict>
                <key>frame</key>
                <string>{{528,780},{180,258}}</string>
                <key>offset</key>
                <string>{0,99}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{422,284},{180,258}}</string>
                <key>sourceSize</key>
                <string>{1024,1024}</string>
            </dict>
            <key>7009255.png</key>
            <dict>
                <key>frame</key>
                <string>{{184,1690},{188,268}}</string>
                <key>offset</key>
                <string>{-6,98}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{412,280},{188,268}}</string>
                <key>sourceSize</key>
                <string>{1024,1024}</string>
            </dict>
            <key>7009311.png</key>
            <dict>
                <key>frame</key>
                <string>{{1530,1060},{144,166}}</string>
                <key>offset</key>
                <string>{1,68}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{441,361},{144,166}}</string>
                <key>sourceSize</key>
                <string>{1024,1024}</string>
            </dict>
            <key>7009312.png</key>
            <dict>
                <key>frame</key>
                <string>{{1240,0},{142,228}}</string>
                <key>offset</key>
                <string>{0,99}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{441,299},{142,228}}</string>
                <key>sourceSize</key>
                <string>{1024,1024}</string>
            </dict>
            <key>7009313.png</key>
            <dict>
                <key>frame</key>
                <string>{{176,1418},{130,272}}</string>
                <key>offset</key>
                <string>{1,123}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{448,253},{130,272}}</string>
                <key>sourceSize</key>
                <string>{1024,1024}</string>
            </dict>
            <key>7009314.png</key>
            <dict>
                <key>frame</key>
                <string>{{670,1536},{118,240}}</string>
                <key>offset</key>
                <string>{-1,79}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{452,313},{118,240}}</string>
                <key>sourceSize</key>
                <string>{1024,1024}</string>
            </dict>
            <key>7009315.png</key>
            <dict>
                <key>frame</key>
                <string>{{1386,1766},{134,158}}</string>
                <key>offset</key>
                <string>{-1,25}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{444,408},{134,158}}</string>
                <key>sourceSize</key>
                <string>{1024,1024}</string>
            </dict>
            <key>7009321.png</key>
            <dict>
                <key>frame</key>
                <string>{{1370,1584},{166,182}}</string>
                <key>offset</key>
                <string>{-6,61}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{423,360},{166,182}}</string>
                <key>sourceSize</key>
                <string>{1024,1024}</string>
            </dict>
            <key>7009322.png</key>
            <dict>
                <key>frame</key>
                <string>{{872,768},{162,242}}</string>
                <key>offset</key>
                <string>{-1,91}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{430,300},{162,242}}</string>
                <key>sourceSize</key>
                <string>{1024,1024}</string>
            </dict>
            <key>7009323.png</key>
            <dict>
                <key>frame</key>
                <string>{{132,1144},{144,274}}</string>
                <key>offset</key>
                <string>{-30,113}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{410,262},{144,274}}</string>
                <key>sourceSize</key>
                <string>{1024,1024}</string>
            </dict>
            <key>7009324.png</key>
            <dict>
                <key>frame</key>
                <string>{{432,0},{144,260}}</string>
                <key>offset</key>
                <string>{-6,81}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{434,301},{144,260}}</string>
                <key>sourceSize</key>
                <string>{1024,1024}</string>
            </dict>
            <key>7009325.png</key>
            <dict>
                <key>frame</key>
                <string>{{1528,878},{182,170}}</string>
                <key>offset</key>
                <string>{18,36}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{439,391},{182,170}}</string>
                <key>sourceSize</key>
                <string>{1024,1024}</string>
            </dict>
            <key>7009331.png</key>
            <dict>
                <key>frame</key>
                <string>{{934,1506},{194,216}}</string>
                <key>offset</key>
                <string>{-27,76}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{388,328},{194,216}}</string>
                <key>sourceSize</key>
                <string>{1024,1024}</string>
            </dict>
            <key>7009332.png</key>
            <dict>
                <key>frame</key>
                <string>{{964,1010},{196,232}}</string>
                <key>offset</key>
                <string>{-16,84}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{398,312},{196,232}}</string>
                <key>sourceSize</key>
                <string>{1024,1024}</string>
            </dict>
            <key>7009333.png</key>
            <dict>
                <key>frame</key>
                <string>{{822,1272},{160,234}}</string>
                <key>offset</key>
                <string>{-24,100}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{408,295},{160,234}}</string>
                <key>sourceSize</key>
                <string>{1024,1024}</string>
            </dict>
            <key>7009334.png</key>
            <dict>
                <key>frame</key>
                <string>{{156,278},{184,262}}</string>
                <key>offset</key>
                <string>{-16,98}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{404,283},{184,262}}</string>
                <key>sourceSize</key>
                <string>{1024,1024}</string>
            </dict>
            <key>7009335.png</key>
            <dict>
                <key>frame</key>
                <string>{{1034,750},{228,208}}</string>
                <key>offset</key>
                <string>{12,72}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{410,336},{228,208}}</string>
                <key>sourceSize</key>
                <string>{1024,1024}</string>
            </dict>
            <key>7009341.png</key>
            <dict>
                <key>frame</key>
                <string>{{726,258},{164,258}}</string>
                <key>offset</key>
                <string>{-7,79}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{423,304},{164,258}}</string>
                <key>sourceSize</key>
                <string>{1024,1024}</string>
            </dict>
            <key>7009342.png</key>
            <dict>
                <key>frame</key>
                <string>{{1068,250},{158,240}}</string>
                <key>offset</key>
                <string>{0,72}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{433,320},{158,240}}</string>
                <key>sourceSize</key>
                <string>{1024,1024}</string>
            </dict>
            <key>7009343.png</key>
            <dict>
                <key>frame</key>
                <string>{{1226,240},{174,228}}</string>
                <key>offset</key>
                <string>{-16,69}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{409,329},{174,228}}</string>
                <key>sourceSize</key>
                <string>{1024,1024}</string>
            </dict>
            <key>7009344.png</key>
            <dict>
                <key>frame</key>
                <string>{{116,0},{152,278}}</string>
                <key>offset</key>
                <string>{0,102}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{436,271},{152,278}}</string>
                <key>sourceSize</key>
                <string>{1024,1024}</string>
            </dict>
            <key>7009345.png</key>
            <dict>
                <key>frame</key>
                <string>{{844,516},{184,252}}</string>
                <key>offset</key>
                <string>{20,94}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{440,292},{184,252}}</string>
                <key>sourceSize</key>
                <string>{1024,1024}</string>
            </dict>
            <key>7009351.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,590},{144,278}}</string>
                <key>offset</key>
                <string>{-2,66}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{438,307},{144,278}}</string>
                <key>sourceSize</key>
                <string>{1024,1024}</string>
            </dict>
            <key>7009352.png</key>
            <dict>
                <key>frame</key>
                <string>{{760,0},{142,256}}</string>
                <key>offset</key>
                <string>{0,59}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{441,325},{142,256}}</string>
                <key>sourceSize</key>
                <string>{1024,1024}</string>
            </dict>
            <key>7009353.png</key>
            <dict>
                <key>frame</key>
                <string>{{860,1774},{130,220}}</string>
                <key>offset</key>
                <string>{-1,47}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{446,355},{130,220}}</string>
                <key>sourceSize</key>
                <string>{1024,1024}</string>
            </dict>
            <key>7009354.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{116,298}}</string>
                <key>offset</key>
                <string>{0,92}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{454,271},{116,298}}</string>
                <key>sourceSize</key>
                <string>{1024,1024}</string>
            </dict>
            <key>7009355.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,1144},{132,276}}</string>
                <key>offset</key>
                <string>{1,87}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{447,287},{132,276}}</string>
                <key>sourceSize</key>
                <string>{1024,1024}</string>
            </dict>
            <key>7009511.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,868},{144,276}}</string>
                <key>offset</key>
                <string>{0,139}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{440,235},{144,276}}</string>
                <key>sourceSize</key>
                <string>{1024,1024}</string>
            </dict>
            <key>7009512.png</key>
            <dict>
                <key>frame</key>
                <string>{{990,1722},{206,196}}</string>
                <key>offset</key>
                <string>{-5,107}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{404,307},{206,196}}</string>
                <key>sourceSize</key>
                <string>{1024,1024}</string>
            </dict>
            <key>7009521.png</key>
            <dict>
                <key>frame</key>
                <string>{{784,1030},{180,242}}</string>
                <key>offset</key>
                <string>{-62,130}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{360,261},{180,242}}</string>
                <key>sourceSize</key>
                <string>{1024,1024}</string>
            </dict>
            <key>7009522.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,1420},{274,176}}</string>
                <key>offset</key>
                <string>{-109,75}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{266,349},{274,176}}</string>
                <key>sourceSize</key>
                <string>{1024,1024}</string>
            </dict>
            <key>7009531.png</key>
            <dict>
                <key>frame</key>
                <string>{{1326,1390},{194,184}}</string>
                <key>offset</key>
                <string>{-94,81}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{321,339},{194,184}}</string>
                <key>sourceSize</key>
                <string>{1024,1024}</string>
            </dict>
            <key>7009532.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,298},{292,156}}</string>
                <key>offset</key>
                <string>{-151,9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{215,425},{292,156}}</string>
                <key>sourceSize</key>
                <string>{1024,1024}</string>
            </dict>
            <key>7009541.png</key>
            <dict>
                <key>frame</key>
                <string>{{1364,1128},{184,166}}</string>
                <key>offset</key>
                <string>{-60,29}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{360,400},{184,166}}</string>
                <key>sourceSize</key>
                <string>{1024,1024}</string>
            </dict>
            <key>7009542.png</key>
            <dict>
                <key>frame</key>
                <string>{{430,1120},{262,190}}</string>
                <key>offset</key>
                <string>{-107,-58}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{274,475},{262,190}}</string>
                <key>sourceSize</key>
                <string>{1024,1024}</string>
            </dict>
            <key>7009551.png</key>
            <dict>
                <key>frame</key>
                <string>{{1510,1312},{144,166}}</string>
                <key>offset</key>
                <string>{0,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{440,426},{144,166}}</string>
                <key>sourceSize</key>
                <string>{1024,1024}</string>
            </dict>
            <key>7009552.png</key>
            <dict>
                <key>frame</key>
                <string>{{1242,718},{208,206}}</string>
                <key>offset</key>
                <string>{5,-85}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{413,494},{208,206}}</string>
                <key>sourceSize</key>
                <string>{1024,1024}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>7009.pvr.ccz</string>
            <key>size</key>
            <string>{2048,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:1bd3b038df7df8513dad931761a1a070:1/1$</string>
            <key>textureFileName</key>
            <string>7009.pvr.ccz</string>
        </dict>
    </dict>
</plist>
