<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>6521111.png</key>
            <dict>
                <key>frame</key>
                <string>{{1252,1002},{126,222}}</string>
                <key>offset</key>
                <string>{-1,44}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{192,101},{126,222}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6521112.png</key>
            <dict>
                <key>frame</key>
                <string>{{898,980},{126,200}}</string>
                <key>offset</key>
                <string>{-1,33}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{192,123},{126,200}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6521113.png</key>
            <dict>
                <key>frame</key>
                <string>{{1660,496},{126,226}}</string>
                <key>offset</key>
                <string>{-1,46}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{192,97},{126,226}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6521121.png</key>
            <dict>
                <key>frame</key>
                <string>{{1330,636},{224,184}}</string>
                <key>offset</key>
                <string>{-32,21}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{112,143},{224,184}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6521122.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,1518},{194,184}}</string>
                <key>offset</key>
                <string>{-17,21}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{142,143},{194,184}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6521123.png</key>
            <dict>
                <key>frame</key>
                <string>{{1024,1030},{208,198}}</string>
                <key>offset</key>
                <string>{-24,28}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{128,129},{208,198}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6521131.png</key>
            <dict>
                <key>frame</key>
                <string>{{942,136},{284,136}}</string>
                <key>offset</key>
                <string>{-38,27}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{76,161},{284,136}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6521132.png</key>
            <dict>
                <key>frame</key>
                <string>{{942,0},{294,136}}</string>
                <key>offset</key>
                <string>{-43,27}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{66,161},{294,136}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6521133.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,262},{296,138}}</string>
                <key>offset</key>
                <string>{-44,28}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{64,159},{296,138}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6521141.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,914},{230,176}}</string>
                <key>offset</key>
                <string>{-6,33}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{135,135},{230,176}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6521142.png</key>
            <dict>
                <key>frame</key>
                <string>{{1226,174},{266,182}}</string>
                <key>offset</key>
                <string>{-24,29}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{99,136},{266,182}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6521143.png</key>
            <dict>
                <key>frame</key>
                <string>{{838,438},{252,176}}</string>
                <key>offset</key>
                <string>{-17,36}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{113,132},{252,176}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6521151.png</key>
            <dict>
                <key>frame</key>
                <string>{{214,1184},{124,206}}</string>
                <key>offset</key>
                <string>{0,21}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{194,132},{124,206}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6521152.png</key>
            <dict>
                <key>frame</key>
                <string>{{236,852},{124,234}}</string>
                <key>offset</key>
                <string>{0,6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{194,133},{124,234}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6521153.png</key>
            <dict>
                <key>frame</key>
                <string>{{470,946},{124,218}}</string>
                <key>offset</key>
                <string>{0,16}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{194,131},{124,218}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6521211.png</key>
            <dict>
                <key>frame</key>
                <string>{{1778,856},{160,224}}</string>
                <key>offset</key>
                <string>{-8,45}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{168,99},{160,224}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6521212.png</key>
            <dict>
                <key>frame</key>
                <string>{{500,1740},{156,182}}</string>
                <key>offset</key>
                <string>{-4,39}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{174,126},{156,182}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6521213.png</key>
            <dict>
                <key>frame</key>
                <string>{{480,1552},{154,188}}</string>
                <key>offset</key>
                <string>{-1,55}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{178,107},{154,188}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6521214.png</key>
            <dict>
                <key>frame</key>
                <string>{{250,704},{148,238}}</string>
                <key>offset</key>
                <string>{3,45}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{185,92},{148,238}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6521215.png</key>
            <dict>
                <key>frame</key>
                <string>{{1156,356},{152,254}}</string>
                <key>offset</key>
                <string>{1,48}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{181,81},{152,254}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6521221.png</key>
            <dict>
                <key>frame</key>
                <string>{{444,1070},{208,174}}</string>
                <key>offset</key>
                <string>{12,58}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{164,111},{208,174}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6521222.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,1380},{200,138}}</string>
                <key>offset</key>
                <string>{2,47}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{158,140},{200,138}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6521223.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,1210},{202,170}}</string>
                <key>offset</key>
                <string>{-13,40}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{142,131},{202,170}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6521224.png</key>
            <dict>
                <key>frame</key>
                <string>{{230,976},{208,214}}</string>
                <key>offset</key>
                <string>{-28,28}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{124,121},{208,214}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6521225.png</key>
            <dict>
                <key>frame</key>
                <string>{{1030,814},{222,216}}</string>
                <key>offset</key>
                <string>{-36,24}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{109,124},{222,216}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6521231.png</key>
            <dict>
                <key>frame</key>
                <string>{{610,144},{280,146}}</string>
                <key>offset</key>
                <string>{-38,15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{78,168},{280,146}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6521232.png</key>
            <dict>
                <key>frame</key>
                <string>{{1786,520},{244,130}}</string>
                <key>offset</key>
                <string>{-37,21}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{97,170},{244,130}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6521233.png</key>
            <dict>
                <key>frame</key>
                <string>{{1786,162},{262,138}}</string>
                <key>offset</key>
                <string>{-42,23}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{83,164},{262,138}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6521234.png</key>
            <dict>
                <key>frame</key>
                <string>{{638,0},{304,144}}</string>
                <key>offset</key>
                <string>{-36,28}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{68,156},{304,144}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6521235.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,112},{312,150}}</string>
                <key>offset</key>
                <string>{-35,27}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{65,154},{312,150}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6521241.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,748},{236,166}}</string>
                <key>offset</key>
                <string>{-43,26}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{95,147},{236,166}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6521242.png</key>
            <dict>
                <key>frame</key>
                <string>{{1030,660},{224,154}}</string>
                <key>offset</key>
                <string>{-38,32}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{106,147},{224,154}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6521243.png</key>
            <dict>
                <key>frame</key>
                <string>{{1554,722},{224,160}}</string>
                <key>offset</key>
                <string>{-36,37}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{108,139},{224,160}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6521244.png</key>
            <dict>
                <key>frame</key>
                <string>{{890,272},{266,166}}</string>
                <key>offset</key>
                <string>{-10,37}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{113,136},{266,166}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6521245.png</key>
            <dict>
                <key>frame</key>
                <string>{{540,476},{252,172}}</string>
                <key>offset</key>
                <string>{3,34}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{133,136},{252,172}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6521251.png</key>
            <dict>
                <key>frame</key>
                <string>{{320,1608},{160,192}}</string>
                <key>offset</key>
                <string>{9,21}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{185,139},{160,192}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6521252.png</key>
            <dict>
                <key>frame</key>
                <string>{{202,1308},{156,200}}</string>
                <key>offset</key>
                <string>{4,17}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{182,139},{156,200}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6521253.png</key>
            <dict>
                <key>frame</key>
                <string>{{652,1140},{154,202}}</string>
                <key>offset</key>
                <string>{1,20}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{180,135},{154,202}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6521254.png</key>
            <dict>
                <key>frame</key>
                <string>{{200,1464},{144,196}}</string>
                <key>offset</key>
                <string>{-4,22}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{180,136},{144,196}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6521255.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,1896},{150,188}}</string>
                <key>offset</key>
                <string>{-2,23}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{179,139},{150,188}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6521311.png</key>
            <dict>
                <key>frame</key>
                <string>{{1474,882},{162,222}}</string>
                <key>offset</key>
                <string>{-23,21}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{152,124},{162,222}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6521312.png</key>
            <dict>
                <key>frame</key>
                <string>{{172,1702},{148,194}}</string>
                <key>offset</key>
                <string>{-24,45}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{158,114},{148,194}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6521313.png</key>
            <dict>
                <key>frame</key>
                <string>{{634,1488},{140,162}}</string>
                <key>offset</key>
                <string>{-22,26}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{164,149},{140,162}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6521314.png</key>
            <dict>
                <key>frame</key>
                <string>{{296,274},{142,278}}</string>
                <key>offset</key>
                <string>{-20,45}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{165,72},{142,278}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6521315.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,1702},{172,194}}</string>
                <key>offset</key>
                <string>{-19,32}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{151,127},{172,194}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6521321.png</key>
            <dict>
                <key>frame</key>
                <string>{{574,290},{264,186}}</string>
                <key>offset</key>
                <string>{5,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{129,159},{264,186}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6521322.png</key>
            <dict>
                <key>frame</key>
                <string>{{1410,496},{250,140}}</string>
                <key>offset</key>
                <string>{-31,37}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{100,149},{250,140}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6521323.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,1090},{214,120}}</string>
                <key>offset</key>
                <string>{-16,25}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{133,171},{214,120}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6521324.png</key>
            <dict>
                <key>frame</key>
                <string>{{1786,650},{206,240}}</string>
                <key>offset</key>
                <string>{-11,38}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{142,98},{206,240}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6521325.png</key>
            <dict>
                <key>frame</key>
                <string>{{620,1294},{198,194}}</string>
                <key>offset</key>
                <string>{-7,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{150,150},{198,194}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6521331.png</key>
            <dict>
                <key>frame</key>
                <string>{{324,0},{314,128}}</string>
                <key>offset</key>
                <string>{-12,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{87,191},{314,128}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6521332.png</key>
            <dict>
                <key>frame</key>
                <string>{{1492,326},{266,170}}</string>
                <key>offset</key>
                <string>{-40,36}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{83,135},{266,170}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6521333.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,598},{250,150}}</string>
                <key>offset</key>
                <string>{-16,21}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{115,160},{250,150}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6521334.png</key>
            <dict>
                <key>frame</key>
                <string>{{312,128},{298,146}}</string>
                <key>offset</key>
                <string>{-5,19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{102,164},{298,146}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6521335.png</key>
            <dict>
                <key>frame</key>
                <string>{{1520,0},{268,134}}</string>
                <key>offset</key>
                <string>{-25,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{97,185},{268,134}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6521341.png</key>
            <dict>
                <key>frame</key>
                <string>{{1788,0},{256,162}}</string>
                <key>offset</key>
                <string>{14,14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{142,161},{256,162}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6521342.png</key>
            <dict>
                <key>frame</key>
                <string>{{1252,820},{182,222}}</string>
                <key>offset</key>
                <string>{1,32}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{166,113},{182,222}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6521343.png</key>
            <dict>
                <key>frame</key>
                <string>{{420,1244},{184,200}}</string>
                <key>offset</key>
                <string>{14,34}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{178,122},{184,200}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6521344.png</key>
            <dict>
                <key>frame</key>
                <string>{{528,648},{238,152}}</string>
                <key>offset</key>
                <string>{8,31}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{145,149},{238,152}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6521345.png</key>
            <dict>
                <key>frame</key>
                <string>{{276,416},{264,150}}</string>
                <key>offset</key>
                <string>{11,19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{135,162},{264,150}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6521351.png</key>
            <dict>
                <key>frame</key>
                <string>{{342,1800},{158,190}}</string>
                <key>offset</key>
                <string>{23,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{200,153},{158,190}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6521352.png</key>
            <dict>
                <key>frame</key>
                <string>{{488,800},{146,236}}</string>
                <key>offset</key>
                <string>{23,33}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{206,105},{146,236}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6521353.png</key>
            <dict>
                <key>frame</key>
                <string>{{276,566},{138,252}}</string>
                <key>offset</key>
                <string>{22,50}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{209,80},{138,252}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6521354.png</key>
            <dict>
                <key>frame</key>
                <string>{{188,1896},{142,154}}</string>
                <key>offset</key>
                <string>{20,35}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{205,144},{142,154}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6521355.png</key>
            <dict>
                <key>frame</key>
                <string>{{854,1180},{170,188}}</string>
                <key>offset</key>
                <string>{18,13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{189,149},{170,188}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6521511.png</key>
            <dict>
                <key>frame</key>
                <string>{{402,1428},{198,124}}</string>
                <key>offset</key>
                <string>{-23,117}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{134,77},{198,124}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6521512.png</key>
            <dict>
                <key>frame</key>
                <string>{{724,818},{162,220}}</string>
                <key>offset</key>
                <string>{-2,20}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{173,126},{162,220}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6521521.png</key>
            <dict>
                <key>frame</key>
                <string>{{1090,508},{240,152}}</string>
                <key>offset</key>
                <string>{-52,82}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{84,98},{240,152}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6521522.png</key>
            <dict>
                <key>frame</key>
                <string>{{1520,134},{266,192}}</string>
                <key>offset</key>
                <string>{4,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{127,158},{266,192}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6521531.png</key>
            <dict>
                <key>frame</key>
                <string>{{792,614},{238,204}}</string>
                <key>offset</key>
                <string>{-83,50}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{54,104},{238,204}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6521532.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{324,112}}</string>
                <key>offset</key>
                <string>{-24,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{70,193},{324,112}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6521541.png</key>
            <dict>
                <key>frame</key>
                <string>{{1786,300},{220,254}}</string>
                <key>offset</key>
                <string>{-18,16}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{128,113},{220,254}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6521542.png</key>
            <dict>
                <key>frame</key>
                <string>{{1236,0},{284,174}}</string>
                <key>offset</key>
                <string>{4,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{118,161},{284,174}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6521551.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,400},{198,276}}</string>
                <key>offset</key>
                <string>{22,8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{179,110},{198,276}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6521552.png</key>
            <dict>
                <key>frame</key>
                <string>{{688,980},{160,210}}</string>
                <key>offset</key>
                <string>{1,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{177,157},{160,210}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>6521.pvr.ccz</string>
            <key>size</key>
            <string>{2048,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:7275e6306fcddee1804b70dfc3a7c7c2:1/1$</string>
            <key>textureFileName</key>
            <string>6521.pvr.ccz</string>
        </dict>
    </dict>
</plist>
