<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>82041.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,164},{82,120}}</string>
                <key>offset</key>
                <string>{-2,25}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{213,171},{82,120}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>82042.png</key>
            <dict>
                <key>frame</key>
                <string>{{120,82},{82,120}}</string>
                <key>offset</key>
                <string>{-2,25}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{213,171},{82,120}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>82043.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,82},{82,120}}</string>
                <key>offset</key>
                <string>{-2,25}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{213,171},{82,120}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>82044.png</key>
            <dict>
                <key>frame</key>
                <string>{{120,0},{82,120}}</string>
                <key>offset</key>
                <string>{-2,25}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{213,171},{82,120}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>82045.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{82,120}}</string>
                <key>offset</key>
                <string>{-2,25}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{213,171},{82,120}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>82046.png</key>
            <dict>
                <key>frame</key>
                <string>{{120,164},{82,118}}</string>
                <key>offset</key>
                <string>{-2,24}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{213,173},{82,118}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>8204.pvr.ccz</string>
            <key>size</key>
            <string>{256,256}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:bbcb740e3da21392c344b21d300664d4:1/1$</string>
            <key>textureFileName</key>
            <string>8204.pvr.ccz</string>
        </dict>
    </dict>
</plist>
