<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>6004111.png</key>
            <dict>
                <key>frame</key>
                <string>{{730,1450},{124,132}}</string>
                <key>offset</key>
                <string>{-10,39}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{184,151},{124,132}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6004112.png</key>
            <dict>
                <key>frame</key>
                <string>{{598,1372},{124,132}}</string>
                <key>offset</key>
                <string>{-9,37}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{185,153},{124,132}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6004113.png</key>
            <dict>
                <key>frame</key>
                <string>{{862,1456},{122,132}}</string>
                <key>offset</key>
                <string>{-9,37}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{186,153},{122,132}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6004121.png</key>
            <dict>
                <key>frame</key>
                <string>{{318,984},{114,156}}</string>
                <key>offset</key>
                <string>{-14,32}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{185,146},{114,156}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6004122.png</key>
            <dict>
                <key>frame</key>
                <string>{{484,950},{114,156}}</string>
                <key>offset</key>
                <string>{-14,31}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{185,147},{114,156}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6004123.png</key>
            <dict>
                <key>frame</key>
                <string>{{658,872},{114,156}}</string>
                <key>offset</key>
                <string>{-14,31}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{185,147},{114,156}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6004131.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,784},{140,160}}</string>
                <key>offset</key>
                <string>{-7,39}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{179,137},{140,160}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6004132.png</key>
            <dict>
                <key>frame</key>
                <string>{{884,0},{140,160}}</string>
                <key>offset</key>
                <string>{-7,39}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{179,137},{140,160}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6004133.png</key>
            <dict>
                <key>frame</key>
                <string>{{160,932},{140,158}}</string>
                <key>offset</key>
                <string>{-7,38}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{179,139},{140,158}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6004141.png</key>
            <dict>
                <key>frame</key>
                <string>{{772,1178},{140,144}}</string>
                <key>offset</key>
                <string>{20,49}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{206,135},{140,144}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6004142.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,1332},{140,144}}</string>
                <key>offset</key>
                <string>{20,48}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{206,136},{140,144}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6004143.png</key>
            <dict>
                <key>frame</key>
                <string>{{146,1302},{140,144}}</string>
                <key>offset</key>
                <string>{20,46}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{206,138},{140,144}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6004151.png</key>
            <dict>
                <key>frame</key>
                <string>{{474,1064},{124,152}}</string>
                <key>offset</key>
                <string>{9,39}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{203,141},{124,152}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6004152.png</key>
            <dict>
                <key>frame</key>
                <string>{{640,986},{124,152}}</string>
                <key>offset</key>
                <string>{8,38}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{202,142},{124,152}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6004153.png</key>
            <dict>
                <key>frame</key>
                <string>{{314,1098},{122,152}}</string>
                <key>offset</key>
                <string>{9,38}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{204,142},{122,152}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6004211.png</key>
            <dict>
                <key>frame</key>
                <string>{{564,1496},{124,128}}</string>
                <key>offset</key>
                <string>{-14,41}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{180,151},{124,128}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6004212.png</key>
            <dict>
                <key>frame</key>
                <string>{{432,1452},{132,120}}</string>
                <key>offset</key>
                <string>{-12,38}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{178,158},{132,120}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6004213.png</key>
            <dict>
                <key>frame</key>
                <string>{{140,1572},{130,126}}</string>
                <key>offset</key>
                <string>{-13,41}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{178,152},{130,126}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6004214.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,1596},{130,122}}</string>
                <key>offset</key>
                <string>{-18,36}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{173,159},{130,122}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6004215.png</key>
            <dict>
                <key>frame</key>
                <string>{{284,1468},{130,126}}</string>
                <key>offset</key>
                <string>{-19,37}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{172,156},{130,126}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6004221.png</key>
            <dict>
                <key>frame</key>
                <string>{{824,776},{130,156}}</string>
                <key>offset</key>
                <string>{-13,38}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{178,140},{130,156}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6004222.png</key>
            <dict>
                <key>frame</key>
                <string>{{538,656},{120,146}}</string>
                <key>offset</key>
                <string>{-15,35}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{181,148},{120,146}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6004223.png</key>
            <dict>
                <key>frame</key>
                <string>{{310,1220},{118,146}}</string>
                <key>offset</key>
                <string>{-9,40}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{188,143},{118,146}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6004224.png</key>
            <dict>
                <key>frame</key>
                <string>{{158,1184},{118,152}}</string>
                <key>offset</key>
                <string>{-10,29}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{187,151},{118,152}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6004225.png</key>
            <dict>
                <key>frame</key>
                <string>{{158,1072},{112,156}}</string>
                <key>offset</key>
                <string>{-17,30}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{183,148},{112,156}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6004231.png</key>
            <dict>
                <key>frame</key>
                <string>{{870,344},{144,154}}</string>
                <key>offset</key>
                <string>{-5,46}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{179,133},{144,154}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6004232.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,1190},{142,146}}</string>
                <key>offset</key>
                <string>{-14,41}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{171,142},{142,146}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6004233.png</key>
            <dict>
                <key>frame</key>
                <string>{{814,906},{138,152}}</string>
                <key>offset</key>
                <string>{-18,44}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{169,136},{138,152}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6004234.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,1052},{138,158}}</string>
                <key>offset</key>
                <string>{-14,32}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{173,145},{138,158}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6004235.png</key>
            <dict>
                <key>frame</key>
                <string>{{326,844},{140,158}}</string>
                <key>offset</key>
                <string>{-4,36}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{182,141},{140,158}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6004241.png</key>
            <dict>
                <key>frame</key>
                <string>{{514,802},{144,148}}</string>
                <key>offset</key>
                <string>{19,48}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{203,134},{144,148}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6004242.png</key>
            <dict>
                <key>frame</key>
                <string>{{456,1312},{140,142}}</string>
                <key>offset</key>
                <string>{16,44}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{202,141},{140,142}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6004243.png</key>
            <dict>
                <key>frame</key>
                <string>{{756,1318},{138,132}}</string>
                <key>offset</key>
                <string>{12,54}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{199,136},{138,132}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6004244.png</key>
            <dict>
                <key>frame</key>
                <string>{{612,1242},{144,130}}</string>
                <key>offset</key>
                <string>{15,47}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{199,144},{144,130}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6004245.png</key>
            <dict>
                <key>frame</key>
                <string>{{792,1044},{146,134}}</string>
                <key>offset</key>
                <string>{21,49}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{204,140},{146,134}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6004251.png</key>
            <dict>
                <key>frame</key>
                <string>{{466,1188},{124,146}}</string>
                <key>offset</key>
                <string>{13,45}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{207,138},{124,146}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6004252.png</key>
            <dict>
                <key>frame</key>
                <string>{{894,1318},{130,138}}</string>
                <key>offset</key>
                <string>{11,41}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{202,146},{130,138}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6004253.png</key>
            <dict>
                <key>frame</key>
                <string>{{626,1110},{132,146}}</string>
                <key>offset</key>
                <string>{12,46}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{202,137},{132,146}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6004254.png</key>
            <dict>
                <key>frame</key>
                <string>{{144,1442},{130,140}}</string>
                <key>offset</key>
                <string>{17,42}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{208,144},{130,140}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6004255.png</key>
            <dict>
                <key>frame</key>
                <string>{{290,1338},{130,142}}</string>
                <key>offset</key>
                <string>{18,45}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{209,140},{130,142}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6004311.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,1472},{124,140}}</string>
                <key>offset</key>
                <string>{2,52}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{196,134},{124,140}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6004312.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,230},{110,202}}</string>
                <key>offset</key>
                <string>{12,83}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{213,72},{110,202}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6004313.png</key>
            <dict>
                <key>frame</key>
                <string>{{662,132},{106,212}}</string>
                <key>offset</key>
                <string>{17,88}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{220,62},{106,212}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6004314.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,340},{112,190}}</string>
                <key>offset</key>
                <string>{20,77}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{220,84},{112,190}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6004315.png</key>
            <dict>
                <key>frame</key>
                <string>{{660,370},{96,182}}</string>
                <key>offset</key>
                <string>{13,-8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{221,173},{96,182}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6004321.png</key>
            <dict>
                <key>frame</key>
                <string>{{562,354},{98,144}}</string>
                <key>offset</key>
                <string>{-3,58}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{204,126},{98,144}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6004322.png</key>
            <dict>
                <key>frame</key>
                <string>{{376,478},{102,186}}</string>
                <key>offset</key>
                <string>{-4,79}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{201,84},{102,186}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6004323.png</key>
            <dict>
                <key>frame</key>
                <string>{{874,160},{150,184}}</string>
                <key>offset</key>
                <string>{-26,78}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{155,86},{150,184}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6004324.png</key>
            <dict>
                <key>frame</key>
                <string>{{660,466},{92,182}}</string>
                <key>offset</key>
                <string>{8,77}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{218,88},{92,182}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6004325.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,452},{144,186}}</string>
                <key>offset</key>
                <string>{31,9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{215,154},{144,186}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6004331.png</key>
            <dict>
                <key>frame</key>
                <string>{{658,558},{176,150}}</string>
                <key>offset</key>
                <string>{14,53}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{182,128},{176,150}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6004332.png</key>
            <dict>
                <key>frame</key>
                <string>{{376,354},{124,186}}</string>
                <key>offset</key>
                <string>{-11,71}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{183,92},{124,186}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6004333.png</key>
            <dict>
                <key>frame</key>
                <string>{{166,780},{152,160}}</string>
                <key>offset</key>
                <string>{-47,58}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{133,118},{152,160}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6004334.png</key>
            <dict>
                <key>frame</key>
                <string>{{202,238},{112,194}}</string>
                <key>offset</key>
                <string>{11,75}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{211,84},{112,194}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6004335.png</key>
            <dict>
                <key>frame</key>
                <string>{{668,0},{216,132}}</string>
                <key>offset</key>
                <string>{49,44}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{197,146},{216,132}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6004341.png</key>
            <dict>
                <key>frame</key>
                <string>{{658,708},{164,166}}</string>
                <key>offset</key>
                <string>{29,60}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{203,113},{164,166}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6004342.png</key>
            <dict>
                <key>frame</key>
                <string>{{186,502},{116,184}}</string>
                <key>offset</key>
                <string>{3,71}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{201,93},{116,184}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6004343.png</key>
            <dict>
                <key>frame</key>
                <string>{{370,580},{114,168}}</string>
                <key>offset</key>
                <string>{-27,63}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{172,109},{114,168}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6004344.png</key>
            <dict>
                <key>frame</key>
                <string>{{662,238},{132,208}}</string>
                <key>offset</key>
                <string>{3,83}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{193,69},{132,208}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6004345.png</key>
            <dict>
                <key>frame</key>
                <string>{{842,488},{180,150}}</string>
                <key>offset</key>
                <string>{43,54}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{209,127},{180,150}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6004351.png</key>
            <dict>
                <key>frame</key>
                <string>{{450,124},{124,212}}</string>
                <key>offset</key>
                <string>{-2,68}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{192,82},{124,212}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6004352.png</key>
            <dict>
                <key>frame</key>
                <string>{{220,128},{110,202}}</string>
                <key>offset</key>
                <string>{-13,66}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{188,89},{110,202}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6004353.png</key>
            <dict>
                <key>frame</key>
                <string>{{396,248},{106,190}}</string>
                <key>offset</key>
                <string>{-18,65}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{185,96},{106,190}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6004354.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,118},{112,220}}</string>
                <key>offset</key>
                <string>{-21,87}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{179,59},{112,220}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6004355.png</key>
            <dict>
                <key>frame</key>
                <string>{{562,498},{96,158}}</string>
                <key>offset</key>
                <string>{-14,62}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{194,115},{96,158}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6004511.png</key>
            <dict>
                <key>frame</key>
                <string>{{184,618},{166,162}}</string>
                <key>offset</key>
                <string>{-26,64}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{147,111},{166,162}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6004512.png</key>
            <dict>
                <key>frame</key>
                <string>{{226,0},{224,128}}</string>
                <key>offset</key>
                <string>{-54,51}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{90,141},{224,128}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6004521.png</key>
            <dict>
                <key>frame</key>
                <string>{{834,638},{138,168}}</string>
                <key>offset</key>
                <string>{-25,35}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{162,137},{138,168}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6004522.png</key>
            <dict>
                <key>frame</key>
                <string>{{190,350},{186,152}}</string>
                <key>offset</key>
                <string>{-43,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{120,174},{186,152}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6004531.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,924},{160,128}}</string>
                <key>offset</key>
                <string>{-32,16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{144,176},{160,128}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6004532.png</key>
            <dict>
                <key>frame</key>
                <string>{{350,694},{164,150}}</string>
                <key>offset</key>
                <string>{-59,-27}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{115,208},{164,150}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6004541.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,596},{184,84}}</string>
                <key>offset</key>
                <string>{10,12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{174,202},{184,84}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6004542.png</key>
            <dict>
                <key>frame</key>
                <string>{{450,0},{218,124}}</string>
                <key>offset</key>
                <string>{5,-15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{152,209},{218,124}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6004551.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,680},{166,104}}</string>
                <key>offset</key>
                <string>{25,25}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{198,179},{166,104}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6004552.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{226,118}}</string>
                <key>offset</key>
                <string>{54,-29}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{197,226},{226,118}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>6004.pvr.ccz</string>
            <key>size</key>
            <string>{1024,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:69e3db188feb25c7fd1352c718ed70c3:1/1$</string>
            <key>textureFileName</key>
            <string>6004.pvr.ccz</string>
        </dict>
    </dict>
</plist>
