<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>6003111.png</key>
            <dict>
                <key>frame</key>
                <string>{{726,1022},{100,144}}</string>
                <key>offset</key>
                <string>{2,49}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{208,135},{100,144}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6003112.png</key>
            <dict>
                <key>frame</key>
                <string>{{582,1010},{102,144}}</string>
                <key>offset</key>
                <string>{2,49}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{207,135},{102,144}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6003113.png</key>
            <dict>
                <key>frame</key>
                <string>{{436,1112},{102,142}}</string>
                <key>offset</key>
                <string>{2,48}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{207,137},{102,142}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6003121.png</key>
            <dict>
                <key>frame</key>
                <string>{{872,944},{112,144}}</string>
                <key>offset</key>
                <string>{3,61}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{203,123},{112,144}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6003122.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,1172},{112,142}}</string>
                <key>offset</key>
                <string>{2,60}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{202,125},{112,142}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6003123.png</key>
            <dict>
                <key>frame</key>
                <string>{{144,1092},{112,142}}</string>
                <key>offset</key>
                <string>{4,60}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{204,125},{112,142}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6003131.png</key>
            <dict>
                <key>frame</key>
                <string>{{438,594},{142,152}}</string>
                <key>offset</key>
                <string>{-7,55}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{178,125},{142,152}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6003132.png</key>
            <dict>
                <key>frame</key>
                <string>{{590,644},{144,150}}</string>
                <key>offset</key>
                <string>{-9,54}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{175,127},{144,150}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6003133.png</key>
            <dict>
                <key>frame</key>
                <string>{{438,736},{142,150}}</string>
                <key>offset</key>
                <string>{-6,54}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{179,127},{142,150}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6003141.png</key>
            <dict>
                <key>frame</key>
                <string>{{146,966},{126,146}}</string>
                <key>offset</key>
                <string>{-16,50}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{177,133},{126,146}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6003142.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,900},{130,146}}</string>
                <key>offset</key>
                <string>{-18,50}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{173,133},{130,146}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6003143.png</key>
            <dict>
                <key>frame</key>
                <string>{{896,524},{128,144}}</string>
                <key>offset</key>
                <string>{-16,49}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{176,135},{128,144}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6003151.png</key>
            <dict>
                <key>frame</key>
                <string>{{794,144},{100,174}}</string>
                <key>offset</key>
                <string>{-2,45}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{204,124},{100,174}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6003152.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,296},{102,168}}</string>
                <key>offset</key>
                <string>{-3,45}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{202,127},{102,168}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6003153.png</key>
            <dict>
                <key>frame</key>
                <string>{{618,118},{100,176}}</string>
                <key>offset</key>
                <string>{-2,43}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{204,125},{100,176}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6003211.png</key>
            <dict>
                <key>frame</key>
                <string>{{156,596},{98,156}}</string>
                <key>offset</key>
                <string>{-1,56}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{206,122},{98,156}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6003212.png</key>
            <dict>
                <key>frame</key>
                <string>{{292,1056},{102,144}}</string>
                <key>offset</key>
                <string>{3,53}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{208,131},{102,144}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6003213.png</key>
            <dict>
                <key>frame</key>
                <string>{{870,1056},{102,142}}</string>
                <key>offset</key>
                <string>{3,57}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{208,128},{102,142}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6003214.png</key>
            <dict>
                <key>frame</key>
                <string>{{438,1010},{102,144}}</string>
                <key>offset</key>
                <string>{-2,52}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{203,132},{102,144}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6003215.png</key>
            <dict>
                <key>frame</key>
                <string>{{334,390},{104,134}}</string>
                <key>offset</key>
                <string>{-7,65}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{197,124},{104,134}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6003221.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,1284},{114,136}}</string>
                <key>offset</key>
                <string>{-1,61}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{198,127},{114,136}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6003222.png</key>
            <dict>
                <key>frame</key>
                <string>{{142,1204},{130,136}}</string>
                <key>offset</key>
                <string>{-2,63}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{189,125},{130,136}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6003223.png</key>
            <dict>
                <key>frame</key>
                <string>{{598,376},{126,156}}</string>
                <key>offset</key>
                <string>{0,58}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{193,120},{126,156}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6003224.png</key>
            <dict>
                <key>frame</key>
                <string>{{324,524},{114,152}}</string>
                <key>offset</key>
                <string>{-1,51}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{198,129},{114,152}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6003225.png</key>
            <dict>
                <key>frame</key>
                <string>{{578,1112},{94,142}}</string>
                <key>offset</key>
                <string>{-1,58}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{208,127},{94,142}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6003231.png</key>
            <dict>
                <key>frame</key>
                <string>{{890,668},{134,134}}</string>
                <key>offset</key>
                <string>{-22,50}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{167,139},{134,134}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6003232.png</key>
            <dict>
                <key>frame</key>
                <string>{{720,1122},{134,126}}</string>
                <key>offset</key>
                <string>{-19,55}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{170,138},{134,126}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6003233.png</key>
            <dict>
                <key>frame</key>
                <string>{{298,822},{138,140}}</string>
                <key>offset</key>
                <string>{-14,55}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{173,131},{138,140}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6003234.png</key>
            <dict>
                <key>frame</key>
                <string>{{278,1278},{128,132}}</string>
                <key>offset</key>
                <string>{-13,48}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{179,142},{128,132}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6003235.png</key>
            <dict>
                <key>frame</key>
                <string>{{136,1334},{120,132}}</string>
                <key>offset</key>
                <string>{-18,47}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{178,143},{120,132}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6003241.png</key>
            <dict>
                <key>frame</key>
                <string>{{166,466},{130,158}}</string>
                <key>offset</key>
                <string>{-16,46}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{175,131},{130,158}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6003242.png</key>
            <dict>
                <key>frame</key>
                <string>{{438,362},{124,160}}</string>
                <key>offset</key>
                <string>{-21,44}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{173,132},{124,160}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6003243.png</key>
            <dict>
                <key>frame</key>
                <string>{{438,486},{108,156}}</string>
                <key>offset</key>
                <string>{-19,50}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{183,128},{108,156}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6003244.png</key>
            <dict>
                <key>frame</key>
                <string>{{588,788},{102,150}}</string>
                <key>offset</key>
                <string>{-12,50}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{193,131},{102,150}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6003245.png</key>
            <dict>
                <key>frame</key>
                <string>{{908,380},{116,144}}</string>
                <key>offset</key>
                <string>{-14,53}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{184,131},{116,144}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6003251.png</key>
            <dict>
                <key>frame</key>
                <string>{{196,128},{98,170}}</string>
                <key>offset</key>
                <string>{1,42}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{208,129},{98,170}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6003252.png</key>
            <dict>
                <key>frame</key>
                <string>{{336,226},{102,164}}</string>
                <key>offset</key>
                <string>{-3,42}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{202,132},{102,164}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6003253.png</key>
            <dict>
                <key>frame</key>
                <string>{{168,226},{102,168}}</string>
                <key>offset</key>
                <string>{-3,44}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{202,128},{102,168}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6003254.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,194},{102,168}}</string>
                <key>offset</key>
                <string>{1,40}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{206,132},{102,168}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6003255.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,398},{104,166}}</string>
                <key>offset</key>
                <string>{6,46}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{210,127},{104,166}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6003311.png</key>
            <dict>
                <key>frame</key>
                <string>{{584,890},{120,144}}</string>
                <key>offset</key>
                <string>{11,49}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{207,135},{120,144}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6003312.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,1398},{96,132}}</string>
                <key>offset</key>
                <string>{4,43}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{212,147},{96,132}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6003313.png</key>
            <dict>
                <key>frame</key>
                <string>{{298,960},{96,140}}</string>
                <key>offset</key>
                <string>{3,47}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{211,139},{96,140}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6003314.png</key>
            <dict>
                <key>frame</key>
                <string>{{438,244},{118,162}}</string>
                <key>offset</key>
                <string>{16,58}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{213,117},{118,162}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6003315.png</key>
            <dict>
                <key>frame</key>
                <string>{{438,878},{146,132}}</string>
                <key>offset</key>
                <string>{10,43}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{193,147},{146,132}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6003321.png</key>
            <dict>
                <key>frame</key>
                <string>{{728,910},{112,144}}</string>
                <key>offset</key>
                <string>{3,61}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{203,123},{112,144}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6003322.png</key>
            <dict>
                <key>frame</key>
                <string>{{854,1158},{122,128}}</string>
                <key>offset</key>
                <string>{14,57}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{209,135},{122,128}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6003323.png</key>
            <dict>
                <key>frame</key>
                <string>{{556,1328},{100,120}}</string>
                <key>offset</key>
                <string>{-4,53}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{202,143},{100,120}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6003324.png</key>
            <dict>
                <key>frame</key>
                <string>{{886,802},{142,138}}</string>
                <key>offset</key>
                <string>{-7,62}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{178,125},{142,138}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6003325.png</key>
            <dict>
                <key>frame</key>
                <string>{{424,1214},{132,132}}</string>
                <key>offset</key>
                <string>{-8,59}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{182,131},{132,132}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6003331.png</key>
            <dict>
                <key>frame</key>
                <string>{{154,694},{128,152}}</string>
                <key>offset</key>
                <string>{0,55}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{192,125},{128,152}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6003332.png</key>
            <dict>
                <key>frame</key>
                <string>{{438,96},{180,148}}</string>
                <key>offset</key>
                <string>{24,56}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{190,126},{180,148}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6003333.png</key>
            <dict>
                <key>frame</key>
                <string>{{746,504},{150,146}}</string>
                <key>offset</key>
                <string>{0,55}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{181,128},{150,146}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6003334.png</key>
            <dict>
                <key>frame</key>
                <string>{{152,822},{144,146}}</string>
                <key>offset</key>
                <string>{-10,56}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{174,127},{144,146}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6003335.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,778},{122,152}}</string>
                <key>offset</key>
                <string>{10,56}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{205,124},{122,152}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6003341.png</key>
            <dict>
                <key>frame</key>
                <string>{{312,676},{126,146}}</string>
                <key>offset</key>
                <string>{-16,50}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{177,133},{126,146}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6003342.png</key>
            <dict>
                <key>frame</key>
                <string>{{618,218},{170,158}}</string>
                <key>offset</key>
                <string>{1,49}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{172,128},{170,158}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6003343.png</key>
            <dict>
                <key>frame</key>
                <string>{{812,0},{144,178}}</string>
                <key>offset</key>
                <string>{-11,59}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{173,108},{144,178}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6003344.png</key>
            <dict>
                <key>frame</key>
                <string>{{168,328},{138,166}}</string>
                <key>offset</key>
                <string>{-20,47}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{167,126},{138,166}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6003345.png</key>
            <dict>
                <key>frame</key>
                <string>{{754,380},{124,154}}</string>
                <key>offset</key>
                <string>{-16,46}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{178,133},{124,154}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6003351.png</key>
            <dict>
                <key>frame</key>
                <string>{{738,790},{120,148}}</string>
                <key>offset</key>
                <string>{-12,58}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{184,124},{120,148}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6003352.png</key>
            <dict>
                <key>frame</key>
                <string>{{438,0},{96,192}}</string>
                <key>offset</key>
                <string>{-5,60}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{203,100},{96,192}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6003353.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,98},{96,196}}</string>
                <key>offset</key>
                <string>{-4,62}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{204,96},{96,196}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6003354.png</key>
            <dict>
                <key>frame</key>
                <string>{{630,0},{118,182}}</string>
                <key>offset</key>
                <string>{-17,53}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{180,112},{118,182}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6003355.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,630},{148,154}}</string>
                <key>offset</key>
                <string>{-11,49}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{171,130},{148,154}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6003511.png</key>
            <dict>
                <key>frame</key>
                <string>{{712,1248},{120,108}}</string>
                <key>offset</key>
                <string>{12,18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{208,184},{120,108}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6003512.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,1030},{142,144}}</string>
                <key>offset</key>
                <string>{15,-61}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{200,245},{142,144}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6003521.png</key>
            <dict>
                <key>frame</key>
                <string>{{578,1206},{122,134}}</string>
                <key>offset</key>
                <string>{24,34}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{219,155},{122,134}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6003522.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{228,98}}</string>
                <key>offset</key>
                <string>{99,-32}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{241,239},{228,98}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6003531.png</key>
            <dict>
                <key>frame</key>
                <string>{{594,502},{142,152}}</string>
                <key>offset</key>
                <string>{26,50}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{211,130},{142,152}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6003532.png</key>
            <dict>
                <key>frame</key>
                <string>{{228,0},{210,128}}</string>
                <key>offset</key>
                <string>{113,29}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{264,163},{210,128}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6003541.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,502},{128,156}}</string>
                <key>offset</key>
                <string>{2,55}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{194,123},{128,156}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6003542.png</key>
            <dict>
                <key>frame</key>
                <string>{{788,244},{136,170}}</string>
                <key>offset</key>
                <string>{64,78}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{252,93},{136,170}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6003551.png</key>
            <dict>
                <key>frame</key>
                <string>{{286,1158},{120,138}}</string>
                <key>offset</key>
                <string>{-12,50}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{184,137},{120,138}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6003552.png</key>
            <dict>
                <key>frame</key>
                <string>{{740,650},{140,150}}</string>
                <key>offset</key>
                <string>{-16,93}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{170,88},{140,150}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>6003.pvr.ccz</string>
            <key>size</key>
            <string>{1024,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:33f9d509089ded45e64b0f5e8e4747f3:1/1$</string>
            <key>textureFileName</key>
            <string>6003.pvr.ccz</string>
        </dict>
    </dict>
</plist>
