<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>7541111.png</key>
            <dict>
                <key>frame</key>
                <string>{{86,0},{92,150}}</string>
                <key>offset</key>
                <string>{0,15}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{210,166},{92,150}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>7541112.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{86,194}}</string>
                <key>offset</key>
                <string>{3,37}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{216,122},{86,194}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>7541113.png</key>
            <dict>
                <key>frame</key>
                <string>{{86,92},{90,134}}</string>
                <key>offset</key>
                <string>{0,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{211,182},{90,134}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>7541.pvr.ccz</string>
            <key>size</key>
            <string>{256,256}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:6bd63e605aaaaccc9d68a2121a6da1a2:1/1$</string>
            <key>textureFileName</key>
            <string>7541.pvr.ccz</string>
        </dict>
    </dict>
</plist>
