<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>810311.png</key>
            <dict>
                <key>frame</key>
                <string>{{272,86},{1,1}}</string>
                <key>offset</key>
                <string>{-255.5,255.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>810312.png</key>
            <dict>
                <key>frame</key>
                <string>{{272,86},{1,1}}</string>
                <key>offset</key>
                <string>{-255.5,255.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>810313.png</key>
            <dict>
                <key>frame</key>
                <string>{{272,86},{1,1}}</string>
                <key>offset</key>
                <string>{-255.5,255.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>810314.png</key>
            <dict>
                <key>frame</key>
                <string>{{272,86},{1,1}}</string>
                <key>offset</key>
                <string>{-255.5,255.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>810315.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{86,274}}</string>
                <key>offset</key>
                <string>{-23,-10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{190,129},{86,274}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>810316.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,86},{80,272}}</string>
                <key>offset</key>
                <string>{-27,-10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{189,130},{80,272}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>810321.png</key>
            <dict>
                <key>frame</key>
                <string>{{272,86},{1,1}}</string>
                <key>offset</key>
                <string>{-255.5,255.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>810322.png</key>
            <dict>
                <key>frame</key>
                <string>{{272,86},{1,1}}</string>
                <key>offset</key>
                <string>{-255.5,255.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>810323.png</key>
            <dict>
                <key>frame</key>
                <string>{{272,86},{1,1}}</string>
                <key>offset</key>
                <string>{-255.5,255.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>810324.png</key>
            <dict>
                <key>frame</key>
                <string>{{272,86},{1,1}}</string>
                <key>offset</key>
                <string>{-255.5,255.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>810325.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,324},{206,258}}</string>
                <key>offset</key>
                <string>{91,10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{244,117},{206,258}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>810326.png</key>
            <dict>
                <key>frame</key>
                <string>{{274,0},{130,232}}</string>
                <key>offset</key>
                <string>{130,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{321,142},{130,232}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>810331.png</key>
            <dict>
                <key>frame</key>
                <string>{{272,86},{1,1}}</string>
                <key>offset</key>
                <string>{-255.5,255.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>810332.png</key>
            <dict>
                <key>frame</key>
                <string>{{272,86},{1,1}}</string>
                <key>offset</key>
                <string>{-255.5,255.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>810333.png</key>
            <dict>
                <key>frame</key>
                <string>{{272,86},{1,1}}</string>
                <key>offset</key>
                <string>{-255.5,255.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>810334.png</key>
            <dict>
                <key>frame</key>
                <string>{{272,86},{1,1}}</string>
                <key>offset</key>
                <string>{-255.5,255.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>810335.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,166},{268,158}}</string>
                <key>offset</key>
                <string>{95,79}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{217,98},{268,158}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>810336.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,530},{154,158}}</string>
                <key>offset</key>
                <string>{152,78}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{331,99},{154,158}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>810341.png</key>
            <dict>
                <key>frame</key>
                <string>{{272,86},{1,1}}</string>
                <key>offset</key>
                <string>{-255.5,255.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>810342.png</key>
            <dict>
                <key>frame</key>
                <string>{{272,86},{1,1}}</string>
                <key>offset</key>
                <string>{-255.5,255.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>810343.png</key>
            <dict>
                <key>frame</key>
                <string>{{272,86},{1,1}}</string>
                <key>offset</key>
                <string>{-255.5,255.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>810344.png</key>
            <dict>
                <key>frame</key>
                <string>{{272,86},{1,1}}</string>
                <key>offset</key>
                <string>{-255.5,255.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>810345.png</key>
            <dict>
                <key>frame</key>
                <string>{{268,250},{208,180}}</string>
                <key>offset</key>
                <string>{70,123}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{222,43},{208,180}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>810346.png</key>
            <dict>
                <key>frame</key>
                <string>{{258,526},{112,170}}</string>
                <key>offset</key>
                <string>{118,118}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{318,53},{112,170}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>810351.png</key>
            <dict>
                <key>frame</key>
                <string>{{272,86},{1,1}}</string>
                <key>offset</key>
                <string>{-255.5,255.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>810352.png</key>
            <dict>
                <key>frame</key>
                <string>{{272,86},{1,1}}</string>
                <key>offset</key>
                <string>{-255.5,255.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>810353.png</key>
            <dict>
                <key>frame</key>
                <string>{{272,86},{1,1}}</string>
                <key>offset</key>
                <string>{-255.5,255.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>810354.png</key>
            <dict>
                <key>frame</key>
                <string>{{272,86},{1,1}}</string>
                <key>offset</key>
                <string>{-255.5,255.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>810355.png</key>
            <dict>
                <key>frame</key>
                <string>{{272,130},{120,218}}</string>
                <key>offset</key>
                <string>{14,131}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{210,16},{120,218}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>810356.png</key>
            <dict>
                <key>frame</key>
                <string>{{258,430},{96,178}}</string>
                <key>offset</key>
                <string>{3,142}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{211,25},{96,178}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>8103.pvr.ccz</string>
            <key>size</key>
            <string>{512,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:d9d75cb862d09ead166b6ad173c7312a:1/1$</string>
            <key>textureFileName</key>
            <string>8103.pvr.ccz</string>
        </dict>
    </dict>
</plist>
