<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>83121.png</key>
            <dict>
                <key>frame</key>
                <string>{{306,156},{160,182}}</string>
                <key>offset</key>
                <string>{3,42}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{179,123},{160,182}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>83122.png</key>
            <dict>
                <key>frame</key>
                <string>{{156,316},{154,182}}</string>
                <key>offset</key>
                <string>{2,47}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{181,118},{154,182}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>83123.png</key>
            <dict>
                <key>frame</key>
                <string>{{306,0},{156,188}}</string>
                <key>offset</key>
                <string>{2,55}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{180,107},{156,188}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>83124.png</key>
            <dict>
                <key>frame</key>
                <string>{{152,0},{154,192}}</string>
                <key>offset</key>
                <string>{2,58}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{181,102},{154,192}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>83125.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,220},{156,210}}</string>
                <key>offset</key>
                <string>{2,61}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{180,90},{156,210}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>83126.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{152,220}}</string>
                <key>offset</key>
                <string>{2,62}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{182,84},{152,220}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>8312.pvr.ccz</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:36c07e592f19dce8b0a8fb2480be75b5:1/1$</string>
            <key>textureFileName</key>
            <string>8312.pvr.ccz</string>
        </dict>
    </dict>
</plist>
