<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>6012111.png</key>
            <dict>
                <key>frame</key>
                <string>{{1590,1058},{250,238}}</string>
                <key>offset</key>
                <string>{49,79}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{180,58},{250,238}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6012112.png</key>
            <dict>
                <key>frame</key>
                <string>{{1290,1284},{246,236}}</string>
                <key>offset</key>
                <string>{46,81}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{179,57},{246,236}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6012113.png</key>
            <dict>
                <key>frame</key>
                <string>{{502,1460},{244,244}}</string>
                <key>offset</key>
                <string>{50,83}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{184,51},{244,244}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6012121.png</key>
            <dict>
                <key>frame</key>
                <string>{{1710,0},{266,230}}</string>
                <key>offset</key>
                <string>{23,75}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{146,66},{266,230}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6012122.png</key>
            <dict>
                <key>frame</key>
                <string>{{276,646},{260,230}}</string>
                <key>offset</key>
                <string>{26,77}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{152,64},{260,230}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6012123.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,1072},{254,238}}</string>
                <key>offset</key>
                <string>{21,79}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{150,58},{254,238}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6012131.png</key>
            <dict>
                <key>frame</key>
                <string>{{792,828},{174,254}}</string>
                <key>offset</key>
                <string>{5,81}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{174,48},{174,254}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6012132.png</key>
            <dict>
                <key>frame</key>
                <string>{{1296,1114},{170,250}}</string>
                <key>offset</key>
                <string>{10,81}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{181,50},{170,250}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6012133.png</key>
            <dict>
                <key>frame</key>
                <string>{{1084,708},{178,254}}</string>
                <key>offset</key>
                <string>{3,82}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{170,47},{178,254}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6012141.png</key>
            <dict>
                <key>frame</key>
                <string>{{998,1580},{146,242}}</string>
                <key>offset</key>
                <string>{8,76}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{191,59},{146,242}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6012142.png</key>
            <dict>
                <key>frame</key>
                <string>{{1500,1530},{148,238}}</string>
                <key>offset</key>
                <string>{10,76}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{192,61},{148,238}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6012143.png</key>
            <dict>
                <key>frame</key>
                <string>{{1738,1582},{156,236}}</string>
                <key>offset</key>
                <string>{5,73}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{183,65},{156,236}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6012151.png</key>
            <dict>
                <key>frame</key>
                <string>{{514,1024},{250,198}}</string>
                <key>offset</key>
                <string>{19,60}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{150,97},{250,198}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6012152.png</key>
            <dict>
                <key>frame</key>
                <string>{{1854,652},{244,194}}</string>
                <key>offset</key>
                <string>{23,61}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{157,98},{244,194}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6012153.png</key>
            <dict>
                <key>frame</key>
                <string>{{728,1878},{236,186}}</string>
                <key>offset</key>
                <string>{18,55}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{156,108},{236,186}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6012211.png</key>
            <dict>
                <key>frame</key>
                <string>{{242,1708},{238,230}}</string>
                <key>offset</key>
                <string>{47,91}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{184,50},{238,230}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6012212.png</key>
            <dict>
                <key>frame</key>
                <string>{{1536,1296},{242,234}}</string>
                <key>offset</key>
                <string>{51,94}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{186,45},{242,234}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6012213.png</key>
            <dict>
                <key>frame</key>
                <string>{{746,1650},{240,228}}</string>
                <key>offset</key>
                <string>{50,92}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{186,50},{240,228}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6012214.png</key>
            <dict>
                <key>frame</key>
                <string>{{986,1726},{236,214}}</string>
                <key>offset</key>
                <string>{39,85}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{177,64},{236,214}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6012215.png</key>
            <dict>
                <key>frame</key>
                <string>{{1710,1738},{234,220}}</string>
                <key>offset</key>
                <string>{43,87}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{182,59},{234,220}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6012221.png</key>
            <dict>
                <key>frame</key>
                <string>{{886,0},{282,220}}</string>
                <key>offset</key>
                <string>{33,79}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{148,67},{282,220}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6012222.png</key>
            <dict>
                <key>frame</key>
                <string>{{600,0},{286,216}}</string>
                <key>offset</key>
                <string>{34,79}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{147,69},{286,216}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6012223.png</key>
            <dict>
                <key>frame</key>
                <string>{{310,0},{290,208}}</string>
                <key>offset</key>
                <string>{34,75}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{145,77},{290,208}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6012224.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,244},{286,202}}</string>
                <key>offset</key>
                <string>{37,71}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{150,84},{286,202}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6012225.png</key>
            <dict>
                <key>frame</key>
                <string>{{310,208},{286,208}}</string>
                <key>offset</key>
                <string>{34,75}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{147,77},{286,208}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6012231.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,672},{238,258}}</string>
                <key>offset</key>
                <string>{12,85}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{149,42},{238,258}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6012232.png</key>
            <dict>
                <key>frame</key>
                <string>{{1090,472},{236,258}}</string>
                <key>offset</key>
                <string>{9,87}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{147,40},{236,258}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6012233.png</key>
            <dict>
                <key>frame</key>
                <string>{{1602,652},{242,252}}</string>
                <key>offset</key>
                <string>{10,84}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{145,46},{242,252}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6012234.png</key>
            <dict>
                <key>frame</key>
                <string>{{1042,1122},{248,246}}</string>
                <key>offset</key>
                <string>{19,80}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{151,53},{248,246}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6012235.png</key>
            <dict>
                <key>frame</key>
                <string>{{764,1202},{246,248}}</string>
                <key>offset</key>
                <string>{12,82}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{145,50},{246,248}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6012241.png</key>
            <dict>
                <key>frame</key>
                <string>{{564,434},{186,264}}</string>
                <key>offset</key>
                <string>{4,83}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{167,41},{186,264}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6012242.png</key>
            <dict>
                <key>frame</key>
                <string>{{564,620},{180,262}}</string>
                <key>offset</key>
                <string>{-1,84}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{165,41},{180,262}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6012243.png</key>
            <dict>
                <key>frame</key>
                <string>{{1410,450},{194,264}}</string>
                <key>offset</key>
                <string>{4,85}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{163,39},{194,264}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6012244.png</key>
            <dict>
                <key>frame</key>
                <string>{{1708,448},{204,264}}</string>
                <key>offset</key>
                <string>{14,84}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{168,40},{204,264}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6012245.png</key>
            <dict>
                <key>frame</key>
                <string>{{828,434},{200,262}}</string>
                <key>offset</key>
                <string>{7,84}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{163,41},{200,262}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6012251.png</key>
            <dict>
                <key>frame</key>
                <string>{{490,1704},{238,234}}</string>
                <key>offset</key>
                <string>{29,70}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{166,69},{238,234}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6012252.png</key>
            <dict>
                <key>frame</key>
                <string>{{246,1478},{244,230}}</string>
                <key>offset</key>
                <string>{22,68}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{156,73},{244,230}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6012253.png</key>
            <dict>
                <key>frame</key>
                <string>{{1046,886},{250,236}}</string>
                <key>offset</key>
                <string>{24,71}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{155,67},{250,236}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6012254.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,1310},{246,242}}</string>
                <key>offset</key>
                <string>{37,74}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{170,61},{246,242}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6012255.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,1552},{242,240}}</string>
                <key>offset</key>
                <string>{33,70}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{168,66},{242,240}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6012311.png</key>
            <dict>
                <key>frame</key>
                <string>{{1338,880},{252,234}}</string>
                <key>offset</key>
                <string>{41,79}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{171,60},{252,234}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6012312.png</key>
            <dict>
                <key>frame</key>
                <string>{{596,216},{280,218}}</string>
                <key>offset</key>
                <string>{7,71}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{123,76},{280,218}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6012313.png</key>
            <dict>
                <key>frame</key>
                <string>{{1456,1900},{220,232}}</string>
                <key>offset</key>
                <string>{41,57}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{187,83},{220,232}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6012314.png</key>
            <dict>
                <key>frame</key>
                <string>{{258,876},{256,216}}</string>
                <key>offset</key>
                <string>{42,67}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{170,81},{256,216}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6012315.png</key>
            <dict>
                <key>frame</key>
                <string>{{1442,0},{268,222}}</string>
                <key>offset</key>
                <string>{53,59}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{175,86},{268,222}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6012321.png</key>
            <dict>
                <key>frame</key>
                <string>{{1442,222},{266,228}}</string>
                <key>offset</key>
                <string>{27,75}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{150,67},{266,228}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6012322.png</key>
            <dict>
                <key>frame</key>
                <string>{{536,800},{256,224}}</string>
                <key>offset</key>
                <string>{18,73}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{146,71},{256,224}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6012323.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,446},{276,226}}</string>
                <key>offset</key>
                <string>{30,75}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{148,68},{276,226}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6012324.png</key>
            <dict>
                <key>frame</key>
                <string>{{1348,644},{236,254}}</string>
                <key>offset</key>
                <string>{30,79}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{168,50},{236,254}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6012325.png</key>
            <dict>
                <key>frame</key>
                <string>{{1708,230},{218,264}}</string>
                <key>offset</key>
                <string>{42,79}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{189,45},{218,264}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6012331.png</key>
            <dict>
                <key>frame</key>
                <string>{{254,1092},{174,250}}</string>
                <key>offset</key>
                <string>{16,80}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{185,51},{174,250}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6012332.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,1792},{212,238}}</string>
                <key>offset</key>
                <string>{1,73}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{151,64},{212,238}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6012333.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{310,244}}</string>
                <key>offset</key>
                <string>{66,79}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{167,55},{310,244}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6012334.png</key>
            <dict>
                <key>frame</key>
                <string>{{1146,226},{246,264}}</string>
                <key>offset</key>
                <string>{9,87}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{142,37},{246,264}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6012335.png</key>
            <dict>
                <key>frame</key>
                <string>{{876,220},{214,270}}</string>
                <key>offset</key>
                <string>{14,90}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{163,31},{214,270}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6012341.png</key>
            <dict>
                <key>frame</key>
                <string>{{1258,1520},{146,242}}</string>
                <key>offset</key>
                <string>{11,77}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{194,58},{146,242}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6012342.png</key>
            <dict>
                <key>frame</key>
                <string>{{1240,1666},{234,236}}</string>
                <key>offset</key>
                <string>{31,71}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{170,67},{234,236}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6012343.png</key>
            <dict>
                <key>frame</key>
                <string>{{1778,1352},{242,230}}</string>
                <key>offset</key>
                <string>{64,76}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{199,65},{242,230}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6012344.png</key>
            <dict>
                <key>frame</key>
                <string>{{1842,896},{206,238}}</string>
                <key>offset</key>
                <string>{24,87}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{177,50},{206,238}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6012345.png</key>
            <dict>
                <key>frame</key>
                <string>{{504,1222},{248,238}}</string>
                <key>offset</key>
                <string>{40,85}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{172,52},{248,238}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6012351.png</key>
            <dict>
                <key>frame</key>
                <string>{{792,1002},{250,200}}</string>
                <key>offset</key>
                <string>{28,63}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{159,93},{250,200}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6012352.png</key>
            <dict>
                <key>frame</key>
                <string>{{1168,0},{274,226}}</string>
                <key>offset</key>
                <string>{65,49}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{184,94},{274,226}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6012353.png</key>
            <dict>
                <key>frame</key>
                <string>{{826,634},{194,258}}</string>
                <key>offset</key>
                <string>{24,93}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{183,34},{194,258}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6012354.png</key>
            <dict>
                <key>frame</key>
                <string>{{1476,1678},{234,222}}</string>
                <key>offset</key>
                <string>{23,67}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{162,78},{234,222}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6012355.png</key>
            <dict>
                <key>frame</key>
                <string>{{286,416},{278,230}}</string>
                <key>offset</key>
                <string>{26,64}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{143,77},{278,230}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6012511.png</key>
            <dict>
                <key>frame</key>
                <string>{{1012,1368},{246,212}}</string>
                <key>offset</key>
                <string>{14,63}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{147,87},{246,212}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6012512.png</key>
            <dict>
                <key>frame</key>
                <string>{{964,1940},{230,154}}</string>
                <key>offset</key>
                <string>{4,30}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{145,149},{230,154}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6012521.png</key>
            <dict>
                <key>frame</key>
                <string>{{254,1266},{248,212}}</string>
                <key>offset</key>
                <string>{-1,71}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{131,79},{248,212}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6012522.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,910},{256,162}}</string>
                <key>offset</key>
                <string>{-47,36}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{81,139},{256,162}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6012531.png</key>
            <dict>
                <key>frame</key>
                <string>{{1840,1134},{206,218}}</string>
                <key>offset</key>
                <string>{-25,67}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{128,80},{206,218}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6012532.png</key>
            <dict>
                <key>frame</key>
                <string>{{1222,1900},{234,150}}</string>
                <key>offset</key>
                <string>{-43,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{96,176},{234,150}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6012541.png</key>
            <dict>
                <key>frame</key>
                <string>{{1688,1958},{182,216}}</string>
                <key>offset</key>
                <string>{9,55}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{174,93},{182,216}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6012542.png</key>
            <dict>
                <key>frame</key>
                <string>{{1590,894},{252,164}}</string>
                <key>offset</key>
                <string>{-51,-29}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{79,203},{252,164}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6012551.png</key>
            <dict>
                <key>frame</key>
                <string>{{752,1448},{246,202}}</string>
                <key>offset</key>
                <string>{49,32}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{182,123},{246,202}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6012552.png</key>
            <dict>
                <key>frame</key>
                <string>{{1194,2050},{230,152}}</string>
                <key>offset</key>
                <string>{-2,-26}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{139,206},{230,152}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>6012.pvr.ccz</string>
            <key>size</key>
            <string>{2048,4096}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:7f95357c385b77ac2c46b1fc9a504dba:1/1$</string>
            <key>textureFileName</key>
            <string>6012.pvr.ccz</string>
        </dict>
    </dict>
</plist>
