<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>82221.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,242},{168,132}}</string>
                <key>offset</key>
                <string>{0,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,18},{168,132}}</string>
                <key>sourceSize</key>
                <string>{170,150}</string>
            </dict>
            <key>82222.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{170,122}}</string>
                <key>offset</key>
                <string>{0,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,20},{170,122}}</string>
                <key>sourceSize</key>
                <string>{170,150}</string>
            </dict>
            <key>82223.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,860},{168,110}}</string>
                <key>offset</key>
                <string>{0,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,25},{168,110}}</string>
                <key>sourceSize</key>
                <string>{170,150}</string>
            </dict>
            <key>82224.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,748},{168,110}}</string>
                <key>offset</key>
                <string>{0,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,25},{168,110}}</string>
                <key>sourceSize</key>
                <string>{170,150}</string>
            </dict>
            <key>82225.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,628},{168,118}}</string>
                <key>offset</key>
                <string>{0,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,20},{168,118}}</string>
                <key>sourceSize</key>
                <string>{170,150}</string>
            </dict>
            <key>82226.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,508},{168,118}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,16},{168,118}}</string>
                <key>sourceSize</key>
                <string>{170,150}</string>
            </dict>
            <key>82227.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,126},{170,114}}</string>
                <key>offset</key>
                <string>{0,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,28},{170,114}}</string>
                <key>sourceSize</key>
                <string>{170,150}</string>
            </dict>
            <key>82228.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,376},{168,130}}</string>
                <key>offset</key>
                <string>{0,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,20},{168,130}}</string>
                <key>sourceSize</key>
                <string>{170,150}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>8222.pvr.ccz</string>
            <key>size</key>
            <string>{174,972}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:5acc54ed02395265b95217ad0e9f99ac:1/1$</string>
            <key>textureFileName</key>
            <string>8222.pvr.ccz</string>
        </dict>
    </dict>
</plist>
