<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>9201111.png</key>
            <dict>
                <key>frame</key>
                <string>{{874,366},{62,142}}</string>
                <key>offset</key>
                <string>{-2,43}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{223,142},{62,142}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>9201112.png</key>
            <dict>
                <key>frame</key>
                <string>{{874,428},{60,142}}</string>
                <key>offset</key>
                <string>{-2,43}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{224,142},{60,142}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>9201113.png</key>
            <dict>
                <key>frame</key>
                <string>{{632,292},{58,144}}</string>
                <key>offset</key>
                <string>{-2,44}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{225,140},{58,144}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>9201114.png</key>
            <dict>
                <key>frame</key>
                <string>{{488,240},{58,144}}</string>
                <key>offset</key>
                <string>{-2,44}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{225,140},{58,144}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>9201121.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,746},{96,138}}</string>
                <key>offset</key>
                <string>{3,44}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{211,143},{96,138}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>9201122.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,446},{96,138}}</string>
                <key>offset</key>
                <string>{3,44}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{211,143},{96,138}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>9201123.png</key>
            <dict>
                <key>frame</key>
                <string>{{772,454},{96,138}}</string>
                <key>offset</key>
                <string>{3,45}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{211,142},{96,138}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>9201124.png</key>
            <dict>
                <key>frame</key>
                <string>{{776,314},{98,140}}</string>
                <key>offset</key>
                <string>{3,46}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{210,140},{98,140}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>9201131.png</key>
            <dict>
                <key>frame</key>
                <string>{{152,392},{138,124}}</string>
                <key>offset</key>
                <string>{3,51}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{190,143},{138,124}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>9201132.png</key>
            <dict>
                <key>frame</key>
                <string>{{868,622},{138,124}}</string>
                <key>offset</key>
                <string>{2,51}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{189,143},{138,124}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>9201133.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,606},{136,126}}</string>
                <key>offset</key>
                <string>{4,52}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{192,141},{136,126}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>9201134.png</key>
            <dict>
                <key>frame</key>
                <string>{{742,592},{138,126}}</string>
                <key>offset</key>
                <string>{4,52}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{191,141},{138,126}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>9201141.png</key>
            <dict>
                <key>frame</key>
                <string>{{874,190},{108,150}}</string>
                <key>offset</key>
                <string>{-2,49}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{200,132},{108,150}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>9201142.png</key>
            <dict>
                <key>frame</key>
                <string>{{668,182},{110,150}}</string>
                <key>offset</key>
                <string>{-3,49}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{198,132},{110,150}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>9201143.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,344},{102,152}}</string>
                <key>offset</key>
                <string>{1,50}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{206,130},{102,152}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>9201144.png</key>
            <dict>
                <key>frame</key>
                <string>{{172,288},{104,152}}</string>
                <key>offset</key>
                <string>{1,50}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{205,130},{104,152}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>9201151.png</key>
            <dict>
                <key>frame</key>
                <string>{{348,176},{62,160}}</string>
                <key>offset</key>
                <string>{-1,53}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{224,123},{62,160}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>9201152.png</key>
            <dict>
                <key>frame</key>
                <string>{{172,228},{60,160}}</string>
                <key>offset</key>
                <string>{-1,53}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{225,123},{60,160}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>9201153.png</key>
            <dict>
                <key>frame</key>
                <string>{{508,182},{58,160}}</string>
                <key>offset</key>
                <string>{-1,54}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{226,122},{58,160}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>9201154.png</key>
            <dict>
                <key>frame</key>
                <string>{{682,124},{58,160}}</string>
                <key>offset</key>
                <string>{0,54}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{227,122},{58,160}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>9201211.png</key>
            <dict>
                <key>frame</key>
                <string>{{874,298},{68,146}}</string>
                <key>offset</key>
                <string>{-1,36}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{221,147},{68,146}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>9201212.png</key>
            <dict>
                <key>frame</key>
                <string>{{876,0},{62,148}}</string>
                <key>offset</key>
                <string>{-1,38}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{224,144},{62,148}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>9201213.png</key>
            <dict>
                <key>frame</key>
                <string>{{818,182},{56,132}}</string>
                <key>offset</key>
                <string>{-1,45}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{227,145},{56,132}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>9201214.png</key>
            <dict>
                <key>frame</key>
                <string>{{108,542},{56,96}}</string>
                <key>offset</key>
                <string>{-1,58}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{227,150},{56,96}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>9201215.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,542},{58,108}}</string>
                <key>offset</key>
                <string>{-1,53}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{226,149},{58,108}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>9201216.png</key>
            <dict>
                <key>frame</key>
                <string>{{464,428},{64,140}}</string>
                <key>offset</key>
                <string>{-1,37}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{223,149},{64,140}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>9201221.png</key>
            <dict>
                <key>frame</key>
                <string>{{324,366},{126,140}}</string>
                <key>offset</key>
                <string>{-5,39}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{188,147},{126,140}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>9201222.png</key>
            <dict>
                <key>frame</key>
                <string>{{126,606},{128,128}}</string>
                <key>offset</key>
                <string>{-6,44}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{186,148},{128,128}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>9201223.png</key>
            <dict>
                <key>frame</key>
                <string>{{124,876},{128,116}}</string>
                <key>offset</key>
                <string>{-8,48}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{184,150},{128,116}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>9201224.png</key>
            <dict>
                <key>frame</key>
                <string>{{96,746},{130,88}}</string>
                <key>offset</key>
                <string>{-11,61}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{180,151},{130,88}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>9201225.png</key>
            <dict>
                <key>frame</key>
                <string>{{184,746},{124,108}}</string>
                <key>offset</key>
                <string>{-9,51}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{185,151},{124,108}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>9201226.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,884},{124,132}}</string>
                <key>offset</key>
                <string>{-6,41}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{188,149},{124,132}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>9201231.png</key>
            <dict>
                <key>frame</key>
                <string>{{358,0},{174,118}}</string>
                <key>offset</key>
                <string>{-6,51}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{163,146},{174,118}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>9201232.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,106},{174,120}}</string>
                <key>offset</key>
                <string>{-7,52}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{162,144},{174,120}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>9201233.png</key>
            <dict>
                <key>frame</key>
                <string>{{182,0},{176,112}}</string>
                <key>offset</key>
                <string>{-10,57}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{158,143},{176,112}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>9201234.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{182,106}}</string>
                <key>offset</key>
                <string>{-16,58}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{149,145},{182,106}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>9201235.png</key>
            <dict>
                <key>frame</key>
                <string>{{174,112},{174,116}}</string>
                <key>offset</key>
                <string>{-13,52}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{156,146},{174,116}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>9201236.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,226},{172,118}}</string>
                <key>offset</key>
                <string>{-9,50}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{161,147},{172,118}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>9201241.png</key>
            <dict>
                <key>frame</key>
                <string>{{332,238},{128,156}}</string>
                <key>offset</key>
                <string>{-5,45}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{187,133},{128,156}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>9201242.png</key>
            <dict>
                <key>frame</key>
                <string>{{874,62},{128,150}}</string>
                <key>offset</key>
                <string>{-6,48}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{186,133},{128,150}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>9201243.png</key>
            <dict>
                <key>frame</key>
                <string>{{488,298},{130,142}}</string>
                <key>offset</key>
                <string>{-8,52}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{183,133},{130,142}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>9201244.png</key>
            <dict>
                <key>frame</key>
                <string>{{868,488},{134,140}}</string>
                <key>offset</key>
                <string>{-13,58}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{176,128},{134,140}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>9201245.png</key>
            <dict>
                <key>frame</key>
                <string>{{604,478},{128,138}}</string>
                <key>offset</key>
                <string>{-10,58}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{182,129},{128,138}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>9201246.png</key>
            <dict>
                <key>frame</key>
                <string>{{630,350},{128,142}}</string>
                <key>offset</key>
                <string>{-8,55}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{184,130},{128,142}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>9201251.png</key>
            <dict>
                <key>frame</key>
                <string>{{704,56},{68,170}}</string>
                <key>offset</key>
                <string>{0,47}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{222,124},{68,170}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>9201252.png</key>
            <dict>
                <key>frame</key>
                <string>{{532,0},{62,172}}</string>
                <key>offset</key>
                <string>{0,48}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{225,122},{62,172}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>9201253.png</key>
            <dict>
                <key>frame</key>
                <string>{{704,0},{56,172}}</string>
                <key>offset</key>
                <string>{0,48}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{228,122},{56,172}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>9201254.png</key>
            <dict>
                <key>frame</key>
                <string>{{532,62},{56,170}}</string>
                <key>offset</key>
                <string>{0,52}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{228,119},{56,170}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>9201255.png</key>
            <dict>
                <key>frame</key>
                <string>{{348,118},{58,168}}</string>
                <key>offset</key>
                <string>{1,54}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{228,118},{58,168}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>9201256.png</key>
            <dict>
                <key>frame</key>
                <string>{{516,118},{64,166}}</string>
                <key>offset</key>
                <string>{0,53}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{224,120},{64,166}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>9201.pvr.ccz</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:9b8352abcc5cfc7e0eacc5bae881db02:1/1$</string>
            <key>textureFileName</key>
            <string>9201.pvr.ccz</string>
        </dict>
    </dict>
</plist>
