<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>ringSelect1.png</key>
            <dict>
                <key>frame</key>
                <string>{{250,566},{248,178}}</string>
                <key>offset</key>
                <string>{-1,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{131,177},{248,178}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>ringSelect2.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,380},{252,184}}</string>
                <key>offset</key>
                <string>{-2,-11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{128,175},{252,184}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>ringSelect3.png</key>
            <dict>
                <key>frame</key>
                <string>{{256,378},{254,188}}</string>
                <key>offset</key>
                <string>{-1,-11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{128,173},{254,188}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>ringSelect4.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,190},{256,190}}</string>
                <key>offset</key>
                <string>{0,-11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{128,172},{256,190}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>ringSelect5.png</key>
            <dict>
                <key>frame</key>
                <string>{{256,0},{256,190}}</string>
                <key>offset</key>
                <string>{0,-11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{128,172},{256,190}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>ringSelect6.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{256,190}}</string>
                <key>offset</key>
                <string>{0,-11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{128,172},{256,190}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>ringSelect7.png</key>
            <dict>
                <key>frame</key>
                <string>{{256,190},{254,188}}</string>
                <key>offset</key>
                <string>{1,-11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{130,173},{254,188}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>ringSelect8.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,564},{250,184}}</string>
                <key>offset</key>
                <string>{2,-11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{133,175},{250,184}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>ringSelect.pvr.ccz</string>
            <key>size</key>
            <string>{512,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:682a16fbccabc76e2024875a1ffaadbb:1/1$</string>
            <key>textureFileName</key>
            <string>ringSelect.pvr.ccz</string>
        </dict>
    </dict>
</plist>
