<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>shengji1.png</key>
            <dict>
                <key>frame</key>
                <string>{{340,916},{88,118}}</string>
                <key>offset</key>
                <string>{-2,20}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{210,177},{88,118}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>shengji10.png</key>
            <dict>
                <key>frame</key>
                <string>{{238,0},{246,324}}</string>
                <key>offset</key>
                <string>{9,94}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{142,0},{246,324}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>shengji11.png</key>
            <dict>
                <key>frame</key>
                <string>{{240,324},{160,302}}</string>
                <key>offset</key>
                <string>{-2,105}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{174,0},{160,302}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>shengji12.png</key>
            <dict>
                <key>frame</key>
                <string>{{170,662},{170,304}}</string>
                <key>offset</key>
                <string>{-5,104}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{166,0},{170,304}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>shengji13.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,662},{170,304}}</string>
                <key>offset</key>
                <string>{-6,104}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{165,0},{170,304}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>shengji2.png</key>
            <dict>
                <key>frame</key>
                <string>{{612,384},{128,174}}</string>
                <key>offset</key>
                <string>{0,34}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{192,135},{128,174}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>shengji3.png</key>
            <dict>
                <key>frame</key>
                <string>{{694,196},{188,230}}</string>
                <key>offset</key>
                <string>{-2,33}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{160,108},{188,230}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>shengji4.png</key>
            <dict>
                <key>frame</key>
                <string>{{694,0},{196,268}}</string>
                <key>offset</key>
                <string>{-8,76}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{150,46},{196,268}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>shengji5.png</key>
            <dict>
                <key>frame</key>
                <string>{{484,0},{210,274}}</string>
                <key>offset</key>
                <string>{-6,76}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{145,43},{210,274}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>shengji6.png</key>
            <dict>
                <key>frame</key>
                <string>{{400,324},{212,282}}</string>
                <key>offset</key>
                <string>{-5,76}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{145,39},{212,282}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>shengji7.png</key>
            <dict>
                <key>frame</key>
                <string>{{340,626},{228,290}}</string>
                <key>offset</key>
                <string>{0,71}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{142,40},{228,290}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>shengji8.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{238,332}}</string>
                <key>offset</key>
                <string>{4,90}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{141,0},{238,332}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>shengji9.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,332},{240,330}}</string>
                <key>offset</key>
                <string>{5,91}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{141,0},{240,330}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>shengji.pvr.ccz</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:50a6e16bc606e95e5a8f81cd7355b7e3:1/1$</string>
            <key>textureFileName</key>
            <string>shengji.pvr.ccz</string>
        </dict>
    </dict>
</plist>
