<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>9202111.png</key>
            <dict>
                <key>frame</key>
                <string>{{934,0},{66,148}}</string>
                <key>offset</key>
                <string>{0,42}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{223,140},{66,148}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>9202112.png</key>
            <dict>
                <key>frame</key>
                <string>{{302,620},{64,148}}</string>
                <key>offset</key>
                <string>{0,42}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{224,140},{64,148}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>9202113.png</key>
            <dict>
                <key>frame</key>
                <string>{{674,596},{62,150}}</string>
                <key>offset</key>
                <string>{0,43}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{225,138},{62,150}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>9202114.png</key>
            <dict>
                <key>frame</key>
                <string>{{464,558},{62,150}}</string>
                <key>offset</key>
                <string>{0,43}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{225,138},{62,150}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>9202121.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,540},{110,150}}</string>
                <key>offset</key>
                <string>{5,44}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{206,137},{110,150}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>9202122.png</key>
            <dict>
                <key>frame</key>
                <string>{{152,530},{110,150}}</string>
                <key>offset</key>
                <string>{4,44}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{205,137},{110,150}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>9202123.png</key>
            <dict>
                <key>frame</key>
                <string>{{162,420},{110,152}}</string>
                <key>offset</key>
                <string>{4,45}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{205,135},{110,152}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>9202124.png</key>
            <dict>
                <key>frame</key>
                <string>{{336,370},{112,152}}</string>
                <key>offset</key>
                <string>{4,45}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{204,135},{112,152}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>9202131.png</key>
            <dict>
                <key>frame</key>
                <string>{{674,460},{152,136}}</string>
                <key>offset</key>
                <string>{6,52}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{186,136},{152,136}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>9202132.png</key>
            <dict>
                <key>frame</key>
                <string>{{522,360},{152,136}}</string>
                <key>offset</key>
                <string>{5,52}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{185,136},{152,136}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>9202133.png</key>
            <dict>
                <key>frame</key>
                <string>{{826,554},{150,138}}</string>
                <key>offset</key>
                <string>{7,53}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{188,134},{150,138}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>9202134.png</key>
            <dict>
                <key>frame</key>
                <string>{{150,640},{146,138}}</string>
                <key>offset</key>
                <string>{10,53}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{193,134},{146,138}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>9202141.png</key>
            <dict>
                <key>frame</key>
                <string>{{360,256},{114,162}}</string>
                <key>offset</key>
                <string>{4,49}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{203,126},{114,162}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>9202142.png</key>
            <dict>
                <key>frame</key>
                <string>{{540,246},{114,162}}</string>
                <key>offset</key>
                <string>{3,49}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{202,126},{114,162}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>9202143.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,366},{110,162}}</string>
                <key>offset</key>
                <string>{5,49}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{206,126},{110,162}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>9202144.png</key>
            <dict>
                <key>frame</key>
                <string>{{174,308},{112,162}}</string>
                <key>offset</key>
                <string>{5,49}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{205,126},{112,162}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>9202151.png</key>
            <dict>
                <key>frame</key>
                <string>{{374,130},{66,178}}</string>
                <key>offset</key>
                <string>{1,55}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{224,112},{66,178}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>9202152.png</key>
            <dict>
                <key>frame</key>
                <string>{{184,182},{64,178}}</string>
                <key>offset</key>
                <string>{1,55}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{225,112},{64,178}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>9202153.png</key>
            <dict>
                <key>frame</key>
                <string>{{552,184},{62,178}}</string>
                <key>offset</key>
                <string>{2,55}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{227,112},{62,178}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>9202154.png</key>
            <dict>
                <key>frame</key>
                <string>{{750,128},{62,178}}</string>
                <key>offset</key>
                <string>{2,55}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{227,112},{62,178}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>9202211.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,476},{64,152}}</string>
                <key>offset</key>
                <string>{0,34}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{224,146},{64,152}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>9202212.png</key>
            <dict>
                <key>frame</key>
                <string>{{464,496},{62,150}}</string>
                <key>offset</key>
                <string>{0,35}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{225,146},{62,150}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>9202213.png</key>
            <dict>
                <key>frame</key>
                <string>{{614,496},{60,136}}</string>
                <key>offset</key>
                <string>{0,44}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{226,144},{60,136}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>9202214.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,922},{60,100}}</string>
                <key>offset</key>
                <string>{0,60}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{226,146},{60,100}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>9202215.png</key>
            <dict>
                <key>frame</key>
                <string>{{596,632},{60,116}}</string>
                <key>offset</key>
                <string>{0,51}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{226,147},{60,116}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>9202216.png</key>
            <dict>
                <key>frame</key>
                <string>{{146,778},{62,144}}</string>
                <key>offset</key>
                <string>{0,36}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{225,148},{62,144}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>9202221.png</key>
            <dict>
                <key>frame</key>
                <string>{{296,684},{132,144}}</string>
                <key>offset</key>
                <string>{0,36}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{190,148},{132,144}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>9202222.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,788},{136,134}}</string>
                <key>offset</key>
                <string>{-2,42}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{186,147},{136,134}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>9202223.png</key>
            <dict>
                <key>frame</key>
                <string>{{896,286},{136,122}}</string>
                <key>offset</key>
                <string>{-4,46}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{184,149},{136,122}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>9202224.png</key>
            <dict>
                <key>frame</key>
                <string>{{928,148},{138,96}}</string>
                <key>offset</key>
                <string>{-7,60}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{180,148},{138,96}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>9202225.png</key>
            <dict>
                <key>frame</key>
                <string>{{136,840},{132,114}}</string>
                <key>offset</key>
                <string>{-5,51}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{185,148},{132,114}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>9202226.png</key>
            <dict>
                <key>frame</key>
                <string>{{656,658},{130,136}}</string>
                <key>offset</key>
                <string>{-2,40}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{189,148},{130,136}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>9202231.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,178},{184,128}}</string>
                <key>offset</key>
                <string>{-1,51}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{163,141},{184,128}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>9202232.png</key>
            <dict>
                <key>frame</key>
                <string>{{382,0},{186,130}}</string>
                <key>offset</key>
                <string>{-3,53}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{160,138},{186,130}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>9202233.png</key>
            <dict>
                <key>frame</key>
                <string>{{192,0},{190,120}}</string>
                <key>offset</key>
                <string>{-7,56}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{154,140},{190,120}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>9202234.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{192,114}}</string>
                <key>offset</key>
                <string>{-11,58}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{149,141},{192,114}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>9202235.png</key>
            <dict>
                <key>frame</key>
                <string>{{568,60},{182,124}}</string>
                <key>offset</key>
                <string>{-8,51}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{157,143},{182,124}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>9202236.png</key>
            <dict>
                <key>frame</key>
                <string>{{752,0},{182,128}}</string>
                <key>offset</key>
                <string>{-5,50}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{160,142},{182,128}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>9202241.png</key>
            <dict>
                <key>frame</key>
                <string>{{730,190},{134,166}}</string>
                <key>offset</key>
                <string>{-1,45}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{188,128},{134,166}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>9202242.png</key>
            <dict>
                <key>frame</key>
                <string>{{702,324},{136,158}}</string>
                <key>offset</key>
                <string>{-2,49}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{186,128},{136,158}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>9202243.png</key>
            <dict>
                <key>frame</key>
                <string>{{314,482},{138,150}}</string>
                <key>offset</key>
                <string>{-4,52}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{183,129},{138,150}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>9202244.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,650},{138,146}}</string>
                <key>offset</key>
                <string>{-7,58}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{180,125},{138,146}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>9202245.png</key>
            <dict>
                <key>frame</key>
                <string>{{450,620},{132,146}}</string>
                <key>offset</key>
                <string>{-5,61}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{185,122},{132,146}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>9202246.png</key>
            <dict>
                <key>frame</key>
                <string>{{860,422},{132,154}}</string>
                <key>offset</key>
                <string>{-3,55}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{187,124},{132,154}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>9202251.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,114},{64,188}}</string>
                <key>offset</key>
                <string>{1,49}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{225,113},{64,188}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>9202252.png</key>
            <dict>
                <key>frame</key>
                <string>{{188,120},{62,186}}</string>
                <key>offset</key>
                <string>{1,51}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{226,112},{62,186}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>9202253.png</key>
            <dict>
                <key>frame</key>
                <string>{{568,0},{60,184}}</string>
                <key>offset</key>
                <string>{1,51}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{227,113},{60,184}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>9202254.png</key>
            <dict>
                <key>frame</key>
                <string>{{362,196},{60,178}}</string>
                <key>offset</key>
                <string>{1,58}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{227,109},{60,178}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>9202255.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,306},{60,174}}</string>
                <key>offset</key>
                <string>{1,61}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{227,108},{60,174}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>9202256.png</key>
            <dict>
                <key>frame</key>
                <string>{{184,246},{62,176}}</string>
                <key>offset</key>
                <string>{1,59}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{226,109},{62,176}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>9202.pvr.ccz</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:a51790c18e2435618eaf6d682d53bd95:1/1$</string>
            <key>textureFileName</key>
            <string>9202.pvr.ccz</string>
        </dict>
    </dict>
</plist>
