<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>7521111.png</key>
            <dict>
                <key>frame</key>
                <string>{{90,112},{94,110}}</string>
                <key>offset</key>
                <string>{2,34}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{211,167},{94,110}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>7521112.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,112},{90,112}}</string>
                <key>offset</key>
                <string>{3,33}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{214,167},{90,112}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>7521113.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{94,112}}</string>
                <key>offset</key>
                <string>{2,34}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{211,166},{94,112}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>7521.pvr.ccz</string>
            <key>size</key>
            <string>{256,256}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:982ad496ed0c0c5f1b9bcc706bab3320:1/1$</string>
            <key>textureFileName</key>
            <string>7521.pvr.ccz</string>
        </dict>
    </dict>
</plist>
