<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>6516111.png</key>
            <dict>
                <key>frame</key>
                <string>{{732,298},{168,150}}</string>
                <key>offset</key>
                <string>{0,51}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{172,130},{168,150}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6516112.png</key>
            <dict>
                <key>frame</key>
                <string>{{168,880},{160,152}}</string>
                <key>offset</key>
                <string>{0,52}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{176,128},{160,152}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6516113.png</key>
            <dict>
                <key>frame</key>
                <string>{{872,612},{162,152}}</string>
                <key>offset</key>
                <string>{0,52}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{175,128},{162,152}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6516121.png</key>
            <dict>
                <key>frame</key>
                <string>{{300,1334},{130,148}}</string>
                <key>offset</key>
                <string>{5,51}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{196,131},{130,148}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6516122.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,1206},{124,150}}</string>
                <key>offset</key>
                <string>{3,52}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{197,129},{124,150}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6516123.png</key>
            <dict>
                <key>frame</key>
                <string>{{900,298},{124,150}}</string>
                <key>offset</key>
                <string>{3,52}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{197,129},{124,150}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6516131.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,1330},{72,150}}</string>
                <key>offset</key>
                <string>{2,50}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{222,131},{72,150}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6516132.png</key>
            <dict>
                <key>frame</key>
                <string>{{150,1290},{72,150}}</string>
                <key>offset</key>
                <string>{2,50}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{222,131},{72,150}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6516133.png</key>
            <dict>
                <key>frame</key>
                <string>{{488,1114},{70,152}}</string>
                <key>offset</key>
                <string>{2,51}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{223,129},{70,152}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6516141.png</key>
            <dict>
                <key>frame</key>
                <string>{{608,1358},{128,146}}</string>
                <key>offset</key>
                <string>{6,47}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{198,136},{128,146}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6516142.png</key>
            <dict>
                <key>frame</key>
                <string>{{900,1454},{124,146}}</string>
                <key>offset</key>
                <string>{4,47}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{198,136},{124,146}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6516143.png</key>
            <dict>
                <key>frame</key>
                <string>{{754,1452},{126,146}}</string>
                <key>offset</key>
                <string>{3,47}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{196,136},{126,146}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6516151.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,800},{168,142}}</string>
                <key>offset</key>
                <string>{0,51}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{172,134},{168,142}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6516152.png</key>
            <dict>
                <key>frame</key>
                <string>{{328,986},{160,142}}</string>
                <key>offset</key>
                <string>{0,51}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{176,134},{160,142}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6516153.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,942},{160,142}}</string>
                <key>offset</key>
                <string>{0,51}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{176,134},{160,142}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6516211.png</key>
            <dict>
                <key>frame</key>
                <string>{{704,586},{168,134}}</string>
                <key>offset</key>
                <string>{-12,53}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{160,136},{168,134}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6516212.png</key>
            <dict>
                <key>frame</key>
                <string>{{178,446},{176,140}}</string>
                <key>offset</key>
                <string>{-12,40}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{156,146},{176,140}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6516213.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,270},{182,142}}</string>
                <key>offset</key>
                <string>{0,48}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{165,137},{182,142}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6516214.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,508},{170,142}}</string>
                <key>offset</key>
                <string>{13,49}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{184,136},{170,142}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6516215.png</key>
            <dict>
                <key>frame</key>
                <string>{{182,308},{178,138}}</string>
                <key>offset</key>
                <string>{8,39}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{175,148},{178,138}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6516221.png</key>
            <dict>
                <key>frame</key>
                <string>{{502,844},{164,144}}</string>
                <key>offset</key>
                <string>{11,51}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{185,133},{164,144}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6516222.png</key>
            <dict>
                <key>frame</key>
                <string>{{628,0},{184,142}}</string>
                <key>offset</key>
                <string>{4,40}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{168,145},{184,142}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6516223.png</key>
            <dict>
                <key>frame</key>
                <string>{{488,988},{126,152}}</string>
                <key>offset</key>
                <string>{15,49}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{208,131},{126,152}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6516224.png</key>
            <dict>
                <key>frame</key>
                <string>{{448,1400},{100,144}}</string>
                <key>offset</key>
                <string>{13,55}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{219,129},{100,144}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6516225.png</key>
            <dict>
                <key>frame</key>
                <string>{{290,1562},{136,132}}</string>
                <key>offset</key>
                <string>{21,49}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{209,141},{136,132}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6516231.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,1402},{100,148}}</string>
                <key>offset</key>
                <string>{19,54}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{225,128},{100,148}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6516232.png</key>
            <dict>
                <key>frame</key>
                <string>{{150,1362},{116,148}}</string>
                <key>offset</key>
                <string>{10,49}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{208,133},{116,148}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6516233.png</key>
            <dict>
                <key>frame</key>
                <string>{{470,1184},{86,150}}</string>
                <key>offset</key>
                <string>{7,56}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{220,125},{86,150}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6516234.png</key>
            <dict>
                <key>frame</key>
                <string>{{818,1068},{108,152}}</string>
                <key>offset</key>
                <string>{16,57}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{218,123},{108,152}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6516235.png</key>
            <dict>
                <key>frame</key>
                <string>{{298,1464},{98,144}}</string>
                <key>offset</key>
                <string>{7,54}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{214,130},{98,144}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6516241.png</key>
            <dict>
                <key>frame</key>
                <string>{{140,1616},{114,136}}</string>
                <key>offset</key>
                <string>{18,59}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{217,129},{114,136}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6516242.png</key>
            <dict>
                <key>frame</key>
                <string>{{442,1500},{112,138}}</string>
                <key>offset</key>
                <string>{9,56}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{209,131},{112,138}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6516243.png</key>
            <dict>
                <key>frame</key>
                <string>{{666,966},{152,144}}</string>
                <key>offset</key>
                <string>{13,56}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{193,128},{152,144}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6516244.png</key>
            <dict>
                <key>frame</key>
                <string>{{812,0},{182,152}}</string>
                <key>offset</key>
                <string>{3,55}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{168,125},{182,152}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6516245.png</key>
            <dict>
                <key>frame</key>
                <string>{{836,774},{150,158}}</string>
                <key>offset</key>
                <string>{16,53}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{197,124},{150,158}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6516251.png</key>
            <dict>
                <key>frame</key>
                <string>{{338,592},{168,148}}</string>
                <key>offset</key>
                <string>{12,57}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{184,125},{168,148}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6516252.png</key>
            <dict>
                <key>frame</key>
                <string>{{360,442},{176,150}}</string>
                <key>offset</key>
                <string>{11,58}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{179,123},{176,150}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6516253.png</key>
            <dict>
                <key>frame</key>
                <string>{{196,166},{182,142}}</string>
                <key>offset</key>
                <string>{-1,62}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{164,123},{182,142}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6516254.png</key>
            <dict>
                <key>frame</key>
                <string>{{170,586},{168,152}}</string>
                <key>offset</key>
                <string>{-13,56}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{159,124},{168,152}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6516255.png</key>
            <dict>
                <key>frame</key>
                <string>{{378,292},{178,150}}</string>
                <key>offset</key>
                <string>{-9,56}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{158,125},{178,150}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6516311.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,650},{168,150}}</string>
                <key>offset</key>
                <string>{0,51}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{172,130},{168,150}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6516312.png</key>
            <dict>
                <key>frame</key>
                <string>{{432,126},{182,166}}</string>
                <key>offset</key>
                <string>{-8,59}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{157,114},{182,166}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6516313.png</key>
            <dict>
                <key>frame</key>
                <string>{{222,0},{166,210}}</string>
                <key>offset</key>
                <string>{17,81}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{190,70},{166,210}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6516314.png</key>
            <dict>
                <key>frame</key>
                <string>{{820,924},{152,144}}</string>
                <key>offset</key>
                <string>{5,45}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{185,139},{152,144}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6516315.png</key>
            <dict>
                <key>frame</key>
                <string>{{620,1212},{148,146}}</string>
                <key>offset</key>
                <string>{17,40}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{199,143},{148,146}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6516321.png</key>
            <dict>
                <key>frame</key>
                <string>{{460,1270},{130,148}}</string>
                <key>offset</key>
                <string>{5,51}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{196,131},{130,148}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6516322.png</key>
            <dict>
                <key>frame</key>
                <string>{{672,720},{156,164}}</string>
                <key>offset</key>
                <string>{8,59}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{186,115},{156,164}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6516323.png</key>
            <dict>
                <key>frame</key>
                <string>{{614,142},{150,182}}</string>
                <key>offset</key>
                <string>{-1,68}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{180,97},{150,182}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6516324.png</key>
            <dict>
                <key>frame</key>
                <string>{{506,596},{108,168}}</string>
                <key>offset</key>
                <string>{13,53}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{215,119},{108,168}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6516325.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,412},{96,178}}</string>
                <key>offset</key>
                <string>{7,49}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{215,118},{96,178}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6516331.png</key>
            <dict>
                <key>frame</key>
                <string>{{310,1262},{72,150}}</string>
                <key>offset</key>
                <string>{2,50}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{222,131},{72,150}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6516332.png</key>
            <dict>
                <key>frame</key>
                <string>{{666,876},{90,154}}</string>
                <key>offset</key>
                <string>{0,52}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{211,127},{90,154}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6516333.png</key>
            <dict>
                <key>frame</key>
                <string>{{640,1110},{102,152}}</string>
                <key>offset</key>
                <string>{-15,51}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{190,129},{102,152}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6516334.png</key>
            <dict>
                <key>frame</key>
                <string>{{556,292},{176,156}}</string>
                <key>offset</key>
                <string>{36,53}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{204,125},{176,156}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6516335.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,1084},{122,160}}</string>
                <key>offset</key>
                <string>{2,50}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{197,126},{122,160}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6516341.png</key>
            <dict>
                <key>frame</key>
                <string>{{768,1324},{128,146}}</string>
                <key>offset</key>
                <string>{6,47}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{198,136},{128,146}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6516342.png</key>
            <dict>
                <key>frame</key>
                <string>{{148,1478},{138,142}}</string>
                <key>offset</key>
                <string>{16,45}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{203,140},{138,142}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6516343.png</key>
            <dict>
                <key>frame</key>
                <string>{{592,1486},{114,140}}</string>
                <key>offset</key>
                <string>{-21,44}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{178,142},{114,140}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6516344.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{222,138}}</string>
                <key>offset</key>
                <string>{25,43}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{170,144},{222,138}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6516345.png</key>
            <dict>
                <key>frame</key>
                <string>{{536,448},{168,148}}</string>
                <key>offset</key>
                <string>{-14,48}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{158,134},{168,148}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6516351.png</key>
            <dict>
                <key>frame</key>
                <string>{{168,738},{168,142}}</string>
                <key>offset</key>
                <string>{0,51}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{172,134},{168,142}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6516352.png</key>
            <dict>
                <key>frame</key>
                <string>{{796,152},{182,146}}</string>
                <key>offset</key>
                <string>{7,53}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{172,130},{182,146}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6516353.png</key>
            <dict>
                <key>frame</key>
                <string>{{506,704},{166,140}}</string>
                <key>offset</key>
                <string>{-18,50}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{155,136},{166,140}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6516354.png</key>
            <dict>
                <key>frame</key>
                <string>{{872,448},{152,164}}</string>
                <key>offset</key>
                <string>{-6,62}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{174,112},{152,164}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6516355.png</key>
            <dict>
                <key>frame</key>
                <string>{{792,1176},{148,148}}</string>
                <key>offset</key>
                <string>{-17,54}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{165,128},{148,148}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6516511.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,1502},{130,140}}</string>
                <key>offset</key>
                <string>{0,67}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{191,119},{130,140}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6516512.png</key>
            <dict>
                <key>frame</key>
                <string>{{432,0},{196,126}}</string>
                <key>offset</key>
                <string>{0,52}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{158,141},{196,126}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6516521.png</key>
            <dict>
                <key>frame</key>
                <string>{{320,1128},{150,134}}</string>
                <key>offset</key>
                <string>{-25,58}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{156,131},{150,134}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6516522.png</key>
            <dict>
                <key>frame</key>
                <string>{{336,740},{166,120}}</string>
                <key>offset</key>
                <string>{-29,33}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{144,163},{166,120}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6516531.png</key>
            <dict>
                <key>frame</key>
                <string>{{160,1032},{160,130}}</string>
                <key>offset</key>
                <string>{-44,53}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{132,138},{160,130}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6516532.png</key>
            <dict>
                <key>frame</key>
                <string>{{704,448},{168,138}}</string>
                <key>offset</key>
                <string>{-57,13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{115,174},{168,138}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6516541.png</key>
            <dict>
                <key>frame</key>
                <string>{{160,1162},{150,128}}</string>
                <key>offset</key>
                <string>{-28,31}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{153,161},{150,128}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6516542.png</key>
            <dict>
                <key>frame</key>
                <string>{{336,860},{164,126}}</string>
                <key>offset</key>
                <string>{-26,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{148,198},{164,126}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6516551.png</key>
            <dict>
                <key>frame</key>
                <string>{{914,1324},{130,108}}</string>
                <key>offset</key>
                <string>{0,6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{191,196},{130,108}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6516552.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,138},{196,132}}</string>
                <key>offset</key>
                <string>{0,-25}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{158,215},{196,132}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>6516.pvr.ccz</string>
            <key>size</key>
            <string>{1024,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:dca7bd83921d013da1998c43e28e6252:1/1$</string>
            <key>textureFileName</key>
            <string>6516.pvr.ccz</string>
        </dict>
    </dict>
</plist>
