<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>6052111.png</key>
            <dict>
                <key>frame</key>
                <string>{{330,1012},{164,148}}</string>
                <key>offset</key>
                <string>{-19,44}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{155,138},{164,148}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6052112.png</key>
            <dict>
                <key>frame</key>
                <string>{{878,648},{164,146}}</string>
                <key>offset</key>
                <string>{-20,45}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{154,138},{164,146}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6052113.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,662},{168,148}}</string>
                <key>offset</key>
                <string>{-18,46}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{154,136},{168,148}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6052121.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,1674},{146,154}}</string>
                <key>offset</key>
                <string>{8,44}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{191,135},{146,154}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6052122.png</key>
            <dict>
                <key>frame</key>
                <string>{{464,1840},{144,152}}</string>
                <key>offset</key>
                <string>{5,43}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{189,137},{144,152}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6052123.png</key>
            <dict>
                <key>frame</key>
                <string>{{608,1840},{144,150}}</string>
                <key>offset</key>
                <string>{6,44}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{190,137},{144,150}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6052131.png</key>
            <dict>
                <key>frame</key>
                <string>{{166,876},{160,164}}</string>
                <key>offset</key>
                <string>{14,42}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{190,132},{160,164}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6052132.png</key>
            <dict>
                <key>frame</key>
                <string>{{180,580},{156,168}}</string>
                <key>offset</key>
                <string>{15,41}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{193,131},{156,168}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6052133.png</key>
            <dict>
                <key>frame</key>
                <string>{{334,852},{160,164}}</string>
                <key>offset</key>
                <string>{13,43}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{189,131},{160,164}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6052141.png</key>
            <dict>
                <key>frame</key>
                <string>{{320,1454},{156,158}}</string>
                <key>offset</key>
                <string>{19,58}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{197,119},{156,158}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6052142.png</key>
            <dict>
                <key>frame</key>
                <string>{{494,1086},{150,162}}</string>
                <key>offset</key>
                <string>{19,58}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{200,117},{150,162}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6052143.png</key>
            <dict>
                <key>frame</key>
                <string>{{484,1392},{156,158}}</string>
                <key>offset</key>
                <string>{19,58}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{197,119},{156,158}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6052151.png</key>
            <dict>
                <key>frame</key>
                <string>{{678,808},{164,158}}</string>
                <key>offset</key>
                <string>{18,54}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{192,123},{164,158}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6052152.png</key>
            <dict>
                <key>frame</key>
                <string>{{714,648},{164,160}}</string>
                <key>offset</key>
                <string>{19,55}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{193,121},{164,160}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6052153.png</key>
            <dict>
                <key>frame</key>
                <string>{{548,608},{166,162}}</string>
                <key>offset</key>
                <string>{17,55}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{190,120},{166,162}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6052211.png</key>
            <dict>
                <key>frame</key>
                <string>{{752,1826},{146,144}}</string>
                <key>offset</key>
                <string>{4,39}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{187,145},{146,144}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6052212.png</key>
            <dict>
                <key>frame</key>
                <string>{{326,1160},{162,140}}</string>
                <key>offset</key>
                <string>{22,36}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{197,150},{162,140}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6052213.png</key>
            <dict>
                <key>frame</key>
                <string>{{280,1908},{134,148}}</string>
                <key>offset</key>
                <string>{7,31}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{196,151},{134,148}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6052214.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,1908},{128,140}}</string>
                <key>offset</key>
                <string>{-3,35}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{189,151},{128,140}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6052215.png</key>
            <dict>
                <key>frame</key>
                <string>{{154,1768},{132,136}}</string>
                <key>offset</key>
                <string>{-9,41}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{181,147},{132,136}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6052221.png</key>
            <dict>
                <key>frame</key>
                <string>{{824,970},{158,160}}</string>
                <key>offset</key>
                <string>{12,37}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{189,139},{158,160}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6052222.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,1080},{162,160}}</string>
                <key>offset</key>
                <string>{18,35}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{193,141},{162,160}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6052223.png</key>
            <dict>
                <key>frame</key>
                <string>{{160,1468},{158,154}}</string>
                <key>offset</key>
                <string>{16,43}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{193,136},{158,154}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6052224.png</key>
            <dict>
                <key>frame</key>
                <string>{{128,1908},{138,152}}</string>
                <key>offset</key>
                <string>{0,38}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{187,142},{138,152}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6052225.png</key>
            <dict>
                <key>frame</key>
                <string>{{478,1548},{142,158}}</string>
                <key>offset</key>
                <string>{-5,32}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{180,145},{142,158}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6052231.png</key>
            <dict>
                <key>frame</key>
                <string>{{656,1124},{160,156}}</string>
                <key>offset</key>
                <string>{3,48}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{179,130},{160,156}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6052232.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,1524},{150,158}}</string>
                <key>offset</key>
                <string>{1,47}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{182,130},{150,158}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6052233.png</key>
            <dict>
                <key>frame</key>
                <string>{{324,1300},{154,160}}</string>
                <key>offset</key>
                <string>{9,55}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{188,121},{154,160}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6052234.png</key>
            <dict>
                <key>frame</key>
                <string>{{348,692},{166,160}}</string>
                <key>offset</key>
                <string>{8,47}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{181,129},{166,160}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6052235.png</key>
            <dict>
                <key>frame</key>
                <string>{{662,966},{162,158}}</string>
                <key>offset</key>
                <string>{6,38}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{181,139},{162,158}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6052241.png</key>
            <dict>
                <key>frame</key>
                <string>{{596,440},{172,168}}</string>
                <key>offset</key>
                <string>{8,55}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{178,117},{172,168}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6052242.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,1240},{158,160}}</string>
                <key>offset</key>
                <string>{2,57}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{179,119},{158,160}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6052243.png</key>
            <dict>
                <key>frame</key>
                <string>{{312,1760},{148,152}}</string>
                <key>offset</key>
                <string>{5,67}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{187,113},{148,152}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6052244.png</key>
            <dict>
                <key>frame</key>
                <string>{{790,1680},{146,148}}</string>
                <key>offset</key>
                <string>{9,61}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{192,121},{146,148}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6052245.png</key>
            <dict>
                <key>frame</key>
                <string>{{158,1622},{154,146}}</string>
                <key>offset</key>
                <string>{13,57}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{192,126},{154,146}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6052251.png</key>
            <dict>
                <key>frame</key>
                <string>{{768,502},{146,168}}</string>
                <key>offset</key>
                <string>{-5,54}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{178,118},{146,168}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6052252.png</key>
            <dict>
                <key>frame</key>
                <string>{{842,812},{162,158}}</string>
                <key>offset</key>
                <string>{-22,52}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{153,125},{162,158}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6052253.png</key>
            <dict>
                <key>frame</key>
                <string>{{636,1582},{134,154}}</string>
                <key>offset</key>
                <string>{-8,55}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{181,124},{134,154}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6052254.png</key>
            <dict>
                <key>frame</key>
                <string>{{162,1198},{128,162}}</string>
                <key>offset</key>
                <string>{2,52}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{194,123},{128,162}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6052255.png</key>
            <dict>
                <key>frame</key>
                <string>{{800,1546},{134,154}}</string>
                <key>offset</key>
                <string>{8,52}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{197,127},{134,154}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6052311.png</key>
            <dict>
                <key>frame</key>
                <string>{{498,930},{164,156}}</string>
                <key>offset</key>
                <string>{-18,40}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{156,138},{164,156}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6052312.png</key>
            <dict>
                <key>frame</key>
                <string>{{648,1280},{158,158}}</string>
                <key>offset</key>
                <string>{-24,56}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{153,121},{158,158}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6052313.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,152},{114,212}}</string>
                <key>offset</key>
                <string>{-13,83}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{186,67},{114,212}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6052314.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,392},{140,194}}</string>
                <key>offset</key>
                <string>{-6,74}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{180,85},{140,194}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6052315.png</key>
            <dict>
                <key>frame</key>
                <string>{{376,556},{136,172}}</string>
                <key>offset</key>
                <string>{24,22}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{212,148},{136,172}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6052321.png</key>
            <dict>
                <key>frame</key>
                <string>{{472,1690},{152,150}}</string>
                <key>offset</key>
                <string>{11,43}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{191,138},{152,150}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6052322.png</key>
            <dict>
                <key>frame</key>
                <string>{{408,412},{188,144}}</string>
                <key>offset</key>
                <string>{0,55}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{162,129},{188,144}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6052323.png</key>
            <dict>
                <key>frame</key>
                <string>{{408,282},{130,192}}</string>
                <key>offset</key>
                <string>{-14,79}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{177,81},{130,192}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6052324.png</key>
            <dict>
                <key>frame</key>
                <string>{{600,322},{118,190}}</string>
                <key>offset</key>
                <string>{-4,78}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{193,83},{118,190}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6052325.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,266},{196,126}}</string>
                <key>offset</key>
                <string>{47,42}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{205,151},{196,126}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6052331.png</key>
            <dict>
                <key>frame</key>
                <string>{{164,1036},{162,162}}</string>
                <key>offset</key>
                <string>{15,42}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{190,133},{162,162}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6052332.png</key>
            <dict>
                <key>frame</key>
                <string>{{194,420},{182,160}}</string>
                <key>offset</key>
                <string>{0,52}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{165,124},{182,160}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6052333.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,532},{130,180}}</string>
                <key>offset</key>
                <string>{-11,62}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{180,104},{130,180}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6052334.png</key>
            <dict>
                <key>frame</key>
                <string>{{858,186},{166,164}}</string>
                <key>offset</key>
                <string>{-19,54}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{154,120},{166,164}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6052335.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{242,152}}</string>
                <key>offset</key>
                <string>{57,48}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{192,132},{242,152}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6052341.png</key>
            <dict>
                <key>frame</key>
                <string>{{514,770},{160,164}}</string>
                <key>offset</key>
                <string>{18,55}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{194,119},{160,164}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6052342.png</key>
            <dict>
                <key>frame</key>
                <string>{{488,1236},{156,160}}</string>
                <key>offset</key>
                <string>{22,55}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{200,121},{156,160}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6052343.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,810},{112,166}}</string>
                <key>offset</key>
                <string>{4,58}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{204,115},{112,166}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6052344.png</key>
            <dict>
                <key>frame</key>
                <string>{{212,250},{196,170}}</string>
                <key>offset</key>
                <string>{-18,60}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{140,111},{196,170}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6052345.png</key>
            <dict>
                <key>frame</key>
                <string>{{724,0},{204,186}}</string>
                <key>offset</key>
                <string>{10,69}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{164,94},{204,186}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6052351.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,922},{164,158}}</string>
                <key>offset</key>
                <string>{18,55}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{192,122},{164,158}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6052352.png</key>
            <dict>
                <key>frame</key>
                <string>{{816,1242},{158,158}}</string>
                <key>offset</key>
                <string>{24,57}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{201,120},{158,158}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6052353.png</key>
            <dict>
                <key>frame</key>
                <string>{{816,1128},{114,160}}</string>
                <key>offset</key>
                <string>{13,67}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{212,109},{114,160}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6052354.png</key>
            <dict>
                <key>frame</key>
                <string>{{168,736},{140,166}}</string>
                <key>offset</key>
                <string>{5,70}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{191,103},{140,166}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6052355.png</key>
            <dict>
                <key>frame</key>
                <string>{{666,186},{136,192}}</string>
                <key>offset</key>
                <string>{-24,90}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{164,70},{136,192}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6052511.png</key>
            <dict>
                <key>frame</key>
                <string>{{642,1438},{144,158}}</string>
                <key>offset</key>
                <string>{-8,68}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{176,109},{144,158}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6052512.png</key>
            <dict>
                <key>frame</key>
                <string>{{484,0},{240,134}}</string>
                <key>offset</key>
                <string>{-19,69}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{117,120},{240,134}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6052521.png</key>
            <dict>
                <key>frame</key>
                <string>{{160,1326},{142,160}}</string>
                <key>offset</key>
                <string>{-15,64}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{170,112},{142,160}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6052522.png</key>
            <dict>
                <key>frame</key>
                <string>{{242,124},{222,126}}</string>
                <key>offset</key>
                <string>{-61,40}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{84,153},{222,126}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6052531.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,1398},{126,160}}</string>
                <key>offset</key>
                <string>{-31,51}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{162,125},{126,160}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6052532.png</key>
            <dict>
                <key>frame</key>
                <string>{{790,350},{178,152}}</string>
                <key>offset</key>
                <string>{-79,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{88,188},{178,152}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6052541.png</key>
            <dict>
                <key>frame</key>
                <string>{{318,1610},{150,154}}</string>
                <key>offset</key>
                <string>{-8,47}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{173,132},{150,154}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6052542.png</key>
            <dict>
                <key>frame</key>
                <string>{{464,134},{202,148}}</string>
                <key>offset</key>
                <string>{-56,-31}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{99,213},{202,148}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6052551.png</key>
            <dict>
                <key>frame</key>
                <string>{{806,1400},{146,158}}</string>
                <key>offset</key>
                <string>{8,35}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{191,142},{146,158}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6052552.png</key>
            <dict>
                <key>frame</key>
                <string>{{242,0},{242,124}}</string>
                <key>offset</key>
                <string>{18,-36}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{153,230},{242,124}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>6052.pvr.ccz</string>
            <key>size</key>
            <string>{1024,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:af8229f7f698c7c63b84c171713c8705:1/1$</string>
            <key>textureFileName</key>
            <string>6052.pvr.ccz</string>
        </dict>
    </dict>
</plist>
