<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>6010111.png</key>
            <dict>
                <key>frame</key>
                <string>{{528,908},{100,126}}</string>
                <key>offset</key>
                <string>{2,43}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{208,150},{100,126}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6010112.png</key>
            <dict>
                <key>frame</key>
                <string>{{130,880},{100,124}}</string>
                <key>offset</key>
                <string>{2,42}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{208,152},{100,124}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6010113.png</key>
            <dict>
                <key>frame</key>
                <string>{{654,990},{100,124}}</string>
                <key>offset</key>
                <string>{2,42}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{208,152},{100,124}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6010121.png</key>
            <dict>
                <key>frame</key>
                <string>{{420,598},{98,136}}</string>
                <key>offset</key>
                <string>{-12,36}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{195,152},{98,136}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6010122.png</key>
            <dict>
                <key>frame</key>
                <string>{{574,508},{98,136}}</string>
                <key>offset</key>
                <string>{-12,35}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{195,153},{98,136}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6010123.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,692},{98,134}}</string>
                <key>offset</key>
                <string>{-11,35}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{196,154},{98,134}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6010131.png</key>
            <dict>
                <key>frame</key>
                <string>{{244,1000},{96,122}}</string>
                <key>offset</key>
                <string>{-4,38}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{204,157},{96,122}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6010132.png</key>
            <dict>
                <key>frame</key>
                <string>{{498,1008},{94,122}}</string>
                <key>offset</key>
                <string>{-4,37}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{205,158},{94,122}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6010133.png</key>
            <dict>
                <key>frame</key>
                <string>{{928,874},{96,122}}</string>
                <key>offset</key>
                <string>{-5,38}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{203,157},{96,122}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6010141.png</key>
            <dict>
                <key>frame</key>
                <string>{{672,776},{110,128}}</string>
                <key>offset</key>
                <string>{8,42}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{209,150},{110,128}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6010142.png</key>
            <dict>
                <key>frame</key>
                <string>{{818,764},{110,128}}</string>
                <key>offset</key>
                <string>{8,42}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{209,150},{110,128}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6010143.png</key>
            <dict>
                <key>frame</key>
                <string>{{400,804},{110,128}}</string>
                <key>offset</key>
                <string>{7,42}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{208,150},{110,128}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6010151.png</key>
            <dict>
                <key>frame</key>
                <string>{{842,664},{100,130}}</string>
                <key>offset</key>
                <string>{-2,47}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{204,144},{100,130}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6010152.png</key>
            <dict>
                <key>frame</key>
                <string>{{800,874},{100,128}}</string>
                <key>offset</key>
                <string>{-2,46}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{204,146},{100,128}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6010153.png</key>
            <dict>
                <key>frame</key>
                <string>{{528,808},{100,128}}</string>
                <key>offset</key>
                <string>{-2,46}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{204,146},{100,128}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6010211.png</key>
            <dict>
                <key>frame</key>
                <string>{{436,490},{108,138}}</string>
                <key>offset</key>
                <string>{-6,40}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{196,147},{108,138}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6010212.png</key>
            <dict>
                <key>frame</key>
                <string>{{122,980},{120,122}}</string>
                <key>offset</key>
                <string>{-5,42}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{191,153},{120,122}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6010213.png</key>
            <dict>
                <key>frame</key>
                <string>{{254,880},{120,122}}</string>
                <key>offset</key>
                <string>{-7,46}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{189,149},{120,122}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6010214.png</key>
            <dict>
                <key>frame</key>
                <string>{{710,562},{118,132}}</string>
                <key>offset</key>
                <string>{-11,37}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{186,153},{118,132}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6010215.png</key>
            <dict>
                <key>frame</key>
                <string>{{276,634},{116,134}}</string>
                <key>offset</key>
                <string>{-12,35}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{186,154},{116,134}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6010221.png</key>
            <dict>
                <key>frame</key>
                <string>{{874,312},{98,148}}</string>
                <key>offset</key>
                <string>{-3,30}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{204,152},{98,148}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6010222.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,494},{96,140}}</string>
                <key>offset</key>
                <string>{-7,32}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{201,154},{96,140}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6010223.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,392},{102,142}}</string>
                <key>offset</key>
                <string>{-3,35}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{202,150},{102,142}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6010224.png</key>
            <dict>
                <key>frame</key>
                <string>{{874,124},{98,150}}</string>
                <key>offset</key>
                <string>{-5,24}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{202,157},{98,150}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6010225.png</key>
            <dict>
                <key>frame</key>
                <string>{{874,222},{90,150}}</string>
                <key>offset</key>
                <string>{-8,23}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{203,158},{90,150}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6010231.png</key>
            <dict>
                <key>frame</key>
                <string>{{136,660},{98,134}}</string>
                <key>offset</key>
                <string>{14,38}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{221,151},{98,134}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6010232.png</key>
            <dict>
                <key>frame</key>
                <string>{{688,680},{96,130}}</string>
                <key>offset</key>
                <string>{6,36}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{214,155},{96,130}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6010233.png</key>
            <dict>
                <key>frame</key>
                <string>{{542,716},{92,130}}</string>
                <key>offset</key>
                <string>{2,37}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{212,154},{92,130}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6010234.png</key>
            <dict>
                <key>frame</key>
                <string>{{598,420},{88,140}}</string>
                <key>offset</key>
                <string>{6,26}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{218,160},{88,140}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6010235.png</key>
            <dict>
                <key>frame</key>
                <string>{{282,544},{90,138}}</string>
                <key>offset</key>
                <string>{13,27}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{224,160},{90,138}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6010241.png</key>
            <dict>
                <key>frame</key>
                <string>{{458,356},{140,134}}</string>
                <key>offset</key>
                <string>{16,46}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{202,143},{140,134}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6010242.png</key>
            <dict>
                <key>frame</key>
                <string>{{738,436},{132,126}}</string>
                <key>offset</key>
                <string>{17,45}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{207,148},{132,126}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6010243.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,1024},{122,118}}</string>
                <key>offset</key>
                <string>{19,50}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{214,147},{122,118}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6010244.png</key>
            <dict>
                <key>frame</key>
                <string>{{782,974},{122,124}}</string>
                <key>offset</key>
                <string>{21,42}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{216,152},{122,124}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6010245.png</key>
            <dict>
                <key>frame</key>
                <string>{{134,758},{130,122}}</string>
                <key>offset</key>
                <string>{21,46}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{212,149},{130,122}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6010251.png</key>
            <dict>
                <key>frame</key>
                <string>{{556,606},{110,132}}</string>
                <key>offset</key>
                <string>{5,51}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{206,139},{110,132}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6010252.png</key>
            <dict>
                <key>frame</key>
                <string>{{904,0},{120,124}}</string>
                <key>offset</key>
                <string>{4,49}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{200,145},{120,124}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6010253.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,904},{120,122}}</string>
                <key>offset</key>
                <string>{6,55}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{202,140},{120,122}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6010254.png</key>
            <dict>
                <key>frame</key>
                <string>{{906,996},{118,124}}</string>
                <key>offset</key>
                <string>{11,49}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{208,145},{118,124}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6010255.png</key>
            <dict>
                <key>frame</key>
                <string>{{366,1022},{116,120}}</string>
                <key>offset</key>
                <string>{11,55}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{209,141},{116,120}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6010311.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,790},{130,114}}</string>
                <key>offset</key>
                <string>{-11,45}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{180,154},{130,114}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6010312.png</key>
            <dict>
                <key>frame</key>
                <string>{{374,116},{162,116}}</string>
                <key>offset</key>
                <string>{-33,46}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{142,152},{162,116}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6010313.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,108},{86,182}}</string>
                <key>offset</key>
                <string>{-8,80}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{205,85},{86,182}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6010314.png</key>
            <dict>
                <key>frame</key>
                <string>{{714,114},{118,160}}</string>
                <key>offset</key>
                <string>{30,5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{227,171},{118,160}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6010315.png</key>
            <dict>
                <key>frame</key>
                <string>{{340,232},{78,156}}</string>
                <key>offset</key>
                <string>{9,5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{226,173},{78,156}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6010321.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,1142},{92,116}}</string>
                <key>offset</key>
                <string>{-3,43}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{207,155},{92,116}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6010322.png</key>
            <dict>
                <key>frame</key>
                <string>{{154,340},{142,110}}</string>
                <key>offset</key>
                <string>{-24,46}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{161,155},{142,110}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6010323.png</key>
            <dict>
                <key>frame</key>
                <string>{{182,118},{146,158}}</string>
                <key>offset</key>
                <string>{-39,70}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{144,107},{146,158}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6010324.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{190,108}}</string>
                <key>offset</key>
                <string>{61,33}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{222,169},{190,108}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6010325.png</key>
            <dict>
                <key>frame</key>
                <string>{{730,0},{174,114}}</string>
                <key>offset</key>
                <string>{52,32}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{221,167},{174,114}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6010331.png</key>
            <dict>
                <key>frame</key>
                <string>{{244,1096},{96,120}}</string>
                <key>offset</key>
                <string>{14,41}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{222,155},{96,120}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6010332.png</key>
            <dict>
                <key>frame</key>
                <string>{{790,320},{80,116}}</string>
                <key>offset</key>
                <string>{-6,39}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{210,159},{80,116}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6010333.png</key>
            <dict>
                <key>frame</key>
                <string>{{552,0},{178,112}}</string>
                <key>offset</key>
                <string>{-62,37}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{105,163},{178,112}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6010334.png</key>
            <dict>
                <key>frame</key>
                <string>{{374,0},{178,116}}</string>
                <key>offset</key>
                <string>{58,39}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{225,159},{178,116}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6010335.png</key>
            <dict>
                <key>frame</key>
                <string>{{190,0},{184,118}}</string>
                <key>offset</key>
                <string>{62,40}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{226,157},{184,118}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6010341.png</key>
            <dict>
                <key>frame</key>
                <string>{{296,416},{140,128}}</string>
                <key>offset</key>
                <string>{26,42}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{212,150},{140,128}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6010342.png</key>
            <dict>
                <key>frame</key>
                <string>{{122,1100},{104,116}}</string>
                <key>offset</key>
                <string>{16,36}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{220,162},{104,116}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6010343.png</key>
            <dict>
                <key>frame</key>
                <string>{{312,310},{146,106}}</string>
                <key>offset</key>
                <string>{-45,31}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{138,172},{146,106}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6010344.png</key>
            <dict>
                <key>frame</key>
                <string>{{142,450},{100,140}}</string>
                <key>offset</key>
                <string>{18,48}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{224,138},{100,140}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6010345.png</key>
            <dict>
                <key>frame</key>
                <string>{{870,410},{136,140}}</string>
                <key>offset</key>
                <string>{32,48}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{220,138},{136,140}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6010351.png</key>
            <dict>
                <key>frame</key>
                <string>{{270,750},{130,130}}</string>
                <key>offset</key>
                <string>{10,47}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{201,144},{130,130}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6010352.png</key>
            <dict>
                <key>frame</key>
                <string>{{552,112},{162,122}}</string>
                <key>offset</key>
                <string>{32,43}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{207,152},{162,122}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6010353.png</key>
            <dict>
                <key>frame</key>
                <string>{{620,1090},{86,102}}</string>
                <key>offset</key>
                <string>{8,27}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{221,178},{86,102}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6010354.png</key>
            <dict>
                <key>frame</key>
                <string>{{870,546},{118,138}}</string>
                <key>offset</key>
                <string>{-30,51}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{167,136},{118,138}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6010355.png</key>
            <dict>
                <key>frame</key>
                <string>{{156,264},{76,156}}</string>
                <key>offset</key>
                <string>{-9,60}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{209,118},{76,156}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6010511.png</key>
            <dict>
                <key>frame</key>
                <string>{{140,550},{136,110}}</string>
                <key>offset</key>
                <string>{-15,72}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{173,129},{136,110}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6010512.png</key>
            <dict>
                <key>frame</key>
                <string>{{496,234},{152,122}}</string>
                <key>offset</key>
                <string>{10,85}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{190,110},{152,122}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6010521.png</key>
            <dict>
                <key>frame</key>
                <string>{{376,914},{108,122}}</string>
                <key>offset</key>
                <string>{-45,47}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{157,148},{108,122}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6010522.png</key>
            <dict>
                <key>frame</key>
                <string>{{410,696},{132,108}}</string>
                <key>offset</key>
                <string>{-68,58}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{122,144},{132,108}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6010531.png</key>
            <dict>
                <key>frame</key>
                <string>{{656,886},{126,104}}</string>
                <key>offset</key>
                <string>{-52,21}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{141,183},{126,104}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6010532.png</key>
            <dict>
                <key>frame</key>
                <string>{{648,320},{142,100}}</string>
                <key>offset</key>
                <string>{-108,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{77,202},{142,100}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6010541.png</key>
            <dict>
                <key>frame</key>
                <string>{{714,232},{160,88}}</string>
                <key>offset</key>
                <string>{-15,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{161,207},{160,88}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6010542.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,194},{156,94}}</string>
                <key>offset</key>
                <string>{-82,-38}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{96,247},{156,94}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6010551.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,590},{136,102}}</string>
                <key>offset</key>
                <string>{15,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{203,207},{136,102}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6010552.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,288},{154,104}}</string>
                <key>offset</key>
                <string>{-11,-57}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{168,261},{154,104}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>6010.pvr.ccz</string>
            <key>size</key>
            <string>{1024,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:882daedb45fd294b3a6f48a6dc2d9298:1/1$</string>
            <key>textureFileName</key>
            <string>6010.pvr.ccz</string>
        </dict>
    </dict>
</plist>
