<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>7519111.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,114},{56,106}}</string>
                <key>offset</key>
                <string>{2,40}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{230,163},{56,106}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>7519112.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{58,108}}</string>
                <key>offset</key>
                <string>{4,41}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{231,161},{58,108}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>7519113.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,58},{56,108}}</string>
                <key>offset</key>
                <string>{4,41}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{232,161},{56,108}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>7519.pvr.ccz</string>
            <key>size</key>
            <string>{128,256}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:75b3785be87605a6e9f9674697883284:1/1$</string>
            <key>textureFileName</key>
            <string>7519.pvr.ccz</string>
        </dict>
    </dict>
</plist>
