<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bossFire1.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{266,690}}</string>
                <key>offset</key>
                <string>{-1,242}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{506,53},{266,690}}</string>
                <key>sourceSize</key>
                <string>{1280,1280}</string>
            </dict>
            <key>bossFire2.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,1330},{266,688}}</string>
                <key>offset</key>
                <string>{-1,244}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{506,52},{266,688}}</string>
                <key>sourceSize</key>
                <string>{1280,1280}</string>
            </dict>
            <key>bossFire3.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,1064},{266,688}}</string>
                <key>offset</key>
                <string>{-1,244}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{506,52},{266,688}}</string>
                <key>sourceSize</key>
                <string>{1280,1280}</string>
            </dict>
            <key>bossFire4.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,798},{266,688}}</string>
                <key>offset</key>
                <string>{-1,244}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{506,52},{266,688}}</string>
                <key>sourceSize</key>
                <string>{1280,1280}</string>
            </dict>
            <key>bossFire5.png</key>
            <dict>
                <key>frame</key>
                <string>{{688,688},{266,688}}</string>
                <key>offset</key>
                <string>{-1,244}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{506,52},{266,688}}</string>
                <key>sourceSize</key>
                <string>{1280,1280}</string>
            </dict>
            <key>bossFire6.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,532},{266,688}}</string>
                <key>offset</key>
                <string>{-1,244}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{506,52},{266,688}}</string>
                <key>sourceSize</key>
                <string>{1280,1280}</string>
            </dict>
            <key>bossFire7.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,266},{266,688}}</string>
                <key>offset</key>
                <string>{-1,244}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{506,52},{266,688}}</string>
                <key>sourceSize</key>
                <string>{1280,1280}</string>
            </dict>
            <key>bossFire8.png</key>
            <dict>
                <key>frame</key>
                <string>{{690,0},{266,688}}</string>
                <key>offset</key>
                <string>{-1,244}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{506,52},{266,688}}</string>
                <key>sourceSize</key>
                <string>{1280,1280}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>bossFire.pvr.ccz</string>
            <key>size</key>
            <string>{1024,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:8ea878cfac68b92f55b89c6a71a1c2e7:1/1$</string>
            <key>textureFileName</key>
            <string>bossFire.pvr.ccz</string>
        </dict>
    </dict>
</plist>
