<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>mapBtnEffect1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{49,49}</string>
                <key>spriteSourceSize</key>
                <string>{55,55}</string>
                <key>textureRect</key>
                <string>{{1,223},{49,49}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>mapBtnEffect2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{49,49}</string>
                <key>spriteSourceSize</key>
                <string>{55,55}</string>
                <key>textureRect</key>
                <string>{{1,274},{49,49}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>mapBtnEffect3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{45,45}</string>
                <key>spriteSourceSize</key>
                <string>{55,55}</string>
                <key>textureRect</key>
                <string>{{1,376},{45,45}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>mapBtnEffect4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{49,49}</string>
                <key>spriteSourceSize</key>
                <string>{55,55}</string>
                <key>textureRect</key>
                <string>{{1,325},{49,49}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>mapBtnEffect5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{53,51}</string>
                <key>spriteSourceSize</key>
                <string>{55,55}</string>
                <key>textureRect</key>
                <string>{{1,170},{53,51}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>mapBtnEffect6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{53,53}</string>
                <key>spriteSourceSize</key>
                <string>{55,55}</string>
                <key>textureRect</key>
                <string>{{1,115},{53,53}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>mapBtnEffect7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{55,55}</string>
                <key>spriteSourceSize</key>
                <string>{55,55}</string>
                <key>textureRect</key>
                <string>{{1,1},{55,55}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>mapBtnEffect8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{55,55}</string>
                <key>spriteSourceSize</key>
                <string>{55,55}</string>
                <key>textureRect</key>
                <string>{{1,58},{55,55}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>realTextureFileName</key>
            <string>mapBtnEffect.pvr.ccz</string>
            <key>size</key>
            <string>{58,422}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:37ef24c0810ea96c3aa088c3adf94ae6:7fec4a394ef42c599aa57afb957d7ee6:874dcf989986dde8a8492c0f61cee122$</string>
            <key>textureFileName</key>
            <string>mapBtnEffect.pvr.ccz</string>
        </dict>
    </dict>
</plist>
