<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>face331.png</key>
			<dict>
				<key>width</key>
				<integer>69</integer>
				<key>height</key>
				<integer>48</integer>
				<key>originalWidth</key>
				<integer>69</integer>
				<key>originalHeight</key>
				<integer>48</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>face3310.png</key>
			<dict>
				<key>width</key>
				<integer>69</integer>
				<key>height</key>
				<integer>48</integer>
				<key>originalWidth</key>
				<integer>69</integer>
				<key>originalHeight</key>
				<integer>48</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>49</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>face3311.png</key>
			<dict>
				<key>width</key>
				<integer>69</integer>
				<key>height</key>
				<integer>48</integer>
				<key>originalWidth</key>
				<integer>69</integer>
				<key>originalHeight</key>
				<integer>48</integer>
				<key>x</key>
				<integer>70</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>face3312.png</key>
			<dict>
				<key>width</key>
				<integer>69</integer>
				<key>height</key>
				<integer>48</integer>
				<key>originalWidth</key>
				<integer>69</integer>
				<key>originalHeight</key>
				<integer>48</integer>
				<key>x</key>
				<integer>70</integer>
				<key>y</key>
				<integer>49</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>face3313.png</key>
			<dict>
				<key>width</key>
				<integer>69</integer>
				<key>height</key>
				<integer>48</integer>
				<key>originalWidth</key>
				<integer>69</integer>
				<key>originalHeight</key>
				<integer>48</integer>
				<key>x</key>
				<integer>140</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>face3314.png</key>
			<dict>
				<key>width</key>
				<integer>69</integer>
				<key>height</key>
				<integer>48</integer>
				<key>originalWidth</key>
				<integer>69</integer>
				<key>originalHeight</key>
				<integer>48</integer>
				<key>x</key>
				<integer>140</integer>
				<key>y</key>
				<integer>49</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>face3315.png</key>
			<dict>
				<key>width</key>
				<integer>69</integer>
				<key>height</key>
				<integer>48</integer>
				<key>originalWidth</key>
				<integer>69</integer>
				<key>originalHeight</key>
				<integer>48</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>98</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>face3316.png</key>
			<dict>
				<key>width</key>
				<integer>69</integer>
				<key>height</key>
				<integer>48</integer>
				<key>originalWidth</key>
				<integer>69</integer>
				<key>originalHeight</key>
				<integer>48</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>147</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>face332.png</key>
			<dict>
				<key>width</key>
				<integer>69</integer>
				<key>height</key>
				<integer>48</integer>
				<key>originalWidth</key>
				<integer>69</integer>
				<key>originalHeight</key>
				<integer>48</integer>
				<key>x</key>
				<integer>70</integer>
				<key>y</key>
				<integer>98</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>face333.png</key>
			<dict>
				<key>width</key>
				<integer>69</integer>
				<key>height</key>
				<integer>48</integer>
				<key>originalWidth</key>
				<integer>69</integer>
				<key>originalHeight</key>
				<integer>48</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>196</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>face334.png</key>
			<dict>
				<key>width</key>
				<integer>69</integer>
				<key>height</key>
				<integer>48</integer>
				<key>originalWidth</key>
				<integer>69</integer>
				<key>originalHeight</key>
				<integer>48</integer>
				<key>x</key>
				<integer>70</integer>
				<key>y</key>
				<integer>147</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>face335.png</key>
			<dict>
				<key>width</key>
				<integer>69</integer>
				<key>height</key>
				<integer>48</integer>
				<key>originalWidth</key>
				<integer>69</integer>
				<key>originalHeight</key>
				<integer>48</integer>
				<key>x</key>
				<integer>140</integer>
				<key>y</key>
				<integer>98</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>face336.png</key>
			<dict>
				<key>width</key>
				<integer>69</integer>
				<key>height</key>
				<integer>48</integer>
				<key>originalWidth</key>
				<integer>69</integer>
				<key>originalHeight</key>
				<integer>48</integer>
				<key>x</key>
				<integer>70</integer>
				<key>y</key>
				<integer>196</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>face337.png</key>
			<dict>
				<key>width</key>
				<integer>69</integer>
				<key>height</key>
				<integer>48</integer>
				<key>originalWidth</key>
				<integer>69</integer>
				<key>originalHeight</key>
				<integer>48</integer>
				<key>x</key>
				<integer>140</integer>
				<key>y</key>
				<integer>147</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>face338.png</key>
			<dict>
				<key>width</key>
				<integer>69</integer>
				<key>height</key>
				<integer>48</integer>
				<key>originalWidth</key>
				<integer>69</integer>
				<key>originalHeight</key>
				<integer>48</integer>
				<key>x</key>
				<integer>140</integer>
				<key>y</key>
				<integer>196</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>face339.png</key>
			<dict>
				<key>width</key>
				<integer>69</integer>
				<key>height</key>
				<integer>48</integer>
				<key>originalWidth</key>
				<integer>69</integer>
				<key>originalHeight</key>
				<integer>48</integer>
				<key>x</key>
				<integer>210</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>0</integer>
			<key>textureFileName</key>
			<string>face330.png</string>
			<key>realTextureFileName</key>
			<string>face330.png</string>
			<key>size</key>
			<string>{4096,4096}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>4096</integer>
			<key>height</key>
			<integer>4096</integer>
		</dict>
	</dict>
</plist>