<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>6520111.png</key>
            <dict>
                <key>frame</key>
                <string>{{776,732},{172,248}}</string>
                <key>offset</key>
                <string>{-10,70}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{416,318},{172,248}}</string>
                <key>sourceSize</key>
                <string>{1024,1024}</string>
            </dict>
            <key>6520112.png</key>
            <dict>
                <key>frame</key>
                <string>{{1426,738},{176,248}}</string>
                <key>offset</key>
                <string>{-7,70}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{417,318},{176,248}}</string>
                <key>sourceSize</key>
                <string>{1024,1024}</string>
            </dict>
            <key>6520113.png</key>
            <dict>
                <key>frame</key>
                <string>{{254,962},{182,246}}</string>
                <key>offset</key>
                <string>{-6,69}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{415,320},{182,246}}</string>
                <key>sourceSize</key>
                <string>{1024,1024}</string>
            </dict>
            <key>6520121.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,808},{254,222}}</string>
                <key>offset</key>
                <string>{-4,50}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{381,351},{254,222}}</string>
                <key>sourceSize</key>
                <string>{1024,1024}</string>
            </dict>
            <key>6520122.png</key>
            <dict>
                <key>frame</key>
                <string>{{1796,284},{250,222}}</string>
                <key>offset</key>
                <string>{-4,50}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{383,351},{250,222}}</string>
                <key>sourceSize</key>
                <string>{1024,1024}</string>
            </dict>
            <key>6520123.png</key>
            <dict>
                <key>frame</key>
                <string>{{260,738},{254,224}}</string>
                <key>offset</key>
                <string>{-4,51}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{381,349},{254,224}}</string>
                <key>sourceSize</key>
                <string>{1024,1024}</string>
            </dict>
            <key>6520131.png</key>
            <dict>
                <key>frame</key>
                <string>{{628,120},{288,190}}</string>
                <key>offset</key>
                <string>{-23,55}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{345,362},{288,190}}</string>
                <key>sourceSize</key>
                <string>{1024,1024}</string>
            </dict>
            <key>6520132.png</key>
            <dict>
                <key>frame</key>
                <string>{{314,146},{288,188}}</string>
                <key>offset</key>
                <string>{-21,54}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{347,364},{288,188}}</string>
                <key>sourceSize</key>
                <string>{1024,1024}</string>
            </dict>
            <key>6520133.png</key>
            <dict>
                <key>frame</key>
                <string>{{1232,0},{286,188}}</string>
                <key>offset</key>
                <string>{-23,54}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{346,364},{286,188}}</string>
                <key>sourceSize</key>
                <string>{1024,1024}</string>
            </dict>
            <key>6520141.png</key>
            <dict>
                <key>frame</key>
                <string>{{1424,1690},{220,218}}</string>
                <key>offset</key>
                <string>{4,62}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{406,341},{220,218}}</string>
                <key>sourceSize</key>
                <string>{1024,1024}</string>
            </dict>
            <key>6520142.png</key>
            <dict>
                <key>frame</key>
                <string>{{1674,888},{214,218}}</string>
                <key>offset</key>
                <string>{1,62}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{406,341},{214,218}}</string>
                <key>sourceSize</key>
                <string>{1024,1024}</string>
            </dict>
            <key>6520143.png</key>
            <dict>
                <key>frame</key>
                <string>{{1446,1040},{214,216}}</string>
                <key>offset</key>
                <string>{2,61}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{407,343},{214,216}}</string>
                <key>sourceSize</key>
                <string>{1024,1024}</string>
            </dict>
            <key>6520151.png</key>
            <dict>
                <key>frame</key>
                <string>{{696,1484},{170,234}}</string>
                <key>offset</key>
                <string>{9,60}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{436,335},{170,234}}</string>
                <key>sourceSize</key>
                <string>{1024,1024}</string>
            </dict>
            <key>6520152.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,1370},{174,238}}</string>
                <key>offset</key>
                <string>{6,59}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{431,334},{174,238}}</string>
                <key>sourceSize</key>
                <string>{1024,1024}</string>
            </dict>
            <key>6520153.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,1190},{180,238}}</string>
                <key>offset</key>
                <string>{6,59}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{428,334},{180,238}}</string>
                <key>sourceSize</key>
                <string>{1024,1024}</string>
            </dict>
            <key>6520211.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,1748},{158,236}}</string>
                <key>offset</key>
                <string>{-3,62}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{430,332},{158,236}}</string>
                <key>sourceSize</key>
                <string>{1024,1024}</string>
            </dict>
            <key>6520212.png</key>
            <dict>
                <key>frame</key>
                <string>{{466,1584},{150,230}}</string>
                <key>offset</key>
                <string>{-5,66}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{432,331},{150,230}}</string>
                <key>sourceSize</key>
                <string>{1024,1024}</string>
            </dict>
            <key>6520213.png</key>
            <dict>
                <key>frame</key>
                <string>{{1024,808},{158,244}}</string>
                <key>offset</key>
                <string>{2,61}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{435,329},{158,244}}</string>
                <key>sourceSize</key>
                <string>{1024,1024}</string>
            </dict>
            <key>6520214.png</key>
            <dict>
                <key>frame</key>
                <string>{{236,1584},{158,230}}</string>
                <key>offset</key>
                <string>{7,63}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{440,334},{158,230}}</string>
                <key>sourceSize</key>
                <string>{1024,1024}</string>
            </dict>
            <key>6520215.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,1030},{160,246}}</string>
                <key>offset</key>
                <string>{7,58}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{439,331},{160,246}}</string>
                <key>sourceSize</key>
                <string>{1024,1024}</string>
            </dict>
            <key>6520221.png</key>
            <dict>
                <key>frame</key>
                <string>{{1240,1044},{224,206}}</string>
                <key>offset</key>
                <string>{-6,51}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{394,358},{224,206}}</string>
                <key>sourceSize</key>
                <string>{1024,1024}</string>
            </dict>
            <key>6520222.png</key>
            <dict>
                <key>frame</key>
                <string>{{1214,1714},{222,210}}</string>
                <key>offset</key>
                <string>{-8,52}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{393,355},{222,210}}</string>
                <key>sourceSize</key>
                <string>{1024,1024}</string>
            </dict>
            <key>6520223.png</key>
            <dict>
                <key>frame</key>
                <string>{{994,1716},{232,220}}</string>
                <key>offset</key>
                <string>{-9,55}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{387,347},{232,220}}</string>
                <key>sourceSize</key>
                <string>{1024,1024}</string>
            </dict>
            <key>6520224.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,1544},{236,204}}</string>
                <key>offset</key>
                <string>{-12,60}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{382,350},{236,204}}</string>
                <key>sourceSize</key>
                <string>{1024,1024}</string>
            </dict>
            <key>6520225.png</key>
            <dict>
                <key>frame</key>
                <string>{{238,1374},{236,210}}</string>
                <key>offset</key>
                <string>{-8,47}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{386,360},{236,210}}</string>
                <key>sourceSize</key>
                <string>{1024,1024}</string>
            </dict>
            <key>6520231.png</key>
            <dict>
                <key>frame</key>
                <string>{{882,340},{276,180}}</string>
                <key>offset</key>
                <string>{-36,63}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{338,359},{276,180}}</string>
                <key>sourceSize</key>
                <string>{1024,1024}</string>
            </dict>
            <key>6520232.png</key>
            <dict>
                <key>frame</key>
                <string>{{1198,188},{276,186}}</string>
                <key>offset</key>
                <string>{-37,61}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{337,358},{276,186}}</string>
                <key>sourceSize</key>
                <string>{1024,1024}</string>
            </dict>
            <key>6520233.png</key>
            <dict>
                <key>frame</key>
                <string>{{1518,0},{278,176}}</string>
                <key>offset</key>
                <string>{-36,61}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{337,363},{278,176}}</string>
                <key>sourceSize</key>
                <string>{1024,1024}</string>
            </dict>
            <key>6520234.png</key>
            <dict>
                <key>frame</key>
                <string>{{602,310},{280,180}}</string>
                <key>offset</key>
                <string>{-34,66}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{338,356},{280,180}}</string>
                <key>sourceSize</key>
                <string>{1024,1024}</string>
            </dict>
            <key>6520235.png</key>
            <dict>
                <key>frame</key>
                <string>{{916,164},{282,176}}</string>
                <key>offset</key>
                <string>{-34,64}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{337,360},{282,176}}</string>
                <key>sourceSize</key>
                <string>{1024,1024}</string>
            </dict>
            <key>6520241.png</key>
            <dict>
                <key>frame</key>
                <string>{{246,1144},{238,230}}</string>
                <key>offset</key>
                <string>{-12,64}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{381,333},{238,230}}</string>
                <key>sourceSize</key>
                <string>{1024,1024}</string>
            </dict>
            <key>6520242.png</key>
            <dict>
                <key>frame</key>
                <string>{{500,1034},{240,230}}</string>
                <key>offset</key>
                <string>{-11,66}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{381,331},{240,230}}</string>
                <key>sourceSize</key>
                <string>{1024,1024}</string>
            </dict>
            <key>6520243.png</key>
            <dict>
                <key>frame</key>
                <string>{{484,1264},{236,220}}</string>
                <key>offset</key>
                <string>{-7,67}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{387,335},{236,220}}</string>
                <key>sourceSize</key>
                <string>{1024,1024}</string>
            </dict>
            <key>6520244.png</key>
            <dict>
                <key>frame</key>
                <string>{{866,1484},{222,232}}</string>
                <key>offset</key>
                <string>{-6,67}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{395,329},{222,232}}</string>
                <key>sourceSize</key>
                <string>{1024,1024}</string>
            </dict>
            <key>6520245.png</key>
            <dict>
                <key>frame</key>
                <string>{{768,1718},{226,232}}</string>
                <key>offset</key>
                <string>{-10,63}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{389,333},{226,232}}</string>
                <key>sourceSize</key>
                <string>{1024,1024}</string>
            </dict>
            <key>6520251.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,652},{156,260}}</string>
                <key>offset</key>
                <string>{2,57}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{436,325},{156,260}}</string>
                <key>sourceSize</key>
                <string>{1024,1024}</string>
            </dict>
            <key>6520252.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,334},{148,264}}</string>
                <key>offset</key>
                <string>{4,57}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{442,323},{148,264}}</string>
                <key>sourceSize</key>
                <string>{1024,1024}</string>
            </dict>
            <key>6520253.png</key>
            <dict>
                <key>frame</key>
                <string>{{520,660},{158,256}}</string>
                <key>offset</key>
                <string>{-3,56}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{430,328},{158,256}}</string>
                <key>sourceSize</key>
                <string>{1024,1024}</string>
            </dict>
            <key>6520254.png</key>
            <dict>
                <key>frame</key>
                <string>{{1694,730},{158,264}}</string>
                <key>offset</key>
                <string>{-8,56}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{425,324},{158,264}}</string>
                <key>sourceSize</key>
                <string>{1024,1024}</string>
            </dict>
            <key>6520255.png</key>
            <dict>
                <key>frame</key>
                <string>{{260,578},{160,260}}</string>
                <key>offset</key>
                <string>{-8,56}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{424,326},{160,260}}</string>
                <key>sourceSize</key>
                <string>{1024,1024}</string>
            </dict>
            <key>6520311.png</key>
            <dict>
                <key>frame</key>
                <string>{{1424,914},{126,212}}</string>
                <key>offset</key>
                <string>{0,92}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{449,314},{126,212}}</string>
                <key>sourceSize</key>
                <string>{1024,1024}</string>
            </dict>
            <key>6520312.png</key>
            <dict>
                <key>frame</key>
                <string>{{1298,592},{128,204}}</string>
                <key>offset</key>
                <string>{-3,78}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{445,332},{128,204}}</string>
                <key>sourceSize</key>
                <string>{1024,1024}</string>
            </dict>
            <key>6520313.png</key>
            <dict>
                <key>frame</key>
                <string>{{1474,310},{128,276}}</string>
                <key>offset</key>
                <string>{-1,42}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{447,332},{128,276}}</string>
                <key>sourceSize</key>
                <string>{1024,1024}</string>
            </dict>
            <key>6520314.png</key>
            <dict>
                <key>frame</key>
                <string>{{1518,176},{134,278}}</string>
                <key>offset</key>
                <string>{-5,54}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{440,319},{134,278}}</string>
                <key>sourceSize</key>
                <string>{1024,1024}</string>
            </dict>
            <key>6520315.png</key>
            <dict>
                <key>frame</key>
                <string>{{1796,0},{158,252}}</string>
                <key>offset</key>
                <string>{-4,71}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{429,315},{158,252}}</string>
                <key>sourceSize</key>
                <string>{1024,1024}</string>
            </dict>
            <key>6520321.png</key>
            <dict>
                <key>frame</key>
                <string>{{586,1734},{234,182}}</string>
                <key>offset</key>
                <string>{-22,80}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{373,341},{234,182}}</string>
                <key>sourceSize</key>
                <string>{1024,1024}</string>
            </dict>
            <key>6520322.png</key>
            <dict>
                <key>frame</key>
                <string>{{1162,1290},{214,178}}</string>
                <key>offset</key>
                <string>{-25,78}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{380,345},{214,178}}</string>
                <key>sourceSize</key>
                <string>{1024,1024}</string>
            </dict>
            <key>6520323.png</key>
            <dict>
                <key>frame</key>
                <string>{{740,1062},{236,228}}</string>
                <key>offset</key>
                <string>{0,38}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{394,360},{236,228}}</string>
                <key>sourceSize</key>
                <string>{1024,1024}</string>
            </dict>
            <key>6520324.png</key>
            <dict>
                <key>frame</key>
                <string>{{264,334},{262,244}}</string>
                <key>offset</key>
                <string>{-1,43}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{380,347},{262,244}}</string>
                <key>sourceSize</key>
                <string>{1024,1024}</string>
            </dict>
            <key>6520325.png</key>
            <dict>
                <key>frame</key>
                <string>{{1702,506},{264,224}}</string>
                <key>offset</key>
                <string>{5,50}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{385,350},{264,224}}</string>
                <key>sourceSize</key>
                <string>{1024,1024}</string>
            </dict>
            <key>6520331.png</key>
            <dict>
                <key>frame</key>
                <string>{{1044,592},{254,216}}</string>
                <key>offset</key>
                <string>{-47,68}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{338,336},{254,216}}</string>
                <key>sourceSize</key>
                <string>{1024,1024}</string>
            </dict>
            <key>6520332.png</key>
            <dict>
                <key>frame</key>
                <string>{{1158,374},{272,218}}</string>
                <key>offset</key>
                <string>{-39,69}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{337,334},{272,218}}</string>
                <key>sourceSize</key>
                <string>{1024,1024}</string>
            </dict>
            <key>6520333.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{314,152}}</string>
                <key>offset</key>
                <string>{1,36}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{356,400},{314,152}}</string>
                <key>sourceSize</key>
                <string>{1024,1024}</string>
            </dict>
            <key>6520334.png</key>
            <dict>
                <key>frame</key>
                <string>{{932,0},{300,164}}</string>
                <key>offset</key>
                <string>{-4,40}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{358,390},{300,164}}</string>
                <key>sourceSize</key>
                <string>{1024,1024}</string>
            </dict>
            <key>6520335.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,152},{288,182}}</string>
                <key>offset</key>
                <string>{-16,51}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{352,370},{288,182}}</string>
                <key>sourceSize</key>
                <string>{1024,1024}</string>
            </dict>
            <key>6520341.png</key>
            <dict>
                <key>frame</key>
                <string>{{1088,1482},{206,232}}</string>
                <key>offset</key>
                <string>{-7,66}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{402,330},{206,232}}</string>
                <key>sourceSize</key>
                <string>{1024,1024}</string>
            </dict>
            <key>6520342.png</key>
            <dict>
                <key>frame</key>
                <string>{{786,520},{212,258}}</string>
                <key>offset</key>
                <string>{-9,57}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{397,326},{212,258}}</string>
                <key>sourceSize</key>
                <string>{1024,1024}</string>
            </dict>
            <key>6520343.png</key>
            <dict>
                <key>frame</key>
                <string>{{378,1742},{234,208}}</string>
                <key>offset</key>
                <string>{12,56}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{407,352},{234,208}}</string>
                <key>sourceSize</key>
                <string>{1024,1024}</string>
            </dict>
            <key>6520344.png</key>
            <dict>
                <key>frame</key>
                <string>{{514,818},{246,216}}</string>
                <key>offset</key>
                <string>{22,61}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{411,343},{246,216}}</string>
                <key>sourceSize</key>
                <string>{1024,1024}</string>
            </dict>
            <key>6520345.png</key>
            <dict>
                <key>frame</key>
                <string>{{158,1748},{234,220}}</string>
                <key>offset</key>
                <string>{17,63}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{412,339},{234,220}}</string>
                <key>sourceSize</key>
                <string>{1024,1024}</string>
            </dict>
            <key>6520351.png</key>
            <dict>
                <key>frame</key>
                <string>{{1298,796},{126,248}}</string>
                <key>offset</key>
                <string>{0,52}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{449,336},{126,248}}</string>
                <key>sourceSize</key>
                <string>{1024,1024}</string>
            </dict>
            <key>6520352.png</key>
            <dict>
                <key>frame</key>
                <string>{{1430,438},{130,272}}</string>
                <key>offset</key>
                <string>{2,41}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{449,335},{130,272}}</string>
                <key>sourceSize</key>
                <string>{1024,1024}</string>
            </dict>
            <key>6520353.png</key>
            <dict>
                <key>frame</key>
                <string>{{1796,158},{126,252}}</string>
                <key>offset</key>
                <string>{0,56}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{449,330},{126,252}}</string>
                <key>sourceSize</key>
                <string>{1024,1024}</string>
            </dict>
            <key>6520354.png</key>
            <dict>
                <key>frame</key>
                <string>{{1002,966},{134,238}}</string>
                <key>offset</key>
                <string>{5,72}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{450,321},{134,238}}</string>
                <key>sourceSize</key>
                <string>{1024,1024}</string>
            </dict>
            <key>6520355.png</key>
            <dict>
                <key>frame</key>
                <string>{{760,904},{158,242}}</string>
                <key>offset</key>
                <string>{4,62}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{437,329},{158,242}}</string>
                <key>sourceSize</key>
                <string>{1024,1024}</string>
            </dict>
            <key>6520511.png</key>
            <dict>
                <key>frame</key>
                <string>{{936,1290},{192,226}}</string>
                <key>offset</key>
                <string>{-56,79}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{360,320},{192,226}}</string>
                <key>sourceSize</key>
                <string>{1024,1024}</string>
            </dict>
            <key>6520512.png</key>
            <dict>
                <key>frame</key>
                <string>{{1294,1468},{206,222}}</string>
                <key>offset</key>
                <string>{-100,37}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{309,364},{206,222}}</string>
                <key>sourceSize</key>
                <string>{1024,1024}</string>
            </dict>
            <key>6520521.png</key>
            <dict>
                <key>frame</key>
                <string>{{976,1100},{220,190}}</string>
                <key>offset</key>
                <string>{-77,40}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{325,377},{220,190}}</string>
                <key>sourceSize</key>
                <string>{1024,1024}</string>
            </dict>
            <key>6520522.png</key>
            <dict>
                <key>frame</key>
                <string>{{526,490},{260,170}}</string>
                <key>offset</key>
                <string>{-94,-12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{288,439},{260,170}}</string>
                <key>sourceSize</key>
                <string>{1024,1024}</string>
            </dict>
            <key>6520531.png</key>
            <dict>
                <key>frame</key>
                <string>{{628,0},{304,120}}</string>
                <key>offset</key>
                <string>{-51,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{309,444},{304,120}}</string>
                <key>sourceSize</key>
                <string>{1024,1024}</string>
            </dict>
            <key>6520532.png</key>
            <dict>
                <key>frame</key>
                <string>{{314,0},{314,146}}</string>
                <key>offset</key>
                <string>{-39,-56}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{316,495},{314,146}}</string>
                <key>sourceSize</key>
                <string>{1024,1024}</string>
            </dict>
            <key>6520541.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,482},{260,170}}</string>
                <key>offset</key>
                <string>{5,19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{387,408},{260,170}}</string>
                <key>sourceSize</key>
                <string>{1024,1024}</string>
            </dict>
            <key>6520542.png</key>
            <dict>
                <key>frame</key>
                <string>{{1430,568},{264,170}}</string>
                <key>offset</key>
                <string>{32,-49}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{412,476},{264,170}}</string>
                <key>sourceSize</key>
                <string>{1024,1024}</string>
            </dict>
            <key>6520551.png</key>
            <dict>
                <key>frame</key>
                <string>{{720,1290},{194,216}}</string>
                <key>offset</key>
                <string>{55,24}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{470,380},{194,216}}</string>
                <key>sourceSize</key>
                <string>{1024,1024}</string>
            </dict>
            <key>6520552.png</key>
            <dict>
                <key>frame</key>
                <string>{{1446,1254},{206,212}}</string>
                <key>offset</key>
                <string>{100,-18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{509,424},{206,212}}</string>
                <key>sourceSize</key>
                <string>{1024,1024}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>6520.pvr.ccz</string>
            <key>size</key>
            <string>{2048,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:6740871b3f651cea0bd9ea9c9e24f75b:1/1$</string>
            <key>textureFileName</key>
            <string>6520.pvr.ccz</string>
        </dict>
    </dict>
</plist>
