<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>6042111.png</key>
            <dict>
                <key>frame</key>
                <string>{{584,838},{84,108}}</string>
                <key>offset</key>
                <string>{9,39}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{223,163},{84,108}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6042112.png</key>
            <dict>
                <key>frame</key>
                <string>{{686,922},{84,106}}</string>
                <key>offset</key>
                <string>{2,38}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{216,165},{84,106}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6042113.png</key>
            <dict>
                <key>frame</key>
                <string>{{772,748},{78,104}}</string>
                <key>offset</key>
                <string>{10,37}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{227,167},{78,104}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6042121.png</key>
            <dict>
                <key>frame</key>
                <string>{{692,782},{80,104}}</string>
                <key>offset</key>
                <string>{13,43}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{229,161},{80,104}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6042122.png</key>
            <dict>
                <key>frame</key>
                <string>{{610,922},{76,102}}</string>
                <key>offset</key>
                <string>{17,42}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{235,163},{76,102}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6042123.png</key>
            <dict>
                <key>frame</key>
                <string>{{530,922},{80,102}}</string>
                <key>offset</key>
                <string>{15,42}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{231,163},{80,102}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6042131.png</key>
            <dict>
                <key>frame</key>
                <string>{{252,422},{86,126}}</string>
                <key>offset</key>
                <string>{6,49}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{219,144},{86,126}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6042132.png</key>
            <dict>
                <key>frame</key>
                <string>{{120,824},{78,118}}</string>
                <key>offset</key>
                <string>{5,45}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{222,152},{78,118}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6042133.png</key>
            <dict>
                <key>frame</key>
                <string>{{488,656},{86,120}}</string>
                <key>offset</key>
                <string>{11,46}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{224,150},{86,120}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6042141.png</key>
            <dict>
                <key>frame</key>
                <string>{{372,548},{84,122}}</string>
                <key>offset</key>
                <string>{16,50}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{230,145},{84,122}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6042142.png</key>
            <dict>
                <key>frame</key>
                <string>{{626,450},{90,122}}</string>
                <key>offset</key>
                <string>{14,49}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{225,146},{90,122}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6042143.png</key>
            <dict>
                <key>frame</key>
                <string>{{246,628},{82,122}}</string>
                <key>offset</key>
                <string>{17,50}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{232,145},{82,122}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6042151.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,830},{84,114}}</string>
                <key>offset</key>
                <string>{-9,49}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{205,150},{84,114}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6042152.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,914},{84,110}}</string>
                <key>offset</key>
                <string>{-3,45}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{211,156},{84,110}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6042153.png</key>
            <dict>
                <key>frame</key>
                <string>{{84,914},{78,110}}</string>
                <key>offset</key>
                <string>{-10,47}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{207,154},{78,110}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6042211.png</key>
            <dict>
                <key>frame</key>
                <string>{{362,722},{118,114}}</string>
                <key>offset</key>
                <string>{-10,41}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{187,158},{118,114}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6042212.png</key>
            <dict>
                <key>frame</key>
                <string>{{502,450},{124,106}}</string>
                <key>offset</key>
                <string>{-10,48}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{184,155},{124,106}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6042213.png</key>
            <dict>
                <key>frame</key>
                <string>{{408,322},{126,106}}</string>
                <key>offset</key>
                <string>{-13,58}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{180,145},{126,106}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6042214.png</key>
            <dict>
                <key>frame</key>
                <string>{{250,508},{120,122}}</string>
                <key>offset</key>
                <string>{-13,54}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{183,141},{120,122}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6042215.png</key>
            <dict>
                <key>frame</key>
                <string>{{608,668},{108,114}}</string>
                <key>offset</key>
                <string>{-14,48}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{188,151},{108,114}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6042221.png</key>
            <dict>
                <key>frame</key>
                <string>{{242,798},{82,118}}</string>
                <key>offset</key>
                <string>{2,46}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{217,151},{82,118}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6042222.png</key>
            <dict>
                <key>frame</key>
                <string>{{480,742},{96,112}}</string>
                <key>offset</key>
                <string>{-3,53}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{205,147},{96,112}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6042223.png</key>
            <dict>
                <key>frame</key>
                <string>{{360,836},{94,112}}</string>
                <key>offset</key>
                <string>{-3,61}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{206,139},{94,112}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6042224.png</key>
            <dict>
                <key>frame</key>
                <string>{{746,180},{82,134}}</string>
                <key>offset</key>
                <string>{0,48}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{215,141},{82,134}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6042225.png</key>
            <dict>
                <key>frame</key>
                <string>{{242,710},{88,120}}</string>
                <key>offset</key>
                <string>{-1,44}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{211,152},{88,120}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6042231.png</key>
            <dict>
                <key>frame</key>
                <string>{{840,596},{88,124}}</string>
                <key>offset</key>
                <string>{10,49}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{222,145},{88,124}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6042232.png</key>
            <dict>
                <key>frame</key>
                <string>{{588,270},{100,130}}</string>
                <key>offset</key>
                <string>{1,49}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{207,142},{100,130}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6042233.png</key>
            <dict>
                <key>frame</key>
                <string>{{746,262},{74,134}}</string>
                <key>offset</key>
                <string>{3,53}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{222,136},{74,134}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6042234.png</key>
            <dict>
                <key>frame</key>
                <string>{{614,100},{80,142}}</string>
                <key>offset</key>
                <string>{-6,48}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{210,137},{80,142}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6042235.png</key>
            <dict>
                <key>frame</key>
                <string>{{840,500},{96,124}}</string>
                <key>offset</key>
                <string>{-10,48}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{198,146},{96,124}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6042241.png</key>
            <dict>
                <key>frame</key>
                <string>{{718,336},{124,128}}</string>
                <key>offset</key>
                <string>{24,42}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{218,150},{124,128}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6042242.png</key>
            <dict>
                <key>frame</key>
                <string>{{898,0},{126,140}}</string>
                <key>offset</key>
                <string>{23,41}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{216,145},{126,140}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6042243.png</key>
            <dict>
                <key>frame</key>
                <string>{{146,186},{114,134}}</string>
                <key>offset</key>
                <string>{24,46}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{223,143},{114,134}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6042244.png</key>
            <dict>
                <key>frame</key>
                <string>{{124,592},{114,122}}</string>
                <key>offset</key>
                <string>{17,48}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{216,147},{114,122}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6042245.png</key>
            <dict>
                <key>frame</key>
                <string>{{378,428},{124,120}}</string>
                <key>offset</key>
                <string>{13,41}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{207,155},{124,120}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6042251.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,712},{118,120}}</string>
                <key>offset</key>
                <string>{9,41}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{206,155},{118,120}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6042252.png</key>
            <dict>
                <key>frame</key>
                <string>{{880,274},{124,130}}</string>
                <key>offset</key>
                <string>{9,40}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{203,151},{124,130}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6042253.png</key>
            <dict>
                <key>frame</key>
                <string>{{134,300},{126,118}}</string>
                <key>offset</key>
                <string>{12,45}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{205,152},{126,118}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6042254.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,318},{118,126}}</string>
                <key>offset</key>
                <string>{12,40}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{209,153},{118,126}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6042255.png</key>
            <dict>
                <key>frame</key>
                <string>{{458,214},{108,130}}</string>
                <key>offset</key>
                <string>{14,34}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{216,157},{108,130}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6042311.png</key>
            <dict>
                <key>frame</key>
                <string>{{494,556},{100,120}}</string>
                <key>offset</key>
                <string>{-23,24}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{183,172},{100,120}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6042312.png</key>
            <dict>
                <key>frame</key>
                <string>{{612,180},{90,134}}</string>
                <key>offset</key>
                <string>{-11,31}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{200,158},{90,134}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6042313.png</key>
            <dict>
                <key>frame</key>
                <string>{{170,92},{148,94}}</string>
                <key>offset</key>
                <string>{-21,11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{161,198},{148,94}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6042314.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,134},{90,146}}</string>
                <key>offset</key>
                <string>{7,37}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{218,146},{90,146}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6042315.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,436},{88,126}}</string>
                <key>offset</key>
                <string>{2,27}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{214,166},{88,126}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6042321.png</key>
            <dict>
                <key>frame</key>
                <string>{{424,930},{90,106}}</string>
                <key>offset</key>
                <string>{-6,42}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{205,161},{90,106}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6042322.png</key>
            <dict>
                <key>frame</key>
                <string>{{716,460},{104,124}}</string>
                <key>offset</key>
                <string>{-21,51}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{183,143},{104,124}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6042323.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,600},{122,112}}</string>
                <key>offset</key>
                <string>{7,38}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{202,162},{122,112}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6042324.png</key>
            <dict>
                <key>frame</key>
                <string>{{472,0},{116,142}}</string>
                <key>offset</key>
                <string>{16,60}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{214,125},{116,142}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6042325.png</key>
            <dict>
                <key>frame</key>
                <string>{{260,326},{96,126}}</string>
                <key>offset</key>
                <string>{11,52}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{219,141},{96,126}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6042331.png</key>
            <dict>
                <key>frame</key>
                <string>{{234,902},{96,112}}</string>
                <key>offset</key>
                <string>{0,38}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{208,162},{96,112}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6042332.png</key>
            <dict>
                <key>frame</key>
                <string>{{368,632},{90,120}}</string>
                <key>offset</key>
                <string>{-11,47}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{200,149},{90,120}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6042333.png</key>
            <dict>
                <key>frame</key>
                <string>{{472,116},{98,140}}</string>
                <key>offset</key>
                <string>{15,43}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{222,143},{98,140}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6042334.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{170,134}}</string>
                <key>offset</key>
                <string>{2,55}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{173,134},{170,134}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6042335.png</key>
            <dict>
                <key>frame</key>
                <string>{{122,706},{118,120}}</string>
                <key>offset</key>
                <string>{1,48}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{198,148},{118,120}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6042341.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,524},{76,124}}</string>
                <key>offset</key>
                <string>{14,40}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{232,154},{76,124}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6042342.png</key>
            <dict>
                <key>frame</key>
                <string>{{716,652},{96,120}}</string>
                <key>offset</key>
                <string>{-14,38}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{194,158},{96,120}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6042343.png</key>
            <dict>
                <key>frame</key>
                <string>{{614,0},{100,142}}</string>
                <key>offset</key>
                <string>{29,49}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{235,136},{100,142}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6042344.png</key>
            <dict>
                <key>frame</key>
                <string>{{898,140},{134,126}}</string>
                <key>offset</key>
                <string>{-16,42}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{173,151},{134,126}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6042345.png</key>
            <dict>
                <key>frame</key>
                <string>{{534,370},{80,126}}</string>
                <key>offset</key>
                <string>{-9,41}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{207,152},{80,126}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6042351.png</key>
            <dict>
                <key>frame</key>
                <string>{{846,398},{102,128}}</string>
                <key>offset</key>
                <string>{21,41}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{226,151},{102,128}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6042352.png</key>
            <dict>
                <key>frame</key>
                <string>{{126,418},{90,126}}</string>
                <key>offset</key>
                <string>{8,40}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{219,153},{90,126}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6042353.png</key>
            <dict>
                <key>frame</key>
                <string>{{324,0},{148,142}}</string>
                <key>offset</key>
                <string>{19,53}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{201,132},{148,142}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6042354.png</key>
            <dict>
                <key>frame</key>
                <string>{{280,236},{90,128}}</string>
                <key>offset</key>
                <string>{-9,44}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{202,148},{90,128}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6042355.png</key>
            <dict>
                <key>frame</key>
                <string>{{716,564},{88,124}}</string>
                <key>offset</key>
                <string>{-4,40}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{208,154},{88,124}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6042511.png</key>
            <dict>
                <key>frame</key>
                <string>{{472,838},{84,112}}</string>
                <key>offset</key>
                <string>{-6,28}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{208,172},{84,112}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6042512.png</key>
            <dict>
                <key>frame</key>
                <string>{{756,94},{142,86}}</string>
                <key>offset</key>
                <string>{-8,-13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{177,226},{142,86}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6042521.png</key>
            <dict>
                <key>frame</key>
                <string>{{330,930},{94,94}}</string>
                <key>offset</key>
                <string>{1,31}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{210,178},{94,94}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6042522.png</key>
            <dict>
                <key>frame</key>
                <string>{{756,0},{142,94}}</string>
                <key>offset</key>
                <string>{3,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{188,215},{142,94}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6042531.png</key>
            <dict>
                <key>frame</key>
                <string>{{614,572},{96,102}}</string>
                <key>offset</key>
                <string>{0,37}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{208,168},{96,102}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6042532.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,224},{134,94}}</string>
                <key>offset</key>
                <string>{20,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{209,209},{134,94}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6042541.png</key>
            <dict>
                <key>frame</key>
                <string>{{162,902},{72,114}}</string>
                <key>offset</key>
                <string>{-5,38}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{215,161},{72,114}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6042542.png</key>
            <dict>
                <key>frame</key>
                <string>{{170,0},{154,92}}</string>
                <key>offset</key>
                <string>{23,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{202,205},{154,92}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6042551.png</key>
            <dict>
                <key>frame</key>
                <string>{{126,508},{84,124}}</string>
                <key>offset</key>
                <string>{5,31}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{219,163},{84,124}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6042552.png</key>
            <dict>
                <key>frame</key>
                <string>{{318,142},{140,94}}</string>
                <key>offset</key>
                <string>{7,17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{193,192},{140,94}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>6042.pvr.ccz</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:09e5cb6fd65f938857598782c4f46362:1/1$</string>
            <key>textureFileName</key>
            <string>6042.pvr.ccz</string>
        </dict>
    </dict>
</plist>
