<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>itemcolor_221.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{82,82}</string>
                <key>spriteSourceSize</key>
                <string>{82,82}</string>
                <key>textureRect</key>
                <string>{{1,1},{82,82}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>itemcolor_222.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{82,82}</string>
                <key>spriteSourceSize</key>
                <string>{82,82}</string>
                <key>textureRect</key>
                <string>{{85,1},{82,82}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>itemcolor_223.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{82,82}</string>
                <key>spriteSourceSize</key>
                <string>{82,82}</string>
                <key>textureRect</key>
                <string>{{169,1},{82,82}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>itemcolor_224.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{82,82}</string>
                <key>spriteSourceSize</key>
                <string>{82,82}</string>
                <key>textureRect</key>
                <string>{{253,1},{82,82}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>itemcolor_225.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{82,82}</string>
                <key>spriteSourceSize</key>
                <string>{82,82}</string>
                <key>textureRect</key>
                <string>{{337,1},{82,82}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>itemcolor_226.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{82,82}</string>
                <key>spriteSourceSize</key>
                <string>{82,82}</string>
                <key>textureRect</key>
                <string>{{421,1},{82,82}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>realTextureFileName</key>
            <string>itemcolor_22.pvr.ccz</string>
            <key>size</key>
            <string>{504,84}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:35fd7cfdfa17088abd1b0e03c2dcb793:734ab69205f094e88de56d3238a35040:ecb548c006f7313cbfdaf07427d5b23d$</string>
            <key>textureFileName</key>
            <string>itemcolor_22.pvr.ccz</string>
        </dict>
    </dict>
</plist>
