<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>831111.png</key>
            <dict>
                <key>frame</key>
                <string>{{250,190},{26,40}}</string>
                <key>offset</key>
                <string>{-2,32}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{241,204},{26,40}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>831112.png</key>
            <dict>
                <key>frame</key>
                <string>{{184,360},{50,76}}</string>
                <key>offset</key>
                <string>{-1,15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{230,203},{50,76}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>831113.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,284},{80,114}}</string>
                <key>offset</key>
                <string>{-3,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{213,202},{80,114}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>831114.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,198},{86,114}}</string>
                <key>offset</key>
                <string>{0,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{213,203},{86,114}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>831115.png</key>
            <dict>
                <key>frame</key>
                <string>{{276,180},{90,124}}</string>
                <key>offset</key>
                <string>{0,-10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{211,204},{90,124}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>831121.png</key>
            <dict>
                <key>frame</key>
                <string>{{34,470},{36,36}}</string>
                <key>offset</key>
                <string>{47,40}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{285,198},{36,36}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>831122.png</key>
            <dict>
                <key>frame</key>
                <string>{{114,298},{68,66}}</string>
                <key>offset</key>
                <string>{63,24}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{285,199},{68,66}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>831123.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,364},{106,98}}</string>
                <key>offset</key>
                <string>{82,9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{285,198},{106,98}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>831124.png</key>
            <dict>
                <key>frame</key>
                <string>{{400,204},{110,98}}</string>
                <key>offset</key>
                <string>{85,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{286,198},{110,98}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>831125.png</key>
            <dict>
                <key>frame</key>
                <string>{{128,190},{122,108}}</string>
                <key>offset</key>
                <string>{90,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{285,193},{122,108}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>831131.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,470},{42,34}}</string>
                <key>offset</key>
                <string>{61,72}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{296,167},{42,34}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>831132.png</key>
            <dict>
                <key>frame</key>
                <string>{{182,302},{82,58}}</string>
                <key>offset</key>
                <string>{81,65}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{296,162},{82,58}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>831133.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,108},{128,90}}</string>
                <key>offset</key>
                <string>{102,71}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{294,140},{128,90}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>831134.png</key>
            <dict>
                <key>frame</key>
                <string>{{146,96},{130,94}}</string>
                <key>offset</key>
                <string>{105,77}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{296,132},{130,94}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>831135.png</key>
            <dict>
                <key>frame</key>
                <string>{{146,0},{146,96}}</string>
                <key>offset</key>
                <string>{113,78}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{296,130},{146,96}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>831141.png</key>
            <dict>
                <key>frame</key>
                <string>{{70,470},{48,32}}</string>
                <key>offset</key>
                <string>{44,107}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{276,133},{48,32}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>831142.png</key>
            <dict>
                <key>frame</key>
                <string>{{264,270},{92,56}}</string>
                <key>offset</key>
                <string>{65,114}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{275,114},{92,56}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>831143.png</key>
            <dict>
                <key>frame</key>
                <string>{{292,94},{136,86}}</string>
                <key>offset</key>
                <string>{87,125}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{275,88},{136,86}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>831144.png</key>
            <dict>
                <key>frame</key>
                <string>{{292,0},{144,94}}</string>
                <key>offset</key>
                <string>{92,128}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{276,81},{144,94}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>831145.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{146,108}}</string>
                <key>offset</key>
                <string>{93,137}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{276,65},{146,108}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>831151.png</key>
            <dict>
                <key>frame</key>
                <string>{{400,180},{24,28}}</string>
                <key>offset</key>
                <string>{1,117}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{245,125},{24,28}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>831152.png</key>
            <dict>
                <key>frame</key>
                <string>{{184,436},{46,72}}</string>
                <key>offset</key>
                <string>{2,131}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{235,89},{46,72}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>831153.png</key>
            <dict>
                <key>frame</key>
                <string>{{436,0},{76,112}}</string>
                <key>offset</key>
                <string>{0,147}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{218,53},{76,112}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>831154.png</key>
            <dict>
                <key>frame</key>
                <string>{{428,112},{82,90}}</string>
                <key>offset</key>
                <string>{2,159}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{217,52},{82,90}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>831155.png</key>
            <dict>
                <key>frame</key>
                <string>{{98,364},{86,106}}</string>
                <key>offset</key>
                <string>{2,162}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{215,41},{86,106}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>8311.pvr.ccz</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:1e376fdbb6d065838cbaf2b8dbb9e620:1/1$</string>
            <key>textureFileName</key>
            <string>8311.pvr.ccz</string>
        </dict>
    </dict>
</plist>
