<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>6045111.png</key>
            <dict>
                <key>frame</key>
                <string>{{746,778},{110,110}}</string>
                <key>offset</key>
                <string>{-3,95}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{198,106},{110,110}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6045112.png</key>
            <dict>
                <key>frame</key>
                <string>{{404,72},{184,92}}</string>
                <key>offset</key>
                <string>{-1,124}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{163,86},{184,92}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6045113.png</key>
            <dict>
                <key>frame</key>
                <string>{{202,0},{202,74}}</string>
                <key>offset</key>
                <string>{1,114}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{156,105},{202,74}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6045121.png</key>
            <dict>
                <key>frame</key>
                <string>{{318,146},{86,132}}</string>
                <key>offset</key>
                <string>{4,85}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{217,105},{86,132}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6045122.png</key>
            <dict>
                <key>frame</key>
                <string>{{134,572},{132,128}}</string>
                <key>offset</key>
                <string>{-21,140}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{169,52},{132,128}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6045123.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,274},{148,112}}</string>
                <key>offset</key>
                <string>{-8,131}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{174,69},{148,112}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6045131.png</key>
            <dict>
                <key>frame</key>
                <string>{{962,76},{60,130}}</string>
                <key>offset</key>
                <string>{-11,83}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{215,108},{60,130}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6045132.png</key>
            <dict>
                <key>frame</key>
                <string>{{136,400},{76,136}}</string>
                <key>offset</key>
                <string>{-24,140}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{194,48},{76,136}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6045133.png</key>
            <dict>
                <key>frame</key>
                <string>{{952,338},{72,138}}</string>
                <key>offset</key>
                <string>{-22,132}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{198,55},{72,138}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6045141.png</key>
            <dict>
                <key>frame</key>
                <string>{{194,922},{96,102}}</string>
                <key>offset</key>
                <string>{5,86}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{213,119},{96,102}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6045142.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,462},{134,116}}</string>
                <key>offset</key>
                <string>{-18,122}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{171,76},{134,116}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6045143.png</key>
            <dict>
                <key>frame</key>
                <string>{{546,314},{142,122}}</string>
                <key>offset</key>
                <string>{-11,118}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{174,77},{142,122}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6045151.png</key>
            <dict>
                <key>frame</key>
                <string>{{508,764},{108,80}}</string>
                <key>offset</key>
                <string>{2,88}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{204,128},{108,80}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6045152.png</key>
            <dict>
                <key>frame</key>
                <string>{{202,74},{184,72}}</string>
                <key>offset</key>
                <string>{1,100}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{165,120},{184,72}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6045153.png</key>
            <dict>
                <key>frame</key>
                <string>{{404,0},{202,72}}</string>
                <key>offset</key>
                <string>{-2,96}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{153,124},{202,72}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6045211.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,838},{108,94}}</string>
                <key>offset</key>
                <string>{-3,98}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{199,111},{108,94}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6045212.png</key>
            <dict>
                <key>frame</key>
                <string>{{606,0},{202,58}}</string>
                <key>offset</key>
                <string>{-2,117}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{153,110},{202,58}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6045213.png</key>
            <dict>
                <key>frame</key>
                <string>{{404,382},{142,92}}</string>
                <key>offset</key>
                <string>{4,134}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{189,76},{142,92}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6045214.png</key>
            <dict>
                <key>frame</key>
                <string>{{588,126},{156,88}}</string>
                <key>offset</key>
                <string>{8,131}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{186,81},{156,88}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6045215.png</key>
            <dict>
                <key>frame</key>
                <string>{{606,58},{192,68}}</string>
                <key>offset</key>
                <string>{0,111}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{160,111},{192,68}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6045221.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,754},{84,122}}</string>
                <key>offset</key>
                <string>{-10,86}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{204,109},{84,122}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6045222.png</key>
            <dict>
                <key>frame</key>
                <string>{{404,164},{148,96}}</string>
                <key>offset</key>
                <string>{-6,103}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{176,105},{148,96}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6045223.png</key>
            <dict>
                <key>frame</key>
                <string>{{686,484},{112,116}}</string>
                <key>offset</key>
                <string>{-2,146}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{198,52},{112,116}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6045224.png</key>
            <dict>
                <key>frame</key>
                <string>{{266,604},{124,116}}</string>
                <key>offset</key>
                <string>{1,144}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{195,54},{124,116}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6045225.png</key>
            <dict>
                <key>frame</key>
                <string>{{546,436},{140,104}}</string>
                <key>offset</key>
                <string>{-5,97}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{181,107},{140,104}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6045231.png</key>
            <dict>
                <key>frame</key>
                <string>{{268,538},{66,134}}</string>
                <key>offset</key>
                <string>{-22,79}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{201,110},{66,134}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6045232.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,684},{70,132}}</string>
                <key>offset</key>
                <string>{-22,101}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{199,89},{70,132}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6045233.png</key>
            <dict>
                <key>frame</key>
                <string>{{404,474},{68,134}}</string>
                <key>offset</key>
                <string>{-17,153}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{205,36},{68,134}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6045234.png</key>
            <dict>
                <key>frame</key>
                <string>{{954,206},{70,132}}</string>
                <key>offset</key>
                <string>{-19,153}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{202,37},{70,132}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6045235.png</key>
            <dict>
                <key>frame</key>
                <string>{{402,542},{68,126}}</string>
                <key>offset</key>
                <string>{-22,85}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{200,108},{68,126}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6045241.png</key>
            <dict>
                <key>frame</key>
                <string>{{390,690},{94,118}}</string>
                <key>offset</key>
                <string>{-10,79}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{199,118},{94,118}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6045242.png</key>
            <dict>
                <key>frame</key>
                <string>{{552,214},{144,100}}</string>
                <key>offset</key>
                <string>{0,101}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{184,105},{144,100}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6045243.png</key>
            <dict>
                <key>frame</key>
                <string>{{798,340},{116,140}}</string>
                <key>offset</key>
                <string>{-6,137}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{192,49},{116,140}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6045244.png</key>
            <dict>
                <key>frame</key>
                <string>{{798,456},{124,138}}</string>
                <key>offset</key>
                <string>{-9,139}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{185,48},{124,138}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6045245.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,578},{132,106}}</string>
                <key>offset</key>
                <string>{-5,89}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{185,114},{132,106}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6045251.png</key>
            <dict>
                <key>frame</key>
                <string>{{934,654},{108,90}}</string>
                <key>offset</key>
                <string>{3,84}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{205,127},{108,90}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6045252.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{202,78}}</string>
                <key>offset</key>
                <string>{2,94}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{157,123},{202,78}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6045253.png</key>
            <dict>
                <key>frame</key>
                <string>{{404,260},{142,122}}</string>
                <key>offset</key>
                <string>{-4,120}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{181,75},{142,122}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6045254.png</key>
            <dict>
                <key>frame</key>
                <string>{{798,222},{154,118}}</string>
                <key>offset</key>
                <string>{-9,119}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{170,78},{154,118}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6045255.png</key>
            <dict>
                <key>frame</key>
                <string>{{808,0},{192,76}}</string>
                <key>offset</key>
                <string>{-1,95}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{159,123},{192,76}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6045311.png</key>
            <dict>
                <key>frame</key>
                <string>{{798,152},{156,70}}</string>
                <key>offset</key>
                <string>{-3,118}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{175,103},{156,70}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6045312.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,78},{164,104}}</string>
                <key>offset</key>
                <string>{-2,164}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{172,40},{164,104}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6045313.png</key>
            <dict>
                <key>frame</key>
                <string>{{798,580},{136,122}}</string>
                <key>offset</key>
                <string>{2,174}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{190,21},{136,122}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6045314.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,182},{152,92}}</string>
                <key>offset</key>
                <string>{8,97}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{188,113},{152,92}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6045315.png</key>
            <dict>
                <key>frame</key>
                <string>{{856,850},{98,58}}</string>
                <key>offset</key>
                <string>{-12,60}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{195,167},{98,58}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6045321.png</key>
            <dict>
                <key>frame</key>
                <string>{{304,278},{128,100}}</string>
                <key>offset</key>
                <string>{-7,105}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{185,101},{128,100}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6045322.png</key>
            <dict>
                <key>frame</key>
                <string>{{538,540},{124,130}}</string>
                <key>offset</key>
                <string>{-57,169}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{137,22},{124,130}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6045323.png</key>
            <dict>
                <key>frame</key>
                <string>{{272,406},{132,132}}</string>
                <key>offset</key>
                <string>{-66,172}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{124,18},{132,132}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6045324.png</key>
            <dict>
                <key>frame</key>
                <string>{{134,476},{134,96}}</string>
                <key>offset</key>
                <string>{24,103}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{213,105},{134,96}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6045325.png</key>
            <dict>
                <key>frame</key>
                <string>{{936,574},{88,80}}</string>
                <key>offset</key>
                <string>{14,59}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{226,157},{88,80}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6045331.png</key>
            <dict>
                <key>frame</key>
                <string>{{744,126},{54,122}}</string>
                <key>offset</key>
                <string>{-20,93}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{209,102},{54,122}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6045332.png</key>
            <dict>
                <key>frame</key>
                <string>{{668,600},{82,126}}</string>
                <key>offset</key>
                <string>{-58,140}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{157,53},{82,126}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6045333.png</key>
            <dict>
                <key>frame</key>
                <string>{{928,834},{96,112}}</string>
                <key>offset</key>
                <string>{-77,138}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{131,62},{96,112}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6045334.png</key>
            <dict>
                <key>frame</key>
                <string>{{254,720},{70,118}}</string>
                <key>offset</key>
                <string>{22,128}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{243,69},{70,118}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6045335.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,946},{78,94}}</string>
                <key>offset</key>
                <string>{31,70}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{248,139},{78,94}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6045341.png</key>
            <dict>
                <key>frame</key>
                <string>{{616,820},{102,106}}</string>
                <key>offset</key>
                <string>{-6,93}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{199,110},{102,106}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6045342.png</key>
            <dict>
                <key>frame</key>
                <string>{{148,320},{136,80}}</string>
                <key>offset</key>
                <string>{-58,105}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{130,111},{136,80}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6045343.png</key>
            <dict>
                <key>frame</key>
                <string>{{390,610},{122,80}}</string>
                <key>offset</key>
                <string>{-71,101}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{124,115},{122,80}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6045344.png</key>
            <dict>
                <key>frame</key>
                <string>{{696,248},{102,116}}</string>
                <key>offset</key>
                <string>{12,134}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{217,64},{102,116}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6045345.png</key>
            <dict>
                <key>frame</key>
                <string>{{936,476},{88,98}}</string>
                <key>offset</key>
                <string>{18,86}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{230,121},{88,98}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6045351.png</key>
            <dict>
                <key>frame</key>
                <string>{{164,146},{154,86}}</string>
                <key>offset</key>
                <string>{3,100}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{182,113},{154,86}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6045352.png</key>
            <dict>
                <key>frame</key>
                <string>{{798,76},{164,76}}</string>
                <key>offset</key>
                <string>{2,98}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{176,120},{164,76}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6045353.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,386},{136,76}}</string>
                <key>offset</key>
                <string>{-3,94}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{185,124},{136,76}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6045354.png</key>
            <dict>
                <key>frame</key>
                <string>{{152,232},{152,88}}</string>
                <key>offset</key>
                <string>{-8,129}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{172,83},{152,88}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6045355.png</key>
            <dict>
                <key>frame</key>
                <string>{{94,922},{102,100}}</string>
                <key>offset</key>
                <string>{13,92}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{218,114},{102,100}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6045511.png</key>
            <dict>
                <key>frame</key>
                <string>{{512,664},{120,100}}</string>
                <key>offset</key>
                <string>{27,60}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{223,146},{120,100}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6045512.png</key>
            <dict>
                <key>frame</key>
                <string>{{864,702},{72,70}}</string>
                <key>offset</key>
                <string>{14,28}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{234,193},{72,70}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6045521.png</key>
            <dict>
                <key>frame</key>
                <string>{{632,682},{78,116}}</string>
                <key>offset</key>
                <string>{-19,58}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{198,140},{78,116}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6045522.png</key>
            <dict>
                <key>frame</key>
                <string>{{864,774},{64,76}}</string>
                <key>offset</key>
                <string>{-24,24}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{200,194},{64,76}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6045531.png</key>
            <dict>
                <key>frame</key>
                <string>{{748,702},{76,116}}</string>
                <key>offset</key>
                <string>{-41,47}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{177,151},{76,116}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6045532.png</key>
            <dict>
                <key>frame</key>
                <string>{{914,946},{106,54}}</string>
                <key>offset</key>
                <string>{-39,15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{164,214},{106,54}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6045541.png</key>
            <dict>
                <key>frame</key>
                <string>{{688,364},{120,110}}</string>
                <key>offset</key>
                <string>{-45,36}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{151,165},{120,110}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6045542.png</key>
            <dict>
                <key>frame</key>
                <string>{{632,760},{114,60}}</string>
                <key>offset</key>
                <string>{-32,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{167,229},{114,60}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6045551.png</key>
            <dict>
                <key>frame</key>
                <string>{{132,700},{122,106}}</string>
                <key>offset</key>
                <string>{-27,39}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{168,164},{122,106}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6045552.png</key>
            <dict>
                <key>frame</key>
                <string>{{934,762},{72,82}}</string>
                <key>offset</key>
                <string>{-14,-15}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{206,230},{72,82}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>6045.pvr.ccz</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:2b92cbe81994670b726a714ab238cea4:1/1$</string>
            <key>textureFileName</key>
            <string>6045.pvr.ccz</string>
        </dict>
    </dict>
</plist>
