<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>6009111.png</key>
            <dict>
                <key>frame</key>
                <string>{{238,100},{40,72}}</string>
                <key>offset</key>
                <string>{2,32}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{238,188},{40,72}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6009112.png</key>
            <dict>
                <key>frame</key>
                <string>{{394,112},{40,72}}</string>
                <key>offset</key>
                <string>{1,32}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{237,188},{40,72}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6009113.png</key>
            <dict>
                <key>frame</key>
                <string>{{70,288},{36,70}}</string>
                <key>offset</key>
                <string>{1,31}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{239,190},{36,70}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6009121.png</key>
            <dict>
                <key>frame</key>
                <string>{{134,402},{58,64}}</string>
                <key>offset</key>
                <string>{-12,30}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{215,194},{58,64}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6009122.png</key>
            <dict>
                <key>frame</key>
                <string>{{208,340},{58,66}}</string>
                <key>offset</key>
                <string>{-12,31}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{215,192},{58,66}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6009123.png</key>
            <dict>
                <key>frame</key>
                <string>{{266,420},{60,62}}</string>
                <key>offset</key>
                <string>{-12,29}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{214,196},{60,62}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6009131.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,114},{72,64}}</string>
                <key>offset</key>
                <string>{-16,28}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{204,196},{72,64}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6009132.png</key>
            <dict>
                <key>frame</key>
                <string>{{310,118},{70,66}}</string>
                <key>offset</key>
                <string>{-15,29}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{206,194},{70,66}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6009133.png</key>
            <dict>
                <key>frame</key>
                <string>{{164,82},{74,64}}</string>
                <key>offset</key>
                <string>{-17,28}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{202,196},{74,64}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6009141.png</key>
            <dict>
                <key>frame</key>
                <string>{{140,290},{58,68}}</string>
                <key>offset</key>
                <string>{-14,29}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{213,193},{58,68}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6009142.png</key>
            <dict>
                <key>frame</key>
                <string>{{144,146},{58,70}}</string>
                <key>offset</key>
                <string>{-14,30}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{213,191},{58,70}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6009143.png</key>
            <dict>
                <key>frame</key>
                <string>{{210,280},{60,68}}</string>
                <key>offset</key>
                <string>{-15,29}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{211,193},{60,68}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6009151.png</key>
            <dict>
                <key>frame</key>
                <string>{{350,270},{40,68}}</string>
                <key>offset</key>
                <string>{-2,29}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{234,193},{40,68}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6009152.png</key>
            <dict>
                <key>frame</key>
                <string>{{466,144},{42,70}}</string>
                <key>offset</key>
                <string>{-2,30}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{233,191},{42,70}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6009153.png</key>
            <dict>
                <key>frame</key>
                <string>{{140,254},{36,70}}</string>
                <key>offset</key>
                <string>{-2,30}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{236,191},{36,70}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6009211.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,410},{40,66}}</string>
                <key>offset</key>
                <string>{1,28}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{237,195},{40,66}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6009212.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,450},{42,64}}</string>
                <key>offset</key>
                <string>{1,30}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{236,194},{42,64}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6009213.png</key>
            <dict>
                <key>frame</key>
                <string>{{68,380},{40,66}}</string>
                <key>offset</key>
                <string>{0,28}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{236,195},{40,66}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6009214.png</key>
            <dict>
                <key>frame</key>
                <string>{{70,248},{40,70}}</string>
                <key>offset</key>
                <string>{0,28}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{236,193},{40,70}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6009215.png</key>
            <dict>
                <key>frame</key>
                <string>{{408,344},{40,64}}</string>
                <key>offset</key>
                <string>{1,34}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{237,190},{40,64}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6009221.png</key>
            <dict>
                <key>frame</key>
                <string>{{400,446},{60,62}}</string>
                <key>offset</key>
                <string>{-14,26}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{212,199},{60,62}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6009222.png</key>
            <dict>
                <key>frame</key>
                <string>{{388,506},{58,58}}</string>
                <key>offset</key>
                <string>{-14,27}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{213,200},{58,58}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6009223.png</key>
            <dict>
                <key>frame</key>
                <string>{{328,470},{56,60}}</string>
                <key>offset</key>
                <string>{-13,28}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{215,198},{56,60}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6009224.png</key>
            <dict>
                <key>frame</key>
                <string>{{64,462},{58,60}}</string>
                <key>offset</key>
                <string>{-13,26}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{214,200},{58,60}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6009225.png</key>
            <dict>
                <key>frame</key>
                <string>{{190,510},{58,58}}</string>
                <key>offset</key>
                <string>{-13,31}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{214,196},{58,58}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6009231.png</key>
            <dict>
                <key>frame</key>
                <string>{{324,0},{76,64}}</string>
                <key>offset</key>
                <string>{-18,29}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{200,195},{76,64}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6009232.png</key>
            <dict>
                <key>frame</key>
                <string>{{246,38},{76,62}}</string>
                <key>offset</key>
                <string>{-18,28}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{200,197},{76,62}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6009233.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,52},{74,62}}</string>
                <key>offset</key>
                <string>{-17,29}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{202,196},{74,62}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6009234.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,178},{72,58}}</string>
                <key>offset</key>
                <string>{-16,29}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{204,198},{72,58}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6009235.png</key>
            <dict>
                <key>frame</key>
                <string>{{378,212},{70,58}}</string>
                <key>offset</key>
                <string>{-15,29}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{206,198},{70,58}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6009241.png</key>
            <dict>
                <key>frame</key>
                <string>{{308,184},{60,70}}</string>
                <key>offset</key>
                <string>{-14,29}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{212,192},{60,70}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6009242.png</key>
            <dict>
                <key>frame</key>
                <string>{{282,244},{60,68}}</string>
                <key>offset</key>
                <string>{-13,27}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{213,195},{60,68}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6009243.png</key>
            <dict>
                <key>frame</key>
                <string>{{380,152},{60,70}}</string>
                <key>offset</key>
                <string>{-13,28}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{213,193},{60,70}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6009244.png</key>
            <dict>
                <key>frame</key>
                <string>{{400,0},{58,72}}</string>
                <key>offset</key>
                <string>{-13,25}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{214,195},{58,72}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6009245.png</key>
            <dict>
                <key>frame</key>
                <string>{{278,304},{58,66}}</string>
                <key>offset</key>
                <string>{-13,28}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{214,195},{58,66}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6009251.png</key>
            <dict>
                <key>frame</key>
                <string>{{88,50},{40,76}}</string>
                <key>offset</key>
                <string>{-2,28}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{234,190},{40,76}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6009252.png</key>
            <dict>
                <key>frame</key>
                <string>{{168,40},{42,76}}</string>
                <key>offset</key>
                <string>{-1,26}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{234,192},{42,76}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6009253.png</key>
            <dict>
                <key>frame</key>
                <string>{{472,72},{40,72}}</string>
                <key>offset</key>
                <string>{0,29}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{236,191},{40,72}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6009254.png</key>
            <dict>
                <key>frame</key>
                <string>{{168,0},{40,78}}</string>
                <key>offset</key>
                <string>{0,25}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{236,192},{40,78}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6009255.png</key>
            <dict>
                <key>frame</key>
                <string>{{472,0},{40,72}}</string>
                <key>offset</key>
                <string>{-2,28}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{234,192},{40,72}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6009311.png</key>
            <dict>
                <key>frame</key>
                <string>{{74,90},{38,74}}</string>
                <key>offset</key>
                <string>{2,33}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{239,186},{38,74}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6009312.png</key>
            <dict>
                <key>frame</key>
                <string>{{246,0},{38,78}}</string>
                <key>offset</key>
                <string>{2,35}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{239,182},{38,78}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6009313.png</key>
            <dict>
                <key>frame</key>
                <string>{{88,0},{50,80}}</string>
                <key>offset</key>
                <string>{1,36}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{232,180},{50,80}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6009314.png</key>
            <dict>
                <key>frame</key>
                <string>{{238,140},{64,70}}</string>
                <key>offset</key>
                <string>{1,31}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{225,190},{64,70}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6009315.png</key>
            <dict>
                <key>frame</key>
                <string>{{198,456},{54,62}}</string>
                <key>offset</key>
                <string>{2,27}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{231,198},{54,62}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6009321.png</key>
            <dict>
                <key>frame</key>
                <string>{{136,348},{54,66}}</string>
                <key>offset</key>
                <string>{-10,31}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{219,192},{54,66}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6009322.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,236},{54,70}}</string>
                <key>offset</key>
                <string>{-12,33}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{217,188},{54,70}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6009323.png</key>
            <dict>
                <key>frame</key>
                <string>{{322,64},{54,72}}</string>
                <key>offset</key>
                <string>{-15,35}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{214,185},{54,72}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6009324.png</key>
            <dict>
                <key>frame</key>
                <string>{{202,398},{58,64}}</string>
                <key>offset</key>
                <string>{-11,31}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{216,193},{58,64}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6009325.png</key>
            <dict>
                <key>frame</key>
                <string>{{68,324},{68,56}}</string>
                <key>offset</key>
                <string>{-1,26}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{221,202},{68,56}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6009331.png</key>
            <dict>
                <key>frame</key>
                <string>{{448,214},{68,64}}</string>
                <key>offset</key>
                <string>{-14,28}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{208,196},{68,64}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6009332.png</key>
            <dict>
                <key>frame</key>
                <string>{{130,460},{60,60}}</string>
                <key>offset</key>
                <string>{-15,26}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{211,200},{60,60}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6009333.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,492},{56,60}}</string>
                <key>offset</key>
                <string>{-17,26}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{211,200},{56,60}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6009334.png</key>
            <dict>
                <key>frame</key>
                <string>{{418,282},{64,62}}</string>
                <key>offset</key>
                <string>{-11,27}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{213,198},{64,62}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6009335.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{88,52}}</string>
                <key>offset</key>
                <string>{1,22}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{213,208},{88,52}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6009341.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,356},{54,68}}</string>
                <key>offset</key>
                <string>{-12,29}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{217,193},{54,68}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6009342.png</key>
            <dict>
                <key>frame</key>
                <string>{{260,480},{52,60}}</string>
                <key>offset</key>
                <string>{-13,25}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{217,201},{52,60}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6009343.png</key>
            <dict>
                <key>frame</key>
                <string>{{446,516},{52,56}}</string>
                <key>offset</key>
                <string>{-17,21}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{213,207},{52,56}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6009344.png</key>
            <dict>
                <key>frame</key>
                <string>{{72,192},{56,70}}</string>
                <key>offset</key>
                <string>{-12,28}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{216,193},{56,70}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6009345.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,290},{68,66}}</string>
                <key>offset</key>
                <string>{-3,28}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{219,195},{68,66}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6009351.png</key>
            <dict>
                <key>frame</key>
                <string>{{212,242},{38,70}}</string>
                <key>offset</key>
                <string>{-2,30}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{235,191},{38,70}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6009352.png</key>
            <dict>
                <key>frame</key>
                <string>{{472,344},{40,60}}</string>
                <key>offset</key>
                <string>{-3,25}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{233,201},{40,60}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6009353.png</key>
            <dict>
                <key>frame</key>
                <string>{{320,526},{50,52}}</string>
                <key>offset</key>
                <string>{-2,18}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{229,212},{50,52}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6009354.png</key>
            <dict>
                <key>frame</key>
                <string>{{72,128},{64,72}}</string>
                <key>offset</key>
                <string>{-1,29}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{223,191},{64,72}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6009355.png</key>
            <dict>
                <key>frame</key>
                <string>{{400,58},{54,72}}</string>
                <key>offset</key>
                <string>{-2,32}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{227,188},{54,72}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6009511.png</key>
            <dict>
                <key>frame</key>
                <string>{{464,404},{42,56}}</string>
                <key>offset</key>
                <string>{8,28}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{243,200},{42,56}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6009512.png</key>
            <dict>
                <key>frame</key>
                <string>{{344,310},{64,60}}</string>
                <key>offset</key>
                <string>{18,26}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{242,200},{64,60}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6009521.png</key>
            <dict>
                <key>frame</key>
                <string>{{462,460},{50,56}}</string>
                <key>offset</key>
                <string>{-2,28}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{229,200},{50,56}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6009522.png</key>
            <dict>
                <key>frame</key>
                <string>{{338,408},{62,62}}</string>
                <key>offset</key>
                <string>{7,25}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{232,200},{62,62}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6009531.png</key>
            <dict>
                <key>frame</key>
                <string>{{402,384},{62,62}}</string>
                <key>offset</key>
                <string>{-14,29}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{211,196},{62,62}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6009532.png</key>
            <dict>
                <key>frame</key>
                <string>{{142,204},{70,50}}</string>
                <key>offset</key>
                <string>{-20,18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{201,213},{70,50}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6009541.png</key>
            <dict>
                <key>frame</key>
                <string>{{274,362},{58,64}}</string>
                <key>offset</key>
                <string>{-18,28}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{209,196},{58,64}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6009542.png</key>
            <dict>
                <key>frame</key>
                <string>{{212,204},{70,38}}</string>
                <key>offset</key>
                <string>{-24,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{197,228},{70,38}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6009551.png</key>
            <dict>
                <key>frame</key>
                <string>{{66,420},{42,64}}</string>
                <key>offset</key>
                <string>{-9,22}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{226,202},{42,64}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6009552.png</key>
            <dict>
                <key>frame</key>
                <string>{{338,370},{64,38}}</string>
                <key>offset</key>
                <string>{-18,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{206,234},{64,38}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>6009.pvr.ccz</string>
            <key>size</key>
            <string>{512,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:1c14b75ef475e871c7a5a481c5a85617:1/1$</string>
            <key>textureFileName</key>
            <string>6009.pvr.ccz</string>
        </dict>
    </dict>
</plist>
