<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>guidanceEffect21.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,168},{112,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{200,235},{112,42}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>guidanceEffect22.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,126},{112,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{200,235},{112,42}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>guidanceEffect23.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,84},{112,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{200,235},{112,42}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>guidanceEffect24.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,42},{112,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{200,235},{112,42}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>guidanceEffect25.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{112,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{200,235},{112,42}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>guidanceEffect26.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,42},{112,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{200,235},{112,42}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>guidanceEffect27.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,84},{112,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{200,235},{112,42}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>guidanceEffect28.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,126},{112,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{200,235},{112,42}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>guidanceEffect2.pvr.ccz</string>
            <key>size</key>
            <string>{128,256}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:604d8c9fb0f38debb65a3bfb27b288fa:1/1$</string>
            <key>textureFileName</key>
            <string>guidanceEffect2.pvr.ccz</string>
        </dict>
    </dict>
</plist>
