<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>7528111.png</key>
            <dict>
                <key>frame</key>
                <string>{{70,78},{64,186}}</string>
                <key>offset</key>
                <string>{2,69}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{226,94},{64,186}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>7528112.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{70,190}}</string>
                <key>offset</key>
                <string>{4,67}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{225,94},{70,190}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>7528113.png</key>
            <dict>
                <key>frame</key>
                <string>{{70,0},{78,186}}</string>
                <key>offset</key>
                <string>{8,70}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{225,93},{78,186}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>7528.pvr.ccz</string>
            <key>size</key>
            <string>{256,256}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:6ca211d385892aa5599ea2d505411e38:1/1$</string>
            <key>textureFileName</key>
            <string>7528.pvr.ccz</string>
        </dict>
    </dict>
</plist>
