<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>810911.png</key>
            <dict>
                <key>frame</key>
                <string>{{272,86},{1,1}}</string>
                <key>offset</key>
                <string>{-255.5,255.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>810912.png</key>
            <dict>
                <key>frame</key>
                <string>{{272,86},{1,1}}</string>
                <key>offset</key>
                <string>{-255.5,255.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>810913.png</key>
            <dict>
                <key>frame</key>
                <string>{{272,86},{1,1}}</string>
                <key>offset</key>
                <string>{-255.5,255.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>810914.png</key>
            <dict>
                <key>frame</key>
                <string>{{272,86},{1,1}}</string>
                <key>offset</key>
                <string>{-255.5,255.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>810915.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{86,274}}</string>
                <key>offset</key>
                <string>{-23,-10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{190,129},{86,274}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>810916.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,86},{80,272}}</string>
                <key>offset</key>
                <string>{-27,-10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{189,130},{80,272}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>810921.png</key>
            <dict>
                <key>frame</key>
                <string>{{272,86},{1,1}}</string>
                <key>offset</key>
                <string>{-255.5,255.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>810922.png</key>
            <dict>
                <key>frame</key>
                <string>{{272,86},{1,1}}</string>
                <key>offset</key>
                <string>{-255.5,255.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>810923.png</key>
            <dict>
                <key>frame</key>
                <string>{{272,86},{1,1}}</string>
                <key>offset</key>
                <string>{-255.5,255.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>810924.png</key>
            <dict>
                <key>frame</key>
                <string>{{272,86},{1,1}}</string>
                <key>offset</key>
                <string>{-255.5,255.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>810925.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,324},{206,258}}</string>
                <key>offset</key>
                <string>{91,10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{244,117},{206,258}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>810926.png</key>
            <dict>
                <key>frame</key>
                <string>{{274,0},{130,232}}</string>
                <key>offset</key>
                <string>{130,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{321,142},{130,232}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>810931.png</key>
            <dict>
                <key>frame</key>
                <string>{{272,86},{1,1}}</string>
                <key>offset</key>
                <string>{-255.5,255.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>810932.png</key>
            <dict>
                <key>frame</key>
                <string>{{272,86},{1,1}}</string>
                <key>offset</key>
                <string>{-255.5,255.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>810933.png</key>
            <dict>
                <key>frame</key>
                <string>{{272,86},{1,1}}</string>
                <key>offset</key>
                <string>{-255.5,255.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>810934.png</key>
            <dict>
                <key>frame</key>
                <string>{{272,86},{1,1}}</string>
                <key>offset</key>
                <string>{-255.5,255.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>810935.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,166},{268,158}}</string>
                <key>offset</key>
                <string>{95,79}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{217,98},{268,158}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>810936.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,530},{154,158}}</string>
                <key>offset</key>
                <string>{152,78}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{331,99},{154,158}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>810941.png</key>
            <dict>
                <key>frame</key>
                <string>{{272,86},{1,1}}</string>
                <key>offset</key>
                <string>{-255.5,255.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>810942.png</key>
            <dict>
                <key>frame</key>
                <string>{{272,86},{1,1}}</string>
                <key>offset</key>
                <string>{-255.5,255.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>810943.png</key>
            <dict>
                <key>frame</key>
                <string>{{272,86},{1,1}}</string>
                <key>offset</key>
                <string>{-255.5,255.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>810944.png</key>
            <dict>
                <key>frame</key>
                <string>{{272,86},{1,1}}</string>
                <key>offset</key>
                <string>{-255.5,255.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>810945.png</key>
            <dict>
                <key>frame</key>
                <string>{{268,250},{208,180}}</string>
                <key>offset</key>
                <string>{70,123}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{222,43},{208,180}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>810946.png</key>
            <dict>
                <key>frame</key>
                <string>{{258,526},{112,170}}</string>
                <key>offset</key>
                <string>{118,118}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{318,53},{112,170}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>810951.png</key>
            <dict>
                <key>frame</key>
                <string>{{272,86},{1,1}}</string>
                <key>offset</key>
                <string>{-255.5,255.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>810952.png</key>
            <dict>
                <key>frame</key>
                <string>{{272,86},{1,1}}</string>
                <key>offset</key>
                <string>{-255.5,255.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>810953.png</key>
            <dict>
                <key>frame</key>
                <string>{{272,86},{1,1}}</string>
                <key>offset</key>
                <string>{-255.5,255.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>810954.png</key>
            <dict>
                <key>frame</key>
                <string>{{272,86},{1,1}}</string>
                <key>offset</key>
                <string>{-255.5,255.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>810955.png</key>
            <dict>
                <key>frame</key>
                <string>{{272,130},{120,218}}</string>
                <key>offset</key>
                <string>{14,131}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{210,16},{120,218}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>810956.png</key>
            <dict>
                <key>frame</key>
                <string>{{258,430},{96,178}}</string>
                <key>offset</key>
                <string>{3,142}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{211,25},{96,178}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>8109.pvr.ccz</string>
            <key>size</key>
            <string>{512,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:35aa710a68cf6a11f2bffee3e86e7a78:1/1$</string>
            <key>textureFileName</key>
            <string>8109.pvr.ccz</string>
        </dict>
    </dict>
</plist>
