<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>7501111.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{134,156}}</string>
                <key>offset</key>
                <string>{-17,64}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{172,114},{134,156}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>7501112.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,134},{138,154}}</string>
                <key>offset</key>
                <string>{-17,63}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{170,116},{138,154}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>7501113.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,272},{136,154}}</string>
                <key>offset</key>
                <string>{-17,63}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{171,116},{136,154}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>7501.pvr.ccz</string>
            <key>size</key>
            <string>{256,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:33188d891d907513133634ce1fc7e287:1/1$</string>
            <key>textureFileName</key>
            <string>7501.pvr.ccz</string>
        </dict>
    </dict>
</plist>
