<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>7006111.png</key>
            <dict>
                <key>frame</key>
                <string>{{1244,1104},{306,238}}</string>
                <key>offset</key>
                <string>{0,92}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{359,301},{306,238}}</string>
                <key>sourceSize</key>
                <string>{1024,1024}</string>
            </dict>
            <key>7006112.png</key>
            <dict>
                <key>frame</key>
                <string>{{312,932},{310,238}}</string>
                <key>offset</key>
                <string>{0,92}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{357,301},{310,238}}</string>
                <key>sourceSize</key>
                <string>{1024,1024}</string>
            </dict>
            <key>7006113.png</key>
            <dict>
                <key>frame</key>
                <string>{{936,1066},{308,238}}</string>
                <key>offset</key>
                <string>{1,92}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{359,301},{308,238}}</string>
                <key>sourceSize</key>
                <string>{1024,1024}</string>
            </dict>
            <key>7006121.png</key>
            <dict>
                <key>frame</key>
                <string>{{1758,2214},{220,280}}</string>
                <key>offset</key>
                <string>{-53,105}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{349,267},{220,280}}</string>
                <key>sourceSize</key>
                <string>{1024,1024}</string>
            </dict>
            <key>7006122.png</key>
            <dict>
                <key>frame</key>
                <string>{{286,2194},{222,282}}</string>
                <key>offset</key>
                <string>{-53,106}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{348,265},{222,282}}</string>
                <key>sourceSize</key>
                <string>{1024,1024}</string>
            </dict>
            <key>7006123.png</key>
            <dict>
                <key>frame</key>
                <string>{{1478,2030},{222,280}}</string>
                <key>offset</key>
                <string>{-51,105}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{350,267},{222,280}}</string>
                <key>sourceSize</key>
                <string>{1024,1024}</string>
            </dict>
            <key>7006131.png</key>
            <dict>
                <key>frame</key>
                <string>{{634,702},{150,314}}</string>
                <key>offset</key>
                <string>{-18,87}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{419,268},{150,314}}</string>
                <key>sourceSize</key>
                <string>{1024,1024}</string>
            </dict>
            <key>7006132.png</key>
            <dict>
                <key>frame</key>
                <string>{{318,474},{150,318}}</string>
                <key>offset</key>
                <string>{-22,86}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{415,267},{150,318}}</string>
                <key>sourceSize</key>
                <string>{1024,1024}</string>
            </dict>
            <key>7006133.png</key>
            <dict>
                <key>frame</key>
                <string>{{318,624},{142,316}}</string>
                <key>offset</key>
                <string>{-18,85}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{423,269},{142,316}}</string>
                <key>sourceSize</key>
                <string>{1024,1024}</string>
            </dict>
            <key>7006141.png</key>
            <dict>
                <key>frame</key>
                <string>{{598,1822},{224,288}}</string>
                <key>offset</key>
                <string>{-49,66}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{351,302},{224,288}}</string>
                <key>sourceSize</key>
                <string>{1024,1024}</string>
            </dict>
            <key>7006142.png</key>
            <dict>
                <key>frame</key>
                <string>{{292,1970},{224,286}}</string>
                <key>offset</key>
                <string>{-52,63}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{348,306},{224,286}}</string>
                <key>sourceSize</key>
                <string>{1024,1024}</string>
            </dict>
            <key>7006143.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,2118},{220,286}}</string>
                <key>offset</key>
                <string>{-50,64}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{352,305},{220,286}}</string>
                <key>sourceSize</key>
                <string>{1024,1024}</string>
            </dict>
            <key>7006151.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,1330},{306,292}}</string>
                <key>offset</key>
                <string>{-1,87}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{358,279},{306,292}}</string>
                <key>sourceSize</key>
                <string>{1024,1024}</string>
            </dict>
            <key>7006152.png</key>
            <dict>
                <key>frame</key>
                <string>{{626,852},{310,282}}</string>
                <key>offset</key>
                <string>{0,88}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{357,283},{310,282}}</string>
                <key>sourceSize</key>
                <string>{1024,1024}</string>
            </dict>
            <key>7006153.png</key>
            <dict>
                <key>frame</key>
                <string>{{1578,824},{308,280}}</string>
                <key>offset</key>
                <string>{-1,88}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{357,284},{308,280}}</string>
                <key>sourceSize</key>
                <string>{1024,1024}</string>
            </dict>
            <key>7006211.png</key>
            <dict>
                <key>frame</key>
                <string>{{614,1370},{306,232}}</string>
                <key>offset</key>
                <string>{8,92}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{367,304},{306,232}}</string>
                <key>sourceSize</key>
                <string>{1024,1024}</string>
            </dict>
            <key>7006212.png</key>
            <dict>
                <key>frame</key>
                <string>{{1550,1104},{304,238}}</string>
                <key>offset</key>
                <string>{11,89}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{371,304},{304,238}}</string>
                <key>sourceSize</key>
                <string>{1024,1024}</string>
            </dict>
            <key>7006213.png</key>
            <dict>
                <key>frame</key>
                <string>{{1540,1342},{302,236}}</string>
                <key>offset</key>
                <string>{9,88}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{370,306},{302,236}}</string>
                <key>sourceSize</key>
                <string>{1024,1024}</string>
            </dict>
            <key>7006214.png</key>
            <dict>
                <key>frame</key>
                <string>{{1258,866},{308,238}}</string>
                <key>offset</key>
                <string>{4,84}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{362,309},{308,238}}</string>
                <key>sourceSize</key>
                <string>{1024,1024}</string>
            </dict>
            <key>7006215.png</key>
            <dict>
                <key>frame</key>
                <string>{{1236,1506},{302,232}}</string>
                <key>offset</key>
                <string>{3,88}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{364,308},{302,232}}</string>
                <key>sourceSize</key>
                <string>{1024,1024}</string>
            </dict>
            <key>7006221.png</key>
            <dict>
                <key>frame</key>
                <string>{{568,2282},{234,272}}</string>
                <key>offset</key>
                <string>{-43,104}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{352,272},{234,272}}</string>
                <key>sourceSize</key>
                <string>{1024,1024}</string>
            </dict>
            <key>7006222.png</key>
            <dict>
                <key>frame</key>
                <string>{{280,2416},{242,270}}</string>
                <key>offset</key>
                <string>{-43,101}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{348,276},{242,270}}</string>
                <key>sourceSize</key>
                <string>{1024,1024}</string>
            </dict>
            <key>7006223.png</key>
            <dict>
                <key>frame</key>
                <string>{{860,2264},{240,274}}</string>
                <key>offset</key>
                <string>{-43,97}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{349,278},{240,274}}</string>
                <key>sourceSize</key>
                <string>{1024,1024}</string>
            </dict>
            <key>7006224.png</key>
            <dict>
                <key>frame</key>
                <string>{{578,2046},{236,282}}</string>
                <key>offset</key>
                <string>{-46,98}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{348,273},{236,282}}</string>
                <key>sourceSize</key>
                <string>{1024,1024}</string>
            </dict>
            <key>7006225.png</key>
            <dict>
                <key>frame</key>
                <string>{{1168,2172},{224,278}}</string>
                <key>offset</key>
                <string>{-48,102}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{352,271},{224,278}}</string>
                <key>sourceSize</key>
                <string>{1024,1024}</string>
            </dict>
            <key>7006231.png</key>
            <dict>
                <key>frame</key>
                <string>{{636,542},{160,316}}</string>
                <key>offset</key>
                <string>{-24,85}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{408,269},{160,316}}</string>
                <key>sourceSize</key>
                <string>{1024,1024}</string>
            </dict>
            <key>7006232.png</key>
            <dict>
                <key>frame</key>
                <string>{{314,766},{166,312}}</string>
                <key>offset</key>
                <string>{-22,84}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{407,272},{166,312}}</string>
                <key>sourceSize</key>
                <string>{1024,1024}</string>
            </dict>
            <key>7006233.png</key>
            <dict>
                <key>frame</key>
                <string>{{1236,1342},{164,304}}</string>
                <key>offset</key>
                <string>{-21,87}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{409,273},{164,304}}</string>
                <key>sourceSize</key>
                <string>{1024,1024}</string>
            </dict>
            <key>7006234.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,878},{164,312}}</string>
                <key>offset</key>
                <string>{-21,85}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{409,271},{164,312}}</string>
                <key>sourceSize</key>
                <string>{1024,1024}</string>
            </dict>
            <key>7006235.png</key>
            <dict>
                <key>frame</key>
                <string>{{1266,708},{158,312}}</string>
                <key>offset</key>
                <string>{-21,85}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{412,271},{158,312}}</string>
                <key>sourceSize</key>
                <string>{1024,1024}</string>
            </dict>
            <key>7006241.png</key>
            <dict>
                <key>frame</key>
                <string>{{1216,1738},{216,290}}</string>
                <key>offset</key>
                <string>{-50,65}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{354,302},{216,290}}</string>
                <key>sourceSize</key>
                <string>{1024,1024}</string>
            </dict>
            <key>7006242.png</key>
            <dict>
                <key>frame</key>
                <string>{{610,1602},{220,296}}</string>
                <key>offset</key>
                <string>{-47,64}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{355,300},{220,296}}</string>
                <key>sourceSize</key>
                <string>{1024,1024}</string>
            </dict>
            <key>7006243.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,1904},{214,292}}</string>
                <key>offset</key>
                <string>{-44,65}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{361,301},{214,292}}</string>
                <key>sourceSize</key>
                <string>{1024,1024}</string>
            </dict>
            <key>7006244.png</key>
            <dict>
                <key>frame</key>
                <string>{{906,1796},{224,288}}</string>
                <key>offset</key>
                <string>{-45,61}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{355,307},{224,288}}</string>
                <key>sourceSize</key>
                <string>{1024,1024}</string>
            </dict>
            <key>7006245.png</key>
            <dict>
                <key>frame</key>
                <string>{{1506,1816},{214,286}}</string>
                <key>offset</key>
                <string>{-50,64}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{355,305},{214,286}}</string>
                <key>sourceSize</key>
                <string>{1024,1024}</string>
            </dict>
            <key>7006251.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,1042},{308,288}}</string>
                <key>offset</key>
                <string>{-8,82}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{350,286},{308,288}}</string>
                <key>sourceSize</key>
                <string>{1024,1024}</string>
            </dict>
            <key>7006252.png</key>
            <dict>
                <key>frame</key>
                <string>{{308,1170},{306,294}}</string>
                <key>offset</key>
                <string>{-11,86}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{348,279},{306,294}}</string>
                <key>sourceSize</key>
                <string>{1024,1024}</string>
            </dict>
            <key>7006253.png</key>
            <dict>
                <key>frame</key>
                <string>{{306,1464},{304,292}}</string>
                <key>offset</key>
                <string>{-9,85}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{351,281},{304,292}}</string>
                <key>sourceSize</key>
                <string>{1024,1024}</string>
            </dict>
            <key>7006254.png</key>
            <dict>
                <key>frame</key>
                <string>{{948,782},{310,284}}</string>
                <key>offset</key>
                <string>{-4,80}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{353,290},{310,284}}</string>
                <key>sourceSize</key>
                <string>{1024,1024}</string>
            </dict>
            <key>7006255.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,1622},{304,282}}</string>
                <key>offset</key>
                <string>{-4,82}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{356,289},{304,282}}</string>
                <key>sourceSize</key>
                <string>{1024,1024}</string>
            </dict>
            <key>7006311.png</key>
            <dict>
                <key>frame</key>
                <string>{{1134,2396},{248,254}}</string>
                <key>offset</key>
                <string>{39,107}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{427,278},{248,254}}</string>
                <key>sourceSize</key>
                <string>{1024,1024}</string>
            </dict>
            <key>7006312.png</key>
            <dict>
                <key>frame</key>
                <string>{{840,2504},{254,232}}</string>
                <key>offset</key>
                <string>{-7,95}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{378,301},{254,232}}</string>
                <key>sourceSize</key>
                <string>{1024,1024}</string>
            </dict>
            <key>7006313.png</key>
            <dict>
                <key>frame</key>
                <string>{{1784,0},{264,266}}</string>
                <key>offset</key>
                <string>{-26,110}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{354,269},{264,266}}</string>
                <key>sourceSize</key>
                <string>{1024,1024}</string>
            </dict>
            <key>7006314.png</key>
            <dict>
                <key>frame</key>
                <string>{{1780,266},{282,266}}</string>
                <key>offset</key>
                <string>{-34,108}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{337,271},{282,266}}</string>
                <key>sourceSize</key>
                <string>{1024,1024}</string>
            </dict>
            <key>7006315.png</key>
            <dict>
                <key>frame</key>
                <string>{{1538,1578},{298,238}}</string>
                <key>offset</key>
                <string>{-17,92}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{346,301},{298,238}}</string>
                <key>sourceSize</key>
                <string>{1024,1024}</string>
            </dict>
            <key>7006321.png</key>
            <dict>
                <key>frame</key>
                <string>{{304,1756},{294,214}}</string>
                <key>offset</key>
                <string>{28,91}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{393,314},{294,214}}</string>
                <key>sourceSize</key>
                <string>{1024,1024}</string>
            </dict>
            <key>7006322.png</key>
            <dict>
                <key>frame</key>
                <string>{{266,2658},{208,226}}</string>
                <key>offset</key>
                <string>{-16,94}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{392,305},{208,226}}</string>
                <key>sourceSize</key>
                <string>{1024,1024}</string>
            </dict>
            <key>7006323.png</key>
            <dict>
                <key>frame</key>
                <string>{{1446,2252},{186,258}}</string>
                <key>offset</key>
                <string>{-43,118}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{376,265},{186,258}}</string>
                <key>sourceSize</key>
                <string>{1024,1024}</string>
            </dict>
            <key>7006324.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,2608},{200,266}}</string>
                <key>offset</key>
                <string>{-50,111}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{362,268},{200,266}}</string>
                <key>sourceSize</key>
                <string>{1024,1024}</string>
            </dict>
            <key>7006325.png</key>
            <dict>
                <key>frame</key>
                <string>{{1836,1656},{208,276}}</string>
                <key>offset</key>
                <string>{-52,105}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{356,269},{208,276}}</string>
                <key>sourceSize</key>
                <string>{1024,1024}</string>
            </dict>
            <key>7006331.png</key>
            <dict>
                <key>frame</key>
                <string>{{886,2020},{282,244}}</string>
                <key>offset</key>
                <string>{-36,96}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{335,294},{282,244}}</string>
                <key>sourceSize</key>
                <string>{1024,1024}</string>
            </dict>
            <key>7006332.png</key>
            <dict>
                <key>frame</key>
                <string>{{1842,1400},{204,256}}</string>
                <key>offset</key>
                <string>{-5,95}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{405,289},{204,256}}</string>
                <key>sourceSize</key>
                <string>{1024,1024}</string>
            </dict>
            <key>7006333.png</key>
            <dict>
                <key>frame</key>
                <string>{{1854,1104},{190,296}}</string>
                <key>offset</key>
                <string>{-22,118}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{395,246},{190,296}}</string>
                <key>sourceSize</key>
                <string>{1024,1024}</string>
            </dict>
            <key>7006334.png</key>
            <dict>
                <key>frame</key>
                <string>{{1450,0},{206,334}}</string>
                <key>offset</key>
                <string>{-32,94}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{377,251},{206,334}}</string>
                <key>sourceSize</key>
                <string>{1024,1024}</string>
            </dict>
            <key>7006335.png</key>
            <dict>
                <key>frame</key>
                <string>{{952,574},{208,314}}</string>
                <key>offset</key>
                <string>{-23,81}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{385,274},{208,314}}</string>
                <key>sourceSize</key>
                <string>{1024,1024}</string>
            </dict>
            <key>7006341.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,2338},{270,280}}</string>
                <key>offset</key>
                <string>{-43,98}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{334,274},{270,280}}</string>
                <key>sourceSize</key>
                <string>{1024,1024}</string>
            </dict>
            <key>7006342.png</key>
            <dict>
                <key>frame</key>
                <string>{{1194,1954},{218,284}}</string>
                <key>offset</key>
                <string>{-21,104}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{382,266},{218,284}}</string>
                <key>sourceSize</key>
                <string>{1024,1024}</string>
            </dict>
            <key>7006343.png</key>
            <dict>
                <key>frame</key>
                <string>{{730,284},{258,348}}</string>
                <key>offset</key>
                <string>{-20,112}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{363,226},{258,348}}</string>
                <key>sourceSize</key>
                <string>{1024,1024}</string>
            </dict>
            <key>7006344.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{270,372}}</string>
                <key>offset</key>
                <string>{-33,95}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{344,231},{270,372}}</string>
                <key>sourceSize</key>
                <string>{1024,1024}</string>
            </dict>
            <key>7006345.png</key>
            <dict>
                <key>frame</key>
                <string>{{1078,300},{274,322}}</string>
                <key>offset</key>
                <string>{-37,82}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{338,269},{274,322}}</string>
                <key>sourceSize</key>
                <string>{1024,1024}</string>
            </dict>
            <key>7006351.png</key>
            <dict>
                <key>frame</key>
                <string>{{1400,460},{248,322}}</string>
                <key>offset</key>
                <string>{-39,69}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{349,282},{248,322}}</string>
                <key>sourceSize</key>
                <string>{1024,1024}</string>
            </dict>
            <key>7006352.png</key>
            <dict>
                <key>frame</key>
                <string>{{1450,206},{254,330}}</string>
                <key>offset</key>
                <string>{6,97}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{391,250},{254,330}}</string>
                <key>sourceSize</key>
                <string>{1024,1024}</string>
            </dict>
            <key>7006353.png</key>
            <dict>
                <key>frame</key>
                <string>{{372,0},{264,368}}</string>
                <key>offset</key>
                <string>{26,113}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{406,215},{264,368}}</string>
                <key>sourceSize</key>
                <string>{1024,1024}</string>
            </dict>
            <key>7006354.png</key>
            <dict>
                <key>frame</key>
                <string>{{740,0},{284,362}}</string>
                <key>offset</key>
                <string>{34,114}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{404,217},{284,362}}</string>
                <key>sourceSize</key>
                <string>{1024,1024}</string>
            </dict>
            <key>7006355.png</key>
            <dict>
                <key>frame</key>
                <string>{{1102,0},{300,348}}</string>
                <key>offset</key>
                <string>{17,100}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{379,238},{300,348}}</string>
                <key>sourceSize</key>
                <string>{1024,1024}</string>
            </dict>
            <key>7006511.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,474},{318,182}}</string>
                <key>offset</key>
                <string>{-4,41}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{349,380},{318,182}}</string>
                <key>sourceSize</key>
                <string>{1024,1024}</string>
            </dict>
            <key>7006512.png</key>
            <dict>
                <key>frame</key>
                <string>{{622,1134},{308,236}}</string>
                <key>offset</key>
                <string>{8,-34}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{366,428},{308,236}}</string>
                <key>sourceSize</key>
                <string>{1024,1024}</string>
            </dict>
            <key>7006521.png</key>
            <dict>
                <key>frame</key>
                <string>{{550,2516},{226,240}}</string>
                <key>offset</key>
                <string>{26,30}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{425,362},{226,240}}</string>
                <key>sourceSize</key>
                <string>{1024,1024}</string>
            </dict>
            <key>7006522.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,656},{314,222}}</string>
                <key>offset</key>
                <string>{57,-23}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{412,424},{314,222}}</string>
                <key>sourceSize</key>
                <string>{1024,1024}</string>
            </dict>
            <key>7006531.png</key>
            <dict>
                <key>frame</key>
                <string>{{920,1540},{256,296}}</string>
                <key>offset</key>
                <string>{29,49}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{413,315},{256,296}}</string>
                <key>sourceSize</key>
                <string>{1024,1024}</string>
            </dict>
            <key>7006532.png</key>
            <dict>
                <key>frame</key>
                <string>{{372,264},{358,210}}</string>
                <key>offset</key>
                <string>{57,12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{390,395},{358,210}}</string>
                <key>sourceSize</key>
                <string>{1024,1024}</string>
            </dict>
            <key>7006541.png</key>
            <dict>
                <key>frame</key>
                <string>{{1792,1932},{282,254}}</string>
                <key>offset</key>
                <string>{15,79}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{386,306},{282,254}}</string>
                <key>sourceSize</key>
                <string>{1024,1024}</string>
            </dict>
            <key>7006542.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,270},{350,204}}</string>
                <key>offset</key>
                <string>{45,47}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{382,363},{350,204}}</string>
                <key>sourceSize</key>
                <string>{1024,1024}</string>
            </dict>
            <key>7006551.png</key>
            <dict>
                <key>frame</key>
                <string>{{1722,548},{318,276}}</string>
                <key>offset</key>
                <string>{4,75}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{357,299},{318,276}}</string>
                <key>sourceSize</key>
                <string>{1024,1024}</string>
            </dict>
            <key>7006552.png</key>
            <dict>
                <key>frame</key>
                <string>{{930,1304},{306,236}}</string>
                <key>offset</key>
                <string>{-9,44}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{350,350},{306,236}}</string>
                <key>sourceSize</key>
                <string>{1024,1024}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>7006.pvr.ccz</string>
            <key>size</key>
            <string>{2048,4096}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:5d03795dacf6a333971322c959e84ef1:1/1$</string>
            <key>textureFileName</key>
            <string>7006.pvr.ccz</string>
        </dict>
    </dict>
</plist>
