<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>6518111.png</key>
            <dict>
                <key>frame</key>
                <string>{{272,518},{102,120}}</string>
                <key>offset</key>
                <string>{-10,41}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{195,155},{102,120}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6518112.png</key>
            <dict>
                <key>frame</key>
                <string>{{504,628},{108,126}}</string>
                <key>offset</key>
                <string>{-6,44}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{196,149},{108,126}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6518113.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,610},{106,122}}</string>
                <key>offset</key>
                <string>{-11,42}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{192,153},{106,122}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6518121.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,322},{90,104}}</string>
                <key>offset</key>
                <string>{-6,46}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{205,158},{90,104}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6518122.png</key>
            <dict>
                <key>frame</key>
                <string>{{628,334},{94,108}}</string>
                <key>offset</key>
                <string>{-7,48}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{202,154},{94,108}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6518123.png</key>
            <dict>
                <key>frame</key>
                <string>{{358,240},{90,108}}</string>
                <key>offset</key>
                <string>{-6,48}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{205,154},{90,108}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6518131.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,150},{84,126}}</string>
                <key>offset</key>
                <string>{-12,38}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{202,155},{84,126}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6518132.png</key>
            <dict>
                <key>frame</key>
                <string>{{104,324},{92,130}}</string>
                <key>offset</key>
                <string>{-16,40}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{194,151},{92,130}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6518133.png</key>
            <dict>
                <key>frame</key>
                <string>{{766,76},{82,128}}</string>
                <key>offset</key>
                <string>{-11,39}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{204,153},{82,128}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6518141.png</key>
            <dict>
                <key>frame</key>
                <string>{{478,76},{80,132}}</string>
                <key>offset</key>
                <string>{9,35}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{225,155},{80,132}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6518142.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,72},{78,134}}</string>
                <key>offset</key>
                <string>{3,36}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{220,153},{78,134}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6518143.png</key>
            <dict>
                <key>frame</key>
                <string>{{246,152},{84,132}}</string>
                <key>offset</key>
                <string>{11,35}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{225,155},{84,132}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6518151.png</key>
            <dict>
                <key>frame</key>
                <string>{{392,518},{102,132}}</string>
                <key>offset</key>
                <string>{10,37}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{215,153},{102,132}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6518152.png</key>
            <dict>
                <key>frame</key>
                <string>{{630,630},{108,132}}</string>
                <key>offset</key>
                <string>{6,38}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{208,152},{108,132}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6518153.png</key>
            <dict>
                <key>frame</key>
                <string>{{122,610},{106,132}}</string>
                <key>offset</key>
                <string>{10,39}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{213,151},{106,132}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6518211.png</key>
            <dict>
                <key>frame</key>
                <string>{{882,158},{88,126}}</string>
                <key>offset</key>
                <string>{-2,41}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{210,152},{88,126}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6518212.png</key>
            <dict>
                <key>frame</key>
                <string>{{328,422},{96,118}}</string>
                <key>offset</key>
                <string>{5,47}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{213,150},{96,118}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6518213.png</key>
            <dict>
                <key>frame</key>
                <string>{{736,336},{94,124}}</string>
                <key>offset</key>
                <string>{3,46}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{212,148},{94,124}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6518214.png</key>
            <dict>
                <key>frame</key>
                <string>{{466,240},{90,126}}</string>
                <key>offset</key>
                <string>{-4,41}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{207,152},{90,126}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6518215.png</key>
            <dict>
                <key>frame</key>
                <string>{{592,240},{90,118}}</string>
                <key>offset</key>
                <string>{-7,49}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{204,148},{90,118}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6518221.png</key>
            <dict>
                <key>frame</key>
                <string>{{126,150},{84,120}}</string>
                <key>offset</key>
                <string>{-2,50}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{212,146},{84,120}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6518222.png</key>
            <dict>
                <key>frame</key>
                <string>{{134,72},{78,116}}</string>
                <key>offset</key>
                <string>{-11,53}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{206,145},{78,116}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6518223.png</key>
            <dict>
                <key>frame</key>
                <string>{{254,620},{106,126}}</string>
                <key>offset</key>
                <string>{-8,47}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{195,146},{106,126}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6518224.png</key>
            <dict>
                <key>frame</key>
                <string>{{880,630},{110,128}}</string>
                <key>offset</key>
                <string>{-14,43}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{187,149},{110,128}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6518225.png</key>
            <dict>
                <key>frame</key>
                <string>{{894,76},{82,122}}</string>
                <key>offset</key>
                <string>{-18,49}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{197,146},{82,122}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6518231.png</key>
            <dict>
                <key>frame</key>
                <string>{{524,524},{104,118}}</string>
                <key>offset</key>
                <string>{8,48}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{212,149},{104,118}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6518232.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,234},{88,120}}</string>
                <key>offset</key>
                <string>{3,50}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{215,146},{88,120}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6518233.png</key>
            <dict>
                <key>frame</key>
                <string>{{720,0},{76,120}}</string>
                <key>offset</key>
                <string>{-8,51}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{210,145},{76,120}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6518234.png</key>
            <dict>
                <key>frame</key>
                <string>{{378,156},{84,118}}</string>
                <key>offset</key>
                <string>{-8,48}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{206,149},{84,118}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6518235.png</key>
            <dict>
                <key>frame</key>
                <string>{{600,0},{76,120}}</string>
                <key>offset</key>
                <string>{2,49}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{220,147},{76,120}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6518241.png</key>
            <dict>
                <key>frame</key>
                <string>{{862,740},{122,128}}</string>
                <key>offset</key>
                <string>{6,43}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{201,149},{122,128}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6518242.png</key>
            <dict>
                <key>frame</key>
                <string>{{380,620},{106,124}}</string>
                <key>offset</key>
                <string>{2,48}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{205,146},{106,124}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6518243.png</key>
            <dict>
                <key>frame</key>
                <string>{{480,0},{76,120}}</string>
                <key>offset</key>
                <string>{5,51}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{223,145},{76,120}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6518244.png</key>
            <dict>
                <key>frame</key>
                <string>{{496,156},{84,116}}</string>
                <key>offset</key>
                <string>{-1,50}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{213,148},{84,116}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6518245.png</key>
            <dict>
                <key>frame</key>
                <string>{{234,324},{92,122}}</string>
                <key>offset</key>
                <string>{7,49}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{217,146},{92,122}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6518251.png</key>
            <dict>
                <key>frame</key>
                <string>{{224,236},{88,134}}</string>
                <key>offset</key>
                <string>{2,43}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{214,146},{88,134}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6518252.png</key>
            <dict>
                <key>frame</key>
                <string>{{446,422},{96,124}}</string>
                <key>offset</key>
                <string>{-6,51}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{202,143},{96,124}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6518253.png</key>
            <dict>
                <key>frame</key>
                <string>{{860,336},{94,132}}</string>
                <key>offset</key>
                <string>{-3,48}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{206,142},{94,132}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6518254.png</key>
            <dict>
                <key>frame</key>
                <string>{{710,244},{90,132}}</string>
                <key>offset</key>
                <string>{4,46}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{215,144},{90,132}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6518255.png</key>
            <dict>
                <key>frame</key>
                <string>{{842,246},{90,124}}</string>
                <key>offset</key>
                <string>{6,51}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{217,143},{90,124}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6518311.png</key>
            <dict>
                <key>frame</key>
                <string>{{642,526},{104,120}}</string>
                <key>offset</key>
                <string>{-10,41}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{194,155},{104,120}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6518312.png</key>
            <dict>
                <key>frame</key>
                <string>{{570,428},{96,164}}</string>
                <key>offset</key>
                <string>{-18,63}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{190,111},{96,164}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6518313.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{72,194}}</string>
                <key>offset</key>
                <string>{-6,78}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{214,81},{72,194}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6518314.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,416},{94,184}}</string>
                <key>offset</key>
                <string>{8,73}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{217,91},{94,184}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6518315.png</key>
            <dict>
                <key>frame</key>
                <string>{{356,330},{92,126}}</string>
                <key>offset</key>
                <string>{14,14}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{224,179},{92,126}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6518321.png</key>
            <dict>
                <key>frame</key>
                <string>{{120,234},{90,104}}</string>
                <key>offset</key>
                <string>{-6,46}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{205,158},{90,104}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6518322.png</key>
            <dict>
                <key>frame</key>
                <string>{{580,738},{136,116}}</string>
                <key>offset</key>
                <string>{-29,51}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{159,147},{136,116}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6518323.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,826},{122,158}}</string>
                <key>offset</key>
                <string>{-18,73}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{177,104},{122,158}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6518324.png</key>
            <dict>
                <key>frame</key>
                <string>{{608,856},{132,148}}</string>
                <key>offset</key>
                <string>{5,72}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{195,110},{132,148}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6518325.png</key>
            <dict>
                <key>frame</key>
                <string>{{716,738},{146,118}}</string>
                <key>offset</key>
                <string>{28,34}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{211,163},{146,118}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6518331.png</key>
            <dict>
                <key>frame</key>
                <string>{{756,158},{86,126}}</string>
                <key>offset</key>
                <string>{-13,38}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{200,155},{86,126}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6518332.png</key>
            <dict>
                <key>frame</key>
                <string>{{762,526},{104,124}}</string>
                <key>offset</key>
                <string>{-22,37}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{182,157},{104,124}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6518333.png</key>
            <dict>
                <key>frame</key>
                <string>{{756,862},{148,138}}</string>
                <key>offset</key>
                <string>{-27,43}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{155,144},{148,138}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6518334.png</key>
            <dict>
                <key>frame</key>
                <string>{{476,854},{130,132}}</string>
                <key>offset</key>
                <string>{-7,49}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{184,141},{130,132}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6518335.png</key>
            <dict>
                <key>frame</key>
                <string>{{158,836},{176,126}}</string>
                <key>offset</key>
                <string>{44,43}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{212,150},{176,126}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6518341.png</key>
            <dict>
                <key>frame</key>
                <string>{{250,72},{80,132}}</string>
                <key>offset</key>
                <string>{8,35}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{224,155},{80,132}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6518342.png</key>
            <dict>
                <key>frame</key>
                <string>{{194,0},{72,136}}</string>
                <key>offset</key>
                <string>{1,35}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{221,153},{72,136}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6518343.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,510},{100,154}}</string>
                <key>offset</key>
                <string>{-19,43}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{187,136},{100,154}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6518344.png</key>
            <dict>
                <key>frame</key>
                <string>{{610,76},{80,156}}</string>
                <key>offset</key>
                <string>{-5,51}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{211,127},{80,156}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6518345.png</key>
            <dict>
                <key>frame</key>
                <string>{{334,850},{128,142}}</string>
                <key>offset</key>
                <string>{28,44}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{220,141},{128,142}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6518351.png</key>
            <dict>
                <key>frame</key>
                <string>{{886,526},{104,132}}</string>
                <key>offset</key>
                <string>{9,37}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{213,153},{104,132}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6518352.png</key>
            <dict>
                <key>frame</key>
                <string>{{734,430},{96,136}}</string>
                <key>offset</key>
                <string>{18,43}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{226,145},{96,136}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6518353.png</key>
            <dict>
                <key>frame</key>
                <string>{{330,0},{72,150}}</string>
                <key>offset</key>
                <string>{5,51}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{225,130},{72,150}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6518354.png</key>
            <dict>
                <key>frame</key>
                <string>{{184,416},{94,144}}</string>
                <key>offset</key>
                <string>{-9,52}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{200,132},{94,144}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6518355.png</key>
            <dict>
                <key>frame</key>
                <string>{{482,330},{92,146}}</string>
                <key>offset</key>
                <string>{-14,54}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{196,129},{92,146}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6518511.png</key>
            <dict>
                <key>frame</key>
                <string>{{382,72},{96,82}}</string>
                <key>offset</key>
                <string>{-12,30}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{196,185},{96,82}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6518512.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,716},{110,120}}</string>
                <key>offset</key>
                <string>{-11,-10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{190,206},{110,120}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6518521.png</key>
            <dict>
                <key>frame</key>
                <string>{{154,510},{118,100}}</string>
                <key>offset</key>
                <string>{-18,22}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{179,184},{118,100}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6518522.png</key>
            <dict>
                <key>frame</key>
                <string>{{242,726},{174,110}}</string>
                <key>offset</key>
                <string>{9,-16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{178,217},{174,110}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6518531.png</key>
            <dict>
                <key>frame</key>
                <string>{{120,716},{110,122}}</string>
                <key>offset</key>
                <string>{-15,23}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{186,172},{110,122}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6518532.png</key>
            <dict>
                <key>frame</key>
                <string>{{840,0},{180,76}}</string>
                <key>offset</key>
                <string>{19,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{185,221},{180,76}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6518541.png</key>
            <dict>
                <key>frame</key>
                <string>{{612,156},{84,144}}</string>
                <key>offset</key>
                <string>{3,24}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{217,160},{84,144}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6518542.png</key>
            <dict>
                <key>frame</key>
                <string>{{416,736},{164,114}}</string>
                <key>offset</key>
                <string>{29,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{203,190},{164,114}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6518551.png</key>
            <dict>
                <key>frame</key>
                <string>{{870,430},{96,140}}</string>
                <key>offset</key>
                <string>{12,26}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{220,160},{96,140}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6518552.png</key>
            <dict>
                <key>frame</key>
                <string>{{762,630},{108,118}}</string>
                <key>offset</key>
                <string>{11,15}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{213,182},{108,118}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>6518.pvr.ccz</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:d70fe63451ef11cc977a46b501bf4d1e:1/1$</string>
            <key>textureFileName</key>
            <string>6518.pvr.ccz</string>
        </dict>
    </dict>
</plist>
