<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>6005111.png</key>
            <dict>
                <key>frame</key>
                <string>{{84,462},{116,108}}</string>
                <key>offset</key>
                <string>{0,44}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{198,158},{116,108}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6005112.png</key>
            <dict>
                <key>frame</key>
                <string>{{906,492},{116,110}}</string>
                <key>offset</key>
                <string>{0,45}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{198,156},{116,110}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6005113.png</key>
            <dict>
                <key>frame</key>
                <string>{{790,490},{116,110}}</string>
                <key>offset</key>
                <string>{1,45}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{199,156},{116,110}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6005121.png</key>
            <dict>
                <key>frame</key>
                <string>{{82,676},{106,112}}</string>
                <key>offset</key>
                <string>{-8,39}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{195,161},{106,112}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6005122.png</key>
            <dict>
                <key>frame</key>
                <string>{{434,588},{102,116}}</string>
                <key>offset</key>
                <string>{-7,41}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{198,157},{102,116}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6005123.png</key>
            <dict>
                <key>frame</key>
                <string>{{586,490},{110,110}}</string>
                <key>offset</key>
                <string>{-9,43}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{192,158},{110,110}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6005131.png</key>
            <dict>
                <key>frame</key>
                <string>{{550,600},{98,118}}</string>
                <key>offset</key>
                <string>{-11,34}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{196,163},{98,118}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6005132.png</key>
            <dict>
                <key>frame</key>
                <string>{{412,690},{96,120}}</string>
                <key>offset</key>
                <string>{-11,35}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{197,161},{96,120}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6005133.png</key>
            <dict>
                <key>frame</key>
                <string>{{464,488},{100,122}}</string>
                <key>offset</key>
                <string>{-13,36}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{193,159},{100,122}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6005141.png</key>
            <dict>
                <key>frame</key>
                <string>{{198,624},{96,124}}</string>
                <key>offset</key>
                <string>{1,32}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{209,162},{96,124}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6005142.png</key>
            <dict>
                <key>frame</key>
                <string>{{338,468},{98,126}}</string>
                <key>offset</key>
                <string>{1,33}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{208,160},{98,126}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6005143.png</key>
            <dict>
                <key>frame</key>
                <string>{{178,866},{90,126}}</string>
                <key>offset</key>
                <string>{1,33}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{212,160},{90,126}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6005151.png</key>
            <dict>
                <key>frame</key>
                <string>{{394,242},{116,120}}</string>
                <key>offset</key>
                <string>{0,37}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{198,159},{116,120}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6005152.png</key>
            <dict>
                <key>frame</key>
                <string>{{824,374},{116,122}}</string>
                <key>offset</key>
                <string>{0,38}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{198,157},{116,122}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6005153.png</key>
            <dict>
                <key>frame</key>
                <string>{{702,362},{116,122}}</string>
                <key>offset</key>
                <string>{-2,38}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{196,157},{116,122}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6005211.png</key>
            <dict>
                <key>frame</key>
                <string>{{194,748},{100,118}}</string>
                <key>offset</key>
                <string>{0,34}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{206,163},{100,118}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6005212.png</key>
            <dict>
                <key>frame</key>
                <string>{{494,794},{102,108}}</string>
                <key>offset</key>
                <string>{2,39}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{207,163},{102,108}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6005213.png</key>
            <dict>
                <key>frame</key>
                <string>{{756,718},{100,108}}</string>
                <key>offset</key>
                <string>{2,42}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{208,160},{100,108}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6005214.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,900},{104,108}}</string>
                <key>offset</key>
                <string>{-2,39}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{202,163},{104,108}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6005215.png</key>
            <dict>
                <key>frame</key>
                <string>{{668,618},{100,112}}</string>
                <key>offset</key>
                <string>{-1,39}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{205,161},{100,112}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6005221.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,734},{80,124}}</string>
                <key>offset</key>
                <string>{-1,34}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{215,160},{80,124}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6005222.png</key>
            <dict>
                <key>frame</key>
                <string>{{590,906},{82,112}}</string>
                <key>offset</key>
                <string>{-4,37}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{211,163},{82,112}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6005223.png</key>
            <dict>
                <key>frame</key>
                <string>{{648,718},{102,108}}</string>
                <key>offset</key>
                <string>{-5,38}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{200,164},{102,108}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6005224.png</key>
            <dict>
                <key>frame</key>
                <string>{{84,570},{106,114}}</string>
                <key>offset</key>
                <string>{-5,35}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{198,164},{106,114}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6005225.png</key>
            <dict>
                <key>frame</key>
                <string>{{602,820},{86,118}}</string>
                <key>offset</key>
                <string>{-6,36}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{207,161},{86,118}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6005231.png</key>
            <dict>
                <key>frame</key>
                <string>{{790,600},{118,108}}</string>
                <key>offset</key>
                <string>{16,40}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{213,162},{118,108}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6005232.png</key>
            <dict>
                <key>frame</key>
                <string>{{268,890},{102,106}}</string>
                <key>offset</key>
                <string>{12,41}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{217,162},{102,106}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6005233.png</key>
            <dict>
                <key>frame</key>
                <string>{{484,896},{92,106}}</string>
                <key>offset</key>
                <string>{5,41}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{215,162},{92,106}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6005234.png</key>
            <dict>
                <key>frame</key>
                <string>{{864,900},{96,110}}</string>
                <key>offset</key>
                <string>{3,39}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{211,162},{96,110}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6005235.png</key>
            <dict>
                <key>frame</key>
                <string>{{756,818},{98,108}}</string>
                <key>offset</key>
                <string>{10,40}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{217,162},{98,108}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6005241.png</key>
            <dict>
                <key>frame</key>
                <string>{{766,0},{136,126}}</string>
                <key>offset</key>
                <string>{13,37}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{201,156},{136,126}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6005242.png</key>
            <dict>
                <key>frame</key>
                <string>{{832,256},{122,118}}</string>
                <key>offset</key>
                <string>{11,41}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{206,156},{122,118}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6005243.png</key>
            <dict>
                <key>frame</key>
                <string>{{386,888},{98,112}}</string>
                <key>offset</key>
                <string>{12,47}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{219,153},{98,112}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6005244.png</key>
            <dict>
                <key>frame</key>
                <string>{{386,786},{102,108}}</string>
                <key>offset</key>
                <string>{8,46}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{213,156},{102,108}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6005245.png</key>
            <dict>
                <key>frame</key>
                <string>{{104,348},{114,120}}</string>
                <key>offset</key>
                <string>{13,43}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{212,153},{114,120}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6005251.png</key>
            <dict>
                <key>frame</key>
                <string>{{492,358},{100,130}}</string>
                <key>offset</key>
                <string>{-1,39}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{205,152},{100,130}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6005252.png</key>
            <dict>
                <key>frame</key>
                <string>{{294,666},{100,118}}</string>
                <key>offset</key>
                <string>{-3,46}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{203,151},{100,118}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6005253.png</key>
            <dict>
                <key>frame</key>
                <string>{{898,704},{100,126}}</string>
                <key>offset</key>
                <string>{-2,43}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{204,150},{100,126}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6005254.png</key>
            <dict>
                <key>frame</key>
                <string>{{898,602},{102,124}}</string>
                <key>offset</key>
                <string>{1,42}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{206,152},{102,124}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6005255.png</key>
            <dict>
                <key>frame</key>
                <string>{{314,566},{100,120}}</string>
                <key>offset</key>
                <string>{0,47}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{206,149},{100,120}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6005311.png</key>
            <dict>
                <key>frame</key>
                <string>{{84,462},{116,108}}</string>
                <key>offset</key>
                <string>{0,44}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{198,158},{116,108}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6005312.png</key>
            <dict>
                <key>frame</key>
                <string>{{722,126},{130,122}}</string>
                <key>offset</key>
                <string>{-20,51}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{171,144},{130,122}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6005313.png</key>
            <dict>
                <key>frame</key>
                <string>{{298,130},{96,166}}</string>
                <key>offset</key>
                <string>{-11,73}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{197,100},{96,166}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6005314.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,600},{82,134}}</string>
                <key>offset</key>
                <string>{0,27}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{215,162},{82,134}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6005315.png</key>
            <dict>
                <key>frame</key>
                <string>{{200,518},{106,114}}</string>
                <key>offset</key>
                <string>{-1,29}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{202,170},{106,114}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6005321.png</key>
            <dict>
                <key>frame</key>
                <string>{{82,676},{106,112}}</string>
                <key>offset</key>
                <string>{-8,39}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{195,161},{106,112}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6005322.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,308},{134,104}}</string>
                <key>offset</key>
                <string>{-20,44}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{169,160},{134,104}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6005323.png</key>
            <dict>
                <key>frame</key>
                <string>{{310,0},{130,142}}</string>
                <key>offset</key>
                <string>{-23,63}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{168,122},{130,142}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6005324.png</key>
            <dict>
                <key>frame</key>
                <string>{{902,0},{140,118}}</string>
                <key>offset</key>
                <string>{24,39}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{210,158},{140,118}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6005325.png</key>
            <dict>
                <key>frame</key>
                <string>{{294,766},{92,124}}</string>
                <key>offset</key>
                <string>{-1,35}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{209,159},{92,124}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6005331.png</key>
            <dict>
                <key>frame</key>
                <string>{{80,782},{98,118}}</string>
                <key>offset</key>
                <string>{-11,34}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{196,163},{98,118}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6005332.png</key>
            <dict>
                <key>frame</key>
                <string>{{224,408},{110,114}}</string>
                <key>offset</key>
                <string>{-13,32}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{188,167},{110,114}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6005333.png</key>
            <dict>
                <key>frame</key>
                <string>{{702,248},{114,130}}</string>
                <key>offset</key>
                <string>{-15,40}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{184,151},{114,130}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6005334.png</key>
            <dict>
                <key>frame</key>
                <string>{{142,0},{168,118}}</string>
                <key>offset</key>
                <string>{46,34}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{218,163},{168,118}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6005335.png</key>
            <dict>
                <key>frame</key>
                <string>{{372,358},{110,120}}</string>
                <key>offset</key>
                <string>{18,35}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{219,161},{110,120}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6005341.png</key>
            <dict>
                <key>frame</key>
                <string>{{198,624},{96,124}}</string>
                <key>offset</key>
                <string>{1,32}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{209,162},{96,124}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6005342.png</key>
            <dict>
                <key>frame</key>
                <string>{{946,374},{78,118}}</string>
                <key>offset</key>
                <string>{5,29}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{222,168},{78,118}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6005343.png</key>
            <dict>
                <key>frame</key>
                <string>{{954,256},{66,118}}</string>
                <key>offset</key>
                <string>{-3,29}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{220,168},{66,118}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6005344.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{142,140}}</string>
                <key>offset</key>
                <string>{24,40}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{209,146},{142,140}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6005345.png</key>
            <dict>
                <key>frame</key>
                <string>{{592,100},{126,130}}</string>
                <key>offset</key>
                <string>{9,35}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{202,156},{126,130}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6005351.png</key>
            <dict>
                <key>frame</key>
                <string>{{394,242},{116,120}}</string>
                <key>offset</key>
                <string>{0,37}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{198,159},{116,120}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6005352.png</key>
            <dict>
                <key>frame</key>
                <string>{{852,140},{130,116}}</string>
                <key>offset</key>
                <string>{20,35}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{211,163},{130,116}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6005353.png</key>
            <dict>
                <key>frame</key>
                <string>{{864,804},{96,112}}</string>
                <key>offset</key>
                <string>{12,33}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{220,167},{96,112}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6005354.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,442},{84,158}}</string>
                <key>offset</key>
                <string>{-1,56}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{213,121},{84,158}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6005355.png</key>
            <dict>
                <key>frame</key>
                <string>{{592,366},{106,124}}</string>
                <key>offset</key>
                <string>{0,39}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{203,155},{106,124}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6005511.png</key>
            <dict>
                <key>frame</key>
                <string>{{532,698},{116,96}}</string>
                <key>offset</key>
                <string>{-19,38}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{179,170},{116,96}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6005512.png</key>
            <dict>
                <key>frame</key>
                <string>{{592,226},{140,110}}</string>
                <key>offset</key>
                <string>{-18,-10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{168,211},{140,110}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6005521.png</key>
            <dict>
                <key>frame</key>
                <string>{{248,296},{112,124}}</string>
                <key>offset</key>
                <string>{-12,26}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{188,168},{112,124}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6005522.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,140},{168,106}}</string>
                <key>offset</key>
                <string>{11,-17}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{183,220},{168,106}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6005531.png</key>
            <dict>
                <key>frame</key>
                <string>{{106,236},{112,142}}</string>
                <key>offset</key>
                <string>{-11,22}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{189,163},{112,142}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6005532.png</key>
            <dict>
                <key>frame</key>
                <string>{{592,0},{174,100}}</string>
                <key>offset</key>
                <string>{20,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{189,211},{174,100}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6005541.png</key>
            <dict>
                <key>frame</key>
                <string>{{698,478},{92,140}}</string>
                <key>offset</key>
                <string>{13,26}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{223,160},{92,140}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6005542.png</key>
            <dict>
                <key>frame</key>
                <string>{{142,118},{156,118}}</string>
                <key>offset</key>
                <string>{31,13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{209,184},{156,118}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6005551.png</key>
            <dict>
                <key>frame</key>
                <string>{{452,126},{116,140}}</string>
                <key>offset</key>
                <string>{18,27}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{216,159},{116,140}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6005552.png</key>
            <dict>
                <key>frame</key>
                <string>{{452,0},{140,126}}</string>
                <key>offset</key>
                <string>{17,20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{203,173},{140,126}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>6005.pvr.ccz</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:3cead7a1ab978dc970a624b9817614c3:1/1$</string>
            <key>textureFileName</key>
            <string>6005.pvr.ccz</string>
        </dict>
    </dict>
</plist>
