<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>83151.png</key>
            <dict>
                <key>frame</key>
                <string>{{274,246},{194,134}}</string>
                <key>offset</key>
                <string>{3,11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{162,178},{194,134}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>83152.png</key>
            <dict>
                <key>frame</key>
                <string>{{274,0},{230,246}}</string>
                <key>offset</key>
                <string>{4,60}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{145,73},{230,246}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>83153.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,756},{250,264}}</string>
                <key>offset</key>
                <string>{3,63}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{134,61},{250,264}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>83154.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,506},{250,268}}</string>
                <key>offset</key>
                <string>{4,63}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{135,59},{250,268}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>83155.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,254},{252,272}}</string>
                <key>offset</key>
                <string>{4,67}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{134,53},{252,272}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>83156.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{254,274}}</string>
                <key>offset</key>
                <string>{3,66}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{132,53},{254,274}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>8315.pvr.ccz</string>
            <key>size</key>
            <string>{512,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:4108ea7014153dd6b0899946a208f2d1:1/1$</string>
            <key>textureFileName</key>
            <string>8315.pvr.ccz</string>
        </dict>
    </dict>
</plist>
