<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>sceneAutoEff1.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,414},{158,34}}</string>
                <key>offset</key>
                <string>{15,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{192,230},{158,34}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>sceneAutoEff10.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,310},{164,34}}</string>
                <key>offset</key>
                <string>{17,10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{191,229},{164,34}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>sceneAutoEff11.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{168,42}}</string>
                <key>offset</key>
                <string>{15,12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{187,223},{168,42}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>sceneAutoEff12.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,82},{166,40}}</string>
                <key>offset</key>
                <string>{16,11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{189,225},{166,40}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>sceneAutoEff13.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,236},{166,38}}</string>
                <key>offset</key>
                <string>{16,10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{189,227},{166,38}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>sceneAutoEff14.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,198},{166,38}}</string>
                <key>offset</key>
                <string>{16,10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{189,227},{166,38}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>sceneAutoEff15.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,42},{166,40}}</string>
                <key>offset</key>
                <string>{16,11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{189,225},{166,40}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>sceneAutoEff16.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,160},{166,38}}</string>
                <key>offset</key>
                <string>{16,10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{189,227},{166,38}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>sceneAutoEff17.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,122},{166,38}}</string>
                <key>offset</key>
                <string>{16,10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{189,227},{166,38}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>sceneAutoEff18.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,274},{166,36}}</string>
                <key>offset</key>
                <string>{17,11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{190,227},{166,36}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>sceneAutoEff2.png</key>
            <dict>
                <key>frame</key>
                <string>{{214,0},{162,42}}</string>
                <key>offset</key>
                <string>{13,9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{188,226},{162,42}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>sceneAutoEff3.png</key>
            <dict>
                <key>frame</key>
                <string>{{208,162},{158,42}}</string>
                <key>offset</key>
                <string>{15,11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{192,224},{158,42}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>sceneAutoEff4.png</key>
            <dict>
                <key>frame</key>
                <string>{{168,0},{158,46}}</string>
                <key>offset</key>
                <string>{15,12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{192,221},{158,46}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>sceneAutoEff5.png</key>
            <dict>
                <key>frame</key>
                <string>{{164,316},{158,40}}</string>
                <key>offset</key>
                <string>{15,9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{192,227},{158,40}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>sceneAutoEff6.png</key>
            <dict>
                <key>frame</key>
                <string>{{166,158},{158,42}}</string>
                <key>offset</key>
                <string>{15,10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{192,225},{158,42}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>sceneAutoEff7.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,474},{158,38}}</string>
                <key>offset</key>
                <string>{15,10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{192,227},{158,38}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>sceneAutoEff8.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,378},{158,36}}</string>
                <key>offset</key>
                <string>{15,10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{192,228},{158,36}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>sceneAutoEff9.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,344},{160,34}}</string>
                <key>offset</key>
                <string>{15,10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{191,229},{160,34}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>sceneAutoEff.pvr.ccz</string>
            <key>size</key>
            <string>{256,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:b2bbcfdbd9c7dc476936bb69e166e0a8:1/1$</string>
            <key>textureFileName</key>
            <string>sceneAutoEff.pvr.ccz</string>
        </dict>
    </dict>
</plist>
