<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>7007111.png</key>
            <dict>
                <key>frame</key>
                <string>{{276,396},{66,136}}</string>
                <key>offset</key>
                <string>{1,47}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{224,141},{66,136}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>7007112.png</key>
            <dict>
                <key>frame</key>
                <string>{{840,376},{66,134}}</string>
                <key>offset</key>
                <string>{1,46}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{224,143},{66,134}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>7007113.png</key>
            <dict>
                <key>frame</key>
                <string>{{406,474},{66,134}}</string>
                <key>offset</key>
                <string>{1,46}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{224,143},{66,134}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>7007121.png</key>
            <dict>
                <key>frame</key>
                <string>{{262,662},{92,128}}</string>
                <key>offset</key>
                <string>{-3,54}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{207,138},{92,128}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>7007122.png</key>
            <dict>
                <key>frame</key>
                <string>{{190,756},{92,126}}</string>
                <key>offset</key>
                <string>{-3,53}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{207,140},{92,126}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>7007123.png</key>
            <dict>
                <key>frame</key>
                <string>{{98,756},{92,126}}</string>
                <key>offset</key>
                <string>{-3,53}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{207,140},{92,126}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>7007131.png</key>
            <dict>
                <key>frame</key>
                <string>{{414,388},{86,136}}</string>
                <key>offset</key>
                <string>{-5,49}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{208,139},{86,136}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>7007132.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,502},{86,134}}</string>
                <key>offset</key>
                <string>{-5,48}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{208,141},{86,134}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>7007133.png</key>
            <dict>
                <key>frame</key>
                <string>{{570,336},{86,136}}</string>
                <key>offset</key>
                <string>{-5,49}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{208,139},{86,136}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>7007141.png</key>
            <dict>
                <key>frame</key>
                <string>{{138,370},{58,138}}</string>
                <key>offset</key>
                <string>{-2,40}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{225,147},{58,138}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>7007142.png</key>
            <dict>
                <key>frame</key>
                <string>{{276,338},{58,138}}</string>
                <key>offset</key>
                <string>{-1,40}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{226,147},{58,138}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>7007143.png</key>
            <dict>
                <key>frame</key>
                <string>{{136,428},{58,136}}</string>
                <key>offset</key>
                <string>{-1,39}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{226,149},{58,136}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>7007151.png</key>
            <dict>
                <key>frame</key>
                <string>{{432,322},{66,138}}</string>
                <key>offset</key>
                <string>{-1,41}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{222,146},{66,138}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>7007152.png</key>
            <dict>
                <key>frame</key>
                <string>{{606,270},{66,138}}</string>
                <key>offset</key>
                <string>{-1,41}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{222,146},{66,138}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>7007153.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,314},{66,138}}</string>
                <key>offset</key>
                <string>{-1,41}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{222,146},{66,138}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>7007211.png</key>
            <dict>
                <key>frame</key>
                <string>{{932,144},{92,136}}</string>
                <key>offset</key>
                <string>{-8,41}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{202,147},{92,136}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>7007212.png</key>
            <dict>
                <key>frame</key>
                <string>{{580,750},{98,116}}</string>
                <key>offset</key>
                <string>{4,49}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{211,149},{98,116}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>7007213.png</key>
            <dict>
                <key>frame</key>
                <string>{{880,280},{96,136}}</string>
                <key>offset</key>
                <string>{7,41}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{215,147},{96,136}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>7007214.png</key>
            <dict>
                <key>frame</key>
                <string>{{454,868},{96,118}}</string>
                <key>offset</key>
                <string>{-7,42}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{201,155},{96,118}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>7007215.png</key>
            <dict>
                <key>frame</key>
                <string>{{96,882},{96,126}}</string>
                <key>offset</key>
                <string>{-16,39}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{192,154},{96,126}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>7007221.png</key>
            <dict>
                <key>frame</key>
                <string>{{390,668},{82,122}}</string>
                <key>offset</key>
                <string>{4,47}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{219,148},{82,122}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>7007222.png</key>
            <dict>
                <key>frame</key>
                <string>{{488,750},{92,118}}</string>
                <key>offset</key>
                <string>{6,57}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{216,140},{92,118}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>7007223.png</key>
            <dict>
                <key>frame</key>
                <string>{{642,88},{104,144}}</string>
                <key>offset</key>
                <string>{-1,45}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{203,139},{104,144}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>7007224.png</key>
            <dict>
                <key>frame</key>
                <string>{{282,754},{110,122}}</string>
                <key>offset</key>
                <string>{-11,42}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{190,153},{110,122}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>7007225.png</key>
            <dict>
                <key>frame</key>
                <string>{{844,642},{102,108}}</string>
                <key>offset</key>
                <string>{-6,43}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{199,159},{102,108}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>7007231.png</key>
            <dict>
                <key>frame</key>
                <string>{{374,876},{80,120}}</string>
                <key>offset</key>
                <string>{3,45}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{219,151},{80,120}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>7007232.png</key>
            <dict>
                <key>frame</key>
                <string>{{550,422},{72,134}}</string>
                <key>offset</key>
                <string>{10,58}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{230,131},{72,134}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>7007233.png</key>
            <dict>
                <key>frame</key>
                <string>{{136,486},{92,134}}</string>
                <key>offset</key>
                <string>{-1,55}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{209,134},{92,134}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>7007234.png</key>
            <dict>
                <key>frame</key>
                <string>{{392,750},{96,118}}</string>
                <key>offset</key>
                <string>{-3,46}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{205,151},{96,118}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>7007235.png</key>
            <dict>
                <key>frame</key>
                <string>{{550,868},{78,118}}</string>
                <key>offset</key>
                <string>{11,43}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{228,154},{78,118}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>7007241.png</key>
            <dict>
                <key>frame</key>
                <string>{{540,494},{84,132}}</string>
                <key>offset</key>
                <string>{9,46}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{223,144},{84,132}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>7007242.png</key>
            <dict>
                <key>frame</key>
                <string>{{618,192},{78,140}}</string>
                <key>offset</key>
                <string>{5,55}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{222,131},{78,140}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>7007243.png</key>
            <dict>
                <key>frame</key>
                <string>{{128,674},{82,128}}</string>
                <key>offset</key>
                <string>{4,56}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{219,136},{82,128}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>7007244.png</key>
            <dict>
                <key>frame</key>
                <string>{{536,578},{82,116}}</string>
                <key>offset</key>
                <string>{11,52}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{226,146},{82,116}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>7007245.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,684},{72,128}}</string>
                <key>offset</key>
                <string>{20,49}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{240,143},{72,128}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>7007251.png</key>
            <dict>
                <key>frame</key>
                <string>{{684,448},{92,132}}</string>
                <key>offset</key>
                <string>{8,49}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{218,141},{92,132}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>7007252.png</key>
            <dict>
                <key>frame</key>
                <string>{{840,442},{98,132}}</string>
                <key>offset</key>
                <string>{-4,55}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{203,135},{98,132}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>7007253.png</key>
            <dict>
                <key>frame</key>
                <string>{{744,270},{96,136}}</string>
                <key>offset</key>
                <string>{-8,51}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{200,137},{96,136}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>7007254.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,882},{96,126}}</string>
                <key>offset</key>
                <string>{6,51}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{214,142},{96,126}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>7007255.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,588},{96,128}}</string>
                <key>offset</key>
                <string>{15,51}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{223,141},{96,128}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>7007311.png</key>
            <dict>
                <key>frame</key>
                <string>{{170,0},{70,162}}</string>
                <key>offset</key>
                <string>{-2,53}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{219,122},{70,162}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>7007312.png</key>
            <dict>
                <key>frame</key>
                <string>{{642,0},{88,146}}</string>
                <key>offset</key>
                <string>{-10,45}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{202,138},{88,146}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>7007313.png</key>
            <dict>
                <key>frame</key>
                <string>{{192,882},{68,126}}</string>
                <key>offset</key>
                <string>{1,15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{223,178},{68,126}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>7007314.png</key>
            <dict>
                <key>frame</key>
                <string>{{738,848},{106,110}}</string>
                <key>offset</key>
                <string>{21,27}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{224,174},{106,110}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>7007315.png</key>
            <dict>
                <key>frame</key>
                <string>{{512,668},{82,116}}</string>
                <key>offset</key>
                <string>{9,30}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{224,168},{82,116}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>7007321.png</key>
            <dict>
                <key>frame</key>
                <string>{{156,192},{108,138}}</string>
                <key>offset</key>
                <string>{-3,59}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{199,128},{108,138}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>7007322.png</key>
            <dict>
                <key>frame</key>
                <string>{{678,736},{106,112}}</string>
                <key>offset</key>
                <string>{-1,46}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{202,154},{106,112}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>7007323.png</key>
            <dict>
                <key>frame</key>
                <string>{{468,206},{138,116}}</string>
                <key>offset</key>
                <string>{30,32}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{217,166},{138,116}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>7007324.png</key>
            <dict>
                <key>frame</key>
                <string>{{844,540},{108,102}}</string>
                <key>offset</key>
                <string>{16,41}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{218,164},{108,102}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>7007325.png</key>
            <dict>
                <key>frame</key>
                <string>{{628,866},{110,112}}</string>
                <key>offset</key>
                <string>{17,46}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{218,154},{110,112}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>7007331.png</key>
            <dict>
                <key>frame</key>
                <string>{{406,540},{130,128}}</string>
                <key>offset</key>
                <string>{-15,44}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{176,148},{130,128}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>7007332.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,756},{98,126}}</string>
                <key>offset</key>
                <string>{4,43}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{211,150},{98,126}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>7007333.png</key>
            <dict>
                <key>frame</key>
                <string>{{170,70},{158,122}}</string>
                <key>offset</key>
                <string>{52,41}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{229,154},{158,122}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>7007334.png</key>
            <dict>
                <key>frame</key>
                <string>{{134,578},{96,128}}</string>
                <key>offset</key>
                <string>{22,44}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{230,148},{96,128}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>7007335.png</key>
            <dict>
                <key>frame</key>
                <string>{{270,576},{86,130}}</string>
                <key>offset</key>
                <string>{17,45}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{230,146},{86,130}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>7007341.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,380},{122,136}}</string>
                <key>offset</key>
                <string>{-8,44}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{187,144},{122,136}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>7007342.png</key>
            <dict>
                <key>frame</key>
                <string>{{788,0},{66,146}}</string>
                <key>offset</key>
                <string>{14,49}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{237,134},{66,146}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>7007343.png</key>
            <dict>
                <key>frame</key>
                <string>{{788,66},{110,144}}</string>
                <key>offset</key>
                <string>{41,48}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{242,136},{110,144}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>7007344.png</key>
            <dict>
                <key>frame</key>
                <string>{{476,98},{108,142}}</string>
                <key>offset</key>
                <string>{7,47}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{209,138},{108,142}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>7007345.png</key>
            <dict>
                <key>frame</key>
                <string>{{786,176},{94,144}}</string>
                <key>offset</key>
                <string>{9,48}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{218,136},{94,144}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>7007351.png</key>
            <dict>
                <key>frame</key>
                <string>{{138,300},{70,138}}</string>
                <key>offset</key>
                <string>{1,53}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{222,134},{70,138}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>7007352.png</key>
            <dict>
                <key>frame</key>
                <string>{{934,0},{88,144}}</string>
                <key>offset</key>
                <string>{9,56}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{221,128},{88,144}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>7007353.png</key>
            <dict>
                <key>frame</key>
                <string>{{328,72},{68,148}}</string>
                <key>offset</key>
                <string>{-2,58}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{220,124},{68,148}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>7007354.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,208},{106,138}}</string>
                <key>offset</key>
                <string>{-21,53}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{182,134},{106,138}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>7007355.png</key>
            <dict>
                <key>frame</key>
                <string>{{706,366},{82,134}}</string>
                <key>offset</key>
                <string>{-9,51}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{206,138},{82,134}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>7007511.png</key>
            <dict>
                <key>frame</key>
                <string>{{628,660},{100,76}}</string>
                <key>offset</key>
                <string>{-13,14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{193,204},{100,76}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>7007512.png</key>
            <dict>
                <key>frame</key>
                <string>{{672,540},{114,110}}</string>
                <key>offset</key>
                <string>{-6,-32}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{193,233},{114,110}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>7007521.png</key>
            <dict>
                <key>frame</key>
                <string>{{294,256},{138,82}}</string>
                <key>offset</key>
                <string>{30,21}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{217,194},{138,82}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>7007522.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{170,94}}</string>
                <key>offset</key>
                <string>{48,-14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{219,223},{170,94}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>7007531.png</key>
            <dict>
                <key>frame</key>
                <string>{{272,462},{134,114}}</string>
                <key>offset</key>
                <string>{38,39}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{227,160},{134,114}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>7007532.png</key>
            <dict>
                <key>frame</key>
                <string>{{332,0},{160,72}}</string>
                <key>offset</key>
                <string>{59,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{235,216},{160,72}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>7007541.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,94},{114,156}}</string>
                <key>offset</key>
                <string>{15,58}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{214,120},{114,156}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>7007542.png</key>
            <dict>
                <key>frame</key>
                <string>{{328,140},{140,116}}</string>
                <key>offset</key>
                <string>{31,38}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{217,160},{140,116}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>7007551.png</key>
            <dict>
                <key>frame</key>
                <string>{{492,0},{98,150}}</string>
                <key>offset</key>
                <string>{13,64}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{220,117},{98,150}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>7007552.png</key>
            <dict>
                <key>frame</key>
                <string>{{260,882},{114,122}}</string>
                <key>offset</key>
                <string>{6,50}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{205,145},{114,122}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>7007.pvr.ccz</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:6559b7cd070028e06ee4e9003c393ec1:1/1$</string>
            <key>textureFileName</key>
            <string>7007.pvr.ccz</string>
        </dict>
    </dict>
</plist>
