<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>7003111.png</key>
            <dict>
                <key>frame</key>
                <string>{{404,806},{192,164}}</string>
                <key>offset</key>
                <string>{11,70}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{171,104},{192,164}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>7003112.png</key>
            <dict>
                <key>frame</key>
                <string>{{192,808},{192,162}}</string>
                <key>offset</key>
                <string>{12,69}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{172,106},{192,162}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>7003113.png</key>
            <dict>
                <key>frame</key>
                <string>{{812,796},{194,162}}</string>
                <key>offset</key>
                <string>{7,69}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{166,106},{194,162}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>7003121.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,422},{212,156}}</string>
                <key>offset</key>
                <string>{-12,70}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{138,108},{212,156}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>7003122.png</key>
            <dict>
                <key>frame</key>
                <string>{{652,0},{214,156}}</string>
                <key>offset</key>
                <string>{-11,70}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{138,108},{214,156}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>7003123.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,266},{214,156}}</string>
                <key>offset</key>
                <string>{-8,70}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{141,108},{214,156}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>7003131.png</key>
            <dict>
                <key>frame</key>
                <string>{{346,1534},{110,170}}</string>
                <key>offset</key>
                <string>{-28,69}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{173,102},{110,170}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>7003132.png</key>
            <dict>
                <key>frame</key>
                <string>{{520,1464},{112,170}}</string>
                <key>offset</key>
                <string>{-27,69}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{173,102},{112,170}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>7003133.png</key>
            <dict>
                <key>frame</key>
                <string>{{700,1432},{120,170}}</string>
                <key>offset</key>
                <string>{-24,69}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{172,102},{120,170}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>7003141.png</key>
            <dict>
                <key>frame</key>
                <string>{{918,1120},{106,162}}</string>
                <key>offset</key>
                <string>{-33,64}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{170,111},{106,162}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>7003142.png</key>
            <dict>
                <key>frame</key>
                <string>{{680,1710},{112,164}}</string>
                <key>offset</key>
                <string>{-36,65}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{164,109},{112,164}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>7003143.png</key>
            <dict>
                <key>frame</key>
                <string>{{330,1882},{110,162}}</string>
                <key>offset</key>
                <string>{-35,64}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{166,111},{110,162}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>7003151.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,716},{192,176}}</string>
                <key>offset</key>
                <string>{-12,42}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{148,126},{192,176}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>7003152.png</key>
            <dict>
                <key>frame</key>
                <string>{{822,616},{194,180}}</string>
                <key>offset</key>
                <string>{-12,39}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{147,127},{194,180}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>7003153.png</key>
            <dict>
                <key>frame</key>
                <string>{{618,728},{194,172}}</string>
                <key>offset</key>
                <string>{-7,42}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{152,128},{194,172}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>7003211.png</key>
            <dict>
                <key>frame</key>
                <string>{{426,352},{212,152}}</string>
                <key>offset</key>
                <string>{2,62}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{152,118},{212,152}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>7003212.png</key>
            <dict>
                <key>frame</key>
                <string>{{218,154},{216,148}}</string>
                <key>offset</key>
                <string>{-1,62}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{147,120},{216,148}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>7003213.png</key>
            <dict>
                <key>frame</key>
                <string>{{212,476},{212,150}}</string>
                <key>offset</key>
                <string>{-3,58}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{147,123},{212,150}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>7003214.png</key>
            <dict>
                <key>frame</key>
                <string>{{218,0},{218,154}}</string>
                <key>offset</key>
                <string>{-1,60}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{146,119},{218,154}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>7003215.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,578},{212,138}}</string>
                <key>offset</key>
                <string>{2,63}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{152,124},{212,138}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>7003221.png</key>
            <dict>
                <key>frame</key>
                <string>{{596,1882},{146,158}}</string>
                <key>offset</key>
                <string>{-2,64}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{181,113},{146,158}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>7003222.png</key>
            <dict>
                <key>frame</key>
                <string>{{690,1552},{166,158}}</string>
                <key>offset</key>
                <string>{-5,64}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{168,113},{166,158}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>7003223.png</key>
            <dict>
                <key>frame</key>
                <string>{{176,1474},{170,152}}</string>
                <key>offset</key>
                <string>{-8,70}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{163,110},{170,152}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>7003224.png</key>
            <dict>
                <key>frame</key>
                <string>{{440,1882},{158,156}}</string>
                <key>offset</key>
                <string>{-4,70}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{173,108},{158,156}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>7003225.png</key>
            <dict>
                <key>frame</key>
                <string>{{742,1862},{142,156}}</string>
                <key>offset</key>
                <string>{-7,70}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{178,108},{142,156}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>7003231.png</key>
            <dict>
                <key>frame</key>
                <string>{{864,180},{138,160}}</string>
                <key>offset</key>
                <string>{-33,73}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{154,103},{138,160}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>7003232.png</key>
            <dict>
                <key>frame</key>
                <string>{{864,318},{120,160}}</string>
                <key>offset</key>
                <string>{-36,71}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{160,105},{120,160}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>7003233.png</key>
            <dict>
                <key>frame</key>
                <string>{{338,1734},{134,162}}</string>
                <key>offset</key>
                <string>{-33,72}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{156,103},{134,162}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>7003234.png</key>
            <dict>
                <key>frame</key>
                <string>{{166,1782},{134,164}}</string>
                <key>offset</key>
                <string>{-35,72}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{154,102},{134,164}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>7003235.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,1918},{126,164}}</string>
                <key>offset</key>
                <string>{-33,73}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{160,101},{126,164}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>7003241.png</key>
            <dict>
                <key>frame</key>
                <string>{{170,1626},{156,168}}</string>
                <key>offset</key>
                <string>{-4,65}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{174,107},{156,168}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>7003242.png</key>
            <dict>
                <key>frame</key>
                <string>{{856,1594},{152,166}}</string>
                <key>offset</key>
                <string>{-8,66}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{172,107},{152,166}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>7003243.png</key>
            <dict>
                <key>frame</key>
                <string>{{176,1338},{136,172}}</string>
                <key>offset</key>
                <string>{-7,61}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{181,109},{136,172}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>7003244.png</key>
            <dict>
                <key>frame</key>
                <string>{{556,1182},{150,174}}</string>
                <key>offset</key>
                <string>{-2,56}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{179,113},{150,174}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>7003245.png</key>
            <dict>
                <key>frame</key>
                <string>{{858,438},{166,178}}</string>
                <key>offset</key>
                <string>{-5,61}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{168,106},{166,178}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>7003251.png</key>
            <dict>
                <key>frame</key>
                <string>{{434,174},{212,178}}</string>
                <key>offset</key>
                <string>{-2,45}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{148,122},{212,178}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>7003252.png</key>
            <dict>
                <key>frame</key>
                <string>{{436,0},{216,174}}</string>
                <key>offset</key>
                <string>{1,49}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{149,120},{216,174}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>7003253.png</key>
            <dict>
                <key>frame</key>
                <string>{{652,156},{212,178}}</string>
                <key>offset</key>
                <string>{2,46}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{152,121},{212,178}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>7003254.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{218,178}}</string>
                <key>offset</key>
                <string>{0,47}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{147,120},{218,178}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>7003255.png</key>
            <dict>
                <key>frame</key>
                <string>{{646,334},{212,176}}</string>
                <key>offset</key>
                <string>{-3,48}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{147,120},{212,176}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>7003311.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,1160},{176,178}}</string>
                <key>offset</key>
                <string>{-4,55}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{164,112},{176,178}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>7003312.png</key>
            <dict>
                <key>frame</key>
                <string>{{178,1250},{88,178}}</string>
                <key>offset</key>
                <string>{2,55}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{214,112},{88,178}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>7003313.png</key>
            <dict>
                <key>frame</key>
                <string>{{376,1092},{180,176}}</string>
                <key>offset</key>
                <string>{0,54}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{166,114},{180,176}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>7003314.png</key>
            <dict>
                <key>frame</key>
                <string>{{624,612},{116,198}}</string>
                <key>offset</key>
                <string>{13,65}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{211,92},{116,198}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>7003315.png</key>
            <dict>
                <key>frame</key>
                <string>{{624,510},{102,200}}</string>
                <key>offset</key>
                <string>{2,66}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{207,90},{102,200}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>7003321.png</key>
            <dict>
                <key>frame</key>
                <string>{{338,1644},{90,164}}</string>
                <key>offset</key>
                <string>{0,61}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{211,113},{90,164}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>7003322.png</key>
            <dict>
                <key>frame</key>
                <string>{{844,1746},{116,158}}</string>
                <key>offset</key>
                <string>{-6,58}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{192,119},{116,158}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>7003323.png</key>
            <dict>
                <key>frame</key>
                <string>{{866,0},{180,158}}</string>
                <key>offset</key>
                <string>{-26,58}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{140,119},{180,158}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>7003324.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,1754},{164,166}}</string>
                <key>offset</key>
                <string>{12,62}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{186,111},{164,166}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>7003325.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,892},{132,190}}</string>
                <key>offset</key>
                <string>{29,74}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{219,87},{132,190}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>7003331.png</key>
            <dict>
                <key>frame</key>
                <string>{{164,1918},{122,154}}</string>
                <key>offset</key>
                <string>{-7,58}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{188,121},{122,154}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>7003332.png</key>
            <dict>
                <key>frame</key>
                <string>{{786,958},{186,162}}</string>
                <key>offset</key>
                <string>{5,63}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{168,112},{186,162}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>7003333.png</key>
            <dict>
                <key>frame</key>
                <string>{{730,1284},{148,174}}</string>
                <key>offset</key>
                <string>{1,68}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{183,101},{148,174}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>7003334.png</key>
            <dict>
                <key>frame</key>
                <string>{{356,1268},{172,150}}</string>
                <key>offset</key>
                <string>{-9,56}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{161,125},{172,150}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>7003335.png</key>
            <dict>
                <key>frame</key>
                <string>{{502,1726},{156,162}}</string>
                <key>offset</key>
                <string>{9,62}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{187,113},{156,162}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>7003341.png</key>
            <dict>
                <key>frame</key>
                <string>{{742,1120},{176,164}}</string>
                <key>offset</key>
                <string>{-2,59}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{166,115},{176,164}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>7003342.png</key>
            <dict>
                <key>frame</key>
                <string>{{212,626},{182,192}}</string>
                <key>offset</key>
                <string>{-3,73}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{162,87},{182,192}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>7003343.png</key>
            <dict>
                <key>frame</key>
                <string>{{528,1332},{132,172}}</string>
                <key>offset</key>
                <string>{3,62}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{193,108},{132,172}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>7003344.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,1634},{120,168}}</string>
                <key>offset</key>
                <string>{-5,61}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{191,111},{120,168}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>7003345.png</key>
            <dict>
                <key>frame</key>
                <string>{{516,1576},{150,164}}</string>
                <key>offset</key>
                <string>{1,59}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{182,115},{150,164}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>7003351.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,1336},{176,176}}</string>
                <key>offset</key>
                <string>{3,68}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{171,100},{176,176}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>7003352.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,178},{88,216}}</string>
                <key>offset</key>
                <string>{-4,91}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{208,57},{88,216}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>7003353.png</key>
            <dict>
                <key>frame</key>
                <string>{{560,1018},{182,164}}</string>
                <key>offset</key>
                <string>{0,62}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{165,112},{182,164}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>7003354.png</key>
            <dict>
                <key>frame</key>
                <string>{{348,1418},{116,172}}</string>
                <key>offset</key>
                <string>{-14,65}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{184,105},{116,172}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>7003355.png</key>
            <dict>
                <key>frame</key>
                <string>{{918,1282},{102,164}}</string>
                <key>offset</key>
                <string>{-3,61}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{202,113},{102,164}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>7003511.png</key>
            <dict>
                <key>frame</key>
                <string>{{186,1118},{180,132}}</string>
                <key>offset</key>
                <string>{-19,36}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{147,154},{180,132}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>7003512.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,1024},{186,136}}</string>
                <key>offset</key>
                <string>{21,-45}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{184,233},{186,136}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>7003521.png</key>
            <dict>
                <key>frame</key>
                <string>{{870,1446},{154,148}}</string>
                <key>offset</key>
                <string>{6,37}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{185,145},{154,148}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>7003522.png</key>
            <dict>
                <key>frame</key>
                <string>{{596,900},{190,118}}</string>
                <key>offset</key>
                <string>{70,-18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{231,215},{190,118}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>7003531.png</key>
            <dict>
                <key>frame</key>
                <string>{{190,970},{186,148}}</string>
                <key>offset</key>
                <string>{17,44}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{180,138},{186,148}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>7003532.png</key>
            <dict>
                <key>frame</key>
                <string>{{424,504},{200,120}}</string>
                <key>offset</key>
                <string>{75,15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{231,181},{200,120}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>7003541.png</key>
            <dict>
                <key>frame</key>
                <string>{{214,302},{212,174}}</string>
                <key>offset</key>
                <string>{16,61}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{166,108},{212,174}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>7003542.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,1512},{170,122}}</string>
                <key>offset</key>
                <string>{34,51}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{205,144},{170,122}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>7003551.png</key>
            <dict>
                <key>frame</key>
                <string>{{424,624},{182,194}}</string>
                <key>offset</key>
                <string>{18,68}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{183,91},{182,194}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>7003552.png</key>
            <dict>
                <key>frame</key>
                <string>{{376,970},{184,122}}</string>
                <key>offset</key>
                <string>{-21,51}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{143,144},{184,122}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>7003.pvr.ccz</string>
            <key>size</key>
            <string>{1024,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:3295a54c4c3c3f2be35225fd6e9c179a:1/1$</string>
            <key>textureFileName</key>
            <string>7003.pvr.ccz</string>
        </dict>
    </dict>
</plist>
