<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>login/login_backBtn.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,253},{230,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{230,70}}</string>
                <key>sourceSize</key>
                <string>{232,70}</string>
            </dict>
            <key>login/login_backLeft.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,324},{52,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{52,68}}</string>
                <key>sourceSize</key>
                <string>{52,68}</string>
            </dict>
            <key>login/login_backRight.png</key>
            <dict>
                <key>frame</key>
                <string>{{357,615},{52,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{52,68}}</string>
                <key>sourceSize</key>
                <string>{52,68}</string>
            </dict>
            <key>login/login_beginEnter.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,182},{230,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{230,70}}</string>
                <key>sourceSize</key>
                <string>{232,70}</string>
            </dict>
            <key>login/login_bg1.png</key>
            <dict>
                <key>frame</key>
                <string>{{232,216},{100,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,100}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>login/login_btnY1.png</key>
            <dict>
                <key>frame</key>
                <string>{{357,684},{138,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{138,58}}</string>
                <key>sourceSize</key>
                <string>{138,58}</string>
            </dict>
            <key>login/login_career1000.png</key>
            <dict>
                <key>frame</key>
                <string>{{357,584},{30,53}}</string>
                <key>offset</key>
                <string>{-2,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{10,35},{30,53}}</string>
                <key>sourceSize</key>
                <string>{54,113}</string>
            </dict>
            <key>login/login_career2000.png</key>
            <dict>
                <key>frame</key>
                <string>{{357,522},{30,55}}</string>
                <key>offset</key>
                <string>{-1,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{11,35},{30,55}}</string>
                <key>sourceSize</key>
                <string>{54,113}</string>
            </dict>
            <key>login/login_career3000.png</key>
            <dict>
                <key>frame</key>
                <string>{{357,553},{30,53}}</string>
                <key>offset</key>
                <string>{-1,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{11,35},{30,53}}</string>
                <key>sourceSize</key>
                <string>{54,113}</string>
            </dict>
            <key>login/login_carrersbg.png</key>
            <dict>
                <key>frame</key>
                <string>{{360,197},{52,113}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{52,113}}</string>
                <key>sourceSize</key>
                <string>{54,113}</string>
            </dict>
            <key>login/login_clickcreatetxt.png</key>
            <dict>
                <key>frame</key>
                <string>{{232,182},{33,127}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{33,127}}</string>
                <key>sourceSize</key>
                <string>{33,127}</string>
            </dict>
            <key>login/login_creatNameBg.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,119},{359,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{359,62}}</string>
                <key>sourceSize</key>
                <string>{359,62}</string>
            </dict>
            <key>login/login_dice.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,377},{64,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{64,66}}</string>
                <key>sourceSize</key>
                <string>{66,68}</string>
            </dict>
            <key>login/login_enter.png</key>
            <dict>
                <key>frame</key>
                <string>{{123,771},{220,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{220,60}}</string>
                <key>sourceSize</key>
                <string>{220,60}</string>
            </dict>
            <key>login/login_enter_gray.png</key>
            <dict>
                <key>frame</key>
                <string>{{62,771},{220,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{220,60}}</string>
                <key>sourceSize</key>
                <string>{220,60}</string>
            </dict>
            <key>login/login_enter_sel.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,523},{218,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{218,60}}</string>
                <key>sourceSize</key>
                <string>{220,60}</string>
            </dict>
            <key>login/login_guest.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,771},{220,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{220,60}}</string>
                <key>sourceSize</key>
                <string>{220,60}</string>
            </dict>
            <key>login/login_healthTip.png</key>
            <dict>
                <key>frame</key>
                <string>{{333,216},{554,23}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{554,23}}</string>
                <key>sourceSize</key>
                <string>{554,23}</string>
            </dict>
            <key>login/login_nameLine1.png</key>
            <dict>
                <key>frame</key>
                <string>{{357,311},{210,55}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{210,55}}</string>
                <key>sourceSize</key>
                <string>{210,55}</string>
            </dict>
            <key>login/login_noticesBtn.png</key>
            <dict>
                <key>frame</key>
                <string>{{434,8},{72,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{72,72}}</string>
                <key>sourceSize</key>
                <string>{72,72}</string>
            </dict>
            <key>login/login_qq.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,462},{218,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{218,60}}</string>
                <key>sourceSize</key>
                <string>{220,60}</string>
            </dict>
            <key>login/login_roleDelete.png</key>
            <dict>
                <key>frame</key>
                <string>{{357,743},{58,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{58,58}}</string>
                <key>sourceSize</key>
                <string>{58,58}</string>
            </dict>
            <key>login/login_roleDelete1.png</key>
            <dict>
                <key>frame</key>
                <string>{{361,119},{42,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{42,42}}</string>
                <key>sourceSize</key>
                <string>{42,42}</string>
            </dict>
            <key>login/login_school1000.png</key>
            <dict>
                <key>frame</key>
                <string>{{413,81},{98,200}}</string>
                <key>offset</key>
                <string>{3,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{94,57},{98,200}}</string>
                <key>sourceSize</key>
                <string>{280,320}</string>
            </dict>
            <key>login/login_school2000.png</key>
            <dict>
                <key>frame</key>
                <string>{{413,282},{96,194}}</string>
                <key>offset</key>
                <string>{7,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{99,60},{96,194}}</string>
                <key>sourceSize</key>
                <string>{280,320}</string>
            </dict>
            <key>login/login_school3000.png</key>
            <dict>
                <key>frame</key>
                <string>{{413,477},{88,196}}</string>
                <key>offset</key>
                <string>{7,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{103,60},{88,196}}</string>
                <key>sourceSize</key>
                <string>{280,320}</string>
            </dict>
            <key>login/login_selRoleNameBg.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,8},{432,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{432,64}}</string>
                <key>sourceSize</key>
                <string>{432,64}</string>
            </dict>
            <key>login/login_selServerBg.png</key>
            <dict>
                <key>frame</key>
                <string>{{361,162},{34,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{34,34}}</string>
                <key>sourceSize</key>
                <string>{34,34}</string>
            </dict>
            <key>login/login_serverBg.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,73},{411,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{411,45}}</string>
                <key>sourceSize</key>
                <string>{411,45}</string>
            </dict>
            <key>login/login_serverBtn.png</key>
            <dict>
                <key>frame</key>
                <string>{{245,637},{174,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{174,68}}</string>
                <key>sourceSize</key>
                <string>{174,68}</string>
            </dict>
            <key>login/login_serverBtn2.png</key>
            <dict>
                <key>frame</key>
                <string>{{123,393},{209,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{209,68}}</string>
                <key>sourceSize</key>
                <string>{209,68}</string>
            </dict>
            <key>login/login_serverBtnSel2.png</key>
            <dict>
                <key>frame</key>
                <string>{{123,324},{209,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{209,68}}</string>
                <key>sourceSize</key>
                <string>{209,68}</string>
            </dict>
            <key>login/login_serverBtnsel.png</key>
            <dict>
                <key>frame</key>
                <string>{{245,462},{174,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{174,68}}</string>
                <key>sourceSize</key>
                <string>{174,68}</string>
            </dict>
            <key>login/login_serverLine.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1},{496,6}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{496,6}}</string>
                <key>sourceSize</key>
                <string>{496,6}</string>
            </dict>
            <key>login/login_statusGrag.png</key>
            <dict>
                <key>frame</key>
                <string>{{88,992},{28,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{28,28}}</string>
                <key>sourceSize</key>
                <string>{28,28}</string>
            </dict>
            <key>login/login_statusGreen.png</key>
            <dict>
                <key>frame</key>
                <string>{{59,992},{28,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{28,28}}</string>
                <key>sourceSize</key>
                <string>{28,28}</string>
            </dict>
            <key>login/login_statusRed.png</key>
            <dict>
                <key>frame</key>
                <string>{{30,992},{28,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{28,28}}</string>
                <key>sourceSize</key>
                <string>{28,28}</string>
            </dict>
            <key>login/login_statusYellow.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,992},{28,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{28,28}}</string>
                <key>sourceSize</key>
                <string>{28,28}</string>
            </dict>
            <key>login/login_wx.png</key>
            <dict>
                <key>frame</key>
                <string>{{184,771},{218,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{218,60}}</string>
                <key>sourceSize</key>
                <string>{220,60}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>login.png</string>
            <key>size</key>
            <string>{512,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:c16ea0fc3533c5d6b509fe90e067d9d8:1/1$</string>
            <key>textureFileName</key>
            <string>login.png</string>
        </dict>
    </dict>
</plist>
