<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>face151.png</key>
			<dict>
				<key>width</key>
				<integer>48</integer>
				<key>height</key>
				<integer>48</integer>
				<key>originalWidth</key>
				<integer>58</integer>
				<key>originalHeight</key>
				<integer>49</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>5</real>
				<key>offsetY</key>
				<real>0.5</real>
			</dict>
			<key>face1510.png</key>
			<dict>
				<key>width</key>
				<integer>48</integer>
				<key>height</key>
				<integer>48</integer>
				<key>originalWidth</key>
				<integer>58</integer>
				<key>originalHeight</key>
				<integer>49</integer>
				<key>x</key>
				<integer>49</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>5</real>
				<key>offsetY</key>
				<real>0.5</real>
			</dict>
			<key>face1511.png</key>
			<dict>
				<key>width</key>
				<integer>48</integer>
				<key>height</key>
				<integer>48</integer>
				<key>originalWidth</key>
				<integer>58</integer>
				<key>originalHeight</key>
				<integer>49</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>49</integer>
				<key>offsetX</key>
				<real>5</real>
				<key>offsetY</key>
				<real>0.5</real>
			</dict>
			<key>face1512.png</key>
			<dict>
				<key>width</key>
				<integer>48</integer>
				<key>height</key>
				<integer>48</integer>
				<key>originalWidth</key>
				<integer>58</integer>
				<key>originalHeight</key>
				<integer>49</integer>
				<key>x</key>
				<integer>49</integer>
				<key>y</key>
				<integer>49</integer>
				<key>offsetX</key>
				<real>5</real>
				<key>offsetY</key>
				<real>0.5</real>
			</dict>
			<key>face1513.png</key>
			<dict>
				<key>width</key>
				<integer>48</integer>
				<key>height</key>
				<integer>48</integer>
				<key>originalWidth</key>
				<integer>58</integer>
				<key>originalHeight</key>
				<integer>49</integer>
				<key>x</key>
				<integer>98</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>5</real>
				<key>offsetY</key>
				<real>0.5</real>
			</dict>
			<key>face1514.png</key>
			<dict>
				<key>width</key>
				<integer>48</integer>
				<key>height</key>
				<integer>48</integer>
				<key>originalWidth</key>
				<integer>58</integer>
				<key>originalHeight</key>
				<integer>49</integer>
				<key>x</key>
				<integer>98</integer>
				<key>y</key>
				<integer>49</integer>
				<key>offsetX</key>
				<real>5</real>
				<key>offsetY</key>
				<real>0.5</real>
			</dict>
			<key>face1515.png</key>
			<dict>
				<key>width</key>
				<integer>48</integer>
				<key>height</key>
				<integer>48</integer>
				<key>originalWidth</key>
				<integer>58</integer>
				<key>originalHeight</key>
				<integer>49</integer>
				<key>x</key>
				<integer>147</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>5</real>
				<key>offsetY</key>
				<real>0.5</real>
			</dict>
			<key>face1516.png</key>
			<dict>
				<key>width</key>
				<integer>48</integer>
				<key>height</key>
				<integer>49</integer>
				<key>originalWidth</key>
				<integer>58</integer>
				<key>originalHeight</key>
				<integer>49</integer>
				<key>x</key>
				<integer>196</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>5</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>face1517.png</key>
			<dict>
				<key>width</key>
				<integer>48</integer>
				<key>height</key>
				<integer>49</integer>
				<key>originalWidth</key>
				<integer>58</integer>
				<key>originalHeight</key>
				<integer>49</integer>
				<key>x</key>
				<integer>147</integer>
				<key>y</key>
				<integer>49</integer>
				<key>offsetX</key>
				<real>5</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>face1518.png</key>
			<dict>
				<key>width</key>
				<integer>50</integer>
				<key>height</key>
				<integer>49</integer>
				<key>originalWidth</key>
				<integer>58</integer>
				<key>originalHeight</key>
				<integer>49</integer>
				<key>x</key>
				<integer>196</integer>
				<key>y</key>
				<integer>50</integer>
				<key>offsetX</key>
				<real>4</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>face1519.png</key>
			<dict>
				<key>width</key>
				<integer>56</integer>
				<key>height</key>
				<integer>49</integer>
				<key>originalWidth</key>
				<integer>58</integer>
				<key>originalHeight</key>
				<integer>49</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>98</integer>
				<key>offsetX</key>
				<real>1</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>face152.png</key>
			<dict>
				<key>width</key>
				<integer>48</integer>
				<key>height</key>
				<integer>48</integer>
				<key>originalWidth</key>
				<integer>58</integer>
				<key>originalHeight</key>
				<integer>49</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>148</integer>
				<key>offsetX</key>
				<real>5</real>
				<key>offsetY</key>
				<real>0.5</real>
			</dict>
			<key>face1520.png</key>
			<dict>
				<key>width</key>
				<integer>58</integer>
				<key>height</key>
				<integer>49</integer>
				<key>originalWidth</key>
				<integer>58</integer>
				<key>originalHeight</key>
				<integer>49</integer>
				<key>x</key>
				<integer>57</integer>
				<key>y</key>
				<integer>98</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>face1521.png</key>
			<dict>
				<key>width</key>
				<integer>48</integer>
				<key>height</key>
				<integer>48</integer>
				<key>originalWidth</key>
				<integer>58</integer>
				<key>originalHeight</key>
				<integer>49</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>197</integer>
				<key>offsetX</key>
				<real>5</real>
				<key>offsetY</key>
				<real>0.5</real>
			</dict>
			<key>face1522.png</key>
			<dict>
				<key>width</key>
				<integer>48</integer>
				<key>height</key>
				<integer>48</integer>
				<key>originalWidth</key>
				<integer>58</integer>
				<key>originalHeight</key>
				<integer>49</integer>
				<key>x</key>
				<integer>49</integer>
				<key>y</key>
				<integer>148</integer>
				<key>offsetX</key>
				<real>5</real>
				<key>offsetY</key>
				<real>0.5</real>
			</dict>
			<key>face1523.png</key>
			<dict>
				<key>width</key>
				<integer>48</integer>
				<key>height</key>
				<integer>48</integer>
				<key>originalWidth</key>
				<integer>58</integer>
				<key>originalHeight</key>
				<integer>49</integer>
				<key>x</key>
				<integer>98</integer>
				<key>y</key>
				<integer>148</integer>
				<key>offsetX</key>
				<real>5</real>
				<key>offsetY</key>
				<real>0.5</real>
			</dict>
			<key>face1524.png</key>
			<dict>
				<key>width</key>
				<integer>48</integer>
				<key>height</key>
				<integer>48</integer>
				<key>originalWidth</key>
				<integer>58</integer>
				<key>originalHeight</key>
				<integer>49</integer>
				<key>x</key>
				<integer>49</integer>
				<key>y</key>
				<integer>197</integer>
				<key>offsetX</key>
				<real>5</real>
				<key>offsetY</key>
				<real>0.5</real>
			</dict>
			<key>face1525.png</key>
			<dict>
				<key>width</key>
				<integer>48</integer>
				<key>height</key>
				<integer>48</integer>
				<key>originalWidth</key>
				<integer>58</integer>
				<key>originalHeight</key>
				<integer>49</integer>
				<key>x</key>
				<integer>116</integer>
				<key>y</key>
				<integer>99</integer>
				<key>offsetX</key>
				<real>5</real>
				<key>offsetY</key>
				<real>0.5</real>
			</dict>
			<key>face1526.png</key>
			<dict>
				<key>width</key>
				<integer>48</integer>
				<key>height</key>
				<integer>48</integer>
				<key>originalWidth</key>
				<integer>58</integer>
				<key>originalHeight</key>
				<integer>49</integer>
				<key>x</key>
				<integer>98</integer>
				<key>y</key>
				<integer>197</integer>
				<key>offsetX</key>
				<real>5</real>
				<key>offsetY</key>
				<real>0.5</real>
			</dict>
			<key>face1527.png</key>
			<dict>
				<key>width</key>
				<integer>48</integer>
				<key>height</key>
				<integer>48</integer>
				<key>originalWidth</key>
				<integer>58</integer>
				<key>originalHeight</key>
				<integer>49</integer>
				<key>x</key>
				<integer>147</integer>
				<key>y</key>
				<integer>148</integer>
				<key>offsetX</key>
				<real>5</real>
				<key>offsetY</key>
				<real>0.5</real>
			</dict>
			<key>face1528.png</key>
			<dict>
				<key>width</key>
				<integer>48</integer>
				<key>height</key>
				<integer>48</integer>
				<key>originalWidth</key>
				<integer>58</integer>
				<key>originalHeight</key>
				<integer>49</integer>
				<key>x</key>
				<integer>196</integer>
				<key>y</key>
				<integer>100</integer>
				<key>offsetX</key>
				<real>5</real>
				<key>offsetY</key>
				<real>0.5</real>
			</dict>
			<key>face1529.png</key>
			<dict>
				<key>width</key>
				<integer>48</integer>
				<key>height</key>
				<integer>48</integer>
				<key>originalWidth</key>
				<integer>58</integer>
				<key>originalHeight</key>
				<integer>49</integer>
				<key>x</key>
				<integer>147</integer>
				<key>y</key>
				<integer>197</integer>
				<key>offsetX</key>
				<real>5</real>
				<key>offsetY</key>
				<real>0.5</real>
			</dict>
			<key>face153.png</key>
			<dict>
				<key>width</key>
				<integer>48</integer>
				<key>height</key>
				<integer>48</integer>
				<key>originalWidth</key>
				<integer>58</integer>
				<key>originalHeight</key>
				<integer>49</integer>
				<key>x</key>
				<integer>196</integer>
				<key>y</key>
				<integer>149</integer>
				<key>offsetX</key>
				<real>5</real>
				<key>offsetY</key>
				<real>0.5</real>
			</dict>
			<key>face1530.png</key>
			<dict>
				<key>width</key>
				<integer>48</integer>
				<key>height</key>
				<integer>48</integer>
				<key>originalWidth</key>
				<integer>58</integer>
				<key>originalHeight</key>
				<integer>49</integer>
				<key>x</key>
				<integer>196</integer>
				<key>y</key>
				<integer>198</integer>
				<key>offsetX</key>
				<real>5</real>
				<key>offsetY</key>
				<real>0.5</real>
			</dict>
			<key>face1531.png</key>
			<dict>
				<key>width</key>
				<integer>50</integer>
				<key>height</key>
				<integer>48</integer>
				<key>originalWidth</key>
				<integer>58</integer>
				<key>originalHeight</key>
				<integer>49</integer>
				<key>x</key>
				<integer>245</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>4</real>
				<key>offsetY</key>
				<real>0.5</real>
			</dict>
			<key>face1532.png</key>
			<dict>
				<key>width</key>
				<integer>52</integer>
				<key>height</key>
				<integer>48</integer>
				<key>originalWidth</key>
				<integer>58</integer>
				<key>originalHeight</key>
				<integer>49</integer>
				<key>x</key>
				<integer>296</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>3</real>
				<key>offsetY</key>
				<real>0.5</real>
			</dict>
			<key>face1533.png</key>
			<dict>
				<key>width</key>
				<integer>53</integer>
				<key>height</key>
				<integer>48</integer>
				<key>originalWidth</key>
				<integer>58</integer>
				<key>originalHeight</key>
				<integer>49</integer>
				<key>x</key>
				<integer>247</integer>
				<key>y</key>
				<integer>49</integer>
				<key>offsetX</key>
				<real>2.5</real>
				<key>offsetY</key>
				<real>0.5</real>
			</dict>
			<key>face1534.png</key>
			<dict>
				<key>width</key>
				<integer>55</integer>
				<key>height</key>
				<integer>48</integer>
				<key>originalWidth</key>
				<integer>58</integer>
				<key>originalHeight</key>
				<integer>49</integer>
				<key>x</key>
				<integer>247</integer>
				<key>y</key>
				<integer>98</integer>
				<key>offsetX</key>
				<real>1.5</real>
				<key>offsetY</key>
				<real>0.5</real>
			</dict>
			<key>face1535.png</key>
			<dict>
				<key>width</key>
				<integer>57</integer>
				<key>height</key>
				<integer>49</integer>
				<key>originalWidth</key>
				<integer>58</integer>
				<key>originalHeight</key>
				<integer>49</integer>
				<key>x</key>
				<integer>349</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>0.5</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>face1536.png</key>
			<dict>
				<key>width</key>
				<integer>58</integer>
				<key>height</key>
				<integer>49</integer>
				<key>originalWidth</key>
				<integer>58</integer>
				<key>originalHeight</key>
				<integer>49</integer>
				<key>x</key>
				<integer>245</integer>
				<key>y</key>
				<integer>147</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>face1537.png</key>
			<dict>
				<key>width</key>
				<integer>48</integer>
				<key>height</key>
				<integer>48</integer>
				<key>originalWidth</key>
				<integer>58</integer>
				<key>originalHeight</key>
				<integer>49</integer>
				<key>x</key>
				<integer>303</integer>
				<key>y</key>
				<integer>50</integer>
				<key>offsetX</key>
				<real>5</real>
				<key>offsetY</key>
				<real>0.5</real>
			</dict>
			<key>face1538.png</key>
			<dict>
				<key>width</key>
				<integer>48</integer>
				<key>height</key>
				<integer>48</integer>
				<key>originalWidth</key>
				<integer>58</integer>
				<key>originalHeight</key>
				<integer>49</integer>
				<key>x</key>
				<integer>352</integer>
				<key>y</key>
				<integer>50</integer>
				<key>offsetX</key>
				<real>5</real>
				<key>offsetY</key>
				<real>0.5</real>
			</dict>
			<key>face1539.png</key>
			<dict>
				<key>width</key>
				<integer>48</integer>
				<key>height</key>
				<integer>48</integer>
				<key>originalWidth</key>
				<integer>58</integer>
				<key>originalHeight</key>
				<integer>49</integer>
				<key>x</key>
				<integer>407</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>5</real>
				<key>offsetY</key>
				<real>0.5</real>
			</dict>
			<key>face154.png</key>
			<dict>
				<key>width</key>
				<integer>48</integer>
				<key>height</key>
				<integer>48</integer>
				<key>originalWidth</key>
				<integer>58</integer>
				<key>originalHeight</key>
				<integer>49</integer>
				<key>x</key>
				<integer>245</integer>
				<key>y</key>
				<integer>197</integer>
				<key>offsetX</key>
				<real>5</real>
				<key>offsetY</key>
				<real>0.5</real>
			</dict>
			<key>face155.png</key>
			<dict>
				<key>width</key>
				<integer>48</integer>
				<key>height</key>
				<integer>48</integer>
				<key>originalWidth</key>
				<integer>58</integer>
				<key>originalHeight</key>
				<integer>49</integer>
				<key>x</key>
				<integer>304</integer>
				<key>y</key>
				<integer>99</integer>
				<key>offsetX</key>
				<real>5</real>
				<key>offsetY</key>
				<real>0.5</real>
			</dict>
			<key>face156.png</key>
			<dict>
				<key>width</key>
				<integer>48</integer>
				<key>height</key>
				<integer>48</integer>
				<key>originalWidth</key>
				<integer>58</integer>
				<key>originalHeight</key>
				<integer>49</integer>
				<key>x</key>
				<integer>401</integer>
				<key>y</key>
				<integer>50</integer>
				<key>offsetX</key>
				<real>5</real>
				<key>offsetY</key>
				<real>0.5</real>
			</dict>
			<key>face157.png</key>
			<dict>
				<key>width</key>
				<integer>48</integer>
				<key>height</key>
				<integer>48</integer>
				<key>originalWidth</key>
				<integer>58</integer>
				<key>originalHeight</key>
				<integer>49</integer>
				<key>x</key>
				<integer>304</integer>
				<key>y</key>
				<integer>148</integer>
				<key>offsetX</key>
				<real>5</real>
				<key>offsetY</key>
				<real>0.5</real>
			</dict>
			<key>face158.png</key>
			<dict>
				<key>width</key>
				<integer>48</integer>
				<key>height</key>
				<integer>48</integer>
				<key>originalWidth</key>
				<integer>58</integer>
				<key>originalHeight</key>
				<integer>49</integer>
				<key>x</key>
				<integer>353</integer>
				<key>y</key>
				<integer>99</integer>
				<key>offsetX</key>
				<real>5</real>
				<key>offsetY</key>
				<real>0.5</real>
			</dict>
			<key>face159.png</key>
			<dict>
				<key>width</key>
				<integer>48</integer>
				<key>height</key>
				<integer>48</integer>
				<key>originalWidth</key>
				<integer>58</integer>
				<key>originalHeight</key>
				<integer>49</integer>
				<key>x</key>
				<integer>456</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>5</real>
				<key>offsetY</key>
				<real>0.5</real>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>0</integer>
			<key>textureFileName</key>
			<string>face150.png</string>
			<key>realTextureFileName</key>
			<string>face150.png</string>
			<key>size</key>
			<string>{4096,4096}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>4096</integer>
			<key>height</key>
			<integer>4096</integer>
		</dict>
	</dict>
</plist>