<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>6512111.png</key>
            <dict>
                <key>frame</key>
                <string>{{958,816},{470,224}}</string>
                <key>offset</key>
                <string>{-20,65}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{257,335},{470,224}}</string>
                <key>sourceSize</key>
                <string>{1024,1024}</string>
            </dict>
            <key>6512112.png</key>
            <dict>
                <key>frame</key>
                <string>{{938,1040},{460,222}}</string>
                <key>offset</key>
                <string>{-20,64}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{262,337},{460,222}}</string>
                <key>sourceSize</key>
                <string>{1024,1024}</string>
            </dict>
            <key>6512113.png</key>
            <dict>
                <key>frame</key>
                <string>{{1428,1018},{462,232}}</string>
                <key>offset</key>
                <string>{-22,69}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{259,327},{462,232}}</string>
                <key>sourceSize</key>
                <string>{1024,1024}</string>
            </dict>
            <key>6512121.png</key>
            <dict>
                <key>frame</key>
                <string>{{1526,2520},{368,236}}</string>
                <key>offset</key>
                <string>{-72,61}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{256,333},{368,236}}</string>
                <key>sourceSize</key>
                <string>{1024,1024}</string>
            </dict>
            <key>6512122.png</key>
            <dict>
                <key>frame</key>
                <string>{{1526,2756},{366,232}}</string>
                <key>offset</key>
                <string>{-69,59}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{260,337},{366,232}}</string>
                <key>sourceSize</key>
                <string>{1024,1024}</string>
            </dict>
            <key>6512123.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,2436},{374,230}}</string>
                <key>offset</key>
                <string>{-72,58}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{253,339},{374,230}}</string>
                <key>sourceSize</key>
                <string>{1024,1024}</string>
            </dict>
            <key>6512131.png</key>
            <dict>
                <key>frame</key>
                <string>{{1490,2988},{294,306}}</string>
                <key>offset</key>
                <string>{-75,19}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{290,340},{294,306}}</string>
                <key>sourceSize</key>
                <string>{1024,1024}</string>
            </dict>
            <key>6512132.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,2988},{302,312}}</string>
                <key>offset</key>
                <string>{-78,19}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{283,337},{302,312}}</string>
                <key>sourceSize</key>
                <string>{1024,1024}</string>
            </dict>
            <key>6512133.png</key>
            <dict>
                <key>frame</key>
                <string>{{368,2914},{300,314}}</string>
                <key>offset</key>
                <string>{-77,13}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{285,342},{300,314}}</string>
                <key>sourceSize</key>
                <string>{1024,1024}</string>
            </dict>
            <key>6512141.png</key>
            <dict>
                <key>frame</key>
                <string>{{780,2204},{376,314}}</string>
                <key>offset</key>
                <string>{-63,23}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{261,332},{376,314}}</string>
                <key>sourceSize</key>
                <string>{1024,1024}</string>
            </dict>
            <key>6512142.png</key>
            <dict>
                <key>frame</key>
                <string>{{758,2518},{370,318}}</string>
                <key>offset</key>
                <string>{-60,19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{267,334},{370,318}}</string>
                <key>sourceSize</key>
                <string>{1024,1024}</string>
            </dict>
            <key>6512143.png</key>
            <dict>
                <key>frame</key>
                <string>{{1726,1550},{372,322}}</string>
                <key>offset</key>
                <string>{-59,15}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{267,336},{372,322}}</string>
                <key>sourceSize</key>
                <string>{1024,1024}</string>
            </dict>
            <key>6512151.png</key>
            <dict>
                <key>frame</key>
                <string>{{484,544},{474,308}}</string>
                <key>offset</key>
                <string>{20,35}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{295,323},{474,308}}</string>
                <key>sourceSize</key>
                <string>{1024,1024}</string>
            </dict>
            <key>6512152.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,912},{464,308}}</string>
                <key>offset</key>
                <string>{20,33}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{300,325},{464,308}}</string>
                <key>sourceSize</key>
                <string>{1024,1024}</string>
            </dict>
            <key>6512153.png</key>
            <dict>
                <key>frame</key>
                <string>{{472,852},{466,298}}</string>
                <key>offset</key>
                <string>{21,36}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{300,327},{466,298}}</string>
                <key>sourceSize</key>
                <string>{1024,1024}</string>
            </dict>
            <key>6512211.png</key>
            <dict>
                <key>frame</key>
                <string>{{1448,778},{470,240}}</string>
                <key>offset</key>
                <string>{-16,53}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{261,339},{470,240}}</string>
                <key>sourceSize</key>
                <string>{1024,1024}</string>
            </dict>
            <key>6512212.png</key>
            <dict>
                <key>frame</key>
                <string>{{976,244},{486,250}}</string>
                <key>offset</key>
                <string>{-7,42}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{262,345},{486,250}}</string>
                <key>sourceSize</key>
                <string>{1024,1024}</string>
            </dict>
            <key>6512213.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,1220},{454,250}}</string>
                <key>offset</key>
                <string>{19,45}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{304,342},{454,250}}</string>
                <key>sourceSize</key>
                <string>{1024,1024}</string>
            </dict>
            <key>6512214.png</key>
            <dict>
                <key>frame</key>
                <string>{{488,322},{486,222}}</string>
                <key>offset</key>
                <string>{18,48}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{287,353},{486,222}}</string>
                <key>sourceSize</key>
                <string>{1024,1024}</string>
            </dict>
            <key>6512215.png</key>
            <dict>
                <key>frame</key>
                <string>{{1448,518},{472,260}}</string>
                <key>offset</key>
                <string>{-1,41}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{275,341},{472,260}}</string>
                <key>sourceSize</key>
                <string>{1024,1024}</string>
            </dict>
            <key>6512221.png</key>
            <dict>
                <key>frame</key>
                <string>{{1182,2134},{378,310}}</string>
                <key>offset</key>
                <string>{-37,87}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{286,270},{378,310}}</string>
                <key>sourceSize</key>
                <string>{1024,1024}</string>
            </dict>
            <key>6512222.png</key>
            <dict>
                <key>frame</key>
                <string>{{920,1262},{408,296}}</string>
                <key>offset</key>
                <string>{-36,91}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{272,273},{408,296}}</string>
                <key>sourceSize</key>
                <string>{1024,1024}</string>
            </dict>
            <key>6512223.png</key>
            <dict>
                <key>frame</key>
                <string>{{1328,1550},{398,282}}</string>
                <key>offset</key>
                <string>{-25,96}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{288,275},{398,282}}</string>
                <key>sourceSize</key>
                <string>{1024,1024}</string>
            </dict>
            <key>6512224.png</key>
            <dict>
                <key>frame</key>
                <string>{{1646,1922},{388,312}}</string>
                <key>offset</key>
                <string>{-33,96}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{285,260},{388,312}}</string>
                <key>sourceSize</key>
                <string>{1024,1024}</string>
            </dict>
            <key>6512225.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,2666},{368,322}}</string>
                <key>offset</key>
                <string>{-43,83}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{285,268},{368,322}}</string>
                <key>sourceSize</key>
                <string>{1024,1024}</string>
            </dict>
            <key>6512231.png</key>
            <dict>
                <key>frame</key>
                <string>{{1256,1832},{302,390}}</string>
                <key>offset</key>
                <string>{-18,51}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{343,266},{302,390}}</string>
                <key>sourceSize</key>
                <string>{1024,1024}</string>
            </dict>
            <key>6512232.png</key>
            <dict>
                <key>frame</key>
                <string>{{860,1558},{312,396}}</string>
                <key>offset</key>
                <string>{-27,56}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{329,258},{312,396}}</string>
                <key>sourceSize</key>
                <string>{1024,1024}</string>
            </dict>
            <key>6512233.png</key>
            <dict>
                <key>frame</key>
                <string>{{1560,2234},{286,372}}</string>
                <key>offset</key>
                <string>{-14,72}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{355,254},{286,372}}</string>
                <key>sourceSize</key>
                <string>{1024,1024}</string>
            </dict>
            <key>6512234.png</key>
            <dict>
                <key>frame</key>
                <string>{{394,2042},{308,386}}</string>
                <key>offset</key>
                <string>{-30,72}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{328,247},{308,386}}</string>
                <key>sourceSize</key>
                <string>{1024,1024}</string>
            </dict>
            <key>6512235.png</key>
            <dict>
                <key>frame</key>
                <string>{{382,2350},{312,376}}</string>
                <key>offset</key>
                <string>{-13,50}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{343,274},{312,376}}</string>
                <key>sourceSize</key>
                <string>{1024,1024}</string>
            </dict>
            <key>6512241.png</key>
            <dict>
                <key>frame</key>
                <string>{{796,1870},{386,334}}</string>
                <key>offset</key>
                <string>{-31,41}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{288,304},{386,334}}</string>
                <key>sourceSize</key>
                <string>{1024,1024}</string>
            </dict>
            <key>6512242.png</key>
            <dict>
                <key>frame</key>
                <string>{{1156,2444},{370,344}}</string>
                <key>offset</key>
                <string>{-45,40}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{282,300},{370,344}}</string>
                <key>sourceSize</key>
                <string>{1024,1024}</string>
            </dict>
            <key>6512243.png</key>
            <dict>
                <key>frame</key>
                <string>{{1128,2788},{362,344}}</string>
                <key>offset</key>
                <string>{-44,46}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{287,294},{362,344}}</string>
                <key>sourceSize</key>
                <string>{1024,1024}</string>
            </dict>
            <key>6512244.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,1796},{394,332}}</string>
                <key>offset</key>
                <string>{-43,44}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{272,302},{394,332}}</string>
                <key>sourceSize</key>
                <string>{1024,1024}</string>
            </dict>
            <key>6512245.png</key>
            <dict>
                <key>frame</key>
                <string>{{454,1458},{406,332}}</string>
                <key>offset</key>
                <string>{-37,38}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{272,308},{406,332}}</string>
                <key>sourceSize</key>
                <string>{1024,1024}</string>
            </dict>
            <key>6512251.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,596},{472,316}}</string>
                <key>offset</key>
                <string>{15,65}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{291,289},{472,316}}</string>
                <key>sourceSize</key>
                <string>{1024,1024}</string>
            </dict>
            <key>6512252.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{488,332}}</string>
                <key>offset</key>
                <string>{7,51}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{275,295},{488,332}}</string>
                <key>sourceSize</key>
                <string>{1024,1024}</string>
            </dict>
            <key>6512253.png</key>
            <dict>
                <key>frame</key>
                <string>{{464,1150},{456,308}}</string>
                <key>offset</key>
                <string>{-20,68}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{264,290},{456,308}}</string>
                <key>sourceSize</key>
                <string>{1024,1024}</string>
            </dict>
            <key>6512254.png</key>
            <dict>
                <key>frame</key>
                <string>{{488,0},{488,322}}</string>
                <key>offset</key>
                <string>{-18,58}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{250,293},{488,322}}</string>
                <key>sourceSize</key>
                <string>{1024,1024}</string>
            </dict>
            <key>6512255.png</key>
            <dict>
                <key>frame</key>
                <string>{{974,494},{474,322}}</string>
                <key>offset</key>
                <string>{0,59}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{275,292},{474,322}}</string>
                <key>sourceSize</key>
                <string>{1024,1024}</string>
            </dict>
            <key>6512511.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,332},{484,264}}</string>
                <key>offset</key>
                <string>{46,110}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{316,270},{484,264}}</string>
                <key>sourceSize</key>
                <string>{1024,1024}</string>
            </dict>
            <key>6512512.png</key>
            <dict>
                <key>frame</key>
                <string>{{1462,262},{484,256}}</string>
                <key>offset</key>
                <string>{76,26}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{346,358},{484,256}}</string>
                <key>sourceSize</key>
                <string>{1024,1024}</string>
            </dict>
            <key>6512521.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,1470},{400,326}}</string>
                <key>offset</key>
                <string>{-22,147}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{290,202},{400,326}}</string>
                <key>sourceSize</key>
                <string>{1024,1024}</string>
            </dict>
            <key>6512522.png</key>
            <dict>
                <key>frame</key>
                <string>{{374,2662},{370,252}}</string>
                <key>offset</key>
                <string>{36,53}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{363,333},{370,252}}</string>
                <key>sourceSize</key>
                <string>{1024,1024}</string>
            </dict>
            <key>6512531.png</key>
            <dict>
                <key>frame</key>
                <string>{{744,2836},{314,342}}</string>
                <key>offset</key>
                <string>{-43,114}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{312,227},{314,342}}</string>
                <key>sourceSize</key>
                <string>{1024,1024}</string>
            </dict>
            <key>6512532.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,2128},{382,308}}</string>
                <key>offset</key>
                <string>{-24,52}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{297,306},{382,308}}</string>
                <key>sourceSize</key>
                <string>{1024,1024}</string>
            </dict>
            <key>6512541.png</key>
            <dict>
                <key>frame</key>
                <string>{{1398,1250},{430,300}}</string>
                <key>offset</key>
                <string>{-63,79}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{234,283},{430,300}}</string>
                <key>sourceSize</key>
                <string>{1024,1024}</string>
            </dict>
            <key>6512542.png</key>
            <dict>
                <key>frame</key>
                <string>{{400,1790},{396,252}}</string>
                <key>offset</key>
                <string>{-80,41}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{234,345},{396,252}}</string>
                <key>sourceSize</key>
                <string>{1024,1024}</string>
            </dict>
            <key>6512551.png</key>
            <dict>
                <key>frame</key>
                <string>{{1464,0},{486,262}}</string>
                <key>offset</key>
                <string>{-48,35}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{221,346},{486,262}}</string>
                <key>sourceSize</key>
                <string>{1024,1024}</string>
            </dict>
            <key>6512552.png</key>
            <dict>
                <key>frame</key>
                <string>{{976,0},{488,244}}</string>
                <key>offset</key>
                <string>{-77,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{191,390},{488,244}}</string>
                <key>sourceSize</key>
                <string>{1024,1024}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>6512.pvr.ccz</string>
            <key>size</key>
            <string>{2048,4096}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:2165556b0ce03ba791ebafc7f6968424:1/1$</string>
            <key>textureFileName</key>
            <string>6512.pvr.ccz</string>
        </dict>
    </dict>
</plist>
