<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>6006111.png</key>
            <dict>
                <key>frame</key>
                <string>{{468,488},{116,108}}</string>
                <key>offset</key>
                <string>{0,44}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{198,158},{116,108}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6006112.png</key>
            <dict>
                <key>frame</key>
                <string>{{680,584},{116,110}}</string>
                <key>offset</key>
                <string>{0,45}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{198,156},{116,110}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6006113.png</key>
            <dict>
                <key>frame</key>
                <string>{{822,490},{116,110}}</string>
                <key>offset</key>
                <string>{1,45}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{199,156},{116,110}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6006121.png</key>
            <dict>
                <key>frame</key>
                <string>{{570,626},{106,112}}</string>
                <key>offset</key>
                <string>{-8,39}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{195,161},{106,112}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6006122.png</key>
            <dict>
                <key>frame</key>
                <string>{{676,694},{102,116}}</string>
                <key>offset</key>
                <string>{-7,41}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{198,157},{102,116}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6006123.png</key>
            <dict>
                <key>frame</key>
                <string>{{84,558},{110,110}}</string>
                <key>offset</key>
                <string>{-9,43}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{192,158},{110,110}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6006131.png</key>
            <dict>
                <key>frame</key>
                <string>{{308,688},{98,118}}</string>
                <key>offset</key>
                <string>{-11,34}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{196,163},{98,118}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6006132.png</key>
            <dict>
                <key>frame</key>
                <string>{{180,718},{96,120}}</string>
                <key>offset</key>
                <string>{-11,35}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{197,161},{96,120}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6006133.png</key>
            <dict>
                <key>frame</key>
                <string>{{210,512},{100,122}}</string>
                <key>offset</key>
                <string>{-13,36}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{193,159},{100,122}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6006141.png</key>
            <dict>
                <key>frame</key>
                <string>{{446,596},{96,124}}</string>
                <key>offset</key>
                <string>{1,32}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{209,162},{96,124}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6006142.png</key>
            <dict>
                <key>frame</key>
                <string>{{84,460},{98,126}}</string>
                <key>offset</key>
                <string>{1,33}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{208,160},{98,126}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6006143.png</key>
            <dict>
                <key>frame</key>
                <string>{{426,692},{90,126}}</string>
                <key>offset</key>
                <string>{1,33}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{212,160},{90,126}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6006151.png</key>
            <dict>
                <key>frame</key>
                <string>{{248,296},{116,120}}</string>
                <key>offset</key>
                <string>{0,37}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{198,159},{116,120}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6006152.png</key>
            <dict>
                <key>frame</key>
                <string>{{824,374},{116,122}}</string>
                <key>offset</key>
                <string>{0,38}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{198,157},{116,122}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6006153.png</key>
            <dict>
                <key>frame</key>
                <string>{{702,362},{116,122}}</string>
                <key>offset</key>
                <string>{-2,38}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{196,157},{116,122}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6006211.png</key>
            <dict>
                <key>frame</key>
                <string>{{910,750},{100,118}}</string>
                <key>offset</key>
                <string>{0,34}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{206,163},{100,118}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6006212.png</key>
            <dict>
                <key>frame</key>
                <string>{{534,842},{102,108}}</string>
                <key>offset</key>
                <string>{2,39}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{207,163},{102,108}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6006213.png</key>
            <dict>
                <key>frame</key>
                <string>{{300,786},{100,108}}</string>
                <key>offset</key>
                <string>{2,42}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{208,160},{100,108}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6006214.png</key>
            <dict>
                <key>frame</key>
                <string>{{552,738},{104,108}}</string>
                <key>offset</key>
                <string>{-2,39}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{202,163},{104,108}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6006215.png</key>
            <dict>
                <key>frame</key>
                <string>{{660,796},{100,112}}</string>
                <key>offset</key>
                <string>{-1,39}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{205,161},{100,112}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6006221.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,600},{80,124}}</string>
                <key>offset</key>
                <string>{-1,34}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{215,160},{80,124}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6006222.png</key>
            <dict>
                <key>frame</key>
                <string>{{318,886},{82,112}}</string>
                <key>offset</key>
                <string>{-4,37}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{211,163},{82,112}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6006223.png</key>
            <dict>
                <key>frame</key>
                <string>{{426,782},{102,108}}</string>
                <key>offset</key>
                <string>{-5,38}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{200,164},{102,108}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6006224.png</key>
            <dict>
                <key>frame</key>
                <string>{{194,612},{106,114}}</string>
                <key>offset</key>
                <string>{-5,35}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{198,164},{106,114}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6006225.png</key>
            <dict>
                <key>frame</key>
                <string>{{232,886},{86,118}}</string>
                <key>offset</key>
                <string>{-6,36}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{207,161},{86,118}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6006231.png</key>
            <dict>
                <key>frame</key>
                <string>{{796,600},{118,108}}</string>
                <key>offset</key>
                <string>{16,40}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{213,162},{118,108}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6006232.png</key>
            <dict>
                <key>frame</key>
                <string>{{740,904},{102,106}}</string>
                <key>offset</key>
                <string>{12,41}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{217,162},{102,106}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6006233.png</key>
            <dict>
                <key>frame</key>
                <string>{{110,912},{92,106}}</string>
                <key>offset</key>
                <string>{5,41}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{215,162},{92,106}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6006234.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,880},{96,110}}</string>
                <key>offset</key>
                <string>{3,39}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{211,162},{96,110}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6006235.png</key>
            <dict>
                <key>frame</key>
                <string>{{124,814},{98,108}}</string>
                <key>offset</key>
                <string>{10,40}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{217,162},{98,108}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6006241.png</key>
            <dict>
                <key>frame</key>
                <string>{{766,0},{136,126}}</string>
                <key>offset</key>
                <string>{13,37}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{201,156},{136,126}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6006242.png</key>
            <dict>
                <key>frame</key>
                <string>{{832,256},{122,118}}</string>
                <key>offset</key>
                <string>{11,41}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{206,156},{122,118}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6006243.png</key>
            <dict>
                <key>frame</key>
                <string>{{642,896},{98,112}}</string>
                <key>offset</key>
                <string>{12,47}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{219,153},{98,112}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6006244.png</key>
            <dict>
                <key>frame</key>
                <string>{{888,868},{102,108}}</string>
                <key>offset</key>
                <string>{8,46}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{213,156},{102,108}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6006245.png</key>
            <dict>
                <key>frame</key>
                <string>{{368,358},{114,120}}</string>
                <key>offset</key>
                <string>{13,43}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{212,153},{114,120}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6006251.png</key>
            <dict>
                <key>frame</key>
                <string>{{488,358},{100,130}}</string>
                <key>offset</key>
                <string>{-1,39}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{205,152},{100,130}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6006252.png</key>
            <dict>
                <key>frame</key>
                <string>{{792,708},{100,118}}</string>
                <key>offset</key>
                <string>{-3,46}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{203,151},{100,118}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6006253.png</key>
            <dict>
                <key>frame</key>
                <string>{{228,412},{100,126}}</string>
                <key>offset</key>
                <string>{-2,43}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{204,150},{100,126}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6006254.png</key>
            <dict>
                <key>frame</key>
                <string>{{914,626},{102,124}}</string>
                <key>offset</key>
                <string>{1,42}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{206,152},{102,124}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6006255.png</key>
            <dict>
                <key>frame</key>
                <string>{{80,668},{100,120}}</string>
                <key>offset</key>
                <string>{0,47}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{206,149},{100,120}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6006311.png</key>
            <dict>
                <key>frame</key>
                <string>{{468,488},{116,108}}</string>
                <key>offset</key>
                <string>{0,44}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{198,158},{116,108}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6006312.png</key>
            <dict>
                <key>frame</key>
                <string>{{722,126},{130,122}}</string>
                <key>offset</key>
                <string>{-20,51}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{171,144},{130,122}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6006313.png</key>
            <dict>
                <key>frame</key>
                <string>{{298,130},{96,166}}</string>
                <key>offset</key>
                <string>{-11,73}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{197,100},{96,166}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6006314.png</key>
            <dict>
                <key>frame</key>
                <string>{{938,492},{82,134}}</string>
                <key>offset</key>
                <string>{0,27}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{215,162},{82,134}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6006315.png</key>
            <dict>
                <key>frame</key>
                <string>{{332,582},{106,114}}</string>
                <key>offset</key>
                <string>{-1,29}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{202,170},{106,114}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6006321.png</key>
            <dict>
                <key>frame</key>
                <string>{{570,626},{106,112}}</string>
                <key>offset</key>
                <string>{-8,39}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{195,161},{106,112}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6006322.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,308},{134,104}}</string>
                <key>offset</key>
                <string>{-20,44}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{169,160},{134,104}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6006323.png</key>
            <dict>
                <key>frame</key>
                <string>{{310,0},{130,142}}</string>
                <key>offset</key>
                <string>{-23,63}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{168,122},{130,142}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6006324.png</key>
            <dict>
                <key>frame</key>
                <string>{{902,0},{140,118}}</string>
                <key>offset</key>
                <string>{24,39}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{210,158},{140,118}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6006325.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,788},{92,124}}</string>
                <key>offset</key>
                <string>{-1,35}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{209,159},{92,124}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6006331.png</key>
            <dict>
                <key>frame</key>
                <string>{{308,688},{98,118}}</string>
                <key>offset</key>
                <string>{-11,34}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{196,163},{98,118}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6006332.png</key>
            <dict>
                <key>frame</key>
                <string>{{354,472},{110,114}}</string>
                <key>offset</key>
                <string>{-13,32}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{188,167},{110,114}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6006333.png</key>
            <dict>
                <key>frame</key>
                <string>{{702,248},{114,130}}</string>
                <key>offset</key>
                <string>{-15,40}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{184,151},{114,130}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6006334.png</key>
            <dict>
                <key>frame</key>
                <string>{{142,0},{168,118}}</string>
                <key>offset</key>
                <string>{46,34}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{218,163},{168,118}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6006335.png</key>
            <dict>
                <key>frame</key>
                <string>{{588,366},{110,120}}</string>
                <key>offset</key>
                <string>{18,35}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{219,161},{110,120}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6006341.png</key>
            <dict>
                <key>frame</key>
                <string>{{446,596},{96,124}}</string>
                <key>offset</key>
                <string>{1,32}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{209,162},{96,124}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6006342.png</key>
            <dict>
                <key>frame</key>
                <string>{{946,374},{78,118}}</string>
                <key>offset</key>
                <string>{5,29}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{222,168},{78,118}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6006343.png</key>
            <dict>
                <key>frame</key>
                <string>{{954,256},{66,118}}</string>
                <key>offset</key>
                <string>{-3,29}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{220,168},{66,118}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6006344.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{142,140}}</string>
                <key>offset</key>
                <string>{24,40}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{209,146},{142,140}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6006345.png</key>
            <dict>
                <key>frame</key>
                <string>{{592,100},{126,130}}</string>
                <key>offset</key>
                <string>{9,35}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{202,156},{126,130}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6006351.png</key>
            <dict>
                <key>frame</key>
                <string>{{394,242},{116,120}}</string>
                <key>offset</key>
                <string>{0,37}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{198,159},{116,120}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6006352.png</key>
            <dict>
                <key>frame</key>
                <string>{{852,140},{130,116}}</string>
                <key>offset</key>
                <string>{20,35}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{211,163},{130,116}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6006353.png</key>
            <dict>
                <key>frame</key>
                <string>{{408,884},{96,112}}</string>
                <key>offset</key>
                <string>{12,33}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{220,167},{96,112}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6006354.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,442},{84,158}}</string>
                <key>offset</key>
                <string>{-1,56}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{213,121},{84,158}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6006355.png</key>
            <dict>
                <key>frame</key>
                <string>{{698,478},{106,124}}</string>
                <key>offset</key>
                <string>{0,39}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{203,155},{106,124}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6006511.png</key>
            <dict>
                <key>frame</key>
                <string>{{772,808},{116,96}}</string>
                <key>offset</key>
                <string>{-19,38}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{179,170},{116,96}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6006512.png</key>
            <dict>
                <key>frame</key>
                <string>{{592,226},{140,110}}</string>
                <key>offset</key>
                <string>{-18,-10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{168,211},{140,110}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6006521.png</key>
            <dict>
                <key>frame</key>
                <string>{{104,348},{112,124}}</string>
                <key>offset</key>
                <string>{-12,26}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{188,168},{112,124}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6006522.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,140},{168,106}}</string>
                <key>offset</key>
                <string>{11,-17}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{183,220},{168,106}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6006531.png</key>
            <dict>
                <key>frame</key>
                <string>{{106,236},{112,142}}</string>
                <key>offset</key>
                <string>{-11,22}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{189,163},{112,142}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6006532.png</key>
            <dict>
                <key>frame</key>
                <string>{{592,0},{174,100}}</string>
                <key>offset</key>
                <string>{20,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{189,211},{174,100}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6006541.png</key>
            <dict>
                <key>frame</key>
                <string>{{588,486},{92,140}}</string>
                <key>offset</key>
                <string>{13,26}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{223,160},{92,140}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6006542.png</key>
            <dict>
                <key>frame</key>
                <string>{{142,118},{156,118}}</string>
                <key>offset</key>
                <string>{31,13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{209,184},{156,118}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6006551.png</key>
            <dict>
                <key>frame</key>
                <string>{{452,126},{116,140}}</string>
                <key>offset</key>
                <string>{18,27}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{216,159},{116,140}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6006552.png</key>
            <dict>
                <key>frame</key>
                <string>{{452,0},{140,126}}</string>
                <key>offset</key>
                <string>{17,20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{203,173},{140,126}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>6006.pvr.ccz</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:5eebe12e954fa7c7df4e95afbbb02676:1/1$</string>
            <key>textureFileName</key>
            <string>6006.pvr.ccz</string>
        </dict>
    </dict>
</plist>
