<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>voice1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{17,22}</string>
                <key>spriteSourceSize</key>
                <string>{17,22}</string>
                <key>textureRect</key>
                <string>{{1,16},{17,22}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>voice2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,-2}</string>
                <key>spriteSize</key>
                <string>{13,18}</string>
                <key>spriteSourceSize</key>
                <string>{17,22}</string>
                <key>textureRect</key>
                <string>{{1,1},{13,18}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>voice3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{17,22}</string>
                <key>spriteSourceSize</key>
                <string>{17,22}</string>
                <key>textureRect</key>
                <string>{{1,40},{17,22}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>realTextureFileName</key>
            <string>voice.pvr.ccz</string>
            <key>size</key>
            <string>{20,63}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:e2b531435f82da66e5bb8c78aca3e4c2:8075bdb7093381d16c1dac61fcc5b6e4:92cfcb7090abdd6efbb2b8493d930f24$</string>
            <key>textureFileName</key>
            <string>voice.pvr.ccz</string>
        </dict>
    </dict>
</plist>
