<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>6514111.png</key>
            <dict>
                <key>frame</key>
                <string>{{396,1358},{124,194}}</string>
                <key>offset</key>
                <string>{-4,42}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{190,117},{124,194}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6514112.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,1494},{124,192}}</string>
                <key>offset</key>
                <string>{-5,41}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{189,119},{124,192}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6514113.png</key>
            <dict>
                <key>frame</key>
                <string>{{200,1286},{124,196}}</string>
                <key>offset</key>
                <string>{-5,44}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{189,114},{124,196}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6514121.png</key>
            <dict>
                <key>frame</key>
                <string>{{188,1668},{184,160}}</string>
                <key>offset</key>
                <string>{-33,32}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{131,144},{184,160}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6514122.png</key>
            <dict>
                <key>frame</key>
                <string>{{634,1030},{204,148}}</string>
                <key>offset</key>
                <string>{-42,26}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{112,156},{204,148}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6514123.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,1726},{182,168}}</string>
                <key>offset</key>
                <string>{-31,36}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{134,136},{182,168}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6514131.png</key>
            <dict>
                <key>frame</key>
                <string>{{576,182},{286,90}}</string>
                <key>offset</key>
                <string>{-54,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{59,208},{286,90}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6514132.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{290,92}}</string>
                <key>offset</key>
                <string>{-57,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{54,206},{290,92}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6514133.png</key>
            <dict>
                <key>frame</key>
                <string>{{578,0},{288,92}}</string>
                <key>offset</key>
                <string>{-56,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{56,206},{288,92}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6514141.png</key>
            <dict>
                <key>frame</key>
                <string>{{732,474},{232,122}}</string>
                <key>offset</key>
                <string>{-39,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{101,204},{232,122}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6514142.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,862},{218,140}}</string>
                <key>offset</key>
                <string>{-33,-16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{114,202},{218,140}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6514143.png</key>
            <dict>
                <key>frame</key>
                <string>{{492,464},{240,118}}</string>
                <key>offset</key>
                <string>{-43,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{93,202},{240,118}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6514151.png</key>
            <dict>
                <key>frame</key>
                <string>{{192,1544},{124,188}}</string>
                <key>offset</key>
                <string>{4,-20}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{198,182},{124,188}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6514152.png</key>
            <dict>
                <key>frame</key>
                <string>{{206,1162},{124,200}}</string>
                <key>offset</key>
                <string>{4,-23}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{198,179},{124,200}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6514153.png</key>
            <dict>
                <key>frame</key>
                <string>{{590,1394},{124,190}}</string>
                <key>offset</key>
                <string>{4,-19}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{198,180},{124,190}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6514211.png</key>
            <dict>
                <key>frame</key>
                <string>{{578,1518},{108,188}}</string>
                <key>offset</key>
                <string>{-1,42}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{201,120},{108,188}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6514212.png</key>
            <dict>
                <key>frame</key>
                <string>{{780,1442},{108,188}}</string>
                <key>offset</key>
                <string>{0,44}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{202,118},{108,188}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6514213.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,1618},{108,188}}</string>
                <key>offset</key>
                <string>{4,41}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{206,121},{108,188}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6514214.png</key>
            <dict>
                <key>frame</key>
                <string>{{388,1482},{110,190}}</string>
                <key>offset</key>
                <string>{3,42}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{204,119},{110,190}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6514215.png</key>
            <dict>
                <key>frame</key>
                <string>{{380,1592},{110,186}}</string>
                <key>offset</key>
                <string>{1,46}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{202,117},{110,186}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6514221.png</key>
            <dict>
                <key>frame</key>
                <string>{{416,1110},{204,142}}</string>
                <key>offset</key>
                <string>{-35,31}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{119,154},{204,142}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6514222.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,1136},{206,138}}</string>
                <key>offset</key>
                <string>{-43,30}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{110,157},{206,138}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6514223.png</key>
            <dict>
                <key>frame</key>
                <string>{{226,744},{220,132}}</string>
                <key>offset</key>
                <string>{-40,29}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{106,161},{220,132}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6514224.png</key>
            <dict>
                <key>frame</key>
                <string>{{716,596},{222,136}}</string>
                <key>offset</key>
                <string>{-33,32}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{112,156},{222,136}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6514225.png</key>
            <dict>
                <key>frame</key>
                <string>{{218,876},{210,138}}</string>
                <key>offset</key>
                <string>{-32,37}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{119,150},{210,138}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6514231.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,184},{288,88}}</string>
                <key>offset</key>
                <string>{-56,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{56,203},{288,88}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6514232.png</key>
            <dict>
                <key>frame</key>
                <string>{{288,96},{288,90}}</string>
                <key>offset</key>
                <string>{-56,11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{56,200},{288,90}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6514233.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,92},{288,92}}</string>
                <key>offset</key>
                <string>{-56,14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{56,196},{288,92}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6514234.png</key>
            <dict>
                <key>frame</key>
                <string>{{578,92},{288,90}}</string>
                <key>offset</key>
                <string>{-56,15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{56,196},{288,90}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6514235.png</key>
            <dict>
                <key>frame</key>
                <string>{{290,0},{288,96}}</string>
                <key>offset</key>
                <string>{-57,19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{55,189},{288,96}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6514241.png</key>
            <dict>
                <key>frame</key>
                <string>{{446,822},{214,138}}</string>
                <key>offset</key>
                <string>{-40,-12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{109,199},{214,138}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6514242.png</key>
            <dict>
                <key>frame</key>
                <string>{{660,876},{208,154}}</string>
                <key>offset</key>
                <string>{-35,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{117,188},{208,154}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6514243.png</key>
            <dict>
                <key>frame</key>
                <string>{{866,0},{194,158}}</string>
                <key>offset</key>
                <string>{-37,-12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{122,189},{194,158}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6514244.png</key>
            <dict>
                <key>frame</key>
                <string>{{820,1180},{198,154}}</string>
                <key>offset</key>
                <string>{-42,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{115,186},{198,154}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6514245.png</key>
            <dict>
                <key>frame</key>
                <string>{{210,1014},{206,148}}</string>
                <key>offset</key>
                <string>{-48,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{105,188},{206,148}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6514251.png</key>
            <dict>
                <key>frame</key>
                <string>{{604,1286},{108,196}}</string>
                <key>offset</key>
                <string>{1,-24}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{203,182},{108,196}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6514252.png</key>
            <dict>
                <key>frame</key>
                <string>{{620,1178},{108,200}}</string>
                <key>offset</key>
                <string>{-1,-21}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{201,177},{108,200}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6514253.png</key>
            <dict>
                <key>frame</key>
                <string>{{406,1252},{106,198}}</string>
                <key>offset</key>
                <string>{-4,-23}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{199,180},{106,198}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6514254.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,1384},{110,196}}</string>
                <key>offset</key>
                <string>{-4,-22}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{197,180},{110,196}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6514255.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,1274},{110,200}}</string>
                <key>offset</key>
                <string>{-1,-22}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{200,178},{110,200}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6514311.png</key>
            <dict>
                <key>frame</key>
                <string>{{608,1816},{106,178}}</string>
                <key>offset</key>
                <string>{-1,37}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{202,130},{106,178}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6514312.png</key>
            <dict>
                <key>frame</key>
                <string>{{834,1550},{136,160}}</string>
                <key>offset</key>
                <string>{16,41}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{204,135},{136,160}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6514313.png</key>
            <dict>
                <key>frame</key>
                <string>{{834,1686},{106,156}}</string>
                <key>offset</key>
                <string>{1,36}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{204,142},{106,156}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6514314.png</key>
            <dict>
                <key>frame</key>
                <string>{{542,1702},{114,164}}</string>
                <key>offset</key>
                <string>{5,40}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{204,134},{114,164}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6514315.png</key>
            <dict>
                <key>frame</key>
                <string>{{372,1702},{126,170}}</string>
                <key>offset</key>
                <string>{12,27}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{205,144},{126,170}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6514321.png</key>
            <dict>
                <key>frame</key>
                <string>{{160,1894},{182,150}}</string>
                <key>offset</key>
                <string>{-25,37}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{140,144},{182,150}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6514322.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,1002},{210,134}}</string>
                <key>offset</key>
                <string>{-7,32}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{144,157},{210,134}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6514323.png</key>
            <dict>
                <key>frame</key>
                <string>{{472,1828},{178,136}}</string>
                <key>offset</key>
                <string>{-14,28}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{153,160},{178,136}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6514324.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,1894},{160,152}}</string>
                <key>offset</key>
                <string>{-11,36}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{165,144},{160,152}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6514325.png</key>
            <dict>
                <key>frame</key>
                <string>{{868,1014},{166,156}}</string>
                <key>offset</key>
                <string>{-6,38}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{167,140},{166,156}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6514331.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,272},{276,86}}</string>
                <key>offset</key>
                <string>{-52,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{66,205},{276,86}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6514332.png</key>
            <dict>
                <key>frame</key>
                <string>{{528,360},{248,104}}</string>
                <key>offset</key>
                <string>{-59,19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{73,185},{248,104}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6514333.png</key>
            <dict>
                <key>frame</key>
                <string>{{288,186},{284,88}}</string>
                <key>offset</key>
                <string>{-31,11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{83,201},{284,88}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6514334.png</key>
            <dict>
                <key>frame</key>
                <string>{{276,274},{252,90}}</string>
                <key>offset</key>
                <string>{-50,12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{80,199},{252,90}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6514335.png</key>
            <dict>
                <key>frame</key>
                <string>{{776,380},{248,94}}</string>
                <key>offset</key>
                <string>{-30,14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{102,195},{248,94}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6514341.png</key>
            <dict>
                <key>frame</key>
                <string>{{486,582},{230,126}}</string>
                <key>offset</key>
                <string>{-53,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{88,197},{230,126}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6514342.png</key>
            <dict>
                <key>frame</key>
                <string>{{428,960},{206,150}}</string>
                <key>offset</key>
                <string>{-46,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{107,174},{206,150}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6514343.png</key>
            <dict>
                <key>frame</key>
                <string>{{248,482},{238,156}}</string>
                <key>offset</key>
                <string>{-27,15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{110,163},{238,156}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6514344.png</key>
            <dict>
                <key>frame</key>
                <string>{{248,364},{244,118}}</string>
                <key>offset</key>
                <string>{-37,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{97,188},{244,118}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6514345.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,742},{226,120}}</string>
                <key>offset</key>
                <string>{-49,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{94,188},{226,120}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6514351.png</key>
            <dict>
                <key>frame</key>
                <string>{{800,1334},{108,192}}</string>
                <key>offset</key>
                <string>{1,-22}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{203,182},{108,192}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6514352.png</key>
            <dict>
                <key>frame</key>
                <string>{{196,1410},{134,192}}</string>
                <key>offset</key>
                <string>{-16,-18}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{173,178},{134,192}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6514353.png</key>
            <dict>
                <key>frame</key>
                <string>{{236,638},{106,230}}</string>
                <key>offset</key>
                <string>{-2,6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{201,135},{106,230}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6514354.png</key>
            <dict>
                <key>frame</key>
                <string>{{902,824},{114,190}}</string>
                <key>offset</key>
                <string>{-6,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{193,171},{114,190}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6514355.png</key>
            <dict>
                <key>frame</key>
                <string>{{706,1626},{128,168}}</string>
                <key>offset</key>
                <string>{-13,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{179,176},{128,168}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6514511.png</key>
            <dict>
                <key>frame</key>
                <string>{{834,1792},{144,102}}</string>
                <key>offset</key>
                <string>{-25,73}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{159,132},{144,102}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6514512.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,500},{236,130}}</string>
                <key>offset</key>
                <string>{-102,54}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{36,137},{236,130}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6514521.png</key>
            <dict>
                <key>frame</key>
                <string>{{902,732},{92,120}}</string>
                <key>offset</key>
                <string>{-47,55}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{163,141},{92,120}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6514522.png</key>
            <dict>
                <key>frame</key>
                <string>{{342,1828},{130,182}}</string>
                <key>offset</key>
                <string>{-115,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{76,162},{130,182}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6514531.png</key>
            <dict>
                <key>frame</key>
                <string>{{466,708},{222,114}}</string>
                <key>offset</key>
                <string>{-56,21}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{89,178},{222,114}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6514532.png</key>
            <dict>
                <key>frame</key>
                <string>{{862,194},{186,162}}</string>
                <key>offset</key>
                <string>{-77,-60}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{86,235},{186,162}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6514541.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,358},{248,142}}</string>
                <key>offset</key>
                <string>{-28,12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{104,173},{248,142}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6514542.png</key>
            <dict>
                <key>frame</key>
                <string>{{572,272},{272,88}}</string>
                <key>offset</key>
                <string>{5,-70}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{125,282},{272,88}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6514551.png</key>
            <dict>
                <key>frame</key>
                <string>{{688,732},{144,214}}</string>
                <key>offset</key>
                <string>{24,12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{208,137},{144,214}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6514552.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,630},{236,112}}</string>
                <key>offset</key>
                <string>{102,-44}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{240,244},{236,112}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>6514.pvr.ccz</string>
            <key>size</key>
            <string>{1024,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:27b0650270b70d30b37b36202b86c96b:1/1$</string>
            <key>textureFileName</key>
            <string>6514.pvr.ccz</string>
        </dict>
    </dict>
</plist>
