<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>6002111.png</key>
            <dict>
                <key>frame</key>
                <string>{{130,1342},{126,112}}</string>
                <key>offset</key>
                <string>{-8,30}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{185,170},{126,112}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6002112.png</key>
            <dict>
                <key>frame</key>
                <string>{{270,1224},{132,106}}</string>
                <key>offset</key>
                <string>{-8,29}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{182,174},{132,106}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6002113.png</key>
            <dict>
                <key>frame</key>
                <string>{{580,1180},{134,108}}</string>
                <key>offset</key>
                <string>{-9,28}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{180,174},{134,108}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6002121.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,1160},{110,134}}</string>
                <key>offset</key>
                <string>{-11,21}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{190,168},{110,134}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6002122.png</key>
            <dict>
                <key>frame</key>
                <string>{{420,1182},{116,132}}</string>
                <key>offset</key>
                <string>{-11,21}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{187,169},{116,132}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6002123.png</key>
            <dict>
                <key>frame</key>
                <string>{{136,1124},{114,134}}</string>
                <key>offset</key>
                <string>{-10,18}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{189,171},{114,134}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6002131.png</key>
            <dict>
                <key>frame</key>
                <string>{{648,698},{156,132}}</string>
                <key>offset</key>
                <string>{-10,35}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{168,155},{156,132}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6002132.png</key>
            <dict>
                <key>frame</key>
                <string>{{160,778},{160,126}}</string>
                <key>offset</key>
                <string>{-8,35}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{168,158},{160,126}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6002133.png</key>
            <dict>
                <key>frame</key>
                <string>{{488,688},{160,134}}</string>
                <key>offset</key>
                <string>{-11,31}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{165,158},{160,134}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6002141.png</key>
            <dict>
                <key>frame</key>
                <string>{{164,510},{162,142}}</string>
                <key>offset</key>
                <string>{18,42}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{193,143},{162,142}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6002142.png</key>
            <dict>
                <key>frame</key>
                <string>{{668,312},{170,140}}</string>
                <key>offset</key>
                <string>{18,40}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{189,146},{170,140}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6002143.png</key>
            <dict>
                <key>frame</key>
                <string>{{396,306},{170,140}}</string>
                <key>offset</key>
                <string>{18,40}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{189,146},{170,140}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6002151.png</key>
            <dict>
                <key>frame</key>
                <string>{{162,652},{126,162}}</string>
                <key>offset</key>
                <string>{8,35}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{201,140},{126,162}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6002152.png</key>
            <dict>
                <key>frame</key>
                <string>{{346,446},{130,164}}</string>
                <key>offset</key>
                <string>{7,33}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{198,141},{130,164}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6002153.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,410},{134,164}}</string>
                <key>offset</key>
                <string>{9,33}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{198,141},{134,164}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6002211.png</key>
            <dict>
                <key>frame</key>
                <string>{{680,1350},{122,108}}</string>
                <key>offset</key>
                <string>{-18,38}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{177,164},{122,108}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6002212.png</key>
            <dict>
                <key>frame</key>
                <string>{{552,1288},{128,98}}</string>
                <key>offset</key>
                <string>{-15,35}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{177,172},{128,98}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6002213.png</key>
            <dict>
                <key>frame</key>
                <string>{{566,306},{132,102}}</string>
                <key>offset</key>
                <string>{-19,39}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{171,166},{132,102}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6002214.png</key>
            <dict>
                <key>frame</key>
                <string>{{134,1238},{132,104}}</string>
                <key>offset</key>
                <string>{-25,32}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{165,172},{132,104}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6002215.png</key>
            <dict>
                <key>frame</key>
                <string>{{930,1108},{128,92}}</string>
                <key>offset</key>
                <string>{-25,41}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{167,169},{128,92}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6002221.png</key>
            <dict>
                <key>frame</key>
                <string>{{566,438},{100,114}}</string>
                <key>offset</key>
                <string>{-10,41}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{196,158},{100,114}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6002222.png</key>
            <dict>
                <key>frame</key>
                <string>{{124,1454},{100,98}}</string>
                <key>offset</key>
                <string>{-15,43}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{191,164},{100,98}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6002223.png</key>
            <dict>
                <key>frame</key>
                <string>{{256,1444},{104,110}}</string>
                <key>offset</key>
                <string>{-3,40}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{201,161},{104,110}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6002224.png</key>
            <dict>
                <key>frame</key>
                <string>{{392,1394},{96,112}}</string>
                <key>offset</key>
                <string>{0,32}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{208,168},{96,112}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6002225.png</key>
            <dict>
                <key>frame</key>
                <string>{{930,988},{94,120}}</string>
                <key>offset</key>
                <string>{-9,33}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{200,163},{94,120}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6002231.png</key>
            <dict>
                <key>frame</key>
                <string>{{306,982},{138,120}}</string>
                <key>offset</key>
                <string>{-8,49}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{179,147},{138,120}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6002232.png</key>
            <dict>
                <key>frame</key>
                <string>{{714,1244},{128,106}}</string>
                <key>offset</key>
                <string>{-19,50}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{173,153},{128,106}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6002233.png</key>
            <dict>
                <key>frame</key>
                <string>{{530,1386},{118,114}}</string>
                <key>offset</key>
                <string>{-22,50}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{175,149},{118,114}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6002234.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,1386},{118,124}}</string>
                <key>offset</key>
                <string>{-19,37}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{178,157},{118,124}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6002235.png</key>
            <dict>
                <key>frame</key>
                <string>{{150,1000},{136,124}}</string>
                <key>offset</key>
                <string>{-13,41}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{175,153},{136,124}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6002241.png</key>
            <dict>
                <key>frame</key>
                <string>{{320,834},{148,154}}</string>
                <key>offset</key>
                <string>{24,43}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{206,136},{148,154}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6002242.png</key>
            <dict>
                <key>frame</key>
                <string>{{804,700},{142,148}}</string>
                <key>offset</key>
                <string>{16,39}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{201,143},{142,148}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6002243.png</key>
            <dict>
                <key>frame</key>
                <string>{{788,842},{144,146}}</string>
                <key>offset</key>
                <string>{13,46}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{197,137},{144,146}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6002244.png</key>
            <dict>
                <key>frame</key>
                <string>{{510,552},{156,136}}</string>
                <key>offset</key>
                <string>{14,42}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{192,146},{156,136}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6002245.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,676},{160,142}}</string>
                <key>offset</key>
                <string>{21,44}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{197,141},{160,142}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6002251.png</key>
            <dict>
                <key>frame</key>
                <string>{{180,388},{122,166}}</string>
                <key>offset</key>
                <string>{17,38}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{212,135},{122,166}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6002252.png</key>
            <dict>
                <key>frame</key>
                <string>{{326,576},{128,162}}</string>
                <key>offset</key>
                <string>{15,35}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{207,140},{128,162}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6002253.png</key>
            <dict>
                <key>frame</key>
                <string>{{834,568},{132,166}}</string>
                <key>offset</key>
                <string>{19,40}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{209,133},{132,166}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6002254.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,544},{132,162}}</string>
                <key>offset</key>
                <string>{25,35}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{215,140},{132,162}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6002255.png</key>
            <dict>
                <key>frame</key>
                <string>{{666,570},{128,164}}</string>
                <key>offset</key>
                <string>{24,39}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{216,135},{128,164}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6002311.png</key>
            <dict>
                <key>frame</key>
                <string>{{402,1298},{96,128}}</string>
                <key>offset</key>
                <string>{-7,45}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{201,147},{96,128}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6002312.png</key>
            <dict>
                <key>frame</key>
                <string>{{934,842},{86,146}}</string>
                <key>offset</key>
                <string>{-4,54}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{209,129},{86,146}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6002313.png</key>
            <dict>
                <key>frame</key>
                <string>{{444,1072},{110,136}}</string>
                <key>offset</key>
                <string>{12,18}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{213,170},{110,136}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6002314.png</key>
            <dict>
                <key>frame</key>
                <string>{{640,928},{116,146}}</string>
                <key>offset</key>
                <string>{14,12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{212,171},{116,146}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6002315.png</key>
            <dict>
                <key>frame</key>
                <string>{{756,1130},{136,114}}</string>
                <key>offset</key>
                <string>{7,18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{195,181},{136,114}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6002321.png</key>
            <dict>
                <key>frame</key>
                <string>{{640,830},{148,98}}</string>
                <key>offset</key>
                <string>{-17,39}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{165,168},{148,98}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6002322.png</key>
            <dict>
                <key>frame</key>
                <string>{{266,1330},{126,114}}</string>
                <key>offset</key>
                <string>{-20,47}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{173,152},{126,114}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6002323.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,818},{156,132}}</string>
                <key>offset</key>
                <string>{26,37}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{204,153},{156,132}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6002324.png</key>
            <dict>
                <key>frame</key>
                <string>{{874,0},{152,150}}</string>
                <key>offset</key>
                <string>{25,33}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{205,148},{152,150}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6002325.png</key>
            <dict>
                <key>frame</key>
                <string>{{892,1236},{122,132}}</string>
                <key>offset</key>
                <string>{9,22}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{204,168},{122,132}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6002331.png</key>
            <dict>
                <key>frame</key>
                <string>{{474,952},{144,120}}</string>
                <key>offset</key>
                <string>{-13,33}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{171,163},{144,120}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6002332.png</key>
            <dict>
                <key>frame</key>
                <string>{{666,452},{168,118}}</string>
                <key>offset</key>
                <string>{-28,32}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{144,165},{168,118}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6002333.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{234,134}}</string>
                <key>offset</key>
                <string>{49,40}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{188,149},{234,134}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6002334.png</key>
            <dict>
                <key>frame</key>
                <string>{{234,0},{232,142}}</string>
                <key>offset</key>
                <string>{49,44}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{189,141},{232,142}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6002335.png</key>
            <dict>
                <key>frame</key>
                <string>{{206,142},{200,130}}</string>
                <key>offset</key>
                <string>{26,38}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{182,153},{200,130}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6002341.png</key>
            <dict>
                <key>frame</key>
                <string>{{484,822},{156,130}}</string>
                <key>offset</key>
                <string>{-5,32}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{173,159},{156,130}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6002342.png</key>
            <dict>
                <key>frame</key>
                <string>{{286,1102},{134,122}}</string>
                <key>offset</key>
                <string>{-16,28}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{173,167},{134,122}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6002343.png</key>
            <dict>
                <key>frame</key>
                <string>{{668,150},{200,162}}</string>
                <key>offset</key>
                <string>{31,48}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{187,127},{200,162}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6002344.png</key>
            <dict>
                <key>frame</key>
                <string>{{672,0},{202,150}}</string>
                <key>offset</key>
                <string>{31,42}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{186,139},{202,150}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6002345.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,134},{206,144}}</string>
                <key>offset</key>
                <string>{25,39}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{178,145},{206,144}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6002351.png</key>
            <dict>
                <key>frame</key>
                <string>{{156,904},{96,150}}</string>
                <key>offset</key>
                <string>{6,28}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{214,153},{96,150}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6002352.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,950},{88,150}}</string>
                <key>offset</key>
                <string>{3,26}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{215,155},{88,150}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6002353.png</key>
            <dict>
                <key>frame</key>
                <string>{{466,102},{110,202}}</string>
                <key>offset</key>
                <string>{-12,66}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{189,89},{110,202}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6002354.png</key>
            <dict>
                <key>frame</key>
                <string>{{206,272},{116,190}}</string>
                <key>offset</key>
                <string>{-15,60}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{183,101},{116,190}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6002355.png</key>
            <dict>
                <key>frame</key>
                <string>{{838,432},{136,170}}</string>
                <key>offset</key>
                <string>{-7,42}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{181,129},{136,170}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6002511.png</key>
            <dict>
                <key>frame</key>
                <string>{{324,704},{130,160}}</string>
                <key>offset</key>
                <string>{-19,43}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{172,133},{130,160}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6002512.png</key>
            <dict>
                <key>frame</key>
                <string>{{618,1044},{136,138}}</string>
                <key>offset</key>
                <string>{-15,33}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{173,154},{136,138}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6002521.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,278},{132,180}}</string>
                <key>offset</key>
                <string>{-32,30}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{158,136},{132,180}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6002522.png</key>
            <dict>
                <key>frame</key>
                <string>{{786,986},{144,144}}</string>
                <key>offset</key>
                <string>{-32,13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{152,171},{144,144}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6002531.png</key>
            <dict>
                <key>frame</key>
                <string>{{868,152},{142,156}}</string>
                <key>offset</key>
                <string>{-11,26}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{174,152},{142,156}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6002532.png</key>
            <dict>
                <key>frame</key>
                <string>{{406,212},{196,94}}</string>
                <key>offset</key>
                <string>{-38,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{120,215},{196,94}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6002541.png</key>
            <dict>
                <key>frame</key>
                <string>{{868,294},{156,138}}</string>
                <key>offset</key>
                <string>{17,17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{195,170},{156,138}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6002542.png</key>
            <dict>
                <key>frame</key>
                <string>{{466,0},{206,102}}</string>
                <key>offset</key>
                <string>{-9,-16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{144,221},{206,102}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6002551.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,1270},{130,116}}</string>
                <key>offset</key>
                <string>{19,18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{210,180},{130,116}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>6002552.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,1038},{136,122}}</string>
                <key>offset</key>
                <string>{15,-20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{203,215},{136,122}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>6002.pvr.ccz</string>
            <key>size</key>
            <string>{1024,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:ab4a7e1de118df27078b9a38be2f61f9:1/1$</string>
            <key>textureFileName</key>
            <string>6002.pvr.ccz</string>
        </dict>
    </dict>
</plist>
