<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bossGround1.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{688,514}}</string>
                <key>offset</key>
                <string>{16,103}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{32,0},{688,514}}</string>
                <key>sourceSize</key>
                <string>{720,720}</string>
            </dict>
            <key>bossGround2.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,514},{604,576}}</string>
                <key>offset</key>
                <string>{3,72}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{61,0},{604,576}}</string>
                <key>sourceSize</key>
                <string>{720,720}</string>
            </dict>
            <key>bossGround3.png</key>
            <dict>
                <key>frame</key>
                <string>{{688,0},{658,518}}</string>
                <key>offset</key>
                <string>{31,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{62,95},{658,518}}</string>
                <key>sourceSize</key>
                <string>{720,720}</string>
            </dict>
            <key>bossGround4.png</key>
            <dict>
                <key>frame</key>
                <string>{{1346,0},{604,510}}</string>
                <key>offset</key>
                <string>{3,49}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{61,56},{604,510}}</string>
                <key>sourceSize</key>
                <string>{720,720}</string>
            </dict>
            <key>bossGround5.png</key>
            <dict>
                <key>frame</key>
                <string>{{1346,510},{602,540}}</string>
                <key>offset</key>
                <string>{4,64}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{63,26},{602,540}}</string>
                <key>sourceSize</key>
                <string>{720,720}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>bossGround.pvr.ccz</string>
            <key>size</key>
            <string>{2048,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:903ad0e095d4acc8cadc1fb6a4755fc6:1/1$</string>
            <key>textureFileName</key>
            <string>bossGround.pvr.ccz</string>
        </dict>
    </dict>
</plist>
